.button {
    border-radius: 30px;
}

.block {
    &.block-navbar {
        .block-subnav {
            background: #0D2864;
        }

        .block-auth {
            .button {
                background: #0D2864;
                border: solid 1px white;
                border-radius: 30px;

                &:hover {
                    box-shadow: none;
                    background: #0D2864;
                }
            }

            .auth-in {
                margin-left: 0;

                .auth-user {
                    .auth-user-caret {
                        color: #ffffff;
                    }
                }
            }
        }

        .navbar-list {
            .navbar-item-wrapper {
                .navbar-item {
                    &:hover {
                        &:before {
                            top: auto;
                            bottom: 0;
                        }
                    }

                    &.active {
                        &:before {
                            top: auto;
                            bottom: 0;
                        }
                    }
                }
            }
        }
    }

    @media screen and (min-width: 1000px) { 
        &.block-navbar {
            .block-navbar-search {
                max-width: 760px;
                color: white;
    
                .search-form.form {
                    .form-control {
                        border-radius: 20px;
                        background: #0D2864;
                        color: #ffffff;
                    }
                }
            }
        }

        &.block-products {
            display: flex;
            justify-content: center;
        }
    }


    @media screen and (max-width: 1000px) {
        &.block-navbar {
            position: sticky;

            .navbar-logo {
                img {
                    display: none;

                    &.hover {
                        display: block;
                    }
                }
            }

            .button {
                color:#ffffff;

                svg {
                    path {
                        fill: #fff;
                    }
                }
            }
        }
    }
}

.section {
    &.section-header {
        background-position: center center;
        padding: 50px 0;
        margin: 0 auto;
        max-width: 100%;

        .header-content {
            text-align: center;

            .header-description p {
                text-align: center !important;
            }
        }
    }

    &.section-fund {
        .wrapper {
            padding-top: 20px;
            width: 1000px;
        }
    }

    &.section-faq {
        .faq {
            width: auto;
            margin: 0;
        }
    }

    &.section-footer {
        margin-top: 0;
        padding-top: 30px;
        color: #fff;
    }

    @media screen and (min-width: 1000px) { 
        &.section-header { 
            height: 500px;
            padding: 75px 0;
        
            .header-content {
                text-align: left;
                padding: 50px 50px;
                padding-left: 0px;
                text-align: left;
        
                .header-description p {
                    text-align: left !important;
                }
            }
        }

        &.section-products {
    
            .section-title {
                margin-top: 0;
            }
        }    
    }
}


block-footer .footer-nav .footer-nav-item a {
    font: 400 14px/24px $bf;
    color: #ffffff;
}

@media screen and (max-width: 1000px) {
    .block.block-footer .footer-nav .footer-nav-item a {
        color: #ffffff;
    }
}

@media screen and (max-width: 1700px) {
    .block.block-footer .footer-nav .footer-nav-item a {
        color: #ffffff;
    }
}
.block {
    &.block-copyrights{
        .links{
            a {
                color: #ffffff;
            }
        } 
    }
}