@import "./vars";
@import "../_common/dashboard";

.landing-root {
    background-color: #fff;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    @import '../_common/landing';

    .section {
        background-color: #fff;
    }
}