/*==========  Style Sheet - Vars  ==========*/

// base font
$bf: arial,
Helvetica,
sans-serif;

// base font
$bf-landing: arial,
Helvetica,
sans-serif;

// text color
$tc: #4e4d40;

// base color
$bc: #de286B;
$bc-hover: #de286B;

// placeholder text color
$ptc: #c4c4c4;

$border_color: #dbdcdb;

$border_radius: 0px;

$color_primary: #134478;
$color_primary_light: #2987fd;

$color_default: #134478;
$color_default_light: #2987fd;

$box_shadow: 1px 1px 6px 0 rgba(0,0,0,.1);

$borderColor: #dbdcdb;

// base error color
$bec: #e63b3b;

// wrapper size
$wrapperWidth: 1400px;
$wrapperPadding: 30px;