&.select-control-organizations {
    --control-height: 50px;
    --control-line-height: 24px;
    --control-option-height: 36px;
    --control-border-radius: 5px;

    border-radius: var(--control-border-radius) !important;

    .form-control:not([type='radio']):not([type='checkbox']) {
        border-radius: var(--control-border-radius);
    }

    .select-control-input {
        position: relative;
        border-radius: var(--control-border-radius);

        .select-control-logo {
            display: block;
            padding: calc(calc(var(--control-height) - var(--control-line-height)) / 2);
            padding-left: 10px;
            padding-right: 6px;
            width: 40px;
            @include cf();
            float: left;

            & > img,
            & > svg {
                display: block;
                width: 24px;
                height: 24px;
                border-radius: 100%;
                border: 1px solid #e1e6e9;
                object-fit: contain;
                object-position: left center;
                margin: 0 auto;
                float: left;
            }
        }

        .select-control-search {
            display: block;
            height: var(--control-height);
            width: 100%;
            align-items: center;
            background: #ffffff;
            box-shadow: 0 2px 8px rgba(#000, 0.1);
            border-radius: var(--control-border-radius);
            padding: 0 !important;
            position: relative;
            z-index: 101;
            border: 1px solid #d4d9dd;
            @include cf();

            .select-control-search-icon,
            .select-control-search-clear {
                padding: calc(calc(calc(var(--control-height) - 2px) - var(--control-line-height)) / 2) 0;
                display: block;
                @include cf();
                float: left;

                .mdi,
                img {
                    width: 24px;
                    height: 24px;
                    object-fit: contain;
                    display: block;
                    float: left;
                }
            }

            .select-control-search-icon {
                padding: calc(calc(calc(var(--control-height) - 2px) - var(--control-line-height)) / 2);
                padding-left: 10px;
                padding-right: 6px;
                width: 40px;

                .mdi {
                    border-radius: 24px;
                    background-color: #f1f4f7;
                    text-align: center;
                    color: #9ca6af;
                    font-size: 16px;
                }
            }

            .select-control-search-clear {
                float: left;
                width: 35px;
                padding-right: 10px;
                text-align: right;
                position: absolute;
                right: 0;
                top: 0;

                .mdi {
                    font-size: 20px;
                }

                &[disabled], &.disabled {
                    color: #ccc;
                    pointer-events: none;
                }
            }

            .select-control-search-input {
                display: block;
                float: left;
                width: calc(100% - 40px);

                input {
                    border: none;
                    font: 500 13px / var(--control-line-height) var(--base-font);
                    padding: calc(calc(calc(var(--control-height) - 2px) - var(--control-line-height)) / 2) 0;
                    padding-right: 35px;
                    color: #151b26;
                    width: 100%;
                    background-color: transparent;

                    &::placeholder,
                    &::-webkit-input-placeholder {
                        color: var(--placeholder-color);
                        font: 500 13px / var(--control-line-height) var(--base-font);
                    }

                    &::-webkit-search-decoration,
                    &::-webkit-search-cancel-button,
                    &::-webkit-search-results-button,
                    &::-webkit-search-results-decoration {
                        appearance: none;
                        -webkit-appearance: none;
                    }

                    &:focus,
                    &:focus-visible,
                    &:hover,
                    &:active {
                        border: none;
                        outline: none;
                    }
                }
            }

            .select-control-search-placeholder {
                display: block;
                color: #151b26;
                font: 500 13px / var(--control-line-height) var(--base-font);
                padding: calc(calc(calc(var(--control-height) - 2px) - var(--control-line-height)) / 2) 0;
                width: calc(100% - 75px);
                @include ellipsis();
            }

            .select-control-icon {
                flex-direction: row;
                align-items: center;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 6px 6px 0 6px;
                border-color: #646f79 transparent transparent transparent;
                padding-right: 0;
                top: 50%;
                right: 16px;
                transform: rotate(0deg) translate(0, -2px);
            }

            &:focus {
                border: 1px solid #d4d9dd;
            }

            & + .select-control-search {
                display: none;
                box-shadow: 0px 1px 0px 0px #d4d9dd;
            }
        }

        .select-control-options-group {
            z-index: 100;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background: #fff;
            border: 1px solid #d4d9dd;
            border-top: 0;
            box-shadow: 0px 12px 30px rgba(25, 39, 52, 0.18);
            border-radius: 3px;

            .select-control-options {
                @include webkit_scrollbar(#009ef4, 3px solid #fff);
                position: relative;
                border: 0;
                margin: 0;
                padding: 8px 0;
                max-height: calc(calc(var(--control-option-height) * 10) + 12px);
                overflow: auto;

                .select-control-option {
                    display: block;
                    align-items: center;
                    padding: 0 25px 0 0;
                    line-height: 16px;
                    color: #646f79;
                    height: var(--control-option-height);
                    border: 0;
                    overflow: initial;
                    position: relative;
                    @include cf();

                    .select-control-logo {
                        height: var(--control-option-height);
                        padding-top: calc(calc(var(--control-option-height) - 25px) / 2);
                        padding-bottom: calc(calc(var(--control-option-height) - 25px) / 2);
                    }

                    .select-control-option-value {
                        font-weight: 500;
                        font-size: 12px;
                        line-height: calc(var(--control-option-height) - 10px);
                        padding: 5px 0;
                        @include ellipsis();
                    }

                    &:hover {
                        color: #426993;
                        background: #f6f9fc;
                    }

                    &.selected {
                        color: #134478;
                        font-weight: 600;

                        .select-control-option-value {
                            &:after {
                                right: 5px;
                                top: 50%;
                                position: absolute;
                                transform: translate(0, -50%);
                                content: "\F012C";
                                font: normal normal normal 16px/1 "Material Design Icons";
                            }
                        }
                    }
                }
            }

            .select-control-options-actions {
                padding: 8px 0;
                box-shadow: inset 0 1px 0 #d4d9dd;

                .select-control-switcher-setting {
                    display: flex;
                    align-items: center;
                    height: 32px;
                    padding: 0 10px;
                    color: #646f79;

                    .select-control-switcher-setting-icon {
                        text-align: center;
                        width: 24px;
                        height: 32px;
                        line-height: 32px;
                        margin-right: 6px;

                        .mdi {
                            font-size: 18px;
                            text-align: center;
                        }
                    }

                    .select-control-switcher-setting-name {
                        font: 500 12px/32px var(--base-font);
                    }

                    &:hover {
                        color: #426993;
                        background: #f6f9fc;
                    }
                }

                &:last-child {
                    border-bottom: none;
                }
            }
        }

        &.options {
            box-shadow: 0 12px 30px rgba(25, 39, 52, 0.18);

            .select-control-search {
                border-bottom: 1px solid transparent;

                & + .select-control-search {
                    display: block;
                }
            }
        }
    }

    &:hover {
        .select-control-search-placeholder {
            color: #004195;
        }

        .select-control-icon {
            border-color: #426993 transparent transparent transparent;
        }
    }
}
