.modal.modal-pdf-preview
    .modal-backdrop(ng-click="$ctrl.close()")
    .modal-window
        a(ng-click="$ctrl.close()").mdi.mdi-close.modal-close
        .modal-header(translate="modal_pdf_preview.header.title")
        .modal-body: pdf-preview(raw-pdf-file="$ctrl.rawPdfFile")