.modal.modal-fund-offers.modal-animated(
    ng-if="$ctrl.modal.ready"
    ng-class="[$ctrl.modal.scope.modalClass, $ctrl.modalClass, $ctrl.modal.loaded ? '' : 'modal-loading']")
    .modal-backdrop(ng-click="$ctrl.close()")
    .modal-window
        a(ng-click="$ctrl.close()" role="button").mdi.mdi-close.modal-close
        .modal-header(translate="modals.modal_funds_offers.title")
        .modal-body.form
            .modal-section
                .card-section
                .card-block.card-block-table
                    .table-wrapper
                        table.table
                            tr
                                th(translate="modals.modal_funds_offers.labels.name")
                                th(translate="modals.modal_funds_offers.labels.stock")
                                th(translate="modals.modal_funds_offers.labels.price")
                                
                                th(translate="modals.modal_funds_offers.labels.subsidy_amount")
                                th(translate="modals.modal_funds_offers.labels.subsidy_user_amount")
                                th(translate="modals.modal_funds_offers.labels.subsidy_user_limit")
                                th(translate="modals.modal_funds_offers.labels.subsidy_limit_total")

                                th(translate="modals.modal_funds_offers.labels.status").text-right

                                tr(ng-repeat="offer in $ctrl.offers.data")
                                    td(ng-bind="offer.name") 
                                    td(ng-bind="offer.unlimited_stock ? 'Ongelimiteerd' : offer.stock_amount")
                                    td: .offer-price(ng-bind="offer.price | currency_format")
                                    td(ng-bind="offer.allowed ? (offer.subsidy_amount | currency_format) : '-'")
                                    td(ng-bind="offer.allowed ? (offer.subsidy_user_amount | currency_format) : '-'")
                                    td(ng-bind="offer.allowed ? offer.subsidy_user_limit : '-'")
                                    td(ng-bind="offer.allowed ? (offer.subsidy_limit_total_unlimited ? 'Onbeperkt' : offer.subsidy_limit_total) : '-'")

                                    td.text-right
                                        .tag(
                                            ng-class="offer.allowed ? 'tag-success' : 'tag-default'"
                                            translate="{{ 'modals.modal_funds_offers.labels.' + (offer.allowed ? 'available' : 'rejected') }}")

        .modal-footer 
            button.button.button-default.button-close(ng-click="$ctrl.close()" translate="modal_funds_add.buttons.close")

            .pagination-offers(ng-if="$ctrl.offers" ng-show="$ctrl.offers.meta.total > 10") 
                paginator(meta="$ctrl.offers.meta" filters="$ctrl.filters.values" on-page-change="$ctrl.onPageChange(query)")