.modal.modal-lg
    .modal-backdrop(ng-click="$ctrl.close()")
    //- Sign In by qr-code
    .modal-window
        .modal-body: .modal-hero
            .hero-icon: em.mdi(ng-class="'mdi-' + $ctrl.hero_icon")
            .hero-title(ng-bind="$ctrl.hero_title" ng-if="$ctrl.hero_title")
            .hero-subtitle(ng-repeat="hero_subtitle in $ctrl.hero_subtitle" ng-bind="hero_subtitle" ng-if="$ctrl.hero_subtitle")
        
        .modal-close.mdi.mdi-close
        
        .modal-body.modal-body-padless.form
            .block.block-switch-table
                label(for=("option_{{ $index }}_enabled") ng-repeat="item in $ctrl.items").switch-row
                    .switch-label
                        em.mdi.mdi-alert-outline.text-warning.switch-key-icon
                        | {{ item.value }}
                    
                    .switch-input: .flex-row
                        .flex-col.switch-input-label(
                            ng-class="{'switch-input-label-blink' : item.blink}"
                            ng-bind="item.label")
                        .flex-col: .form-group.form-group-inline: .form-toggle
                            input(type="checkbox" id=("option_{{ $index }}_enabled") ng-model="item.model" ng-change="$ctrl.blink(item)")
                            .form-toggle-inner: .toggle-input: .toggle-input-dot
            

                //- .switch-row: .switch-label: .table-pagination.flex-grow
                    .table-pagination-counter.table-pagination-counter-sm 8 results
                    .table-pagination-navigation
                        button(disabled).button.button-default.button-sm Prev
                        button.button.button-default.button-sm 1
                        button.button.button-default.button-sm 2
                        button.button.button-primary.button-sm 3
                        button(disabled).button.button-default.button-sm Next

        .modal-footer.text-center
            .button-group: button.button.button-default.button-sm(ng-click="$ctrl.cancel()" ng-bind="$ctrl.modal.scope.button_cancel || 'Cancel'")
            .button-group.flex-grow
            .button-group
                button.button.button-default.button-sm(ng-click="$ctrl.toggleAllOff()" ng-bind="$ctrl.modal.scope.button_none || 'Skip all'")
                button.button.button-default.button-sm(ng-click="$ctrl.toggleAllOn()" ng-bind="$ctrl.modal.scope.button_all || 'Yes to all'")
                button.button.button-primary.button-sm(ng-click="$ctrl.confirm()" ng-bind="$ctrl.modal.scope.button_confirm || 'Confirm'")
