.modal.modal-md.modal-animated(ng-class="[$ctrl.modal.scope.modalClass, $ctrl.modalClass, $ctrl.modal.loaded ? '' : 'modal-loading']")
    .modal-backdrop(ng-click="$ctrl.close()")
    .modal-window
        .modal-header.text-center
            | Bericht bij reservering
            .modal-close.mdi.mdi-close(ng-click="$ctrl.close()" role="button")

        .modal-body: .modal-section.text-center
            .modal-text
                strong Van:
                div(ng-bind="$ctrl.reservation.identity_email")

            .modal-text
                strong Gegevens:
                br
                
                strong Voornaam: 
                span(ng-bind="$ctrl.reservation.first_name || 'Geen'")
                | &nbsp;
                strong Achternaam: 
                span(ng-bind="$ctrl.reservation.last_name || 'Geen'")

            .modal-text
                strong Opmerking:
                div(ng-bind="$ctrl.reservation.user_note || 'Geen'")

        .modal-footer
            button.button.button-default(ng-click="$ctrl.close()") Sluit