.modal.modal-md.modal-animated(
    ng-if="$ctrl.modal.ready"
    ng-class="[$ctrl.modal.scope.modalClass, $ctrl.modalClass, $ctrl.modal.loaded ? '' : 'modal-loading']")
    .modal-backdrop(ng-click="$ctrl.close()")

    form(ng-submit="$ctrl.form.submit()").modal-window.form
        a(ng-click="$ctrl.close()" role="button").mdi.mdi-close.modal-close
        .modal-header Social media toevoegen

        .modal-body.modal-body-visible: .modal-section.form
            .form-group
                label.form-label.form-label-required Kies soort
                select-control(search="false" prop="key" ng-model="$ctrl.form.values.type" options="$ctrl.socialMediaTypes").form-control
                .form-error(ng-repeat="error in $ctrl.form.errors.type" ng-bind="error")

            .form-group
                label.form-label.form-label-required URL
                input(ng-model="$ctrl.form.values.url" placeholder="Link").form-control
                .form-error(ng-repeat="error in $ctrl.form.errors.url" ng-bind="error")

            .form-group
                label.form-label Titel
                input(ng-model="$ctrl.form.values.title" placeholder="Title").form-control
                .form-error(ng-repeat="error in $ctrl.form.errors.title" ng-bind="error")

        //- form submit
        .modal-footer.text-center
            button.button.button-default(type="button" ng-click="$ctrl.close()" id="close") Sluiten
            button.button.button-primary(type="submit") Bevestigen
