.modal
    .modal-backdrop(ng-click="$ctrl.cancel()")
    .modal-window(modal-window-middle).modal-notification(ng-class="$ctrl.class")
        .modal-body.form
            .modal-section
                .text-center
                    .modal-icon-rounded(ng-if="$ctrl.icon")
                        img(ng-src="{{ $ctrl.icon }}")
                    p.title(ng-bind="$ctrl.title")
                    p.description(ng-if="$ctrl.description" ng-bind="$ctrl.description")

        .modal-footer.text-center
            button.button.button-default(ng-if="$ctrl.showCloseBtn" ng-click="$ctrl.close()" translate="modal.buttons.close")
            button.button.button-default(ng-if="$ctrl.showCancelBtn" ng-click="$ctrl.cancel()" translate="modal.buttons.cancel")
            button.button.button-primary(ng-if="$ctrl.showConfirmBtn" ng-click="$ctrl.confirm()" translate="modal.buttons.confirm")