.modal.modal-auth
    .modal-backdrop(ng-click="$ctrl.close()")
    //- Sign In by qr-code
    .modal-content
        .modal-close.mdi.mdi-close(ng-click="$ctrl.close()")

        .modal-title {{ "popup_auth.labels.join" | translate }}
        .modal-subtitle {{ "popup_auth.labels.scancode" | translate }}

        .block.block-auth-qr-code
            .qr_code#auth_qrcode

        .modal-title {{ "popup_auth.labels.join" | translate }}
        .modal-subtitle {{ "popup_auth.labels.link" | translate }}

        form.form(ng-submit="$ctrl.signInEmailForm.submit()")
            .form-group
                .form-label.active {{ "popup_auth.input.mail" | translate }}
                input(ng-model="$ctrl.signInEmailForm.values.primary_email" type="email" placeholder="E-mail").form-control
                .form-error(ng-repeat="error in $ctrl.signInEmailForm.errors.primary_email" ng-bind="error")
            .form-group
            .form-group: button(type="submit").button.button-primary.button-wide {{ "popup_auth.buttons.submit" | translate }}

        .modal-footer
            //-.footer-text {{ "popup_auth.labels.timelimit" | translate }}
