.modal
    .modal-backdrop(ng-click="$ctrl.close()")
    .modal-window
        a(ng-click="$ctrl.close()").mdi.mdi-close.modal-close
        .modal-header(translate="modal_funds_add.header.title")
        .modal-body.form
            .modal-section
                .modal-funds-added
                    p(ng-if="!$ctrl.isReady" translate="Even geduld a.u.b.").text-center.text-muted
                    p(ng-if="$ctrl.isReady")
                        translate(translate="modal_funds_add.labels.payment") 
                        span.text-primary(ng-bind="$ctrl.topUpIban")
                        br
                        translate(translate="modal_funds_add.labels.addcode")
                        span.text-primary(ng-bind="$ctrl.topUpCode") 
                        translate(translate="modal_funds_add.labels.description")
        .modal-footer.text-center
            button.button.button-primary(ng-click="$ctrl.close()" translate="modal_funds_add.buttons.close")