.modal.modal-voucher-export-type.modal-voucher-export-narrow.modal-animated(
    ng-if="$ctrl.modal.ready"
    ng-class="[$ctrl.modal.scope.modalClass, $ctrl.modalClass, $ctrl.modal.loaded ? '' : 'modal-loading']")
    .modal-backdrop(ng-click="$ctrl.close()")
    //- Select type
    .modal-window: form.form
        .modal-close.mdi.mdi-close(ng-click="$ctrl.close()")
        .modal-header(i18n="modals.modal_voucher_export.title")

        .modal-body: .modal-section
            .voucher-export-type
                .voucher-export-type-row
                    .voucher-export-type-item(ng-click="$ctrl.form.values.exportType = 'xls'" ng-class="{active: $ctrl.form.values.exportType == 'xls'}")
                        .voucher-export-type-item-check: em.mdi.mdi-check-bold
                        .voucher-export-type-item-icon: em.mdi.mdi-file-delimited
                        | {{ 'modals.modal_voucher_export.modal_section.export_type_xls' | i18n }}
                        
                    .voucher-export-type-item(ng-click="$ctrl.form.values.exportType = 'csv'" ng-class="{active: $ctrl.form.values.exportType == 'csv'}")
                        .voucher-export-type-item-check: em.mdi.mdi-check-bold
                        .voucher-export-type-item-icon: em.mdi.mdi-file-delimited
                        | {{ 'modals.modal_voucher_export.modal_section.export_type_csv' | i18n }}
                

        .modal-footer.text-center
            button.button.button-dark(type="button" ng-click="$ctrl.close()" i18n="modals.modal_voucher_create.buttons.cancel")
            button.button.button-primary(type="button" ng-if="$ctrl.form.values.exportType" ng-click="$ctrl.form.submit()" i18n="modals.modal_voucher_export.buttons.submit")
