.modal.modal-auth2.modal-animated(ng-class="[$ctrl.modal.scope.modalClass, $ctrl.modalClass, $ctrl.modal.loaded ? '' : 'modal-loading']")
    .modal-backdrop(ng-click="$ctrl.close()")
    //- Sign In by qr-code
    .modal-window: .modal-content
        .modal-close(ng-click="$ctrl.close()" role="button")
            include ../../../resources/platform-general/assets/img/svg/close.svg

        h4.modal-title Login met e-mail
        .modal-subtitle(translate="popup_auth.labels.link")

        form.form(ng-submit="$ctrl.signInEmailForm.submit()")
            .form-group
                input(ng-model="$ctrl.signInEmailForm.values.email" type="email" placeholder="E-mail").form-control.email-auth
                .form-error(ng-repeat="error in $ctrl.signInEmailForm.errors.email" ng-bind="error")
            .form-group
            .form-group: button(type="submit").btn.main_button.modal-login-btn Login

        .modal-footer.hidden-xs
            //-.footer-text {{ "popup_auth.labels.timelimit" | translate }}

        h4.modal-title.hidden-xs Login met Me-app
        .modal-subtitle.subtitle-left.hidden-xs.
            Scan de QR-code aan de rechterzijde met de QR-scanner in de Me-app. 
            #[br] #[br]
            De Me-app wordt gebruikt om makkelijk en veilig in te loggen, betalingen te doen en tegoeden te beheren.
            #[br] #[br]
        .block.block-qr-code.hidden-xs
            qr-code(ng-if="$ctrl.qrValue" qr-value="$ctrl.qrValue" qr-type="auth_token" qr-logo="https://media.forus.io/assets/me-logo.png").hidden-xs

        app-links.hidden-xs
