.modal.modal-md.modal-animated(
    ng-if="$ctrl.modal.ready"
    ng-class="[$ctrl.modal.scope.modalClass, $ctrl.modalClass, $ctrl.modal.loaded ? '' : 'modal-loading']")
    .modal-backdrop(ng-click="$ctrl.closeModal()")
    form(ng-submit="$ctrl.form.submit()").modal-window.form
        a(ng-click="$ctrl.closeModal()" role="button").mdi.mdi-close.modal-close
        .modal-header(ng-if="!$ctrl.verificationRequested") Relatie toevoegen
        .modal-header(ng-if="$ctrl.verificationRequested") Gegevens controleren
        .modal-body
            .modal-section(ng-if="!$ctrl.verificationRequested").form: .row: .col.col-lg-8.col-lg-offset-2.col-lg-12
                .form-group
                    label.form-label.form-label-required Partner
                    input.form-control(type="number" ng-model="$ctrl.form.values.value" placeholder="Partner BSN")
                    .form-error(ng-repeat="error in $ctrl.form.errors.value" ng-bind="error")
            
            .modal-section(ng-if="!$ctrl.verificationRequested")
                .modal-info
                    em.mdi.mdi-information
                    | U voegt eigenschappen toe in naam van 
                    strong {{ $ctrl.organization.name }}

            .modal-section(ng-if="$ctrl.verificationRequested")
                .modal-text.text-center Controleer of u de juiste gegevens hebt ingevuld voordat u deze bevestigd.
                .row: .col.col-lg-8.col-lg-offset-2
                    .block.block-compact-datalist.compact-datalist-outline: .datalist-row
                        .datalist-key: strong Partner
                        .datalist-value.text-right(ng-bind="$ctrl.form.values.value")

        //- form submit
        .modal-footer.text-center(ng-if="!$ctrl.verificationRequested")
            button.button.button-default(type="button" ng-click="$ctrl.closeModal()" id="close") Sluiten
            button.button.button-primary(type="submit" ng-if="!$ctrl.prevalidation") Bevestigen
        
        //- confirmation
        .modal-footer.text-center(ng-if="$ctrl.verificationRequested")
            button.button.button-default(type="button" ng-click="$ctrl.backToForm()") Sluiten
            button.button.button-primary(type="submit" ng-if="!$ctrl.prevalidation") Bevestigen