.modal.modal-md.modal-animated(
    ng-if="$ctrl.modal.ready"
    ng-class="[$ctrl.modal.scope.modalClass, $ctrl.modalClass, $ctrl.modal.loaded ? '' : 'modal-loading']")
    .modal-backdrop(ng-click="$ctrl.closeModal()")
    
    form(ng-submit="$ctrl.form.submit()").modal-window.form
        a(ng-click="$ctrl.closeModal()" role="button").mdi.mdi-close.modal-close

        .modal-header Edit record
        .modal-body
            .modal-section.form: .row: .col.col-lg-8.col-lg-offset-2.col-lg-12
                .form-group
                    label.form-label.form-label-required(ng-bind="$ctrl.fundRequestRecord.record_type.name")
                    input.form-control(ng-model="$ctrl.form.values.value")
                    .form-error(ng-repeat="error in $ctrl.form.errors.value" ng-bind="error")

        //- form submit
        .modal-footer.text-center
            button.button.button-default(type="button" ng-click="$ctrl.closeModal()" id="close") Sluiten
            button.button.button-primary(type="submit") Bevestigen