.modal.modal-md.modal-animated.modal-loading(ng-class="[$ctrl.modal.scope.modalClass, $ctrl.modalClass, $ctrl.modal.loaded ? '' : 'modal-loading']")
    .modal-backdrop(ng-click="$ctrl.close()")

    .modal-window: form.form(ng-submit="$ctrl.form.submit()")
        .modal-close.mdi.mdi-close(ng-click="$ctrl.close()" role="button")
        .modal-header(i18n="modals.modal_transfer_organization_ownership.title")
        
        .modal-body.modal-body-visible
            .modal-section: .row: .col.col-lg-8.col-lg-offset-2.col-lg-12
                .form-group
                    label.form-label.form-label-required(i18n="modals.modal_transfer_organization_ownership.labels.transfer_to")
                    select-control(
                        prop="id"
                        as="email"
                        ng-model="$ctrl.form.values.employee_id"
                        options="$ctrl.adminEmployees").form-control    
                    .form-error(ng-repeat="error in $ctrl.form.errors.employee" ng-bind="error")

            .modal-section: .row: .col.col-lg-8.col-lg-offset-2.col-lg-12
                .form-group
                    label.form-label
                    .form-offset
                        .block.block-info
                            em.mdi.mdi-information.block-info-icon
                            translate(translate="modals.modal_transfer_organization_ownership.info")
                    

        .modal-footer.text-center
            button.button.button-dark(type="button" ng-click="$ctrl.close()" i18n="modals.modal_transfer_organization_ownership.buttons.cancel")
            button.button.button-primary(type="submit" i18n="modals.modal_transfer_organization_ownership.buttons.submit")