.modal
    .modal-backdrop(ng-click="$ctrl.cancel()")
    .modal-window.modal-notification(ng-class="$ctrl.class")
        .modal-close(ng-click="$ctrl.close()")
            include ../../../resources/platform-general/assets/img/svg/close.svg
        .modal-body.form
            .modal-section
                .text-center
                    .modal-icon-rounded(ng-if="$ctrl.icon")
                        img(ng-src="{{ $ctrl.icon }}")
                    p.title(ng-bind="$ctrl.title")
                    p.description(ng-if="$ctrl.description" ng-bind="$ctrl.description")

        .modal-footer.text-center
            button.button.button-default(ng-if="$ctrl.showCloseBtn" ng-click="$ctrl.close()" ng-bind="$ctrl.closeBtnText")
            button.button.button-default(ng-if="$ctrl.showCancelBtn" ng-click="$ctrl.cancel()" ng-bind="$ctrl.cancelBtnText")
            button.button.button-primary(ng-if="$ctrl.showConfirmBtn" ng-click="$ctrl.confirm()" ng-bind="$ctrl.confirmBtnText")