.modal.modal-animated.modal-animated(ng-class="[$ctrl.modal.scope.modalClass, $ctrl.modalClass, $ctrl.modal.loaded ? '' : 'modal-loading']")
    .modal-backdrop(ng-click="$ctrl.close()")
    .modal-window: form.form(ng-submit="$ctrl.form.submit()")
        .modal-close.mdi.mdi-close(ng-click="$ctrl.close()")
        .modal-header(ng-if="$ctrl.linkType == 'imageLink'") Afbeelding link toevoegen
        .modal-header(ng-if="$ctrl.linkType == 'customLink'") Link toevoegen
        .modal-header(ng-if="$ctrl.linkType == 'youtubeLink'") Youtube link
        .modal-body
            .modal-section
                .form-group(ng-if="$ctrl.linkType === 'customLink'")
                    label.form-label Beschrijving
                    input(type="text" ng-model="$ctrl.form.values.text").form-control

                .form-group(ng-if="$ctrl.linkType === 'customLink' || $ctrl.linkType === 'youtubeLink'")
                    label.form-label URL
                    input(type="text" ng-model="$ctrl.form.values.url").form-control

                .form-group(ng-if="$ctrl.linkType == 'imageLink'"): .flex-row
                    .flex-col.flex-grow
                        label.form-label URL Afbeelding
                        input(type="text" ng-model="$ctrl.form.values.url").form-control
                        .form-error(ng-repeat="error in $ctrl.errors.file" ng-bind="error")

                    .flex-col
                        label.form-label &nbsp;
                        button(type="button" ng-click="$ctrl.selectMedia()").button.button-primary.nowrap
                            em.mdi.mdi-upload.icon-start
                            | Upload afbeelding

        .modal-footer.text-center
            button.button.button-primary(type="submit") Bevestig
            button.button.button-dark(type="button" ng-click="$ctrl.close()") Sluit