@import "../general/vars.scss";

/*==========  Style Sheet - Vars  ==========*/
$fonts: "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,700";
$primaryColor: #041c37;
$primaryColorLight: #004d93;

:root {
    // navbar
    --bg-nav: #f5f5f5;
    --tc-nav-hov: #004d93;
    --tc-nav: #282b39;
    --logo-padding: 30px 0px;
    --logo-height: 50px;

    // navbar (auth)
    --tc-auth-menu: #004d93;
    --tc-auth-btn: #004d93;
    --btn-auth-bg: #fff;
    --btn-auth-border: #004d93;

    // navbar (start modal primary)
    --tc-start-btn: #fff;
    --btn-start-bg: #004d93;
    --btn-start-btn: #004d93;
    --btn-start-border: transparent;

    // header attributes
    --bg-values: url("../img/splash-top-b.jpg") no-repeat 100% 0;

    // base font
    --base-font: "Source Sans Pro", Arial, Verdana, "Sans Serif";

    // text color
    --tc: rgb(39, 37, 37);
    --tc-var: #fff;
    --tc-link: inherit;

    // base color
    --bc: #4990b5;

    // background color
    --bg: #ececec;

    --bg_2: none;

    // text formatting
    --text_format: inherit;

    // footer color
    --footer_color: #4e4d40;

    // Displayed or not
    --footer_display: block;

    // product image
    --product-image-padding: 10px 0 0 10px;

    // placeholder text color
    --form-control-placeholder-color: #515152;

    --border-color: #ebedf0;

    --border-radius: 0px;
    --box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

    --color-primary: #{$primaryColor};
    --color-primary-light: #{$primaryColorLight};

    --color-default: #004d93;
    --color-default-light: 1px solid #041c37;

    --color-search-icon-medium: #{$primaryColor};
    --color-search-icon-dark: #{darken($primaryColor, 10%)};
    --color-search-icon-light: #{lighten($primaryColor, 25%)};

    // Label sets
    --label-set-hover-background: #{rgba($primaryColor, .8)};

    //- Showcase
    --showcase-aside-border: 1px solid #d2d2c7;
    --showcase-fullscreen-bottom-offset: 135px;

    // Login button
    --login-button-background: #fff;
}
