@import '../general/vars.scss';

/*==========  Style Sheet - Vars  ==========*/

// navbar
$bg-nav:            #F5F5F5;
$tc-nav-hov:        #004D93;
$tc-nav:            #282B39;
$logo-padding:      30px 0px;
$logo-height:       50px;

// navbar (auth)
$tc-auth-menu:      #004D93; 
$tc-auth-btn:       #004D93; 
$btn-auth-bg:       #fff; 
$btn-auth-border:   #ececec;

// navbar (start modal primary)
$tc-start-btn:       #fff; 
$btn-start-bg:       #004D93; 
$btn-start-btn:      #004D93;
$btn-start-border:   transparent;


// header attributes
$bg-values:          url("../img/splash-top-b.jpg") no-repeat 100% 0;

// base font
$bf:                'Source Sans Pro', Arial, Verdana, 'Sans Serif';

// text color
$tc:                rgb(39, 37, 37);
$tc-var:            #fff;
$tc-link:           inherit;

// base color
$bc:                #4990b5;

// background color
$bg:                #ececec;

$bg_2:              none;

// text formatting
$tf:                inherit;

// footer color
$fc:                #4e4d40;

// Displayed or not
$fd:                block;

// product image
$pi:                10px 0 0 10px;

// placeholder text color
$ptc:               #515152;

$border_color:      #EBEDF0;

$border_radius:     0px;
$base_shadow:       0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

$color_primary:         #041c37;
$color_primary_light:   1px solid #004d93;

$color_default:         #004d93;
$color_default_light:   1px solid #041c37;

// Login button

$lb:                #fff;