a.fund-item
    .fund-photo: img(
        ng-src="{{ $dir.media.sizes.thumbnail || $dir.media.sizes.small || './assets/img/placeholders/fund-thumbnail.png' }}"
        alt="")

    .fund-content
        .fund-details
            .fund-name(ng-bind="$dir.fund.name")
            .fund-organization(ng-bind="$dir.fund.organization.name")
            .fund-status-label
                .label.label-secondary(ng-if="$dir.fund.canApply && !$dir.fund.canActivate")
                    em.mdi.mdi-plus-circle-outline
                    span(translate="funds.status.is_applicable")
                .label.label-success(ng-if="$dir.fund.canActivate")
                    .mdi.mdi-playlist-check
                    span(translate="funds.status.activateable")
                .label.label-primary(ng-if="$dir.fund.alreadyReceived")
                    .mdi.mdi-qrcode
                    span(translate="funds.status.active")
                .label.label-warning(ng-if="$dir.fund.isPending")
                    .mdi.mdi-clock-outline
                    span(translate="funds.status.is_pending")
                .label.label-secondary(ng-if="!$dir.fund.canActivate && !$dir.fund.canApply && !$dir.fund.isPending && !$dir.fund.isApplicable")
                    em.mdi.mdi-plus-circle-outline
                    span(translate="funds.status.is_applicable")