a.fund-item
    .fund-photo: img(
        ng-src="{{ $dir.media.sizes.thumbnail || $dir.media.sizes.small || './assets/img/placeholders/fund-thumbnail.png' }}"
        alt="")

    .fund-content
        .fund-details
            .fund-name(ng-bind="$dir.fund.name")
            .fund-organization(ng-bind="$dir.fund.organization.name")
            .fund-status-label
                .label.label-default(ng-if="$dir.fund.canApply && !$dir.fund.canActivate" translate="funds.status.is_applicable")
                .label.label-success(ng-if="$dir.fund.canActivate" translate="funds.status.activateable")
                .label.label-primary(ng-if="$dir.fund.alreadyReceived" translate="funds.status.active")
                .label.label-warning(ng-if="$dir.fund.isPending" translate="funds.status.is_pending")
                .label.label-danger(ng-if="!$dir.fund.isApplicable" translate="funds.status.denied")