.block {
    &.block-breadcrumbs {
        margin: 1vw 4vw 2vw 0;
        .breadcrumb-item {
            color: $color_default;

            &:hover {
                color: $color_default;
            }

            &.active {
                color: #4e4d40;
            }
        }

        +.section-title {
            margin-top: -20px;
        }
    }
    @media screen and (max-width: 1000px) {
        &.block-breadcrumbs {
            .breadcrumb-item {
                &.active {
                    color: $tc-var;
                }
            }
        }
    }
}