.block {
    &.block-breadcrumbs {
        .breadcrumb-item {
            color: var(--color-default);

            &:hover {
                color: var(--color-default);
            }

            &.active {
                color: #4e4d40;
            }
        }

        +.section-title {
            margin-top: -20px;
        }
    }
    @media screen and (max-width: 1000px) {
        &.block-breadcrumbs {
            .breadcrumb-item {
                &.active {
                    color: var(--tc-var);
                }
            }
        }
    }
}