.button {
    &:hover {
        box-shadow: none;
    }
    font: 700 16px/1.5em $bf;
    border-radius: 0;
    text-transform: uppercase;

    &.button-default {
        background-color: none;
        border: none;
        color: $bc;

        .mdi {
            color: $bc;
        }

        &:hover {
            .mdi {
                color: $color_default;
            }

            background-color: transparent;
            border-color: transparent;
            border: 0;
            color: $color_default;
            text-decoration: underline;
        }
    }
    &.button-primary {
        background: $bg;
        text-shadow: none;
        border: 1px solid $bc;
        &:hover {
            color: $bc;
            text-decoration: underline;
            background: #fff;
            background-color: #fff;
            border: 0;
        }
    }
}