.modal.modal-file-preview.modal-animated(ng-class="[$ctrl.modal.scope.modalClass, $ctrl.modalClass, $ctrl.modal.loaded ? '' : 'modal-loading']")
    .modal-backdrop(ng-click="$ctrl.close()")
    .modal-window
        .modal-close(ng-click="$ctrl.close()" aria-label="Sluiten" role="button"): .mdi.mdi-close
        .modal-header: .modal-title(translate="pdf_preview.header.title")
        .modal-content: pdf-preview(raw-pdf-file="$ctrl.rawPdfFile")