extends layout/layout
block content
    .error_404
        .error_404-icon: img(src="./assets/img/icon-search.svg", alt="")
        .error_404-title Nothing found
        .error_404-subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit