.block.block-app_links(ng-class="type ? 'block-app_links-' + type : ''")
    //-a(href="{{ $root.appConfigs.me_app_link }}" target="_blank" id="{{ dlId }}" ng-if="showDlButton").download-link
        img(src="./assets/img/icon-app/icon-app-me.svg" alt="Me app")
    
    a(href="{{ $root.appConfigs.android_link }}" target="_blank" id="{{ androidId }}" ng-if="showAndroidButton").download-link
        img(src="./assets/img/icon-app/app-store-android.svg" alt="Ontdek het op Google Play")
    
    a(href="{{ $root.appConfigs.ios_iphone_link }}" target="_blank" id="{{ iosId }}" ng-if="showIosButton").download-link
        img(src="./assets/img/icon-app/app-store-ios.svg" alt="Download in de App Store")