.section {
    &.section-footer {
        background-color: $fbc;
        margin-top: 50px;

        @media screen and (min-width: 1024px) { 
            margin-top: 100px;
        }
    }
}
.block {
    &.block-footer {
        .footer-nav {
            .footer-nav-item {
                color: $tc-var;
                a {
                    color: $tc-var;
    
                    &:hover {
                        color: $tc-var;
                    }
                }
                svg {
                    path {
                        fill: $tc-var;
                    }
                }
            }
        }

        .footer-label {
            .wrapper {
                padding: 0;
            }
        }
        .block {
            &.block-markdown {
                img {
                    max-width: inherit !important;
                    height: inherit !important;
                }

                h3, p{
                    color: #ffffff;
                }
            }
        }
    }

    &.block-copyrights {
        background-color: $tc-nav;
        .links {
            a {
                &:hover {
                    text-decoration: none;
                }
            }
        }

        .developed {
            a {
                color: $tc-var;

                &:hover {
                    color: $tc-var;
                }
            }
        }
    }
}
