.section {
    &.section-footer {
        background-color: $fc;
    }
}
.block {
    &.block-footer {
        .footer-nav {
            a {
                color: $bc;

                &:hover {
                    color: $bc;
                }
            }
        }

        .footer-label {
            .wrapper {
                padding: 0;
            }
        }
    }
    &.block-copyrights {
        .links {
            a {
                color: $bc;

                &:hover {
                    color: $bc;
                }
            }
        }

        .developed {
            a {
                color: $bc;

                &:hover {
                    color: $bc;
                }
            }
        }
    }
}
