.section {
    &.section-header {
        @media screen and (min-width: 1024px) {
            background-size: cover;
            background-position: center center;
            .header-content {
                min-height:575px;
                color: #FFF;
                text-align: center;
                margin-top: 50px;
                max-width: 600px;
                float:right;
                .header-title {
                    text-align: center;
                    font: 700 40px/1.5em #FFF;
                    text-transform:capitalize;
                }
                .header-description {
                    text-align: center;
                    p {
                        font: 400 18px/1.5em #FFF;
                    }
                }
                .header-how-it-works {
                    margin-top: 25px;
                    color: #FFF;
                    font-style: normal;
                }
            }
        }
    }

    &.section-sign-up-choose {
        margin: 77px 0;

        .section-title {
            margin: 0 0 17px;
            font: 600 48px/55px $bf;
            text-align: center;
        }

        .section-subtitle {
            font: 500 20px/32px $bf;
            text-align: center;
            color: #000000;
            margin-bottom: 77px;
        }
    }
}