.block {
    &.block-navbar {
        .button {
            &.button-default {
                color: #666666;
                border: transparent;

                svg {
                    path {
                        fill: #666666;
                    }
                }
            }
        }
    }
}