.block.block-announcements
    .announcement(
        ng-repeat="announcement in $dir.announcements"
        ng-class="'announcement-' + announcement.type + (announcement.dismissed ? ' dismissed' : '')")

        .announcement-wrapper
            .title(ng-bind="announcement.title")
            .description: .block.block-markdown(ng-bind-html="announcement.description_html")
            .announcement-close.mdi.mdi-close(ng-click="$dir.dismiss(announcement)")