.card
    .card-section
        .text-center
            p(ng-bind="text").text-strong-half
            a(ng-if="button" href="{{ button.href }}").button.button-primary
                em.mdi.mdi-plus-circle 
                | {{ button.text }}