label.form-label.form-label-toggle(ng-click="isActive = !isActive" ng-class="isActive?'active':''")
    span(ng-bind="label")
    em.mdi.mdi-menu-right.form-label-icon
    em.mdi.mdi-menu-down.form-label-icon-active