.flex: .card-block.card-block-keyvalue
    .keyvalue-item
        .keyvalue-key(translate="validation_requests.labels.bsn")
        .keyvalue-value(ng-bind="person.bsn")
    .keyvalue-item
        .keyvalue-key(translate="validation_requests.labels.first_name")
        .keyvalue-value(ng-bind="person.first_name")
    .keyvalue-item
        .keyvalue-key(translate="validation_requests.labels.last_name")
        .keyvalue-value(ng-bind="person.last_name")
    .keyvalue-item
        .keyvalue-key(translate="validation_requests.labels.gender")
        .keyvalue-value(ng-bind="person.gender")
    .keyvalue-item
        .keyvalue-key(translate="validation_requests.labels.nationality")
        .keyvalue-value(ng-bind="person.nationality")
    .keyvalue-item
        .keyvalue-key(translate="validation_requests.labels.age")
        .keyvalue-value(ng-bind="person.age")
    .keyvalue-item
        .keyvalue-key(translate="validation_requests.labels.birth_date")
        .keyvalue-value(ng-bind="person.birth_date")
    .keyvalue-item
        .keyvalue-key(translate="validation_requests.labels.birth_place")
        .keyvalue-value(ng-bind="person.birth_place.place + ', ' + person.birth_place.country")
    .keyvalue-item
        .keyvalue-key(translate="validation_requests.labels.address")
        .keyvalue-value
            | {{ person.residence.street }} {{ person.residence.house_number }}
            br
            | {{ person.residence.postcode }}
