.card-section.card-section-fund
    .card-section-actions
        button(ng-click="providerApplyFund(fund)" ng-show="!fund.applied").button.button-primary
            translate(translate="fund_card_available_provider.buttons.join")

        div(ng-show="fund.applied"): .tag.tag-warning(translate="fund_card_provider_finances.status.hold")

    .card-block.card-block-fund
        .fund-img: img(ng-src="{{ fund.logo.sizes.thumbnail || './assets/img/placeholders/organization-thumbnail.png' }}", alt="")
        .fund-title(ng-bind="fund.name")
        br
        div(ng-bind="fund.organization.name").fund-organization

