.card(ng-class="{'card-outline' : fund.state == 'closed'}")
    .card-section
        .card-section-actions
            div(ng-show="providerFund.state == 'pending'")
                .tag.tag-warning {{ "fund_card_provider.status.hold" | translate }}

            div(ng-show="providerFund.state == 'approved'")
                .tag.tag-success {{ "fund_card_provider.status.accepted" | translate }}

            div(ng-show="providerFund.state == 'declined'")
                .tag.tag-danger {{ "fund_card_provider.status.reject" | translate }}

            div(ng-show="providerFund.state == 'abandoned'")
                .tag.tag-default {{ "fund_card_provider.status.stopped" | translate }}

        .card-block.card-block-fund
            .fund-img: img(ng-src="{{ fund.logo.sizes.thumbnail || fund.organization.logo.sizes.thumbnail || './assets/img/placeholders/organization-thumbnail.png' }}", alt="")
            a(ui-sref="funds-show({organization_id: fund.organization_id, fund_id: fund.id})" ng-bind="fund.name").fund-title
            br
            div(ng-bind="fund.organization.name").fund-organization
        .card-block.card-block-listing
            .card-block-listing-label {{ "fund_card_provider.labels.categories" | translate }}
            | {{ fundCategories.join(', ') }}
            small(ng-show="fundCategories.length == 0").text-muted.small {{ "fund_card_provider.labels.nocategories" | translate }}