.card
    .card-header: .card-title.pull-left(
        translate="validation_request_details.labels.history"
        translate-values="{count: $dir.fundRequestRecord.history.length}")
    
    .card-section: .card-block.card-block-table: .table-wrapper
        table.table.table-fixed
            tr
                th(translate='validation_request_details.labels.new_value')
                th(translate='validation_request_details.labels.old_value')
                th(translate='validation_request_details.labels.employee')
                th.text-right(translate='validation_request_details.labels.date_changed')

            tr(ng-repeat="log in $dir.fundRequestRecord.history").light
                td.text-strong(ng-bind="log.new_value")
                td.text-muted(ng-bind="log.old_value")
                td.text-strong(ng-bind="log.employee_email")
                td.text-right: strong(ng-bind="log.created_at_locale").text-primary

    .card-section(ng-if="$dir.fundRequestRecord.history.length == 0")
        .card-subtitle.text-center Geen historie.