.block.block-markdownable(ng-class="($dir.allowAlignment ? 'block-markdownable-' + ($dir.blockAlignment || 'left') : '')")
    textarea.markdown-editor.block.block-markdown(editor name="test" id="{{ $dir.editorId }}")