.block
    .markdownable
        .markdown-toolbar.toolbar-commenting
            .toolbar-group
                button.toolbar-item.tooltipped(type="button" tabindex="-1" data-start="**" data-end="**" data-mark-type="text" data-placement="top" title="Maak dikgedrukt")
                    em.mdi.mdi-format-bold

                button.toolbar-item.tooltipped(type="button" tabindex="-1" data-start="_" data-end="_" data-mark-type="header" data-placement="top" title="Maak schuingedrukt")
                    em.mdi.mdi-format-italic

            .toolbar-group
                button.toolbar-item.tooltipped(type="button" tabindex="-1" data-start="- " data-end="" data-mark-type="list" data-placement="top" title="Voeg lijst toe")
                    em.mdi.mdi-format-list-bulleted

                button.toolbar-item.tooltipped(type="button" tabindex="-1" data-start="1. " data-end="" data-mark-type="list" data-placement="top" title="Voeg nummerlijst toe")
                    em.mdi.mdi-format-list-numbered

        .form-group
            textarea.form-control.markdown-textarea(ng-model="ngModel")

        .markdow-hint **dikgedrukt** _schuingedrukt_
