.modal
    .modal-backdrop(ng-click="closeModal()")
    .modal-window
        .modal-header  
            | {{ "modal_funds_add.header.title" | translate }}
            a(ng-click="closeModal()").mdi.mdi-close.close
        .modal-body.form
            .modal-section
                .modal-funds-added
                    p
                        | {{ "modal_funds_add.labels.payment" | translate }}
                        span.text-primary NL83 BUNQ 3456 3344 32
                        br
                        | {{ "modal_funds_add.labels.addcode" | translate }}
                        span.text-primary(ng-bind="modalCode") 
                        | {{ "modal_funds_add.labels.description" | translate }}
        .modal-footer.text-center
            button.button.button-primary(ng-click="closeModal()") {{ "modal_funds_add.buttons.close" | translate }}