.modal
    .modal-backdrop(ng-click="closeModal()")
    .modal-window
        .modal-header  
            | Budget toevoegen aan fonds
            a(ng-click="closeModal()").mdi.mdi-close.close
        .modal-body.form
            .modal-section
                .modal-funds-added
                    p
                        | Maak het bedrag over naar: 
                        span.text-primary NL83 BUNQ 3456 3344 32
                        br
                        | voeg code
                        span.text-primary(ng-bind="modalCode") 
                        | toe aan beschrijving.
        .modal-footer.text-center
            button.button.button-primary(ng-click="closeModal()") Sluiten