.block.block-pincode.block-phone-number
    .pincode-number(ng-repeat="code in ngModel track by $index" ng-bind="code")
    .pincode-number(ng-repeat="code in filler track by $index" ng-class="{'active': $index === 0}") _