.block.block-photo-selector
    .photo-img: img(ng-src="{{ thumbnail || './assets/img/organization-no-logo.svg' }}", alt="")
    .photo-label Afbeelding
    a(href="#" ng-click="selectFile($event)").button.button-primary
        em.mdi.mdi-attachment
        | Verander afbeelding