.block.block-photo-selector
    .photo-img: img(ng-click="selectFile($event)" ng-src="{{ thumbnail || './assets/img/placeholders/image-thumbnail.png' }}", alt="")
    .photo-label(translate="photo_selector.labels.image")