.block.block-photo-selector
    .photo-img: img(ng-src="{{ thumbnail || './assets/img/placeholders/image-thumbnail.png' }}", alt="")
    .photo-label {{ "photo_selector.labels.image" | translate }}
    a(href="#" ng-click="selectFile($event)").button.button-primary
        em.mdi.mdi-attachment
        | {{ "photo_selector.buttons.change" | translate }}