.product-categories-control
    .form-group.form-group-inline
        .form-label IK BIED AAN
        .form-offset
            .flex-row
                div(ng-repeat="(type_key, type) in types").flex-item.flex-item-grow
                    label(for="radio_product_type_{{ type_key }}" ng-click="filterOptions(type_key)").radio
                        input(
                            name="selectedType"
                            type="radio"
                            ng-checked="selectedType == type_key"
                            id="radio_product_type_{{ type_key }}")
                        .radio-label 
                            .radio-circle
                            span(translate="{{type}}")

            .control-frame(ng-if="filteredOptions.length == 0") Empty 

            .control-frame(ng-if="filteredOptions.length > 0")
                .form-group: ui-select(ng-model="select.single")
                    ui-select-match {{ $select.selected.name }}
                    ui-select-choices(repeat="item in (filteredOptions | filter: $select.search) track by item.id")
                        span(ng-bind="item.name")
                
                .form-group: pre(ng-bind="select.single | pretty_json")

                .form-group: ui-select(multiple ng-model="select.multiple" close-on-select="false")
                    ui-select-match {{ $item.name }}
                    ui-select-choices(repeat="item in (filteredOptions | filter: $select.search) track by item.id")
                        span(ng-bind="item.name")
                
                .form-group: pre(ng-bind="select.multiple | pretty_json")

                .flex-row
                    .flex-item.flex-item-2(ng-repeat="option in filteredOptions")
                        label(ng-click="toggleOption(option.id)" for="product_{{ option.id }}").checkbox.checkbox-narrow
                            input(type="checkbox" ng-checked="isChecked(option.id)")
                            .checkbox-label 
                                .checkbox-box: .mdi.mdi-check
                                | {{ option.name | highlight: $select.search }}