.product-item
    .product-media: img.product-media-img(ng-src="{{ product.photo.sizes.thumbnail || './assets/img/placeholders/product-thumbnail.png' }}")
    .product-details
        .product-title: span(ng-bind="product.name").ellipsis
        .product-subtitle 
            | Resterend aanbod: 
            span(ng-if="!product.unlimited_stock" ng-bind="product.stock_amount")
            span(ng-if="product.unlimited_stock" translate="product_edit.labels.unlimited")
    .product-actions
        .product-action: .product-price(ng-bind="product.price_locale")
        .product-action: .label.label-round.label-lg.label-success(ng-if="!product.expired" translate="product_card.status.active")
        .product-action: .button-group
            .button.button-defaul(ui-sref="products-show(product)")
                em.mdi.mdi-eye-outline.icon-start
                | {{ "product_card.buttons.view" | translate }}
            
            .button.button-primary-light.button-icon(
                ui-sref="products-show(product)"
                ng-disabled="!(product.unseen_messages > 0)")
                em.mdi.mdi-message-text