.product-item
    .product-media: img.product-media-img(ng-src="{{ product.photo.sizes.thumbnail || './assets/img/placeholders/product-thumbnail.png' }}")
    .product-details
        .product-title
            | {{ product.name }}
            .label.label-round.label-lg.label-success(ng-if="!product.expired" translate="product_card.status.active")
        .product-subtitle Resterend aanbod: {{ product.description_amount }}
    .product-actions
        .product-action
            .product-price {{ product.price | currency_format }}
        .product-action: .button-group
            .button.button-defaul(ui-sref="products-show(product)")
                em.mdi.mdi-eye-outline.icon-start
                | {{ "product_card.buttons.view" | translate }}
            
            .button.button-primary-light.button-icon(
                ui-sref="products-show(product)"
                ng-disabled="!(product.unseen_messages > 0)")
                em.mdi.mdi-message-text