.product-item(ng-class="{'product-item-sponsor' : product.sponsor_organization}")
    .product-media: img.product-media-img(ng-src="{{ product.photo.sizes.thumbnail || './assets/img/placeholders/product-thumbnail.png' }}")
    .product-details
        .product-title: span(ng-bind="product.name").ellipsis
        .product-subtitle(ng-if="!product.sponsor_organization") 
            | Resterend aanbod: 
            span(ng-if="!product.unlimited_stock" ng-bind="product.stock_amount")
            span(ng-if="product.unlimited_stock" translate="product_edit.labels.unlimited")
        .product-sponsor(ng-if="product.sponsor_organization")
            img(ng-src="{{ product.sponsor_organization.logo.sizes.thumbnail || './assets/img/placeholders/organization-thumbnail.png' }}").product-sponsor-media
            .product-sponsor-name(ng-bind="product.sponsor_organization.name")

    .product-actions
        .product-action: .product-price(ng-bind="product.price_locale")
        .product-action(ng-if="product.deleted")
            .label.label-default.label-round.label-lg(translate="product_card.status.archived")

        .product-action(ng-if="!product.deleted")
            .label.label-success.label-round.label-lg(ng-if="!product.expired" translate="product_card.status.active")

        .product-action(ng-if="!product.deleted"): .button-group
            a(ui-sref="products-show(product)").button
                em.mdi.mdi-eye-outline.icon-start
                translate(translate="product_card.buttons.view")

            .button.button-primary(ng-if="product.sponsor_organization" ng-click="deleteProduct(product)") 
                em.mdi.mdi-close.icon-start
                | Stop

            .button.button-primary-light.button-icon(
                ng-if="!product.sponsor_organization"
                ui-sref="products-show(product)"
                ng-disabled="!(product.unseen_messages > 0)")
                em.mdi.mdi-message-text