.card
    .card-section.card-section-fund(ng-class="fund.applied ? 'applied' : ''")
        .card-block.card-block-fund
            .fund-img: img(ng-src="{{ fund.logo.sizes.thumbnail || './assets/img/placeholders/organization-thumbnail.png' }}" alt="")
            .fund-details
                .fund-title(ng-bind="fund.name")
                .fund-organization(ng-bind="fund.organization.name")
        .card-section-actions
            button(
                ng-bind="(!fund.applied ? 'fund_card_available_provider.buttons.join' : 'fund_card_provider_finances.status.hold') | translate"
                ng-click="providerApplyFund(fund)").button.button-primary.button-sm

    .card-section(ng-if="fund.implementation.has_provider_terms_page"): .card-text
        | Door u aan te melden gaat u akkoord met de 
        a(ng-href="{{ fund.implementation.url_webshop + '/aanbieders/aanmelden' }}" target="_blank").card-text-link algemene voorwaarden