.card-section.card-section-fund(ng-class="fund.applied ? 'applied' : ''")
    .card-section-actions
        button(
        ng-click="providerApplyFund(fund)").button.button-primary 
            | {{ (!fund.applied ? "fund_card_available_provider.buttons.join" : "fund_card_provider_finances.status.hold") | translate }}
        //- div(ng-show="fund.applied")
        //-     .tag.tag-warning {{ "fund_card_provider_finances.status.hold" | translate }}
    .card-block.card-block-fund: .flex-row
        .fund-img.flex-col
            img(ng-src="{{ fund.logo.sizes.thumbnail || './assets/img/placeholders/organization-thumbnail.png' }}", alt="")
        .fund-details.flex-col
            .fund-title(ng-bind="fund.name")
            .fund-organization(ng-bind="fund.organization.name")

    //- .card-block.card-block-listing
        .card-block-listing-label {{ "fund_card_available_provider.labels.categories" | translate }}
        | {{ fundCategories.join(', ') }}
        small(ng-show="fundCategories.length == 0").text-muted.small {{ "fund_card_available_provider.labels.nocategories" | translate }}