.block.block-external-validators
    mixin validator(title, active)
        .validator-item
            .validator-logo: img(src="/assets/img/organization-no-logo.svg").validator-logo-img
            .validator-details
                .validator-title HSBC Bank plc lorem ipsum
                .validator-properties
                    .validator-property
                        .validator-property-label E-mail
                        .validator-property-value.text-primary-light contacts@ing.com
                    .validator-property
                        .validator-property-label Telefonnummer
                        .validator-property-value 2476908
                    .validator-property
                        .validator-property-label Website
                        .validator-property-value.text-primary-light www.ing.com

            .validator-actions
                if (!active)
                    .button.button-primary
                        em.mdi.mdi-check-circle.icon-start
                        | Toevoegen
                
                if (active)
                    .button.button-default
                        .mdi.mdi-close.icon-start
                        | Verwijderen

    +validator("ING Groep N.V. Dolor sit amet", true)
    +validator("ING Groep N.V. Dolor sit amet")
    +validator("HSBC Bank plc lorem ipsum")