.section {
    &.section-header {
        padding: 80px 0;

        @media screen and (min-width: 1024px) {
            .header-content {
                text-shadow: 1px 1px 4px #000000;
            }

            &:before {
                position: absolute;
                right:0;
                bottom: -1px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 0 12vmax 12vmax;
                border-color: transparent transparent #b9cb18 transparent;
                transform: rotate(360deg);
                content: " ";
            }
        }
    }
}