section.section.section-products#products: .wrapper
    .section-title.text-center Aanbieding
    .section-filters
        .row.form
            .col.col-md-4: .form-group
                select.form-control.form-control-fancy
                    option(value="") Selecteer categorie...

            .col.col-md-8: .form-group
                input(type="text" placeholder="Search for Product").form-control.form-control-fancy
    
    .block.block-products
        mixin product_item()
            .product-item: a(href="#").product-item-inner
                .product-image: img(src="./assets/img/product-no-photo.jpg")
                .product-name Gecertificeerde MeditorPlus
                .product-discount
                    | 58% 
                    br
                    | KORTING!
                .product-price
                    small VAN € 59,95
                    br
                    | VOOR € 24,95
        +product_item()
        +product_item()
        +product_item()
        +product_item()
        +product_item()
        +product_item()

        .block.block-show-more: a(href="#").button.button-primary SHOW MORE