section.section.section-products: .wrapper
    .section-title Related products
    
    .block.block-products
        mixin product_item()
            .product-item: a(href="#").product-item-inner
                .product-image(ng-style="{'background-image': \'url('./assets/img/placeholders/product-small.png')}\'")
                    img(src="./assets/img/placeholders/product-small.png" alt="product small")
                .product-details
                    .product-name Gecertificeerde MeditorPlus
                    .product-discount
                        | 58% 
                        br
                        | KORTING!
                    .product-price
                        small VAN € 59,95
                        br
                        | VOOR € 24,95
        +product_item()
        +product_item()
        +product_item()
        +product_item()
        +product_item()
        +product_item()

        .block.block-show-more: .wrapper: a(href="#").button.button-primary.button-wide SHOW MORE