.block.block-subsidies#subsidies
    mixin subsidy_item(name)
        .product-item: a(href="#").product-item-inner
            .product-image(ng-style="{'background-image': \'url('./assets/img/placeholders/product-small.png')\'}")
                img(src="./assets/img/placeholders/product-small.png")
                .product-price € 350,-
            .product-details
                .product-provider Lorem ipsum
                .product-name=name

    .product-row
        +subsidy_item("Gecertificeerde Meditor Plus")
        +subsidy_item("Gecertificeerde Meditor Plus Lorem Ipsum")
        +subsidy_item("Gecertificeerde Meditor Plus Lorem ")
    
    .product-row
        +subsidy_item("Gecertificeerde Meditor Plus")
        +subsidy_item("Gecertificeerde Meditor Plus Lorem ")
        +subsidy_item("Gecertificeerde Meditor Plus Lorem Ipsum")