@import '../general/vars.scss';

/*==========  Style Sheet - Vars  ==========*/
$fonts: null;

// navbar
$bg-nav:            #F4F5F7;
$tc-nav:            #000000;
$tc-nav-hov:        #000000;
$logo-padding:      20px 0px;
$logo-height:       45px;

// navbar (auth)
$tc-auth-menu:      #01689B; 
$tc-auth-btn:       #FFFFFF; 
$btn-auth-bg:       transparent;
$btn-auth-border:   #0000;

// navbar (start modal primary)
$tc-start-btn:       #fff; 
$btn-start-bg:       transparent; 
$btn-start-btn:      transparent;
$btn-start-border:   transparent;

// header attributes
$bg-values:          url("../img/splash-top-b.jpg") no-repeat 100% 0;

// base font
$bf:                'Helvetica', 'Open Sans', 'Arial', sans-serif;

// text color
$tc:                #4e4d40;
$tc-var:            #fff;
$tc-link:           inherit;

// base color
$bc:                #000;

// background color
$bg:                #f7f9fc;

$bg_2:              #ffffff;

// text formatting
$tf:                inherit;

// footer color
$fbc:                #3a3a3a;
$fc:                #fff;

$fc-link:           #fff;

// Displayed or not
$fd:                block;

// product image
$pi:                10px 0 0 10px;

// placeholder text color
$ptc:               #515152;

$border_color:      #d2e6ff;

$border_radius:     0px;
$base_shadow:       0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

$color_primary:         #01689B;
$color_primary_light:   #01689B;

$color_default:         #56B4E9;
$color_default_light:   #01689B;
    
// Login button
$lb:  #fff;