.select-control.select-control-showcase {
    min-width: 130px;

    .select-control-input {
        .select-control-search {
            min-width: 130px;
            padding: 4px 25px 4px 10px;
            font-size: 12px;

            .select-control-search-placeholder {
                line-height: 20px;
            }
        }
    }

    @media screen and (max-width: 1000px) {
        .select-control-input {
            .select-control-search {
                .select-control-icon {
                    .mdi {
                        margin-top: 0;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 360px) {
        flex-grow: 1;
    }
}

.select-control-menu.select-control-menu-showcase {
    .select-control-options {
        .select-control-option {
            padding: 5px 10px 4px;
            font: 600 12px/25px var(--base-font);
        }
    }
}
