.mr-tp
  .footer
    .container
      .col-6.col-md-4
        h5 Support
        ul
          li: p E-mailadres: #[a(href="mailto:support@forus.io") support@forus.io]
          li: p Telefoon: #[a(href="tel:+31850043387‬") +31 (0)85 004 33 87‬]
        h5 Adres
        ul
          li: p Emmaplein 6,
          li: p 9711 AP, Groningen
        h5 Contactgegevens
        ul
          li: p E-mailadres: #[a(href="mailto:info@forus.io") info@forus.io]
          li: p Telefoon: #[a(href="tel:+31850043952") +31 (0) 85 004 39 52]          

      .col-6.col-md-4
        h5 Menu
        ul.sm
          li: p(ui-sref="current") Over ons
          li: p(ui-sref="platform") Platform Forus
          li: p(ui-sref="me") Me
          li: p(ui-sref="research") Onderzoek
          li: p(ui-sref="contact") Contact
          li: p: a(href="https://vacatures.forus.io/jobs/Careers" target="_blank") Vacatures
      .col-6.col-md-4.contact
        h5 Vragen of samenwerken ?
        p Heb je vragen of wil je met ons samenwerken? Neem dan contact met ons op.
        a.main_button(open-modal-contact-form href="#") Direct contact
.col.sub-foot
  .container
    a.footer-brand(href="/#!/")
      include ../../../../resources/platform-general/assets/img/svg/forus-logo-footer.svg
    ul.pull-right
      a(href="https://nl.linkedin.com/company/stichtingforus" target="_blank")
        li
          include ../../../../resources/platform-general/assets/img/svg/linkedin.svg
      a(href="https://discord.forus.io" target="_blank")
        li
          include ../../../../resources/platform-general/assets/img/svg/Discord-Logo-Color.svg
      a(href="https://github.com/teamforus" target="_blank")
        li
          include ../../../../resources/platform-general/assets/img/svg/bitmap.svg

modals-root
