.mr-tp
  .footer
    .container
      .col-6.col-md-4
        h5 Contactgegevens
        ul
          li: p E-mailadres: <span><a href="mailto:info@forus.io">info@forus.io</a></span>
          li: p Telefoon: <span><a href="tel:+31850043952">+31 (0) 85 004 39 52</a></span>
        h5 Bezoekadres
        ul
          li: p Emmaplein 6,
          li: p 9711 AP, Groningen
        h5 Postadres
        ul
          li: p Osloweg 131,
          li: p 9723 BK, Groningen
        h5 Support
        ul
          li: p E-mailadres: <span><a href="mailto:support@forus.io">support@forus.io</a></span>
          li: p Telefoon: <span><a href="tel:+31850043387‬">+31 (0)85 004 33 87‬</a></span>

      .col-6.col-md-4
        h5 Menu
        ul.sm
          li: p(ui-sref="current") Over ons
          li: p(ui-sref="platform") Platform Forus
          li: p(ui-sref="me") Me App
          li: p(ui-sref="contact") Contact
      .col-6.col-md-4.contact
        h5 Vragen of samenwerken ?
        p Heb je vragen of wil je met ons samenwerken? Neem dan contact met ons op.
        a.main_button(href="#" data-toggle="modal" data-target="#modalContact") Direct contact
.col.sub-foot
  .container
    a.footer-brand(href="/#!/")
      include ../../../../resources/platform-general/assets/img/svg/forus-logo-footer.svg
    ul.pull-right
      a(href="https://nl.linkedin.com/company/stichtingforus" target="_blank")
        li
          include ../../../../resources/platform-general/assets/img/svg/linkedin.svg
      a(href="https://chat.forus.io" target="_blank")
        li
          include ../../../../resources/platform-general/assets/img/svg/rocketchat.svg
      a(href="https://github.com/teamforus" Z)
        li
          include ../../../../resources/platform-general/assets/img/svg/bitmap.svg

modals-root