.mr-tp
  .footer
    .container
      .col-6.col-md-4
        h4 Contactgegevens
        ul
          li: p info@forus.io
          li: p +31 (0) 85 004 39 52
          li: p.ts-p Bezoekadres:
          li: p Emmaplein 6
          li: p 9711 AP Groningen
          li: p.ts-p  Postadres
          li: p Osloweg 131
          li: p 9723 BK Groningen
          li: p.ts-p  Support
          li: p support@forus.io
          li: p +31 (0)85 004 33 87‬
      .col-6.col-md-4
        h4 Links
        ul
          li: p(ui-sref="current") Over ons
          li: p(ui-sref="platform") Platform Forus
          li: p(ui-sref="me") Me App
          li: p(ui-sref="contact") Contact
      .col-6.col-md-4.contact
        h4 Vragen of samenwerking ?
        p Heb je vragen of wil je met ons samenwerken? Neem dan contact met ons op.
        a.main_button(href="#" data-toggle="modal" data-target="#modalContact") Direct contact
.col.sub-foot
  .container
    a.footer-brand(href="/#!/")
      include ../../../../resources/platform-general/assets/img/svg/forus-logo-footer.svg
    ul.pull-right
      a(href="https://nl.linkedin.com/company/stichtingforus" target="_blank")
        li
          include ../../../../resources/platform-general/assets/img/svg/linkedin.svg
      a(href="https://chat.forus.io" target="_blank")
        li
          include ../../../../resources/platform-general/assets/img/svg/rocketchat.svg
      a(href="https://github.com/teamforus")
        li
          include ../../../../resources/platform-general/assets/img/svg/bitmap.svg

modals-root