- var src_prefix = (qdt_c.platform.env_data.html5ModeEnabled?qdt_c.platform.env_data.html5Mode.basePath:'');
- var client_key = (qdt_c.platform.env_data.client_key);
    
head
    meta(charset="UTF-8")
    title Forus.io

    //meta(http-equiv="X-UA-Compatible" content="IE=edge")
    
    //- disable resize on mobiles
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

    //- fonts (roboto)
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700,700italic,500italic,500,400italic,300,100italic,100,300italic&subset=latin,cyrillic,latin-ext', rel='stylesheet', type='text/css')

    //- favicon
    link(rel="shortcut icon", type="image/x-icon", href="assets/img/favicon.ico")
    
    //- libs bundle
    link(rel="stylesheet", href=src_prefix + "assets/dist/bundle/css/bundle.min" + qdt_c.append_assets + ".css")

    //- custom style
    link(rel="stylesheet", href="assets/css/style.min" + qdt_c.append_assets + ".css")
    

    <!--[if lte IE 9]>
        style.
            html[ng-cloak] {
                display: block!important;
            }
            ui-view, .ie-hide{
                display: none!important;
            }

            .oldie{
                display: block!important;
            }
    <![endif]-->
    
    if (qdt_c.platform.env_data.html5ModeEnabled)
        base(href=qdt_c.platform.env_data.html5Mode.basePath)


