nav.navbar.navbar-inverse
	.container-fluid.cf-wr
		.navbar-header
			button.navbar-toggle(type='button' data-toggle='collapse' data-target='#myNavbar')
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href="/#!/")
				include ../../../../resources/platform-general/assets/img/svg/forus-logo.svg
		#myNavbar.collapse.navbar-collapse
			ul.nav.navbar-nav
				li.dropdown
					a.dropdown-toggle(ui-sref="platform")
						| Platform Forus
				//-span.caret
					ul.dropdown-menu
						li
							a(href='#') Page 1-1
						li
							a(href='#') Page 1-2
						li
							a(href='#') Page 1-3
				li
					a(ui-sref="me") Me-app
				li
					a(ui-sref="current") Over ons
				li
					a(ui-sref="contact") Contact
				li
					a(href="https://vacatures.forus.io/jobs/Careers" target="_blank") Vacatures
			ul.nav.navbar-nav.navbar-right
				li
					a.login_btn(ng-click="openAuthPopup()" ng-if="!$root.auth_user")
						span.glyphicon.glyphicon-log-in
						|  Inloggen
			ul.nav.navbar-nav.navbar-right.auth-out(ng-if="$root.auth_user")
				.header-auth(ng-if="$root.auth_user")
					.auth-user(ng-click="$ctrl.openUserMenu($event)")
						.auth-user-details
							.auth-user-name {{ $root.auth_user.email || ($root.auth_user.address | str_limit:32) }}
							.auth-user-role Uw profiel

						img(ng-src="{{ $root.activeOrganization ? ($root.activeOrganization.logo.sizes.thumbnail || './assets/img/placeholders/organization-thumbnail.png') : './assets/img/placeholders/organization-thumbnail.png'}} ").auth-user-img

						.auth-user-caret: em(ng-class="$root.userMenuOpened ? 'mdi-chevron-up' : 'mdi-chevron-down'").mdi

						nav.auth-user-menu.hide-sm(
							ng-class="{active: $ctrl.userMenuOpened}"
							ng-if="$ctrl.userMenuOpened"
							click-outside="$ctrl.hideUserMenu()")
							.triangle
							.inner
								.auth-user-menu-item(ng-click="$ctrl.goToHref('/sponsor')")
									| Sponsor

								.auth-user-menu-item(ng-click="$ctrl.goToHref('/provider')")
									| Aanbieder

								.auth-user-menu-item(ng-click="$ctrl.goToHref('/validator')")
									| Beoordelaar

								.auth-user-menu-sep

								.auth-user-menu-item(ng-click="$root.signOut()" id="sign_out")
									em.mdi.mdi-logout
									span(translate="topnavbar.buttons.logout")
