&.block-missing-app {
    padding: 20px;
    text-align: center;

    p {
        display: none;
        font: 400 18px/24px sans-serif;
        margin: 0 0 20px;
    }

    .button {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}