.card
    .card-header: .card-title Medewerkers

    .card-section.card-section-padless: .table-wrapper: table.table
        tr: th E-Mailadres
        tr(ng-repeat="employee in $dir.employees")
            td(ng-if="employee.email" ng-bind="employee.email")
            td(ng-if="!employee.email" ng-bind="employee.identity_address | str_limit:32")

    .card-section.text-center(ng-if="$dir.employees.length == 0") Geen vestigingen