/*==========  Style Sheet - Vars  ==========*/

// base font
$bf:                'Source Sans Pro', sans-serif;

// text color
$tc:                #353535;

// base color
$bc:                #d13b3b;

// footer color
$fc:                #3a3a3a;

// displayed or not
$fd:                block;

// placeholder text color
$ptc:               #646f79;

$border_color:      #ececec;

$border_radius:     0px;

$color_primary:         #157c68;
$color_primary_light:   #8fd888;

$color_default:         #017f96;
$color_default_light:   #017f96;