@import '../general/vars.scss';

/*==========  Style Sheet - Vars  ==========*/

// navbar
$bg-nav:            #a80a2d;
$tc-nav:            #fff;
$tc-nav-hov:        #fff;
$logo-padding:      20px 0px;
$logo-height:       50px;

// navbar (auth)
$tc-auth-menu:      #fff; 
$tc-auth-btn:       #157C68; 
$btn-auth-bg:       #fff; 
$btn-auth-border:   #30a08b;

// navbar (start modal primary)
$tc-start-btn:       #fff; 
$btn-start-bg:       #157C68; 
$btn-start-btn:      #157C68;
$btn-start-border:   transparent;

// sign up
$sign_up_accent_color: #197e6a;
$sign_up_accent_color_light: #9bddd0;

// header background
$bg-values:         url("../img/splash-top-b.png") no-repeat 100% 0;         

// base font
$bf:                'Source Sans Pro', sans-serif;

// text color
$tc:                #353535;
$tc-var:            inherit;

// base color
$bc:                #d13b3b;

// background color
$bg:                #fff;

$bg_2:              none;

// text formatting
$tf:                uppercase;

// footer color
$fbc:                #3a3a3a;
$fc:                #fff;

$fc-link:           #fff;

// displayed or not
$fd:                block;

// product image
$pi:                0px;

// placeholder text color
$ptc:               #515152;

$border_color:      #ececec;

$border_radius:     0px;
$base_shadow:       0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

$color_primary:         #157c68;
$color_primary_light:   #30a08b;

$color_default:         #017f96;
$color_default_light:   #017f96;

$base_shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
0 2px 10px 0 rgba(0, 0, 0, 0.12);

$navbar_transition: .5s ease-in-out;
