/*==========  Style Sheet - Vars  ==========*/

// base font
$bf:                'Source Sans Pro', sans-serif;

// text color
$tc:                #353535;

// base color
$bc:                #d13b3b;

// footer color
$fc:                #3a3a3a;

// displayed or not
$fd:                block;

// product image
$pi:                0px;

// placeholder text color
$ptc:               #646f79;

$border_color:      #ececec;

$border_radius:     0px;
$base_shadow:       0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

$color_primary:         #157c68;
$color_primary_light:   #8fd888;

$color_default:         #017f96;
$color_default_light:   #017f96;