.block {
    &.block-map {
        padding: 120px 0 240px;
        margin: -100px 0;
        color: $tc-var;

        .button {
            text-decoration: none;
            
            &:hover {
                background-color: #fff;
                color: $bc;
            }
        }
    }
}