.section {
    &.section-footer {
        position: relative;
        border-top: 1px solid rgba(89, 89, 89, 0.3);
    }
    @media screen and (max-width: 1000px) {
        &.section.section-footer {
            padding: 40px 0 0;

            &:before,
            &:after {
                display: none;
            }
        }
    }
}
.block {
    &.block-footer {
        .footer-label {
            color: $bc;
        }

        .footer-nav {
            .footer-nav-item {
                a {
                    color: $tc;
    
                    &:hover {
                        color: $bc;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    &.block-copyrights {
        border-top: 1px solid rgba(89, 89, 89, 0.3);
        
        .copyrights {
            color: $bc;
        }

        .links {
            a {
                text-decoration: underline;
                color: $tc;

                &:hover {
                    color: $bc;
                    text-decoration: none;
                }
            }
        }
    }
}