&.dropdown-actions {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    background: #fff;
    width: 240px;
    color: var(--text-color);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    background: #ffffff;
    box-shadow: var(--box-shadow);
    padding: 4px;
    flex-direction: column;
    display: grid;

    .dropdown-item {
        display: flex;
        align-items: center;
        flex: 1 1 100%;
        color: #151B26;
        font: 500 12px/18px var(--base-font);
        padding: 7px 8px;
        transition: all .3s;
        border-radius: calc(var(--border-radius));
        cursor: pointer;

        .mdi {
            color: #646F79;
            font-size: 16px;
            transition: all .3s;
            display: inline-flex;
            height: 18px;
            line-height: 18px;
            
            &.icon-start {
                margin-right: 8px;
            }

            &.icon-end {
                margin-left: 8px;
            }
        }

        &:hover {
            color: #426993;
            background: #f3f4f5;
            transition: all .3s;

            .mdi {
                color: #426993;
                transition: all .3s;
            }
        }

        &[disabled], .disabled {
            pointer-events: none;
            background-color: rgb(248, 248, 248);
            color: #a0abb5;

            .mdi {
                color: #a0abb5;
            }
        }
    }
}