doctype
html(lang="en")
    include includes/head
    body(ng-controller="BaseController")
        include includes/header

        ui-view

        .app.app-container
            include includes/sidebar
            section.app.app-content
                block content

        include includes/footer
        include includes/scripts