doctype
html(lang="en")
    include includes/head
    body(ng-controller="BaseController")
        include includes/header

        ui-view

        include includes/footer
        include includes/scripts