doctype
html(lang="en")
    include includes/head
    body
        include includes/dev-pages

        .ie-hide
            include includes/header-markup

            .app.app-container
                include includes/sidebar
                section.app.app-content
                    block content

        include includes/footer-markup
        include includes/scripts