.button {
    font: 700 16px/1.5em $bf;
    color: #646f79;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 12px 25px;
    transition: color 0.4s, background 0.4s, box-shadow 0.4s, border 0.4s;
    border-radius: 6px;
    display: inline-block;
    text-align: center;
    margin-right: 15px;

    .mdi {
        font-size: 1.4em;
        line-height: inherit;
        margin-right: 10px;
        margin-left: -10px;
        float: left;

        &.icon-right {
            float: right;
            margin-right: -10px;
            margin-left: 10px;
        }
    }

    img {
        display: block;
        transition: 0.4s;
        margin: 0 auto;
    }

    &.button-default {
        background: #ffffff;
        text-transform: $tf;
        color: $color_default;
        //border: 1px solid $border_color;
        box-shadow: none;

        .mdi {
            color: $color_default_light;
        }

        &:hover, &:focus {
            color: #fff;
            background: $color_default_light;
            border-color: $color_default_light;
            box-shadow: 0 10px 20px rgba(#000, 0.2);

            .mdi {
                color: #fff;
            }
        }
    }

    &.button-two-spans {
        display: flex !important;
        padding: 7px !important;
        align-items: center !important;

        .icon-me {
            mask: url("../img/icon-me.svg");
            background: $color_default;
            transition: background-color 0.5s ease;
            display: inline-block;
            mask-size: cover;
            height: 30px;
            width: 30px;
            margin: 0 7px 0px 0px;
            border: 1px;
        }

        .first-line-button {
            line-height: 10px;
            font-size: 16px;
            height: 100%;
            text-align: right;
            flex: 1;
        }

        .second-line-button {
            display: none;
        }

        &:hover {
            .icon-me {
                mask: url("../img/icon-me.svg");
                background: #157c68;
                mask-size: cover;
            }
        }
    }

    &.button-primary {
        color: #fff;
        background: $color_primary;
        border: 1px solid $color_primary;
        text-transform: $tf;

        &:hover, &:focus {
            color: #fff;
            background: $color_primary_light;
            background-color: $color_primary_light;
            box-shadow: 0 10px 20px rgba(#000, 0.3);

            img {
                filter: brightness(5);
            }
        }
    }

    &.button-dark {
        display: inline-block;
        color: #fff;
        background: #282b39;
        border: 1px solid #282b39;
        box-shadow: 0 10px 25px rgba(#000, 0.15);

        &:hover {
            color: #fff;
            background: #646f79;
            border-color: #646f79;
            box-shadow: 0 10px 20px rgba(#000, 0.3);

            img {
                filter: brightness(5);
            }
        }
    }

    &.button-light {
        display: inline-block;
        color: #303030;
        background: #f7f9fb;
        border: 1px solid #d4d9dd;

        &:hover {
            color: #fff;
            background: #626161;
            border-color: #626161;
            box-shadow: 0 10px 20px rgba(#000, 0.3);

            img {
                filter: brightness(5);
            }
        }
    }

    &.button-muted {
        color: #9ea7b5;
        background: #f0f2f4;
        border-color: #f0f2f4;

        &:hover {
            color: #9ea7b5;
            background: #f0f2f4;
            border-color: #f0f2f4;
        }

        &:focus,
        &:active {
            outline: none;
            border-color: darken($color: rgba(158, 167, 182, 0.15), $amount: 100);
        }
    }

    &.button-danger {
        color: #fff;
        background: #D93740;

        &:hover {
            color: #CEC7C7;
            background: #DD0000;
        }
    }

    &.button-primary-outline {
        color: $color_primary;
        border: 1px solid $color_primary;
        background: transparent;

        &:hover {
            background: $color_primary;
            color: #fff;
        }
    }

    &.button-text {
        background: none;
        border: none;
        
        &.button-text-padless {
            padding-left: 0;
            padding-right: 0;
        }

        &.button-text-primary {
            color: #305dfb;
        }

        &[disabled],
        &.disabled,
        &.button-disabled {
            background: transparent;
            border-color: transparent;
            color: #cecece;

            .mdi {
                color: #cecece;
            }
        }
    }

    &.button-flat {
        box-shadow: none;

        &:hover {
            box-shadow: none;
        }
    }

    &.button-wide,
    &.button-wide {
        margin: 0 auto;
    }

    &.button-fill {
        width: 100%;
    }

    &.button-wide {
        padding-left: 50px;
        padding-right: 50px;
    }

    &:last-child,
    &:last-of-type {
        margin-right: 0;
    }

    &[disabled],
    &.disabled,
    &.button-disabled {
        background: #eff2f4 !important;
        border-color: #eff2f4;
        color: #ccd0e0;
        box-shadow: none;
        pointer-events: none;
        cursor: default;

        &:hover {
            box-shadow: none;
        }
    }

    &.button-icon {
        padding: 10px 15px;

        & > .mdi {
            margin: 0 -5px;
        }
    }

    &.button-digid {
        background-color: #000;
        background-image: url('../img/icon-digid.svg');
        background-repeat: no-repeat;
        background-position: center;
        border-color: #000;
        box-shadow: none;
        cursor: default;
        pointer-events: none;
        height: 48px; 
        width: 48px;
    }
}

.first-line-button {
    line-height: 10px;
    font-size: 12px;
    text-align: right;
}

.second-line-button {
    line-height: 10px;
    margin-top: -10px;
    font-weight: 300;
    font-size: 11px;
    text-align: right;
    grid-row: 2;
    grid-column: 2 / 3;
}

.button-profile {
    padding-left: 0px !important;
}

@media screen and (max-width: 1000px) {
    .button {
        &.button-primary {
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
        }
    }
}

.block {
    &.block-show-more {
        text-align: center;
        margin: 0 0 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    @media screen and (max-width: 1000px) {
        &.block-show-more {
            .button {
                width: 100%;
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
}
