.button {
    font: 700 16px/1.5em var(--base-font);
    padding: 12px 25px;
    color: var(--btn-color);
    cursor: pointer;
    border: 1px solid transparent;
    transition: color 0.4s, background-color 0.4s, box-shadow 0.4s, border 0.4s;
    border-radius: var(--btn-border-radius);
    display: inline-block;
    text-align: center;
    margin-right: 15px;
    box-shadow: none;

    .mdi {
        font-size: 1.4em;
        line-height: inherit;
        margin-right: 10px;
        margin-left: -10px;
        float: left;

        &.icon-right {
            float: right;
            margin-right: -10px;
            margin-left: 10px;
        }
    }

    img {
        display: block;
        transition: 0.4s;
        margin: 0 auto;
    }

    &:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    }

    &.button-primary {
        color: #fff;
        background: var(--color-primary);
        border: 1px solid var(--color-primary);
        text-transform: var(--text_format);

        &:hover,
        &:focus {
            color: #fff;
            background: var(--color-primary-light);
            background-color: var(--color-primary-light);

            img {
                filter: brightness(5);
            }
        }
    }

    &.button-dark {
        display: inline-block;
        color: #fff;
        background: #282b39;
        border: 1px solid #282b39;

        &:hover {
            color: #fff;
            background: #646f79;
            border-color: #646f79;

            img {
                filter: brightness(5);
            }
        }
    }

    &.button-light {
        display: inline-block;
        color: #303030;
        background: #fff;
        border: 1px solid #282b39;

        &:hover {
            color: #fff;
            background: #626161;
            border-color: #626161;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);

            img {
                filter: brightness(5);
            }
        }
    }

    &.button-primary-outline {
        color: var(--color-primary);
        border: 1px solid var(--color-primary);
        background: transparent;

        &:hover {
            background: var(--color-primary);
            color: #fff;
        }
    }

    &.button-text {
        background: none;
        border: none;

        &:hover {
            box-shadow: none;
            color: #646f79;
        }

        &:last-child {
            padding-right: 0;
        }

        &.button-text-padless {
            padding-left: 0;
            padding-right: 0;
        }

        &.button-text-primary {
            color: var(--color-primary);
        }

        &[disabled],
        &.disabled,
        &.button-disabled {
            background: transparent !important;
            border-color: transparent !important;
            color: #cecece !important;

            .mdi {
                color: #cecece;
            }
        }
    }

    &.button-sm {
        font: 700 14px/20px var(--base-font);
        padding: 10px 15px;
        border-radius: calc(var(--border-radius) / 2);

        .mdi {
            margin-right: 5px;
            margin-left: -5px;

            &.icon-right {
                float: right;
                margin-right: -7px;
                margin-left: 7px;
            }
        }

        .mdi {
            &.icon-right {
                margin-right: -5px;
                margin-left: 5px;
            }
        }

        &.button-text {
            .mdi {
                &.icon-right {
                    margin-right: -2px;
                    margin-left: 2px;
                }
            }
        }
    }

    &.button-xs {
        font: 700 12px/20px var(--base-font);
        padding: 5px 10px;
        border-radius: calc(var(--border-radius) / 2);

        .mdi {
            font-size: 1.2em;
            margin-right: 5px;
            margin-left: -5px;

            &.icon-right {
                margin-right: -5px;
                margin-left: 5px;
            }
        }
    }

    &.button-flat {
        box-shadow: none;

        &:hover {
            box-shadow: none;
        }
    }

    &.button-fill {
        width: 100%;
    }

    &:last-child,
    &:last-of-type {
        margin-right: 0;
    }

    &[disabled],
    &.disabled,
    &.button-disabled {
        color: var(--btn-disabled-color) !important;
        background: var(--btn-disabled-background) !important;
        border-color: var(--btn-disabled-background) !important;
        box-shadow: none !important;
        pointer-events: none !important;
        cursor: default !important;

        .mdi {
            color: inherit !important;
        }

        &:hover {
            box-shadow: none !important;
        }

        &:focus {
            color: #cdced2 !important;
        }
    }

    &.button-icon {
        padding: 10px 15px;

        & > .mdi {
            margin: 0 -5px;
        }
    }
}

.first-line-button {
    line-height: 10px;
    font-size: 12px;
    text-align: right;
}

.second-line-button {
    line-height: 10px;
    margin-top: -10px;
    font-weight: 300;
    font-size: 11px;
    text-align: right;
    grid-row: 2;
    grid-column: 2 / 3;
}

.button-profile {
    padding-left: 0px !important;
}
