.label {
    font: 600 11px/20px $bf;
    display: inline-block;
    padding: 0 7.5px;
    border-radius: max(2px, $border-radius / 2);
    cursor: default;

    .mdi {
        font-size: 1.4em;
        line-height: inherit;
        display: inline-block;
        vertical-align: middle;
        margin: -1px 0;
        cursor: inherit;

        &.icon-start {
            margin-left: -2.5px;
            margin-right: 2.5px;
        }

        &.icon-end {
            margin-left: 2.5px;
            margin-right: -2.5px;
        }
    }

    .label-close {
        color: #fff;
        float: left;
        font-size: 14px;
        margin: 0 2.5px 0 -2.5px;
        cursor: pointer;
    }

    &.label-success {
        background: #9bbfa1;
        color: #030304;
    }

    &.label-warning {
        background: #EFD77F;
        color: #030304;
    }

    &.label-danger {
        background: #d38c87;
        color: #030304;
    }

    &.label-default {
        background: #777;
        color: #fff;
    }

    &.label-primary {
        background: $color_primary;
        color: #fff;
    }

    &.label-info {
        background: #5bc0de;
        color: #030304;
    }

    &.label-light {
        background: #e6e6e6;
        color: #030304;
    }

    &.label-dark {
        background: #303030;
        color: #fff;
    }

    &.label-sm {
        padding: 0 5px;
        line-height: 18px;
        font-size: 10px;
        font-weight: 700;
    }

    &.label-lg {
        padding: 2px 10px;
    }

    &.label-round {
        border-radius: 30px;
    }

    &:not(:last-child):not(:last-of-type) {
        margin: 0 5px 5px 0;
    }
}

@media screen and (max-width: 1000px) {
    .label {
        padding: 0 10px;
        font: 700 11px/22px $bf;
    }
}