.label {
    font: 600 11px/18px var(--base-font);
    display: inline-block;
    padding: 0 7.5px;
    border-radius: var(--border-radius);
    cursor: default;
    height: fit-content;
    width: fit-content;
    border: 1px solid transparent;

    .mdi {
        font-size: 1.4em;
        line-height: inherit;
        display: inline-block;
        vertical-align: middle;
        margin: -1px 0;
        cursor: inherit;

        &.icon-start {
            margin-left: -2.5px;
            margin-right: 2.5px;
        }

        &.icon-end {
            margin-left: 2.5px;
            margin-right: -2.5px;
        }
    }

    .label-blink {
        display: block;
        width: 10px;
        color: inherit;
        line-height: inherit;
        font-size: 20px;
        float: left;
        margin-left: -2px;
        margin-right: 4px;
        text-align: center;

        &.label-blink-primary {
            color: var(--color-primary);
        }

        &:before {
            content: '•';
            color: inherit;
            animation: blink 1.5s ease-in-out infinite;
            text-align: center;
        }
    }

    .label-close {
        color: #fff;
        float: left;
        font-size: 14px;
        margin: 0 2.5px 0 -2.5px;
        cursor: pointer;
    }

    &.label-success {
        background: #9bbfa1;
        color: #030304;
    }

    &.label-waiting {
        background: #a36a14;
        color: #fff;
    }

    &.label-warning {
        background: #EFD77F;
        color: #030304;
    }

    &.label-danger {
        background: #d38c87;
        color: #030304;
    }

    &.label-default {
        color: var(--label-default-color);
        background: var(--label-default-background);
    }

    &.label-primary {
        background: var(--color-primary);
        color: #fff;
    }

    &.label-info {
        background: #5bc0de;
        color: #030304;
    }

    &.label-light {
        background: #e6e6e6;
        color: #030304;
    }

    &.label-dark {
        background: #303030;
        color: #fff;
    }

    &.label-sm {
        padding: 0 5px;
        line-height: 18px;
        font-size: 10px;
        font-weight: 700;
    }

    &.label-lg {
        padding: 2px 10px;
    }

    &.label-xl {
        padding: 5px 10px;
    }

    &.label-round {
        border-radius: 30px;
    }

    &.label-default-outline {
        border: 1px solid #E5E5E5;
    }

    &:not(:last-child):not(:last-of-type) {
        margin: 0 5px 5px 0;
    }
}

@media screen and (max-width: 1000px) {
    .label {
        padding: 0 5px;
        font: 700 11px/20px var(--base-font);

        &:not(.label-round) {
            border-radius: calc(var(--border-radius) / 2);
        }

        &.label-lg {
            padding: 0 10px;
        }
    }
}