.map-card {
    position: relative;
    min-height: 125px;
    display: flex;

    .map-card-img {
        display: flex;
        width: 125px;

        img {
            width: 100%;
            height: 100%;
            display: block;
        }
    }

    .map-card-content {
        padding: 10px 15px;

        .map-card-title {
            color: #282b39;
            font: 700 14px/16px $bf;
            margin: 0 0 5px;
        }
        
        .map-card-description {
            color: #131418;
            font: 400 11px/14px $bf;
            margin: 0 0 5px;
    
            a {
                font: inherit;
                color: $bc;
            }
        }

        .map-card-button {
            font: 700 11px/15px $bf;
            display: inline-flex;
            flex-direction: row;
            justify-content: center;
            cursor: pointer;
            color: $tc;
            transition: color .4s;

            .mdi {
                line-height: 15px;
                font-size: 14px;
                vertical-align: middle;
                margin-left: 2px;
                color: $color_primary;
                transform: translate(0, 1px);
                transition: transform .4s;
            }

            &:hover {
                color: $color_primary;

                .mdi {
                    transform: translate(2px, 1px);
                }
            }
        }
    }

    @media screen and (max-width: 1000px) {
        .map-card-img {
            width: 100px;
            min-width: 100px;
            max-width: 100px;
        }
    }
}

.gm-style {
    .gm-style-iw-c {
        padding: 0;
        max-width: 360px !important;
    }

    .gm-style-iw-d {
        overflow: auto !important;
        @include webkit_scrollbar();
    }
}