.map-canvas {
    @include fill_parent();
}

.modal {
    @include fill_parent();
    position: fixed;
    z-index: 10;
    display: flex;
    align-items: center;
    border-radius: $border_radius;
    cursor: default;

    .modal-backdrop {
        @include fill_parent();
        cursor: pointer;
        background: rgba(#192734, .5);
    }

    .modal-close {
        position: absolute;
        right: 30px;
        top: 30px;
        color: #646f79;
        font-size: 20px;
        cursor: pointer;
        z-index: 4;
        background: none;
        border: none;
    }

    .modal-window {
        position: relative;
        z-index: 2;
        background: #f6f9fc;
        width: 1200px;
        max-width: 100%;
        border-radius: $border_radius;
        display: inline-block;
        min-height: 100px;
        margin: 0 auto;

        .modal-section {
            padding: 30px;
        }

        .modal-close {
            position: absolute;
            font-size: 24px;
            right: 20px;
            top: 20px;
            display: block;
            cursor: pointer;
            color: #222;
            transition: color .4s;
            z-index: 1;
            background: none;
            border: none;
        }
    }

    .modal-header {
        background: #fff;
        border-bottom: 1px solid $border_color;
        border-top-left-radius: $border_radius;
        border-top-right-radius: $border_radius;
        padding: 15px 30px;
        cursor: default;

        .modal-title {
            font: 700 22px/30px $bf;
            margin: 0 0 10px;
            color: $tc;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .modal-subtitle {
            font: 700 14px/20px $bf;
            margin: 0 0 0;
            color: #646F79;
        }
    }

    .modal-content {
        position: relative;
        width: 1200px;
        max-width: 100%;
        background: #f7f9fc;
        min-height: 100px;
        overflow: hidden;
        margin: 0 auto;
        border-radius: $border_radius;
        box-shadow: 0 20px 40px rgba(#000000, 0.3);

        &.modal-description-pad{
            .description {
                padding: 50px 0;
                color: #134478 !important;
            }
        }

        .modal-section {
            padding: 30px;

            .modal-footer {
                padding: 30px 0 0;
            }
        }

        .subdescription{
            display: inline-block;
            border: 1px solid #eff6f8;
            background: #fff;
            padding: 10px 80px;
            border-radius: 5px;
            font: 400 22px/34px $bf;
            color: #646f79;
            box-shadow: 0 5px 20px rgba(0,0,0,0.05);
            margin: 40px 0 30px;

            .popup-title-styled{
                color: #000;
                font-weight: 600;
                white-space: nowrap;
            }
        }

        .title {
            color: #282b39;
            font: 700 40px $bf;
            text-align: center;
            margin: 0 0 10px;
        }

        .description{
            padding: 0 80px;
            margin: 0 0 10px;
            font: 400 22px/34px $bf;
            color: #646f79;

            b {
                color: $color_primary;
                font: 400 22px/34px $bf;
                font-weight: bold;
            }

            .popup-title-styled {
                color: $color_primary;
                font-weight: 600;
                white-space: nowrap;
            }
        }

        .description-small{
            padding: 10px 0;
            font: 400 16px/28px $bf;
            color: #646f79;
        }

        .modal-icon{
            img {
                display: block;
                margin: 0 auto;
                width: 240px;
            }
        }

        &:first-child {
            border-top-left-radius: inherit;
            border-top-right-radius: inherit;
        }

        &:last-child {
            border-bottom-left-radius: inherit;
            border-bottom-right-radius: inherit;
        }
    }

    .modal-footer {
        padding: 30px;
        border-top: 1px solid $border_color;
        display: flex;
        justify-content: center;

        &.no-border{
            border: 0!important;
        }

        .footer-text {
            font: 500 18px $bf;
            color: #151b26;
            margin-bottom: 20px;
        }

        // .modal-footer-links {}

        .modal-footer-link {
            display: block;
            color: $color_primary;
            font: 700 13px/30px $bf;

            span {
                display: block;
                width: 40px;
                float: left;
            }
        }
    }

    &.modal-auth {
        .me-logo {
            height: 115px;
            width: 115px;
            margin: 0 auto;
            margin-bottom: 15px;
            padding: 15px;
            border-radius: 5px;
            background-color: white;
            display: flex;
            align-items: center;

            svg {
                width: 85px;
                height: 78px;
                margin: 0 auto;
                display: block;

                path {
                    fill: #007DF0;
                }
            }
        }

        .modal-title {
            color: #282b39;
            font: 700 26px $bf;
            text-align: center;
            margin: 0 0 10px;
        }

        .modal-subtitle {
            color: #646f79;
            font: 400 18px $bf;
            text-align: center;
            padding-bottom: 20px;

            u {
                cursor: pointer;
            }

            span {
                cursor: auto;
            }

            a {
                font: inherit;
                color:rgb(100, 111, 121);
            }
        }

        .modal-content {
            width: 1000px;

            .form {
                width: 480px;
                margin: 0 auto;
            }

            .block-pincode {
                margin-bottom: 10px;
            }

            &.button {
                display: inline-block;
            }
        }

        .with-instructions {
            .modal-footer {
                padding: 30px 200px;
                margin: 30px -200px -30px;
            }
        }
    }

    &.modal-animated {
        &>.modal-backdrop, &>.modal-window, &>.modal-content {
            opacity: 0;
            transition: .3s ease-out;
        }

        &>.modal-window, &>.modal-content {
            transform: scale(1.5, 1.5);
        }

        &>.modal-backdrop {
            pointer-events: none;
        }

        &.modal-loaded {
            &>.modal-backdrop, &>.modal-window, &>.modal-content {
                opacity: 1;
            }
    
            &>.modal-window, &>.modal-content {
                transform: scale(1, 1);
            }

            &>.modal-backdrop {
                pointer-events: all;
            }
        }
    }

    &.modal-file-preview {
        .modal-window {
            display: flex;
            flex-direction: column;
            max-height: 80vh;
        }

        .modal-content {
            display: flex;
        }

        .file-image {
            display: flex;
            justify-content: center;
            width: 100%;
            background-color: #000;

            img {
                height: 100%;
                display: block;
            }
        }

        .file-pdf {
            display: flex;
            flex-direction: column;
            overflow: auto;
            height: initial;
            width: 100%;
            background-color: black;

            canvas {
                display: block;
                width: 70%;
                height: auto;
                margin: 0 auto;
            }
        }
    }

    @media screen and (max-width: 1500px) {
        .modal-content {
            width: 1000px;
        }

        .modal-footer {
            .footer-text {
                font: 500 15px $bf;
                margin: 0 0 15px;
            }

            .modal-footer-link {
                font: 700 12px/26px $bf;
            }
        }

        &.modal-auth {
            .me-logo {
                display: none;
            }
            .modal-title {
                font: 700 22px $bf;
            }

            .modal-content {
                .step-item {
                    .step-title {
                        font: 700 20px/18px $bf;
                    }
    
                    .step-description {
                        font: 400 14px/18px $bf;
    
                        a {
                            font: 400 14px/18px $bf;
                        }
                    }
                }
            }

            .modal-subtitle {
                font: 400 16px $bf;
                padding: 0px 10px 20px;
                margin: 0px 40px;
            }
        }
    }

    @media screen and (max-width: 1000px) {
        border: none;

        .modal-close {
            top: 20px;
            right: 20px;
        }

        .modal-content {
            border-radius: 0;
            border: none;
            transform: none;
            top: 0;
            left: 0;
            overflow-y: auto;
            padding: 50px 25px 25px;

            .modal-section {
                padding: 0;
            }

            .subdescription {
                margin: 40px 10px 30px;
            }

            .title  {
                padding: 10px;
            }

        }

        &.modal-auth {
            padding: 0;

            .modal-content {
                overflow-y: auto;
                padding: 50px 25px 25px;

                .modal-title {
                    font: 700 20px/32px $bf;
                    margin: 0 0 10px;
                }

                .modal-content {
                    .step-item {
                        .step-title {
                            font: 400 18px/20px $bf;
                        }
        
                        .step-description {
                            font: 400 12px/16px $bf;
        
                            a {
                                font: 400 12px/16px $bf;
                            }
                        }
                    }
                }

                .modal-subtitle {
                    font: 400 15px/24px $bf;
                    margin: 0 0 30px;
                    padding: 0;
                }

                .form {
                    margin-bottom: 10px;
                    width: 100%;
                }
            }

            .modal-footer {
                margin: 0 -25px 0;
                padding: 25px 25px 0 !important;

                .footer-text {
                    font: 500 14px/26px $bf;
                    margin: 0 0 30px;
                }

                .modal-footer-link {
                    font: 700 11px/20px $bf;
                    padding-left: 20px;
                    margin-bottom: 15px;

                    span {
                        width: 20px;
                        margin-left: -20px;
                    }

                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 767px) {
        .modal-content {
            .button{

                &:last-child{
                    margin-bottom: 0;
                }
            }
        }

        &.modal-auth2 {
            .modal-content {
                height: auto !important;
            }
        }

        &.modal-notification {
            .modal-close {
                top: 50px;
            }
            
            .modal-content {
                .modal-section {
                    font: 400 18px/34px $bf;

                    .modal-icon {
                        img {
                            width: 140px;
                        }
                    }

                    .description {
                        padding: 10px 30px;
                        font: 400 18px/34px $bf;
                    }

                    .subdescription {
                        margin-top: 20px;
                        margin-bottom: 20px;
                        padding: 10px 30px;
                        font: 400 18px/34px $bf;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 320px) {
        &.modal-notification {
            .modal-content {
                .modal-section {
                    .modal-icon {
                        img {
                            width: 100px;
                        }
                    }

                    .description {
                        padding: 10px;
                        font: 400 16px/34px $bf;
                    }

                    .subdescription {
                        margin-top: 10px;
                        margin-bottom: 10px;
                        padding: 10px 20px;
                        font: 400 16px/34px $bf;
                    }
                }
            }
        }
    }
}

.block {
    &.block-auth-type {
        @include cf();
        font-size: 0;
        padding: 0 0 20px;
        text-align: center;

        .auth_type-item {
            display: inline-block;
            width: 340px;
            max-width: 50%;
            padding: 0 30px;

            .auth_type-icon {
                padding: 50px 0;
                background: #ffffff;
                border-radius: 10px;
                box-shadow: 0 10px 40px rgba(#000, .04);
                margin-bottom: 30px;
                transform: translate(0, 0);
                transition: .4s;

                img {
                    display: block;
                    margin: 0 auto;
                }
            }
            
            .auth_type-name {
                font: 700 18px $bf;
                color: #282b39;
                transition: .4s;
            }

            .auth_type-item-inner {
                width: 100%;
                cursor: pointer;

                &:hover {
                    .auth_type-icon {
                        transform: translate(0, -10px);
                    box-shadow: 0 10px 60px rgba(#000, .15);
                    }

                    .auth_type-name {
                        color: $color_default;
                    }
                }
            }
        }
    }

    &.block-qr-code {
        width: 100%;
        padding-bottom: 20px;

        .qr_code {
            width: 280px;
            height: 280px;
            padding: 20px;
            background: #fff;
            margin: auto;
            border-radius: 15px;
            box-shadow: 0 5px 35px rgba(#000, .075);

            img {
                display: block;
                width: 100%;
            }
        }
    }

    @media screen and (max-width: 1700px) {
        &.block-auth-type {
            .auth_type-item {
                .auth_type-icon {
                    padding: 40px 0;
                    margin-bottom: 20px;

                    img {
                        width: 100px;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1000px) {
        &.block-auth-type {
            margin: 0 0 10px;

            .auth_type-item {
                padding: 0 10px;
                width: 50%;

                .auth_type-item-inner {
                    .auth_type-icon {
                        padding: 20px;
                        margin: 0 0 20px;

                        img {
                            width: 100%;
                        }
                    }

                    .auth_type-name {
                        font: 700 12px $bf;
                        @include ellipsis();
                        margin: 0 -10px;
                    }
                }
            }
        }
    }
}