$wrapperPadding: 40px;
$pad: calc($wrapperPadding / 4);
$columns: 12;
$media_md: 1600px;
$media_sm: 1300px;
$media_xs: 1000;

.flex-row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -$pad;
    margin-left: -$pad;

    &+flex-row {
        margin-top: $pad;
    }
}

.flex-col {
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    padding: 0 $pad;
    flex-basis: auto;
}

_:-ms-fullscreen {
    flex-basis: auto;
}