.skiplinks {
    a {
        text-decoration: underline;
        color: #707070;

        &:hover {
            text-decoration: none;
        }

        &.active, &:focus {
            background-color: #e6e6e6;
            color: #4a494a;
            display: block;
            font-size: 1em;
            left: 0;
            margin-bottom: .5em;
            padding: .5em;
            position: absolute;
            text-align: center;
            top: 0;
            width: 100%;
            z-index: 10;
        }

        &:hover, &:focus {
            color: #4447f5 !important;
        }
    }
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    
    &.sr-only-focusable {
        &.active, &:focus {
            clip: auto;
            height: auto;
            margin: 0;
            overflow: visible;
            position: static;
            width: auto;
        }
    }
}