.button {
    border-radius: 0;
    box-shadow: none;
    
    &.button-default {
        &:hover {
            background-color: #fff;
            border: 1px solid $color_primary;
            color:  $tc;
            text-decoration: underline;
            box-shadow: none;
            
            .mdi {
                color: $tc;
            }
        }
    }
    
    &.button-primary {
        &:hover {
            color: $color-default;
            text-decoration: underline;
            background-color: $bg;
            box-shadow: none;
            border: 1px solid $color-default;
        }
    }
}
