.button {
    &.button-primary {
        color: #666;
        background: var(--color-primary);
        border: var(--color-primary);
        text-shadow: none;
        
        &:hover {
            color: #666;
            background: var(--color-primary-light);
            background-color: var(--color-primary-light);
        }
    }

    &.button-primary-outline {
        color: #fff;
        border: 1px solid #498fb4;
        background: #498fb4;

        &:hover {
            background: transparent;
            color: #498fb4;
        }
    }
    
    &[disabled], &.disabled {
        color: #999;
    }
}