.button {
    &:hover {
        box-shadow: none;
    }
    border-radius: 0;
    &.button-default {
        background-color: $color_primary;
        border: 1px solid transparent;
        color: #FFF;

        .mdi {
            color: $tc-var;
            -webkit-transition: 0s;
            transition: 0s;
        }

        &:hover {
            background-color: #fff;
            border: 1px solid $color_primary;
            color:  $tc;
            text-decoration: underline;
            box-shadow: none;
            .mdi {
                color: $tc;
            }
        }
    }
    
    &.button-primary {
        color: #FFF;
        background: $color-default;
        text-shadow: none;
        border: 1px solid transparent;

        &:hover {
            color: $color-default;
            text-decoration: underline;
            background-color: $bg;
            box-shadow: none;
            border: 1px solid $color-default;
        }
    }
    &.button-two-spans{
        display: flex !important;
        padding: 7px !important;
        align-items: center !important;
        .icon-me {
            mask: url('../img/icon-me.svg');
            background: $color_default;
            transition: background-color 0.5s ease;
            display: inline-block;
            mask-size: cover;
            height: 30px;
            width: 30px;
            margin: 0 7px 0px 0px;
            border: 1px;
        }
        .first-line-button {
            line-height: 10px;
            font-size: 16px;
            height: 100%;
            text-align: right;
            flex: 1;
        }
        
        .second-line-button {
            display: none;
        }
        &:hover {
            .icon-me {
                mask: url('../img/icon-me.svg');
                background: #157c68;
                mask-size: cover;
            }
        }
    }
}