.button {
    border-radius: 5px;

    &.button-default {
        background-color: $lb;
        border-color: $color_default;
        color: #666;

        .mdi {
            color: #666;
        }

        &:hover {
            background-color: $color_default_light;
            border-color: $color_default_light;
            color: #666;

            .mdi {
                color: #666;
            }
        }
    }

    &.button-primary {
        color: #666;
        background: $color_primary;
        border: $color_primary;
        text-shadow: none;
        
        &:hover {
            color: #666;
            background: $color_primary_light;
            background-color: $color_primary_light;
        }
    }

    &.button-primary-outline {
        color: #fff;
        border: 1px solid #498fb4;
        background: #498fb4;

        &:hover {
            background: transparent;
            color: #498fb4;
        }
    }
    
    &[disabled], &.disabled {
        color: #999;
    }
}