.label {
    &.label-success {
        background: $color_primary;
        color: #fff;
    }

    &.label-primary {
        background: #1C8271;
        color: #fff;
    }

    &.label-square {
        border-radius: 4px;
    }
}