.modal .modal-content {
    .description{
        padding: 10px 0;
        font: 400 22px/34px var(--base-font);
        color: var(--placeholder_text_color);
    
        .popup-title-styled{
            color: #157c68;
            font-weight: 600;
            white-space: nowrap;
        }
    }

    .subdescription {
        color: var(--placeholder_text_color);

        .popup-title-styled{
            color: #157c68;
        }
    }
}
.block {
    &.block-auth-type {
        .auth_type-item {
            .auth_type-item-inner {
                &:hover {
                    .auth_type-name {
                        color: var(--bc);
                    }
                }
            }
        }
    }
}
