.header-splash: .splash

header.section.section-header.section-header-landing: .wrapper
    top-navbar

    .header-content
        .header-title {{ "home.header.title" | translate }}
        .header-description(ng-bind="'home.header.subtitle' | translate")
        a(href="#" translate="home.header.button").button.button-primary 

block-products(products="$ctrl.products" product-categories="$ctrl.productCategories")

section.section.section-map: .wrapper
    .block.block-map
        .block-content
            .block-title {{ "home.map.title" | translate }}
            .block-description {{ "home.map.subtitle" | translate }} 
            button(ng-click="$root.popups.offices.open()").button.button-primary {{ "home.map.button" |translate }}

section.section.section-blogs(ng-if="$root.appConfigs.features.blog"): .wrapper
    .section-title {{ "home.blog.title" | translate }}
    
    .block.block-blogs
        mixin blog_item(nth)
            .blog-item: a(href="#").blog-item-inner
                .blog-image: img(src="./assets/img/blog-image-" + nth + ".jpg")
                .blog-name Blog: {{ "home.blog.name" | translate }}
                .blog-read-more 
                    | {{ "home.blog.more" | translate }}
                    em.mdi.mdi-arrow-right
        +blog_item(1)
        +blog_item(2)
        +blog_item(3)
    .block.block-show-more: a(href="#").button.button-primary {{ "home.blog.button" | translate }}

contact-form 