.header-splash: .splash

header.section.section-header.section-header-landing: .wrapper
    top-navbar

    .header-content
        .header-title {{ "home.header.title" | translate }}
        .header-description(ng-bind="'home.header.subtitle' | translate")
        a(href="#" translate="home.header.button").button.button-primary 

block-products(products="$ctrl.products" product-categories="$ctrl.productCategories")

section.section.section-map: .wrapper
    .block.block-map
        .block-content
            .block-title Overzicht van leveranciers
            .block-description Binnen het forus platform werken sponsoren en leveranciers samen om de beste dienst te leveren voor het publieke domein. 
            button(ng-click="$root.popups.offices.open()").button.button-primary ZIE KAART

section.section.section-blogs(ng-if="$root.appConfigs.features.blog"): .wrapper
    .section-title Onze blog
    
    .block.block-blogs
        mixin blog_item(nth)
            .blog-item: a(href="#").blog-item-inner
                .blog-image: img(src="./assets/img/blog-image-" + nth + ".jpg")
                .blog-name Blog: Nieuw fonds Kindpakket 2019 Zuidhorn
                .blog-read-more 
                    | Lees meer
                    em.mdi.mdi-arrow-right
        +blog_item(1)
        +blog_item(2)
        +blog_item(3)
    .block.block-show-more: a(href="#").button.button-primary BEKIJK MEER

contact-form 