.header-splash: .splash.splash-product

header.section.section-header: .wrapper
    top-navbar

section.section.section-product: .wrapper
    .block.block-product
        .product-card
            .product-photo: img(ng-src="{{ $ctrl.product.photo.sizes.small }}", alt="")
            .product-details
                // pre {{ $ctrl.product | pretty_json }}
                .product-name
                    | {{ $ctrl.product.name }}
                    span.label.label-success {{ "product.status.active" | translate }}
                .product-categories(ng-bind="$ctrl.product.product_category.name")
                
                .product-funds
                    .product-fund-label {{ "product.labels.fonds" | translate }}
                    .product-fund-list(ng-repeat="fund in $ctrl.product.funds" ng-bind="fund.name")

                .product-price
                    .product-price-new € {{ $ctrl.product.price | to_fixed:2 }} 
                    .product-price-old € {{ $ctrl.product.old_price | to_fixed:2 }}
                
                .button.button-primary(ng-show="$ctrl.isApplicable" ui-sref="products-apply($ctrl.product)") KOOP
        
        .block.block-map_card
            .map_card-header
                .map_card-title {{ "product.labels.find" | translate }}
                .map_card-subtitle {{ "product.labels.example" | translate }}
            .map_card-iframe: google-map(offices="$ctrl.product.offices")
contact-form 