/*==========  Style Sheet - Vars  ==========*/

// base font
$bf:                'Open Sans', arial, sans-serif;

// text color
$tc:                #353535;

// base color
$bc:                #d13b3b;

// footer color
$fc:                #ffff;

// not displayed
$fd:                none;

// placeholder text color
$ptc:               #646f79;

$border_color:      #d2e6ff;

$border_radius:     8px;

$color_primary:         #305dfb;
$color_primary_light:   #4c74ff;

$color_default:         #305dfb;
$color_default_light:   #4c74ff;
