/*==========  Style Sheet - Vars  ==========*/

// navbar
$bg-nav:            #F5F5F5;

// header background
$bg-values:          url("../img/splash-top-b.png") no-repeat 100% 0;

// base font
$bf:                'Open Sans', arial, sans-serif;

// text color
$tc:                #353535;
$tc-var:            inherit;

// base color
$bc:                #d13b3b;

// background color
$bg:                #f3f8fe;

$bg_2:              linear-gradient(to bottom, #f3f8fe 0%, #feffff 100%);

// text formatting
$tf:                uppercase;

// footer color
$fc:                #fff;

// not displayed
$fd:                none;

// product image
$pi:                10px 0 0 10px;

// placeholder text color
$ptc:               #9b9b9b;

$border_color:      #d2e6ff;

$border_radius:     8px;
$base_shadow:       0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

$color_primary:         #305dfb;
$color_primary_light:   #4c74ff;

$color_default:         #305dfb;
$color_default_light:   #4c74ff;
