.button {
    font-weight: 700;
}

@media screen and (min-width: 1000px) {
    .button {
        font: 400 14px/1.5em $bf;

        &.button-wide {
            font-weight: 700;
            padding: 10px 25px;
        }
    }
}