.th-sort(
    ng-class="{'th-sort-enabled': $dir.value, 'th-sort-active': $dir.value && ($dir.value == $dir.filters.order_by)}"
    ng-click="$dir.onClick()")

    .th-sort-label(translate="{{ $dir.label }}")
    .th-sort-icon(ng-if="$dir.value")
        .mdi(
            ng-if="$dir.value == $dir.filters.order_by"
            ng-class="$dir.filters.order_dir == 'desc' ? 'mdi-menu-down' : 'mdi-menu-up'")

        .mdi.mdi-menu-down(ng-if="$dir.value != $dir.filters.order_by")