doctype
html(lang="en")
    include ../tpl/directives/website/head
    body(ng-cloak ng-controller="BaseController" modal-scroll-breaker)
        div(ng-if='$ctrl.showHeader'): include ../tpl/directives/website/navbar
        ui-view
        div(ng-if='$ctrl.showFooter'): include ../tpl/directives/website/footer
        include ../layout/includes/website/scripts