doctype
html(lang="en")
    include ../tpl/directives/website/head
    body(ng-cloak ng-controller="BaseController" modal-scroll-braker)
        navbar
        ui-view
        include ../tpl/directives/website/footer
        include ../layout/includes/modalContact
        include ../layout/includes/website/scripts