doctype
html(lang="en")
    include ../layout/includes/head
    body(ng-cloak ng-controller="BaseController")
        include ../layout/includes/header-website
        block content
        include ../layout/includes/footer
        include ../layout/includes/modalContact
        include ../layout/includes/scripts