doctype
html(lang="en")
    include ../layout/includes/head
    body(ng-cloak ng-controller="BaseController" class=modal_shown?'modal-shown':'')
        include ../layout/includes/header-website
        block content
        include ../layout/includes/footer-website
        include ../layout/includes/modalContact
        include ../layout/includes/scripts