// Button
.button {
    border-radius: 0;
}

// Navbar


// Header
@media screen and (min-width: 1024px) {
    .block {
        &.block-navbar {
            .block-navbar-primary {
                box-shadow: 0px -5px 9px 0px black;
                display: block;
                width: 100%;
                position: relative;
            }

            .navbar-list {
                .navbar-item-wrapper {
                    .navbar-item {
                        padding: 20px 0;
                    }
                }
            }
        }
    }

    .section {
        &.section-header {
            display: flex;
            flex-direction: column;
            justify-content: center;

            &:before {
                content: '';
                width: 100%;
                height: 80px;
                background: url(../img/header-frame-after.svg);
                background-color: #69c;
                bottom: 0;
                position: absolute;
            }

            .header-content {
                color: var(--tc-var);
                padding: 80px 0 160px;
            }
        }
    }
}

// Footer
.section {
    &.section-footer {
        background: url(../img/header-frame-after.svg);
        background-color: #EE8016;
        padding: 50px 0 0;
        margin-top: 0;
        color: var(--footer_color);
        display: block;
        a {
            color: var(--footer_color);
            &:hover {
                color: var(--footer_color);
                text-decoration: none;
            }
        }
        .wrapper {
            padding: 40px 50px;
            background-color: var(--footer_background_color);
        }
    }
}

.block {
    &.block-footer {
        .footer-nav {
            a {
                color: var(--footer_color);

                &:hover {
                    color: var(--footer_color);
                }
            }

            .footer-nav-item {
                a {
                    color: var(--footer_color);
    
                    &:hover {
                        color: var(--footer_color);
                    }
                }
            }
        }

        .footer-label {
            .wrapper {
                padding: 0;
            }
        }
    }
    &.block-copyrights {
        background-color: var(--footer_background_color);
        padding: 40px 0;
        margin-top: 50px;
        align-items: center;
        display: flex;
        justify-content: center;

        .links {
            a {
                color: var(--footer_color);

                &:hover {
                    color: var(--footer_color);
                }
            }
        }

        .developed {
            a {
                color: var(--footer_color);

                &:hover {
                    color: var(--footer_color);
                }
            }
        }
    }
}
