.app.app-container
    menu
    section.app.app-content
        p(ng-if="$ctrl.message" ng-bind="$ctrl.message | translate").form-error
        .card-heading(ng-bind="'notification_preferences.unsubscribe' | translate")
        button(
            ui-sref="#" translate="notification_preferences.unsubscribe_button"
            ng-click="$ctrl.unsubscribe()"
        ).button.button-primary

