.app.app-container
    menu
    section.app.app-content
        .card
            .card-section
                p
                    strong €{{ $ctrl.voucherTransction.amount | to_fixed:2 }}
                    strong.text-primary.pull-right Payment

            .card
                .card-header: .card-title Payment details
                .card-section
                    .card-block.card-block-keyvalue
                        .keyvalue-item
                            .keyvalue-key ID
                            .keyvalue-value {{ $ctrl.voucherTransction.payment_id }}
                        .keyvalue-item
                            .keyvalue-key Statement beneficiary
                            .keyvalue-value {{ $ctrl.voucherTransction.organization.name }}
                        .keyvalue-item
                            .keyvalue-key BUNQ Fee
                            .keyvalue-value € 0.10
                        .keyvalue-item
                            .keyvalue-key Date
                            .keyvalue-value {{ $ctrl.voucherTransction.date_time }}
                        