.app.app-container(ng-if="$root.activeOrganization && $root.auth_user && $ctrl.funds")
    menu
    section.app.app-content
        .card(class=(state=='closed' ? 'card-outline' : '')).card-financial.form
            .card-header
                .row
                    .col.col-lg-8.col-xs-12: .card-title.card-title-bold Huidig saldo en uitgaven
                    .col.col-lg-4.col-xs-12.text-right: button.button.button-primary(ng-click="$ctrl.exportFunds(false)")
                        .mdi.mdi-download.icon-start
                        | Exporteren

            .card-section
                .card-block.card-block-table.card-block-financial
                    .table-wrapper
                        table.table
                            tr
                                th Fondsnaam
                                th.text-right Totaal gestort
                                th.text-right Huidig saldo
                                th.text-right Uitgaven
                                th.text-right Transactiekosten

                            tr(ng-repeat="fund in $ctrl.funds.data")
                                td(ng-bind="fund.name")
                                td.text-right(ng-bind="fund.budget.total | currency_format")
                                td.text-right(ng-bind="fund.budget.left | currency_format")
                                td.text-right(ng-bind="fund.budget.used | currency_format")
                                td.text-right(ng-bind="fund.budget.transaction_costs | currency_format")
                                
                            tr.table-totals
                                td Totaal
                                td.text-right(ng-bind="$ctrl.funds.meta.total_amount | currency_format")
                                td.text-right(ng-bind="$ctrl.funds.meta.left | currency_format")
                                td.text-right(ng-bind="$ctrl.funds.meta.used | currency_format")
                                td.text-right(ng-bind="$ctrl.funds.meta.transaction_costs | currency_format")

        .card.card-collapsable.card-financial
            .card-header
                .card-title.card-title-bold: .row
                    .col.col-lg-6 Tegoeden
                    .col.col-lg-6.text-right: button.button.button-primary(ng-click="$ctrl.exportFunds(true)")
                        .mdi.mdi-download.icon-start
                        | Exporteren

            .card-section
                .card-block.card-block-table.card-block-financial: .table-wrapper: table.table
                    thead: tr
                        th.cell-chevron(width="5%") Fonds
                        th.text-left(width="20%")
                        th.text-right(width="10%") Totaal
                        th.text-right(width="15%") Actief
                        th.text-right(width="15%") Inactief
                        th.text-right(width="15%") Uitgaven
                        th.text-right Restant

                    tbody(ng-repeat="fund in $ctrl.funds.data")
                        tr(ng-class="{'table-separator': !fund.collapsedData}")
                            td.text-center: a.mdi.mdi-menu-down.td-menu-icon(
                                ng-class="{'mdi-menu-right': !fund.collapsedData, 'mdi-menu-down': fund.collapsedData}"
                                ng-click="fund.collapsedData = !fund.collapsedData")
                            td.text-left(ng-bind="fund.name")    
                            td.text-right(ng-bind="fund.budget.total | currency_format")
                            td.text-right(ng-bind="fund.budget.active | currency_format")
                            td.text-right(ng-bind="fund.budget.inactive | currency_format")
                            td.text-right(ng-bind="fund.budget.used | currency_format")
                            td.text-right(ng-bind="fund.budget.left | currency_format")

                        tr(ng-if="fund.collapsedData")
                            td.text-center: a.mdi.mdi-circle-small
                            td.text-left Totaal percentage
                            td.text-right {{ fund.budget.percentageTotal }} %
                            td.text-right {{ fund.budget.percentageActive }} %
                            td.text-right {{ fund.budget.percentageInactive }} %
                            td.text-right {{ fund.budget.percentageUsed }} %
                            td.text-right {{ fund.budget.percentageLeft }} %
                            
                        tr(ng-if="fund.collapsedData")
                            td.text-center: a.mdi.mdi-circle-small
                            td.text-left Totaalaantal
                            td.text-right {{ fund.budget.count }}
                            td.text-right {{ fund.budget.active_count }}
                            td.text-right {{ fund.budget.inactive_count }}
                            td.text-right -
                            td.text-right -
                            
                        tr(ng-if="fund.collapsedData" ng-class="{'table-separator': fund.collapsedData}")
                            td.text-center
                                a.mdi.mdi-circle-small: br
                                | &nbsp
                            td.text-left 
                                | Tegoeden
                                br
                                | &nbsp
                            td.text-right 
                                | Per tegoed
                                br
                                | {{ fund.limit_per_voucher | currency_format }}
                            td(colspan="2").text-right 
                                | Gem. per tegoed
                                br
                                | {{ fund.limit_sum_vouchers | currency_format }}
                            td
                            td
                                
                    tr.table-totals
                        td
                        td Totaal
                        td.text-right(ng-bind="$ctrl.funds.meta.total_amount | currency_format")
                        td.text-right(ng-bind="$ctrl.funds.meta.vouchers_active | currency_format")
                        td.text-right(ng-bind="$ctrl.funds.meta.vouchers_inactive | currency_format")
                        td.text-right(ng-bind="$ctrl.funds.meta.used | currency_format")
                        td.text-right(ng-bind="$ctrl.funds.meta.left | currency_format")
