.app.app-container(ng-if="$root.activeOrganization && $root.auth_user && $ctrl.funds")
    menu
    section.app.app-content
        .card-heading(ng-bind="'financial_dashboard_overview.header.title' | translate")

        .card.card-financial.form
            .card-header: .flex-row
                .flex.flex-grow: .flex-col.card-title.tooltipped 
                    | Huidig saldo en uitgaven 
                    tooltip(text="'Huidige saldo en uitgaven (afgerond) van de gekoppelde bankrekening per fonds De export bevat exacte bedragen.'")
                .flex: button.button.button-primary.button-sm(ng-click="$ctrl.exportFunds(false)")
                    .mdi.mdi-download.icon-start
                    translate(translate="financial_dashboard_overview.buttons.export")

            .card-section
                .card-block.card-block-table.card-block-financial
                    .table-wrapper
                        table.table
                            tr
                                th(translate="financial_dashboard_overview.labels.fund_name")
                                th.text-right(translate="financial_dashboard_overview.labels.total_budget") 
                                th.text-right(translate="financial_dashboard_overview.labels.current_budget")
                                th.text-right(translate="financial_dashboard_overview.labels.used_budget") 
                                th.text-right(translate="financial_dashboard_overview.labels.transaction_costs")

                            tr(ng-repeat="fund in $ctrl.funds.data")
                                td(ng-bind="fund.name")
                                td.text-right(ng-bind="fund.budget.total | currency_format")
                                td.text-right(ng-bind="fund.budget.left | currency_format")
                                td.text-right(ng-bind="fund.budget.used | currency_format")
                                td.text-right(ng-bind="fund.budget.transaction_costs | currency_format")

                            tr.table-totals
                                td(translate="financial_dashboard_overview.labels.total")
                                td.text-right(ng-bind="$ctrl.fundsFinancialOverview.total_amount | currency_format")
                                td.text-right(ng-bind="$ctrl.fundsFinancialOverview.left | currency_format")
                                td.text-right(ng-bind="$ctrl.fundsFinancialOverview.used | currency_format")
                                td.text-right(ng-bind="$ctrl.fundsFinancialOverview.transaction_costs | currency_format")

        .card.card-financial(ng-if="$ctrl.budgetFunds > 0")
            .card-header: .flex-row
                .flex.flex-grow: .flex-col.card-title.tooltipped 
                    | Tegoeden 
                    tooltip(text="'De tegoeden die zijn toegekend via het systeem met de huidige status (aantallen afgerond). De export bevat exacte aantallen.'")
                .flex: button.button.button-primary.button-sm(ng-click="$ctrl.exportFunds(true)")
                    .mdi.mdi-download.icon-start
                    translate(translate="financial_dashboard_overview.buttons.export")

            .card-section
                .card-block.card-block-table.card-block-financial: .table-wrapper: table.table
                    thead: tr
                        th.cell-chevron(width="5%" translate="financial_dashboard_overview.labels.funds")
                        th.text-left(width="20%")
                        th.text-right(width="10%" translate="financial_dashboard_overview.labels.total")
                        th.text-right(width="15%" translate="financial_dashboard_overview.labels.active") 
                        th.text-right(width="15%" translate="financial_dashboard_overview.labels.inactive") 
                        th.text-right(width="15%" translate="financial_dashboard_overview.labels.used") 
                        th.text-right(translate="financial_dashboard_overview.labels.left")

                    tbody(ng-repeat="fund in $ctrl.budgetFunds")
                        tr(ng-class="fund.collapsedData ? 'table-highlight' : 'table-separator'"
                            ng-click="fund.collapsedData = !fund.collapsedData")

                            td.text-center: a.mdi.mdi-menu-down.td-menu-icon(
                                ng-class="{'mdi-menu-right': !fund.collapsedData, 'mdi-menu-down': fund.collapsedData}")
                            td.text-left: strong(ng-bind="fund.name")    
                            td.text-right(ng-bind="fund.budget.vouchers_amount | currency_format")
                            td.text-right(ng-bind="fund.budget.active_vouchers_amount | currency_format")
                            td.text-right(ng-bind="fund.budget.inactive_vouchers_amount | currency_format")
                            td.text-right(ng-bind="fund.budget.used_active_vouchers | currency_format")
                            td.text-right(ng-bind="(fund.budget.vouchers_amount - fund.budget.used_active_vouchers) | currency_format")

                        tr.table-highlight-grey(ng-if="fund.collapsedData")
                            td.text-center: a.mdi.mdi-circle-small
                            td.text-left: strong(translate="financial_dashboard_overview.labels.total_percentage")
                            td.text-right {{ fund.budget.percentageTotal }} %
                            td.text-right {{ fund.budget.percentageActive }} %
                            td.text-right {{ fund.budget.percentageInactive }} %
                            td.text-right {{ fund.budget.percentageUsed }} %
                            td.text-right {{ fund.budget.percentageLeft }} %

                        tr.table-highlight-grey(ng-if="fund.collapsedData")
                            td.text-center: a.mdi.mdi-circle-small
                            td.text-left: strong(translate="financial_dashboard_overview.labels.total_count")
                            td.text-right  {{ fund.budget.vouchers_count }}
                            td.text-right  {{ fund.budget.active_vouchers_count }}
                            td.text-right  {{ fund.budget.inactive_vouchers_count }}
                            td.text-right  -
                            td.text-right  -

                        tr.table-highlight-grey(ng-if="fund.collapsedData" ng-class="{'table-separator': fund.collapsedData}")
                            td.text-center
                                a.mdi.mdi-circle-small: br
                                | &nbsp
                            td.text-left
                                strong Tegoeden
                                div &nbsp
                            td.text-right(colspan="2") 
                                div(ng-repeat="formula in fund.formulas").col-lg-6.text-right
                                    div Per tegoed
                                    div {{ formula.amount | currency_format }}
                            td.text-right
                                div Gem. per tegoed
                                div {{ fund.budget.averagePerVoucher | currency_format }}
                            td
                            td

                    tr.table-totals
                        td
                        td(translate="financial_dashboard_overview.labels.total")
                        td.text-right(ng-bind="$ctrl.fundsFinancialOverview.budget.vouchers_amount | currency_format")
                        td.text-right(ng-bind="$ctrl.fundsFinancialOverview.budget.vouchers_active | currency_format")
                        td.text-right(ng-bind="$ctrl.fundsFinancialOverview.budget.vouchers_inactive | currency_format")
                        td.text-right(ng-bind="$ctrl.fundsFinancialOverview.budget.used_active_vouchers | currency_format")
                        td.text-right(ng-bind="($ctrl.fundsFinancialOverview.budget.vouchers_amount - $ctrl.fundsFinancialOverview.budget.used_active_vouchers) | currency_format")