.app.app-container(ng-if="$root.activeOrganization && $root.auth_user && $ctrl.funds")
    menu
    section.app.app-content
        .card-heading(ng-bind="'financial_dashboard_overview.header.title' | translate")

        .card.card-financial.form
            .card-header: .flex-row
                .flex.flex-grow: .flex-col.card-title.tooltipped 
                    | Saldo en uitgaven 
                    tooltip(text="'Saldo en uitgaven van de gekoppelde bankrekening per fonds.'")
                .flex: button.button.button-primary.button-sm(ng-click="$ctrl.exportFunds(false)")
                    .mdi.mdi-download.icon-start
                    translate(translate="financial_dashboard_overview.buttons.export")

            .card-section
                .card-block.card-block-table.card-block-financial
                    .table-wrapper
                        table.table
                            tr
                                th(translate="financial_dashboard_overview.labels.fund_name")
                                th(translate="financial_dashboard_overview.labels.total_budget") 
                                th(translate="financial_dashboard_overview.labels.used_budget") 
                                th(translate="financial_dashboard_overview.labels.current_budget")
                                th(translate="financial_dashboard_overview.labels.transaction_costs")

                            tr(ng-repeat="fund in $ctrl.funds.data")
                                td(ng-bind="fund.name")
                                td(ng-bind="fund.budget.total | currency_format")
                                td(ng-bind="fund.budget.used | currency_format")
                                td(ng-bind="fund.budget.left | currency_format")
                                td(ng-bind="fund.budget.transaction_costs | currency_format")

                            tr.table-totals
                                td(translate="financial_dashboard_overview.labels.total")
                                td(ng-bind="$ctrl.fundsFinancialOverview.funds.budget | currency_format")
                                td(ng-bind="$ctrl.fundsFinancialOverview.funds.budget_used | currency_format")
                                td(ng-bind="$ctrl.fundsFinancialOverview.funds.budget_left | currency_format")
                                td(ng-bind="$ctrl.fundsFinancialOverview.funds.transaction_costs | currency_format")

        .card.card-financial(ng-if="$ctrl.budgetFunds.length > 0")
            .card-header: .flex-row
                .flex.flex-grow: .flex-col.card-title.tooltipped 
                    | Tegoeden 
                    tooltip(text="'De tegoeden die zijn toegekend via het systeem met de huidige status.'")
                .flex: button.button.button-primary.button-sm(ng-click="$ctrl.exportFunds(true)")
                    .mdi.mdi-download.icon-start
                    translate(translate="financial_dashboard_overview.buttons.export")

            .card-section
                .card-block.card-block-table.card-block-financial: .table-wrapper: table.table
                    thead: tr
                        th(width="20%" translate="financial_dashboard_overview.labels.fund_name")
                        th(width="10%" translate="financial_dashboard_overview.labels.total")
                        th(width="15%" translate="financial_dashboard_overview.labels.active") 
                        th(width="15%" translate="financial_dashboard_overview.labels.inactive") 
                        th(width="15%" translate="financial_dashboard_overview.labels.deactivated")
                        th(width="15%" translate="financial_dashboard_overview.labels.used") 
                        th(translate="financial_dashboard_overview.labels.left")

                    tbody(ng-repeat="fund in $ctrl.budgetFunds")
                        tr(ng-class="fund.collapsedData ? 'table-highlight' : 'table-separator'"
                            ng-click="fund.collapsedData = !fund.collapsedData")
                            td: .flex
                                a.mdi.mdi-menu-down.td-menu-icon(
                                ng-class="{'mdi-menu-right': !fund.collapsedData, 'mdi-menu-down': fund.collapsedData}")
                                strong.nowrap(ng-bind="fund.name | str_limit:50")
                            td(ng-bind="fund.budget.vouchers_amount | currency_format")
                            td(ng-bind="fund.budget.active_vouchers_amount | currency_format")
                            td(ng-bind="fund.budget.inactive_vouchers_amount | currency_format")
                            td(ng-bind="fund.budget.deactivated_vouchers_amount | currency_format")
                            td(ng-bind="fund.budget.used_active_vouchers | currency_format")
                            td(ng-bind="(fund.budget.vouchers_amount - fund.budget.used_active_vouchers) | currency_format")

                        tr.table-highlight-grey(ng-if="fund.collapsedData")
                            td: strong(translate="financial_dashboard_overview.labels.total_percentage")
                            td {{ fund.budget.percentageTotal }} %
                            td {{ fund.budget.percentageActive }} %
                            td {{ fund.budget.percentageInactive }} %
                            td {{ fund.budget.percentageDeactivated }} %
                            td {{ fund.budget.percentageUsed }} %
                            td {{ fund.budget.percentageLeft }} %

                        tr.table-highlight-grey(ng-if="fund.collapsedData")
                            td: strong(translate="financial_dashboard_overview.labels.total_count")
                            td(ng-bind="fund.budget.vouchers_count")
                            td(ng-bind="fund.budget.active_vouchers_count")
                            td(ng-bind="fund.budget.inactive_vouchers_count")
                            td(ng-bind="fund.budget.deactivated_vouchers_count")
                            td  -
                            td  -

                        tr.table-highlight-grey(ng-if="fund.collapsedData")
                            td: strong Tegoeden
                            td(colspan="2")
                                div(ng-repeat="formula in fund.formulas")
                                    div Per tegoed
                                    div: strong {{ formula.amount | currency_format }}
                            td
                                div Gem. per tegoed
                                div: strong {{ fund.budget.averagePerVoucher | currency_format }}
                            td
                            td(colspan="2")

                        tr.table-highlight-grey(ng-if="fund.collapsedData && fund.budget.children_count > 0")
                            td: strong Eigenschappen
                            td(ng-if="fund.budget.children_count > 0" colspan="6")
                                div Aantal kinderen
                                div: strong {{ fund.budget.children_count }}

                        tr.table-highlight-grey(ng-if="fund.collapsedData")
                            td: strong(translate="financial_dashboard_overview.labels.product_vouchers")
                            td(ng-bind="fund.product_vouchers.vouchers_amount | currency_format")
                            td(ng-bind="fund.product_vouchers.active_vouchers_amount | currency_format")
                            td(ng-bind="fund.product_vouchers.inactive_vouchers_amount | currency_format")
                            td(ng-bind="fund.product_vouchers.deactivated_vouchers_amount | currency_format")
                            td(colspan="2")

                    tr.table-totals
                        td(translate="financial_dashboard_overview.labels.total")
                        td(ng-bind="$ctrl.fundsFinancialOverview.budget_funds.vouchers_amount | currency_format")
                        td(ng-bind="$ctrl.fundsFinancialOverview.budget_funds.active_vouchers_amount | currency_format")
                        td(ng-bind="$ctrl.fundsFinancialOverview.budget_funds.inactive_vouchers_amount | currency_format")
                        td(ng-bind="$ctrl.fundsFinancialOverview.budget_funds.deactivated_vouchers_amount | currency_format")
                        td(ng-bind="$ctrl.fundsFinancialOverview.budget_funds.budget_used_active_vouchers | currency_format")
                        td(ng-bind="($ctrl.fundsFinancialOverview.budget_funds.vouchers_amount - $ctrl.fundsFinancialOverview.budget_funds.budget_used_active_vouchers) | currency_format")