.app.app-container
    menu
    section.app.app-content
        .card-heading {{ "funds_pug.title" | translate }} ({{ $ctrl.funds.length }}) 
        div(
            ng-if="$ctrl.funds.length > 0" 
            ng-repeat="fund in $ctrl.funds" 
            fund-card-sponsor fund="fund" level="$ctrl.fundLevel" organization="$ctrl.organization")
        block-empty(
            ng-if="$ctrl.funds.length == 0" 
            text="'Sorry, no funds available.'" )