.app.app-container
    menu
    section.app.app-content
        .block.block-breadcrumbs
            .breadcrumb-item(ui-sref="implementations({organization_id: $root.activeOrganization.id})") Webshops 
            .breadcrumb-item(ui-sref="implementation-view({organization_id: $root.activeOrganization.id, id: $ctrl.implementation.id})" ng-bind="$ctrl.implementation.name")
            .breadcrumb-item.active Content Management System
            
        .card: form(ng-submit="$ctrl.form.submit()").form
            .card-header
                .card-title(i18n="implementation_edit.header.title")
            
            .card-section.card-section-primary: .row: .col.col-lg-9
                .form-group.form-group-inline
                    label(translate="implementation_edit.labels.header_title").form-label
                    input(ng-model="$ctrl.form.values.title" type="text" placeholder="Titel").form-control
                    .form-error(ng-repeat="error in $ctrl.form.errors.title" ng-bind="error")

                .form-group.form-group-inline
                    label(translate="implementation_edit.labels.header_description").form-label
                    .form-offset: markdown(ng-model="$ctrl.form.values.description" extended-options="true")
                    .form-error(ng-repeat="error in $ctrl.form.errors.description" ng-bind="error")
            
            .card-section.card-section-primary
                .row: .col.col-lg-9
                    .form-group.form-group-inline.tooltipped(ng-show="!$ctrl.form.values.has_more_info_url")
                        label.form-label(translate="implementation_edit.labels.description")
                        .form-offset: markdown(ng-model="$ctrl.form.values.description_steps" extended-options="true")

                        tooltip(text="'Wanneer dit veld leeg gelaten wordt, worden de standaard blokken van de pagina weergegeven.'")
                        .form-error(ng-repeat="error in $ctrl.form.errors.description_steps" ng-bind="error")
            
                    .form-group.form-group-inline
                        label(for="info_url").form-toggle.form-label.flex-end 
                            .form-label(translate="implementation_edit.labels.more_info")
                            input(type="checkbox" id="info_url" ng-model="$ctrl.form.values.has_more_info_url").form-label
                            .form-toggle-inner.flex-end(style="padding-left:10px"): .toggle-input: .toggle-input-dot
                
                        input(ng-disabled="!$ctrl.form.values.has_more_info_url" ng-model="$ctrl.form.values.more_info_url" type="text" placeholder="bijv. http://uwgemeente.nl/uitleg-regeling").form-control
                        .form-error(ng-repeat="error in $ctrl.form.errors.more_info_url" ng-bind="error")
            
            .card-section.card-section-primary
                .row: .col.col-lg-9
                    .form-group.form-group-inline.tooltipped
                        label.form-label(translate="implementation_edit.labels.description_privacy")
                        .form-offset: markdown(ng-model="$ctrl.form.values.description_privacy" extended-options="true")
                        .form-error(ng-repeat="error in $ctrl.form.errors.description_privacy" ng-bind="error")

            .card-section.card-section-primary: .text-center
                button(type="button" ui-sref="implementation-view({organization_id: $root.activeOrganization.id, id: $ctrl.implementation.id})" translate="funds_edit.buttons.cancel").button.button-default
                button(type="submit" translate="funds_edit.buttons.confirm").button.button-primary
