.app.app-container
    menu
    section.app.app-content
        .block.block-breadcrumbs
            .breadcrumb-item(ui-sref="payment-methods({organization_id: $ctrl.organization.id})") Payment methods
            .breadcrumb-item.active Terms and conditions

        .card
            .card-header: .card-title Terms and conditions
            .card-section: .block.block-content
                h4 Labore et dolore magna aliqua?
                p
                    | Lorem ipsum dolor sit amet consectetur. Ultrices phasellus enim interdum feugiat vel.
                    | Pellentesque fames nec sit at. Nulla bibendum nulla nisl arcu blandit auctor tortor.
                    | Libero tristique gravida lorem ac tempor condimentum sem. Morbi egestas nisl ac quisque sapien.
                    | Magna nulla vestibulum dignissim quis. Enim vel tempus lobortis accumsan morbi arcu pulvinar.
                    | Nibh mattis amet vitae iaculis arcu. Purus tempor neque molestie id.
                    | Senectus sit cum ac arcu venenatis urna aliquet mattis id.

                hr

                h4 Key benefits

                .flex-row
                    .flex-col
                        ol
                            li Diam habitant tristique sed laoreet nullam blandit tincidunt lorem rutrum.
                            li Enim sit quam nisl sit interdum urna neque quam.
                            li Nec elementum ut ut enim consectetur nullam nunc sem lectus.
                            li Sit feugiat augue facilisi arcu lorem sapien suspendisse.

                    .flex-col
                        ol
                            li Diam habitant tristique sed laoreet nullam blandit tincidunt lorem rutrum.
                            li Enim sit quam nisl sit interdum urna neque quam.
                            li Nec elementum ut ut enim consectetur nullam nunc sem lectus.
                            li Sit feugiat augue facilisi arcu lorem sapien suspendisse.

                hr

                h4 Get The Latest Status Of Your Online & In-Person Sales

                p
                    | Eu nisi pretium arcu tellus erat morbi dictum diam. Tempus ut morbi viverra sem
                    | ullamcorper maecenas cras adipiscing sit. Erat sit vitae enim sapien vel a.
                    | Odio condimentum sed velit purus. Arcu duis sapien tincidunt non fermentum felis dui non.
                    | Morbi sapien tellus et hac id. Mauris pharetra elementum at id. Ac convallis fringilla
                    | tempus egestas lorem etiam feugiat maecenas. Ante eget viverra ullamcorper mi amet aenean.
                    | Ullamcorper lobortis ultricies quam quam nunc sit sed sed malesuada. Fermentum pharetra neque
                    | vitae in orci ullamcorper turpis sed. Ultrices accumsan sapien sit ridiculus tempor.
                    | Erat pretium nulla ipsum varius amet. Ornare ut pellentesque rhoncus in enim risus vitae sit et.

                p
                    | Lorem ipsum dolor sit amet consectetur. Ultrices phasellus enim interdum feugiat vel.
                    | Pellentesque fames nec sit at. Nulla bibendum nulla nisl arcu blandit auctor tortor.
                    | Libero tristique gravida lorem ac tempor condimentum sem. Morbi egestas nisl ac quisque sapien.
                    | Magna nulla vestibulum dignissim quis. Enim vel tempus lobortis accumsan morbi arcu pulvinar.
                    | Nibh mattis amet vitae iaculis arcu. Purus tempor neque molestie id.
                    | Senectus sit cum ac arcu venenatis urna aliquet mattis id.

                p
                    | Lorem ipsum dolor sit amet consectetur. Ultrices phasellus enim interdum feugiat vel.
                    | Pellentesque fames nec sit at. Nulla bibendum nulla nisl arcu blandit auctor tortor.
                    | Libero tristique gravida lorem ac tempor condimentum sem. Morbi egestas nisl ac quisque sapien.
                    | Magna nulla vestibulum dignissim quis. Enim vel tempus lobortis accumsan morbi arcu pulvinar.
                    | Nibh mattis amet vitae iaculis arcu. Purus tempor neque molestie id.
                    | Senectus sit cum ac arcu venenatis urna aliquet mattis id.


                h4 About

                p
                    | Aliquet nunc justo enim egestas dignissim eleifend. Vitae a elementum ut vulputate.
                    | Posuere sem nisl quam quisque pellentesque neque vitae. Id eleifend magna scelerisque nulla vestibulum.
                    | Facilisis quis quis ut morbi nulla non elit nunc nec. Nulla auctor quisque habitasse egestas lacus adipiscing.
                    | Massa morbi consectetur dictum fusce purus dignissim diam. Vitae amet ut in faucibus scelerisque risus pellentesque pharetra.
                    | Sit suspendisse eu pellentesque sapien massa mattis nisl eu etiam. Varius morbi varius gravida nunc habitasse amet magna.
                    | Facilisis molestie sed pellentesque in. Cras metus urna sollicitudin pharetra elementum morbi.
                    | Vitae vulputate et a cras faucibus tellus amet id. Viverra tortor eu euismod sed vitae viverra.
                    | Mauris felis integer pharetra eu massa.
