.app.app-container
    menu
    section.app.app-content 
        .card(ng-if="!$ctrl.bank"): .card-section: .block.block-empty.text-center
            .empty-title Niet beschikbaar
            .empty-details Geen verbindingen met een bank beschikbaar

        //- No connections
        .card(ng-if="$ctrl.bank && !$ctrl.bankConnection"): .card-section: .block.block-empty.text-center
            .empty-icon: img(src="./assets/img/bunq-logo.jpg").empty-icon-img
            .empty-title Bank integratie
            .empty-details: .row: .col-lg-6.col-sm-8.col-offset-sm-2.col-offset-lg-3
                | Gebruik de koppeling met uw bank om rekeninginformatie uit te lezen en transacties klaar te zetten.
            .empty-actions: button(ng-click="$ctrl.makeConnection($ctrl.bank.id)").button.button-primary
                em.mdi.mdi-qrcode-scan.icon-start
                | Koppelen

        .card.card-collapsed(ng-if="$ctrl.bank && $ctrl.bankConnection")
            .card-section 
                .card-section-actions
                    .button-group.flex-end
                        button(ng-click="$ctrl.makeConnection($ctrl.bank.id)").button.button-default
                            em.mdi.mdi-qrcode-scan.icon-start
                            | Geef opnieuw toestemming
                        button(ng-click="$ctrl.disableConnection($ctrl.bankConnection.id)").button.button-primary
                            em.mdi.mdi-trash-can-outline.icon-start
                            | Stopzetten

                .card-block.card-block-bank
                    .card-block-bank-media: img(src="./assets/img/bunq-logo.jpg")
                    .card-block-bank-details
                        .card-block-bank-name(ng-bind="$ctrl.bank.name")
                        .card-block-bank-properties
                            .card-block-bank-property
                                .card-block-bank-property-label Actieve IBAN

                                .card-block-bank-property-value(ng-if="$ctrl.bankConnection.accounts.length == 1")
                                    span(ng-bind="$ctrl.bankConnection.iban")

                                .card-block-bank-property-value.card-block-bank-property-value-link(
                                    ng-if="$ctrl.bankConnection.accounts.length > 1"
                                    ng-click="$ctrl.switchMonetaryAccount($ctrl.bankConnection)")
                                    span(ng-bind="$ctrl.bankConnection.iban")
                                    em.mdi.mdi-pencil-outline

        //- Connections history
        .card.card-collapsed(ng-if="$ctrl.bank && $ctrl.bankConnections.meta.total > 0")
            .card-header: .card-title Status verbindingen
            .card-section
                .card-block.card-block-table
                    .table-wrapper
                        table.table
                            tr
                                th.th-narrow.nowrap Datum van toestemming
                                th Verloopdatum
                                th Rekening
                                th.th-narrow.text-right Status
                            
                            tr(ng-repeat="bankConnection in $ctrl.bankConnections.data")
                                td(ng-bind="bankConnection.created_at_locale")
                                td Geen verloopdatum
                                td(ng-bind="bankConnection.iban")
                                td.text-right: .label(
                                    ng-class="bankConnection.state == 'active' ? 'label-success' : 'label-default'" 
                                    ng-bind="bankConnection.state_locale")

            .card-section(ng-if="$ctrl.bankConnections.meta" ng-show="$ctrl.bankConnections.meta.last_page > 1")
                paginator(meta="$ctrl.bankConnections.meta" filters="$ctrl.filters" on-page-change="$ctrl.onPageChange(query)")