.app.app-container: .row: .col.col-sm-8.col-sm-offset-2
    .card: form(ng-submit="$ctrl.form.submit()").form
        .card-header: .card-title Identiteit aanmaken
        .card-section.card-section-primary
            .row 
                .col.col-sm-10.col-xs-12
                    .form-group.form-group-inline
                        label.form-label E-mailadres
                        input(ng-model="$ctrl.form.values.records.primary_email" type="text" placeholder="E-mail").form-control
                        .form-error(ng-repeat="error in $ctrl.form.errors['records.primary_email']" ng-bind="error")
                    .form-group.form-group-inline
                        label.form-label Voornaam
                        input(ng-model="$ctrl.form.values.records.given_name" type="text" placeholder="Voornaam").form-control
                        .form-error(ng-repeat="error in $ctrl.form.errors['records.given_name']" ng-bind="error")
                    .form-group.form-group-inline
                        label.form-label Achternaam
                        input(ng-model="$ctrl.form.values.records.family_name" type="text" placeholder="Achternaam").form-control
                        .form-error(ng-repeat="error in $ctrl.form.errors['records.family_name']" ng-bind="error")
        .card-section.card-section-primary
            .text-center
                button(type="button" ui-sref="home").button.button-default Annuleren
                button(type="submit").button.button-primary Volgende