.app.app-container
    menu
    section.app.app-content
        .card(ng-if="$ctrl.transactions.length > 0" class=(state=='closed'?'card-outline':'')).form
            .card-header: .card-title Transactions ({{ $ctrl.transactions.length }})
            .card-section
                .card-block.card-block-table
                    .table-wrapper
                        table.table
                            tr
                                th BEDRAG 
                                th DATUM
                                th FUND
                                th PROVIDER
                                th STATUS
                            tr(
                                ng-repeat="transaction in $ctrl.transactions" 
                                ui-sref="financial-dashboard-transaction({organization_id: transaction.organization.id, fund_id: transaction.fund.id, fund_provider_id: transaction.organization.id, id: transaction.address})").pointer
                                td: a.text-primary-light €{{ transaction.amount | to_fixed:2 }}
                                td(ng-bind="transaction.date_time")
                                td(ng-bind="transaction.fund.name")
                                td(ng-bind="transaction.organization.name")
                                td(ng-bind="{pending: 'Pending', success : 'Voltooid'}[transaction.state]")
            // .card-section
                .table-pagination
                    .table-pagination-counter 8 resultaten
                    .table-pagination-navigation
                        button(disabled).button.button-default Vorige
                        button.button.button-default 1
                        button.button.button-default 2
                        button.button.button-primary 3
                        button(disabled).button.button-default Volgende
        empty-block(
            ng-if="$ctrl.transactions.length == 0" 
            text="'No transactions.'")