.form {
    .form-control:not([type="radio"]):not([type="checkbox"]) {
        border-radius: var(--border-radius);

        &::placeholder {
            color: #2D3748;
            opacity: 0.8;
        }
    }
}