.button {
    &.button-default {
        background-color: $lb;
        border: $color_primary_light;
        color: #666;
        box-shadow: 0 10px 15px -6px #969696;

        .mdi {
            color: #666;
        }

        &:hover {
            background-color: $color_default;
            border-color: $color_default_light;
            color: #666;

            .mdi {
                color: #666;
            }
        }
    }
    &.button-primary {
        color: #666;
        background: $color_primary;
        border: $color_primary;
        box-shadow: 0 10px 15px -6px #969696;
        text-shadow: none;

        &:hover {
            color: #666;
            background: $color_default;
            background-color: $color_default_light;
        }
    }
}