/*==========  Style Sheet - Vars  ==========*/

// base font
$bf:                'Source Sans Pro', sans-serif;

// text color
$tc:                #555;

// base color
$bc:                #d13b3b;

// placeholder text color
$ptc:               #646f79;