&.block-cms-funds {
    margin-top: 60px;

    .fund-item {
        .fund-information {
            .fund-label {
                .label {
                    background-color: #176B55;
                    font-size: 12px;
                    line-height: 22px;
                }
            }

            .fund-title {
                font: 400 32px/48px 'Oranda', sans-serif;
                color: #950022;
            }
        }
    }
}