&.block-cms-funds {
    margin-top: 50px;

    .fund-item {
        .fund-information {
            .fund-label {
                .label {
                    background-color: #950022;
                    font: 700 12px/12px 'Open Sans';
                    padding: 5px 7px;
                }
            }

            .fund-title {
                font: 400 32px/48px 'Oranda';
                color: #21444B;
            }
        }
    }
}