- var src_prefix = (qdt_c.platform.env_data.html5ModeEnabled?qdt_c.platform.env_data.html5Mode.basePath:'');

.block.block-file-uploader
    .uploader-droparea
        .droparea-icon: .mdi.mdi-file-upload-outline
        .droparea-title 
            | Document slepen &amp; neer zetten
            br
            small of
        .droparea-button: .button.button-primary-outline(ng-click="$dir.selectFile()") Upload een document
        .droparea-size max. grootte 8Mb
    
    .uploader-files(ng-if="files.length > 0")
        .file-item.file-item-with-progress(ng-repeat="file in files")
            .file-item-icon: img(ng-src=src_prefix + "./assets/img/file-icon-{{ (file.name.split('.')[file.name.split('.').length - 1]) }}.svg")
            .file-item-name
                | {{ file.name }}
                a(ng-click="$dir.removeFile(file)").file-item-remove: em.mdi.mdi-close