.wrapper {
    width: 1280px;    
    max-width: 100%;
    margin: 0 auto;
    display: block;
}
@media screen and (max-width: 1700px) {
    .wrapper {
        width: 1200px;
    }
}
@media screen and (max-width: 1500px) {
    .wrapper {
        width: 1100px;
    }
}
@media screen and (max-width: 1300px) {
    .wrapper {
        width: 1100px;
        padding: 0 25px;
    }
}
@media screen and (max-width: 1000px) {
    .wrapper {
        padding: 0 25px;
    }
}