.section {
    .section-title {
        font: 700 40px/60px $bf;
        margin: 0 0 40px;
    }

    &.section-header {
        padding: 80px 0 40px;
        position: relative;
        background-image: none;
        @include cf();

        .heade-sprite {
            background: url("../img/me/sprite-meapp.png") no-repeat;
            background-position: 100% 0%;
            background-size: auto 100%;
            @include fill_parent();
            bottom: -50px;
            z-index: 2;
        }

        .block-navbar {
           /* position: relative;*/
            z-index: 4;
        }

        .header-body {
            @include cf();
            position: relative;

            &.header-body-sprite-fill {
                position: initial;
            }
        }

        .header-content {
            padding: 105px 0;
            width: 75%;
            float: left;
            position: relative;
            z-index: 3;
            padding-bottom: 30px;
            padding-right: 120px;
            min-height: 450px;

            .header-title {
                font: 700 40px/50px $bf;
                margin: 0 0 25px;
            }

            .header-description {
                font: 400 22px/36px $bf;
                margin: 0 0 50px;
            }

            .header-download-apps {
                margin-right: -60px;
                padding-top: 50px;

                .app-item {
                    width: 100%;
                    display: block;
                    margin-bottom: 20px;
                    padding: 50px 50px 50px 200px;
                    font: 700 18px/30px $bf;
                    position: relative;
                    color: #282b39;
                    overflow: hidden;
                    border-radius: 5px;
                    background: #fff;
                    text-align: left;
                    transition: .4s;
                    transform: translate(0, 0);
                    box-shadow: 5px 15px 30px rgba($color: #000000, $alpha: .05);

                    .mdi {
                        top: 50%;
                        right: 40px;
                        position: absolute;
                        transform: translate(0, -50%);
                        font-size: 18px;
                        color: #5374d9;
                    }

                    &:before {
                        content: '';
                        position: absolute;
                        display: block;
                        width: 225px;
                        height: 200px;
                        left: -60px;
                        top: 50%;
                        border-radius: 200px;
                        background-color: #f9fbf0;
                        background-image: url('../img/me/icon-app-android.png');
                        background-repeat: no-repeat;
                        background-position: 70% 50%;
                        transform: translate(0, -50%);
                    }

                    &.app-item-ios {
                        &:before {
                            background-color: #f2fafd;
                            background-image: url('../img/me/icon-app-ios.png');
                        }
                    }

                    &:hover {
                        transform: translate(0, -5px);
                        box-shadow: 5px 20px 40px rgba($color: #000000, $alpha: .15);
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .header-sprite {
            display: none;
            position: absolute;
            width: 50%;
            height: 100%;
            top: 0;
            right: 0;
            background-position: 100% 100px;
            background-repeat: no-repeat;
            background-size: 100%;
        }

        .lang-selector {
            float: left;
            padding: 20px 20px;
            cursor: pointer;
            position: relative;
            margin: -20px 0;

            .lang-label {
                padding: 4px 0 0;
                font: 400 10px/16px $bf;

                .mdi {
                    display: block;
                    width: 20px;
                    color: #064597;
                    float: left;
                    font-size: 16px;
                    margin-left: -20px;
                }
            }

            .lang-active {
                font: 700 13px/20px $bf;
            }

            .lang-list {
                position: absolute;
                border: 1px solid #e8edf1;
                text-align: center;
                background: #fff;
                border-radius: 5px;
                margin-top: 10px;
                left: 50%;
                transform: translate(-50%);
                padding: 10px 0;
                display: none;

                &:before {
                    content: '';
                    display: block;
                    width: 20px;
                    height: 10px;
                    position: absolute;
                    bottom: 100%;
                    left: 50%;
                    transform: translate(-50%, 0);
                    background: url('../img/popup-arrow.png');
                }

                .lang-list-item {
                    padding: 5px 15px;
                    min-width: 110px;
                    font: 600 12px/18px $bf;
                    background: #fff;
                    transition: background .4s;

                    &:hover {
                        background: #d2e6ff;
                    }
                }
            }

            &:hover {
                .lang-list {
                    display: block;
                }
            }
        }

        &.section-header-landing {
            padding-bottom: 0;
        }
    }
    .section-title {
        font: 700 40px/60px $bf;
        margin: 0 0 40px;
        position: relative;
        color: #00122a;
    }

    &.section-header {
        padding: 40px 0 40px;
        position: relative;
        @include cf();

        .header-sprite {
            background: url("../img/sprite-meapp.png") no-repeat;
            background-position: 100% 0%;
            background-size: auto 90%;
            @include fill_parent();
            bottom: -50px;
            z-index: 2;
        }

        .block-navbar {
            position: relative;
            z-index: 4;
        }

        .header-body {
            @include cf();
        }

        .header-content {
            padding: 145px 0;
            width: 50%;
            float: left;
            position: relative;
            z-index: 3;

            .header-title {
                font: 700 40px/50px $bf;
                margin: 0 0 20px;
            }

            .header-description {
                font: 400 22px/36px $bf;
                margin: 0 0 50px;
            }

            .header-how-it-works {
                margin: 0 0 50px;
                font-style: italic;
                text-decoration: underline;
                cursor: pointer;
                font-size: 15px;
                transition: .4s;
            }

            .header-how-it-works:hover {
                color: #a5a5a5;
            }
        }

        .lang-selector {
            float: left;
            padding: 20px 20px;
            cursor: pointer;
            position: relative;
            margin: -20px 0;
            
            .lang-label {
                padding: 4px 0 0;
                font: 400 10px/16px $bf;

                .mdi {
                    display: block;
                    width: 20px;
                    color: #064597;
                    float: left;
                    font-size: 16px;
                    margin-left: -20px;
                }
            }

            .lang-active {
                font: 700 13px/20px $bf;
            }

            .lang-list {
                position: absolute;
                border: 1px solid #e8edf1;
                text-align: center;
                background: #fff;
                border-radius: 5px;
                margin-top: 10px;
                left: 50%;
                transform: translate(-50%);
                padding: 10px 0;
                display: none;

                &:before {
                    content: '';
                    display: block;
                    width: 20px;
                    height: 10px;
                    position: absolute;
                    bottom: 100%;
                    left: 50%;
                    transform: translate(-50%, 0);
                    background: url('../img/popup-arrow.png');
                }

                .lang-list-item {
                    padding: 5px 15px;
                    min-width: 110px;
                    font: 600 12px/18px $bf;
                    background: #fff;
                    transition: background .4s;

                    &:hover {
                        background: #d2e6ff;
                    }
                }
            }

            &:hover {
                .lang-list {
                    display: block;
                }
            }
        }

        &.section-header-landing {
            padding-bottom: 0;   
        }

        &.section-header-voucher {
            .header-content {
                padding-top: 100px;
                padding-bottom: 0;

                &:first-child {
                    padding-right: 15px;
                }

                &:last-child {
                    padding-left: 15px;
                }
            }

            .header-title {
                margin-top: 25px;
            }
        }
    }
}
.header-splash {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: -1;

    .splash {
        background-image: url("../img/splash-top-b.png");
        background-position: 100% 0%;
        background-size: auto 90%;
        background-repeat: no-repeat;
        height: 800px;
        width: 100%;

        &.splash-c {
            background-image: url("../img/splash-top-c.png");
            height: 920px;
        }

        &.splash-d {
            background-image: url("../img/splash-top-d.png");
            height: 1130px;
        }
    }
}