.block {
    &.block-sticky-footer {
        bottom: 0px;
        margin-top: 100px;
        position: fixed;
        z-index: 10;
        width: 100%;

        ul {
            display: table;
            width: 100%;
            background-color: #ffffff;
            box-shadow: 0 0 20px rgba(#000, .075);
        }

        img {
            width: 20px;
            display: block;
            margin: 0 auto;
        }
        li {
            font-size: 14px;
            width: 25%;
            padding: 10px 0;

            display: table-cell;
            text-align: center;
            border-right: 1px solid $border_color;

        }
    }
    &.block-navbar {
        z-index: 5;
        background-color: #ffffff;
        position: relative;

        .navbar-inner {
            @include cf();
            max-width: 100%;
            margin: 0 auto;
            display: flex;
        }

        .navbar-logo {
            justify-self: flex-start;
            padding: 30px 40px 30px 0;
            border-right: 1px solid $border_color;

            img {
                display: block;
                margin: 0 auto;

                &.hover {
                    display: none;
                }
            }
        }

        .navbar-list-mobile {
            //float: right;
            padding-left: 60px;
            flex-grow: 1;
            display: inline-block;
            text-align: left;

            .navbar-item-wrapper {
                display: inline-block;
                float: left;
                padding: 1% 5% 1%;

            }
        }

        .navbar-list {
            float: left;
            padding-left: 30px;
            flex-grow: 1;
            display: block;
            text-align: left;

            .navbar-item-wrapper {
                display: inline-block;
                position: relative;

                .navbar-item {
                    color: #646f79;
                    display: inline-block;
                    font: 700 15px/30px $bf;
                    padding: 30px 25px;
                    position: relative;
                    transition: .4s;
                    cursor: pointer;
                    font-weight: bold;
                    text-transform: uppercase;

                    &:before {
                        content: '';
                        top: 0;
                        left: 25px;
                        right: 25px;
                        height: 3px;
                        display: block;
                        position: absolute;
                        background: transparent;
                        transition: .4s;
                    }

                    &:hover {
                        color: #2987fd;

                        &:before {
                            background: #d2e6ff;
                        }
                    }

                    &.active {
                        color: #2987fd;

                        &:before {
                            background: #134478;
                        }
                    }
                }

                &:hover {
                    .navbar-menu {
                        display: block;
                    }
                }

                .navbar-menu {
                    background: #ffffff;
                    box-shadow: 0 0 20px rgba(#000, .075);
                    width: 220px;
                    left: 20px;
                    position: absolute;
                    top: 70px;
                    border: 1px solid #f3f4f5;
                    border-radius: 5px;
                    padding: 5px 0;
                    display: none;

                    .triangle {
                        position: absolute;
                        left: 15px;
                        bottom: 100%;
                    }

                    .navbar-menu-item {
                        display: block;
                        padding: 5px 15px;
                        font: 700 13px/26px $bf;
                        transition: .4s;
                        cursor: pointer;

                        img {
                            display: block;
                            float: left;
                            margin: 0 5px 0 0;
                        }

                        .mdi {
                            display: block;
                            width: 26px;
                            height: 26px;
                            margin: 0 5px 0 0;
                            float: left;
                            text-align: center;
                            font-size: 22px;
                        }

                        &:hover {
                            color: $color_primary;
                            background: #f6f8f9;
                        }
                    }

                    .navbar-menu-separator {
                        display: block;
                        border-bottom: 1px solid #f3f4f5;
                        width: 100%;
                        height: 5px;
                        margin: 0 0 5px
                    }
                }

            }

            .navbar-list-auth {
                margin-bottom: 30px;
            }

            &:first-child {
                padding-left: 0;
                border-left: 1px solid #e6ecf0;
            }
        }

        .navbar-mobile-menu {
            float: none;
            text-align: right;
            border-left: 1px solid #e6ecf0;

            .mdi {
                align-self: right;
                display: block;
                height: 60px;
                line-height: 60px;
                width: 60px;
                font-size: 30px;
                color: #9ca6af;
            }
        }

        .block-auth {
            border-left: 1px solid #e6ecf0;
            padding: 25px 25px 25px 25px;
            justify-self: flex-end;
            display: flex;
            @include cf();

            .button {
                padding: 7px 15px;
                float: left;
                margin-right: 20px;
                font: 700 14px/24px $bf;

                &:last-of-type {
                    margin-right: 0px;
                }
            }

            .auth-code {
                float: right;
            }

            .auth-out {
                float: right;
            }

            .auth-in {
                .auth-user {
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    margin-right: -15px;
                    cursor: pointer;

                    .mdi-cog {
                        margin-top: 5px;
                        display: flex;
                    }

                    .mdi-cog:before {
                        content: "\F493";
                        font-size: 26px;
                        color: #017f96;
                        margin: 0 auto;
                    }

                    .auth-user-details {
                        display: flex;
                        flex-direction: column;
                        padding-right: 10px;

                        .auth-user-email {
                            font: 700 13px/20px $bf;
                            color: $color_primary;
                            text-align: right;
                            grid-row: 1;
                            grid-column: 1 / 3;
                        }
    
                        .auth-user-logout,
                        .auth-user-type {
                            font: 400 13px/20px $bf;
                            color: #151b26;
                            grid-row: 2;
                            grid-column: 2 / 3;
                            text-align: right;
                        }

                        .auth-user-logout {
                            font: 600 12px/20px $bf;
                            display: flex;
                            justify-items: flex-end;
                            justify-content: flex-end;

                            .mdi {
                                line-height: 20px;
                                color: lighten($color: $tc, $amount: 15%);
                                font-size: 14px;
                                
                                &:first-child {
                                    margin: 0 2px 0 -2px;
                                    float: auto;
                                }
                                
                                &:last-child {
                                    margin: 0 0 0 2px;
                                    float: right;
                                }
                            }
                        }
                    }

                    .auth-user-avatar {
                        width: 40px;
                        height: 40px;
                        border-radius: 40px;
                        border: 1px solid $border_color;
                        right: 0;
                        grid-row: 1;
                        grid-column: 3 / 3;


                        &>img {
                            display: block;
                            width: 100%;
                        }
                    }

                    .auth-user-caret {
                        display: flex;
                        align-items: center;
                        color: $color_primary;
                        padding-left: 5px;
            
                        .mdi {
                            font-size: 20px;
                            font-weight: 600;
                            margin-top: 3px;
                        }

                        @media screen and (max-width: 1000px){
                            display: none;
                        }
                    }

                    .auth-user-menu {
                        background: #ffffff;
                        box-shadow: 2px 0 15px rgba(#000, .1);
                        width: 240px;
                        right: -5px;
                        position: absolute;
                        top: 38px;
                        border: 1px solid #f3f4f5;
                        border-radius: 5px;
                        padding: 5px 0;
                        display: none;

                        .triangle {
                            position: absolute;
                            right: 5px;
                            bottom: 100%;
                        }

                        .auth-user-menu-item {
                            display: block;
                            padding: 5px 15px;
                            font: 700 13px/26px $bf;
                            transition: .4s;
                            cursor: pointer;

                            img {
                                display: block;
                                float: left;
                                margin: 0 5px 0 0;
                            }

                            .mdi {
                                display: block;
                                width: 26px;
                                height: 26px;
                                margin: 0 5px 0 0;
                                float: left;
                                text-align: center;
                                font-size: 22px;
                            }

                            &:hover {
                                color: $color_primary;
                                background: #f6f8f9;
                            }
                        }

                        .auth-user-menu-separator {
                            display: block;
                            border-bottom: 1px solid #f3f4f5;
                            width: 100%;
                            height: 5px;
                            margin: 0 0 5px
                        }

                        &.active {
                            display: block;
                        }
                    }

                    &.auth-user-hover:hover .auth-user-menu {
                        display: block;
                    }
                }
            }

            &.block-auth-border {
                border-left: none;
            }
        }
    }

    @media screen and (max-width: 1700px) {
        &.block-navbar {
            .navbar-logo {
                padding: 20px 20px;

                img {
                    height: 30px;
                    margin: 0 0;
                }
            }

            .navbar-list {
                padding: 0;

                .navbar-item-wrapper {
                    .navbar-item {
                        padding: 15px;
                        &:before {
                            left: 15px;
                            right: 15px;
                        }
                    }
                }
            }

            .block-auth {
                padding: 15px 20px;

                .auth-in {
                    .auth-user {
                        .auth-user-email {
                            font: 700 12px/20px $bf;
                        }

                        .auth-user-logout,
                        .auth-user-type {
                            font: 400 11px/20px $bf;
                        }
                    }
                }

                .button {
                    font: 700 14px/24px $bf;

                    &:hover {
                        box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.1);
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1000px) {
        &.block-navbar {
            padding: 0 0;
            border-radius: 0;
            position: relative;

            .navbar-inner {
                padding: 0 0;
                border-radius: 0;
                justify-content: flex-end;
            }

            .navbar-logo {
                padding: 15px 0px;
                padding-left: 20px;
                padding-right: -40px;
                border-right: none;
                flex-grow: 1;

                img {
                    height: 30px !important;
                }
            }

            .block-auth {
                padding: 10px 10px 10px 0;
                border: none;
                display: block;

                .button {
                    margin-right: 10px;
                    font-size: 11px;
                    padding: 7px 10px;
                    border: none;
                    box-shadow: none;

                    .mdi, img {
                        margin: 0 auto;
                        text-align: center;
                        float: none;
                    }
                }

                .mdi-cog {
                    display: none;
                }

                .auth-in {
                    .auth-user {
                        margin-right: 0;
                        justify-content: flex-end;

                        .auth-user-email {
                            font: 700 12px/22px $bf;
                        }

                        .auth-user-logout,
                        .auth-user-type {
                            font: 500 12px/14px $bf;
                        }
                    }
                }
            }

            .navbar-list {
                display: none;
                position: absolute;
                width: 100%;
                top: 100%;
                background: #fff;
                height: calc(100vh - 100%);
                border-top: 1px solid #e6ecf0;
                padding: 50px 0;
                z-index: 2;

                .navbar-item-wrapper {
                    width: 100%;
                    margin-bottom: -1px;

                    .navbar-item {
                        padding: 10px 20px;
                        padding-left: 15px;
                        font: 700 12px/30px $bf;
                        color: #646f79;
                        border-bottom: 1px solid #e6ecf0;
                        width: 100%;
                        display: block;
                        border-left: 5px solid transparent;
                        transition: .4s;

                        &:first-of-type {
                            border-top: 1px solid #e6ecf0;
                        }

                        &:hover,
                        &.active {
                            border-left-color: #3396a7;

                            &:before,
                            &:after {
                                display: none;
                            }
                        }
                    }
                }

                &.navbar-list-show {
                    display: block;
                }
            }
        }
    }
}
