.wrapper{
    align-items: center;

    &_me, &_sup {
        display: flex;
        margin: auto;             
        .column {
            flex: auto;
            width: 50%;
            padding: 20px 30px 20px 30px;

            &_xs {
                width: 5%;
                height: 300px;
            }
            &_sm {
                width: 50%;
                display: flex;
                margin: 5%;

                .g_maps {
                    height: 460px;
                    width: 655px;
                    border: none;
                }

                span {
                    float: right;

                    ul {
                    }
                }
            }
            span {
                max-width: 500px;
                float: right;
            }
            a {
                img {
                    height: auto;
                }
            }
            img {
                -webkit-background-size: contain;
                -moz-background-size: contain;
                -o-background-size: contain;
                background-size: contain;
                height: 500px;
            }
        }
        
    }
    &_feature_one {
        background-color: #f9fafb;
        display: flex;
        margin: auto;
        &_white {
            margin-top: 100px;
            background-color: white;
        }
        .column {
            padding: 0 30px 0 30px;
            flex: auto;
            width: 50%;

            span {
                max-width: 500px;
                float: left;
                vertical-align: middle;
            }
            img {
                -webkit-background-size: contain;
                -moz-background-size: contain;
                -o-background-size: contain;
                background-size: contain;
                float: right;
                height: 600px;
                padding: 50px 0 0 0;
            }
            .small{
                max-height: 350px;
            }
        }
    }
    &_feature_two {
        display: flex;
        margin: auto;
        .column {
            padding: 0 30px 0 30px;
            flex: auto;
            width: 50%;

            span {
                max-width: 500px;
                float: right;
                vertical-align: middle;
            }
            img {
                -webkit-background-size: contain;
                -moz-background-size: contain;
                -o-background-size: contain;
                background-size: contain;
                width: 850px;
                padding: 50px 0 0 0;
            }
            .small{
                max-width: 560px;
                float: left;
            }
        }

    }
    &_feature_three {
        padding: 10px 0 10px 0;
        background-color: #f9fafb;
        display: flex;
        margin: auto;

        .column {
            padding: 0 30px 0 30px;
            flex: auto;
            width: 50%;

            span {
                max-width: 500px;
                float: left;
                vertical-align: middle;
            }
            img {
                -webkit-background-size: contain;
                -moz-background-size: contain;
                -o-background-size: contain;
                background-size: contain;
                float: right;
                height: 500px;
                padding: 50px 0 0 0;
            }   
        }
    }
    &_fund {
        .container {
            text-align: center;
            width: 100%;
        }
        .wrapper_desc {
            margin-bottom: 50px;
        }
        .fund {
            font-family: Montserrat;
            
            font-weight: 500;
            letter-spacing: 1px;
            color: #7e818c;
            text-align: center;
            margin-top: 25px;
        }
        .macbookpro {
            width: 1170px;
            height: 673px;
            object-fit: contain;
        }                  
    }
    &_current {
        .container{
            p {
                max-width: 835px;
            }
            svg, img {
                margin: 0 auto;
                width: 120px;
                height: 120px;
                display: block;
                margin-bottom: 18px;
            }
            .me-logo {
                height: 100px;
            }
            hr {
                margin-bottom: 75px;
                margin-top: 75px;
            }
        }
        .wrapper_numbers {
            display: flex;
            width: 100%;
            max-width: 800px;
            margin: 0 auto;
            margin-top: 25px;
            flex-direction: row;
            justify-content: space-around;
            .col-33{
                width: 33.33%;
            }
            h2 {
                font-weight: 600;
                text-align: center;
                color: var(--text-color); 
            }
            h4 {
                text-align: center;
                color: var(--text-color);  
                font-weight: 500;
            }
            .number_link {
                text-decoration: underline;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    &_explain {
        margin-bottom:125px;
        .container {
            display: flex;
            justify-content: space-between;
            img {
                width:560px;
                height: 350px;
            }
        }
        span {
            width:462px;
            display:block;
            float:left;
        }   
    }
}