// these items have  section as parent class, while other implementatios have block as parent

.section {
    .section-title {
        text-align: center;
    }

    &.section-profile {
        .section-title {
            text-align: left;
            color: #fff;
        }
   }
}