div: .select-control-options(scroll-end="$dir.onScrolledOption()")
    .block.block-vouchers.block-vouchers-select
        .voucher-item.voucher-item-select.voucher-item-select(
            ng-repeat="option in $dir.options track by $index"
            ng-click="$dir.select(option)"
            dusk="voucherSelectorOption{{ option.raw.id }}")

            .voucher-image
                img(ng-src="{{ option.raw.fund.logo.sizes.thumbnail || option.raw.fund.organization.logo.sizes.thumbnail || './assets/img/placeholders/fund-thumbnail.png'}} ")

            .voucher-details: .flex.flex-horizontal
                .flex.flex-vertical.flex-grow
                    .voucher-name(ng-bind="option.raw.fund.name")
                    .voucher-organization
                        span(ng-if="option.raw.records_title" ng-bind='option.raw.records_title')
                        .text-separator(ng-if="option.raw.records_title")
                        span(ng-bind="option.raw.fund.organization.name")

                .flex.flex-vertical.text-right
                    .voucher-value(ng-if="option.raw.fund.type === 'budget'" ng-bind="option.raw.amount | currency_format")
                    .voucher-date(ng-bind="option.raw.expire_at_locale")
