.dev-pages
    h5: b Sponsor dashboard
    ul
        li: a(href="landing-sponsor.html") Landing
        li: a(href="index.html") Start
        li: a(href="financial-dashboard.html") Financial Dashboard
        li: a(href="funds.html") Funds
        li: a(href="funds-old.html") Funds (old)
        li: a(href="funds-my.html") My funds
        li: a(href="funds-add.html") Add fund
        li: a(href="fund.html") Fund
        li: a(href="transactions.html") Transactions
        li: a(href="transaction.html") Transaction
        li: a(href="404.html") 404
        li: a(href="vouchers.html") Vouchers
        li: a(href="login-types.html") Login types
        li: a(href="organization-add.html") Add organization
        li: a(href="validators.html") Validators
        li: a(href="validator.html") Validator 
        li: a(href="user-sessions.html") User sessions
        li: a(href="external-validators.html") External validators
        li: a(href="providers.html") Providers
        li: a(href="fund-provider.html") Fund provider
        li: a(href="fund-provider-subsidie.html") Fund provider (subsidie)
        li: a(href="fund-provider-product.html") Fund provider product
        li: a(href="fund-provider-subsidie-product.html") Fund provider product (subsidie)
        li: a(href="modal-chat.html") Fund provider product (chat modal)
    br
    h5: b Validator dashboard
    ul
        li: a(href="landing-validator.html") Landing
        li: a(href="csv-upload.html") CSV Upload
        li: a(href="notifications.html") Notifications
        li: a(href="record-validate.html") Record validate
        li: a(href="record-requests.html") Record requests
        li: a(href="fund-requests.html") Fund requests
        li: a(href="external-funds.html") External funds
    br
    h5: b Provider dashboard
    ul
        li: a(href="landing-provider.html") Landing
        li: a(href="offices.html") Offices
        li: a(href="office-add.html") Add office
        li: a(href="provider-edit.html") Provider edit
        li: a(href="product.html") Product
        li: a(href="product-add.html") Add product
    h5: b Me app
    ul
        li: a(href="landing-meapp.html") Landing
    h5: b [modals]
    ul
        li: a(href="modal-funds-add.html") Modal fund add
        li: a(href="modal-funds-added.html") Modal fund added
        li: a(href="modal-chat.html") Fund provider product (chat modal)
        li: a(href="modal-duplicate-vouchers.html") Modal duplicate vouchers
        li: a(href="modal-duplicate-prevalidations.html") Modal duplicate prevalidations
        li: a(href="modal-danger-zone.html") Modal (danger zone)
        li: a(href="modal-subsidy-edit.html") Modal (edit subsidy)
        li: a(href="modal-fund-offers.html") Modal (provider fund accepted offers)

    a(href="#").show
        span.mdi.mdi-radioactive
        span.mdi.mdi-pin
        span.mdi.mdi-pin-off