.dev-pages
    h5: b Sponsor dashboard
    ul
        li: a(href="landing-sponsor.html") Landing
        li: a(href="index.html") Start
        li: a(href="financial-dashboard.html") Financieel Dashboard
        li: a(href="funds.html") Funds (new)
        li: a(href="funds-my.html") My funds (old)
        li: a(href="funds-add.html") Fonds toevoegen
        li: a(href="fund.html") Funds (old)
        li: a(href="transactions.html") Transacties
        li: a(href="transaction.html") Transactie
        li: a(href="404.html") 404
        li: a(href="modal-funds-add.html") Modals fondsen toevoegen
        li: a(href="modal-funds-added.html") Modals fondsen toegevoegd
        li: a(href="providers.html") Leveranciers
        li: a(href="vouchers.html") Vouchers
        li: a(href="login-types.html") Login types
        li: a(href="organization-add.html") Organisatie toevoegen
        li: a(href="validators.html") Validators
        li: a(href="validator.html") Validator aanpassen
        li: a(href="fund-provider.html") Fund provider
        li: a(href="user-sessions.html") User sessions
        li: a(href="external-validators.html") External validators
    br
    h5: b Validator dashboard
    ul
        li: a(href="landing-validator.html") Landing
        li: a(href="csv-upload.html") CSV Upload
        li: a(href="notifications.html") Notificaties
        li: a(href="record-validate.html") Eigenschap valideren
        li: a(href="record-requests.html") Validatie aanvragingen
        li: a(href="fund-requests.html") Fund requests
        li: a(href="external-funds.html") External funds
    br
    h5: b Provider dashboard
    ul
        li: a(href="landing-provider.html") Landing
        li: a(href="offices.html") Vestigingen
        li: a(href="office-add.html") Vestiging toevoegen
        li: a(href="provider-edit.html") Leverancier aanpassen
        li: a(href="products.html") Producten
        li: a(href="product.html") Product
        li: a(href="product-add.html") Product toevoegen
    h5: b Me app
    ul
        li: a(href="landing-meapp.html") Landing
    h5: b Modals
    ul
        li: a(href="modal-danger-zone.html") Modal (danger zone)

    a(href="#").show
        span.mdi.mdi-radioactive
        span.mdi.mdi-pin
        span.mdi.mdi-pin-off