.dev-pages
    h5: b Organization dashboard
    ul
        li: a(href="index.html") Home
        li: a(href="financial-dashboard.html") Financial Dashboard
        li: a(href="funds.html") Funds
        li: a(href="funds-my.html") My Funds
        li: a(href="funds-add.html") Add Fund
        li: a(href="fund.html") Fund
        li: a(href="transactions.html") Transactions
        li: a(href="transaction.html") Transaction
        li: a(href="404.html") 404
        li: a(href="modal-funds-add.html") Modals funds add
        li: a(href="modal-funds-added.html") Modals funds added
        li: a(href="providers.html") Providers
        li: a(href="login-types.html") Login types
        li: a(href="organization-add.html") Organization add
        li: a(href="validators.html") Validators
        li: a(href="validator.html") Validator edit
    br
    h5: b Validator dashboard
    ul
        li: a(href="csv-upload.html") CSV Upload
        li: a(href="notifications.html") Notifications
        li: a(href="record-validate.html") Record validate
        li: a(href="record-requests.html") Record requests
    br
    h5: b Provider dashboard
    ul
        li: a(href="offices.html") Offices
        li: a(href="office-add.html") Add office
        li: a(href="provider-edit.html") Provider edit
        li: a(href="products.html") Products
        li: a(href="product.html") Product
        li: a(href="product-add.html") Add Product

    a(href="#").show
        span.mdi.mdi-radioactive
        span.mdi.mdi-pin
        span.mdi.mdi-pin-off