header.app.app-header
    .wrapper.flex-row
        //- Logo
        //- a(href="./index.html").header-logo: img(src="./assets/img/general-logo.svg").header-logo-img
        .header-organization-switcher
            .organization-preview
                img.organization-logo(src='./assets/img/placeholders/organization-thumbnail.png')
                .organization-name Westerkwartier
                .organization-switcher-arrow

        
        .flex-grow &nbsp;
        
        //- .active.update
        .notifications.update
            .notifications-icon: .mdi.mdi-bell-outline
            .notifications-icon.notifications-icon-updates: .mdi.mdi-bell
            .notifications-menu: .notifications-menu-inner
                .arrow-box: .arrow
                .notifications-menu-header 
                    | Notifications (35)
                    .notifications-menu-header-link 
                        | View all
                        em.mdi.mdi-arrow-right 
                
                .notifications-menu-body.nano
                    .nano-content
                        mixin notification_item(icon, text, date)
                            .notifications-menu-item
                                //- .notifications-menu-item-icon: img(src="./assets/img/note-icons/note-icon-" + icon + ".jpg")
                                .notifications-menu-item-details
                                    .notifications-menu-item-text=text
                                    .notifications-menu-item-date
                                        em.mdi.mdi-clock-outline
                                        | #{date}
                        
                        +notification_item('quote', 'Payment succeeded', 'Jan 23, 12:26 AM')
                        +notification_item('quote', 'Payment declined by customer\'s bank The bank returned the decline code do...', 'Jan 23, 12:26 AM')
                        +notification_item('quote', 'Stripe risk evaluation: normal', 'Jan 23, 12:26 AM')
                        +notification_item('quote', 'Lorem ipsum dolor sit amet, consectet...', 'Jan 23, 12:26 AM')
                        +notification_item('quote', 'Lorem ipsum dolor sit amet, consectet...', 'Jan 23, 12:26 AM')

        .header-auth
            .auth-user
                .auth-user-details
                    .auth-user-name info@rminds.nl
                    .auth-user-role Sponsor
                img(src="./assets/img/organization-logo.jpg").auth-user-img
                .auth-user-caret: em.mdi.mdi-chevron-down
                //- .auth-user-menu
                    a(href="#").auth-user-menu-item
                        em.mdi.mdi-account
                        | My profile
                    a(href="#").auth-user-menu-item
                        em.mdi.mdi-cog
                        | Settings
                    .auth-user-menu-sep
                    a(href="#").auth-user-menu-item
                        em.mdi.mdi-logout
                        | Sign out