head
    meta(charset="UTF-8")
    title 
        | Quick Dev Template - 
        | #{"(gulp, browser-sync, scss, jade, bootstrap 3, jquery, mdi, angular, underscore, underscore.string)"}

    //- disable resize on mobiles
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

    //- fonts
    link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,700" rel="stylesheet")

    //- material design icons (by google)
    if (qdt_c.platform.libs.mdi)
        link(rel="stylesheet", href="assets/dist/mdi/css/materialdesignicons.min.css")

    //- bootstrap 3
    if (qdt_c.platform.libs.bootstrap_3)
        link(rel="stylesheet", href="assets/dist/bootstrap/css/bootstrap.min.css")

    //- angular csp (cloack)
    if (qdt_c.platform.libs.angular)
        link(rel="stylesheet", href="assets/dist/angular/angular-csp.css")

    //- custom style
    link(rel="stylesheet", href="assets/css/style.min.css")