#modalContact.modal.fade(role="dialog")
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type="button" data-dismiss="modal")
                    //include ../../../resources/platform-general/assets/img/svg/close.svg
                h4.modal-title Vragen?
                    br
                    | Neem contact met ons op
            .modal-body
                include formContact
