.oldie
    .header-splash
        .splash
    .block.block-old-ie
        .text-center
            img(src="./assets/img/old-browser.png")

            .title Deze verouderde internetbrowser wordt niet ondersteund.
            .description
                | Dit platform maakt gebruik van de nieuwste technologieen.
                | Uit veiligheidsoverwegingen is er voor gekozen om jouw internetbrowser
                | niet te ondersteunen. Wij raden het aan om een andere browser te
                | downloaden die wel de mogelijkheid bied om deel te nemen aan het platform.
                | Onderstaande knoppen wijzen naar verschillende aanbieders van zulke internet browsers.

            .btn-block
                a(href="https://www.google.com/chrome/").button.button-upper
                    img(src="./assets/img/chrome.png")
                    |Download chrome
                a(href="https://www.mozilla.org/en-US/firefox/").button.button-upper
                    img(src="./assets/img/firefox.png")
                    | Download firefox
                a(href="https://www.opera.com/").button.button-upper
                    img(src="./assets/img/opera.png")
                    | Download opera