- var src_prefix = (qdt_c.platform.env_data.html5ModeEnabled?qdt_c.platform.env_data.html5Mode.basePath:'');

//- libs bundle
script(src=src_prefix + "./assets/dist/bundle/js/bundle.min.js")

//- custom script
script(src=src_prefix + "./assets/js/app.min.js")

//- babel polyfill
    script(src="assets/dist/babel-polyfill/polyfill.min.js")

//- jquery
    script(src="assets/dist/jquery/jquery.min.js")

//- bootstrap 3
script(src="assets/dist/bootstrap/js/bootstrap.min.js")
