.block {
    &.block-contact_form {
        padding: 240px 0 120px;
        position: relative;
        z-index: 1;

        .contact-title {
            color: #fff;
            font: 700 60px/60px $bf;
            margin-bottom: 60px;
        }

        .contact-form {
            border-radius: 2px;

            .contact-details {
                .contact-email {
                    color: #a92b2d;
                }
            }
        }
    }
}