.section {
    &.section-fund {
        margin: 0 30px;

        .wrapper {
            width: 1000px;
        }
        
        .block-markdown {
            font: 400 16px/24px var(--base-font);

            h1, h2, h3, h4, h5, h6 {
                color: #A80A2D;
            }
        }
    }
}