.block {
    &.block-fund {
        .fund-content {
            padding-bottom: 40px;
            border-bottom: 2px solid #e1e1e1;

            .fund-card {
                background: none;
                box-shadow: none;

                .fund-details {
                    padding: 0;

                    .fund-details-title {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}
