.block {
    &.block-blogs {
        .blog-item {
            padding: 0 25px;

            .blog-image {
                margin: -1.25rem -1.25rem -1.5rem;
                border-radius: .25rem;
            }

            .blog-name {
                color: #a80a2d;
                font: 600 18px/26px $bf;
            }

            .blog-read-more {
                text-align: right;
                color: #157c68;
                text-transform: uppercase;
            }

            .blog-item-inner {
                border-radius: .25rem;
                box-shadow: $base_shadow;
                padding: 1.25rem;
                @include cf();
                position: relative;
                transform: none;

                &:hover {
                    transform: none;
                    box-shadow: $base_shadow;


                    .blog-name {
                        color: initial;
                    }
                }
            }
        }
    }
}