.popups {
    .popup {
        @include fill_parent();
        position: fixed;
        z-index: 5;
        display: flex;
        align-items: center;

        .popup-backdrop {
            @include fill_parent();
            cursor: pointer;
            background: #{rgba(#192734, .5)};
        }

        .popup-close {
            position: absolute;
            right: 30px;
            top: 30px;
            color: #646f79;
            font-size: 28px;
            cursor: pointer;
            z-index: 1;
        }

        .popup-content {
            position: relative;
            width: 1200px;
            max-width: 100%;
            background: #f7f9fc;
            border-radius: 8px;
            min-height: 100px;
            overflow: hidden;
            margin: 0 auto;
            box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
        }

        .popup-footer {
            padding: 30px;
            border-top: 1px solid #d2e6ff;

            .footer-text {
                font: 700 18px var(--base-font);
                color: #151b26;
                margin-bottom: 20px;
            }

            .popup-footer-links {}

            .popup-footer-link {
                display: block;
                color: #157c68;
                font: 700 13px/30px var(--base-font);

                span {
                    display: block;
                    width: 40px;
                    float: left;
                }
            }
        }

        &.popup-auth {
            padding: 30px 200px;

            .popup-title {
                color: #282b39;
                font: 700 40px var(--base-font);
                text-align: center;
                margin-bottom: 10px;
            }

            .popup-subtitle {
                color: #646f79;
                font: 400 22px var(--base-font);
                text-align: center;
                padding-bottom: 30px;
            }

            .popup-content {
                padding: 30px 200px;

                .form {
                    width: 480px;
                    margin: 0 auto;
                    padding: 10px 0;
                }
            }

            .popup-footer {
                padding: 30px 200px;
                margin: 30px -200px -30px;
            }
        }

        &.popup-shops_map {}
    }

    @media screen and (max-width: 1500px) {
        .popup {
            .popup-content {
                width: 1000px;
            }

            .popup-footer {
                .footer-text {
                    font: 500 15px var(--base-font);
                    margin: 0 0 15px;
                }

                .popup-footer-link {
                    font: 700 12px/26px var(--base-font);
                }
            }

            &.popup-auth {
                .popup-title {
                    font: 700 24px var(--base-font);
                }

                .popup-subtitle {
                    font: 400 16px var(--base-font);
                    padding: 0 0 20px;
                }
            }
        }
    }

    @media screen and (max-width: 1000px) {
        .popup {
            border: none;

            .popup-close {
                top: 20px;
                right: 20px;
            }

            .popup-content {
                border-radius: var(--border-radius);
                height: 100%;
                border: none;
                transform: none;
                top: 0;
                left: 0;
            }

            &.popup-auth {
                padding: 0;

                .popup-content {
                    overflow-y: auto;
                    padding: 50px 25px 25px;

                    .popup-title {
                        font: 700 22px/32px var(--base-font);
                        margin: 0 0 10px;
                    }

                    .popup-subtitle {
                        font: 400 15px/24px var(--base-font);
                        margin: 0 0 30px;
                        padding: 0;
                    }

                    .form {
                        margin-bottom: 10px;
                        width: 100%;
                    }
                }

                .popup-footer {
                    margin: 0 -25px 0;
                    padding: 25px 25px 0;

                    .footer-text {
                        font: 500 14px/26px var(--base-font);
                        margin: 0 0 30px;
                    }

                    .popup-footer-link {
                        font: 700 11px/20px var(--base-font);
                        padding-left: 20px;
                        margin-bottom: 15px;

                        span {
                            width: 20px;
                            margin-left: -20px;
                        }

                        &:last-of-type {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}