.block {    
    &.block-record_categories {
        .record_category-item {
            border-radius: 2px;
            box-shadow: $base_shadow;

            &:hover {
                .category-title {
                    color: #297c68;
                }
            }
        }
    }
}