@import './vars';
@import '../_common/webshop';

// SHAME
@import 'includes/shame';

// LAYOUTS
@import 'layout/navigation',
'layout/_header.scss';

// COMPONENTS
@import 'components/_breadcrumbs.scss',
'components/_buttons.scss',
'components/label.scss',
'components/_modals.scss';

// SECTIONS
@import 'sections/faq.scss',
'sections/steps.scss',
'sections/vouchers.scss';

// BLOCKS
@import 'sections/blocks/map.scss',
 'sections/blocks/products.scss',
 'sections/blocks/profile.scss',
 'sections/blocks/shops_map.scss',
 'sections/blocks/transactions.scss',
 'sections/blocks/voucher.scss',
 'sections/blocks/vouchers.scss';