@import '../general/vars.scss';

/*==========  Style Sheet - Vars  ==========*/
$fonts: null;

// navbar
$bg-nav:            #F5F5F5;
$tc-nav:            #282B39;
$tc-nav-hov:        #DE286B;
$logo-padding:      0;
$logo-height:       105px;

// navbar (auth)
$tc-auth-menu:      #fff; 
$tc-auth-btn:       #fff; 
$btn-auth-bg:       #6D5EA7; 
$btn-auth-border:   #ececec;

// navbar (start modal primary)
$tc-start-btn:       #fff; 
$btn-start-bg:       #DE286B;
$btn-start-btn:      #DE286B;
$btn-start-border:   transparent;

// header attributes
$bg-values:          url("../img/splash-top-b.png") no-repeat 100% 0;

// base font
$bf:                Arial,Helvetica,sans-serif;

// text color
$tc:                #595959;
$tc-var:            #fff;
$tc-link:           inherit;

// base color
$bc:                #de286B;

// background color
$bg:                #de286B;

$bg_2:              none;

// text formatting
$tf:                inherit;

// footer color
$fbc:                #fff;
$fc:                #282B39;
$fc-link:           #de286B;
$fc-link-hover:     #fd5392;

// Displayed or not
$fd:                block;

// product image
$pi:                10px 0 0 10px;

// placeholder text color
$ptc:               #515152;

$border_color:      #EBEDF0;

$border_radius:     0px;
$base_shadow:       0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

$color_primary:         #de286b;
$color_primary_light:   #fd5392;

$color_default:         #c1c71e;
$color_default_light:   #eef525;

// Login button

$lb:                #fff;