/*==========  Style Sheet - Vars  ==========*/

// base font
$bf: 'Montserrat', arial, sans-serif;
$bf-landing: 'Montserrat', arial, sans-serif;

// text color
$tc: #353535;

// base color
$bc: #305dfb;
$bc-hover: #fff;

// placeholder text color
$ptc: #9b9b9b;

$border_color: #d2e6ff;

$border_radius: 8px;

$color_primary: #134478;
$color_primary_light: #009ef4;

$color_default: #134478;
$color_default_light: #2987fd;

// base error color
$bec: #e63b3b;

// border color
$borderColor: #ddd;

// wrapper size
$wrapperWidth: 1400px;
$wrapperPadding: 30px;