doctype
html(lang="en")
    include includes/head
    body(ng-controller="BaseController")#helloWorldApp
        include includes/header
        block content
        include includes/footer
        include includes/scripts