doctype
html(lang="en")
    include ../layout/includes/head

    body(ng-controller="BaseController"  ng-cloak)
    
        ui-view

        include ../layout/includes/footer
        include ../layout/includes/scripts