@import "../general/vars.scss";

/*==========  Style Sheet - Vars  ==========*/
$fonts: "https://fonts.googleapis.com/css?family=Verdana";
$primaryColor: #0d4379;
$primaryColorLight: #0d4379;

:root {
    // navbar
    --bg-nav: #f5f5f5;
    --tc-nav-hov: #4a60b3;
    --tc-nav: #6b6b80;
    --logo-padding: 20px 0px;
    --logo-height: 90px;

    // navbar (auth)
    --tc-auth-menu: #ffffff;
    --tc-auth-btn: #ffffff;
    --btn-auth-bg: #0d4379;
    --btn-auth-border: #ffffff;

    // navbar (start modal primary)
    --tc-start-btn: #ffffff;
    --btn-start-bg: #609609;
    --btn-start-btn: #609609;
    --btn-start-border: transparent;

    --bg-values: url("../img/splash-top-b.jpg") no-repeat center 100%;

    // base font
    --base-font: Arial, Verdana;

    // text color
    --tc: #1a1919;
    --tc-var: #fff;
    --tc-link: inherit;

    // base color
    --bc: #22398e;

    // background color
    --bg: #f5f5f5;

    --bg_2: none;

    // text formatting
    --text_format: inherit;

    // footer color
    --footer_background_color: #0d4379;
    --footer_color: #ffffff;
    --footer_color_link: #ffffff;

    // displayed or not
    --footer_display: block;

    // product image
    --product-image-padding: 0px;

    // placeholder text color
    --form-control-placeholder-color: #515152;

    --border-color: #dce0e0;

    --border-radius: 4px;
    --box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

    --color-primary: #{$primaryColor};
    --color-primary-light: #{$primaryColorLight};

    --color-default: #0d4379;
    --color-default-light: #0d4379;

    --color-search-icon-medium: #{$primaryColor};
    --color-search-icon-dark: #{darken($primaryColor, 10%)};
    --color-search-icon-light: #{lighten($primaryColor, 25%)};

    // Login button
    --login-button-background: #fff;
}
