//- General
if (qdt_c.platform.env_data.client_key == 'general')
    section.section.section-footer
        .wrapper
            .block.block-footer: .row
                .col(ng-class="$root.appConfigs.features.newsletter?'col-md-3':'col-md-6'")
                    
                    .block.block-app_download
                        .download-button: a(href="https://play.google.com/store/apps/details?id=io.forus.me")
                            .download-icon: img(src="./assets/img/icon-app/play-store-badge.png")
                        .download-button: a(href="https://itunes.apple.com/nl/app/me-forus/id1422610676")
                            .download-icon: img(src="./assets/img/icon-app/app-store-badge.svg")
                            
                //-.col(ng-class="$root.appConfigs.features.newsletter?'col-md-4':'col-md-6'")
                    .footer-label Openingstijden
                    .footer-schedule
                        .schedule-label Maandag: 		
                        .schedule-value 8.30-12.30, 13.30-16.30, 18.00-19.30
                        
                    .footer-schedule
                        .schedule-label Dinsdag:		
                        .schedule-value 8.30-12.30

                    .footer-schedule
                        .schedule-label Woensdag: 		
                        .schedule-value 8.30-12.30, 13.30-17.30
                    
                    .footer-schedule
                        .schedule-label Donderdag:	 	
                        .schedule-value 8.30-12.30
                    
                    .footer-schedule
                        .schedule-label Vrijdag: 		
                        .schedule-value 8.30-12.30
                
                .col.col-md-2
                    .footer-label Navigatie
                    nav.footer-nav
                        .footer-nav-item: a(href="/sponsor/" target="_self") SPONSOR
                        .footer-nav-item: a(href="/provider/" target="_self") PROVIDER
                        //-.footer-nav-item: a(href="/validator/") VALIDATOR
                
                //-.col.col-md-3(ng-if="$root.appConfigs.features.newsletter")
                    .footer-label Ontvang onze nieuwsbrief
                    .form
                        .form-group.footer-subscribe
                            input(type="email" placeholder="E-mail").form-control.form-control-fancy
                            button.button.button-primary: .mdi.mdi-arrow-right
                
        //-.block.block-copyrights: .wrapper
            .copyrights 
                img(src="./assets/img/logo-bw.svg").footer-logo
            //-.links
                a(href="#") Algemene Voorwaarden
                .link-separator
                a(href="#") Privacy Statement
            .developed
                | 
                a(href="#")

else if (qdt_c.platform.env_data.client_key == 'forus')
    section.section.section-footer
        .wrapper
            .block.block-footer: .row
                .col(ng-class="$root.appConfigs.features.newsletter?'col-md-3':'col-md-4'")
                    
                    .block.block-app_download
                        .download-button: a(href="https://play.google.com/store/apps/details?id=io.forus.me")
                            .download-icon: img(src="./assets/img/icon-app/play-store-badge.png")
                        .download-button: a(href="https://itunes.apple.com/nl/app/me-forus/id1422610676")
                            .download-icon: img(src="./assets/img/icon-app/app-store-badge.svg")
                            
                //-.col(ng-class="$root.appConfigs.features.newsletter?'col-md-4':'col-md-6'")
                    .footer-label Openingstijden
                    .footer-schedule
                        .schedule-label Maandag: 		
                        .schedule-value 8.30-12.30, 13.30-16.30, 18.00-19.30
                        
                    .footer-schedule
                        .schedule-label Dinsdag:		
                        .schedule-value 8.30-12.30

                    .footer-schedule
                        .schedule-label Woensdag: 		
                        .schedule-value 8.30-12.30, 13.30-17.30
                    
                    .footer-schedule
                        .schedule-label Donderdag:	 	
                        .schedule-value 8.30-12.30
                    
                    .footer-schedule
                        .schedule-label Vrijdag: 		
                        .schedule-value 8.30-12.30
                
                .col.col-md-2
                    .footer-label Navigatie
                    nav.footer-nav
                        .footer-nav-item: a(href="/sponsor/" target="_self") SPONSOR
                        .footer-nav-item: a(href="/provider/" target="_self") PROVIDER
                        //-.footer-nav-item: a(href="/validator/") VALIDATOR
                
                //-.col.col-md-3(ng-if="$root.appConfigs.features.newsletter")
                    .footer-label Ontvang onze nieuwsbrief
                    .form
                        .form-group.footer-subscribe
                            input(type="email" placeholder="E-mail").form-control.form-control-fancy
                            button.button.button-primary: .mdi.mdi-arrow-right
                
        .block.block-copyrights: .wrapper
            .copyrights 
                img(src="./assets/img/logo-bw.svg").footer-logo
            //-.links
                a(href="#") Algemene Voorwaarden
                .link-separator
                a(href="#") Privacy Statement
            .developed
                | 
                a(href="#")

//- Zuidhorn
else if (qdt_c.platform.env_data.client_key == 'zuidhorn')
    section.section.section-footer
        .wrapper
            .block.block-footer: .row
                .col(ng-class="$root.appConfigs.features.newsletter?'col-md-3':'col-md-4'")
                    img(src="./assets/img/logo-bw.png").footer-logo
                    .footer-schedule
                        .schedule-label E-mailadres:		
                        .schedule-value kindpakket@zuidhorn.nl
                    .footer-schedule
                        .schedule-label Telefoonnummer:		
                        .schedule-value (0594) 508888
                    .footer-schedule
                        .schedule-label Adres:		
                        .schedule-value Hooiweg 9, 9801 AJ Zuidhorn
                    //.block.block-app_download
                        .download-button: a(href="https://play.google.com/store/apps/details?id=io.forus.me")
                            .download-label Beschikbaar in de
                            .download-value Play Store
                            .download-icon: img(src="./assets/img/icon-app/icon-app-android.png")
                        .download-button: a(href="https://itunes.apple.com/nl/app/me-forus/id1422610676")
                            .download-label Beschikaar in de
                            .download-value App Store
                            .download-icon: img(src="./assets/img/icon-app/icon-app-ios.svg")
                            
                .col(ng-class="$root.appConfigs.features.newsletter?'col-md-4':'col-md-5'")
                    .footer-label Openingstijden Gemeente
                    .footer-schedule
                        .schedule-label Maandag: 		
                        .schedule-value 8.30-12.30, 13.30-16.30, 18.00-19.30
                        
                    .footer-schedule
                        .schedule-label Dinsdag:		
                        .schedule-value 8.30-12.30

                    .footer-schedule
                        .schedule-label Woensdag: 		
                        .schedule-value 8.30-12.30, 13.30-17.30
                    
                    .footer-schedule
                        .schedule-label Donderdag:	 	
                        .schedule-value 8.30-12.30
                    
                    .footer-schedule
                        .schedule-label Vrijdag: 		
                        .schedule-value 8.30-12.30
                
                .col.col-md-3
                    .footer-label Navigatie
                    nav.footer-nav
                        .footer-nav-item: a(href="/provider/" target="_self") Bent u een winkelier in Zuidhorn en wilt u meer informatie?
                        .footer-nav-item: a(href="/sponsor/" target="_self") Bent u een medewerker van een gemeente en wilt u meer informatie?
                
                .col.col-md-3(ng-if="$root.appConfigs.features.newsletter")
                    .footer-label Ontvang onze nieuwsbrief
                    .form
                        .form-group.footer-subscribe
                            input(type="email" placeholder="E-mail").form-control.form-control-fancy
                            button.button.button-primary: .mdi.mdi-arrow-right
                
        .block.block-copyrights: .wrapper
            .copyrights © 2018 Forus.io
            .links
                a(href="https://media.forus.io/static/Algemene%20Voorwaarden%20Kindpakket%20website.pdf") Algemene Voorwaarden
                .link-separator
                a(href="https://www.leek.nl/home/privacybeleid_3895") Privacy Statement
            .developed
                | 
                a(href="#")

//- Nijmegen
else if (qdt_c.platform.env_data.client_key == 'nijmegen')
    section.section.section-footer
        .wrapper
            .block.block-footer: .row
                .col(ng-class="$root.appConfigs.features.newsletter?'col-md-4':'col-md-5'")
                    .footer-label Contactgegevens
                    //-img(src="./assets/img/logo-bw.png").footer-logo
                    .footer-schedule
                        .schedule-label E-mailadres:		
                        .schedule-value gemeente@nijmegen.nl
                    .footer-schedule
                        .schedule-label Telefoonnummer:		
                        .schedule-value 14 024
                    .footer-schedule
                        .schedule-label Adres:		
                        .schedule-value Stadswinkel, Mariënburg 30 Nijmegen
                //-.col(ng-class="$root.appConfigs.features.newsletter?'col-md-3':'col-md-4'")
                    //img(src="./assets/img/forus-logo-bw.svg").footer-logo
                    .block.block-app_download: .footer-label Downloads
                        .download-button: a(href="https://play.google.com/store/apps/details?id=io.forus.me" target="_blank")
                            .download-icon: img(src="./assets/img/icon-app/play-store-badge.png")
                        .download-button: a(href="https://itunes.apple.com/nl/app/me-forus/id1422610676" target="_blank")
                            .download-icon: img(src="./assets/img/icon-app/app-store-badge.svg")
                            
                .col(ng-class="$root.appConfigs.features.newsletter?'col-md-3':'col-md-3'")
                    .footer-label Openingstijden
                    .footer-schedule
                        .schedule-label Maandag: 		
                        .schedule-value 9.00-17.00
                        
                    .footer-schedule
                        .schedule-label Dinsdag:		
                        .schedule-value 9.00-17.00

                    .footer-schedule
                        .schedule-label Woensdag: 		
                        .schedule-value 9.00-17.00
                    
                    .footer-schedule
                        .schedule-label Donderdag:	 	
                        .schedule-value 9.00-20.00
                    
                    .footer-schedule
                        .schedule-label Vrijdag: 		
                        .schedule-value 9.00-17.00
                .col.col-md-4
                    .footer-label Navigatie
                    nav.footer-nav
                        .footer-nav-item: a(href="/sponsor/" target="_self") Bent u een medewerker van de gemeente Nijmegen en wilt u meer informatie?
                        .footer-nav-item: a(href="/provider/" target="_self") Bent u een aanbieder en wilt u meer informatie?
                    .block.block-app_download(style="margin-top:15px;"): .footer-label(style="margin-bottom:0px;") Download Me-app
                        .wrapper
                            a(href="https://play.google.com/store/apps/details?id=io.forus.me" target="_blank")
                                img(src="./assets/img/icon-app/play-store-badge.png" style="height: 40px; width: 120px; padding-right: 5px; margin-top: 10px;")
                            a(href="https://itunes.apple.com/nl/app/me-forus/id1422610676" target="_blank")
                                img(src="./assets/img/icon-app/app-store-badge.svg" style="height: 40px; width: 120px; margin-top: 10px;")
                    nav.footer-nav(style="margin-top:0; padding:0;")
                        .footer-nav-item: a(ui-sref="me-app") Wilt u meer informatie over de Me-app?		
                .col.col-md-3(ng-if="$root.appConfigs.features.newsletter")
                    .footer-label Ontvang onze nieuwsbrief
                    .form
                        .form-group.footer-subscribe
                            input(type="email" placeholder="E-mail").form-control.form-control-fancy
                            button.button.button-primary: .mdi.mdi-arrow-right
                
        .block.block-copyrights: .wrapper
            .copyrights 
            .links
                a(href="https://www.nijmegen.nl/diensten/uitkering-schulden-en-laag-inkomen/meedoen-regeling/" target="_blank") Algemene Voorwaarden
                .link-separator
                a(href="https://www.nijmegen.nl/diensten/privacy/" target="_blank") Privacy Statement
            .developed
                | 
                a(href="#")

//- Westerkwartier
else if (qdt_c.platform.env_data.client_key == 'westerkwartier')
    section.section.section-footer
        .wrapper
            .block.block-footer: .row
                .col(ng-class="$root.appConfigs.features.newsletter?'col-md-3':'col-md-4'")
                    img(src="./assets/img/logo-bw.png").footer-logo
                    .footer-schedule
                        .schedule-label E-mailadres:		
                        .schedule-value kindpakket@westerkwartier.nl
                    .footer-schedule
                        .schedule-label Telefoonnummer:		
                        .schedule-value 14 0594
                    .footer-schedule
                        .schedule-label Adres:
                        .schedule-value &nbsp;                        		
                        .schedule-value Grootegast, Hoofdstraat 97, 9861 AC
                        .schedule-value Leek, Tolberterstraat 66, 9351 BJ
                        .schedule-value Marum, Molenstraat 45, 9363 BA
                        .schedule-value Zuidhorn, Hooiweg 9, 9801 AJ
                    //.block.block-app_download
                        .download-button: a(href="https://play.google.com/store/apps/details?id=io.forus.me")
                            .download-label Beschikbaar in de
                            .download-value Play Store
                            .download-icon: img(src="./assets/img/icon-app/icon-app-android.png")
                        .download-button: a(href="https://itunes.apple.com/nl/app/me-forus/id1422610676")
                            .download-label Beschikaar in de
                            .download-value App Store
                            .download-icon: img(src="./assets/img/icon-app/icon-app-ios.svg")
                            
                .col(ng-class="$root.appConfigs.features.newsletter?'col-md-4':'col-md-5'")
                    .footer-label Openingstijden Gemeente
                    .footer-schedule
                        .schedule-label Maandag: 		
                        .schedule-value 08.00-12.00 uur, na 12:00 uur alleen op afspraak.
                        
                    .footer-schedule
                        .schedule-label Dinsdag:		
                        .schedule-value 08.00-12.00 uur, na 12:00 uur alleen op afspraak.

                    .footer-schedule
                        .schedule-label Woensdag: 		
                        .schedule-value 08.00-12.00 uur, na 12:00 uur alleen op afspraak.
                    
                    .footer-schedule
                        .schedule-label Donderdag:	 	
                        .schedule-value 08.00-12.00 uur, na 12:00 uur alleen op afspraak.
                    
                    .footer-schedule
                        .schedule-label Vrijdag: 		
                        .schedule-value 08.00-12.00 uur, na 12:00 uur alleen op afspraak.
                    .footer-schedule
                        .schedule-label(style="width: 100%;") Locatie Zuidhorn is op maandagavond van 18:00 tot 19:30 uur geopend.		
                        .schedule-label(style="width: 100%;") Locatie Leek is op donderdagavond van 18:00 uur tot 19:30 uur geopend.
                
                .col.col-md-3
                    .footer-label Navigatie
                    nav.footer-nav
                        .footer-nav-item: a(href="/provider/" target="_self") Bent u een winkelier of vereniging en wilt u meer informatie?
                        .footer-nav-item: a(href="/sponsor/" target="_self") Bent u een medewerker van de gemeente en wilt u meer informatie?
                
                .col.col-md-3(ng-if="$root.appConfigs.features.newsletter")
                    .footer-label Ontvang onze nieuwsbrief
                    .form
                        .form-group.footer-subscribe
                            input(type="email" placeholder="E-mail").form-control.form-control-fancy
                            button.button.button-primary: .mdi.mdi-arrow-right
                
        .block.block-copyrights: .wrapper
            .copyrights 
            .links
                a(href="https://media.forus.io/static/Algemene%20Voorwaarden%20Kindpakket%20website.pdf") Algemene Voorwaarden
                .link-separator
                a(href="https://www.leek.nl/home/privacybeleid_3895") Privacy Statement
            .developed
                | 
                a(href="#")

else
    div