//- General
if (qdt_c.platform.env_data.client_key == 'general')
    section.section.section-footer
        .wrapper
            .block.block-footer: .row
                .col(ng-class="$root.appConfigs.features.newsletter?'col-md-3':'col-md-4'")
                    img(src="./assets/img/logo-bw.svg").footer-logo
                    .block.block-app_download
                        .download-button: a(href="https://play.google.com/store/apps/details?id=io.forus.me")
                            .download-icon: img(src="./assets/img/icon-app/play-store-badge.png")
                        .download-button: a(href="https://itunes.apple.com/nl/app/me-forus/id1422610676")
                            .download-icon: img(src="./assets/img/icon-app/app-store-badge.svg")
                            
                .col(ng-class="$root.appConfigs.features.newsletter?'col-md-4':'col-md-6'")
                    .footer-label Openingstijden
                    .footer-schedule
                        .schedule-label Maandag: 		
                        .schedule-value 8.30-12.30, 13.30-16.30, 18.00-19.30
                        
                    .footer-schedule
                        .schedule-label Dinsdag:		
                        .schedule-value 8.30-12.30

                    .footer-schedule
                        .schedule-label Woensdag: 		
                        .schedule-value 8.30-12.30, 13.30-17.30
                    
                    .footer-schedule
                        .schedule-label Donderdag:	 	
                        .schedule-value 8.30-12.30
                    
                    .footer-schedule
                        .schedule-label Vrijdag: 		
                        .schedule-value 8.30-12.30
                
                .col.col-md-2
                    .footer-label Navigatie
                    nav.footer-nav
                        .footer-nav-item: a(href="/sponsor/") SPONSOR
                        .footer-nav-item: a(href="/provider/") PROVIDER
                        .footer-nav-item: a(href="/validator/") VALIDATOR
                
                .col.col-md-3(ng-if="$root.appConfigs.features.newsletter")
                    .footer-label Ontvang onze nieuwsbrief
                    .form
                        .form-group.footer-subscribe
                            input(type="email" placeholder="E-mail").form-control.form-control-fancy
                            button.button.button-primary: .mdi.mdi-arrow-right
                
        .block.block-copyrights: .wrapper
            .copyrights © 2018 Forus.io
            .links
                a(href="#") Algemene Voorwaarden
                .link-separator
                a(href="#") Privacy Statement
            .developed
                | 
                a(href="#")

//- Zuidhorn
if (qdt_c.platform.env_data.client_key == 'zuidhorn')
    section.section.section-footer
        .wrapper
            .block.block-footer: .row
                .col(ng-class="$root.appConfigs.features.newsletter?'col-md-3':'col-md-4'")
                    img(src="./assets/img/logo-bw.png").footer-logo
                    .footer-schedule
                        .schedule-label E-mailadres:		
                        .schedule-value kindpakket@zuidhorn.nl
                    .footer-schedule
                        .schedule-label Telefoonnummer:		
                        .schedule-value (0594) 508888
                    .footer-schedule
                        .schedule-label Adres:		
                        .schedule-value Hooiweg 9, 9801 AJ Zuidhorn
                    //.block.block-app_download
                        .download-button: a(href="https://play.google.com/store/apps/details?id=io.forus.me")
                            .download-label Beschikbaar in de
                            .download-value Play Store
                            .download-icon: img(src="./assets/img/icon-app/icon-app-android.png")
                        .download-button: a(href="https://itunes.apple.com/nl/app/me-forus/id1422610676")
                            .download-label Beschikaar in de
                            .download-value App Store
                            .download-icon: img(src="./assets/img/icon-app/icon-app-ios.svg")
                            
                .col(ng-class="$root.appConfigs.features.newsletter?'col-md-4':'col-md-5'")
                    .footer-label Openingstijden Gemeente
                    .footer-schedule
                        .schedule-label Maandag: 		
                        .schedule-value 8.30-12.30, 13.30-16.30, 18.00-19.30
                        
                    .footer-schedule
                        .schedule-label Dinsdag:		
                        .schedule-value 8.30-12.30

                    .footer-schedule
                        .schedule-label Woensdag: 		
                        .schedule-value 8.30-12.30, 13.30-17.30
                    
                    .footer-schedule
                        .schedule-label Donderdag:	 	
                        .schedule-value 8.30-12.30
                    
                    .footer-schedule
                        .schedule-label Vrijdag: 		
                        .schedule-value 8.30-12.30
                
                .col.col-md-3
                    .footer-label Navigatie
                    nav.footer-nav
                        .footer-nav-item: a(href="/provider/") Bent u een winkelier in Zuidhorn en wilt u meer informatie?
                        .footer-nav-item: a(href="/sponsor/") Bent u een medewerker van een Gemeente en wilt u meer informatie?
                
                .col.col-md-3(ng-if="$root.appConfigs.features.newsletter")
                    .footer-label Ontvang onze nieuwsbrief
                    .form
                        .form-group.footer-subscribe
                            input(type="email" placeholder="E-mail").form-control.form-control-fancy
                            button.button.button-primary: .mdi.mdi-arrow-right
                
        .block.block-copyrights: .wrapper
            .copyrights © 2018 Forus.io
            .links
                a(href="https://media.forus.io/static/Algemene%20Voorwaarden%20Kindpakket%20website.pdf") Algemene Voorwaarden
                .link-separator
                a(href="https://www.leek.nl/home/privacybeleid_3895") Privacy Statement
            .developed
                | 
                a(href="#")

//- Nijmegen
if (qdt_c.platform.env_data.client_key == 'nijmegen')
    section.section.section-footer
        .wrapper
            .block.block-footer: .row
                .col(ng-class="$root.appConfigs.features.newsletter?'col-md-3':'col-md-4'")
                    //img(src="./assets/img/forus-logo-bw.svg").footer-logo
                    .block.block-app_download: .footer-label Downloads
                        .download-button: a(href="https://play.google.com/store/apps/details?id=io.forus.me")
                            .download-icon: img(src="./assets/img/icon-app/play-store-badge.png")
                        .download-button: a(href="https://itunes.apple.com/nl/app/me-forus/id1422610676")
                            .download-icon: img(src="./assets/img/icon-app/app-store-badge.svg")
                            
                .col(ng-class="$root.appConfigs.features.newsletter?'col-md-4':'col-md-4'")
                    .footer-label Openingstijden
                    .footer-schedule
                        .schedule-label Maandag: 		
                        .schedule-value 9.00-17.00
                        
                    .footer-schedule
                        .schedule-label Dinsdag:		
                        .schedule-value 9.00-17.00

                    .footer-schedule
                        .schedule-label Woensdag: 		
                        .schedule-value 9.00-17.00
                    
                    .footer-schedule
                        .schedule-label Donderdag:	 	
                        .schedule-value 9.00-20.00
                    
                    .footer-schedule
                        .schedule-label Vrijdag: 		
                        .schedule-value 9.00-20.00
                .col.col-md-4
                    .footer-label Navigatie
                    nav.footer-nav
                        .footer-nav-item: a(href="/sponsor/") Bent u een medewerker van de gemeente Nijmegen en wilt u meer informatie?
                        .footer-nav-item: a(href="/provider/") Bent u een aanbieder uit de gemeente Nijmegen en wilt u meer informatie?
                
                .col.col-md-3(ng-if="$root.appConfigs.features.newsletter")
                    .footer-label Ontvang onze nieuwsbrief
                    .form
                        .form-group.footer-subscribe
                            input(type="email" placeholder="E-mail").form-control.form-control-fancy
                            button.button.button-primary: .mdi.mdi-arrow-right
                
        .block.block-copyrights: .wrapper
            .copyrights 
            .links
                a(href="#") Algemene Voorwaarden
                .link-separator
                a(href="#") Privacy Statement
            .developed
                | 
                a(href="#")