section.section.section-footer(ng-if="displayFooter")
    .wrapper
        .block.block-footer: .row
            .col(ng-class="$root.appConfigs.features.newsletter?'col-md-3':'col-md-4'")
                img(src="./assets/img/forus-logo-bw.svg").footer-logo
                .block.block-app_download
                    .download-button: a(href="https://play.google.com/store/apps/details?id=io.forus.me")
                        .download-icon: img(src="./assets/img/icon-app/play-store-badge.png")
                    .download-button: a(href="https://itunes.apple.com/nl/app/me-forus/id1422610676")
                        .download-icon: img(src="./assets/img/icon-app/app-store-badge.svg")
                        
            .col(ng-class="$root.appConfigs.features.newsletter?'col-md-4':'col-md-6'")
                .footer-label Openingstijden
                .footer-schedule
                    .schedule-label Maandag: 		
                    .schedule-value 8.30-12.30, 13.30-16.30, 18.00-19.30
                    
                .footer-schedule
                    .schedule-label Dinsdag:		
                    .schedule-value 8.30-12.30

                .footer-schedule
                    .schedule-label Woensdag: 		
                    .schedule-value 8.30-12.30, 13.30-17.30
                
                .footer-schedule
                    .schedule-label Donderdag:	 	
                    .schedule-value 8.30-12.30
                
                .footer-schedule
                    .schedule-label Vrijdag: 		
                    .schedule-value 8.30-12.30
            
            .col.col-md-2
                .footer-label Navigatie
                nav.footer-nav
                    .footer-nav-item: a(href="/sponsor/") SPONSOR
                    .footer-nav-item: a(href="/provider/") PROVIDER
                    .footer-nav-item: a(href="/validator/") VALIDATOR
            
            .col.col-md-3(ng-if="$root.appConfigs.features.newsletter")
                .footer-label Ontvang onze nieuwsbrief
                .form
                    .form-group.footer-subscribe
                        input(type="email" placeholder="E-mail").form-control.form-control-fancy
                        button.button.button-primary: .mdi.mdi-arrow-right
            
    .block.block-copyrights: .wrapper
        .copyrights © 2018 Forus.io
        .links
            a(href="#") Algemene Voorwaarden
            .link-separator
            a(href="#") Privacy Statement
        .developed
            | 
            a(href="#")