//- General
if (qdt_c.platform.env_data.client_key == 'general')
    section.section.section-footer
        .wrapper
            .block.block-footer: .row
                .col.col-md-6
                    
                    .block.block-app_download
                        .download-button: a(href="https://play.google.com/store/apps/details?id=io.forus.me")
                            .download-icon: img(src="./assets/img/icon-app/icon-app-android.svg")
                        .download-button: a(href="https://itunes.apple.com/nl/app/me-forus/id1422610676")
                            .download-icon: img(src="./assets/img/icon-app/icon-app-ios.svg")
                            
                //-.col(ng-class="$root.appConfigs.features.newsletter?'col-md-4':'col-md-6'")
                    .footer-label Openingstijden
                    .footer-schedule
                        .schedule-label Maandag: 		
                        .schedule-value 8.30-12.30, 13.30-16.30, 18.00-19.30
                        
                    .footer-schedule
                        .schedule-label Dinsdag:		
                        .schedule-value 8.30-12.30

                    .footer-schedule
                        .schedule-label Woensdag: 		
                        .schedule-value 8.30-12.30, 13.30-17.30
                    
                    .footer-schedule
                        .schedule-label Donderdag:	 	
                        .schedule-value 8.30-12.30
                    
                    .footer-schedule
                        .schedule-label Vrijdag: 		
                        .schedule-value 8.30-12.30
                
                .col.col-md-2
                    .footer-label Navigatie
                    nav.footer-nav
                        .footer-nav-item: a(href="{{ $root.appConfigs.features.fronts.url_sponsor }}" target="_self") SPONSOR
                        .footer-nav-item: a(href="{{ $root.appConfigs.features.fronts.url_provider }}" target="_self") PROVIDER
                        //-.footer-nav-item: a(href="/validator/") VALIDATOR
                
                //-.col.col-md-3(ng-if="$root.appConfigs.features.newsletter")
                    .footer-label Ontvang onze nieuwsbrief
                    .form
                        .form-group.footer-subscribe
                            input(type="email" placeholder="E-mail").form-control.form-control-fancy
                            button.button.button-primary: .mdi.mdi-arrow-right
                
        //-.block.block-copyrights: .wrapper
            .copyrights 
                img(src="./assets/img/logo-bw.svg").footer-logo
            //-.links
                a(href="#") Algemene Voorwaarden
                .link-separator
                a(href="#") Privacy Statement
            .developed
                | 
                a(href="#")

else if (qdt_c.platform.env_data.client_key == 'forus')
    section.section.section-footer
        .wrapper
            .block.block-footer: .row
                .col.col-md-4
                    
                    .block.block-app_download
                        .download-button: a(href="https://play.google.com/store/apps/details?id=io.forus.me")
                            .download-icon: img(src="./assets/img/icon-app/icon-app-android.svg")
                        .download-button: a(href="https://itunes.apple.com/nl/app/me-forus/id1422610676")
                            .download-icon: img(src="./assets/img/icon-app/icon-app-ios.svg")
                            
                //-.col(ng-class="$root.appConfigs.features.newsletter?'col-md-4':'col-md-6'")
                    .footer-label Openingstijden
                    .footer-schedule
                        .schedule-label Maandag: 		
                        .schedule-value 8.30-12.30, 13.30-16.30, 18.00-19.30
                        
                    .footer-schedule
                        .schedule-label Dinsdag:		
                        .schedule-value 8.30-12.30

                    .footer-schedule
                        .schedule-label Woensdag: 		
                        .schedule-value 8.30-12.30, 13.30-17.30
                    
                    .footer-schedule
                        .schedule-label Donderdag:	 	
                        .schedule-value 8.30-12.30
                    
                    .footer-schedule
                        .schedule-label Vrijdag: 		
                        .schedule-value 8.30-12.30
                
                .col.col-md-2
                    .footer-label Navigatie
                    nav.footer-nav
                        .footer-nav-item: a(href="{{ $root.appConfigs.features.fronts.url_sponsor }}" target="_self") SPONSOR
                        .footer-nav-item: a(href="{{ $root.appConfigs.features.fronts.url_provider }}" target="_self") PROVIDER
                        //-.footer-nav-item: a(href="/validator/") VALIDATOR
                
                //-.col.col-md-3(ng-if="$root.appConfigs.features.newsletter")
                    .footer-label Ontvang onze nieuwsbrief
                    .form
                        .form-group.footer-subscribe
                            input(type="email" placeholder="E-mail").form-control.form-control-fancy
                            button.button.button-primary: .mdi.mdi-arrow-right
                
        .block.block-copyrights: .wrapper
            .copyrights 
                img(src="./assets/img/logo-bw.svg").footer-logo
            //-.links
                a(href="#") Algemene Voorwaarden
                .link-separator
                a(href="#") Privacy Statement
            .developed
                | 
                a(href="#")

//- Zuidhorn
else if (qdt_c.platform.env_data.client_key == 'zuidhorn')
    section.section.section-footer
        .wrapper
            .block.block-footer: .row
                .col.col-md-4
                    img(src="./assets/img/logo-bw.png").footer-logo
                    .footer-schedule
                        .schedule-label E-mailadres:		
                        .schedule-value kindpakket@zuidhorn.nl
                    .footer-schedule
                        .schedule-label Telefoonnummer:		
                        .schedule-value (0594) 508888
                    .footer-schedule
                        .schedule-label Adres:		
                        .schedule-value Hooiweg 9, 9801 AJ Zuidhorn
                    //.block.block-app_download
                        .download-button: a(href="https://play.google.com/store/apps/details?id=io.forus.me")
                            .download-label Beschikbaar in de
                            .download-value Play Store
                            .download-icon: img(src="./assets/img/icon-app/icon-app-android.svg")
                        .download-button: a(href="https://itunes.apple.com/nl/app/me-forus/id1422610676")
                            .download-label Beschikaar in de
                            .download-value App Store
                            .download-icon: img(src="./assets/img/icon-app/icon-app-ios.svg")
                            
                .col.col-md-5
                    .footer-label Openingstijden Gemeente
                    .footer-schedule
                        .schedule-label Maandag: 		
                        .schedule-value 8.30-12.30, 13.30-16.30, 18.00-19.30
                        
                    .footer-schedule
                        .schedule-label Dinsdag:		
                        .schedule-value 8.30-12.30

                    .footer-schedule
                        .schedule-label Woensdag: 		
                        .schedule-value 8.30-12.30, 13.30-17.30
                    
                    .footer-schedule
                        .schedule-label Donderdag:	 	
                        .schedule-value 8.30-12.30
                    
                    .footer-schedule
                        .schedule-label Vrijdag: 		
                        .schedule-value 8.30-12.30
                
                .col.col-md-3
                    .footer-label Navigatie
                    nav.footer-nav
                        .footer-nav-item: a(href="{{ $root.appConfigs.features.fronts.url_provider }}" target="_self") Bent u een winkelier in Zuidhorn en wilt u meer informatie?
                        .footer-nav-item: a(href="{{ $root.appConfigs.features.fronts.url_sponsor }}" target="_self") Bent u een medewerker van een gemeente en wilt u meer informatie?
                
        .block.block-copyrights: .wrapper
            .copyrights © 2018 Forus.io
            .links
                a(href="https://media.forus.io/static/Algemene%20Voorwaarden%20Kindpakket%20website.pdf") Algemene Voorwaarden
                .link-separator
                a(href="https://www.leek.nl/home/privacybeleid_3895") Privacy Statement
            .developed
                | 
                a(href="#")

//- Nijmegen
else if (qdt_c.platform.env_data.client_key == 'nijmegen')
    section.section.section-footer
        .wrapper
            .block.block-footer: .row
                .col.col-md-5
                    .footer-label Contactgegevens
                    //-img(src="./assets/img/logo-bw.png").footer-logo
                    .footer-schedule
                        .schedule-label E-mailadres:		
                        .schedule-value gemeente@nijmegen.nl
                    .footer-schedule
                        .schedule-label Telefoonnummer:		
                        .schedule-value 14 024
                    .footer-schedule
                        .schedule-label Adres:		
                        .schedule-value Stadswinkel, Mariënburg 30 Nijmegen
                //-.col(ng-class="$root.appConfigs.features.newsletter?'col-md-3':'col-md-4'")
                    //img(src="./assets/img/forus-logo-bw.svg").footer-logo
                    .block.block-app_download: .footer-label Downloads
                        .download-button: a(href="https://play.google.com/store/apps/details?id=io.forus.me" target="_blank" aria-label="Download Me-app")
                            .download-icon: img(src="./assets/img/icon-app/icon-app-android.svg")
                        .download-button: a(href="https://itunes.apple.com/nl/app/me-forus/id1422610676" target="_blank" aria-label="Dowload Me-app")
                            .download-icon: img(src="./assets/img/icon-app/icon-app-ios.svg")
                            
                .col.col-md-3
                    .footer-label Openingstijden
                    .footer-schedule
                        .schedule-label Maandag: 		
                        .schedule-value 9.00-17.00
                        
                    .footer-schedule
                        .schedule-label Dinsdag:		
                        .schedule-value 9.00-17.00

                    .footer-schedule
                        .schedule-label Woensdag: 		
                        .schedule-value 9.00-17.00
                    
                    .footer-schedule
                        .schedule-label Donderdag:	 	
                        .schedule-value 9.00-20.00
                    
                    .footer-schedule
                        .schedule-label Vrijdag: 		
                        .schedule-value 9.00-17.00
                .col.col-md-4
                    .footer-label Navigatie
                    nav.footer-nav
                        .footer-nav-item: a(href="{{ $root.appConfigs.features.fronts.url_sponsor }}" target="_self") Bent u een medewerker van de gemeente Nijmegen en wilt u meer informatie?
                        .footer-nav-item: a(href="{{ $root.appConfigs.features.fronts.url_provider }}" target="_self") Bent u een aanbieder en wilt u meer informatie?
                    .block.block-app_download(style="margin-top:15px;"): .footer-label(style="margin-bottom:0px;") Download Me-app
                        .wrapper
                            a(href="https://play.google.com/store/apps/details?id=io.forus.me" target="_blank" aria-label="Download Me-app")
                                img(src="./assets/img/icon-app/icon-app-android.svg" style="height: 40px; width: 120px; padding-right: 5px; margin-top: 10px;")
                            a(href="https://itunes.apple.com/nl/app/me-forus/id1422610676" target="_blank" aria-label="Dowload Me-app")
                                img(src="./assets/img/icon-app/icon-app-ios.svg" style="height: 40px; width: 120px; margin-top: 10px;")
                    nav.footer-nav(style="margin-top:0; padding:0;")
                        .footer-nav-item: a(ui-sref="me-app" target="_blank") Wilt u meer informatie over de Me-app?
                
        .block.block-copyrights: .wrapper
            .copyrights 
            .links
                a(href="https://www.nijmegen.nl/diensten/uitkering-schulden-laag-inkomen/meedoenregeling/" target="_blank") Algemene Voorwaarden
                .link-separator
                a(href="https://www.nijmegen.nl/diensten/privacy/" target="_blank") Privacy Statement
                .link-separator
                a(ui-sref="accessibility" target="_blank") Toegankelijkheid
            .developed
                | 
                a(href="#")

//- berkelland
else if (qdt_c.platform.env_data.client_key == 'berkelland')
    section.section.section-footer
        .wrapper
            .block.block-footer: .row
                .col.col-md-5
                    .footer-label Contactgegevens
                    //-img(src="./assets/img/logo-bw.png").footer-logo
                    .footer-schedule
                        .schedule-label E-mailadres:		
                        .schedule-value info@socialedienstoostachterhoek.nl
                    .footer-schedule
                        .schedule-label Telefoonnummer:		
                        .schedule-value 0544-474200
                    .footer-schedule
                        .schedule-label Adres:		
                        .schedule-value 
                            | Burgemeester Bosmastraat 7 <br />
                            | 7101DE, Winterswijk
                //-.col(ng-class="$root.appConfigs.features.newsletter?'col-md-3':'col-md-4'")
                    //img(src="./assets/img/forus-logo-bw.svg").footer-logo
                    .block.block-app_download: .footer-label Downloads
                        .download-button: a(href="https://play.google.com/store/apps/details?id=io.forus.me" target="_blank" aria-label="Download Me-app")
                            .download-icon: img(src="./assets/img/icon-app/icon-app-android.svg")
                        .download-button: a(href="https://itunes.apple.com/nl/app/me-forus/id1422610676" target="_blank" aria-label="Dowload Me-app")
                            .download-icon: img(src="./assets/img/icon-app/icon-app-ios.svg")
                            
                .col.col-md-3
                    .footer-label Openingstijden
                    .footer-schedule
                        .schedule-label Maandag: 		
                        .schedule-value 8.30 - 16:30

                    .footer-schedule
                        .schedule-label Dinsdag: 		
                        .schedule-value 8.30 - 16:30

                        .schedule-label Woensdag: 		
                        .schedule-value 8.30 - 16:30

                    .footer-schedule
                        .schedule-label Donderdag: 		
                        .schedule-value 8.30 - 16:30

                        .schedule-label Vrijdag: 		
                        .schedule-value 8.30 - 12:30
                .col.col-md-4
                    .footer-label Navigatie
                    nav.footer-nav
                        .footer-nav-item: a(href="{{ $root.appConfigs.features.fronts.url_sponsor }}" target="_self") Bent u een medewerker van de gemeente Berkelland en wilt u meer informatie?
                        .footer-nav-item: a(href="{{ $root.appConfigs.features.fronts.url_provider }}" target="_self") Bent u een aanbieder en wilt u meer informatie?
                    .block.block-app_download(style="margin-top:15px;"): .footer-label(style="margin-bottom:0px;") Download Me-app
                        .wrapper
                            a(href="https://play.google.com/store/apps/details?id=io.forus.me" target="_blank" aria-label="Download Me-app")
                                img(src="./assets/img/icon-app/icon-app-android.svg")
                            a(href="https://itunes.apple.com/nl/app/me-forus/id1422610676" target="_blank" aria-label="Dowload Me-app")
                                img(src="./assets/img/icon-app/icon-app-ios.svg")
                    nav.footer-nav(style="margin-top:0; padding:0;")
                        .footer-nav-item: a(ui-sref="me-app" target="_blank") Wilt u meer informatie over de Me-app?
                
        .block.block-copyrights: .wrapper
            .copyrights 
            .links
                a(href="https://www.socialedienstoostachterhoek.nl/uitkering/Bijzondere-bijstandminimabeleid/Regelingen-bijzondere-bijstand-en-minimabeleid/" target="_blank") Algemene Voorwaarden
                .link-separator
                a(href="https://www.socialedienstoostachterhoek.nl/privacy-verklaring/" target="_blank") Privacy Statement
                .link-separator
                a(ui-sref="accessibility" target="_blank") Toegankelijkheid
            .developed
                | 
                a(href="#")

//- winterswijk
else if (qdt_c.platform.env_data.client_key == 'winterswijk')
    section.section.section-footer
        .wrapper
            .block.block-footer: .row
                .col.col-md-5
                    .footer-label Contactgegevens
                    //-img(src="./assets/img/logo-bw.png").footer-logo
                    .footer-schedule
                        .schedule-label E-mailadres:		
                        .schedule-value info@socialedienstoostachterhoek.nl
                    .footer-schedule
                        .schedule-label Telefoonnummer:		
                        .schedule-value 0544-474200
                    .footer-schedule
                        .schedule-label Adres:		
                        .schedule-value 
                            | Burgemeester Bosmastraat 7 <br />
                            | 7101DE, Winterswijk
                //-.col(ng-class="$root.appConfigs.features.newsletter?'col-md-3':'col-md-4'")
                    //img(src="./assets/img/forus-logo-bw.svg").footer-logo
                    .block.block-app_download: .footer-label Downloads
                        .download-button: a(href="https://play.google.com/store/apps/details?id=io.forus.me" target="_blank" aria-label="Download Me-app")
                            .download-icon: img(src="./assets/img/icon-app/icon-app-android.svg")
                        .download-button: a(href="https://itunes.apple.com/nl/app/me-forus/id1422610676" target="_blank" aria-label="Dowload Me-app")
                            .download-icon: img(src="./assets/img/icon-app/icon-app-ios.svg")
                            
                .col.col-md-3
                    .footer-label Openingstijden
                    .footer-schedule
                        .schedule-label Maandag: 		
                        .schedule-value 8.30 - 16:30

                    .footer-schedule
                        .schedule-label Dinsdag: 		
                        .schedule-value 8.30 - 16:30

                        .schedule-label Woensdag: 		
                        .schedule-value 8.30 - 16:30

                    .footer-schedule
                        .schedule-label Donderdag: 		
                        .schedule-value 8.30 - 16:30

                        .schedule-label Vrijdag: 		
                        .schedule-value 8.30 - 12:30

                .col.col-md-4
                    .footer-label Navigatie
                    nav.footer-nav
                        .footer-nav-item: a(href="{{ $root.appConfigs.features.fronts.url_sponsor }}" target="_self") Bent u een medewerker van de gemeente Winterswijk en wilt u meer informatie?
                        .footer-nav-item: a(href="{{ $root.appConfigs.features.fronts.url_provider }}" target="_self") Bent u een aanbieder en wilt u meer informatie?
                    .block.block-app_download(style="margin-top:15px;"): .footer-label(style="margin-bottom:0px;") Download Me-app
                        .wrapper
                            a(href="https://play.google.com/store/apps/details?id=io.forus.me" target="_blank" aria-label="Download Me-app")
                                img(src="./assets/img/icon-app/icon-app-android.svg")
                            a(href="https://itunes.apple.com/nl/app/me-forus/id1422610676" target="_blank" aria-label="Dowload Me-app")
                                img(src="./assets/img/icon-app/icon-app-ios.svg")
                    nav.footer-nav(style="margin-top:0; padding:0;")
                        .footer-nav-item: a(ui-sref="me-app" target="_blank") Wilt u meer informatie over de Me-app?
                
        .block.block-copyrights: .wrapper
            .copyrights 
            .links
                a(href="https://www.socialedienstoostachterhoek.nl/uitkering/Bijzondere-bijstandminimabeleid/Regelingen-bijzondere-bijstand-en-minimabeleid/" target="_blank") Algemene Voorwaarden
                .link-separator
                a(href="https://www.socialedienstoostachterhoek.nl/privacy-verklaring/" target="_blank") Privacy Statement
                .link-separator
                a(ui-sref="accessibility" target="_blank") Toegankelijkheid
            .developed
                | 
                a(href="#")

//- oostgelre
else if (qdt_c.platform.env_data.client_key == 'oostgelre')
    section.section.section-footer
        .wrapper
            .block.block-footer: .row
                .col.col-md-5
                    .footer-label Contactgegevens
                    //-img(src="./assets/img/logo-bw.png").footer-logo
                    .footer-schedule
                        .schedule-label E-mailadres:		
                        .schedule-value info@socialedienstoostachterhoek.nl
                    .footer-schedule
                        .schedule-label Telefoonnummer:		
                        .schedule-value 0544-474200
                    .footer-schedule
                        .schedule-label Adres:		
                        .schedule-value 
                            | Burgemeester Bosmastraat 7 <br />
                            | 7101DE, Winterswijk
                //-.col(ng-class="$root.appConfigs.features.newsletter?'col-md-3':'col-md-4'")
                    //img(src="./assets/img/forus-logo-bw.svg").footer-logo
                    .block.block-app_download: .footer-label Downloads
                        .download-button: a(href="https://play.google.com/store/apps/details?id=io.forus.me" target="_blank" aria-label="Download Me-app")
                            .download-icon: img(src="./assets/img/icon-app/icon-app-android.svg")
                        .download-button: a(href="https://itunes.apple.com/nl/app/me-forus/id1422610676" target="_blank" aria-label="Dowload Me-app")
                            .download-icon: img(src="./assets/img/icon-app/icon-app-ios.svg")
                            
                .col.col-md-3
                    .footer-label Openingstijden
                    .footer-schedule
                        .schedule-label Maandag: 		
                        .schedule-value 8.30 - 16:30

                    .footer-schedule
                        .schedule-label Dinsdag: 		
                        .schedule-value 8.30 - 16:30

                        .schedule-label Woensdag: 		
                        .schedule-value 8.30 - 16:30

                    .footer-schedule
                        .schedule-label Donderdag: 		
                        .schedule-value 8.30 - 16:30

                        .schedule-label Vrijdag: 		
                        .schedule-value 8.30 - 12:30

                .col.col-md-4
                    .footer-label Navigatie
                    nav.footer-nav
                        .footer-nav-item: a(href="{{ $root.appConfigs.features.fronts.url_sponsor }}" target="_self") Bent u een medewerker van de gemeente Oost gelre en wilt u meer informatie?
                        .footer-nav-item: a(href="{{ $root.appConfigs.features.fronts.url_provider }}" target="_self") Bent u een aanbieder en wilt u meer informatie?
                    .block.block-app_download(style="margin-top:15px;"): .footer-label(style="margin-bottom:0px;") Download Me-app
                        .wrapper
                            a(href="https://play.google.com/store/apps/details?id=io.forus.me" target="_blank" aria-label="Download Me-app")
                                img(src="./assets/img/icon-app/icon-app-android.svg")
                            a(href="https://itunes.apple.com/nl/app/me-forus/id1422610676" target="_blank" aria-label="Dowload Me-app")
                                img(src="./assets/img/icon-app/icon-app-ios.svg")
                    nav.footer-nav(style="margin-top:0; padding:0;")
                        .footer-nav-item: a(ui-sref="me-app" target="_blank") Wilt u meer informatie over de Me-app?
                
        .block.block-copyrights: .wrapper
            .copyrights 
            .links
                a(href="https://www.socialedienstoostachterhoek.nl/uitkering/Bijzondere-bijstandminimabeleid/Regelingen-bijzondere-bijstand-en-minimabeleid/" target="_blank") Algemene Voorwaarden
                .link-separator
                a(href="https://www.socialedienstoostachterhoek.nl/privacy-verklaring/" target="_blank") Privacy Statement
                .link-separator
                a(ui-sref="accessibility" target="_blank") Toegankelijkheid
            .developed
                | 
                a(href="#")

//- Westerkwartier
else if (qdt_c.platform.env_data.client_key == 'westerkwartier')
    section.section.section-footer
        .wrapper
            .block.block-footer: .row
                .col.col-md-4
                    img(src="./assets/img/logo-bw.png").footer-logo
                    .footer-schedule
                        .schedule-label E-mailadres:		
                        .schedule-value kindpakket@westerkwartier.nl
                    .footer-schedule
                        .schedule-label Telefoonnummer:		
                        .schedule-value 14 0594
                    .footer-schedule
                        .schedule-label Adres:
                        .schedule-value &nbsp;                        		
                        .schedule-value Grootegast, Hoofdstraat 97, 9861 AC
                        .schedule-value Leek, Tolberterstraat 66, 9351 BJ
                        .schedule-value Marum, Molenstraat 45, 9363 BA
                        .schedule-value Zuidhorn, Hooiweg 9, 9801 AJ
                    //.block.block-app_download
                        .download-button: a(href="https://play.google.com/store/apps/details?id=io.forus.me")
                            .download-label Beschikbaar in de
                            .download-value Play Store
                            .download-icon: img(src="./assets/img/icon-app/icon-app-android.svg")
                        .download-button: a(href="https://itunes.apple.com/nl/app/me-forus/id1422610676")
                            .download-label Beschikaar in de
                            .download-value App Store
                            .download-icon: img(src="./assets/img/icon-app/icon-app-ios.svg")
                            
                .col.col-md-5
                    .footer-label Openingstijden gemeente

                    .footer-label Tijden waartussen u een afspraak kunt maken

                    .footer-schedule
                        .schedule-title Leek
                        .schedule-label Maandag	t/m donderdag
                        .schedule-value 08.00 - 17.00 uur
                        .schedule-label Donderdavond
                        .schedule-value 18:00 - 19:30 uur
                        .schedule-label Vrijdag
                        .schedule-value 8:00 tot 12:00 uur
                        
                    .footer-schedule
                        .schedule-title Zuidhorn
                        .schedule-label Maandag	t/m donderdag
                        .schedule-value 08.00 - 17.00 uur
                        .schedule-label Donderdavond
                        .schedule-value 18:00 - 19:30 uur
                        .schedule-label Vrijdag
                        .schedule-value 8:00 tot 12:00 uur

                    .footer-schedule
                        .schedule-title Marum
                        .schedule-label Dinsdag en donderdag		
                        .schedule-value 8:00 tot 12:00 uur
                    
                    .footer-schedule
                        .schedule-title Grootegast
                        .schedule-label Woensdag en vrijdag
                        .schedule-value 8:00 tot 12:00 uur
                
                .col.col-md-3
                    .footer-label Navigatie
                    nav.footer-nav
                        .footer-nav-item: a(href="{{ $root.appConfigs.features.fronts.url_provider }}" target="_self") Bent u een winkelier of vereniging en wilt u meer informatie?
                        .footer-nav-item: a(href="{{ $root.appConfigs.features.fronts.url_sponsor }}" target="_self") Bent u een medewerker van de gemeente en wilt u meer informatie?
                
        .block.block-copyrights: .wrapper
            .copyrights 
            .links
                a(href="https://www.westerkwartier.nl/home/over-deze-site_3688") Algemene Voorwaarden
                .link-separator
                a(href="https://www.westerkwartier.nl/home/privacyverklaring_3442") Privacy Statement
                .link-separator
                a(ui-sref="accessibility" target="_blank") Toegankelijkheid
            .developed
                | 
                a(href="#")

//- Kerstpakket
else if (qdt_c.platform.env_data.client_key == 'kerstpakket')
    section.section.section-footer
        .wrapper
            .block.block-footer: .row
                .col.col-md-5
                    .footer-label 
                    //-img(src="./assets/img/logo-bw.png").footer-logo
                    .footer-schedule
                        .schedule-label 
                        .schedule-value 
                    .footer-schedule
                        .schedule-label 	
                        .schedule-value 
                    .footer-schedule
                        .schedule-label 		
                        .schedule-value 
                //-.col(ng-class="$root.appConfigs.features.newsletter?'col-md-3':'col-md-4'")
                    //img(src="./assets/img/forus-logo-bw.svg").footer-logo
                    .block.block-app_download: .footer-label Downloads
                        .download-button: a(href="https://play.google.com/store/apps/details?id=io.forus.me" target="_blank" aria-label="Download Me-app")
                            .download-icon: img(src="./assets/img/icon-app/icon-app-android.svg")
                        .download-button: a(href="https://itunes.apple.com/nl/app/me-forus/id1422610676" target="_blank" aria-label="Dowload Me-app")
                            .download-icon: img(src="./assets/img/icon-app/icon-app-ios.svg")
                            
                .col.col-md-3
                    .footer-label 
                    .footer-schedule
                        .schedule-label  		
                        .schedule-value 
                        
                    .footer-schedule
                        .schedule-label 		
                        .schedule-value 

                    .footer-schedule
                        .schedule-label 		
                        .schedule-value 
                    
                    .footer-schedule
                        .schedule-label  	
                        .schedule-value 
                    
                    .footer-schedule
                        .schedule-label 		
                        .schedule-value 
                .col.col-md-4
                    .footer-label 
                    nav.footer-nav
                        .footer-nav-item: a(href="{{ $root.appConfigs.features.fronts.url_sponsor }}" target="_self") 
                        .footer-nav-item: a(href="{{ $root.appConfigs.features.fronts.url_provider }}" target="_self")
                    nav.footer-nav(style="margin-top:0; padding:0;")
                        .footer-nav-item: a(ui-sref="me-app" target="_blank")
                
        .block.block-copyrights: .wrapper
            .copyrights 
            .block.block-app_download(style="margin-bottom:15px;"): .footer-label(style="margin-bottom:0px;") 
                a(href="https://play.google.com/store/apps/details?id=io.forus.me" target="_blank" aria-label="Download Me-app")
                    img(src="./assets/img/icon-app/icon-app-android.svg" style="height: 40px; width: 120px; padding-right: 5px; margin-top: 10px;")
                a(href="https://itunes.apple.com/nl/app/me-forus/id1422610676" target="_blank" aria-label="Dowload Me-app")
                    img(src="./assets/img/icon-app/icon-app-ios.svg" style="height: 40px; width: 120px; margin-top: 10px;")
            .links
                a(href="" target="_blank") Algemene Voorwaarden
                .link-separator
                a(href="" target="_blank") Privacy Statement 
            .developed
                | 
                a(href="#")

//- Noordoostpolder
else if (qdt_c.platform.env_data.client_key == 'noordoostpolder')
    section.section.section-footer
        .wrapper
            .block.block-footer: .row
                .col(ng-class="$root.appConfigs.features.newsletter?'col-md-4':'col-md-5'")
                    .footer-label Contactgegevens
                    //-img(src="./assets/img/logo-bw.png").footer-logo
                    .footer-schedule
                        .schedule-label E-mailadres:		
                        .schedule-value info@noordoostpolder.nl
                    .footer-schedule
                        .schedule-label Telefoonnummer:		
                        .schedule-value 0527 63 39 11
                    .footer-schedule
                        .schedule-label Adres:		
                        .schedule-value Harmen Visserplein 1 8302 BW Emmeloord
                //-.col(ng-class="$root.appConfigs.features.newsletter?'col-md-3':'col-md-4'")
                    //img(src="./assets/img/forus-logo-bw.svg").footer-logo
                    .block.block-app_download: .footer-label Downloads
                        .download-button: a(href="https://play.google.com/store/apps/details?id=io.forus.me" target="_blank" aria-label="Download Me-app")
                            .download-icon: img(src="./assets/img/icon-app/play-store-badge.png")
                        .download-button: a(href="https://itunes.apple.com/nl/app/me-forus/id1422610676" target="_blank" aria-label="Dowload Me-app")
                            .download-icon: img(src="./assets/img/icon-app/app-store-badge.svg")
                            
                .col(ng-class="$root.appConfigs.features.newsletter?'col-md-3':'col-md-3'")
                    .footer-label Openingstijden
                    .footer-schedule
                        .schedule-label Maandag: 		
                        .schedule-value 8:30 - 16:30

                    .footer-schedule
                        .schedule-label Dinsdag: 		
                        .schedule-value 8:30 - 16:30

                    .footer-schedule
                        .schedule-label Woensdag: 		
                        .schedule-value 8:30 - 16:30
                    
                    .footer-schedule
                        .schedule-label Donderdag:	 	
                        .schedule-value 8:30 - 16:30
                    
                    .footer-schedule
                        .schedule-label Vrijdag: 		
                        .schedule-value 8:30 - 12:00

                .col.col-md-4
                    .footer-label Navigatie
                    nav.footer-nav
                        .footer-nav-item: a(href="{{ $root.appConfigs.features.fronts.url_provider }}" target="_self") Bent u een aanbieder en wilt u meer informatie?
                        .footer-nav-item: a(href="{{ $root.appConfigs.features.fronts.url_sponsor }}" target="_self") Bent u een medewerker van de gemeente Noordoostpolder en wilt u meer informatie?
                    .block.block-app_download(style="margin-top:15px;"): .footer-label(style="margin-bottom:0px;") Download Me-app
                        .block
                            a(href="https://play.google.com/store/apps/details?id=io.forus.me" target="_blank" aria-label="Download Me-app")
                                img(src="./assets/img/icon-app/icon-app-android.svg")
                            a(href="https://itunes.apple.com/nl/app/me-forus/id1422610676" target="_blank" aria-label="Dowload Me-app")
                                img(src="./assets/img/icon-app/icon-app-ios.svg")
                    nav.footer-nav(style="margin-top:0; padding:0;")
                        .footer-nav-item: a(ui-sref="me-app" target="_blank") Wilt u meer informatie over de Me-app?	
                
                .col.col-md-3(ng-if="$root.appConfigs.features.newsletter")
                    .footer-label Ontvang onze nieuwsbrief
                    .form
                        .form-group.footer-subscribe
                            input(type="email" placeholder="E-mail").form-control.form-control-fancy
                            button.button.button-primary: .mdi.mdi-arrow-right
                
        .block.block-copyrights: .wrapper
            .copyrights 
            .links
                a(href="https://www.noordoostpolder.nl/meedoenpakket" target="_blank") Algemene Voorwaarden
                .link-separator
                a(href="https://www.noordoostpolder.nl/privacy-0" target="_blank") Privacy Statement
                .link-separator
                a(ui-sref="accessibility" target="_blank") Toegankelijkheid
            .developed
                | 
                a(href="#")
//-Groningen
else if (qdt_c.platform.env_data.client_key == 'groningen')
    section.section.section-footer
        .wrapper
            .block.block-footer: .row
                .col.col-md-4
                    .footer-label Contactgegevens
                    //-img(src="./assets/img/logo-bw.png").footer-logo
                    .footer-schedule
                        .schedule-value Telefoon: 14 050
                        .schedule-value (maandag t/m vrijdag 09:00 - 12:00 uur)
                        .schedule-value: a(href="mailto:stadjerspas@groningen.nl") stadjerspas@groningen.nl
                    .footer-label(style="margin-top: 20px;") Hulp nodig?
                    .footer-schedule
                        .schedule-value Een medewerker van het WIJ-team helpt u graag verder.
                        .schedule-value: a(href="https://wij.groningen.nl/") Bezoekadressen en openingstijden
                //-.col(ng-class="$root.appConfigs.features.newsletter?'col-md-3':'col-md-4'")
                    //img(src="./assets/img/forus-logo-bw.svg").footer-logo
                    .block.block-app_download: .footer-label Downloads
                        .download-button: a(href="https://play.google.com/store/apps/details?id=io.forus.me" target="_blank" aria-label="Download Me-app")
                            .download-icon: img(src="./assets/img/icon-app/icon-app-android.svg")
                        .download-button: a(href="https://itunes.apple.com/nl/app/me-forus/id1422610676" target="_blank" aria-label="Dowload Me-app")
                            .download-icon: img(src="./assets/img/icon-app/icon-app-ios.svg")
                .col.col-md-4
                    .footer-label Navigatie
                    nav.footer-nav
                        .footer-nav-item: a(ui-sref="sign-up" target="_self") Aanmelden als aanbieder
                            
                .col.col-md-4
                    .footer-label Download Me-app
                    .block.block-app_download
                        a(href="https://play.google.com/store/apps/details?id=io.forus.me" target="_blank" aria-label="Download Me-app")
                        img(src="./assets/img/icon-app/icon-app-android.svg" alt="Google Play Store")
                        a(href="https://itunes.apple.com/nl/app/me-forus/id1422610676" target="_blank" aria-label="Download Me-app")
                        img(src="./assets/img/icon-app/app-store-badge.svg" alt="Apple App Store")                
                    nav.footer-nav(style="margin-top:0; padding:0;")
                            .footer-nav-item: a(ui-sref="me-app" target="_blank") Wilt u meer informatie over de Me-app?
                
        .block.block-copyrights: .wrapper
            .copyrights 
            .links
                //a(href="#" target="_blank") Algemene Voorwaarden
                // .link-separator
                a(href="https://gemeente.groningen.nl/privacyverklaring" target="_blank") Privacy Statement
                .link-separator
                a(href="https://gemeente.groningen.nl/toegankelijkheid" target="_blank") Toegankelijkheid
//-Potjeswzijer
else if (qdt_c.platform.env_data.client_key == 'potjeswijzer')
    section.section.section-footer
        .wrapper
            .block.block-footer: .row
                .col.col-md-4
                    .footer-label Contactgegevens
                    //-img(src="./assets/img/logo-bw.png").footer-logo
                    .footer-schedule
                        .schedule-label E-mailadres:		
                        .schedule-value support@potjeswijzer.nl
                    .footer-schedule
                        .schedule-label Telefoonnummer:		
                        .schedule-value 085 0043387
                    .footer-schedule
                        .schedule-label Adres:		
                        .schedule-value Zuidhorn, Dorpsvenne 12
                //-.col(ng-class="$root.appConfigs.features.newsletter?'col-md-3':'col-md-4'")
                    //img(src="./assets/img/forus-logo-bw.svg").footer-logo
                    .block.block-app_download: .footer-label Downloads
                        .download-button: a(href="https://play.google.com/store/apps/details?id=io.forus.me" target="_blank" aria-label="Download Me-app")
                            .download-icon: img(src="./assets/img/icon-app/icon-app-android.svg")
                        .download-button: a(href="https://itunes.apple.com/nl/app/me-forus/id1422610676" target="_blank" aria-label="Dowload Me-app")
                            .download-icon: img(src="./assets/img/icon-app/icon-app-ios.svg")
                            
                .col.col-md-4
                    .footer-label Openingstijden
                    .footer-schedule
                        .schedule-label Maandag: 		
                        .schedule-value 9.00-17.00
                        
                    .footer-schedule
                        .schedule-label Dinsdag:		
                        .schedule-value 9.00-17.00

                    .footer-schedule
                        .schedule-label Woensdag: 		
                        .schedule-value 9.00-17.00
                    
                    .footer-schedule
                        .schedule-label Donderdag:	 	
                        .schedule-value 9.00-20.00
                    
                    .footer-schedule
                        .schedule-label Vrijdag: 		
                        .schedule-value 9.00-17.00
                .col.col-md-4
                    .footer-label Navigatie
                    nav.footer-nav
                        .footer-nav-item: a(ui-sref="sign-up" target="_self") Aanmelden als aanbieder
                        .footer-nav-item: a(href="{{ $root.appConfigs.features.fronts.url_sponsor }}sign-up" target="_self") Aanmelden als sponsor
                        .footer-nav-item: a(href="{{ $root.appConfigs.features.fronts.url_validator }}sign-up" target="_self") Aanmelden als beoordelaar
                    .block.block-app_download(style="margin-top:15px;"): .footer-label(style="margin-bottom:0px;") Download Me-app
                        .wrapper
                            a(href="https://play.google.com/store/apps/details?id=io.forus.me" target="_blank" aria-label="Download Me-app")
                                img(src="./assets/img/icon-app/icon-app-android.svg" style="height: 40px; width: 120px; margin-top: 10px; margin-right: 5px")
                            a(href="https://itunes.apple.com/nl/app/me-forus/id1422610676" target="_blank" aria-label="Dowload Me-app")
                                img(src="./assets/img/icon-app/app-store-badge.svg")
                    nav.footer-nav(style="margin-top:0; padding:0;")
                        .footer-nav-item: a(ui-sref="me-app" target="_blank") Wilt u meer informatie over de Me-app?
                
        .block.block-copyrights: .wrapper
            .copyrights 
            .links
                a(href="#" target="_blank") Algemene Voorwaarden
                .link-separator
                a(href="#" target="_blank") Privacy Statement
                .link-separator
                a(ui-sref="#" target="_blank") Toegankelijkheid
            .developed
                | 
                a(href="#")

//-Geertruidenberg
else if (qdt_c.platform.env_data.client_key == 'geertruidenberg')
    section.section.section-footer
        .wrapper
            .block.block-footer: .row
                .col.col-md-4
                    .footer-label Contactgegevens
                    //-img(src="./assets/img/logo-bw.png").footer-logo
                    .footer-schedule
                        .schedule-label E-mailadres:		
                        .schedule-value info@geertruidenberg.nl
                    .footer-schedule
                        .schedule-label Telefoonnummer:		
                        .schedule-value 14 0162
                    .footer-schedule
                        .schedule-label Adres:		
                        .schedule-value Raamsdonksveer, Vrijheidstraat 2
                //-.col(ng-class="$root.appConfigs.features.newsletter?'col-md-3':'col-md-4'")
                    //img(src="./assets/img/forus-logo-bw.svg").footer-logo
                    .block.block-app_download: .footer-label Downloads
                        .download-button: a(href="https://play.google.com/store/apps/details?id=io.forus.me" target="_blank")
                            .download-icon: img(src="./assets/img/icon-app/icon-app-android.svg")
                        .download-button: a(href="https://itunes.apple.com/nl/app/me-forus/id1422610676" target="_blank")
                            .download-icon: img(src="./assets/img/icon-app/icon-app-ios.svg")
                            
                .col.col-md-4
                    .footer-label Navigatie
                    nav.footer-nav
                        .footer-nav-item: a(ui-sref="sign-up" target="_self") Aanmelden als aanbieder
                        .footer-nav-item: a(href="{{ $root.appConfigs.features.fronts.url_sponsor }}sign-up" target="_self") Aanmelden als sponsor
                
                .col.col-md-4
                    .block.block-app_download: .footer-label(style="margin-bottom:0px;") Download Me-app
                        .wrapper
                            a(href="https://play.google.com/store/apps/details?id=io.forus.me" target="_blank")
                                img(src="./assets/img/icon-app/icon-app-android.svg" style="height: 40px; width: 120px; margin-top: 10px; margin-right: 5px")
                            a(href="https://itunes.apple.com/nl/app/me-forus/id1422610676" target="_blank")
                                img(src="./assets/img/icon-app/app-store-badge.svg")
                    nav.footer-nav(style="margin-top:0; padding:0;")
                        .footer-nav-item: a(ui-sref="me-app" target="_blank") Wilt u meer informatie over de Me-app?
                
        .block.block-copyrights
            .copyrights 
            .links
                //-a(href="#" target="_blank") Algemene Voorwaarden
                //-.link-separator
                a(href="https://geertruidenberg.nl/privacy" target="_blank") Privacy Statement
                .link-separator
                a(ui-sref="https://geertruidenberg.nl/toegankelijkheidsverklaring" target="_blank") Toegankelijkheid
            .developed
                | 
                a(href="#")
else
    div