.block.block-2fa-restriction
    .restriction-hero
        .restriction-hero-media: img(ng-src="/assets/img/icon-2fa-restriction.svg")

        //- Test for emails feature
        .restriction-hero-details(ng-if="$dir.type == 'emails'")
            .restriction-hero-title
                | TTweefactorauthenticatie is vereist voor het beheren van e-mailadressen.
            .restriction-hero-description
                | Om de veiligheid en bescherming van persoonlijke gegevens in de webshop te waarborgen, is het verplicht om accounts te authenticeren.
                | Gebruikers moeten een identificatiemethode verstrekken voordat ze toegang krijgen tot functies waarin persoonlijke gegevens worden ingevoerd of accountaanpassingen kunnen worden gemaakt.

            .button-group: a(ui-sref="security-2fa").button.button-primary.button-sm
                .icon.mdi.mdi-lock-outline 
                | Tweefactorauthenticatie instellen

        //- Test for sessions feature
        .restriction-hero-details(ng-if="$dir.type == 'sessions'")
            .restriction-hero-title
                | Tweefactorauthenticatie is vereist voor het beheren van inlog sessies.
            .restriction-hero-description
                | Om de veiligheid en bescherming van persoonlijke gegevens in de webshop te waarborgen, is het verplicht om accounts te authenticeren.
                | Gebruikers moeten een identificatiemethode verstrekken voordat ze toegang krijgen tot functies waarin persoonlijke gegevens worden ingevoerd of accountaanpassingen kunnen worden gemaakt.

            .button-group: a(ui-sref="security-2fa").button.button-primary.button-sm
                .icon.mdi.mdi-lock-outline 
                | Tweefactorauthenticatie instellen

        //- Test for reimbursements feature
        .restriction-hero-details(ng-if="$dir.type == 'reimbursements'")
            .restriction-hero-title
                | Tweefactorauthenticatie is vereist voor het indienden van declaraties.
            .restriction-hero-description
                | Om de veiligheid en bescherming van persoonlijke gegevens in de webshop te waarborgen, is het verplicht om accounts te authenticeren.
                | Gebruikers moeten een identificatiemethode verstrekken voordat ze toegang krijgen tot functies waarin persoonlijke gegevens worden ingevoerd of accountaanpassingen kunnen worden gemaakt.

            .button-group: a(ui-sref="security-2fa").button.button-primary.button-sm
                .icon.mdi.mdi-lock-outline 
                | Tweefactorauthenticatie instellen

    .restriction-reasons
        //- Test for emails feature
        .restriction-details(ng-if="$dir.type == 'emails'")
            .restriction-title 
                | Voor de volgende tegoeden is tweefactorauthenticatie vereist.

            .restriction-description 
                | Om bepaalde opties en functionaliteit te gebruiken, dienen gebruikers een tweede verificatiemethode te gebruiken. Dit versterkt de beveiliging en zorgt ervoor dat alleen geautoriseerde gebruikers toegang hebben tot de functies, waardoor de accounts beter beschermd zijn.

        //- Test for sessions feature
        .restriction-details(ng-if="$dir.type == 'sessions'")
            .restriction-title 
                | Voor de volgende tegoeden is tweefactorauthenticatie vereist.

            .restriction-description 
                | Om bepaalde opties en functionaliteit te gebruiken, dienen gebruikers een tweede verificatiemethode te gebruiken. Dit versterkt de beveiliging en zorgt ervoor dat alleen geautoriseerde gebruikers toegang hebben tot de functies, waardoor de accounts beter beschermd zijn.

        //- Test for reimbursements feature
        .restriction-details(ng-if="$dir.type == 'reimbursements'")
            .restriction-title 
                | Voor de volgende tegoeden is tweefactorauthenticatie vereist.

            .restriction-description 
                | Om bepaalde opties en functionaliteit te gebruiken, dienen gebruikers een tweede verificatiemethode te gebruiken. Dit versterkt de beveiliging en zorgt ervoor dat alleen geautoriseerde gebruikers toegang hebben tot de functies, waardoor de accounts beter beschermd zijn.

        .restriction-item(ng-repeat="item in $dir.itemsList")
            .restriction-item-media: img(ng-src="{{ item.thumbnail || ('./assets/img/placeholders/' + $dir.defaultThumbnail + '.png') }}")
            .restriction-item-name(ng-bind="item.name")
