.block.block-info-box
    .info-box-icon.mdi.mdi-information-outline
    
    .info-box-content
        | Kijk voor meer informatie over 2FA op ons:&nbsp;
        a(href="https://helpcentrum.forus.io/kb/guide/nl/tweefactorauthenticatie-euzhlJKzx4/Steps/2571975" target="_blank").info-box-link 
            | Helpcenter artikel
            .mdi.mdi-chevron-right