.block.block-empty
    .block-title(ng-bind="title")
    .block-description(ng-bind="description")
    a(href="#").block-link
        | {{ "emptyblock.guide" | translate }}
        em.mdi.mdi-arrow-right