section.section.section-flow.wide-70: .wrapper
    .section-sprite
    .section-title(translate="Implementaties")
    .section-description 
        | Wij bieden Platform Forus en de Me app aan als een generieke oplossing. Het systeem kan binnen korte tijd binnen uw organisatie worden geïmplementeerd.
    br
    br
    .section-title(translate="Advies")
    .section-description 
        | Wij geven advies over decentrale technologie, innovatie en automatisering. Ook delen wij graag onze ervaringen als start-up in samenwerking met overheidspartijen. 
    br
    br
    .section-title(translate="Maatwerk")
    .section-description 
        | Ons team maakt in overleg maatwerk oplossingen. Wij zijn erg benieuwd naar uw wensen met betrekking tot extra functionaliteit binnen het bestaande platform of nieuwe losstaande uitdagingen.
