label(for="{{ name }}" ng-class="{'checkbox-narrow': narrow, 'checkbox-compact': compact, 'checkbox-fill' : fill}").checkbox
    input(type="checkbox" checked id="{{ name }}" ng-model="ngModel")
    .checkbox-label
        .checkbox-box: .mdi.mdi-check
        span(ng-bind="label")