.block.block-sticky-footer.show-sm(ng-class='{ "scrolled" : !visible }')
    ul.sticky-footer-list
        li(ui-sref="providers" ui-sref-active="active")
            a.sticky-footer-item(ui-sref="providers" aria-current="{{ isActive('/providers') }}")
                include ../../../resources/_webshop-common/assets/img/icon-menu/icon-menu-providers.svg
                span(translate="topnavbar.buttons.providers")

        li(ng-if="$root.appConfigs.features.has_subsidy_funds && ($root.appConfigs.flags.productsMenu || $root.auth_user)" ui-sref="actions" ui-sref-active="active")
            a.sticky-footer-item(ui-sref="actions" aria-current="{{ isActive('/actions') }}")
                include ../../../resources/_webshop-common/assets/img/icon-menu/icon-menu-products2.svg
                span(translate="topnavbar.buttons.subsidies")

        li(ng-if="$root.appConfigs.features.has_budget_funds && ($root.appConfigs.flags.productsMenu || $root.auth_user)" ui-sref="products" ui-sref-active="active")
            a.sticky-footer-item(ui-sref="products" aria-current="{{ isActive('/products') }}")
                include ../../../resources/_webshop-common/assets/img/icon-menu/icon-menu-products2.svg
                span(translate="topnavbar.buttons.products")

        li(ng-if="!$root.auth_user" ng-click="startFundRequest()" ui-sref-active="active")
            a.sticky-footer-item(ng-click="startFundRequest()" aria-current="{{ isActive('/start') }}")
                include ../../../resources/_webshop-common/assets/img/icon-menu/icon-menu-start-request.svg
                span(translate="topnavbar.buttons.{{ $root.client_key }}.activate" translate-default="{{ 'topnavbar.buttons.activate' | translate }}") 

        li(ng-if="$root.auth_user" ui-sref="vouchers" ui-sref-active="active")
            a.sticky-footer-item-wrapper(ui-sref="vouchers" aria-current="{{ isActive('/vouchers') }}")
                include ../../../resources/_webshop-common/assets/img/icon-menu/icon-menu-my-vouchers2.svg
                span(translate="topnavbar.buttons.mobile.voucher") 

        li(ng-if="$root.auth_user && !$root.appConfigs.features.records.list" ui-sref="preferences-notifications" ui-sref-active="active")
            a.sticky-footer-item-wrapper(ui-sref="preferences-notifications" aria-current="{{ isActive('/preferences/notifications') }}")
                include ../../../resources/_webshop-common/assets/img/icon-menu/icon-menu-my-profile2.svg
                span(translate="topnavbar.buttons.mobile.profile")
        
        li(ng-if="$root.auth_user && $root.appConfigs.features.records.list" ui-sref="records" ui-sref-active="active")
            a.sticky-footer-item-wrapper(ui-sref="records" aria-current="{{ isActive('/records') }}")
                include ../../../resources/_webshop-common/assets/img/icon-menu/icon-menu-my-profile2.svg
                span(translate="topnavbar.buttons.mobile.profile")