.block
    .block.block-pane: .pane-head.flex-row  
        .flex-grow Products

    .block.block-products    
        .product-item(ng-repeat="product in $ctrl.shownProducts").discounted
            a(ui-sref="products-show(product)").product-item-inner
                .product-image(style="background-image: url('{{ product.photo.sizes.small || './assets/img/placeholders/product-small.png' }}')")
                    img(ng-src="{{ product.photo.sizes.small || './assets/img/placeholders/product-small.png' }}")
                .product-details
                    .product-organization
                        span(ng-bind="product.organization.name")
                    .product-name.truncated(ng-bind="product.name")
                    .product-discount(ng-if="product.isDiscounted")
                        | {{ product.old_price == 0 ? 0 : (100 - (product.price / product.old_price) * 100) | to_fixed:0 }}%
                        br
                        | {{ "block_products.labels.discount" | translate }}
                    .product-discount(ng-if="!product.isDiscounted").hide-sm
                        | &nbsp;
                        br
                        | &nbsp;
                    .product-price
                        small(ng-if="product.isDiscounted") {{ "block_products.labels.old" | translate }} {{ product.old_price | currency_format }}
                        small(ng-if="!product.isDiscounted").hide-sm &nbsp;
                        | {{ "block_products.labels.new" | translate }} {{ product.price | currency_format }}

    .block.block-show-more(ng-if="$ctrl.provider.products && $ctrl.shownProducts.length < $ctrl.provider.products.length") 
        a(ng-click="$ctrl.showMoreProducts()" translate="block_products.buttons.more").button.button-primary.button-wide

    .block.block-show-more(ng-if="$ctrl.provider.products && $ctrl.shownProducts.length >= $ctrl.provider.products.length") 
        a(ng-click="$ctrl.showLessProducts()" translate="block_products.buttons.less").button.button-primary.button-wide