.profile-aside
    .profile-card
        .profile-qr_code#profile_qr
        .profile-details
            .profile-heading {{ "profilecard.header.heading" | translate }}
            .profile-description {{ "profilecard.header.description" | translate }}
        .profile-address
            .profile-address-label {{ "profilecard.header.adress" | translate }}
            .profile-address-value#identity_address(ng-bind="$root.auth_user.address")
        .profile-actions
            div(ng-click="copyAddress()").profile-action 
                em.mdi.mdi-content-copy 
                | {{ "profilecard.header.copy" | translate }}
            a(href="#").profile-action 
                em.mdi.mdi-share-variant 
                | {{ "profilecard.header.share" | translate }}
    .profile-menu
        a(ui-sref="vouchers" ui-sref-active="active").profile-menu-item 
            | {{ "profilecard.header.item" | translate }}
            em.mdi.mdi-arrow-right
        a(
            ui-sref="records" 
            ui-sref-active="active"
            ng-if="$root.appConfigs.features.records.list").profile-menu-item 
            | {{ "profilecard.header.records" | translate }}
            em.mdi.mdi-arrow-right