.skiplinks(role="navigation")
    a.sr-only.sr-only-focusable(ng-href="{{ mainContentUrl }}") Naar hoofdinhoud
    a.sr-only.sr-only-focusable.hide-sm(href="#navigation-menu") Naar hoofdnavigatiemenu
    a.sr-only.sr-only-focusable.show-sm(href="#" ng-click="focusMobileNavigation()") Naar hoofdnavigatiemenu