a(ui-sref="voucher(voucher)").voucher-item
    .voucher-image(style="background-image: url('{{ voucherCard.thumbnail || './assets/img/placeholders/fund-thumbnail.png' }}')")
    .voucher-details
        .voucher-name(ng-bind="voucherCard.title")
        .voucher-organization(ng-bind="voucherCard.subtitle")
        .voucher-value(ng-bind="'€' + (voucherCard.amount | to_fixed:2)")
    .voucher-overview(ng-if="voucherCard.type == 'regular'")
        .voucher-overview-item
            .voucher-overview-label {{ "vouchers.labels.transactions" | translate }}
            .voucher-overview-value(ng-bind="voucherCard.transactions.length")
        .voucher-overview-item
            .voucher-overview-label {{ "vouchers.labels.last" | translate }}
            .voucher-overview-value(ng-if="voucherCard.transactions.length > 0")
                | -{{ voucherCard.transactions[voucherCard.transactions.length-1].amount | to_fixed:2 }}
                small {{ "vouchers.labels.subtract" | translate }}
            .voucher-overview-value(ng-if="voucherCard.transactions.length == 0")
                span.text-muted {{ "vouchers.labels.none" | translate }}

    .voucher-overview(ng-if="voucherCard.type == 'product'")
        .voucher-overview-item
            .voucher-overview-label {{ "vouchers.labels.used" | translate }}
            .voucher-overview-value(ng-bind="voucherCard.transactions.length == 0 ? 'Nee' : 'Ja'")
        .voucher-overview-item
            .voucher-overview-label {{ "vouchers.labels.generated" | translate }}
            .voucher-overview-value(ng-bind="voucherCard.created_at_locale")
        .voucher-overview-item
            .voucher-overview-label {{ "vouchers.labels.expire" | translate }}
            .voucher-overview-value(ng-bind="voucherCard.expire_at_locale")
