a(ui-sref="voucher(voucher)" dusk="voucherItem").voucher-item
    .voucher-image: img(
        ng-src='{{ voucherCard.thumbnail }}' 
        alt="Dit is de afbeelding van {{ voucherCard.type == 'product' ? 'product' : 'fund' }} {{ voucherCard.fund.name }}")

    .voucher-details
        .voucher-name(ng-bind="voucherCard.title" dusk="voucherName")
        .voucher-organization
            span(ng-if="voucherCard.records_title")
                span(ng-bind="voucherCard.records_title")
                span.text-separator
            span(ng-bind="voucherCard.subtitle")

        .voucher-value(
            ng-if="!voucherCard.is_external && (voucherCard.fund.type == 'budget') && (voucherCard.type == 'regular')" 
            ng-bind="voucherCard.amount_locale")

        .voucher-status-label(ng-if="!voucher.deactivated")
            .label.label-light(ng-if="voucher.expired" i18n="voucher.voucher_card.expired")
            .label(ng-class="{true: 'label-success', false: 'label-warning'}[!voucherCard.used]" ng-if="voucherCard.type == 'product' && !voucher.expired" ng-bind="!voucherCard.used ? 'Ongebruikt' : 'Gebruikt'")

        .voucher-status-label(ng-if="voucher.deactivated")
            .label.label-danger Gedeactiveerd

        .voucher-cancel-label(ng-if="voucher.expired && !voucherCard.used && voucherCard.type == 'product' && voucherCard.returnable")
            label(ng-click="deleteVoucher($event, voucher)" i18n="voucher.voucher_card.delete")

    .voucher-overview.voucher-overview-stats
        .voucher-overview-item(ng-if="!voucherCard.used")
            .voucher-overview-label(i18n="vouchers.labels.expire" ng-if="!voucher.expired")
            .voucher-overview-label(i18n="vouchers.labels.expired_on" ng-if="voucher.expired")
            .voucher-overview-value(ng-bind="voucherCard.last_active_day_locale")  

        .voucher-overview-item(ng-if="voucherCard.used && voucherCard.type == 'product'")
            .voucher-overview-label(i18n="vouchers.labels.used_on")
            .voucher-overview-value(ng-bind="voucherCard.last_transaction_at_locale")
