.voucher-item(ui-sref="voucher(voucher)")
    .voucher-image(style="background-image: url('{{ voucherCard.thumbnail }}')")
    
    .voucher-details
        .label(ng-class="{true: 'label-success', false: 'label-warning'}[voucherCard.transactions.length == 0]" ng-if="voucherCard.type == 'product'" ng-bind="voucherCard.transactions.length == 0 ? 'Ongebruikt' : 'Gebruikt'")
        .voucher-name(ng-bind="voucherCard.title")
        .voucher-organization(ng-bind="voucherCard.subtitle")
        //-.voucher-read_more Uw tegoed is:
        .voucher-value(ng-if="voucherCard.type == 'regular'" ng-bind="voucherCard.amount | currency_format")
        .voucher-read_more(ng-if="voucherCard.type == 'product'" ui-sref="products-show(voucherCard.product)" prevent-propagation)
            | Bekijk details
            em.mdi.mdi-arrow-right
    
    // regular voucher
    .voucher-overview(ng-if="voucherCard.type == 'regular'")
        .voucher-overview-item.voucher-open
            button.button.button-primary {{ "vouchers.labels.open_voucher" | translate }}

    // product voucher
    .voucher-overview(ng-if="voucherCard.type == 'product'")
        //-.voucher-overview-item
            .voucher-overview-label(i18n="vouchers.labels.used")
            .voucher-overview-value(ng-bind="voucherCard.transactions.length == 0 ? 'Nee' : 'Ja'")
        .voucher-overview-item
            .voucher-overview-label(i18n="vouchers.labels.generated")
            .voucher-overview-value(ng-bind="voucherCard.created_at_locale")
        .voucher-overview-item(ng-if="voucherCard.transactions.length == 0")
            .voucher-overview-label(i18n="vouchers.labels.expire")
            .voucher-overview-value(ng-bind="voucherCard.expire_at_locale")
        .voucher-overview-item(ng-if="voucherCard.transactions.length == 1")
            .voucher-overview-label Gebruikt op
            .voucher-overview-value(ng-bind="voucherCard.transactions[0].created_at_locale")
        .voucher-overview-item.voucher-open
            button.button.button-primary {{ "vouchers.labels.open_voucher" | translate }}