section.section.section-flow: .wrapper
    .section-title(translate="In de huisstijl van uw gemeente")
    .section-description(translate="Het systeem wordt geleverd in de stijl van uw gemeente. Het is zo ingericht dat de achterliggende logica losstaat van de “voorkant”. De voorkanten passen we aan zodat de inwoner weet dat ze gebruik maken van een gemeentelijk systeem.")
    .section-sites
        img(src="./assets/img/site/platform/general.png" alt="platform general").section-sites-item
        img(src="./assets/img/site/platform/zuidhorn.png" alt="platform zuidhorn").section-sites-item
        img(src="./assets/img/site/platform/nijmegen.png" alt="platform nijmegen").section-sites-item
