.frame-director {
    position: fixed;
    inset: 0;
    z-index: 100;
    overflow: hidden;
    pointer-events: none;

    .fd-content {
        position: absolute;
        pointer-events: initial;
    }
}
