@import '../general/vars.scss';

/*==========  Style Sheet - Vars  ==========*/

// navbar
$bg-nav:            #5D646F;
$tc-nav-hov:        #c7c7c7;
$tc-nav:            #FFFFFF;
$logo-padding:      30px 0px;
$logo-height:       75px;

// navbar (auth)
$tc-auth-menu:      #24A1A1; 
$tc-auth-btn:       #fff; 
$btn-auth-bg:       #24A1A1; 
$btn-auth-border:   #fff;

// navbar (start modal primary)
$tc-start-btn:       #fff; 
$btn-start-bg:       #24A1A1; 
$btn-start-btn:      #24A1A1;
$btn-start-border:   transparent;

$bg-values:          url("../img/splash-top-b.jpg") no-repeat center 100%;

// base font
$bf:                'Montserrat', Arial, Verdana;

// text color
$tc:                #1a1919;
$tc-var:            #fff;
$tc-link:           inherit;

// base color
$bc:                #24A1A1;

// background color
$bg:                #fff;

$bg_2:              none;

// text formatting
$tf:                inherit;

// footer color
$fbc:                #24A1A1;
$fc:                #ffffff;
$fc-link:            #ffffff;

// displayed or not
$fd:                block;

// product image
$pi:                0px;

// placeholder text color
$ptc:               #515152;

$border_color:      #dce0e0;

$border_radius:     0px;
$base_shadow:       0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

$color_primary:         #24A1A1;
$color_primary_light:   #24A1A1;

$color_default:         #24A1A1;
$color_default_light:   #24A1A1;

// Login button

$lb:                #fff;

