/*==========  Style Sheet - Vars  ==========*/

// header attributes
$bg-values:          url("../img/splash-top-b.png") no-repeat 100% 0;

// base font
$bf:                'Open Sans', arial, sans-serif;

// text color
$tc:                #353535;
$tc-var:            inherit;

// base color
$bc:                #017f96;

// background color
$bg:                #f7f9fc;

$bg_2:              linear-gradient(to bottom, #f7f9fc 0%, #fff 100%);

// text formatting
$tf:                uppercase;

// footer color
$fc:                #fff;

// Displayed or not
$fd:                block;

// product image
$pi:                10px 0 0 10px;

// placeholder text color
$ptc:               #646f79;

$border_color:      #d2e6ff;

$border_radius:     8px;
$base_shadow:       0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

$color_primary:         #70c567;
$color_primary_light:   #8fd888;

$color_default:         #017f96;
$color_default_light:   #017f96;
    
