@import "./vars";
@import "../_common/dashboard";

.landing-root {
    background: #fff;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    height: 100%;

    @import './landing';
}

.button {
    transition: 0.3s;
}

.form-group-inline {
    &.tooltipped {
        .tooltip-block {
            z-index: 5;
        }
    }
}