
// border color
$borderColor:       #ddd;

/*==========  Style Sheet - Vars  ==========*/

// base font
$bf: 'Source Sans Pro',
sans-serif;

// text color
$tc: #353535;

// base color
$bc: #d13b3b;

// placeholder text color
$ptc: #646f79;

$border_color: #ececec;

$border_radius: 0px;

$color_primary: #157c68;
$color_primary_light: #8fd888;

$color_default: #017f96;
$color_default_light: #017f96;


// base error color
$bec: #e63b3b;
$borderColor: $border_color;