html {
    body {
        .footer_sub {
            background: #f6f8f9;
            padding: 15px 0;
            margin-top: 25px;
        }
        footer{
            margin: 0 auto;
            margin-top: 80px;
            .text-boldest {
                font-weight: bold;
                font-size: 15px;
                margin-bottom: 25px;
                margin-top: 25px;
            }
            .pointer {
                cursor: pointer;
                &:hover {
                    color: #aaacb5;
                }
            }
            .text-bold {
                font-weight: 600;
                font-size: 13px;
            }
            .main_button {
                float: left;
            }
            .hidden-sm-up {
                display: none;
            }
            .navbar-brand{
                padding: 15px 0 10px;
            }
            p {
                font-size: 13px;
            }
            .card-block,
            .widget-list {
                li {
                    font-size: 13px;
                    .indent {
                        margin-left: 10px;
                    }
                }
            }
            nav {
                margin-bottom: 0!important;
                ul {
                    li {
                        margin: 0 20px;
                        a {
                            font-weight: 400;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: normal;
                            letter-spacing: normal;
                            color: #54565a;
                            img {
                                width: 23px;
                                margin-right: 5px;
                            }
                            &:hover, &:focus, &:active {
                                background: transparent;
                                background-color: transparent!important;
                            }
                        }
                        &.social {
                            margin: 0 5px;
                            a {
                                padding: 13px 0 9px;
                                svg {
                                    width: 23px !important;
                                    height: 23px !important;
                                }
                            }
                        }
                    }
                }
            }
            .copyright{
                display: none;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 2.18;
                letter-spacing: normal;
                color: #9b9b9b;
                margin-bottom: 10px;
            }
        }
    }
}