html {
    body {
        .container_contact {
            max-width: 1440px;
            margin: 0 auto;
            .wrapper {
                align-items: flex-start;
            }
        }
        .container {
            max-width: 1200px;
        }
        .container-me {
            max-width: 1760px;
            margin: auto;
            overflow: hidden;
        }
        .container-story {
            max-width: 1760px;
            margin: auto;
        }
    }
}