// home header -> cleanup
section {
    &.header {
        position: relative;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
        background: rgba(0, 0, 0, 0.2);
        display: flex;
        color: $forus-white;
        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: -1;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
        }
        @media screen and (min-width:992px) { 
            &:after {
            }
        }
        &__home {
            background: none;
            color: #333;       
            &:after {
                background-size: contain;
                -webkit-background-size: contain;
                -moz-background-size: contain;
                -o-background-size: contain;
                background-image: url($img_path + "/header-home2.png");
            }
            @media screen and (min-width:992px) { 
                &:after {
                    background-image: url($img_path + "/header-home2.png");
                }
            }
        }
        &__me {
            &:after {
                background-image: url($img_path + "/header-me.jpg");
            }
        }
        &__contact {
            &:after {
                background-image: url($img_path + "/header-contact.png");
            }
        }
        &__about {
            &:after {
                background-image: url($img_path + "/header-about.jpg");
            }
        }
        &__product_one {
            &:after {
                background-image: url($img_path + "/header-product-kindpakket.jpg");
            }
        }
        &__product_two {
            &:after {
                background-image: url($img_path + "/header-product-meedoen.jpg");
            }
        }
        &__product_three {
            &:after {
                background-image: url($img_path + "/header-product-kerstpakket.jpg");
            }
        }
        &__cs-story {
            &:after {
                background-image: url($img_path + "/header-klantverhaal-zuidhorn.jpg");
            }
        }
        &__platform {
            &:after {
                background-image: url($img_path + "/header-platform.jpg");
            }
        }
        &__faq {
            &:after {
                background-image: url($img_path + "/header-platform.jpg");
            }
        }
        &__stats-a {
            background: linear-gradient(to top left, rgba(53, 120, 255, 0.9215686274509803) 0%, rgba(53, 215, 255, 0.92) 100%);
            &:after {
                background-image: url($img_path + "/header-stats.jpg");
            }
            svg {
                height: 80px;
                width: 80px;
            }
        }
    }
} 