// home header
.Jumbotron {
    padding: 150px 5vw;
    position: relative;
    overflow: hidden;
    text-align: left;
    &.container{
        width: 100%;
        max-width: 1440px;
    }
    &:before{
        content: '';
        z-index: -1;
        position: absolute;
        left: 0px;
        top: -5%;
        width: 100%;
        height: 100%;
        background: url($img_path + "/header-fig-b.jpg")no-repeat top center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    h1 {
        color: #FFF;
        font-weight: 600;
        text-shadow: 1px 5px 10px black;
        margin: 0 auto;
    }
    h3 {
        color: #fff;
        text-shadow: 1px 5px 10px black;
        font-weight: 400;
    }
}
.CS_story {
    align-items: center;
    background: url(../img/kp_launch2.jpg) no-repeat center center;
    background-size: cover;
    height: 50vh;
    min-height: 300px;
    width: 100%;
    display: flex;
    text-align: center;
    .column {
        max-width: 700px;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
    }
}