// home header
section {
    &.header {
        max-height: 400px;
        height: 40vh;
        position: relative;
        background: rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: $forus-white;
        margin: 0;
        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: -1;
            width: 100%;
            height: 40vh;
            max-height: 400px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
        }
        &__home {        
            max-height: 600px;
            height: 60vh;
            &:after {
                background-image: url($img_path + "/header-home.jpg");
                height: 60vh;
                max-height: 600px;
            }
        }
        &__me {
            &:after {
                background-image: url($img_path + "/header-me.jpg");
            }
        }
        &__contact {
            &:after {
                background-image: url($img_path + "/header-contact.jpg");
            }
        }
        &__about {
            &:after {
                background-image: url($img_path + "/header-about.jpg");
            }
        }
        &__product_one {
            &:after {
                background-image: url($img_path + "/header-product-kindpakket.jpg");
            }
        }
        &__product_two {
            &:after {
                background-image: url($img_path + "/header-product-meedoen.jpg");
            }
        }
        &__product_three {
            &:after {
                background-image: url($img_path + "/header-product-kerstpakket.jpg");
            }
        }
        &__cs-story {
            &:after {
                background-image: url($img_path + "/header-klantverhaal-zuidhorn.jpg");
            }
        }
        &__platform {
            &:after {
                background-image: url($img_path + "/header-platform.jpg");
            }
        }
        &__faq {
            &:after {
                background-image: url($img_path + "/header-platform.jpg");
            }
        }
        &__stats-a {
            background: rgba(53, 120, 255, 0.8);
            &:after {
                background-image: url($img_path + "/header-stats.jpg");
            }
            svg {
                height: 80px;
                width: 80px;
            }
        }
    }
} 