section(ng-if="$root.appConfigs.features.contactForm").section.section-contact_form: .wrapper 
    .block.block-contact_form
        .contact-title Contact
        .contact-form: .form.row
            .col.col-md-5
                .contact-logo: img(src="./assets/img/logo-lg.png")
                .contact-details
                    .contact-label CONTACTGEGEVENS
                    .contact-address 
                        | Hooiweg 9, 9801 AJ Zuidhorn
                        br
                        | (0594) 508888
                    .contact-email support@forus.io
                    br

                    .contact-label Volg ons:
                    .contact-socials
                        a(href="#").contact-social: .mdi.mdi-facebook
                        a(href="#").contact-social: .mdi.mdi-twitter
                        a(href="#").contact-social: .mdi.mdi-linkedin-box
                        a(href="#").contact-social: .mdi.mdi-google-plus

            .col.col-md-7
                .form-group
                    .form-label.form-label-required Naam
                    input(type="text" placeholder="").form-control
                .form-group
                    .form-label.form-label-required E-mail
                    input(type="text" placeholder="").form-control
                .row
                    .col.col-md-6: .form-group
                        .form-label.form-label-required Telefoon
                        input(type="text" placeholder="").form-control
                    .col.col-md-6: .form-group
                        .form-label.form-label-required Organisatie
                        input(type="text" placeholder="").form-control
                .form-group
                    .form-label.form-label-required Bericht
                    textarea(placeholder="").form-control
                .form-group
                .form-group
                    button.button.button-primary VERZENDEN