.form {
    .form-control:not([type="radio"]):not([type="checkbox"]) {
        border-radius: 25px;
    }

    .select-control-input.options .form-control:not([type="radio"]):not([type="checkbox"]) {
        border-radius: 25px;
    }

    .select-control-input .select-control-options {
        border-top: 1px solid $border_color;
        border-color: $border_color;
        border-radius: $border_radius;
        margin-top: 2px;
    }
}
