.table-pagination {
    .table-pagination-navigation {
        .button {
            border-radius: $border_radius / 2;

            &.button-primary {
                background: #00B695;
            }

            &.button-default {
                background: #003B49;
                color: #FFFFFF;
            }

            &.disabled {
                background: none;
                color: #CDCED2;
            }
        }
    }
}