.table-pagination {
    .table-pagination-navigation {
        .button {
            border-radius: calc(var(--border-radius) / 2);

            &.button-primary {
                background: #00B695;
            }

            &.disabled {
                background: none;
                color: #CDCED2;
            }
        }
    }
}