// do not use these scss variables outside this file
$fonts: "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap&subset=latin,cyrillic,latin-ext";
$primaryColor: #627C18;
$primaryColorLight: #627C18;

:root {
    // navbar
    --bg-nav: #F3F8FA;
    --tc-nav: #08749B;
    --tc-nav-hov: #08749B;
    --logo-padding: 20px 0px;
    --logo-height: 50px;

    // navbar (auth) (default button)
    --tc-auth-btn: #FFF;
    --btn-auth-bg: #627C18;
    --btn-auth-border: transparent;

    // navbar (start modal primary)
    --tc-start-btn: #fff;
    --btn-start-bg: #08749B;
    --btn-start-btn: #305dfb;
    --btn-start-border: transparent;

    // base font
    --base-font: Roboto, Verdana, arial;

    // heading font
    --hf: var(--base-font);

    // text color
    --tc: #1D1E20;
    --htc: #08749B;
    --tc-var: inherit;
    --tc-link: inherit;

    // base color
    --bc: #627C18;

    // background color
    --bg: #fff;

    --bg_2: #fff;

    // text formatting
    --text_format: inherit;

    // footer color
    --footer_background_color: #08749B;
    --footer_color: #fff;
    --footer_color_link: #FFF;
    --footer_color_link_hover: #FFF;

    // not displayed
    --footer_display: none;

    // product image
    --product-image-padding: 10px 0 0 10px;

    // placeholder text color
    --placeholder_text_color: #9b9b9b;

    --border-color: #E5E5E5;
    --border-color-form: #9E9E9E;

    --border-radius: 7px;
    --box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);

    --color-primary: #{$primaryColor};
    --color-primary-light: #{$primaryColorLight};

    --color-default: #305dfb;
    --color-default-light: #4c74ff;

    --color-search-icon-medium: #{$primaryColor};
    --color-search-icon-dark: #{darken($primaryColor, 10%)};
    --color-search-icon-light: #{lighten($primaryColor, 25%)};

    // sign up
    --sign_up_accent_color: #305dfb;
    --sign_up_accent_color_light: #bdcbff;
    --sign_up_link_color: #e60003;
    --sign_up_step_btns_color: #305dfb;
    --sign_up_digid_btn_bkg: #e1e7ff;
    --sign_up_digid_btn_text: #4b71ff;
    --sign_up_digid_btn_border: none;
    --sign_up_digid_btn_border_radius: 5px;

    // Nav item line position
    --nav-line-top: 0;
    --nav-line-bottom: auto;
}
