@import "./vars";
@import "../_common/dashboard";

.landing-root {
    background: #fff;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    height: 100%;
    @import '../_common/landing';
}

.button {
    transition: 0.3s;
}

.form-group-inline {
    &.tooltipped {
        .block-form_tooltip {
            z-index: 5;
        }
    }
}