@import "../general/vars.scss";

:root {
    // border color
    --border-color: #ddd;

    /*==========  Style Sheet - Vars  ==========*/

    --base-font: "Montserrat", arial, sans-serif;

    // base font
    --base-font-landing: "Source Sans Pro", sans-serif;

    // text color
    --text-color: #353535;

    // base color
    --base-color: #d13b3b;
    --base-color-hover: #fff;

    // placeholder text color
    --placeholder-color: #646f79;

    --border-color: #ececec;

    --border-radius: 0px;

    --color-primary: #134478;
    --color-primary-light: #2987fd;

    --color-default: #134478;
    --color-default-light: #2987fd;

    --box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.1);

    // base error color
    --color-danger: #e63b3b;
}
