@import '../general/vars.scss';

/*==========  Style Sheet - Vars  ==========*/

// navbar
$bg-nav:            #191818;
$tc-nav-hov:        #ECECEC;
$tc-nav:            #B3B3B3;
$logo-padding:      20px 0px;
$logo-height:       50px;
// navbar (auth)
$tc-auth-menu:      #fff; 
$tc-auth-btn:       #282B39; 
$btn-auth-bg:       #fff; 
$btn-auth-border:   #E60103;

// navbar (start modal primary)
$tc-start-btn:       #fff; 
$btn-start-bg:       #E60103; 
$btn-start-btn:      #E60103;
$btn-start-border:   transparent;

// sign up
$sign_up_accent_color: #191A1C;
$sign_up_accent_color_light: #45535E;
$sign_up_link_color: #E60004;
$sign_up_step_btns_color: #E60004;
$sign_up_digid_btn_bkg: #fff;
$sign_up_digid_btn_text: #191818;
$sign_up_digid_btn_border: 1px solid #191818;
$sign_up_digid_btn_border_radius: 0;

$bg-values:         none;

// base font
$bf:                Verdana, arial;

// text color
$tc:                #1a1919;
$tc-var:            #fff;
$tc-link:           #2b2bff;

// base color
$bc:                #e60003;

// background color
$bg:                #fff;

$bg_2:              none;

// text formatting
$tf:                inherit;

// footer color
$fbc:                #e60004;
$fc:                #fff;
$fc-link:           #fff;
$fc-link-hover:     #fff;

// displayed or not
$fd:                block;

// product image
$pi:                0px;

// placeholder text color
$ptc:               #515152;

$border_color:      #dce0e0;

$border_radius:     0px;
$base_shadow:       0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

$color_primary:         #000;
$color_primary_light:   #e60204;

$color_default:         #e60204;
$color_default_light:   #FF0031;

// Login button

$lb:                #fff;

