/*==========  Style Sheet - Vars  ==========*/

$bg-values:           url("../img/jumbotron.png") no-repeat 100% 0;

// base font
$bf:                Verdana, arial;

// text color
$tc:                #1a1919;
$tc-var:            #fff;

// base color
$bc:                #e60003;

// background color
$bg:                #fff;

$bg_2:              none;

// text formatting
$tf:                lowercase;

// footer color
$fc:                #e60004;

// displayed or not
$fd:                block;

// product image
$pi:                0px;

// placeholder text color
$ptc:               #999999;

$border_color:      #dce0e0;

$border_radius:     0px;
$base_shadow:       0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

$color_primary:         #157c68;
$color_primary_light:   #8fd888;

$color_default:         #017f96;
$color_default_light:   #017f96;

// Login button

$lb:                #fff;

