@use '../includes/helpers';

:root {
    --form-font: 500 16px/24px var(--base-font);
    --form-padding: 14px 15px;
}

.form {
    .form-error {
        font: 400 13px/20px var(--base-font);
        color: #ad0003;
        margin: 0;
    }

    .form-label {
        display: flex;
        cursor: default;
        font: 500 12px/20px var(--base-font);
        margin-bottom: 4px;
        color: var(--form-label-color);
        padding: 0;

        .form-label-info {
            display: flex;
            flex: 1 1 auto;
            justify-content: flex-end;
            font: inherit;
            flex-direction: row;
            font-weight: 400;
            gap: 3px;

            &.form-label-info-optional {
                font-style: italic;
                color: #353535;
            }

            &.form-label-info-required {
                color: #353535;

                &:before {
                    content: '*';
                    color: #ed133c;
                }
            }

            &.form-label-info-start {
                justify-content: flex-start;
            }
        }

        &.form-label-required {
            &:after {
                content: '*';
                color: #ff5548;
                font: inherit;
                margin-left: 2px;
            }
        }
    }

    .form-control:not([type='radio']):not([type='checkbox']) {
        width: 100%;
        padding: var(--form-padding);
        color: var(--form-control-color);
        background-color: var(--form-control-background);
        border-radius: calc(var(--border-radius) / 2);
        border: 1px solid var(--form-control-border-color);
        font: var(--form-font);
        line-height: 20px;
        transition:
            background-color 0.4s ease,
            border 0.4s ease;
        appearance: none;

        &[disabled] {
            background-color: #e1e1e1;
        }

        &[type='number'] {
            padding-right: 0;
        }

        &:focus {
            outline-offset: 3px;
            background-color: #ffffff;
            border: 1px solid var(--form-control-border-color-focus);
        }

        &.form-control-fancy {
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.075);
            border: 1px solid transparent;
            padding: 14px 25px;
            color: #00122a;
            height: 60px;
            background-color: #fff;

            &:hover,
            &:focus {
                box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
            }
        }

        &.form-control-filled {
            position: relative;

            .mdi {
                position: absolute;
                z-index: 1;
                left: 20px;
                top: 50%;
                transform: translate(0, -50%);
            }
        }
    }

    textarea.form-control:not([type='radio']):not([type='checkbox']) {
        padding: 6px 10px;
        line-height: initial;
        height: 80px;
        min-height: 42px;

        &.r-n,
        &[resize='no'],
        &[resize='none'] {
            resize: none;
        }

        &.r-v,
        &[resize='vertical'] {
            resize: vertical;
        }

        &.r-h,
        &[resize='horizontal'] {
            resize: horizontal;
        }

        &[disabled] {
            background-color: #e1e1e1;
        }
    }

    select.form-control {
        background-color: #fbfbfb;
        background-image: url('../img/select-bg.png');
        background-position: 99%;
        background-repeat: no-repeat;
        background-size: 25px;
        appearance: none;
        text-indent: 1px;
        text-overflow: '';
        padding-right: 30px;

        &:focus {
            outline: none;
            background-color: #ffffff;
            border: 1px solid var(--border-color);
        }

        &::-ms-expand {
            display: none;
        }
    }

    .range-control {
        display: block;
        padding-bottom: 25px;
        position: relative;
        padding-left: 10px;
        padding-right: 10px;

        .range-control-slider {
            border-radius: var(--border-radius);
            height: 24px;
            padding: 0;
        }

        .rc-slider-rail,
        .rc-slider-track {
            border-radius: 999px;
            height: 4px;
            top: 10px;
        }

        .rc-slider-rail {
            background: #c0c5d4;
        }

        .rc-slider-track {
            background: var(--color-primary);
        }

        .rc-slider-handle {
            background: var(--color-primary);
            border: 4px solid #fff;
            box-shadow: none;
            cursor: grab;
            height: 24px;
            margin-top: 0;
            opacity: 1;
            width: 24px;

            &:active,
            &:focus-visible {
                box-shadow: none;
            }

            .range-control-thumb-text {
                font: 700 14px/20px var(--base-font);
                left: 50%;
                position: absolute;
                top: 100%;
                transform: translate(-50%, 7px);
                white-space: nowrap;
            }
        }
    }

    .form-group {
        margin-bottom: 10px;
        @include helpers.cf();

        .checkbox-label {
            display: inline-block;
            font: 400 13px/13px var(--base-font);
            margin-left: 10px;
            margin-bottom: 3px;
        }

        &:last-child:not(.form-group-margin) {
            margin-bottom: 0;
        }

        &.form-group-fit {
            width: fit-content;
        }
    }

    .form-hint {
        color: #222530;
        font: 500 12px/18px var(--base-font);

        &:before {
            color: #ff2100;
            content: '*';
            margin-right: 2px;
            vertical-align: text-top;
        }
    }

    .checkbox {
        display: inline-block;
        padding: 5px 15px 0 20px;
        vertical-align: middle;
        @include helpers.cf();

        .checkbox-box {
            float: left;
            display: block;
            width: 20px;
            height: 20px;
            border-radius: calc(var(--border-radius) / 2);
            border: 1px solid var(--form-control-border-color);
            position: relative;
            margin-right: 5px;
            margin-left: -30px;

            .mdi {
                color: #262626;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate3d(-50%, -50%, 0);
                font-size: 18px;
                transition:
                    color 0.4s,
                    background 0.4s;
                opacity: 0;
            }
        }

        .checkbox-label {
            font: 400 13px/20px var(--base-font);
            color: #45535e;
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
        }

        input[type='checkbox'] {
            display: none;
        }

        input[type='checkbox']:checked + .checkbox-label {
            .checkbox-box {
                .mdi {
                    opacity: 1;
                }
            }
        }

        &.checkbox-narrow {
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }

    .radio {
        margin-bottom: 10px;
        display: inline-block;
        padding: 10px 0;
        padding-right: 15px;
        padding-left: 30px;
        vertical-align: middle;
        @include helpers.cf();

        .radio-circle {
            float: left;
            display: block;
            width: 20px;
            height: 20px;
            border: 2px solid #cbd6e2;
            position: relative;
            vertical-align: middle;
            margin-right: 5px;
            float: left;
            border-radius: 20px;
            margin-left: -30px;
            transition:
                color 0.4s,
                background 0.4s,
                border 0.4s;

            &:after {
                content: '';
                background: var(--color-primary);
                position: absolute;
                display: block;
                left: 50%;
                top: 50%;
                width: 10px;
                height: 10px;
                border-radius: 10px;
                transform: translate3d(-50%, -50%, 0);
                font-size: 18px;
                opacity: 0;
            }
        }

        .radio-label {
            font: 400 13px/20px var(--base-font);
            color: #45535e;
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
        }

        input[type='radio'] {
            display: none;
        }

        input[type='radio']:checked + .radio-label {
            .radio-circle {
                &:after {
                    opacity: 1;
                }
            }
        }

        &.radio-compact {
            padding-top: 0;
            padding-bottom: 0;
            margin-bottom: 0;
        }

        &.radio-narrow {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        &.radio-stack {
            margin-bottom: 0;
        }

        &.radio-fill {
            width: 100%;

            .radio-label {
                width: 100%;
            }
        }
    }

    label.radio {
        cursor: pointer;
        margin-right: 8px;
        color: var(--tc);
        text-transform: inherit;
        font: 400 12px/30px var(--base-font);

        .dot {
            display: inline-block;
            vertical-align: middle;
            line-height: inherit;
            height: 20px;
            width: 20px;
            border: 2px solid #d8d8d8;
            position: relative;
            margin-right: 8px;
            border-radius: 20px;

            &:before {
                content: '';
                position: absolute;
                left: 3px;
                top: 3px;
                width: 10px;
                height: 10px;
                display: block;
                background-color: var(--bc);
                border-radius: 20px;
                opacity: 0;
                transition: all 0.3s ease-out;
            }
        }

        input {
            display: none;
        }

        &:hover {
            .dot {
                &:before {
                    opacity: 0.25;
                }
            }
        }

        &[checked],
        &.checked {
            .dot {
                &:before {
                    opacity: 1;
                }
            }
        }
    }

    .form-toggle {
        width: 100%;
        $colorPrimary: #ddd;
        $borderRadius: 4px;

        & > input[type='radio'],
        & > input[type='checkbox'] {
            opacity: 0;
            display: none;
        }

        .form-toggle-inner {
            display: flex;
            cursor: pointer;

            .toggle-input {
                background-color: #8b969c;
                margin-right: 10px;
                border-radius: 10px;
                width: 45px;
                border: 1px solid #ddd;
                height: 20px;
                position: relative;
                transition: all 0.4s ease-in-out;

                .toggle-input-dot {
                    width: 24px;
                    height: 24px;
                    border: 1px solid #fff;
                    border-radius: 24px;
                    background: #fff;
                    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.25);
                    left: -2px;
                    top: 50%;
                    text-align: center;
                    line-height: 22px;
                    font-size: 18px;
                    transform: translate(0, -50%);
                    color: #fefefe;
                    transition: all 0.4s ease-in-out;
                    position: relative;

                    .icon-disabled {
                        @include helpers.fill_parent();

                        &:before,
                        &:after {
                            content: '';
                            display: block;
                            background-color: #646f79;
                            height: 15px;
                            width: 3px;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            border-radius: 3px;
                        }

                        &:before {
                            transform: translate(-50%, -50%) rotate(45deg);
                        }

                        &:after {
                            transform: translate(-50%, -50%) rotate(-45deg);
                        }
                    }
                }
            }

            .toggle-label {
                font: 700 12px/20px var(--base-font);
                color: #262626;

                span {
                    color: #bcc1d3;
                }

                a {
                    font: inherit;
                    color: $colorPrimary;
                    transition: color 0.4s;

                    &:hover {
                        color: var(--bc);
                    }
                }
            }
        }

        &.active .form-toggle-inner,
        &.checked .form-toggle-inner,
        & > input[type='radio']:checked + .form-toggle-inner,
        & > input[type='checkbox']:checked + .form-toggle-inner {
            .toggle-input {
                background: var(--color-primary);
                border-color: var(--color-primary);

                .toggle-input-dot {
                    background: #fff;
                    border-color: #fff;
                    left: 100%;
                    transform: translate(-80%, -50%);
                    margin-right: -1px;
                }
            }
        }

        &.form-toggle-disabled,
        &[disabled] {
            pointer-events: none;
            opacity: 0.5;
            filter: saturate(0);
        }
    }

    .form-group-info {
        display: flex;
        flex-direction: row;

        .form-group-info-control {
            display: flex;
            flex-grow: 1;
            min-width: 0;

            .form-control {
                border-right: none;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            .ui-control {
                width: 100%;
            }
        }

        .form-group-info-button {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 11px;
                bottom: 11px;
                width: 1px;
                background-color: var(--border-color);
                pointer-events: none;
                z-index: 1;
            }

            .button {
                border-left: none;
                box-shadow: none;
                height: 100%;
                align-items: center;
                margin: 0;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                background: #fff;
                border-color: var(--form-control-border-color);
                color: #fff;

                .mdi {
                    color: #646f79;
                    font-size: 18px;
                    line-height: 18px;
                    transition: color 0.4s;
                }

                &:hover,
                &.active {
                    .mdi {
                        color: #009ef4;
                    }
                }

                &:not(:last-child) {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }

            &.form-group-info-button-dashed {
                .button {
                    border: 1px dashed var(--border-color) !important;
                    border-left: none !important;
                    box-shadow: none !important;
                }
            }
        }

        &:last-child {
            margin-bottom: 0;
        }

        & + .block-info-box {
            margin-top: 10px;
        }
    }

    .block-info-box {
        .info-box-content {
            .block-markdown {
                font: inherit;

                p:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &.form-compact {
        .form-label {
            font: var(--form-label-font);
            color: var(--form-label-color);
            margin: 0 0 5px;
        }

        .ui-control .ui-control-clear {
            right: 10px;

            .mdi {
                font-size: 18px;
                height: 18px;
            }
        }

        .form-control:not([type='radio']):not([type='checkbox']),
        .form-control:not([type='radio']):not([type='checkbox']).form-control-fancy {
            padding: 8px 15px;
            font: 500 13px/24px var(--base-font);

            &[type='number'] {
                padding-right: 0;
            }
        }

        ::-webkit-input-placeholder {
            font: var(--form-control-placeholder-font);
            color: var(--form-control-placeholder-color);
        }

        ::-moz-placeholder {
            font: var(--form-control-placeholder-font);
            color: var(--form-control-placeholder-color);
        }

        :-moz-placeholder {
            font: var(--form-control-placeholder-font);
            color: var(--form-control-placeholder-color);
        }

        :-ms-input-placeholder {
            font: var(--form-control-placeholder-font);
            color: var(--form-control-placeholder-color);
        }
    }
}

@media screen and (max-width: 1000px) {
    .form {
        .form-control:not([type='radio']):not([type='checkbox']),
        .form-control:not([type='radio']):not([type='checkbox']).form-control-fancy {
            /* height: 50px; */
            padding: 10px 15px;
            font: 400 14px/24px var(--base-font);
        }
    }
}
