.label {
    font: var(--label-font);
    display: flex;
    padding: 0 7.5px;
    border-radius: var(--border-radius);
    cursor: default;
    height: fit-content;
    width: fit-content;
    border: 1px solid transparent;
    gap: 4px;

    .mdi {
        display: flex;
        font-size: 14px;
        line-height: inherit;
        cursor: inherit;

        &.clickable {
            cursor: pointer;
        }
    }

    .label-blink {
        display: block;
        width: 10px;
        color: inherit;
        line-height: inherit;
        font-size: 20px;
        text-align: center;

        &.label-blink-primary {
            color: var(--color-primary);
        }

        &:before {
            content: '•';
            color: inherit;
            animation: blink 1.5s ease-in-out infinite;
            text-align: center;
        }
    }

    &.label-success {
        color: var(--label-success-color);
        background: var(--label-success-background);
    }

    &.label-warning {
        background: #EFD77F;
        color: #030304;
    }

    &.label-danger {
        color: var(--label-danger-color);
        background: var(--label-danger-background);
    }

    &.label-default {
        color: var(--label-default-color);
        background: var(--label-default-background);
    }

    &.label-primary {
        color: var(--label-primary-color);
        background: var(--label-primary-background);
    }

    &.label-light {
        background: #e6e6e6;
        color: #030304;
    }

    &.label-sm {
        padding: 0 5px;
        line-height: 18px;
        font-size: 10px;
        font-weight: 700;
    }

    &.label-md {
        padding: 3px 6px;
        font-weight: bold;
        font-size: 12px;
    }

    &.label-xl {
        padding: 5px 10px;
        font-weight: bold;
        font-size: 12px;
    }

    &.label-round {
        border-radius: 30px;
    }

    &.label-default-outline {
        border: 1px solid #E5E5E5;
    }

    &:not(:last-child):not(:last-of-type) {
        margin: 0 5px 5px 0;
    }
}

@media screen and (max-width: 1000px) {
    .label {
        padding: 0 5px;
        font: 700 11px/20px var(--base-font);

        &:not(.label-round) {
            border-radius: calc(var(--border-radius) / 2);
        }
    }
}
