@import "../general/vars.scss";

/*==========  Style Sheet - Vars  ==========*/
$fonts: "https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700,700italic,500italic,500,400italic,300,100italic,100,300italic&subset=latin,cyrillic,latin-ext";
$primaryColor: #666666;
$primaryColorLight: #ee8016;

:root {
    // navbar
    --bg-nav: #ececec;
    --tc-nav-hov: #ee8016;
    --tc-nav: #000000;
    --logo-padding: 30px 0px;
    --logo-height: 75px;

    // navbar (auth)
    --tc-auth-menu: #6699cc;
    --tc-auth-btn: #fff;
    --btn-auth-bg: #6699cc;
    --btn-auth-border: #fff;

    // navbar (start modal primary)
    --tc-start-btn: #fff;
    --btn-start-bg: #ee8016;
    --btn-start-btn: #ee8016;
    --btn-start-border: transparent;

    --bg-values: url("../img/splash-top-b.jpg") no-repeat center 100%;

    // base font
    --base-font: Roboto, Verdana, arial;

    // text color
    --tc: #1a1919;
    --tc-var: #fff;
    --tc-link: inherit;

    // base color
    --bc: #ee8016;

    // background color
    --bg: #fff;

    --bg_2: none;

    // text formatting
    --text_format: inherit;

    // footer color
    --footer_background_color: #fff;
    --footer_color: #282b39;

    // displayed or not
    --footer_display: block;

    // product image
    --product-image-padding: 0px;

    // placeholder text color
    --form-control-placeholder-color: #515152;

    --border-color: #dce0e0;

    --border-radius: 0px;
    --box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

    --color-primary: #{$primaryColor};
    --color-primary-light: #{$primaryColorLight};

    --color-default: #ee8016;
    --color-default-light: #ee8016;

    --color-search-icon-medium: #{$primaryColor};
    --color-search-icon-dark: #{darken($primaryColor, 10%)};
    --color-search-icon-light: #{lighten($primaryColor, 25%)};
    
    // Label sets
    --label-set-hover-background: #{rgba($primaryColor, .8)};

    //- Showcase
    --showcase-fullscreen-bottom-offset: 170px;

    // Login button
    --login-button-background: #fff;
}
