@import "./vars";
@import "../_common/webshop";

@import url("https://fonts.googleapis.com/css2?family=Cantarell&family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");

// SHAME
@import "includes/shame";
