@import "../general/vars.scss";

:root {
    --base-font: "Montserrat", arial, sans-serif;
    --base-font-landing: "Lato", arial, sans-serif;

    --text-color: #4e4d40;

    --base-color: #004d93;
    --base-color-hover: #fff;

    --color-danger: #e63b3b;

    --placeholder-color: #c4c4c4;

    --border-color: #dbdcdb;

    --border-radius: 0px;

    --color-primary: #041c37;
    --color-primary-light: 1px solid #004d93;

    --color-default: #004d93;
    --color-default-light: 1px solid #041c37;

    --box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.1);

    --border-color: #dbdcdb;
}
