doctype
html(lang="en" ng-controller="BaseController" ng-cloak)
    include ../layout/includes/head
    body(modal-scroll-braker)
    
        ui-view

        include ../layout/includes/footer
        include ../layout/includes/scripts