doctype
html(lang="nl" ng-controller="BaseController" ng-cloak)
    include ../layout/includes/head
    body(ng-class="{ 'signup-layout': $root.viewLayout == 'signup' }" modal-scroll-braker printable-enabler)
        page-loading-bar
        ui-view
        div(forus-chat chat-id="appConfigs.chat_id" ng-if="appConfigs.chat_id && $root.auth_user")
        div(forus-support support-id="{{ appConfigs.support_id}}" ng-if="appConfigs.support_id")
        mobile-footer
        include ../layout/includes/footer
        
        printables-root
        push-notifications
        
        include ../layout/includes/scripts

if (qdt_c.git_log_header) 
    | <!-- !{qdt_c.git_log_header} -->