doctype
html(lang="nl" ng-controller="BaseController" ng-csp ng-cloak)
    include ../layout/includes/head
    body(ng-class="{ 'signup-layout': $root.viewLayout == 'signup' }" modal-scroll-breaker printable-enabler)
        skip-links
        
        page-loading-bar
        ui-view
        include ../layout/includes/footer
        
        if (qdt_c.platform.env_data.chat_id)
            forus-chat(ng-if="$root.auth_user" chat-id="appConfigs.chat_id")
        
        if (qdt_c.platform.env_data.support_id)
            forus-support(ng-if="appConfigs.support_id" support-id="{{ appConfigs.support_id }}")

        printables-root
        mobile-menu
        push-notifications(group="default")
        push-notifications(group="bookmarks" class="block-push-notifications-bookmarks" max-count="1")
        
        include ../layout/includes/scripts

if (qdt_c.git_log_header) 
    | <!-- !{qdt_c.git_log_header} -->
