.block {
    &.block-fund_criteria {
        .criteria-item {
            .criteria-body {
                .criteria-section {
                    .criteria-label {
                        color: $bc;
                    }

                    .criteria-validations {
                        .criteria-validation-add {
                            color: $bc;

                            .mdi {
                                background: $bc;
                            }
                        }

                        .criteria-validation-valid {
                            color: $bc;
                        }
                    }
                }
            }

            &.active {
                .criteria-header {
                    background-color: $color_primary;
                }
            }
        }
    }
}