.block {
    &.block-record_create {
        .categories-list {
            .categories-item {
                .categories-item-inner {
                    .categories-radio {
                        border: 2px solid $color_primary;
                    }
                }
            }
        }

        .record_types-list {
            .record_type-item {
                .record_type-radio {
                    border: 2px solid $color_primary;
                }

                &.active,
                &:hover {
                    .record_type-name {
                        color: $bc;
                    }
                }

                &.active {
                    .record_type-radio {
                        background: $color_primary;
                    }
                }
            }
        }
    }
}