.block {
    &.block-shops_map {
        .shop_map-header {
            .shop_map-categories {
                position: initial;

                .shop_map-category-item {
                    .shop_map-category-item-inner {
                        background: #0f859b;
                        background: linear-gradient(to bottom, #028096 0%, #2f94a6 100%);

                        .shop_map-category-arrow {
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 10px 9px 0 9px;
                            border-color: #2f94a6 transparent transparent transparent;
                            position: absolute;
                            top: 100%;
                            left: 50%;
                            transform: translate(-50%);
                            opacity: 0;
                        }

                        &:hover {
                            background: linear-gradient(to bottom, #2f94a6 0%, #028096 100%);

                            .shop_map-category-arrow {
                                border-color: #028096 transparent transparent transparent;
                            }
                        }
                    }
                }
            }
        }

        .shops {
            .shop-item {
                .shop-details {
                    .shop-details-value {
                        @include ellipsis();
                    }
                }

                &.active {
                    box-shadow: 0 0 50px rgba(0, 0, 0, .2);
                    border-right-color: $bc;
                }
            }
        }
    }
}