html {
    @media (max-width: 767px) {
        body{
            header{
                .navbar{
                    border-bottom: 1px solid #e5e6ec;
                    padding: 12px 0 0px;
                
                    .navbar-header{
                        text-align: center;
                        .navbar-toggle{
                            float: left;
                            padding: 6px 0 0 15px;
                            margin: 0;
                            .icon-bar{
                                background: #9eaad7;
                                margin-bottom: 0;
                                &:nth-child(2){
                                    margin-bottom: 10px;
                                }
                            }
                        }
                        .navbar-brand{
                            float: none;
                            padding-left: 0!important;
                            margin-left: -10px;
                            svg{
                                width: 73px;
                                height: 14px!important;
                            }
                        }
                    }
                    .container-fluid{
                        .navbar-collapse{
                            .navbar-nav{
                                .header-auth {
                                    float: left;
                                    position: relative;
                                    z-index: 1;
                        
                                    .auth-user {
                                        position: relative;
                                        padding-right: 0px;
                                        padding-top: 0px;
                                        padding-bottom: 0px;
                                        margin-bottom: 0px;
                                        cursor: default;
                        
                                        .auth-user-name {
                                            display: none;
                                        }
                        
                                        .auth-user-role {
                                            display:none;
                                        }
                        
                                        .auth-user-img {
                                            display: none;
                                            width: 0px;
                                            height: 0px;
                                        }
                        
                                        .auth-user-menu {
                                            position: relative;
                                            border: 0;
                                            background: #fff;
                                            border-radius: 0;
                                            box-shadow: none;
                                            width: 100%;
                                            max-width: 80%;
                                            display: block;
                        
                                            .auth-user-menu-item {
                                                display: block;
                                                cursor: pointer;
                                                padding: 5px 15px;
                                                font: 500 13px/30px 'Montserrat';
                                                color: #282b39;
                                                transition: 0.4s;
                                                width: 100%;
                        
                                                &:hover {
                                                    text-decoration: none;
                                                    background: #FFF;
                                                    color: $forus-sky-blue;
                        
                                                }
                                            }
                        
                                            .auth-user-menu-sep {
                                                display: block;
                                                border-top: 1px solid #f3f4f5;
                                            }
                                        }
                        
                                        &:hover {
                                            .auth-user-menu {
                                                display: block;
                                            }
                                        }
                                    }
                                }
                                &>li{
                                    &>a{
                                        width: 100%;
                                        max-width: 100%;
                                        min-width: 100%;
                                        border-radius: 0!important;
                                        text-align: left;
                                        padding: 5px 15px!important;
                                        height: auto!important;
                                    }
                                    .column-title {
                                        display:none;
                                    }
                                    span.dropdown {
                                        position:relative;
                                        border-radius: 0;
                                        border: 0;
                                        background-color: #FFFFFF;
                                        width: 100%;    
                                        z-index: 4;  
                                        padding: 0;
                                        .dropdown-column-1 {
                                            width: 100%;
                                            position:relative;
                                            float: left;
                                            a {
                                                font-weight: 400;
                                                display: block;
                                                color: #191a1c;
                                                margin: 0;
                                                margin-left: 0;
                                                padding: 5px 15px!important;
                
                                                &:before{
                                                    width: 0;
                                                    display: none;
                                                    height: 0;
                                                }
                                            }
                                        }       
                                        .dropdown-column-2 {
                                            a {
                                                font-weight: 400;
                                                display: block;
                                                margin: 0;
                                                color: #191a1c;
                                                padding: 5px 15px!important;
                                            }
                                            width: 100%;
                                            position:relative;
                                            float: left;
                                            background-color: #fff;
                                            border-radius: 0px;
                                        }                      
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .wrapper{
                &_story {
                    height: 25vh;
                }
                &_holder {
                    .column {
                        &_sidebar {
                            span {
                                .hide-lg {
                                    display: block;
                                }
                            }
                        }
                        &_lr {
                            span {
                                .hide-sm {
                                    display: none;
                                }
                            }
                        }
                    }
                }
                &_value_allowance{
                    padding: 30px 0 0;
                    &:before{
                        top: 0;
                        background-position: center top;
                    }
                    h1 {
                        //max-width: 288px;
                        width: 100%;
                        font-weight: 600;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.11;
                        letter-spacing: normal;
                        margin: 0 auto 7px;
                    }
                }
                &_concept{
                    padding: 70px 0 0;
                }
                &_parties_list{
                    .tab-content {
                        .tab-pane {

                        }
                    }
                }
                &_block_bg{
                    padding: 15px;
                    margin: 0 -10px 25px;
                    &>.row>div {
                        padding: 0 10px;
                        text-align: left;
                    }
                }
                &_current {
                    .container{
                        hr {
                            margin-top: 25px;
                            margin-bottom: 25px;
                        }
                    }
                }
                &_roles {
                    .roles {
                        padding: 0;
                        display: flex;
                        flex-wrap: wrap;
                        .role{
                            padding: 15px 25px;
                            display: flex; 
                            flex-basis: 50%;
                            margin-left: -5px;

                            .role_content {
                                padding-bottom: 5px;
                                text-align: center;
                                display: flex;
                                flex-wrap: wrap;
                                .title{
                                    font-weight: 600;
                                    font-style: normal;
                                    font-stretch: normal;
                                    line-height: normal;
                                    letter-spacing: normal;
                                    display: block;
                                    margin: 0 auto;
                                    text-align: left;
                                    flex:1;
                                    margin-top: 10px;
                                    flex-basis:25%;
                                }
                                .text{
                                    font-weight: 500;
                                    font-style: normal;
                                    font-stretch: normal;
                                    line-height: 1.43;
                                    letter-spacing: normal;
                                    flex-basis:100%;
                                    text-align: center;
                                    padding-left: 15px;
                                    padding-top: 10px;
                                }
                            }
                        }
                    }
                }
                &_success_stories{
                    padding: 50px 0;
                    margin-bottom: 30px;
                    background-image: linear-gradient(to top, #f8fafb, rgba(251, 252, 253, 0));
                    .success_story{
                        margin-bottom: 30px!important;
                        .part_story{
                            width: 100%;
                            padding: 0;
                            margin: 0 0 30px;
                            text-align: center;
                            height: auto!important;
                            &_label{
                                background: transparent;
                                margin-bottom: 5px;
                                padding-left: 0;
                                font-size: 12px;
                            }
                            &_title{
                                font-weight: 500;
                                margin-bottom: 20px;
                                margin-top:0;
                            }
                            &_content{
                                font-weight: 500;
                                ul{
                                    padding-left: 30px;
                                }
                            }
                        }
                    }
                }
                &_benefits{
                    margin-bottom: 100px;
                    padding: 40px 0!important;
                    &:after{
                        bottom: -60px;
                        width: 50%;
                    }
                    ul{
                        li{
                            font-weight: normal;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: 1.6;
                            letter-spacing: normal;
                            margin-bottom: 16px!important;
                        }
                    }
                }
                &_story {
                    padding: 50px 5vw;
                }
                &_variable {
                    .column {
                        span {
                            margin: 0 auto;
                            justify-content: center;
                            ul {
                                display: flex;
                                margin: 0 auto;
                                justify-content: center;
                                flex-direction: column;
                                text-align: center;
                                li {

                                }
                                :nth-of-type(2) {
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
                &_me {
                    text-align: center;
                }
                &_me, &_reason, &_feature_one, &_feature_two, &_feature_three, &_content, &_holder, &_variable, &_sup {
                    flex-direction: column;
                    &_white {
                        margin-top: 10px;
                    }
                    &_fund {
                        margin-bottom: 10px;
                    }
                    .column {
                        width: 100%;
                        span{
                            float: unset;
                            .hide-lg {
                                display: block;
                            }
                        }
                        padding: 0 30px 0 30px;
                        &_lr {
                            width: 100%;
                            margin: 0;
                            margin-top: 40px;
                            padding: 0 30px 0 30px;
                        }
                        &_xl {
                            width: 100%;
                            min-width: auto;
                            padding: 0 30px 0 30px;
                            order: 2;
                        }
                        &_sm {
                            width: 100%;
                            margin: 0 auto;
                            span {
                                margin: 0 auto;
                                text-align: center; 
                            }
                            .g_maps {
                                margin: 0 auto;
                            }
                        }
                        &_sidebar {
                            width: 100%;
                            align-content: unset;
                            padding: 0 30px 0 30px;
                            &_bg {
                                text-align: center;
                                background-color: #f4f5f7;
                                width: calc(100% - 60px);
                                margin: 0 auto;
                                order: 1;

                                .pull-right {
                                    float: unset !important;
                                }
                            }
                        }
                        .img_em, .img_in, .img_zh {
                            background-position: center center;
                        }
                        .img_zh, .img_em {
                            height: 60vw
                        }
                    }
                }
                &_me, &_feature_one {
                    .column {
                        img {
                            height: 400px;
                        }
                    }
                }
                &_feature_one {
                    .column {
                        img {
                            height: 400px;
                            margin: 0 auto;
                            float: unset;
                            display: block;
                        }
                    }
                }
                &_feature_two {
                    .column {
                        display: flex;
                        img {
                            flex: auto;
                            margin: auto;
                            width: calc(100% + 30px);
                        }
                        .small {
                            float:unset;
                        }
                    }
                    :nth-of-type(1) {
                        order: 1;
                    }
                }
                &_feature_three {
                    .column {
                        img {
                            height: 400px;
                            float: unset;
                            display: block;
                            margin: 0 auto;
                        }
                    }
                }
                &_content {
                    .column {
                        margin-right: 0%;
                        width: 100%;
                    }
                }
                &_reason {
                    max-width: 100%;
                    .column {
                        span {
                            ul {
                                display: block;
                                margin: 0 auto;
                                text-align: center;
                                li {
                                    .arrow_back {
                                        background: url(../img/mobile-arrow-up.png) no-repeat center center;
                                        margin-top: 0;
                                        height: 50px;
                                    }
                                    .arrow_forward {
                                        background: url(../img/mobile-arrow-down.png) no-repeat center center;
                                        margin-top: 0;
                                        height: 50px;
                                    }
                                }
                            }
                        }
                    }
                }
                &_current {
                    .container{
                        svg {
                            width: 75px;
                            height: 75px;
                        }
                    }
                }
                &_downloads {
                    .container {
                        margin-top: 25px;
                        margin-bottom: 25px;
                    }
                    .download_links {    
                        .dl_box {
                            margin: 0 auto;     
                            margin-bottom: 30px;  
                        }
                    }
                }
                &_aboutus {
                    .wrapper_desc {
                        margin-bottom: 25px;
                        ul {
                            display: inline-flex;
                            margin: 0 auto;
                            overflow-x: scroll;
                            white-space: nowrap;
                            max-width: 767px;
                            width: 95vw;
                            li {
                                display: inline-block;
                                padding-right: 25px;
                                padding-top: 25px;
                                margin: 0 auto;
                                margin-left: 10px;
                                min-width: 125px;
                                &.tab-active {
                                    width: 125px;
                                    height: 50px;
                                    font-family: Montserrat;
                                    font-weight: 500;
                                    font-style: normal;
                                    font-stretch: normal;
                                    line-height: normal;
                                    letter-spacing: normal;
                                    color: #222530;
                                    border-bottom: solid 2px #191a1c;
                                }
                                &.tab-inactive {
                                    width: 125px;
                                    height: 50px;
                                    opacity: 0.6;
                                    font-family: Montserrat;
                                    font-weight: 500;
                                    font-style: normal;
                                    font-stretch: normal;
                                    line-height: normal;
                                    letter-spacing: normal;
                                    color: #9b9b9b;
                                    border-bottom: solid 2px #dbdbddd5;
                                    &:hover, &:active, &focus{
                                        cursor: pointer;
                                        color: #222530;
                                        border-bottom: solid 2px #191a1c;
                                    }
                                }
                                .disabled {
                                    &:hover, &:active, &focus{
                                        cursor: not-allowed;
                                        color: #222530;
                                        border-bottom: solid 2px #191a1c;
                                    }
                                }
                            }
                        }
                          
                    }
                }
                &_timeline {
                      /* Place the timelime to the left */
                        .timeline {
                            &:before {
                            left:16px;
                            width: 1px;
                            height: 91%;
                            margin-top: 95px;

                            }                        
                            /* Full-width containers */
                            .timeline_entry {
                            width: 100%;
                            padding-left: 32px;
                            padding-right: 25px;
                                .date_align {
                                    position: relative;  
                                    font-weight: 400;
                                    font-family: Montserrat;
                                    color: #7e818c;  
                                    top:auto;
                                    &_right{
                                        right: auto; 
                                    }
                                    &_left {
                                        left: auto; 
                                    }
                                }
                            }
                            hr {
                                height: 1px;
                                width: 105%;
                                margin-left: -11px;
                            }                        
                            /* Make sure all circles are at the same spot */
                            .uneven::before, .even::before {
                                margin-left: 0;
                                content: "";
                                width: 9px;
                                height: 9px;
                                background: #dadde7;
                                position: absolute;
                                border: 0;
                                border-radius: 50%;
                                left: auto;
                                right: 0px;
                                top: -3px;
                            }
                            .even::after, .uneven::after {
                                content: "";
                                width: 21px;
                                height: 21px;
                                background: #dadde7;
                                position: absolute;
                                border: 0;
                                top: -8px;
                                border-radius: 50%;
                                left: -15px;
                                right: auto;
                            }
                            
                            /* Make all right containers behave like the left ones */
                            .right {
                                left: 0%;
                            }
                        }  
                }
                &_dev {
                    background-color: #f4f5f7;
                    .container{
                        min-height: 400px;
                        position: relative;
                        overflow: hidden;  
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-flex-flow: row nowrap;
                        -ms-flex-flow: row nowrap;
                        flex-flow: row nowrap;
                        -webkit-box-align: end;
                        -webkit-align-items: flex-end;
                        -ms-flex-align: end;
                        align-items: flex-end;
                        -webkit-box-pack: center;
                        -webkit-justify-content: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                    }
                    .previous {
                        order: -1;
                        display: inline-flex;
                        margin: 1.6rem 12px;
                        margin-right:5px;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        color: #b8bac4;
                    }
                    .next {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        display:inline-flex;
                        margin: 1.6rem 12px;
                        margin-left: 5px;
                        color: #b8bac4;
                    }
                    .slider__nav {
                        position:absolute;
                        bottom: 0;
                        width: 10px;
                        height: 10px;
                        margin: 2rem 12px;
                        border-radius: 5px;
                        z-index: 10;
                        background-color: #b8bac4;
                        cursor: pointer;
                    }
                    #slide1{
                        left:37.5%;
                    }
                    #slide2{
                        left:45%;
                    }
                    #slide3{
                        left:52.5%;
                    }
                    .slider__nav:checked {
                        -webkit-animation: check 0.4s linear forwards;
                        animation: check 0.4s linear forwards;
                        background-color:  blue;
                    }
                    .slider__nav:checked:nth-of-type(1) ~ .backlog {
                        left: 0%;
                    }
                    .slider__nav:checked:nth-of-type(1) ~ .previous {
                        display: none;
                    }
                    .slider__nav:checked:nth-of-type(1) ~ .slide3 {
                        display: none;
                    }
                    .slider__nav:checked:nth-of-type(2) ~ .backlog {
                        left: -100%;
                    }
                    .slider__nav:checked:nth-of-type(2) ~ .slide2 {
                        display: none;
                    }
                    .slider__nav:checked:nth-of-type(3) ~ .backlog {
                        left: -200%;
                    }
                    .slider__nav:checked:nth-of-type(3) ~ .next {
                        display: none;
                    }
                    .slider__nav:checked:nth-of-type(3) ~ .slide1 {
                        display: none;
                    }
                    .backlog {
                        position: relative;
                        top: 0;
                        margin-left: 195%;
                        width: 300%;
                        margin-bottom: 50px;
                        -webkit-transition: left 0.4s;
                        transition: left 0.4s;
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-flex-flow: row nowrap;
                            -ms-flex-flow: row nowrap;
                                flex-flow: row nowrap;
                    }
                    .column-33 {
                        display: inline-block;
                        min-width: 33%; 
                        width: 99vw;    
                        margin: 0 auto;
                        margin-left:0;
                    }
                    .column-title {
                        margin: 0 auto;
                        position: relative;
                        margin: 0 auto;    
                    }
                }
                &_future {
                    .row {
                        flex-direction: column;
                        align-items: center;
                    }
                    .tab{
                        width: 80%;
                        height: auto;
                        padding: 10px;
                    }
                }
            }
            footer{
                margin-top: 30px;
                padding: 15px 0 10px;
                padding-right: 15px;
                padding-left: 15px;
                .control-label {
                    font-size: 12px;
                }
                .main_button {
                    float: none;
                    clear: left;
                }
                .text-bold {
                    font-weight: 600;
                    display: flex;
                    justify-content: space-between;
                    flex: auto;
                }
                .text-boldest {
                    font-weight: 700;
                }
                .hidden-xs-down {
                    display: none;
                }
                .hidden-sm-up {
                    display: block;
                    border-bottom: solid 1px #e5e6ec;
                    .card-header {
                        margin-top: 15px;
                        margin-bottom: 15px;
                    }
                    ul {
                        li {
                            font: 300 13px/28px "Montserrat", sans-serif;
                        }
                    }
                    & a {
                        .cross {
                            text-align: right;
                            svg {
                                -webkit-transform: rotate(-45deg);
                                -ms-transform: rotate(-45deg);
                                transform: rotate(-45deg);
                                @include transition();
                            }
                        }
                        &[aria-expanded="true"]{
                            .cross{
                                svg{
                                    -webkit-transform: rotate(0deg);
                                    -ms-transform: rotate(0deg);
                                    transform: rotate(0deg);
                                    @include transition();
                                }
                            }
                        }
                    }
                }
                & > .container{
                    padding: 0;
                }
                .hidden-xs-down {
                    display: none;
                }
                .navbar{
                    margin-bottom: 0;
                }
                .navbar-header{
                    padding: 0 15px;
                    background: #f6f8f9;
                    .navbar-brand{
                        width: 73px;
                    }
                }
                #navbar_footer{
                    padding: 0;
                }
                .nav{
                    &.navbar-nav{
                        li{
                            margin: 0 5px;
                            a{
                                padding: 2px 10px;
                            }
                        }
                        &:not([class*="navbar-right"]){
                            margin: 0;
                            li{
                                display: inline-block;
                                &:not(:last-child){
                                    border-right: 1px solid rgba(34, 37, 48, 0.4);
                                }
                            }
                        }
                        &.navbar-right{
                            position: absolute;
                            top: 15px;
                            right: 15px;
                            margin: 0;
                            li{
                                padding: 0;
                                margin: 0;
                                display: inline-block;
                                a{
                                    padding: 0;
                                }
                                &.dropdown{
                                    display: none;
                                }
                            }
                        }
                    }
                }
                .copyright{
                    padding: 0 15px;
                }
            }
            modals-root{
                modal-auth2-component {
                    .modal {
                        .modal-content {
                            padding: 15px;
                            width: 100%;
                            max-width: 650px;
                            border-radius: 5px;
                            min-height: 100px;
                            input {
                                width:250px;
                                margin-right:20px;
                            }
                            button {
                                width: 150px;
                            }
                            .modal-title {
                                margin: 0 0 5px;
                            }
                            .download-badges {
                                text-align:center;
                            }
                            .modal-subtitle {
                                u {
                                    cursor: pointer;
                                }
                                span {
                                    cursor: auto;
                                }
                    
                                a {
                                    font: 400 12px "Source Sans Pro",sans-serif;
                                    color:rgb(100, 111, 121);
                                }
                                img {
                                    height: 40px;
                                    margin-right: 10px;
                                }
                            }
                            .subtitle-left{
                                width: 100%;
                                float:left;
                            }
                            .block-auth-qr-code {
                                margin-bottom:10px;
                                float:left;
                                width: 100%;
                            }
                        }
                        
                    }
                }
            }
            #modalContact{
                width: 100vw;
                max-width: 500px;
                .modal-dialog{
                    margin: 0;
                    .modal-content{
                        border-radius: 0;
                        border: 0;
                        padding: 15px;
                        .modal-header{
                            padding: 60px 0 30px;
                            .modal-title{
                                font-weight: 500;
                                font-style: normal;
                                font-stretch: normal;
                                line-height: 1.4;
                                letter-spacing: normal;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}