html {
    @media (max-width: 576px) {
        body{
            footer {
                .control-label {
                    font-size: 12px;
                }
                .main_button {
                    float: none;
                    clear: left;
                }
                .text-bold {
                    font-weight: 600;
                    display: flex;
                    justify-content: space-between;
                    flex: auto;
                }
                .text-boldest {
                    font-weight: 700;
                }
                .hidden-xs-down {
                    display: none;
                }
                .hidden-sm-up {
                    display: block;
                    border-bottom: solid 1px #e5e6ec;
                    -webkit-tap-highlight-color: #d8d8d8;
                    .card-header {
                        margin-top: 15px;
                        margin-bottom: 15px;
                    }
                    ul {
                        li {
                            font: 300 13px/28px "Montserrat", sans-serif;
                        }
                    }
                    & a {
                        .cross {
                            text-align: right;
                            svg {
                                -webkit-transform: rotate(-45deg);
                                -ms-transform: rotate(-45deg);
                                transform: rotate(-45deg);
                                @include transition();
                            }
                        }
                        &[aria-expanded="true"]{
                            .cross{
                                svg{
                                    -webkit-transform: rotate(0deg);
                                    -ms-transform: rotate(0deg);
                                    transform: rotate(0deg);
                                    @include transition();
                                }
                            }
                        }
                    }
                }
                :hover {
                    -webkit-tap-highlight-color: #d8d8d8;
                }
            }
            .wrapper{
                &_roles {
                    .roles {
                        padding: 10px;
                        .role{
                            padding: 0;
                            .role_content {
                                .title{
                                    padding-left: 0;
                                }
                                .text{
                                    min-height: 50px;
                                }
                            }
                        }
                    }
                }
                &_success_stories {
                    .success_story {
                        .part_story {
                            text-align: left;
                            margin-bottom: 0;
                        }
                    }
                    padding-bottom: 0;
                }
                &_me, &_feature_one, &_feature_two, &_feature_three, &_content, &_holder, &_sup {
                    flex-flow: column;

                    div:nth-of-type(1) {
                        margin-left: 0;
                        margin-right: 0;
                    }
                    div:nth-of-type(2) {
                        margin-left: 0;
                        margin-right: 0;
                    }
                    .column {
                        width: 100%;
                        padding: 0 20px 0 20px;
                        span {
                            .hide-sm {
                                display: none;
                            }
                        }
                        img {
                            clear: both;
                            height: auto;
                        }
                        &_sm {
                            padding: 0 20px 0 20px;
                            span {
                                text-align: left;
                            }
                            .g_maps {
                                width: 100%;
                                height: 202px;

                            }
                        }
                        &_lr {
                            width: 100%;
                            order: 2;
                            padding: 0 20px 0 20px;
                            .img_box {
                                max-width: 100%;
                            }
                        }
                        &_sidebar {
                            text-align: center;
                            order: 1;
                            text-align: center;
                            border-radius: 5px;
                            margin: 20px;
                            padding: 0 20px 0 20px;
                        }
                    }
                }
                &_holder {
                    .column {
                        &_sidebar {
                            &_bg {
                                text-align: center;
                                background-color: #f4f5f7;
                                padding: 0 20px 0 20px;
                                width: calc(100% - 40px);
                                order: 1;

                                .pull-right {
                                    float: unset !important;
                                    margin: 0 auto;
                                }
                            }
                            .img_in {
                                height: 90vw;
                            }
                            span {
                                text-align: left;
                                .hide-lg {
                                    display: block;
                                }
                            }
                        }
                        &_xl {
                            padding: 0 20px 0 20px;
                            order: 2;
                        }
                        &_lr {
                            span {
                                .hide-sm {
                                    display: none;
                                }
                            }
                        }
                    }
                }
                &_story {
                    height: 50vh;
                    min-height: 200px;
                    max-height: 300px;
                    padding: 30px;
                    .column {
                        text-align: center;
                        img {
                            width: 80px;
                            margin: 0 auto;
                        }
                    }
                }
                &_content {
                    align-items: center;

                    div:nth-of-type(1) {
                        order: 2;
                    }
                    div:nth-of-type(2) {
                        order: 1;
                    }
                }
                &_holder {
                    align-items: center;
                }
                &_me, &_sup {
                    text-align: center;
                    .column {
                        img {
                            height: 400px;
                        }
                        &_sm {
                            display: block;
                            justify-content: left;
                            width: 100%;
                            min-height: 200px;
                            text-align: left;
                            h2 {text-align: center;}
                            span {
                                float: unset;
                            }
                            .g_map {
                                height: 200px;
                            }
                        }
                    }
                }
                &_feature_one {
                    .column {
                        img {
                            height: 300px;
                            margin: 0 auto;
                            float: unset;
                            display: block;
                        }
                    }
                }
                &_feature_two {
                    .column {
                        img {
                            width: calc(100% + 20px)
                        }
                    }
                    :nth-of-type(1) {
                        order: 2;
                    }
                    :nth-of-type(2) {
                        order: 1;
                    }
                }
                &_feature_three {
                    .column {
                        img { 
                            height: 300px;
                            float: unset;
                        }
                    }
                }
                &_reason {
                    text-align: left;
                    .column {
                        padding: 0 20px 0 20px;
                        .quote_img {
                            margin: 0 auto;
                            display: block;
                            height: 20px;
                        }
                        span {
                            ul {
                                li {
                                }
                            }
                        }
                    }
                    .container-contact {
                        width: 100%;
                        padding: 5px 5% 5px 5%;
                    }
                }
                &_variable {
                    .column {
                        padding: 0 20px 0 20px;
                        span {
                            ul {
                                display: flex;
                                margin: 0 auto;
                                justify-content: center;
                                flex-direction: column;
                                text-align: center;
                                li {
                                    min-width: auto;
                                }
                                :nth-of-type(2) {
                                    margin: 0 auto;
                                }
                            }
                        }
                    }
                    display: block;
                }
                &_quote {
                    .column {
                        padding: 10px;
                        width: calc(100% - 40px);
                        margin: 0 auto;
                    }
                }
            }
            .container-story {
                overflow: hidden;
            }
            #modalContact{
                width: 100vw;
                height: 100vh;
                top: 0;
                margin: 0;
                border-radius: 0;
            }
        }
    }
}