html {
    @media (min-width: 1000px) {
        body {
            .navbar-collapse .navbar-nav > li > a {
                padding: 18px 33px!important;
            }
            .wrapper {
                &_story {
                    .column {
                        min-width: 650px;
                        min-height: 280px;
                    }
                }
            }
        }
    }
}
