.block {
    &.block-contact_form {
        .contact-form {
            .contact-logo {
                width: auto;
                max-width: auto;

                img {
                    width: auto;
                    max-width: 100%;
                }
            }

            .contact-details {
                .contact-email {
                    color: #3396a7;
                }
            }
        }
    }
}