&.block-file {
    width: 100%;
    border: 1px dashed #d4d9dd;
    padding: 15px 55px 15px;
    background: url('../img/icon-file.png') no-repeat;
    background-position: 25px 20px;
    position: relative;
    border-radius: 4px;
    text-align: left;
    cursor: default;

    .file-error {
        display: none;
        position: absolute;
        left: 17px;
        top: 12px;
        font-size: 26px;
        color: #e63b3b;
    }

    .file-remove {
        position: absolute;
        right: 7.5px;
        top: 7.5px;
        font-size: 22px;
        color: #757f88;
        cursor: pointer;

        &:hover {
            color: #cf274d;
        }
    }

    .file-name {
        font: 600 12px/20px $bf;
        color: #134478;
    }

    .file-size {
        font: 400 12px/20px $bf;
    }

    &.has-error {
        border-color: #e63b3b;
        background: none;

        .file-error {
            display: block;
        }
    }
}