&.block-inline-filters {
    display: flex;
    justify-content: flex-end;

    .button {
        height: 30px;
        line-height: 26px;
        padding-top: 2px;
        padding-bottom: 2px;
        font-size: 12px;
        box-shadow: none;
        white-space: nowrap;

        .mdi {
            font-size: 1.36em;
        }
    }

    .form {
        display: flex;
        margin-right: 15px;

        .form-group {
            margin: -2px 0;
            margin-right: 15px;

            &:last-child {
                margin-right: 0;
            }
        }

        .form-control {
            display: inline-block;
            height: 30px;
            margin: 0;
            padding: 0 10px;
            line-height: 28px;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    .inline-filters-search {
        width: 220px;
        max-width: 100%;

        input {
            background-image: url('../img/looking-glass.png');
            background-repeat: no-repeat;
            background-size: auto 120%;
            background-position: 100% 50%;
        }
    }
    
    .inline-filters-dropdown {
        position: relative;
        display: inline-block;

        $cardHeaderDropdownRadius: 6px;

        .inline-filters-dropdown-content {
            width: 260px;
            min-height: 100px;
            display: block;
            position: absolute;
            top: 100%;
            margin-top: 15px;
            right: -5px;
            background: #fff;
            z-index: 1;
            box-shadow: 1px 2px 40px rgba(0, 0, 0, .12);
            padding: 0 20px;
            text-align: left;
            border-radius: $cardHeaderDropdownRadius;
            display: flex;
            flex-direction: column;

            .arrow-box {
                right: 30px;
                left: auto;
                transform: none;
            }

            .form {
                flex-direction: column;

                .form-group {
                    background: #f6f9fc;
                    margin: 0 -20px;
                    padding: 0 15px 0;
                    
                    .form-label {
                        display: block;
                        color: #282b39;
                        
                        &.form-label-toggle {
                            cursor: pointer;
                            background: #fff;
                            margin: 0 -15px 0;
                            padding: 10px 10px 10px 15px;
                            transition: color .4s;
                            border-bottom: 1px solid #e7e7e7;
                            
                            .form-label-icon-active {
                                display: none;
                            }

                            .mdi {
                                float: right;
                                font-size: 2em;
                                color: #646f79;
                                transition: color .4s;
                            }

                            &:hover {
                                color: #009ef4;

                                .mdi {
                                    color: inherit;
                                }
                            }

                            &+* {
                                display: none;
                            }

                            &.active {
                                margin: 0 -15px 10px;
                                border-bottom: 1px solid #fff;
                                
                                .form-label-icon {
                                    display: none;
                                }

                                .form-label-icon-active {
                                    display: block;
                                }

                                &+* {
                                    display: block;
                                }
                            }
                        }
                    }

                    .form-control {
                        margin: 0 0 10px;
                        height: 30px;
                        font-size: 12px;
                    }

                    &:first-child {
                        border-top-left-radius: $cardHeaderDropdownRadius;
                        border-top-right-radius: $cardHeaderDropdownRadius;

                        .form-label {
                            border-top-left-radius: $cardHeaderDropdownRadius;
                            border-top-right-radius: $cardHeaderDropdownRadius;
                        }
                    }
                }
            }

            .form-actions {
                background: #fff;
                padding: 15px;
                margin: 0 -20px;
                border-bottom-left-radius: $cardHeaderDropdownRadius;
                border-bottom-right-radius: $cardHeaderDropdownRadius;
            }
        }
    }
}