&.block-show-more {
    text-align: center;
    padding: 20px 0 0;

    .button {
        padding-left: 100px;
        padding-right: 100px;
    }
}
@media screen and (max-width: 1000px){
    &.block-show-more {
        .button {
            width: 100%;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}