.section {
    &.section-footer {
        position: relative;
        bottom: 0;
        background-image: url("../img/footer-bg.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
}