.section {
    &.section-footer {
        .block-footer {
            width: 100%;
            background-image: url("../img/footer-bg.png");
            background-repeat: no-repeat;
            background-size: cover; 
            margin: 0px;
            min-height: 300px;

            .block.block-footer {
                margin-bottom: 0px;
            }
        }
    }
}