.block {
    &.block-navbar {
        padding: 0;
        background-color: #fff;
        width: 100%;
        box-shadow: 0px 0px 4px 0px #00000078;
        .navbar-inner {
            .navbar-logo {
                padding: 15px 20px;
                border-right: 1px solid #e6ecf0;
                img{
                    height: 55px;
                }
            }
        }
        .navbar-list {
            .navbar-item-wrapper {
                .navbar-item {
                    &.active {
                        color: $color_default;
                        @media screen and (max-width: 1024px) {
                            border-left-color: $color_default;
                        }
                        &:before {
                            background: $color_default;
                        }
                    }
                    &:hover {
                        color: $color_default;
                        &:before {
                            background:$color_default;
                        }
                    }
                }                
            }
        }
        @media screen and (min-width: 1700px) {
            .navbar-logo {
                padding: 15px 20px;
                img{
                    height: 55px;
                }
            }
        }
    }
}