/*==========  Style Sheet - Vars  ==========*/

// header attributes
$bg-values:          url("../img/splash-top-b.png") no-repeat 100% 0;

// base font
$bf:                'Lato' ,"Lucida Sans","Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;

// text color
$tc:                #4e4d40;
$tc-var:            #fff;

// base color
$bc:                #4990b5;

// background color
$bg:                #fff;

$bg_2:              none;

// text formatting
$tf:                lowercase;

// footer color
$fc:                #4e4d40;

// Displayed or not
$fd:                block;

// product image
$pi:                10px 0 0 10px;

// placeholder text color
$ptc:               #c4c4c4;

$border_color:      #dbdcdb;

$border_radius:     0px;
$base_shadow:       0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

$color_primary:         #b9cb18;
$color_primary_light:   1px solid #b9cb18;

$color_default:         #d4e630;
$color_default_light:   1px solid #b9cb18;

// Login button

$lb:                #fff;