/*==========  Style Sheet - Vars  ==========*/

// base font
$bf:                'Lato' ,"Lucida Sans","Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;

// text color
$tc:                #4e4d40;

// base color
$bc:                #4990b5;

$bc_2:              #70c567;

// text formatting
$tf:                lowercase;


// footer color
$fc:                #4e4d40;

// Displayed or not
$fd:                block;

// placeholder text color
$ptc:               #c4c4c4;

$border_color:      #dbdcdb;

$border_radius:     0px;

$color_primary:         #b9cb18;
$color_primary_light:   1px solid #b9cb18;

$color_default:         #d4e630;
$color_default_light:   1px solid #b9cb18;