/*==========  Style Sheet - Vars  ==========*/

// base font
$bf:                'Lato', arial, sans-serif;

// text color
$tc:                #4e4d40;

// base color
$bc:                #017f96;

$bc_2:              #70c567;

// footer color
$fc:                #4e4d40;

// Displayed or not
$fd:                block;

// placeholder text color
$ptc:               #c4c4c4;

$border_color:      #dbdcdb;

$border_radius:     0px;

$color_primary:         #8b9911;
$color_primary_light:   #92a112;

$color_default:         #b9ca2f;
$color_default_light:   #c3d24e;