@import 'includes/vars',
'includes/resetter',
'includes/helpers',
'includes/placeholders',
'includes/third-party',
'includes/typography',
'includes/shame',
'includes/useless'; 

@import 'layout/footer.scss';
@import 'layout/_header.scss';
@import 'layout/grid.scss';
@import 'layout/navigation.scss';

@import 'sections/contact_form.scss', 
'sections/benefits.scss',
'sections/usp.scss',
'sections/how_do_we_work.scss',
'sections/video_player.scss',
'sections/download_me_app.scss',
'sections/research.scss';

@import 'sections/contact_form.scss';
@import 'sections/benefits.scss';
@import 'sections/usp.scss';
@import 'sections/how_do_we_work.scss';
@import 'sections/video_player.scss';
@import 'sections/sign-up.scss';

@import 'components/buttons.scss';
@import 'components/tabs.scss';
@import 'components/contributors.scss';
@import 'components/devices.scss';
@import 'components/modals.scss';
@import 'components/content-area.scss';
@import 'components/cta-area.scss';
@import 'components/quote-area.scss';
@import 'components/steps.scss';
@import 'components/cupa.scss';
@import 'components/privacy.scss';

@import 'themes/_template.scss';

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

// COMMON
@import 'includes/common';
