.block {
    &.block-vouchers {
        .voucher-item {
            .voucher-details {
                .voucher-organization {
                    color: #4c91b3;
                }
                
                .voucher-value {
                    color: var(--tc);
                }
            }

            .voucher-overview {
                .voucher-overview-item {
                    .voucher-overview-label {
                        color: #4c91b3;
                    }
                }
            }
        }
    }
}