.section {

    &.section-header {
        @media screen and (min-width: 1024px) {
            .wrapper {
                    background-image: url(../img/header-bg-element.svg);
                    background-repeat: no-repeat;
                    background-position: right;
            }

            .header-content {
                padding: 0;

                .header-title {
                    font: 700 32px/1.5em $bf;
                }

                .header-description {
                    
                    p {
                        font: 400 20px/1.5em $bf;
                    }
                }

                .header-how-it-works {
                    color: #186DCB;
                    font-style: normal;
                    text-decoration: underline;
                    font-weight: bold;
                }
            }
        }
    }
}