.block {
    &.block-navbar {
        width: 100%;
        padding: 0;
        background-color: #000;
        box-shadow: 1px -5px 10px rgb(187, 187, 187);

        .navbar-inner {
            background-color: transparent;
        }

        .navbar-logo {
            display: flex;
            align-items: center;
        }

        .navbar-list {
            text-align: left;

            .navbar-item-wrapper {

                .navbar-item {
                    color: #a2afb7;
                    transition: none;

                    &:hover {
                        color: $tc-var;

                        &:before {
                            background-color: #000;
                            opacity: .5;
                        }
                    }

                    &.active {
                        color: $tc-var;

                        &:before {
                            background-color: #000;
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .block-auth {
            .auth-in {
                .auth-user {
                    .auth-user-email {
                        color: $color_default_light;
                    }

                    .auth-user-avatar {
                        border-color: $color_default;
                        border-radius: 4px;

                        img {
                            filter: grayscale(.8);
                        }
                    }
                }
            }

            .button {
                &:hover {
                    box-shadow: 0
                }
            }
        }
    }

    @media screen and (max-width: 1000px) {
        &.block-navbar {

            .navbar-logo {
                img {
                    width: auto;
                }

                .second-logo {
                    display: none;
                }
            }

            .navbar-list {

                .navbar-item-wrapper {
                    
                    .navbar-item {
                        padding: 10px 20px;
                    }
                }
            }
        }
    }
}