&.block-toast {
    background-color: #fff;
    border-radius: var(--border-radius);
    position: fixed;
    right: 40px;
    bottom: 40px;
    padding: 15px;
    max-width: 300px;
    z-index: 999;
    box-shadow: 0px 12px 30px 0px rgba(25, 39, 52, 0.18);
    border-radius: var(--border-radius);

    .block-toast-description {
        font: 500 13px/19px var(--base-font);
    }
}