&.block-auth-2fa {
    margin-bottom: 20px;

    .auth-2fa-item {
        padding: 20px;
        background-color: #fff;
        border: 1px solid var(--border-color);
        box-shadow: var(--box-shadow);
        border-radius: calc(var(--border-radius));
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;

        .auth-2fa-item-icon {
            display: inline-flex;
            flex-direction: column;
            justify-content: center;

            .mdi {
                width: 50px;
                height: 50px;
                display: flex;
                background-color: #F6F9FC;
                border: 1px solid #F3F4F5;
                border-radius: 50px;
                line-height: 50px;
                font-size: 20px;
                color: #646F79;
                justify-content: center;
            }
        }

        .auth-2fa-item-details {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;

            .auth-2fa-item-title {
                display: flex;
                flex-direction: row;
                gap: 10px;
                font: 600 16px/28px var(--base-font);
    
                .auth-2fa-item-label {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .label {
                        width: fit-content;
                    }
                }
            }

            .auth-2fa-item-description {
                display: flex;
                width: 100%;
                font: 500 14px/22px var(--base-font);
                color: #282B39;
            }
        }
    
        .auth-2fa-item-actions {
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }

    @media screen and (max-width: 1000px) {
        .auth-2fa-item {
            flex-direction: column;

            .auth-2fa-item-icon,
            .auth-2fa-item-actions {
                flex-direction: row;
                justify-content: center;
                margin: 0;
            }


            .auth-2fa-item-icon {
                .mdi {
                    width: 80px;
                    height: 80px;
                    font-size: 50px;
                    line-height: 80px;
                }
            }

            .auth-2fa-item-details {
                flex-direction: column;
                gap: 10px;
                text-align: center;

                .auth-2fa-item-title {
                    flex-direction: column;

                    .auth-2fa-item-label {
                        flex-direction: row;
                    }
                }

                .auth-2fa-item-description {
                    justify-content: center;
                }
            }
        }
    }
}