&.block-fund {
    display: flex;
    flex-direction: column;
    margin: 0 0 20px;
    background: #fff;
    border-radius: calc(var(--border-radius) / 2);
    box-shadow: var(--box-shadow);

    .fund-overview {
        border-bottom: 1px solid var(--border-color);
        display: flex;
        flex-direction: row;    
        margin: 20px 20px 0;
        padding-bottom: 20px;
        
        .fund-media {
            display: flex;
            border-top-left-radius: calc(var(--border-radius) / 2);
            overflow: hidden;
            width: 190px;

            .fund-media-img {
                display: block;
                width: 190px;
            }
        }

        .fund-details {
            display: flex;
            flex-direction: column;
            flex: 1 0;
            margin-left: 25px;

            .fund-name {
                font: 600 16px/20px var(--base-font);
                color: #151B26;
                margin: 0 0 15px;
            }

            .fund-description-short {
                display: flex;
                flex-direction: row;
                font: 500 14px/20px var(--base-font);
                color: #646F79;
            }
        }
    }

    .fund-actions {
        padding: 20px;
        margin-left: auto;
        margin-right: 0;
    }
}