&.block-bi-info {
    display: flex;
    flex-direction: row;
    margin: 0 0 20px;
    gap: 20px;

    .bi-info-icon {
        display: flex;
        flex: 0 0 56px;

        svg {
            display: block;
        }
    }

    .bi-info-content {
        display: flex;
        flex: 1 1 auto;

        .block.block-markdown {
            font: 400 14px/20px var(--base-font) !important;
            color: #282B39;

            h1, h2, h3, h4, h5, h6, ul, p {
                margin-bottom: 5px !important;
                text-align: left !important;

                &:last-child {
                    margin-bottom: 0;
                }
            }
    
            h4 {
                font: 500 16px/28px var(--base-font);
            }
        }
    }

    &:last-child {
        margin-bottom: 0;
    }

    @media screen and (max-width: 1000px) {
        gap: 15px;
        margin: -5px;

        .bi-info-icon {
            flex: 0 0 30px;
        }
    
        .bi-info-content {
            .block.block-markdown {
                font: 400 12px/18px var(--base-font) !important;
    
                h4 {
                    font: 500 14px/20px var(--base-font);
                }
            }
        }
    }
}