&.block-danger_zone {
    display: flex;
    flex-direction: column;

    border: 1px solid $bec;
    border-radius: 3px;
    background: #fff;
    align-items: center;

    .danger_zone-title {
        font: 600 16px/20px $bf;
        padding: 15px;
        color: #282B39;

        .mdi {
            float: left;
            color: $bec;
            font-size: 20px;
            line-height: 20px;
            margin: 0 10px 0 0;
        }
    }

    .danger_zone-description {
        font: 500 14px/20px $bf;
        color: #646F79;
        border-top: 1px solid #D4D9DD;
        width: 100%;
        padding: 15px;
        text-align: center;
    }
}