&.block-timeframes {
    display: flex;
    flex-direction: row;
    border: 1px solid #d4d9dd;
    border-radius: calc(var(--border-radius));
    box-shadow: 0px 0px 5px rgba(25, 39, 52, 0.15);

    .timeframe-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 8px 15px;
        height: 50px;
        background: #ffffff;
        border-right: 1px solid #d4d9dd;
        margin: 0px 0px;
        font-size: 20px;
        cursor: pointer;
        color: #646f79;
        flex-grow: 1;
        text-align: center;
        flex-basis: 1%;

        .mdi {
            color: inherit;
        }

        .timeframe-item-title {
            font: 700 14px/18px var(--base-font);
            color: inherit;
        }

        .timeframe-item-subtitle {
            font: 600 10px/16px var(--base-font);
            color: inherit;
        }

        &[disabled], &.timeframe-item-disabled {
            pointer-events: none;
            cursor: default;
            color: #ccc;
        }

        &:first-child {
            border-top-left-radius: calc(var(--border-radius));
            border-bottom-left-radius: calc(var(--border-radius));
            flex-grow: 0;
        }

        &:last-child {
            border-top-right-radius: calc(var(--border-radius));
            border-bottom-right-radius: calc(var(--border-radius));
            border-right: none;
            flex-grow: 0;
        }

        &.timeframe-item-active {
            .timeframe-item-title {
                color: var(--color-primary-light);
            }
        }
    }
}