&.block-providers {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    .provider-item {
        flex-direction: column;
        display: flex;
        padding: 20px;
        flex-direction: row;
        position: relative;
        background: #fff;
        margin: 0 0 20px;
        border-radius: 5px;
        border: 1px solid #ebedf0;
        cursor: default;
        
        .provider-media {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            .provider-media-img {
                width: 50px;
                height: 50px;
                display: block;
                border-radius: 50px;
                border: 1px solid $border_color;
            }
        }

        .provider-details {
            padding-left: 20px;
            padding-top: 5px;
            flex-grow: 1;
            @include ellipsis();

            .provider-title {
                color: #151B26;
                font: 500 16px/24px $bf;
                @include ellipsis();
            }

            .provider-subtitle {
                font: 600 11px/16px $bf;   
                color: #305dfb;
                @include ellipsis();
            }
        }

        .provider-actions {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            

            .provider-action-item {
                position: relative;
                padding: 0 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;

                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0;
                    width: 1px;
                    top: 15px;
                    bottom: 15px;
                    background: $border_color;
                }

                &:last-child {
                    padding-right: 0;

                    &:before {
                        content: none;
                    }
                }
            }
        }

        &:last-child {
            border-bottom: none;
            margin: 0 0 0;
        }
    }
}