&.block-pre-checks-blocks-editor {
    display: flex;
    flex-direction: column;

    .block-item {
        display: flex;
        flex-direction: column;
        margin: 0 0 10px;
        background: #FFFFFF;
        border: 1px solid var(--border-color);
        box-shadow: 0px 0px 5px rgba(25, 39, 52, 0.22);
        border-radius: calc(var(--border-radius) / 2);
        position: relative;

        .block-header {
            display: flex;
            flex-direction: row;
            padding: 10px 10px 10px 20px;

            .block-title {
                flex-grow: 1;
                font: 700 14px/30px var(--base-font);
                margin: 0 0;
                transition: line-height .4s;
                @include ellipsis();
            }
            
            .block-drag {
                font-size: 15px;
                line-height: 30px;
                padding-right: 5px;
                cursor: grab;
            }

            .block-actions {
                display: flex;
                padding-left: 20px;
            }

            &:not(:last-child) {
                border-bottom: 1px solid var(--border-color);
            }
        }

        .block-body {
            display: block;

            .block-pre-check-body, .block-records-body {
                padding: 20px;
            }
        }

        .block-records-body {
            border-top: 1px solid var(--border-color);

            .block-records-title {
                font: 700 14px/30px var(--base-font);
                margin-bottom: 20px;
            }

            .block-record-items {
                .block-record-item {
                    .block-body {
                        padding: 20px;
                    }
                }

                .block-record-items-empty {
                    height: 200px;
                    border: 1px dashed var(--border-color);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .block-record-items-empty-title {
                        font: 500 14px/21px var(--base-font);
                        color: #646F79;
                    }
                }
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .block-markdownable {
        .note-editor {
            .note-editing-area {
                .note-editable {
                    height: 150px !important;
                }
            }
        }
    }

    .block-actions {
        &:first-child {
            padding: 0 0 0;
        }
    }
}