&.block-markdown {
    text-align: justify;
    font: 400 14px/24px $bf !important;

    h1 {
        font: 500 2.5em $bf;
        margin: 0 0 0.6em;
        text-align: left;
    }

    h2 {
        font: 500 2em $bf;
        margin: 0 0 0.7em;
        text-align: left;
    }

    h3 {
        font: 500 1.5em $bf;
        margin: 0 0 0.9em;
        text-align: left;
    }

    h4 {
        font: 500 1.25em $bf;
        margin: 0 0 0.9em;
        text-align: left;
    }

    p {
        margin-bottom: 15px;
        text-align: justify;
        font: inherit;
    }

    ul,
    ol {
        margin: 0 0 15px;
        padding-left: 18px;

        li {
            font: inherit;
        }
    }

    ul {
        list-style: disc;
    }

    a:not(.button) {
        color: $bc;
        font-weight: 500;
        transition: 0.4s;
        font: inherit;
        text-decoration: underline;

        &:hover {
            color: $bc;
        }
    }

    strong,
    b {
        font: inherit;
        font-weight: 700;
    }

    i,
    em {
        font: inherit;
        font-style: italic;
    }

    img {
        max-width: 100% !important;
        height: auto !important;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        font: inherit;
        border: 1px solid #d4d9dd;
        border-right: none;
        background-color: #fff;

        thead {
            display: none;
        }

        tr {
            text-align: left;
            font: inherit;

            td,
            th {
                padding: 10px 12px;
                cursor: default;
                border-bottom: 1px solid #d4d9dd;
                transition: 0.3s;
                font: inherit;

                &>a {
                    font: inherit;
                }
            }

            th {
                color: #646f79;
                padding-top: 6px;
                padding-bottom: 6px;
                font: 500 12px/18px $bf;

                &:first-child {
                    padding-left: 25px;
                }

                &:last-child {
                    padding-right: 25px;
                }
            }

            td {
                color: #444a4f;
                font: 500 13px/20px $bf;
                border-right: 1px solid #d4d9dd;
            }

            &:first-child {
                th, td {
                    color: #646f79;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    font: 700 12px/20px $bf;

                    * {
                        color: inherit !important;
                        font: inherit !important;
                    }
                }
            }
        }

        &>tr,
        &>thead:last-child>tr,
        &>tbody:last-child>tr {
            &:last-child {

                td,
                th {
                    border-bottom: 0;
                }
            }
        }
    }

    .youtube-root {
        padding-top: 56.25%;
        position: relative;

        iframe {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
        }
    }

    .markdown-wrapper {
        margin-bottom: -15px;
    }

    &.block-markdown-left {
        text-align: left !important;

        * {
            text-align: left !important;
        }
    }

    &.block-markdown-center {
        text-align: center !important;

        * {
            text-align: center !important;
        }
    }

    &.block-markdown-right {
        text-align: right !important;

        * {
            text-align: right !important;
        }
    }

    @media screen and (max-width: 1000px) {
        font: 400 14px/22px $bf !important;
    
        h1 {
            font: 500 1.8em $bf;
            margin-bottom: 1em;
        }
    
        h2 {
            font: 500 1.6em $bf;
            margin-bottom: 1em;
        }
    
        h3 {
            font: 500 1.3em $bf;
            margin-bottom: 1em;
        }
    
        &.block-markdown-lg {
            font: 400 14px/22px $bf !important;
        }
    }
}