&.block-faq-editor {
    display: flex;
    flex-direction: column;

    .question-item {
        display: flex;
        margin: 0 0 10px;
        background: #FFFFFF;
        border: 1px solid $borderColor;
        box-shadow: 0px 0px 5px rgba(25, 39, 52, 0.22);
        border-radius: $border_radius / 2;
        padding: 20px 25px;
        position: relative;
        flex-direction: column;

        .question-title {
            font: 600 16px/36px $bf;
            margin: 0 0 10px;
            transition: line-height .4s;
            @include ellipsis();

            &.question-title-large {
                margin: 0 0 0;
            }
        }

        .question-subtitle {
            font: 600 14px/24px $bf;
            margin: 0 0 10px;
            @include ellipsis();
        }

        .question-actions {
            position: absolute;
            right: 20px;
            top: 20px;

            .button {
                margin-left: 5px;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .faq-editor-actions {
        &:first-child {
            padding: 0 0 0;
        }
    }
}