&.block-auth-2fa {
    margin-bottom: 20px;

    .auth-2fa-item {
        padding: 20px;
        background-color: #fff;
        border: 1px solid var(--border-color);
        box-shadow: var(--box-shadow);
        border-radius: calc(var(--border-radius));
        margin-bottom: 20px;
        display: flex;

        .auth-2fa-item-icon {
            margin-right: 20px;
            display: inline-flex;
            flex-direction: column;
            justify-content: center;

            .mdi {
                width: 50px;
                height: 50px;
                display: flex;
                background-color: #F6F9FC;
                border: 1px solid #F3F4F5;
                border-radius: 50px;
                line-height: 50px;
                font-size: 20px;
                color: #646F79;
                justify-content: center;
            }
        }

        .auth-2fa-item-title {
            font: 600 16px/30px var(--base-font);
            padding: 10px 0;
            margin-right: 10px;
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
        }

        .auth-2fa-item-label {
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
        }

        .auth-2fa-item-space {
            display: inline-flex;
            flex-grow: 1;
        }

        .auth-2fa-item-actions {
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }

    @media screen and (max-width: 1000px) {
        .auth-2fa-item {
            flex-direction: column;

            .auth-2fa-item-icon, 
            .auth-2fa-item-title,
            .auth-2fa-item-label,
            .auth-2fa-item-actions {
                flex-direction: row;
                justify-content: center;
                margin: 0;
            }


            .auth-2fa-item-icon {
                .mdi {
                    width: 80px;
                    height: 80px;
                    font-size: 50px;
                    line-height: 80px;
                }
            }

            .auth-2fa-item-label {
                margin-bottom: 15px;
            }
        }
    }
}