&.block-feedback-result {
    padding-top: 50px;
    padding-bottom: 50px;

    img {
        height: 72px;
        width: 72px;
        margin-bottom: 15px;
    }

    .feedback-result-title {
        font: 600 18px/27px $bf;
        color: #252325;
    }

    .feedback-result-info {
        font: 500 13px/18px $bf;
        color: #646F79;
    }
}