&.block-faq-editor {
    display: flex;
    flex-direction: column;

    .question-item {
        display: flex;
        flex-direction: column;
        margin: 0 0 10px;
        background: #FFFFFF;
        border: 1px solid $borderColor;
        box-shadow: 0px 0px 5px rgba(25, 39, 52, 0.22);
        border-radius: $border_radius / 2;
        position: relative;

        .question-header {
            display: flex;
            flex-direction: row;
            padding: 10px 10px 10px 20px;

            .question-icon {
                display: flex;
                margin-right: 10px;
                line-height: 30px;
                font-size: 20px;
                color: $color_primary;
            }

            .question-title {
                flex-grow: 1;
                font: 700 14px/30px $bf;
                margin: 0 0;
                transition: line-height .4s;
                @include ellipsis();
            }

            .question-actions {
                display: flex;
                padding-left: 20px;
            }

            &:not(:last-child) {
                border-bottom: 1px solid $border_color;
            }
        }

        .question-body {
            display: block;
            padding-right: 90px;
            padding: 10px 20px 20px 20px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .faq-editor-actions {
        &:first-child {
            padding: 0 0 0;
        }
    }
}