&.block-features-demo-banner {
    border-radius: var(--border-radius);
    background: url(../img/features/banner.jpg) no-repeat;
    background-size: cover;
    min-height: 220px;
    margin: 0 0 20px;
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .features-demo-banner-title {
        color: #fff;
        font: 600 24px/36px var(--base-font);
        margin: 0 0 8px;
    }

    .features-demo-banner-details {
        color: #D4D9DD;
        font: 500 13px/19px var(--base-font);
        margin: 0 0 20px;
        width: 450px;
    }

    .button-primary {
        background: #315EFD;
        border-color: #315EFD;
    }

    &.block-features-demo-banner-lg {
        height: 280px;
        border-radius: calc(var(--border-radius));
    }

    @media screen and (max-width: 1000px) {
        padding: 20px 40px;

        .features-demo-banner-details {
            width: 75%;
        }
    }
}