&.block-announcements {
    .announcement {
        margin-bottom: 20px;
        position: relative;
        opacity: 1;
        transition: opacity 0.4s;
        border-radius: $borderRadius / 2;
        box-shadow: 0px 0px 5px rgba(25, 39, 52, 0.22);
        cursor: default;

        .announcement-wrapper {
            background: #ffffff;
            padding: 15px 20px;
            border-radius: $borderRadius / 2;
            margin-left: -($borderRadius / 2);
        }

        .title {
            font: 600 13px/16px $bf;
            color: #151b26;
            margin-bottom: 7px;
        }

        .description {
            font: 500 11px/16px $bf;
            color: #646f79;

            h1 {
                font: 500 2.5em $bf;
                margin: 0 0 0.6em;
                text-align: left;
            }

            h2 {
                font: 500 2em $bf;
                margin: 0 0 0.7em;
                text-align: left;
            }

            h3 {
                font: 500 1.5em $bf;
                margin: 0 0 0.9em;
                text-align: left;
            }

            h4 {
                font: 500 1.25em $bf;
                margin: 0 0 0.9em;
                text-align: left;
            }

            p {
                margin-bottom: 15px;
                text-align: justify;
                font: inherit;
            }

            ul,
            ol {
                margin: 0 0 15px;
                padding-left: 18px;

                li {
                    font: inherit;
                }
            }

            ul {
                list-style: disc;
            }

            a:not(.button) {
                color: $bc;
                font-weight: 500;
                transition: 0.4s;
                font: inherit;
                text-decoration: underline;

                &:hover {
                    color: $bc;
                }
            }

            strong,
            b {
                font: inherit;
                font-weight: 700;
            }

            i,
            em {
                font: inherit;
                font-style: italic;
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p,
            ul,
            ol {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .announcement-close {
            position: absolute;
            font-size: 16px;
            right: 12px;
            top: 12px;
            display: block;
            cursor: pointer;
            color: #757575;
            transition: color 0.4s;
            z-index: 1;

            &:hover {
                color: #000000;
            }
        }

        &.dismissed {
            opacity: 0;
        }

        &.announcement-danger {
            border-left: 7px solid #e63f3b;
        }

        &.announcement-warning {
            border-left: 7px solid #fc9c28;
        }

        &.announcement-success {
            border-left: 7px solid #51c778;
        }

        &.announcement-primary {
            border-left: 7px solid #2a87fc;
        }

        &.announcement-default {
            border-left: 7px solid #c1c1c1;
        }
    }
}
