&.block-app_download {
    .app_download-row {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        flex-grow: 1;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .app_download-col {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .app_download-media {
        flex-basis: 25%;
        display: flex;
        width: 25%;

        img {
            display: block;
            width: 100%;
        }
    }

    .app_download-content {
        flex-basis: 75%;
        width: 75%;
        padding-left: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &.form {
            .form-control:not([type="radio"]):not([type="checkbox"]):not(textarea) {
                padding: 10px 15px;
                width: 280px;
                max-width: 100%;
            }
        }
    }

    .app_download-heading {
        font: 500 18px/26px var(--base-font);
        margin: 0 0 10px;
        display: block;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .app_download-text {
        font: 400 16px/22px var(--base-font);
        margin: 0 0 10px;
        color: #222530;

        &:last-child {
            margin-bottom: 0;
        }

        &.app_download-text-xs {
            font: 500 13px/20px var(--base-font);
        }
    }

    .app_download-link {
        font: inherit;
        text-decoration: underline;
        width: fit-content;
    }

    .app_download-store_icon {
        margin-right: 15px;
        display: flex;
        width: 130px;

        img {
            display: block;
            width: 100%;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    .app_download-form_group {
        display: flex;
        flex-direction: row;
        width: 100%;

        .app_download-form_group-input {
            padding-right: 25px;
            display: flex;
            flex-grow: 1;
            flex-direction: column;
        }

        .app_download-form_group-button {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    .pincode-errors {
        margin: -15px 0 15px;
    }
}
