&.block-subsidy-product-overview {
    display: flex;
    flex-direction: row;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(#000, 0.1);
    margin: 0 0 30px;
    overflow: hidden;

    .subsidy-title {
        color: #000;
        margin: 0 0 10px;
        font: 600 16px/24px var(--base-font);    
    }

    .subsidy-product-media {
        .subsidy-media {
            width: 220px;
            height: 100%;
            border-right: 1px solid var(--boarder-color);
            background-position: 50%;
            background-size: cover;
        }
    }

    .subsidy-product-content {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        background-color: #fff;
    
        .subsidy-product-overview {
            padding: 15px 25px;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            flex-basis: 50%;

            &:last-child {
                border-right: 0;
            }
        }

        .subsidy-provider {
            color: var(--color-primary);
            font: 600 14px/20px var(--base-font);
            margin: 0 0;
        }

        .subsidy-properties {
            display: flex;
            flex-direction: row;
        }

        .subsidy-property {
            display: flex;
            flex-direction: column;

            .subsidy-property-label {
                color: #646F79;
                font: 500 13px/22px var(--base-font);
                padding-right: 15px;
            }

            .subsidy-property-value {
                color: #000;
                font: 500 13px/22px var(--base-font);

                &.subsidy-property-value-muted {
                    text-decoration: line-through;
                    color: #626F79;
                }
            }

            &.subsidy-property-monetary {
                margin: 0 0 10px;
                @include cf();
                flex-direction: row;

                .subsidy-property-label {
                    color: #000;
                    width: 80%;
                    text-align: right;
                }

                .subsidy-property-value {
                    color: #000;
                    font: 500 18px/20px var(--base-font);
                    width: 20%;

                    &.subsidy-property-value-muted {
                        font-size: 16px;
                        text-decoration: line-through;
                        color: #626F79;
                    }
                }
            }

            &.subsidy-property-right {
                justify-content: flex-end;
            }
        }
    }

    &:last-child {
        margin-bottom: 0;
    }
}