&.block-dashboard-switcher {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    
    .switcher-wrapper {
        position: relative;
        display: inline-flex;
        padding: 0 15px;
        position: relative;

        .switcher-item {
            border: 1px solid transparent;
            padding: 5px 15px;
            font: 500 14px/20px $bf;
            color: inherit;
            border-radius: 3px;

            &.active {
                border-color: #009ef4;
                color: $colorPrimary;
                pointer-events: none;
                cursor: default;
            }

            &:hover:not(.active) {
                color: white;
                background-color: #009ef4;
                box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.1);
                transition: 0.3s;
            }
        }

        &:after {
            content: "";
            display: block;
            width: 1px;
            height: 10px;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);
            background: #d4d9dd;
            position: absolute;
        }
        
        &:last-child {
            &:after {
                display: none;
            }
        }
    }
}
