&.block-products {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    .product-item {
        flex-direction: column;
        display: flex;
        flex-direction: row;
        position: relative;
        background: #fff;
        margin-bottom: 20px;
        border-radius: $border_radius;
        box-shadow: $box_shadow;

        .product-media {
            .product-media-img {
                display: block;
                width: 90px;
                border-top-left-radius: $border_radius;
                border-bottom-left-radius: $border_radius;
            }
        }

        .product-details {
            display: flex;
            padding: 25px 20px;
            flex-direction: column;
            flex-grow: 1;

            .product-title {
                font: 500 16px/26px $bf;
                color: #151B26;
                display: flex;
                flex-direction: row;

                .label {
                    margin-left: 10px;
                    display: block;
                }
            }

            .product-subtitle {
                font: 600 11px/15px $bf;
                color: #626F79;
            }
        }

        .product-actions {
            display: flex;
            padding: 20px;
            flex-direction: row;
            
            .product-action {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 30px;
                font: 600 18px $bf;

                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
}