&.block-fund {
    display: flex;
    flex-direction: column;
    margin: 0 0;
    background: #fff;
    gap: 20px;
    display: grid;

    .fund-overview {
        border-bottom: 1px solid var(--border-color);
        display: grid;
        flex-direction: row;
        grid-template-columns: 190px 1fr;
        padding-bottom: 25px;
        gap: 25px;

        .fund-media {
            display: grid;

            .fund-media-img {
                display: block;
                border-radius: calc(var(--border-radius));
                width: 100%;
            }
        }

        .fund-details {
            display: grid;
            grid-template-rows: max-content;
            gap: 15px;

            .fund-header {
                display: grid;
                grid-template-columns: 1fr auto;
                gap: 20px;
                font: 500 16px/24px var(--base-font);

                .fund-name {
                    font: inherit;
                    color: #151b26;
                    margin: 0;
                }

                .tag {
                    height: fit-content;
                }
            }

            .fund-description {
                display: block;
                font: 400 14px/20px var(--base-font);
                color: #646f79;
            }
        }
    }

    .fund-actions {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
