&.block-subsidy-editor {
    display: flex;
    flex-direction: column;

    .subsidy-title {
        color: #000;
        margin: 0 0 10px;
        font: 600 16px/24px $bf;    
    }
    
    .subsidy-product {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid $borderColor;
        background-color: #fff;
    
        .subsidy-product-overview {
            padding: 15px 25px;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            flex-basis: 50%;
            border-right: 1px solid $borderColor;

            &:last-child {
                border-right: 0;
            }
        }

        .subsidy-provider {
            color: $color_primary;
            font: 600 14px/20px $bf;
            margin: 0 0;
        }

        .subsidy-property {
            display: flex;
            flex-direction: row;

            .subsidy-property-label {
                color: #646F79;
                font: 500 13px/22px $bf;
                padding-right: 10px;
            }

            .subsidy-property-value {
                color: #000;
                font: 500 13px/22px $bf;

                &.subsidy-property-value-muted {
                    text-decoration: line-through;
                    color: #626F79;
                }
            }

            &.subsidy-property-monetary {
                margin: 0 0 10px;
                @include cf();

                .subsidy-property-label {
                    color: #000;
                    width: 45%;
                    text-align: right;
                }

                .subsidy-property-value {
                    color: #000;
                    font: 500 18px/20px $bf;
                    width: 55%;

                    &.subsidy-property-value-muted {
                        font-size: 16px;
                        text-decoration: line-through;
                        color: #626F79;
                    }
                }
            }

            &.subsidy-property-right {
                justify-content: flex-end;
            }
        }
    }

    .subsidy-form {
        display: flex;
        flex-direction: row;

        .subsidy-form-media {
            .subsidy-media {
                width: 270px;
                height: 100%;
                border-right: 1px solid $border_color;
                background-position: 50%;
                background-size: cover;
            }
        }

        .subsidy-form-content {
            padding: 15px 25px;
            flex-grow: 1;

            .form {
                .form-group {
                    .form-control[type="number"] {
                        width: auto;
                    }
                }
            }
        }
    }
}