&.block-sessions {
    display: flex;
    flex-direction: column;

    .session-item {
        flex-direction: column;
        display: flex;
        padding: 20px;
        flex-direction: row;
        border-bottom: 1px solid var(--border-color);
        position: relative;

        .session-icon {
            padding-right: 20px;

            .mdi {
                color: var(--color-primary);
                font-size: 26px;
                width: 30px;
                text-align: center;
            }
        }

        .session-label {
            position: absolute;
            right: 20px;
            top: 20px;
        }

        .session-details {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            .session-title {
                font: 600 14px/20px var(--base-font);
                color: #282b39;
                margin: 0 0 5px;
            }

            .session-properties {
                margin: 0 0 5px;

                .session-property {
                    font: 500 13px/20px var(--base-font);
                    color: #646f79;
                    display: flex;
    
                    .session-property-label, 
                    .session-property-value {
                        display: inline-flex;
                    }
    
                    .session-property-label {
                        padding-right: 5px;
                    }
    
                    .session-property-value {
                        color: #151b26;
                    }

                    .session-property-sep {
                        color: var(--color-primary);
                        padding: 0 5px;
                    }
                }
            }

            .session-actions {
                padding: 5px 0 0;
                margin: 0 0 10px;
                @include cf();

                .session-action {
                    font: 500 13px/20px var(--base-font);
                    color: var(--color-primary);
                    transition: .4s;
                    margin-right: 10px;
                    float: left;

                    .mdi {
                        font-size: 16px;
                        float: right;
                        // margin-left: 2px;
                        color: #646f79;
                        line-height: 20px;
                        width: 15px;
                        text-align: center;

                        &[class*="mdi-menu"] {
                            font-size: 24px;
                        }
                    }

                    &:hover {
                        color: var(--color-primary-light);
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .session-locations {
                border: 1px solid var(--border-color);
                border-radius: (calc(var(--border-radius)));
                background: #f6f9fc;
                padding: 10px 15px;
                font: 500 13px/30px var(--base-font);
                color: #151b26;
                cursor: default;

                .session-location {
                    padding-left: 10px;
                    position: relative;
                    line-height: 20px;
                    margin: 0 0 5px;

                    &:before {
                        content: '';
                        display: block;
                        width: 3px;
                        height: 3px;
                        border-radius: 3px;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translate(0, -50%);
                        background: var(--color-primary-light);
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &:last-child {
            border-bottom: none;
        }
    }
}