&.block-product {
    .product-card {
        border: 1px solid #DBDCDB;
        box-shadow: none;

        .product-details {
            .product-name {
                font: 500 24px/36px var(--base-font);
                color: #0B0E12;
            }

            .organization-name {
                color: #2D3748;
                font-weight: 500;
            }

            .product-properties {
                .product-property {
                    .product-property-label {
                        color: #2D3748;
                        font-weight: 400;
                    }

                    .product-property-value {
                        color: #0B0E12;
                        font: 500 16px/24px var(--base-font);
                    }
                }
            }
        }
    }
}