&.block-showcase {
    .showcase-layout {
        .showcase-content {
            .showcase-content-header {
                .showcase-filters-title {
                    .showcase-filters-title-count {
                        background-color: #E5E5E5;
                        border-radius: var(--border-radius);
                        padding: 8px 10px;
                        font: 600 14px/14px var(--base-font);
                        color: #0B0E12;
                    }
                }
            }
        }
    
        .showcase-aside {
            .showcase-aside-block {
                border: 1px solid var(--border-color);
                box-shadow: none;

                .showcase-aside-tabs {
                    .showcase-aside-tab {
                        font-weight: 500;
                        background-color: #F3F8FA;
                        color: #2D3748;

                        &.active {
                            background-color: #08749B;
                        }
                    }
                }
            }

            .form-group {
                .form-label {
                    color: #2D3748;
                    font: 400 12px/16px var(--base-font);
                }

                .select-control {
                    .select-control-search-placeholder {
                        color: #2D3748;
                    }
                }
            }
        }
    }
}