&.block-organizations {
    .organization-item {
        .organization-pane {
            .organization-pane-info {
                .organization-title {
                    .organization-page-link {
                        color: #08749B;
                    }
                }
            }

            .organization-pane-collapse {
                .organization-total-offices {
                    color: #08749B;
                }

                .organization-total-offices-count {
                    &.active {
                        background-color: #08749B;
                    }
                }
            }
        }

        .organization-offices {
            .block-offices {
                .office-item {
                    .office-item-map-icon {
                        color: #fff;
                        background-color: #08749B;
                    }
                }
            }
        }
    }
}