&.block-products-list {
    .product-item {
        border: 1px solid var(--border-color);

        .product-content {
            .product-details {
                .product-name {
                    color: var(--htc);
                    font: 500 18px/27px var(--base-font);
                    margin-bottom: 10px;
                }
            }
        }
    }
}