&.block-navbar-search {
    .navbar-search-icon {
        color: var(--htc);
    }

    .search-form.form {
        .form-control {
            &::placeholder {
                color: #2D3748;
                font: 500 16px/16px var(--base-font);
                opacity: 0.8;
            }
        }
    }
}