&.block-cms-funds {
    .fund-item {
        border-bottom: none;
        padding: 0;
    }

    &.block-cms-funds-compact {
        .fund-item {
            .fund-information {
                .fund-title {
                    font: 500 32px/48px var(--base-font);
                }

                .fund-description {
                    margin: 0 0 20px;
                }
            }

            .fund-information {
                .fund-button {
                    text-align: left;

                    .fund-button-link {
                        color: #08749b;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1000px) {
        &.block-cms-funds-compact {
            .fund-item {
                .fund-information {
                    .fund-title {
                        font: 500 16px/24px var(--base-font);
                    }
                }
            }
        }
    }
}
