&.block-map {
    .block-content {
        .block-title {
            color: #0B0E12;
            font: 400 52px/72px var(--base-font);
        }

        .block-description {
            font: 400 18px/27px var(--base-font);
        }
    }

    @media screen and (max-width: 1000px) {
        .block-content {
            .block-title {
                font: 500 28px/38px var(--base-font);
            }
    
            .block-description {
                font: 400 14px/21px var(--base-font);
            }
        }
    }
}