&.block-pane {
    border: 1px solid var(--border-color);
    box-shadow: none;    

    .pane-head {
        .pane-head-title {
            font: 500 24px/36px var(--base-font);
        }
    }

    .pane-section {
        .product-funds-list {
            .fund-item {
                border-radius: 0;
                
                .fund-item-section {
                    .fund-item-section-label {
                        font: 400 12px/16px var(--base-font);
                    }

                    .fund-item-section-value {
                        font: 500 17px/23px var(--base-font);
                    }
                }
            }
        }
    }
}