.section {
    &.section-header {
        padding: 120px 0;

        .header-content {
            background: #fff;
            padding: 60px 60px;
            border-radius: var(--border-radius);
            max-width: 760px;

            .header-title {
                font: 400 56px/62px var(--hf);
                color: #0B0E12;
            }

            .header-description {
                font: 400 20px/30px var(--hf);
                color: #0B0E12;
            }

            .header-how-it-works {
                color: #627C18;
            }
        }

        @media screen and (max-width: 1000px) {
            padding: 0 0;

            .header-content {
                padding: 30px 0px 0;

                .header-title {
                    font: 500 28px/38px var(--hf);
                    color: #0B0E12;
                }

                .header-description {
                    font: 400 14px/22px var(--hf);
                    color: #0B0E12;
                }
            }
        }
    }
}
