.block {
    &.block-navbar {
        .block-auth {
            .button {
                line-height: 24px;

                em {
                    line-height: 23px;
                }
            }
        }

        .navbar-inner {
            .navbar-list {
                .navbar-item-wrapper {
                    .navbar-item {
                        &.active {
                            font-weight: 600;
                        }
                    }
                }
            }

            .navbar-menu-button {
                &.active {
                    color: #08749B
                };
            }
        }
    }
}