// clear Fix - for floating blocks
@mixin cf(){
    *zoom: 1;

    &:before, &:after{
        content: " ";
        display: table;
    }

    &:after{
        clear: both;
    }
}

// fill parrent block
@mixin fill_parent($offset: 0px, $position: absolute){
    position: $position;
    top: $offset;
    right: $offset;
    bottom: $offset;
    left: $offset;
}

// fill parrent block
@mixin float_center() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// ellipsis text
@mixin ellipsis {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin webkit_scrollbar($color: var(--color-primary-light)) {
    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-track {
        background: #f3f4f5;
        border: 1px solid transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: $color;
        border-radius: 4px;
    }
}

@mixin webkit_scrollbar_gray($color: #9E9FA1) {
    @include webkit_scrollbar($color);
}

@mixin anim_blink() {
    @keyframes blink {
        0% {
            opacity: 0.0;
        }

        30% {
            opacity: 1.0;
        }

        70% {
            opacity: 1.0;
        }

        100% {
            opacity: 0.0;
        }
    }

    @-webkit-keyframes blink {
        0% {
            opacity: 0.0;
        }

        30% {
            opacity: 1.0;
        }

        70% {
            opacity: 1.0;
        }

        100% {
            opacity: 0.0;
        }
    }

    animation: blink 1.5s ease-in-out infinite;
}