/*==========  Style Sheet - Placeholders  ==========*/
::-webkit-input-placeholder {
    color: $ptc;
    font: 400 15px $bf;
}

::-moz-placeholder {
    color: $ptc;
    font: 400 15px $bf;
}

:-moz-placeholder {
    color: $ptc;
    font: 400 15px $bf;
}

:-ms-input-placeholder {
    color: $ptc;
    font: 400 15px $bf;
}
