/*==========  Style Sheet - Placeholders  ==========*/
::-webkit-input-placeholder {
    font: var(--form-control-placeholder-font);
    color: var(--form-control-placeholder-color);
}

::-moz-placeholder {
    font: var(--form-control-placeholder-font);
    color: var(--form-control-placeholder-color);
}

:-moz-placeholder {
    font: var(--form-control-placeholder-font);
    color: var(--form-control-placeholder-color);
}

:-ms-input-placeholder {
    font: var(--form-control-placeholder-font);
    color: var(--form-control-placeholder-color);
}
