html {
    -webkit-overflow-scrolling: touch;
}

.scroll-img {
    display: none;
}

.show-sm {
    display: none !important;
}

.f-w {
    width: 100% !important;
}

.section-product {
    .section-title {
        text-align: left !important;
    }
}

[ng-click],
[ui-sref] {
    cursor: pointer;

    * {
        cursor: pointer;
    }
}

body {
    background-color: $bg;
    background: $bg_2;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    height: 100%;

    &.modal-shown {
        overflow: hidden;
    }
}

.span-count {
    display: inline;

    &::before {
        content: " (";
    }

    &::after {
        content: ")";
    }
}

@media screen and (min-width: 1024px) {

    .section-voucher-details,
    .section-profile {
        .section-title {
            text-align: left !important;
        }
    }

}

@media screen and (max-width: 1024px) {

    .section-voucher-details,
    .section-profile {
        .section-title {
            font-size: 24px !important;
        }
    }

    .section-voucher-details {
        margin-top: 50px;
    }

}

ui-view {
    flex: 1 0 auto;
    min-height: 85vh;
}

.app-instruction {
    text-align: center;

    .step-item {
        padding: 50px 80px;
        position: relative;
        width: 400px;
        margin: 0 auto;
        display: inline-block;

        img {
            &:not(.line-item) {
                width: 100%;
                border: 2px dashed #d2e6ff;
                border-radius: 5px;
                box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
                position: relative;
                z-index: 1;
            }

            &.line-item {
                position: absolute;

                top: 200px;
                left: calc(100% - 80px);
                min-width: 70px;
                z-index: 2;
            }
        }

        .app-title {
            font: 500 16px/24px $bf;
            padding: 5px 0 15px 0;
            text-align: center;
        }
    }

    .divider-img {
        img {
            width: 100%;
        }
    }
}

@media screen and (max-width: 1500px) {
    .app-instruction {
        .step-item {
            padding: 10px 70px;

            img {
                &.line-item {
                    top: 140px;
                    width: 170px;
                    left: calc(100% - 85px);
                }
            }
        }
    }

    .base-card .card-body {
        min-height: 160px;
    }
}

@media screen and (max-width: 1000px) {
    .map-card-img {
        display: none !important;
    }

    .block-breadcrumbs {
        margin-top: 10px !important;
    }

    .section-product {
        .section-title {
            display: none;
        }
    }

    .product-price-insufficient {
        font: 400 16px "Lato", arial, sans-serif;
        padding-top: 20px;
    }

    .hide-sm {
        display: none !important;
    }

    .show-sm {
        display: block !important;
    }

    .sm-pull-left {
        float: left !important;
    }

    .gm-style-iw {
        width: 100% !important;
        left: 0 !important;
        top: 0 !important;
        display: flex;

        &>div {
            width: 100% !important;
            max-width: 100% !important;
            max-height: 100% !important;
            display: block !important;
        }
    }

    .app-instruction {
        .divider-img {
            width: auto;
            padding-top: 10px;
            margin: 0 -25px 10px;
        }

        .step-item {
            width: 50%;
            padding: 0 30px;
            vertical-align: top;

            .app-title {
                font-size: 13px;
                margin: 0 -30px;
            }

            img {
                &.line-item {
                    display: none;
                }
            }
        }
    }
}