html {
    -webkit-overflow-scrolling: touch;
}

.scroll-img {
    display: none;
}

.show-sm {
    display: none !important;
}

.f-w {
    width: 100% !important;
}

.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

.section-product {

    .back {
        padding-bottom: 15px;
        margin: 0px 50px;
        font: 500 18px/22px $bf;
        color: #9E9E9E;

        span {
            display: inline-block;
            margin-top: 2px;
            font-size: 18px;
            color: #9E9E9E;
        }
    }

    .heading {
        font: 500 36px/36px $bf;
        color: #191A1C;
        text-align: center;
    }

    &.section-requester {
        margin-top: 50px;
    }
}

[ng-click],
[ui-sref] {
    cursor: pointer;

    * {
        cursor: pointer;
    }
}

body {
    background-color: $bg;
    background: $bg_2;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    height: 100%;

    &.modal-shown {
        overflow: hidden;
    }

    &.signup-layout {
        background: #fff;
    }
}

.span-count {
    display: inline;

    &::before {
        content: " (";
    }

    &::after {
        content: ")";
    }
}

@media screen and (min-width: 1024px) {
    .section-profile {
        .section-title {
            text-align: left !important;
        }
    }

    .section-voucher-details {
        .section-title {
            text-align: center !important;
            font: 500 21px/30px $bf !important;
            color: #222530;
        }
    }

}

@media screen and (max-width: 1024px) {

    .section-voucher-details,
    .section-profile {
        .section-title {
            font-size: 24px !important;
        }
    }

    .section-voucher-details {
        margin-top: 25px;
    }

}

ui-view {
    flex: 1 0 auto;
    min-height: 85vh;
}

.app-instruction {
    text-align: center;

    .step-item {
        padding: 0px 80px 20px;
        position: relative;
        width: 400px;
        margin: 0 auto;
        display: inline-block;

        .step-title {
            font: 700 24px/30px $bf;
            margin: 0 0 0;
        }

        .step-description {
            font: 500 15px/24px $bf;
            margin: 0 0 10px;

            a {
                font: 400 16px/22px $bf;
                text-decoration: underline;
                color: #2B2BFF;
            }
        }

        img {
            display: block;
            margin: auto;

            &:not(.line-item) {
                width:200px;
                border-radius: 5px;
                box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
                position: relative;
                z-index: 1;
            }

            &.line-item {
                position: absolute;
                top: 200px;
                left: calc(100% - 80px);
                min-width: 70px;
                z-index: 2;
            }
        }

        .app-title {
            font: 500 14px/24px $bf;
            padding: 5px 0 15px 0;
            text-align: center;
        }

    }

    .divider-img {
        margin: 0 0 5px;

        img {
            display: block;
            width: 100%;
        }
    }
}

@media screen and (max-width: 1500px) {
    .app-instruction {
        .step-item {
            padding: 0px 0px 20px;
            width: 25%;
            
            img {
                &.line-item {
                    top: 140px;
                    width: 170px;
                    left: calc(100% - 85px);
                }
            }
        }
    }

    .base-card .card-body {
        min-height: 160px;
    }
}

@media screen and (max-width: 1000px) {
    .section-product {
        .section-title {
            display: none;
        }
    }

    .hide-sm {
        display: none !important;
    }

    .show-sm {
        display: block !important;
    }

    .sm-pull-left {
        float: left !important;
    }

    .gm-style-iw {
        width: 100% !important;
        left: 0 !important;
        top: 0 !important;
        display: flex;

        &>div {
            width: 100% !important;
            max-width: 100% !important;
            max-height: 100% !important;
            display: block !important;
        }
    }

    .app-instruction {
        .divider-img {
            width: auto;
            padding-top: 10px;
            margin: 0 -25px 10px;
        }

        .step-item {
            width: 25%;
            padding: 0 30px;
            vertical-align: top;

            .app-title {
                font-size: 13px;
                margin: 0 -30px;
            }

            img {
                &.line-item {
                    display: none;
                }
            }
        }
    }
}