html {
    -webkit-overflow-scrolling: touch;
}

.scroll-img {
    display: none;
}

.show-sm {
    display: none !important;
}

.show-sm-flex {
    display: none !important;
}

.f-w {
    width: 100% !important;
}

.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

.section-product {

    .back {
        padding-bottom: 15px;
        margin: 0px 50px;
        font: 500 18px/22px var(--base-font);
        color: #9E9E9E;

        span {
            display: inline-block;
            margin-top: 2px;
            font-size: 18px;
            color: #9E9E9E;
        }
    }

    .heading {
        font: 500 36px/36px var(--base-font);
        color: #191A1C;
        text-align: center;
    }

    &.section-requester {
        margin-top: 50px;
    }
}

[ng-click],
[ui-sref],
.clickable,
.state-nav-link {
    cursor: pointer;

    * {
        cursor: pointer;
    }
}

body {
    background-color: var(--bg);
    background: var(--bg_2);
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    height: 100%;

    &.modal-shown {
        overflow: hidden;
    }

    &.signup-layout {
        background: #fff;
    }
}

.span-count {
    display: inline;

    &::before {
        content: " (";
    }

    &::after {
        content: ")";
    }
}

@media screen and (min-width: 1024px) {
    .section-profile {
        .section-title {
            text-align: left !important;
        }
    }

    .section-voucher-details {
        .section-title {
            text-align: center !important;
            font: 500 21px/30px var(--base-font) !important;
            color: #222530;
        }
    }

}

@media screen and (max-width: 1024px) {

    .section-voucher-details,
    .section-profile {
        .section-title {
            font-size: 24px !important;
        }
    }

    .section-voucher-details {
        margin-top: 25px;
    }

}

ui-view {
    flex: 1 0 auto;
    min-height: 85vh;
}

@media screen and (max-width: 1500px) {
    .base-card .card-body {
        min-height: 160px;
    }
}

@media screen and (max-width: 1000px) {
    .section-product {
        .section-title {
            display: none;
        }
    }

    .hide-sm {
        display: none !important;
    }

    .show-sm {
        display: block !important;
    }

    .show-sm-flex {
        display: flex !important;
    }

    .sm-pull-left {
        float: left !important;
    }

    .gm-style-iw {
        width: 100% !important;
        left: 0 !important;
        top: 0 !important;
        display: flex;

        &>div {
            width: 100% !important;
            max-width: 100% !important;
            max-height: 100% !important;
            display: block !important;
        }
    }
}