/*==========  Style Sheet - Third-party  ==========*/
.nano {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.nano > .nano-content {
    position: absolute;
    overflow: scroll;
    overflow-x: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.nano > .nano-content:focus {
    outline: thin dotted;
}

.gm-bundled-control-on-bottom {
    bottom: 180px !important;
}

.nano > .nano-content::-webkit-scrollbar {
    display: none;
}

.has-scrollbar > .nano-content::-webkit-scrollbar {
    display: block;
}

.nano > .nano-pane {
    position: absolute;
    width: 6px;
    right: 6px;
    top: 3px;
    bottom: 3px;
    cursor: pointer;
    background-color: transparent;
    opacity: 0.5;
    transition: all 0.4s;
}

.nano > .nano-pane > .nano-slider {
    background: #d4d9dd;
    position: relative;
    margin: 0 0px;
    border-radius: 8px;
}

.nano:hover > .nano-pane,
.nano-pane.active,
.nano-pane.flashed {
    opacity: 1;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

.gm-style .gm-style-mtc label,
.gm-style .gm-style-mtc div {
    font-weight: 400;
}

.gm-style .gm-style-mtc ul,
.gm-style .gm-style-mtc li {
    box-sizing: border-box;
}

.gm-control-active > img {
    box-sizing: content-box;
    display: none;
    left: 50%;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.gm-control-active > img:nth-child(1) {
    display: block;
}

.gm-control-active:hover > img:nth-child(1),
.gm-control-active:active > img:nth-child(1) {
    display: none;
}

.gm-control-active:hover > img:nth-child(2),
.gm-control-active:active > img:nth-child(3) {
    display: block;
}

.gm-style .gm-style-cc a,
.gm-style .gm-style-cc button,
.gm-style .gm-style-cc span,
.gm-style .gm-style-mtc div {
    font-size: 10px;
    box-sizing: border-box;
}

.gm-ui-hover-effect {
    opacity: 0.6;
}

.gm-ui-hover-effect:hover {
    opacity: 1;
}

.gm-style-pbc {
    transition: opacity ease-in-out;
    background-color: rgba(0, 0, 0, 0.45);
    text-align: center;
}

.gm-style-pbt {
    font-size: 22px;
    color: white;
    font-family: Roboto, Arial, sans-serif;
    position: relative;
    margin: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.gm-style img {
    max-width: none;
}

.gm-style {
    font: 400 11px Roboto, Arial, sans-serif;
    text-decoration: none;
}

.gm-style .gm-style-iw {
    font-weight: 300;
    font-size: 13px;
    overflow: hidden;
}

.gm-style .gm-style-iw-a {
    position: absolute;
    width: 9999px;
    height: 0;
}

.gm-style .gm-style-iw-t {
    position: absolute;
    width: 100%;
}

.gm-style .gm-style-iw-t::after {
    background: linear-gradient(
        45deg,
        rgba(255, 255, 255, 1) 50%,
        rgba(255, 255, 255, 0) 51%,
        rgba(255, 255, 255, 0) 100%
    );
    box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, 0.4);
    content: "";
    height: 15px;
    left: 0;
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 15px;
}

.gm-style .gm-style-iw-c {
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    top: 0;
    left: 0;
    transform: translate(-50%, -100%);
    background-color: white;
    border-radius: 8px;
    padding: 12px;
    box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.3);
}

.gm-style .gm-style-iw-d {
    box-sizing: border-box;
    overflow: auto;
}

.gm-style .gm-style-iw-d::-webkit-scrollbar {
    width: 18px;
    height: 12px;
    -webkit-appearance: none;
}

.gm-style .gm-style-iw-d::-webkit-scrollbar-track,
.gm-style .gm-style-iw-d::-webkit-scrollbar-track-piece {
    background: #fff;
}

.gm-style .gm-style-iw-c .gm-style-iw-d::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.12);
    border: 6px solid transparent;
    border-radius: 9px;
    background-clip: content-box;
}

.gm-style .gm-style-iw-c .gm-style-iw-d::-webkit-scrollbar-thumb:horizontal {
    border: 3px solid transparent;
}

.gm-style .gm-style-iw-c .gm-style-iw-d::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.gm-style .gm-style-iw-c .gm-style-iw-d::-webkit-scrollbar-corner {
    background: transparent;
}

.gm-style .gm-iw {
    color: #2c2c2c;
}

.gm-style .gm-iw b {
    font-weight: 400;
}

.gm-style .gm-iw a:link,
.gm-style .gm-iw a:visited {
    color: #4272db;
    text-decoration: none;
}

.gm-style .gm-iw a:hover {
    color: #4272db;
    text-decoration: underline;
}

.gm-style .gm-iw .gm-title {
    font-weight: 400;
    margin-bottom: 1px;
}

.gm-style .gm-iw .gm-basicinfo {
    line-height: 18px;
    padding-bottom: 12px;
}

.gm-style .gm-iw .gm-website {
    padding-top: 6px;
}

.gm-style .gm-iw .gm-photos {
    padding-bottom: 8px;
    user-select: none;
}

.gm-style .gm-iw .gm-sv,
.gm-style .gm-iw .gm-ph {
    cursor: pointer;
    height: 50px;
    width: 100px;
    position: relative;
    overflow: hidden;
}

.gm-style .gm-iw .gm-sv {
    padding-right: 4px;
}

.gm-style .gm-iw .gm-wsv {
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.gm-style .gm-iw .gm-sv-label,
.gm-style .gm-iw .gm-ph-label {
    cursor: pointer;
    position: absolute;
    bottom: 6px;
    color: #fff;
    font-weight: 400;
    text-shadow: rgba(0, 0, 0, 0.7) 0 1px 4px;
    font-size: 12px;
}

.gm-style .gm-iw .gm-stars-b,
.gm-style .gm-iw .gm-stars-f {
    height: 13px;
    font-size: 0;
}

.gm-style .gm-iw .gm-stars-b {
    position: relative;
    background-position: 0 0;
    width: 65px;
    top: 3px;
    margin: 0 5px;
}

.gm-style .gm-iw .gm-rev {
    line-height: 20px;
}

.gm-style.gm-china .gm-iw .gm-rev {
    display: none;
}

.gm-style .gm-iw .gm-numeric-rev {
    font-size: 16px;
    color: #dd4b39;
    font-weight: 400;
}

.gm-style .gm-iw.gm-transit {
    margin-left: 15px;
}

.gm-style .gm-iw.gm-transit td {
    vertical-align: top;
}

.gm-style .gm-iw.gm-transit .gm-time {
    white-space: nowrap;
    color: #676767;
    font-weight: bold;
}

.gm-style .gm-iw.gm-transit img {
    width: 15px;
    height: 15px;
    margin: 1px 5px 0 -20px;
    float: left;
}

._720kb {
    &-datepicker {
        &-calendar {
            max-width: 275px;
            border: 1px solid #e9ecee;
            border-radius: 5px;
            box-shadow: 5px 5px 20px rgba(0, 0, 0, .1);

            &-days-header {
                background: #fff;
                border-bottom: 0;
                padding: 0 5px;

                div {
                    color: #134478;
                    font-size: 12px;
                }
            }

            &-body {
                display: flex;
                flex-direction: row;
                align-content: center;
                flex-wrap: wrap;
                padding: 0 5px 5px;
                margin: 0;
                width: 100%;
            }

            &-day {
                width: (100%/7);
                padding: 0;
                font-size: 13px;
                font-weight: 500;
                color: #282b39;
                border-radius: 40px;
                margin: 0;
                height: 35px;
                line-height: 35px;
                position: relative;
                z-index: 1;
                transition: color .4s;

                &:before {
                    content: '';
                    display: block;
                    width: 28px;
                    height: 28px;
                    margin: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: -1;
                    border-radius: 20px;
                    transition: background .4s;
                }

                &:hover {
                    background: transparent;

                    &:before {
                        background: rgba(0,0,0,.03);
                    }
                }

                &._720kb-datepicker-active {
                    color: #fff;
                    background: transparent;

                    &:before {
                        background: #009ef4;
                    }
                }

                &._720kb-datepicker-disabled {
                    color: rgba(0,0,0,.2);
                    background: transparent;

                    &:before {
                        background: rgba(25,2,0,.02);
                    }
                }
            }

            &-header {
                &:nth-child(odd), 
                &:nth-child(even) {
                    background: #fff;
                    border-bottom: 1px solid #e9ecee;
                }
            }

            &-month {
                color: #282b39;
                font: 500 13px/40px $bf;

                a {
                    &>span {
                        color: #282b39;
                        font: 500 13px/40px $bf;
                    }
                }
            }
        }
    }
}

@media print {
    .gm-style .gmnoprint,
    .gmnoprint {
        display: none;
    }
}

@media screen {
    .gm-style .gmnoscreen,
    .gmnoscreen {
        display: none;
    }
}