@import "./vars";
@import "../_common/webshop";


@font-face {
    font-family: 'Century Gothic';

    @if ($buildReact) {
        src: url('./assets/fonts/Century Gothic.ttf');
    } @else {
        src: url('../fonts/Century Gothic.ttf');
    }
}

// INCLUDES
@import "includes/shame.scss";
