@import '../general/vars.scss';

/*==========  Style Sheet - Vars  ==========*/
$fonts: null;

// navbar
$bg-nav:            #0072B8;
$tc-nav:            #FFFFFF;
$tc-nav-hov:        #FFFFFF;
$logo-padding:      20px 0px;
$logo-height:       75px;

// navbar (auth)
$tc-auth-menu:      #FFFFFF; 
$tc-auth-btn:       #FFFFFF; 
$btn-auth-bg:       #306FB3;
$btn-auth-border:   #0000;

// navbar (start modal primary)
$tc-start-btn:       #fff; 
$btn-start-bg:       #D13E41;
$btn-start-hov:      #A21522;
$btn-start-border:   transparent;

// header attributes
$bg-values:          url("../img/splash-top-b.jpg") no-repeat 100% 0;

// base font
$bf:                'Century Gothic', 'Helvetica', 'Open Sans', 'Arial', sans-serif;

// heading font
$hf:                $bf;

// text color
$tc:                #4e4d40;
$tc-var:            #fff;
$tc-link:           inherit;

// base color
$bc:                #000;

// background color
$bg:                #f7f9fc;

$bg_2:              #ffffff;

// text formatting
$tf:                inherit;

// footer color
$fbc:                #306FB3;
$fc:                #fff;

$fc-link:           #fff;

// Displayed or not
$fd:                block;

// product image
$pi:                10px 0 0 10px;

// placeholder text color
$ptc:               #515152;

$border_color:      #d2e6ff;

$border_radius:     5px;
$base_shadow:       0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

$color_primary:         #0072B8;
$color_primary_light:   #1c8fd7;

$color_default:         #0072B8;
$color_default_light:   #1c8fd7;
    
// Login button
$lb:  #fff;