.button {
    font: 600 14px/20px $bf;
    padding: 15px 20px;
    display: inline-flex;
    border-radius: 5px;
    text-decoration: none;
    transition: all .4s;
    cursor: pointer;

    &.button-primary {
        background-color: $color_primary;
        border-color: $color_primary;
        box-shadow: 0 2px 5px rgba(#000000, 0.1);
        color: #fff;
        
        &:hover {
            background: rgb(41, 170, 234);
            border-color: rgb(41, 170, 234);
            box-shadow: 2px 4px 10px rgba(0,0,0,.1);
        }
    }

    &.button-sm {
        padding: 10px 15px;
    }

    &[disabled],
    &.disabled,
    &.button-disabled {
        cursor: default;
        background: #f6f8f9;
        border-color: #f6f8f9;
        box-shadow: 0 2px 5px rgba(#000000, 0.1);
        color: #bbc1c6;

        &:hover {
            background: #f6f8f9;
            border-color: #f6f8f9;
            color: #bbc1c6;
            box-shadow: 0 2px 5px rgba(#000000, 0.1);
            transform: none;
            top: 0;
        }

        &:focus {
            outline: none;
        }
    }

    &.button-wide {
        padding: 15px 30px;
    }
}
