html {
    body {
        form{
            .form-group{
                input:-webkit-autofill,
                input:-webkit-autofill:hover,
                input:-webkit-autofill:focus,
                textarea:-webkit-autofill,
                textarea:-webkit-autofill:hover,
                textarea:-webkit-autofill:focus,
                select:-webkit-autofill,
                select:-webkit-autofill:hover,
                select:-webkit-autofill:focus {
                    border: 1px solid #ccd0e0;
                    -webkit-text-fill-color: #9b9b9b;
                    -webkit-box-shadow: none;
                    transition: background-color 5000s ease-in-out 0s;
                    background: #ffffff;
                }
                .form-control{
                    box-shadow: none;
                    border: 1px solid transparent;
                    &[value=""]{
                        background-color: #eeeef0;
                        border-color: #eeeef0!important;
                        box-shadow: none;
                        & + label{
                            display: none;
                        }
                    }
                    &:focus{
                        outline: none!important;
                        box-shadow: none;
                    }
                }

                textarea{
                    height: 100px!important;
                    resize: none;
                    padding-top: 15px;
                }
                &.has-error{
                    .form-control{
                        border-radius: 8px;
                        border: solid 1px #ff2100!important;
                        background-color: #fff0ee;
                        & + label{
                            display: none!important;
                        }
                    }
                    .help-block{
                        display: block;
                    }
                }
            }
        }
        #formContact, #formContactHome{
            textarea{
                height: 100px!important;
                resize: none;
                overflow: hidden;
            }
            input,
            textarea,
            [contenteditable] {
                color: #666;
                caret-color: var(--forus-demi-blue);
            }
            .info{
                text-align: right;
                text-transform: uppercase;
                span{
                    margin-right: 5px;
                    display: inline-block;
                }
            }
            .form-group{
                label{
                    font-weight: 500;
                    text-align: left;
                    margin-left: 10px;
                }
                &.required{
                    label{
                        position: relative;
                        &:after{
                            content: "*";
                            color: red;
                            margin-left: 5px;
                            display: inline-block;
                        }
                    }
                }
                .input-group{
                    width: 100%;
                    position: relative;
                    border-radius: 8px;
                    background-color: #eff2f4;
                    .help-block{
                        position: absolute;
                        top: 100%;
                        left: 10px;
                        margin-top: 0;
                    }
                    .clear_field{
                        position: absolute;
                        top: 17px;
                        right: 17px;
                        z-index: 0;
                        svg{
                            display: block;
                        }
                    }
                    &:hover{
                        .clear_field{
                            z-index: 10;
                        }
                    }
                    .form-control{
                        width: 100%;
                        border-radius: 8px;
                        background-color: #eff2f4;
                        height: 52px;
                        padding: 16px 40px 16px 20px;
                        position: relative;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.43;
                        letter-spacing: normal;
                        color: #222530;
                        left: 0 !important;
                        &:focus{
                            box-shadow: none;
                            border-color: var(--forus-demi-blue)!important;
                            &[val=""] + .clear_field{
                                display: none;
                            }
                        }
                    }
                }

                &:focus{
                    label{
                        color: var(--forus-demi-blue)!important;
                    }
                    .input-group{
                        .form-control{
                            border-color: var(--forus-demi-blue)!important;
                            &:focus{
                                outline: none;
                                box-shadow: none;
                            }
                        }
                    }
                }
            }
        }
    }
}