.block-download-me-app {
    display: flex;
    padding: 20px 20px 60px;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: default;
    color: #242424;

    .download-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -120px;
        max-width: 100%;
    }

    .download-title {
        max-width: 100%;
        width: 750px;
        margin: 0 auto 30px;
        padding: 0 30px;
        text-align: center;
        color: #242424;
        font: 700 40px/54px var(--base-font);
    }

    .download-subtitle {
        font: 700 28px/32px var(--base-font);
        margin: 0 0 90px;
        text-align: center;
    }

    .download-buttons {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .download-buttons-item {
        display: block;
        padding: 0 20px;
        text-decoration: none;
        width: 50%;

        img {
            display: block;
            width: 100%;
            border: 0;
            border-radius: 6px;
            box-shadow: 0px 6px 25px 0px rgba(0, 0, 0, 0.5)
        }
    }

    @media (max-width: 1000px) {
        .download-title {
            width: 600px;
            font: 700 28px/36px var(--base-font);
            margin-bottom: 20px;
        }

        .download-subtitle {
            font-size: 18px;
            margin-bottom: 40px;
        }

        .download-buttons {
            flex-direction: column;     
        }

        .download-buttons-item {
            margin-bottom: 20px;
            width: 400px;
            max-width: 100%;

            img {
                box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5)
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}