.section-how-do-we-work {
    padding-top: 50px;
    border-top: 1px solid #edeef0;
    .hdww-block{
        border-radius: 5px;
        background-color: #f4f5f7;
        padding: 50px 65px;
        margin: 25px auto 110px;
        & > .row > div{
            padding: 20px 25px;
            text-align: left;
        }
        img{
            width: 100%;
            margin-bottom: 15px;
        }
    }
}