.block-sign-up {
    width: 760px;
    max-width: 100%;
    margin: 30px auto;
    border-radius: 6px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translatey(-30%) translatex(-50%);

    .block-sign-up-item-back {
        display: flex;
        align-items: center;
        text-decoration: none;
        margin-bottom: 10px;

        em {
            font: 500 25px/30px $bf;
    
            &.icon-start {
                margin-right: 2px;
                margin-left: -5px;
                float: left;
            }
        }
    }

    .block-sign-up-header {
        height: 65px;
        padding: 15px 0px;
        border: 1px solid #e5e5e5;
        border-bottom: none;

        .block-sign-up-title {
            font: 500 20px/30px $bf;
            text-align: center;
        }
    }

    .block-sign-up-options {
        display: flex;
        padding: 30px 15px;
        border: 1px solid #e5e5e5;

        .block-sign-up-option {
            width: 33.3333%;
            padding: 0 15px;

            .block-sign-up-option-inner {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: #fafafa;
                border: 1px solid #edeef0;
                border-radius: 6px;
                padding: 30px 20px;
                text-align: center;
                transition: all .3s;

                .block-sign-up-option-img {
                    margin: 0 0 15px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
    
                    img {
                        margin: 0 auto;
                        display: block;
                        max-width: 100%;
    
                        &.img-default {
                            display: block;
                        }
        
                        &.img-hover {
                            display: none;
                        }
                    }
                }
    
                .block-sign-up-option-description {
                    font: 500 17px/25px $bf;
                }
    
                &:hover {
                    cursor: pointer;
                    border: 1px solid #0c66ff;
                    color: #0c66ff;
                    text-decoration: none;
    
                    .block-sign-up-option-img {
                        img {
                            &.img-default {
                                display: none;
                            }
            
                            &.img-hover {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }

    .block-sign-up-footer {
        height: 170px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid #e5e5e5;
        border-top: none;

        .block-sign-up-footer-title {
            font: 500 20px/21px $bf;
            text-align: center;
        }

        .block-sign-up-footer-button {
            width: 320px;
            transform: translate(0, 0);
            color: #0c66ff;
            background: rgba(12, 102, 255, 0.1);
            padding: 20px 65px;
            margin: 20px auto 0px auto;
            text-align: center;
            background: #fff;
            border: 1px solid #0c66ff;
            border-radius: 8px;
            font: 600 17px/21px $bf;
            transition: color 0.3s, border-color .3s, background 0.3s, box-shadow 0.3s;

            &:hover {
                cursor: pointer;
                text-decoration: none;
                background: rgba(12, 102, 255, 0.1);
            }
        }
    }

    @media screen and (max-width: 1000px) {
        border: none;
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        margin: 0;
        padding: 20px 0;

        .block-sign-up-header {
            font: 500 17px/21px $bf;
            border: none;   
        }

        .block-sign-up-options {
            padding: 0 20px;
            border: none;
            flex-direction: column;

            .block-sign-up-option {
                width: 100%;
                padding: 0;
                margin: 0 0 20px;

                .block-sign-up-option-inner  {
                    padding: 20px 20px;

                    .block-sign-up-option-img {
                        margin: 0 0 5px;

                        img {
                            width: 40px;
                            height: 40px;
                        }
                    }

                    .block-sign-up-option-description {
                        font: 500 14px/18px $bf;
                        margin: 0 -5px;
                    }
                }
            }
        }

        .block-sign-up-footer {
            border: none;

            .block-sign-up-footer-title {
                font: 500 17px/21px $bf;
            }

            .block-sign-up-footer-button {
                padding: 15px 45px;
                width: auto;
            }
        }
    }
}