.timeline {
    box-sizing: border-box;
    margin-bottom: 5%;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    &:before {
        content:"";
        width: 1px;
        height: 92%;
        margin-top: 50px;
        background: #dadde7;
        position: absolute;
        border-radius: 40px 40px;
        left: 50%;
    } 
    .timeline_entry {
        padding: 20px 40px;
        padding-left: 60px;
        position: relative;
        background-color: inherit;
        width: 50%;
        .date_align {
            position: absolute;  
            font-weight: 500;
            font-family: Montserrat;
            color: #7e818c;  
            top:52px;
            &_right{
                right: -130px; 
            }
            &_left {
                left: -130px; 
            }
        }
    }
    /* Place the container to the left */
    .left {
        left: 0;
    }
    hr { 
        display: block;
        overflow: visible;
        margin: 0 -70px 0 -30px;
        border-style: inset;
        height: 1px;
        width: 110%;
        border: 0 none;
        background-color:#dadde7;
        position: relative;
    }
    /* Place the container to the right */
    .right {
        left: 50%;
    }
    /* Add arrows to the left container (pointing right) */
    .even::after {
        content: " ";
        width: 60px;
        height: 60px;
        position: absolute;
        z-index: 1;
        right: -53px;
        top:-30px;
        background-color: #dadde7;
        border-radius: 50%;
        z-index: 5px;
    }

    .even::before {
        content: "";                      
        width: 20px;
        height: 20px;
        background-color: #dadde7;
        border: 0;
        left: -20px;
        top:-9px;
        border-radius: 50%;
        position: absolute;
    }
    
    /* Add arrows to the right container (pointing left) */
    .uneven::after {
        content: " ";
        width: 60px;
        height: 60px;
        position: absolute;
        top: -28px;
        z-index: 15;
        left: -60px;
        background-color: #dadde7;
        border-radius: 50%;
    }
    .uneven::before {
        content: "";                      
        width: 20px;
        height: 20px;
        background-color: #dadde7;
        border: 0;
        top: -9px;
        right: -8px;
        border-radius: 50%;
        position: absolute;
    }
    .content {
        padding: 20px 30px;
        background-color: white;
        position: relative;
        border-radius: 6px;
    }
}