  /* ================ The Timeline ================ */
  
.timeline {
	position: relative;
	margin: 0 auto;
	margin-top: 20px;
	padding: 1em 0;
	list-style-type: none;
	text-align: left;
	.txt_link {
		width: auto;
	}
	.collapse {
		transition: all 0.3s linear;
		.in {
			transition: all 0.3s linear;
		}
	}
	&:before {
		position: absolute;
		top: 40px;
		content: ' ';
		display: block;
		width: 4px;
		height: 100%;
		margin-left: -3px;
		background: $forus-blue;
		z-index: 5;
		@media screen and (min-width: 1024px) {
			left: 50%;
		}
	}
	li {	
		padding: 1.5em 0;
		&:after {
			content: "";
			display: block;
			height: 0;
			clear: both;
			visibility: hidden;
		}
	}
	p {margin-top: 15px;}
}
.direction-l {
	position: relative;
	width: 100%;
	float: left;
	text-align: right;
	.flag {
		right: 0;
		transform: translateX(100%);
		&:after {
			content: "";
			position: absolute;
			left: 100%;
			top: 50%;
			height: 0;
			width: 0;
			margin-top: -8px;
			border: solid transparent;
			border-left-color: rgb(248,248,248);
			border-width: 8px;
			pointer-events: none;
		}
	}
	.time-wrapper {
		padding-right: 40px;
	}
}
.direction-r {
	position: relative;
	width: 100%;
	float: right;
	.flag {
		left: 0;
		transform: translateX(-100%);
		&:before {
			left: -40px;
		}
		&:after {
			content: "";
			position: absolute;
			right: 100%;
			top: 50%;
			height: 0;
			width: 0;
			margin-top: -8px;
			border: solid transparent;
			border-right-color: rgb(248,248,248);
			border-width: 8px;
			pointer-events: none;
		}
	}
	.time-wrapper {
		float: right;
		float: none;
		padding-left: 40px;
	}
}
.flag-wrapper {
	position: relative;
	display: inline-block;
}
.flag {
	background: $forus-blue;
    color: #fff;
	position: absolute;
	h5 {padding: 10px 30px;}
}
.time-wrapper {
	display: block;
	padding: 15px 0 15px 0;
}

.direction-l,
.direction-r {
	@media screen and (min-width : 1024px) {
		width: 50%;
	}
}

.direction-l .flag:after,
.direction-r .flag:after {
	content: "";
	position: absolute;
	left: 50%;
	top: -8px;
	height: 0;
	width: 0;
	margin-left: -8px;
	border: solid transparent;
	border-bottom-color: rgb(255,255,255);
	border-width: 8px;
	pointer-events: none;
}