doctype
html(ng-controller="BaseController" ng-cloak)
    include ../layout/includes/head

    body(ng-class="$root.viewLayout == 'signup' ? 'signup-layout' : ''" modal-scroll-braker)
        div(ng-class="$root.viewLayout == 'landing' ? 'landing-root' : ''")
            .ie-hide: div(ng-if="$root.viewLayout != 'landing'"): include ../layout/includes/header

            ui-view

            .ie-hide
                div(ng-if="$root.viewLayout != 'landing'"): include ../layout/includes/footer
                div(ng-if="$root.viewLayout == 'landing'"): include ../layout/includes/footer-landing
            div(forus-chat chat-id="{{ appConfigs.chat_id }}" ng-if="appConfigs.chat_id")
            include ../layout/includes/oldIe
            include ../layout/includes/scripts