doctype
html(lang="nl" ng-controller="BaseController" ng-cloak)
    include ../layout/includes/head

    body(
        ng-class="$root.layout" 
        modal-scroll-braker printable-enabler)
        
        page-loading-bar
        
        div(ng-class="$root.viewLayout == 'landing' ? 'landing-root' : ''").ie-hide
            include ../layout/includes/header

            ui-view

            div(ng-if="$root.viewLayout != 'landing'"): include ../layout/includes/footer

            if (qdt_c.platform.env_data.support_id)
                forus-support(ng-if="appConfigs.support_id" support-id="{{ appConfigs.support_id }}")

        app-footer
        printables-root
        push-notifications
        
        include ../layout/includes/oldIe
        include ../layout/includes/scripts

if (qdt_c.git_log_header) 
    | <!-- !{qdt_c.git_log_header} -->
