doctype
html(lang="nl" ng-controller="BaseController" ng-cloak)
    include ../layout/includes/head

    body(
        ng-class="$root.layout" 
        modal-scroll-braker printable-enabler)
        
        page-loading-bar
        
        div(ng-class="$root.viewLayout == 'landing' ? 'landing-root' : ''").ie-hide
            include ../layout/includes/header

            ui-view

            div(ng-if="$root.viewLayout != 'landing'"): include ../layout/includes/footer
            div(forus-chat chat-id="{{ appConfigs.chat_id }}" ng-if="appConfigs.chat_id")
            div(forus-support support-id="{{ appConfigs.support_id}}" ng-if="appConfigs.support_id")

        app-footer
        printables-root
        push-notifications
        
        include ../layout/includes/oldIe
        include ../layout/includes/scripts

if (qdt_c.git_log_header) 
    | <!-- !{qdt_c.git_log_header} -->