/*==========  Style Sheet - Vars  ==========*/

// base font
$bf: 'Lato',
arial,
sans-serif;

// text color
$tc: #4e4d40;

// base color
$bc: #017f96;

// placeholder text color
$ptc: #c4c4c4;

$border_color: #dbdcdb;

$border_radius: 0px;

$color_primary: #b9cb18;
$color_primary_light: #92a112;

$color_default: #fff;
$color_default_light: #b9cb18;

$borderColor: #dbdcdb;

// base error color
$bec: #e63b3b;