// these items have  section as parent class, while other implementatios have block as parent

.section {
    .section-title {
        text-align: center;
    }

    &.section-profile {
        .section-title {
            text-align: left;
            color: #fff;
        }
    }
}

body {
    background: #ececec;
}


.block.block-organizations .organization-item .organization-offices .block-offices .office-item:before {
    background-color: #d2d2c7;
}