body {
    background: #f1f4f7;
    min-height: 100vh;
}

.wrapper {
    margin: auto;
    width: 1366px;
    max-width: 100%;
    padding: 0 40px 0;
    @include cf();
}

// angularjsand ui-router directives
[ui-sref], [ng-click] {
    cursor: pointer;
}

// angularjs translate elements
translate, .translate {
    display: inline;
}

img {
    border: none;
}

.pull-right {
    float: right;
}

.nowrap {
    white-space: nowrap !important;
}

.pull-left {
    float: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-strike {
    text-decoration: line-through;
}

.flex-grow {
    flex-grow: 100 !important;
}

.text-muted {
    color: #a1a1a1 !important;
}

.text-primary {
    color: #134478 !important;
}

.text-primary-light {
    color: #009ef4 !important;
}

.text-danger {
    color: #e63b3b;
}

.text-strong {
    font-weight: 600;
}

.text-strong-half {
    font-weight: 500;
}

.hidden {
    display: none;
}

.cf {
    @include cf();
}

.flex-end {
    justify-content: flex-end;
    justify-items: flex-end;
}

.flex-center {
    justify-content: center;
    justify-items: center;
}

.span-count {
    display: inline;

    &::before {
        content: " (";
    }

    &::after {
        content: ")";
    }
}

.hard-disabled {
    filter: grayscale(1);
    user-select: none;
    pointer-events: none;
    opacity: .75;
}

.arrow-box {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%);

    .arrow {
        position: relative;
        background: #ffffff;
    }

    .arrow:after {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: ' ';
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #ffffff;
        border-width: 12px;
        margin-left: -12px;
    }

    &.border {
        margin-bottom: -1px;

        .arrow {
            position: relative;
            background: #ffffff;
            border: 1px solid #fff;
        }

        .arrow:after,
        .arrow:before {
            bottom: 100%;
            left: 50%;
            border: solid transparent;
            content: ' ';
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        .arrow:after {
            border-color: rgba(255, 255, 255, 0);
            border-bottom-color: #ffffff;
            border-width: 12px;
            margin-left: -12px;
        }

        .arrow:before {
            border-color: rgba(212, 217, 221, 0);
            border-bottom-color: #d4d9dd;
            border-width: 13px;
            margin-left: -13px;
        }
    }
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.spin {
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}