body {
    background: #f1f4f7;
    min-height: 100vh;
}

.wrapper {
    margin: auto;
    width: 1366px;
    max-width: 100%;
    padding: 0 40px 0;
    @include cf();

    .wrapper-sm {
        width: 800px;
    }
}

// angularjsand ui-router directives
[ui-sref], [ng-click] {
    cursor: pointer;
}

// angularjs translate elements
translate, .translate {
    display: inline;
}

img {
    border: none;
}

.nowrap {
    white-space: nowrap !important;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-strike {
    text-decoration: line-through;
}

.flex-grow {
    flex-grow: 100 !important;
}

.text-muted {
    color: #a1a1a1 !important;
}

.text-muted-dim {
    color: #919191 !important;
}

.text-muted-dark {
    color: #818181 !important;
}

.text-primary {
    color: #134478 !important;
}

.text-primary-mid {
    color: $bc !important;
}

.text-primary-light {
    color: #009ef4 !important;
}

.text-danger {
    color: #e63b3b;
}

.text-underline {
    text-decoration: underline !important;
}

.text-success {
    color: #226f24;
}

.text-success-light {
    color: #2cc678;
}

.text-strong {
    font-weight: 600;
}

.text-strong-half {
    font-weight: 500;
}

.text-wrap {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.hidden {
    display: none;
}

.cf {
    @include cf();
}

.flex-end {
    justify-content: flex-end;
    justify-items: flex-end;
}

.flex-center {
    justify-content: center;
    justify-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    margin: 0 -10px;

    .flex-coll {
        padding: 0 10px;
        display: flex;
    }
}

.flex-grow {
    flex-grow: 100 !important;
}

.flex {
    display: flex;
}

.span-count {
    display: inline;

    &::before {
        content: " (";
    }

    &::after {
        content: ")";
    }
}

.hard-disabled {
    filter: grayscale(1);
    user-select: none;
    pointer-events: none;
    opacity: .75;
}

.arrow-box {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%);

    .arrow {
        position: relative;
        background: #ffffff;
    }

    .arrow:after {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: ' ';
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #ffffff;
        border-width: 12px;
        margin-left: -12px;
    }

    &.border {
        margin-bottom: -1px;

        .arrow {
            position: relative;
            background: #ffffff;
            border: 1px solid #fff;
        }

        .arrow:after,
        .arrow:before {
            bottom: 100%;
            left: 50%;
            border: solid transparent;
            content: ' ';
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        .arrow:after {
            border-color: rgba(255, 255, 255, 0);
            border-bottom-color: #ffffff;
            border-width: 12px;
            margin-left: -12px;
        }

        .arrow:before {
            border-color: rgba(212, 217, 221, 0);
            border-bottom-color: #d4d9dd;
            border-width: 13px;
            margin-left: -13px;
        }
    }
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.spin {
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.show-sm {
    display: none !important;
}

@media screen and (max-width: 1000px) {
    .hide-sm {
        display: none !important;
    }

    .show-sm {
        display: block !important;
    }
}

/* 
@media (min-width: 992px) {
    .col.col-md-1,
    .col.col-md-2,
    .col.col-md-3,
    .col.col-md-4,
    .col.col-md-5,
    .col.col-md-6,
    .col.col-md-7,
    .col.col-md-8,
    .col.col-md-9,
    .col.col-md-10,
    .col.col-md-11,
    .col.col-md-12 {
        float: left;
    }

    .col.col-md-12 {
        width: 100%;
    }

    .col.col-md-11 {
        width: 91.66666667%;
    }

    .col.col-md-10 {
        width: 83.33333333%;
    }

    .col.col-md-9 {
        width: 75%;
    }

    .col.col-md-8 {
        width: 66.66666667%;
    }

    .col.col-md-7 {
        width: 58.33333333%;
    }

    .col.col-md-6 {
        width: 50%;
    }

    .col.col-md-5 {
        width: 41.66666667%;
    }

    .col.col-md-4 {
        width: 33.33333333%;
    }

    .col.col-md-3 {
        width: 25%;
    }

    .col.col-md-2 {
        width: 16.66666667%;
    }

    .col.col-md-1 {
        width: 8.33333333%;
    }

    .col.col-md-pull-12 {
        right: 100%;
    }

    .col.col-md-pull-11 {
        right: 91.66666667%;
    }

    .col.col-md-pull-10 {
        right: 83.33333333%;
    }

    .col.col-md-pull-9 {
        right: 75%;
    }

    .col.col-md-pull-8 {
        right: 66.66666667%;
    }

    .col.col-md-pull-7 {
        right: 58.33333333%;
    }

    .col.col-md-pull-6 {
        right: 50%;
    }

    .col.col-md-pull-5 {
        right: 41.66666667%;
    }

    .col.col-md-pull-4 {
        right: 33.33333333%;
    }

    .col.col-md-pull-3 {
        right: 25%;
    }

    .col.col-md-pull-2 {
        right: 16.66666667%;
    }

    .col.col-md-pull-1 {
        right: 8.33333333%;
    }

    .col.col-md-pull-0 {
        right: auto;
    }

    .col.col-md-push-12 {
        left: 100%;
    }

    .col.col-md-push-11 {
        left: 91.66666667%;
    }

    .col.col-md-push-10 {
        left: 83.33333333%;
    }

    .col.col-md-push-9 {
        left: 75%;
    }

    .col.col-md-push-8 {
        left: 66.66666667%;
    }

    .col.col-md-push-7 {
        left: 58.33333333%;
    }

    .col.col-md-push-6 {
        left: 50%;
    }

    .col.col-md-push-5 {
        left: 41.66666667%;
    }

    .col.col-md-push-4 {
        left: 33.33333333%;
    }

    .col.col-md-push-3 {
        left: 25%;
    }

    .col.col-md-push-2 {
        left: 16.66666667%;
    }

    .col.col-md-push-1 {
        left: 8.33333333%;
    }

    .col.col-md-push-0 {
        left: auto;
    }

    .col.col-md-offset-12 {
        margin-left: 100%;
    }

    .col.col-md-offset-11 {
        margin-left: 91.66666667%;
    }

    .col.col-md-offset-10 {
        margin-left: 83.33333333%;
    }

    .col.col-md-offset-9 {
        margin-left: 75%;
    }

    .col.col-md-offset-8 {
        margin-left: 66.66666667%;
    }

    .col.col-md-offset-7 {
        margin-left: 58.33333333%;
    }

    .col.col-md-offset-6 {
        margin-left: 50%;
    }

    .col.col-md-offset-5 {
        margin-left: 41.66666667%;
    }

    .col.col-md-offset-4 {
        margin-left: 33.33333333%;
    }

    .col.col-md-offset-3 {
        margin-left: 25%;
    }

    .col.col-md-offset-2 {
        margin-left: 16.66666667%;
    }

    .col.col-md-offset-1 {
        margin-left: 8.33333333%;
    }

    .col.col-md-offset-0 {
        margin-left: 0%;
    }
}

@media (min-width: 1200px) {
    .col.col-lg-1,
    .col.col-lg-2,
    .col.col-lg-3,
    .col.col-lg-4,
    .col.col-lg-5,
    .col.col-lg-6,
    .col.col-lg-7,
    .col.col-lg-8,
    .col.col-lg-9,
    .col.col-lg-10,
    .col.col-lg-11,
    .col.col-lg-12 {
        float: left;
    }

    .col.col-lg-12 {
        width: 100%;
    }

    .col.col-lg-11 {
        width: 91.66666667%;
    }

    .col.col-lg-10 {
        width: 83.33333333%;
    }

    .col.col-lg-9 {
        width: 75%;
    }

    .col.col-lg-8 {
        width: 66.66666667%;
    }

    .col.col-lg-7 {
        width: 58.33333333%;
    }

    .col.col-lg-6 {
        width: 50%;
    }

    .col.col-lg-5 {
        width: 41.66666667%;
    }

    .col.col-lg-4 {
        width: 33.33333333%;
    }

    .col.col-lg-3 {
        width: 25%;
    }

    .col.col-lg-2 {
        width: 16.66666667%;
    }

    .col.col-lg-1 {
        width: 8.33333333%;
    }

    .col.col-lg-pull-12 {
        right: 100%;
    }

    .col.col-lg-pull-11 {
        right: 91.66666667%;
    }

    .col.col-lg-pull-10 {
        right: 83.33333333%;
    }

    .col.col-lg-pull-9 {
        right: 75%;
    }

    .col.col-lg-pull-8 {
        right: 66.66666667%;
    }

    .col.col-lg-pull-7 {
        right: 58.33333333%;
    }

    .col.col-lg-pull-6 {
        right: 50%;
    }

    .col.col-lg-pull-5 {
        right: 41.66666667%;
    }

    .col.col-lg-pull-4 {
        right: 33.33333333%;
    }

    .col.col-lg-pull-3 {
        right: 25%;
    }

    .col.col-lg-pull-2 {
        right: 16.66666667%;
    }

    .col.col-lg-pull-1 {
        right: 8.33333333%;
    }

    .col.col-lg-pull-0 {
        right: auto;
    }

    .col.col-lg-push-12 {
        left: 100%;
    }

    .col.col-lg-push-11 {
        left: 91.66666667%;
    }

    .col.col-lg-push-10 {
        left: 83.33333333%;
    }

    .col.col-lg-push-9 {
        left: 75%;
    }

    .col.col-lg-push-8 {
        left: 66.66666667%;
    }

    .col.col-lg-push-7 {
        left: 58.33333333%;
    }

    .col.col-lg-push-6 {
        left: 50%;
    }

    .col.col-lg-push-5 {
        left: 41.66666667%;
    }

    .col.col-lg-push-4 {
        left: 33.33333333%;
    }

    .col.col-lg-push-3 {
        left: 25%;
    }

    .col.col-lg-push-2 {
        left: 16.66666667%;
    }

    .col.col-lg-push-1 {
        left: 8.33333333%;
    }

    .col.col-lg-push-0 {
        left: auto;
    }

    .col.col-lg-offset-12 {
        margin-left: 100%;
    }

    .col.col-lg-offset-11 {
        margin-left: 91.66666667%;
    }

    .col.col-lg-offset-10 {
        margin-left: 83.33333333%;
    }

    .col.col-lg-offset-9 {
        margin-left: 75%;
    }

    .col.col-lg-offset-8 {
        margin-left: 66.66666667%;
    }

    .col.col-lg-offset-7 {
        margin-left: 58.33333333%;
    }

    .col.col-lg-offset-6 {
        margin-left: 50%;
    }

    .col.col-lg-offset-5 {
        margin-left: 41.66666667%;
    }

    .col.col-lg-offset-4 {
        margin-left: 33.33333333%;
    }

    .col.col-lg-offset-3 {
        margin-left: 25%;
    }

    .col.col-lg-offset-2 {
        margin-left: 16.66666667%;
    }

    .col.col-lg-offset-1 {
        margin-left: 8.33333333%;
    }

    .col.col-lg-offset-0 {
        margin-left: 0%;
    }
} */