// clear Fix - for floating blocks
@mixin cf(){
    *zoom: 1;

    &:before, &:after{
        content: " ";
        display: table;
    }

    &:after{
        clear: both;
    }
}

// fill parrent block
@mixin fill_parent($offset: 0px, $position: absolute){
    position: $position;
    top: $offset;
    right: $offset;
    bottom: $offset;
    left: $offset;
}

@mixin float_parent() {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

// ellipsis text
@mixin ellipsis {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin webkit_scrollbar($color: $color_primary_light) {
    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-track {
        background: #f3f4f5;
        border: 1px solid transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: $color;
        border-radius: 4px;
    }
}

@mixin webkit_scrollbar_gray($color: #9E9FA1) {
    @include webkit_scrollbar($color);
}