* , :after, :before{
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
    -webkit-font-smoothing: antialiased !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, b, i, li, td{
    font-family: var(--base-font);
    font-weight: 400;
    color: inherit;
}

span {
    font: inherit;
}

strong {
    font: inherit;
    font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 15px;
}

small {
    font: 400 13px/24px var(--base-font);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        font: 300 16px/28px var(--base-font);
    }
}

p, b {
    font: 400 16px/28px var(--base-font);
    margin: 0 0 15px;

    a {
        font: inherit;
        color: inherit;
    }

    small {
        font-size: .7em;
        line-height: inherit;
    }
}

a {
    text-decoration: none;
    font: 400 14px/26px var(--base-font);
    color: #222; 
    cursor: pointer;
}

b, strong {
    font-weight: 600;
}