/*==========  Style Sheet - Third-party  ==========*/
.nano {
    position : relative;
    width    : 100%;
    height   : 100%;
    overflow : hidden;
}
.nano > .nano-content {
    position      : absolute;
    overflow      : scroll;
    overflow-x    : hidden;
    top           : 0;
    right         : 0;
    bottom        : 0;
    left          : 0;
}
.nano > .nano-content:focus {
    outline: thin dotted;
}
.nano > .nano-content::-webkit-scrollbar {
    display: none;
}
.has-scrollbar > .nano-content::-webkit-scrollbar {
    display: block;
}
.nano > .nano-pane {
    position   : absolute;
    width      : 6px;
    right      : 6px;
    top        : 3px;
    bottom     : 3px;
    cursor: pointer; 
    background-color: #eee;
    opacity: .5;
    transition: all .4s;
}
.nano > .nano-pane > .nano-slider {
    background: #009ef4;
    position              : relative;
    margin:  0 2px;
}
.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
    opacity: 1;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

._720kb {
    &-datepicker {
        &-calendar {
            max-width: 275px;
            border: 1px solid #e9ecee;
            border-radius: 5px;
            box-shadow: 5px 5px 20px rgba(0, 0, 0, .1);

            &-days-header {
                background: #fff;
                border-bottom: 0;
                padding: 0 5px;

                div {
                    color: #134478;
                    font-size: 12px;
                }
            }

            &-body {
                display: flex;
                flex-direction: row;
                align-content: center;
                flex-wrap: wrap;
                padding: 0 5px 5px;
                margin: 0;
                width: 100%;
            }

            &-day {
                width: calc(100% / 7);
                padding: 0;
                font-size: 13px;
                font-weight: 500;
                color: #282b39;
                border-radius: 40px;
                margin: 0;
                height: 35px;
                line-height: 35px;
                position: relative;
                z-index: 1;
                transition: color .4s;

                &:before {
                    content: '';
                    display: block;
                    width: 28px;
                    height: 28px;
                    margin: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: -1;
                    border-radius: 20px;
                    transition: background .4s;
                }

                &:hover {
                    background: transparent;

                    &:before {
                        background: rgba(0,0,0,.03);
                    }
                }

                &._720kb-datepicker-active {
                    color: #fff;
                    background: transparent;

                    &:before {
                        background: #009ef4;
                    }
                }

                &._720kb-datepicker-disabled {
                    color: rgba(0,0,0,.2);
                    background: transparent;

                    &:before {
                        background: rgba(25,2,0,.02);
                    }
                }
            }

            &-header {
                &:nth-child(odd), 
                &:nth-child(even) {
                    background: #fff;
                    border-bottom: 1px solid #e9ecee;
                }
            }

            &-month {
                color: #282b39;
                font: 500 13px/40px var(--base-font);

                a {
                    &>span {
                        color: #282b39;
                        font: 500 13px/40px var(--base-font);
                    }
                }
            }
        }
    }
}

datepicker[input-visible=true] {
    ._720kb-datepicker-calendar {
        top: 100%;
        margin-top: 1px;
        left: 0px;
    }
}

.react-datepicker-wrapper {
    width: 100%;
}

.react-datepicker {
    border: 1px solid var(--border-color);

    .react-datepicker__month-container {
        .react-datepicker__header {
            background-color: #fff;
            border-bottom: 1px solid var(--border-color);

            .react-datepicker__day-names {
                .react-datepicker__day-name {
                    color: #134478;
                    font-size: 12px;
                }
            }
        }

        .react-datepicker__month {
            background-color: #fff;

            .react-datepicker__day {
                border-radius: 30px;
                color: #282b39;
                font: 500 13px/26px var(--base-font);

                &.react-datepicker__day--keyboard-selected {
                    background-color: #009ef4;
                    color: #fff;
                }

                // &.react-datepicker__day--today {}
                // &.react-datepicker__day--weekend {}
            }
        }
    }
}