@import '../_common/landing';

.block {
    &.block-navbar {
        width: 100%;
        padding: 0 0px;
        top: 0;
        position: sticky;
        z-index: 10;
        background: #fff;
        box-shadow: 0 10px 20px rgba(0,0,0,0.075);
        .navbar-logo {
            padding: 20px 45px;
            @media screen and (min-width: 1024px) {
                padding: 20px 30px;
                img {
                    height: 40px;
                }
            }
            @media screen and (max-width: 1700px) {
                padding: 15px 30px;
            }
        }
    }
}