@import "./vars";
@import "../_common/dashboard";

.landing-root {
    background-color: #f7f9fc;
    background: linear-gradient(to bottom, #f7f9fc 0%, #ffffff 100%);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    height: 100%;

    @import '../_common/landing';
}