@import "../general/vars.scss";

/*==========  Style Sheet - Vars  ==========*/
:root {
    // base font
    --base-font: "Montserrat", arial, sans-serif;

    --base-font-landing: "Open Sans", arial, sans-serif;

    --text-color: #353535;
    --base-color: #305dfb;
    --base-color-hover: #fff;

    --placeholder-color: #646f79;
    --border-color: #d2e6ff;
    --border-radius: 8px;

    --color-primary: #134478;
    --color-primary-light: #2987fd;

    --color-default: #134478;
    --color-default-light: #2987fd;

    --box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.1);
    --color-danger: #e63b3b;

    --border-color: #ddd;
}
