/*==========  Style Sheet - Vars  ==========*/

// base font
$bf:                'Montserrat', sans-serif;

// text color
$tc:                #555;

// base color
$bc:                #305dfb;

// base error color
$bec:                #e63b3b;

// placeholder text color
$ptc:               #9ca6af;

// border color
$borderColor:      #ddd;