/*==========  Style Sheet - Vars  ==========*/

// base font
$bf: 'Open Sans',
arial,
sans-serif;

// text color
$tc: #353535;

// base color
$bc: #017f96;

$bc_2: #70c567;

// placeholder text color
$ptc: #646f79;

$border_color: #d2e6ff;

$border_radius: 8px;

$color_primary: #70c567;
$color_primary_light: #8fd888;

$color_default: #017f96;
$color_default_light: #017f96;

// border color
$borderColor: #ddd;

// base error color
$bec: #e63b3b;