.button {
    font: 700 14px/24px $bf;
    color: #646f79;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 12px 25px;
    transition: color .4s, background .4s, box-shadow .4s, border .4s;
    border-radius: 6px;
    display: inline-block;
    margin-right: 15px;
    text-align: center;

    .mdi {
        font-size: 1.4em;
        line-height: inherit;
        margin-right: 5px;
        float: left;
        transition: .4s;
    }

    img {
        float: left;
        display: block;
        margin: -1px 5px -1px 0;
        transition: .4s;
    }

    &.button-default {
        color: #004195;
        border: 1px solid #d2e6ff;
        box-shadow: 0 10px 25px rgba(#000, 0);

        .mdi {
            color: #3863fb;
        }

        &:hover {
            color: #fff;
            background: #3863fb;
            border-color: #3863fb;
            box-shadow: 0 10px 20px rgba(#000, .2);

            .mdi {
                color: #fff;
            }
        }
    }

    &.button-primary {
        color: #fff;
        background: #305dfb;
        border: 1px solid #305dfb;
        box-shadow: 0 10px 25px rgba(#000, .15);

        &:hover {
            color: #fff;
            background: #4c74ff;
            box-shadow: 0 10px 20px rgba(#000, .3);

            img {
                filter: brightness(5);
            }
        }
    }

    &.button-dark {
        color: #fff;
        background: #282b39;
        border: 1px solid #282b39;
        box-shadow: 0 10px 25px rgba(#000, .15);

        &:hover {
            color: #fff;
            background: #646f79;
            border-color: #646f79;
            box-shadow: 0 10px 20px rgba(#000, .3);

            img {
                filter: brightness(5);
            }
        }
    }

    &.button-primary-outline {
        color: #2f5bf6;
        border: 1px solid #2f5bf6;
        border-radius: 50px;

        &:hover {
            background: #305dfb;
            color: #fff;
        }
    }

    &.button-wide,
    &.button-wide {
        width: 100%;
    }

    &:last-child,
    &:last-of-type {
        margin-right: 0;
    }
}
.button {
    display: inline-block;
    border-radius: 3px;
    font: 500 13px/20px $bf;
    padding: 6px 20px;
    box-shadow: 0 5px 10px rgba(#000000, 0.1);
    border: 1px solid transparent;
    transition: color 0.3s, background 0.3s, box-shadow 0.3s;
    text-align: center;
    cursor: pointer;

    &>.mdi {
        font-size: 1.5em;
        float: left;
        margin-right: 8px;
        margin-left: -8px;
        transition: 0.3s;
    }

    &:focus,
    &:hover {
        text-decoration: none;
        box-shadow: 0 10px 15px rgba(#000000, 0.1);
    }

    &.button-primary {
        background: #134478;
        border-color: #134478;
        color: #fff;

        &>.mdi {
            color: inherit;
        }

        &:hover {
            background: #4471a0;

            &>.mdi {
                color: inherit;
            }
        }
    }

    &.button-default {
        background: #ffffff;
        color: #151b26;
        border-color: #d4d9dd;

        &>.mdi {
            color: #646f79;
        }

        &:hover {
            background: #f3f4f5;
            color: #134478;

            &>.mdi {
                color: inherit;
            }
        }
    }

    &.button-default-dashed {
        background: transparent;
        color: #151b26;
        border: 1px dashed $borderColor;
        box-shadow: none;

        &>.mdi {
            color: #646f79;
        }

        &:hover {
            background: #f3f4f5;
            color: #134478;

            &>.mdi {
                color: inherit;
            }
        }
    }

    &.button-dropdown {
        outline: none;
    }

    &.button-text {
        background: none;
        color: #151b26;
        border-color: transparent;
        box-shadow: none;
        padding: 6px 10px;
        outline: none;

        &>.mdi {
            color: #646f79;
            margin-right: 3px;
            margin-left: -3px;
        }

        &:focus,
        &:hover {
            background: none;
            color: #134478;

            .mdi {
                color: #134478;
            }
        }
    }

    &.button-danger {
        background: #d91d46;
        border-color: #d91d46;
        color: #fff;

        &:hover {
            background: darken($color: #bf0a0a, $amount: 2.5);
            border-color: darken($color: #bf0a0a, $amount: 2.5);
        }
    }

    &.button-icon {
        padding: 6px 15px;

        &>.mdi {
            margin: 0 -5px;
        }
    }

    &.button-fill,
    &.button-wide {
        width: 100%;

        &.button-slim {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    &:not(:last-of-type),
    &:not(:last-child) {
        margin-right: 10px;
    }

    &[disabled],
    &.disabled {
        cursor: default !important;
        background: #f6f8f9 !important;
        border-color: #f6f8f9 !important;
        box-shadow: 0 2px 5px rgba(#000000, 0.1) !important;
        color: #bbc1c6 !important;

        &:hover {
            background: #f6f8f9 !important;
            border-color: #f6f8f9 !important;
            color: #bbc1c6 !important;
            box-shadow: 0 2px 5px rgba(#000000, 0.1) !important;
            transform: none !important;
            top: 0 !important;
        }
    }
}
