$pad: 10px;
$columns: 12;
$media_md: 1600px;
$media_sm: 1300px;
$media_xs: 1000;

.flex-row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -$pad;
    margin-left: -$pad;

    &+flex-row {
        margin-top: $pad;
    }
}

.flex-pad {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    padding: 0 $pad;
}

.flex-col {
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    padding: 0 $pad;

    &.flex-col-padless-right {
        padding-right: 0;
    }

    &.flex-col-padless-left {
        padding-left: 0;
    }

    &.flex-col-padless {
        padding: 0;
    }

    &.flex-col-2 {
        flex-grow: 2;
    }

    &.flex-col-3 {
        flex-grow: 3;
    }

    &.flex-col-4 {
        flex-grow: 4;
    }
}

_:-ms-fullscreen {
    flex-basis: auto;
}