.modal {
    @include fill_parent();
    position: fixed;
    z-index: 20;
    display: flex;
    align-items: center;
    cursor: default;

    .modal-backdrop {
        @include fill_parent();
        cursor: pointer;
        background: rgba(#192734, .5);
    }

    .modal-icon {
        transform: translate(0, -50%);
        text-align: center;
        width: 75px;
        height: 75px;
        border-radius: 75px;
        line-height: 69px;
        font-size: 36px;
        border: 3px solid #fff;
        background: var(--color-primary-light);
        color: #fff;
        margin: 0px auto -45px;

        &.modal-icon-primary {
            background: var(--color-primary);
        }
    }

    .modal-separator {
        margin: 0 0 20px;
        padding: 20px 0 0;
        border-bottom: 1px solid var(--border-color);
    }

    .modal-window {
        position: relative;
        z-index: 2;
        background: #f6f9fc;
        width: 1200px;
        max-width: 100%;
        border-radius: calc(var(--border-radius));
        display: inline-block;
        min-height: 100px;
        margin: 0 auto;
        max-height: 90vh;
        display: flex;
        flex-direction: column;

        .modal-section {
            padding: 30px;
        }

        .modal-close {
            position: absolute;
            font-size: 24px;
            right: 20px;
            top: 20px;
            display: block;
            cursor: pointer;
            color: #222;
            transition: color .4s;
            z-index: 1;
        }

        .modal-header {
            background: #fff;
            padding: 20px 25px;
            font: 600 16px/25px "Source Sans Pro", sans-serif;
            border-bottom: 1px solid #d4d9dd;
            position: relative;
            border-radius: 3px 3px 0 0;
        }

        .modal-body {
            min-height: 20px;
            overflow: auto;
            @include webkit_scrollbar();

            .signup-layout {
                padding-top: 0px;
            }

            .modal-icon-mdi {
                width: 50px;
                height: 50px;
                line-height: 50px;
                margin: 0 0 15px;
                border-radius: 50%;
                font-size: 24px;
                position: relative;
                color: var(--color-primary-light);
                margin: 0 auto 15px;
    
                &:after {
                    content: '';
                    background-color: var(--color-primary-light);
                    border-radius: 50%;
                    opacity: .1;
                    @include fill_parent();
                }
            }

            .modal-section {
                padding: 25px;
                border-bottom: 1px solid #d4d9dd;
                @include cf();

                .modal-section-separator {
                    display: block;
                    padding: 0 0 0;
                    margin: 0 0 20px;
                    border-bottom: 1px solid var(--border-color);
                }

                .modal-section-column {
                    padding: 25px 25px;
                    margin: -25px 0;
                    float: left;
    
                    &:first-child {
                        padding-left: 0;
                    }
    
                    &:last-child {
                        padding-right: 0;
                    }
    
                    &:not(:last-child) {
                        border-right: 1px solid var(--border-color);
                    }
    
                    &.modal-section-column-2 {
                        width: calc(100% / 3);
                    }
    
                    &.modal-section-column-4 {
                        width: (calc(100% / 3) * 2);
                    }
    
                    &.modal-section-column-6 {
                        width: 100%;
                    }
                }

                &:last-child {
                    border-bottom: 0;
                }

                &.modal-section-light {
                    background-color: #fff;
                }

                &.modal-section-pad {
                    padding: 25px 40px;

                    .modal-section-column {
                        padding: 25px 40px;
                        margin: -25px 0;
                        float: left;
                    }
                }

                &.modal-section-sm {
                    padding: 20px;

                    .modal-section-column {
                        padding: 20px 20px;
                        margin: -20px 0;
                        float: left;
                    }
                }

                &.modal-section-collapse {
                    padding: 0;
                }
            }

            .modal-info {
                padding: 0 50px 0 100px;
                position: relative;
                color: #282b39;
                font: 400 13px/20px var(--base-font);
                cursor: default;

                .mdi {
                    position: absolute;
                    left: 75px;
                    top: 0;
                    color: var(--color-primary);
                    font-size: 1.35em;
                    line-height: 20px;
                }
            }

            .modal-funds-added {
                text-align: center;

                p {
                    font: 400 14px/22px var(--base-font);
                    color: #282b39;
                    margin-bottom: 24px;

                    .text-primary {
                        font-weight: 600;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                .funds-amount {
                    font: 600 13px/21px var(--base-font);
                    color: var(--color-primary);
                    margin-bottom: 25px;
                    background: #ffffff;
                    border: 1px dashed #d4d9dd;
                    padding: 10px 50px;
                    display: inline-block;
                    border-radius: 10px;

                    .funds-amount-sum {
                        font: 600 22px var(--base-font);
                        color: #009ef4;
                    }
                }
            }

            .modal-icon-rounded {
                background: #fff;
                display: inline-block;
                padding: 23px;
                border-radius: 50%;
                margin: 20px 0;
                box-shadow: 0 7px 15px rgba(#000, 0.10);
            }

            &.modal-body-visible {
                overflow: visible;
            }
        }

        .modal-footer {
            background: #fff;
            padding: 20px 25px;
            border-radius: 0 0 3px 3px;
        }

        .modal-hero {
            text-align: center;
            padding: 30px 30px 20px;
            cursor: default;

            .hero-icon {
                line-height: 65px;
                margin: 0 auto 0;
                font-size: 60px;

                .mdi {
                    color: #134478;
                }
            }

            .hero-title {
                font: 600 16px/20px var(--base-font);
                margin: 0 0 10px;
            }

            .hero-subtitle {
                font: 400 14px/20px var(--base-font);
                margin: 0 0 0;
                color: #646F79;
            }
        }
    }

    .modal-body {
        border-bottom: 1px solid var(--border-color);

        .modal-section {
            padding: 30px;

            .modal-footer {
                padding: 30px 0 0;
            }

            .modal-heading-icon {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-bottom: 20px;

                .mdi {
                    font-size: 100px;
                    display: flex;
                    line-height: initial;
                }
            }

            .modal-heading {
                font: 600 16px/26px var(--base-font);
                color: #282b39;
                margin: 0 0 10px;
            }

            .modal-text {
                font: 500 14px/22px var(--base-font);
                color: #646f79;
                margin: 0 0 20px;

                small {
                    line-height: 20px;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .modal-warning {
                display: flex;
                justify-content: center;
                width: fit-content;
                margin: 0 auto 10px auto;
                padding: 20px;
                background-color: #fcfaf6;
                font: 500 13px/16px var(--base-font);
                color: #292B39;
                border: 1px solid var(--border-color);
                border-radius: var(--border-radius);

                em {
                    font-size: 22px;
                }
            }
        }

        .modal-funds-added {
            text-align: center;

            p {
                font: 400 14px/22px "Source Sans Pro", sans-serif;
                color: #282b39;
            }

            p:last-child {
                margin-bottom: 0;
            }
        }

        .modal-fields-groups {
            .modal-fields-group {
                border-bottom: 1px solid var(--border-color);
                padding: 15px 0;
    
                .modal-fields-group-title {
                    display: flex;
                    color: #282B39;
                    font: 600 13px/24px var(--base-font);
                    align-items: center;
    
                    .mdi {
                        font-size: 24px;
                        color: #646F79;
                        height: 24px;
                        margin-left: -5px;
                    }
                }
    
                .modal-fields-list {
                    padding-top: 15px;
                }

                &:first-child {
                    padding-top: 0;
                }

                &:last-child {
                    margin-bottom: 20px;
                }
            }
        }

        &:last-child {
            border-bottom: none;
            border-bottom-left-radius: inherit;
            border-bottom-right-radius: inherit;
        }
    }

    .modal-content {
        position: relative;
        padding: 30px;
        width: 1200px;
        max-width: 100%;
        background: #f7f9fc;
        border-radius: var(--border-radius);
        min-height: 100px;
        overflow: hidden;
        margin: 0 auto;
        box-shadow: 0 20px 40px rgba(#000000, 0.3);

        .modal-section {
            padding: 30px;

            .modal-footer {
                padding: 30px 0 0;
            }
        }

        .subdescription {
            display: inline-block;
            border: 1px solid #eff6f8;
            background: #fff;
            padding: 10px 80px;
            border-radius: 5px;
            font: 400 22px/34px var(--base-font);
            color: #646f79;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
            margin: 40px 0 30px;

            .popup-title-styled {
                color: #000;
                font-weight: 600;
                white-space: nowrap;
            }
        }

        .title {
            color: #282b39;
            font: 700 40px var(--base-font);
            text-align: center;
            margin: 0 0 10px;
        }

        .description {
            padding: 10px 80px;
            font: 400 22px/34px var(--base-font);
            color: #646f79;

            .popup-title-styled {
                color: var(--color-primary);
                font-weight: 600;
                white-space: nowrap;
            }
        }

        .description-small {
            padding: 10px 0;
            font: 400 16px/28px var(--base-font);
            color: #646f79;
        }

        .modal-icon {
            margin-bottom: -40px;

            img {
                width: 240px;
            }
        }

        &.modal-description-pad {
            .description {
                padding: 50px 0;
                color: var(--color-primary) !important;
            }
        }
    }

    .modal-footer {
        padding: 30px;
        display: flex;
        justify-content: center;

        .footer-text {
            font: 500 18px var(--base-font);
            color: #151b26;
            margin-bottom: 20px;
        }

        .modal-footer-link {
            display: block;
            color: var(--color-primary);
            font: 700 13px/30px var(--base-font);

            span {
                display: block;
                width: 40px;
                float: left;
            }
        }

        &.modal-footer-light {
            background-color: #fff;
            border-bottom-left-radius: inherit;
            border-bottom-right-radius: inherit;
        }

        &.no-border {
            border: 0 !important;
        }
    }

    &.modal-auth {
        .modal-title {
            color: #282b39;
            font: 700 26px/40px var(--base-font);
            text-align: center;
            margin: 0 0 0;
        }

        .modal-subtitle {
            color: #646f79;
            font: 400 16px/24px var(--base-font);
            text-align: center;
            margin: 0 0 10px;

            u {
                cursor: pointer;
            }

            span {
                cursor: auto;
            }

            a {
                font: inherit;
                color: rgb(100, 111, 121);
            }
        }

        .modal-content {
            .step-item {
                .step-title {
                    font: 700 20px/18px var(--base-font);
                }

                .step-description {
                    margin: 0 0 10px;
                    font: 400 14px/18px var(--base-font);
                }
            }

            .form {
                width: 480px;
                margin: 0 auto;
                padding: 10px 0;
            }

            &.button {
                display: inline-block;
            }
        }

        .with-instructions {
            .modal-footer {
                padding: 30px 200px;
                margin: 30px -200px -30px;
            }
        }
    }

    &.modal-auth2 {
        .modal-window {
            width: 650px;
            max-width: 100%;

            .modal-content {
                padding: 20px;
            }
        }
    }
    
    &.modal-shops_map {
        .modal-content {
            padding: 0;
        }
    }

    &.modal-voucher_qr {
        .modal-window {
            width: 540px;

            .form {
                width: 380px;
                max-width: 100%;
                margin: 0 auto;
            }

            .voucher_qr-block {
                .voucher_qr-title {
                    color: #282b39;
                    font: 600 16px var(--base-font);
                    text-align: center;
                    margin: 0 0 20px;
                }

                .voucher_qr-actions {
                    width: 300px;
                    max-width: 100%;
                    margin: 0 auto;
                }

                .block.block-qr-code {
                    width: 170px;
                    margin: 0 auto 20px;

                    .qr_code {
                        width: 100%;
                        background: #fff;
                        padding: 10px;
                        height: 100%;
                        border: 1px solid var(--border-color);
                        box-shadow: 0 2px 4px 1px rgba($color: #000000, $alpha: .05);

                        img, canvas {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    &.modal-voucher-export-type {
        .modal-window {
            width: 940px;

            .modal-body {
                .voucher-export-type {
                    text-align: center;
                    cursor: default;
                    padding: 10px 0;

                    .voucher-export-type-row {
                        display: flex;
                        justify-content: center;
                        justify-items: center;
                    }

                    .voucher-export-type-item {
                        margin-right: 30px;
                        flex-grow: 1;
                        padding: 25px 20px;
                        font: 500 14px var(--base-font);
                        color: #282b39;
                        border: 1px solid #d4d9dd;
                        border-radius: calc(var(--border-radius));
                        position: relative;
                        transition: .4s;
                        background: transparent;
                        cursor: pointer;
                        flex-basis: 25%;

                        .voucher-export-type-item-check {
                            position: absolute;
                            top: 10px;
                            right: 10px;
                            border-radius: 22px;
                            width: 22px;
                            height: 22px;
                            line-height: 22px;
                            text-align: center;
                            background: #2cc678;
                            color: #fff;
                            opacity: 0;
                            transition: .4s;
                        }

                        .voucher-export-type-item-icon {
                            margin-bottom: 15px;
                            width: 100%;

                            .voucher-export-type-item-icon-img {
                                display: block;
                                margin: 0 auto 0;
                                width: 100%;
                            }

                            .mdi {
                                font-size: 64px;
                                text-align: center;
                                line-height: 60px;
                                padding: 10px 0 0 0;
                                display: block;
                                color: var(--color-primary);
                            }
                        }

                        &:hover {
                            color: #009ef4;
                            background: #fff;
                            border-color: #fff;
                            box-shadow: 2px 10px 15px rgba($color: #000000, $alpha: .075);
                        }

                        &.active {
                            background: #fff;
                            color: #282b39;
                            border: 1px solid #d4d9dd;
                            box-shadow: 1px 5px 7.5px rgba($color: #000000, $alpha: .075);

                            .voucher-export-type-item-check {
                                opacity: 1;
                            }
                        }

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }

        &.modal-voucher-export-narrow {
            .modal-window {
                width: 640px;
            }
        }
    }

    &.modal-xl {
        .modal-window {
            width: 1000px;
        }

        .modal-footer {
            padding: 20px 30px;
        }
    }

    &.modal-lg {
        .modal-window {
            width: 1000px;
        }

        .modal-footer {
            padding: 20px 30px;
        }
    }

    &.modal-md {
        .modal-window {
            width: 680px;
        }

        .modal-footer {
            padding: 20px 30px;
        }
    }

    &.modal-sm {
        .modal-window {
            width: 480px;
        }

        .modal-footer {
            padding: 20px 30px;
        }
    }

    &.modal-notification {
        .modal-content {
            .modal-section {
                font: 400 18px/34px var(--base-font);

                .modal-icon {
                    img {
                        width: 140px;
                    }
                }

                .description {
                    padding: 10px 30px;
                    font: 400 18px/34px var(--base-font);
                }

                .subdescription {
                    margin-top: 20px;
                    margin-bottom: 20px;
                    padding: 10px 30px;
                    font: 400 18px/34px var(--base-font);
                }
            }
        }
    }

    &.modal-fund-offers {
        .modal-window {
            .modal-section {
                .table {
                    td {
                        &:last-child {
                            width: 150px;
                        }
                    }
                }
            }

            .modal-footer {
                justify-content: unset;

                .pagination-offers {
                    margin-left: auto;

                    .table-pagination-counter {
                        padding-right: 20px;
                    }

                    .table-pagination-navigation {
                        .button {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }

    &.modal-animated {
        .modal-backdrop, .modal-window {
            opacity: 1;
            transition: .25s ease-in;
        }

        .modal-window {
            opacity: 1;
            transform: scale(1, 1);
            filter: blur(0px);
        }

        &.modal-loading {
            .modal-backdrop, .modal-window {
                opacity: 0;
                transition: .25s ease-out;
            }

            .modal-backdrop {
                pointer-events: none;
            }
    
            .modal-window {
                transform: scale(1.2, 1.2);
                filter: blur(2.5px);
            }
        }
    }

    &.modal-pdf-preview,
    &.modal-image-preview {
        .modal-window {
            .modal-body {
                .modal-section {
                    padding: 0;
                    max-width: 100%;
                }
            }
        }

        .block-pdf-preview {
            canvas {
                display: block;
                max-width: 100%;
            }
        }

        .img-block {
            display: flex;
            margin: 0 auto;
            justify-content: center;

            img {
                height: 100%;
                max-width: 100%;
            }
        }
    }
    
    &.modal-pdf-preview {
        .modal-window {
            display: flex;
            flex-direction: column;

            .modal-body {
                flex-grow: 1;
                width: 100%;
                display: flex;
            }

            .block.block-pdf-preview {
                width: 100%;
                flex-grow: 1;
                overflow: auto;
            } 
        }
    }

    &.modal-employee-add {
        .modal-window {
            width: 820px;
            border-radius: 12px;

            .modal-title {
                font: 500 21px/29px var(--base-font);
                text-align: center;
                color: #191A1C;
                margin-bottom: 10px;
            }

            .modal-description {
                font: 400 15px/22px var(--base-font);
                text-align: center;
                color: #454545;
            }

            .modal-actions {
                text-align: center;
            }
        }
    }

    &.modal-fund-unsubscribe {
        .modal-window {
            width: 820px;
            border-radius: 12px;

            .modal-title {
                font: 600 14px/21px var(--base-font);
                text-align: center;
                color: #252325;
                margin-bottom: 10px;
            }

            .modal-description {
                font: 400 13px/18px var(--base-font);
                text-align: center;
                color: #646F79;
                padding-bottom: 20px;
                margin-bottom: 20px;
                border-bottom: 1px solid #D4D9DD;
            }

            .modal-warning {
                border: 1px dashed #D4D9DD;
                border-radius: 3px;
                padding: 15px 13px;
                margin-top: 20px;
                background-color: #F6F9FC;

                .modal-warning-icon {
                    display: flex;
                    width: 50px;
                    height: 100%;

                    .mdi {
                        margin-left: auto;
                        margin-right: auto;
                    }
                }

                .modal-warning-details {
                    .modal-warning-title {
                        color: #646F79;
                        font: 500 13px/18px var(--base-font);
                        margin-bottom: 5px;
                    }
    
                    .modal-warning-description {
                        color: #134478;
                        font: 600 11px/13px var(--base-font);
                        margin-bottom: 5px;
                    }
    
                    .modal-warning-phone {
                        color: #404040;
                        font: 600 13px/18px var(--base-font);
                    }
                }
            }
        }
    }

    &.modal-reimbursement-categories {
        .card {
            box-shadow: none;
            border-bottom: 0;
            margin-bottom: 0;

            .table-pagination .table-pagination-counter {
                line-height: 30px;
            }
        }
    }

    &.modal-2fa-setup {
        .modal-section {
            overflow: visible;
        }

        .modal-body {
            overflow: visible;

            .phone-control {
                margin-bottom: 10px;
            }
        }
    }

    &.modal-voucher-create {
        .modal-window {
            width: 760px;

            .modal-body {
                .modal-section {
                    padding: 25px 80px;
                }
            }
        }
    }

    &.modal-feature-contact {
        .modal-close {
            top: 15px;
            color: #646F79;
        }
        
        .modal-header {
            padding: 15px 20px
        }
        
        .modal-section {
            .icon-wrapper {
                display: flex;
                justify-content: center;
                margin-bottom: 15px;

                .icon {
                    border-radius: 5px;
                    border: 1px solid #D4D9DD;
                    background: #FFF;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 48px;
                    width: 50px;

                    .mdi {
                        font-size: 22px;
                        line-height: 22px;
                        color: #004195;
                    }
                }
            }

            .title {
                font: 600 16px/24px var(--base-font);
                color: #2B303A;
                margin-bottom: 5px;
            }

            .description {
                font: 400 13px/18px var(--base-font);
                color: #414141;
                margin-bottom: 24px;
            }

            .contact-row {
                display: flex;
                flex-wrap: wrap;
                gap: 8px;

                .contact-item {
                    flex-basis: 0;
                    flex-grow: 1;
                    max-width: 100%;
                    border-radius: 5px;
                    border: 1px dashed #D4D9DD;
                    background: #FFF;
                    padding: 20px;

                    .icon {
                        margin-bottom: 10px;

                        .mdi {
                            font-size: 18px;
                            line-height: 18px;
                            color: #134478;
                        }
                    }

                    .title {
                        font: 600 14px/1 var(--base-font);
                        color: #282B39;
                        margin-bottom: 5px;
                    }

                    .description {
                        font: 400 14px/20px var(--base-font);
                        color: #282B39;
                        margin-bottom: 0;
                    }
                }
            }
        }

        .modal-footer {
            .button {
                line-height: 1;
                padding: 8px 12px;
            }
        }
    }

    @media screen and (max-width: 1800px) {
        .modal-footer {
            padding: 25px;
        }
    }

    @media screen and (max-width: 1500px) {
        .modal-content {
            width: 1000px;
        }

        .modal-footer {
            padding: 20px;

            .footer-text {
                font: 500 15px var(--base-font);
                margin: 0 0 15px;
            }

            .modal-footer-link {
                font: 700 12px/26px var(--base-font);
            }
        }

        &.modal-auth {
            .modal-title {
                font: 700 24px var(--base-font);
            }

            .modal-subtitle {
                font: 400 16px var(--base-font);
                padding: 0px 10px 20px;
                margin: 0px 40px;
            }
        }
    }

    @media screen and (max-width: 1000px) {
        border: none;

        .modal-close {
            top: 20px;
            right: 20px;
        }

        .modal-content {
            border-radius: 0;
            height: 100%;
            border: none;
            transform: none;
            top: 0;
            left: 0;
            overflow-y: auto;
            padding: 50px 25px 25px;

            .modal-section {
                padding: 0;
            }

            .subdescription {
                margin: 40px 10px 30px;
            }

            .title {
                padding: 10px;
            }

        }

        &.modal-auth {
            padding: 0;

            .modal-content {
                overflow-y: auto;
                padding: 50px 25px 25px;

                .modal-title {
                    font: 700 22px/32px var(--base-font);
                    margin: 0 0 10px;
                }

                .modal-subtitle {
                    font: 400 15px/24px var(--base-font);
                    margin: 0 0 30px;
                    padding: 0;
                }

                .form {
                    margin-bottom: 10px;
                    width: 100%;
                }
            }

            .modal-footer {
                margin: 0 -25px 0;
                padding: 25px 25px 0 !important;

                .footer-text {
                    font: 500 14px/26px var(--base-font);
                    margin: 0 0 30px;
                }

                .modal-footer-link {
                    font: 700 11px/20px var(--base-font);
                    padding-left: 20px;
                    margin-bottom: 15px;

                    span {
                        width: 20px;
                        margin-left: -20px;
                    }

                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 767px) {
        .modal-content {
            .button {

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &.modal-notification {
            .modal-content {
                .modal-section {
                    font: 400 18px/34px var(--base-font);

                    .modal-icon {
                        img {
                            width: 140px;
                        }
                    }

                    .description {
                        padding: 10px 30px;
                        font: 400 18px/34px var(--base-font);
                    }

                    .subdescription {
                        margin-top: 20px;
                        margin-bottom: 20px;
                        padding: 10px 30px;
                        font: 400 18px/34px var(--base-font);
                    }
                }
            }
        }
    }

    @media screen and (max-width: 320px) {
        &.modal-notification {
            .modal-content {
                .modal-section {
                    .modal-icon {
                        img {
                            width: 100px;
                        }
                    }

                    .description {
                        padding: 10px;
                        font: 400 16px/34px var(--base-font);
                    }

                    .subdescription {
                        margin-top: 10px;
                        margin-bottom: 10px;
                        padding: 10px 20px;
                        font: 400 16px/34px var(--base-font);
                    }
                }
            }
        }
    }
}