.table-wrapper {
    table.table {
        border-collapse: collapse;
        width: 100%;

        tr {
            text-align: left;

            td,
            th {
                padding: 10px 12px;
                cursor: default;
                border-bottom: 1px solid #d4d9dd;
                background: #fff;
                transition: 0.3s;

                &>a {
                    font: inherit;
                }

                &.cell-chevron,
                &.cell-chevron {
                    width: 1px;
                    padding: 10px 10px;
                    padding-left: 15px;
                    padding-right: 0;
                }
            }

            th {
                color: #646f79;
                background: #f9f9f9;
                padding-top: 6px;
                padding-bottom: 6px;
                font: 500 12px/18px $bf;

                &.th-narrow {
                    width: 1%;
                }

                &:first-child {
                    padding-left: 25px;
                }

                &:last-child {
                    padding-right: 25px;
                }
            }

            td {
                background: #fff;
                color: #444a4f;
                font: 500 13px/20px $bf;

                .td-menu-icon {
                    display: inline-block;
                    font-size: 26px;
                    line-height: 20px;
                    color: inherit;
                }

                .button {
                    &.button-icon {
                        padding: 4px 10px;
                        font-size: 12px;
                        margin-right: 8px;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }

                .tag {
                    margin-bottom: 0;
                }

                .td-icon {
                    color: $color_primary;
                    transition: .4s;
                    font-size: 20px;

                    &:hover {
                        color: $color_primary_light;
                    }
                }

                .td-media {
                    display: block;
                    width: 70px;
                    border-radius: $border_radius;
                }

                .td-boolean {
                    color: #646f79;
                    font: 500 13px/20px $bf;

                    .mdi {
                        font-size: 16px;
                        line-height: 20px;
                        margin-right: 5px;
                        float: left;
                    }
                }

                .button-group {
                    margin: -2.5px 0;
                }

                &:first-child {
                    padding-left: 25px;
                }

                &:last-child {
                    padding-right: 25px;
                }

                &.td-narrow {
                    width: 1%;
                }
                
                &.td-paddless {
                    padding: 0;
                }
            }

            &.dim {
                td {
                    background: #f9f9f9;
                }
            }

            &[ng-click]:hover, &[ui-sref]:hover {
                td,
                th {
                    background: #f6f8f9;
                    cursor: pointer;
                }
            }
        }

        &>tr,
        &>thead:last-child>tr,
        &>tbody:last-child>tr {
            &:last-child {

                td,
                th {
                    border-bottom: 0;
                }
            }
        }
    }

    @media screen and (max-width: 1000px) {
        overflow: auto;
    }
}
@media (max-width: 991px) {
    .table-wrapper {
        table.table {
            tr {
               
                td,
                th {
                    &:first-child {
                        min-width: 0;
                        padding-left: 10px;
                    }
                    min-width: 0;
                    padding: 5px;
                }
            }
        }
        overflow-x:auto;
    }
}
.table-pagination {
    cursor: default;
    @include cf();

    .table-pagination-counter {
        float: left;
        color: #282b39;
        font: 500 13px/36px $bf;
        
        &.table-pagination-counter-sm {
            font: 500 13px/30px $bf;
        }
    }

    .table-pagination-navigation {
        float: right;

        .button {
            padding-left: 15px;
            padding-right: 15px;
            min-width: 40px;

            &:not([disabled]):not(.disabled) {
                box-shadow: 0 2px 5px rgba(#000000, 0.1);
            }

            &:not(:last-of-type) {
                margin-right: 5px;
            }
        }
    }
}