.table-wrapper {
    table.table {
        border-collapse: collapse;
        width: 100%;

        tr {
            text-align: left;

            td,
            th {
                padding: 10px 25px;
                cursor: default;
                border-bottom: 1px solid #d4d9dd;
                background: #fff;
                transition: 0.3s;

                & > a {
                    font: inherit;
                }
            }

            th {
                color: #646f79;
                background: #f6f9fc;
                padding-top: 0;
                padding-bottom: 0;
                font: 500 13px/30px $bf;
            }

            td {
                background: #fff;
                color: #282b39;
                font: 500 13px/20px $bf;

                .td-boolean {
                    color: #646f79;
                    font: 500 13px/20px $bf;

                    .mdi {
                        font-size: 16px;
                        line-height: 20px;
                        margin-right: 5px;
                        float: left;
                    }
                }
            }

            &:hover {
                td,
                th {
                    background: #f6f8f9;
                }
            }

            &:last-child {
                td,
                th {
                    border-bottom: 0;
                }
            }
        }
    }
}

.table-pagination {
    cursor: default;
    @include cf();

    .table-pagination-counter {
        float: left;
        color: #282b39;
        font: 500 13px/36px $bf;
    }

    .table-pagination-navigation {
        float: right;

        .button {
            padding-left: 15px;
            padding-right: 15px;
            min-width: 40px;

            &:not([disabled]):not(.disabled) {
                box-shadow: 0 2px 5px rgba(#000000, 0.1);
            }

            &:not(:last-of-type) {
                margin-right: 5px;
            }
        }
    }
}
