$formFont: 500 16px/24px var(--base-font);
$formPadding: 14px 15px;

.form {
    .form-error {
        font: 400 13px/20px var(--base-font);
        color: #AD0003;
        margin: 0;
    }

    .form-label {
        display: block;
        cursor: default;
        font: 500 12px/20px var(--base-font);
        margin-bottom: 4px;
        color: var(--tc);
        padding: 0;
        color: var(--tc);

        &.form-label-required {
            &:after {
                content: '*';
                color: #ff5548;
                font: inherit;
                margin-left: 2px;
            }
        }
    }

    .form-control:not([type="radio"]):not([type="checkbox"]) {
        width: 100%;
        border: 1px solid transparent;
        background-color: #fbfbfb;
        padding: $formPadding;
        color: var(--tc);
        font: $formFont;
        line-height: 20px;
        transition: background-color .4s ease, border .4s ease;
        border-radius: var(--border-radius);
        appearance: none;
        border: 1px solid desaturate($color: darken($color: var(--border-color), $amount: 35%), $amount: 75%);

        &[disabled] {
            background-color: #e1e1e1;
        }

        &[type="number"] {
            padding-right: 0;
        }

        &:focus {
            outline: none;
            background-color: #ffffff;
            border: 1px solid desaturate($color: darken($color: var(--border-color), $amount: 75%), $amount: 85%);
        }

        &.form-control-fancy {
            box-shadow: 0 10px 20px rgba(#000, .075);
            border: 1px solid transparent;
            transition: .4s;
            padding: 14px 25px;
            color: #00122a;
            height: 60px;
            background-color: #fff;

            &:hover, &:focus  {
                box-shadow: 0 10px 30px rgba(#000, .15);
            }
        }

        &.form-control-filled {
            position: relative;

            .mdi {
                position: absolute;
                z-index: 1;
                left: 20px;
                top: 50%;
                transform: translate(0, -50%);
            }
        }
    }

    .form-control-checked+.form-control {
        padding-left: 50px !important;
    }

    .form-control-checked {
        position: relative;

        .mdi {
            position: absolute;
            line-height: 50px;
            padding: 0 15px;
            font-size: 25px;
            color: var(--color-primary);
        }
    }

    textarea.form-control:not([type="radio"]):not([type="checkbox"]) {
        padding: 6px 10px;
        line-height: initial;
        height: 80px;

        &.r-n {
            resize: none;
        }

        &.r-v {
            resize: vertical;
        }

        &.r-h {
            resize: horizontal;
        }

        &[disabled] {
            background-color: #e1e1e1;
        }
    }

    select.form-control {
        background-color: #fbfbfb;
        background-image: url('../img/select-bg.png');
        background-position: 99%;
        background-repeat: no-repeat;
        background-size: 25px;
        appearance: none;
        text-indent: 1px;
        text-overflow: '';
        padding-right: 30px;
        appearance: none;

        &:focus {
            outline: none;
            background-color: #ffffff;
            border: 1px solid desaturate($color: darken($color: var(--border-color), $amount: 15%), $amount: 90%);
        }

        &::-ms-expand {
            display: none;
        }
    }

    .select-control-input {
        $optionHeight: 40px;

        position: relative;

        .form-control {
            display: block;
            
            &:focus {
                border: 1px solid black;
                box-shadow: 0 3px 5px rgba(#000000, 0.3);
            }
        }

        .select-control-search {
            cursor: pointer;
            padding-right: 20px;

            .select-control-search-placeholder {
                overflow: hidden;
                display: block;
                height: 100%;
            }

            &:focus {
                border: 1px solid black;
                box-shadow: 0 3px 5px rgba(#000000, 0.3);
            }
        }

        .select-control-icon {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            line-height: inherit;
            padding-top: inherit;
            padding-bottom: inherit;
            padding-right: 5px;
            display: flex;
            flex-direction: column;

            .mdi {
                display: flex;
                font-size: 20px;
                margin-top: 2px;
                color: #646464;
            }
        }
        
        .select-control-options {
            z-index: 100;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background: #fff;
            border: 1px solid #d4d9dd;
            border-top: none;
            border-bottom-right-radius: var(--border-radius);
            border-bottom-left-radius: var(--border-radius);
            overflow: auto;
            max-height: $optionHeight * 5;
            margin-bottom: 30px;

            .select-control-option {
                padding: 5px 15px 4px;
                font: 500 13px/30px var(--base-font);
                color: rgba(var(--tc), .75);
                border-bottom: 1px solid whitesmoke;
                cursor: pointer;
                transition: .4s;
                height: $optionHeight;
                @include ellipsis();

                strong, b {
                    color: var(--tc);
                    font-weight: 700;
                }

                &:hover, &:focus {
                    background: whitesmoke;
                    border-color: whitesmoke;
                }

                &:last-child {
                    border-bottom: none;
                }
            }
        }

        &.options {
            .form-control:not([type='radio']):not([type='checkbox']) {
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }
    
    .form-group {
        margin-bottom: 10px;
        @include cf();

        .checkbox-label {
            display: inline-block;
            font: 400 13px/13px "Open Sans",arial,sans-serif;
            margin-left: 10px;
            margin-bottom: 3px;
        }

        &:last-child {
            margin-bottom: 0;
        }
        
        &.form-group-inline {
            margin-bottom: 10px;
            flex-wrap: wrap;

            &>.form-label {
                width: 200px;
                padding-top: 8px;
                padding-bottom: 8px;
                margin: 0;
                text-align: right;
                padding-right: 15px;
                float: left;
            }

            &>.form-offset,
            &>.form-control {
                width: calc(100% - 200px);
                float: left;
            }

            &>.form-error {
                margin-left: 200px;
                width: calc(100% - 200px);
                float: left;
            }

            &:last-child, &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    .form-hint {
        color: #222530;
        font: 500 12px/18px var(--base-font);

        &:before {
            color: #ff2100;
            content: '*';
            margin-right: 2px;
            vertical-align: text-top;
        }
    }

    datepicker,
    .datepicker {
        border: none;
        outline: none;
        position: relative;

        .form-control {
            position: absolute;
            left: -1px;
            top: -1px;
            right: -1px;
            bottom: -1px;
            width: calc(100% + 2px) !important;
        }

        ._720kb-datepicker-calendar {
            max-width: 340px;
            border: 1px solid #e9ecee;
            border-radius: var(--border-radius);
            box-shadow: 5px 5px 20px rgba(0, 0, 0, .1);
            top: calc(100% + 5px);
            left: 0;
            width: 100%;
            min-width: 270px;

            &-days-header {
                background: #fff;
                border-bottom: 0;
                padding: 0 5px;

                div {
                    color: #333333;
                    font-size: 12px;
                }
            }

            &-body {
                display: flex;
                flex-direction: row;
                align-content: center;
                flex-wrap: wrap;
                padding: 0 5px 5px;
                margin: 0;
                width: 100%;
            }

            &-day {
                width: calc(100% / 7);
                padding: 0;
                font-size: 13px;
                font-weight: 500;
                color: #282b39;
                border-radius: 40px;
                margin: 0;
                height: 38px;
                line-height: 38px;
                position: relative;
                z-index: 1;
                transition: color .4s;

                &:before {
                    content: '';
                    display: block;
                    width: 28px;
                    height: 28px;
                    margin: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: -1;
                    border-radius: 20px;
                    transition: background .4s;
                }

                &:hover {
                    background: transparent;

                    &:before {
                        background: rgba(0,0,0,.03);
                    }
                }

                &._720kb-datepicker-active {
                    color: #fff;
                    background: transparent;

                    &:before {
                        background: var(--color-primary);
                    }
                }

                &._720kb-datepicker-disabled {
                    color: rgba(0,0,0,.2);
                    background: transparent;

                    &:before {
                        background: none;
                    }
                }
            }

            &-header {
                &:nth-child(odd), 
                &:nth-child(even) {
                    background: #fff;
                    border-bottom: 1px solid #e9ecee;
                }
            }

            &-month {
                color: #282b39;
                font: 500 13px/40px var(--base-font);

                a {
                    &>span {
                        color: #282b39;
                        font: 500 13px/40px var(--base-font);
                    }
                }
            }
        }
    }

    .checkbox {
        display: inline-block;
        padding: 5px 15px 0 20px;
        vertical-align: middle;
        @include cf();

        .checkbox-box {
            float: left;
            display: block;
            width: 20px;
            height: 20px;
            border: 2px solid #cbd6e2;
            position: relative;
            margin-right: 5px;
            margin-left: -30px;
            float: left;

            .mdi {
                color: #262626;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate3d(-50%, -50%, 0);
                font-size: 18px;
                transition: .4s;
                opacity: 0;
            }
        }

        .checkbox-label {
            font: 400 13px/20px var(--base-font);
            color: #45535e;
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
        }

        input[type='checkbox'] {
            display: none;
        }

        input[type=checkbox]:checked+.checkbox-label {
            .checkbox-box {
                .mdi {
                    opacity: 1;
                }
            }
        }

        &.checkbox-narrow {
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }

    .radio {
        margin-bottom: 10px;
        display: inline-block;
        padding: 10px 0;
        padding-right: 15px;
        padding-left: 30px;
        vertical-align: middle;
        @include cf();

        .radio-circle {
            float: left;
            display: block;
            width: 20px;
            height: 20px;
            border: 2px solid #cbd6e2;
            position: relative;
            vertical-align: middle;
            margin-right: 5px;
            float: left;
            border-radius: 20px;
            margin-left: -30px;

            &:after {
                content: '';
                background: var(--bc);
                position: absolute;
                display: block;
                left: 50%;
                top: 50%;
                width: 10px;
                height: 10px;
                border-radius: 10px;
                transform: translate3d(-50%, -50%, 0);
                font-size: 18px;
                transition: .4s;
                opacity: 0;
            }
        }

        .radio-label {
            font: 400 13px/20px var(--base-font);
            color: #45535e;
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
        }

        input[type=radio] {
            display: none;
        }

        input[type=radio]:checked+.radio-label {
            .radio-circle {
                &:after {
                    opacity: 1;
                }
            }
        }

        &.radio-compact {
            padding-top: 0;
            padding-bottom: 0;
            margin-bottom: 0;
        }

        &.radio-narrow {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        &.radio-stack {
            margin-bottom: 0;
        }

        &.radio-fill {
            width: 100%;

            .radio-label {
                width: 100%;
            }
        }
    }

    label.radio {
        cursor: pointer;
        margin-right: 8px;
        color: var(--tc);
        text-transform: inherit;
        font: 400 12px/30px var(--base-font);

        .dot {
            display: inline-block;
            vertical-align: middle;
            line-height: inherit;
            height: 20px;
            width: 20px;
            border: 2px solid #d8d8d8;
            position: relative;
            margin-right: 8px;
            border-radius: 20px;

            &:before {
                content: '';
                position: absolute;
                left: 3px;
                top: 3px;
                width: 10px;
                height: 10px;
                display: block;
                background-color: var(--bc);
                border-radius: 20px;
                opacity: 0;
                transition: all .3s ease-out;
            }
        }

        input {
            display: none;
        }

        &:hover {
            .dot {
                &:before {
                    opacity: .25;
                }
            }
        }

        &[checked], &.checked {
            .dot {
                &:before {
                    opacity: 1;
                }
            }
        }
    }

    .form-toggle {
        width: 100%;
        $colorPrimary: var(--color-primary);
        $borderRadius: 4px;

        &>input[type=radio], &>input[type=checkbox] {
            opacity: 0;
        }

        .form-toggle-inner {
            display: flex;
            cursor: pointer;

            .toggle-input {
                background-color: #c7ccd1;
                margin-right: 10px;
                border-radius: 10px;
                width: 45px;
                border: 1px solid #ddd;
                height: 20px;
                position: relative;
                transition: all .4s ease-in-out;
    
                .toggle-input-dot {
                    width: 24px;
                    height: 24px;
                    border: 1px solid #fff;
                    border-radius: 24px;
                    background: #fff;
                    box-shadow: 1px 2px 6px rgba(0, 0, 0, .25);
                    left: -2px;
                    top: 50%;
                    text-align: center;
                    line-height: 22px;
                    font-size: 18px;
                    transform: translate(0, -50%);
                    color: #fefefe;
                    transition: all .4s ease-in-out;
                    position: relative;

                    .icon-disabled {
                        @include fill_parent();

                        &:before,
                        &:after {
                            content: '';
                            display: block;
                            background-color: #b4b9c9;
                            height: 15px;
                            width: 3px;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            border-radius: 3px;
                        }
    
                        &:before {
                            transform: translate(-50%, -50%) rotate(45deg);
                        }
    
                        &:after {
                            transform: translate(-50%, -50%) rotate(-45deg);
                        }
                    }
                }
            }
    
            .toggle-label {
                font: 700 12px/20px var(--base-font);
                color: #262626;
    
                span {
                    color: #bcc1d3;
                }
    
                a {
                    font: inherit;
                    color: $colorPrimary;
                    transition: color .4s;

                    &:hover {
                        color: var(--bc);
                    }
                }
            }
        }

        &.active .form-toggle-inner, 
        &.checked .form-toggle-inner, 
        &>input[type=radio]:checked+.form-toggle-inner, 
        &>input[type=checkbox]:checked+.form-toggle-inner {
            .toggle-input {
                background: lighten($colorPrimary, 25);
                border-color: desaturate(lighten($colorPrimary, 25), 5);

                .toggle-input-dot {
                    background: desaturate($color: lighten($colorPrimary, 2), $amount: 10);
                    border-color: desaturate($color: lighten($colorPrimary, 2), $amount: 10);
                    left: 100%;
                    transform: translate(-100%, -50%);
                    margin-right: -1px;
                }
            }
        }
    }

    &.form-compact {
        .form-label {
            font: 700 11px/25px var(--base-font);
            margin: 0 0 0;
        }

        .form-control:not([type="radio"]):not([type="checkbox"]),
        .form-control:not([type="radio"]):not([type="checkbox"]).form-control-fancy {
            /* height: 50px; */
            padding: 9px 15px;
            font: 400 13px/24px var(--base-font);
        }

        ::-webkit-input-placeholder{
            color: var(--placeholder_text_color);
            font: 400 13px var(--base-font);
        }

        ::-moz-placeholder{
            color: var(--placeholder_text_color);
            font: 400 13px var(--base-font);
        }

        :-moz-placeholder{
            color: var(--placeholder_text_color);
            font: 400 13px var(--base-font);
        }

        :-ms-input-placeholder {
            color: var(--placeholder_text_color);
            font: 400 13px var(--base-font);
        }
    }
}

@media screen and (max-width: 1000px) {
    .form {
        .form-control:not([type="radio"]):not([type="checkbox"]),
        .form-control:not([type="radio"]):not([type="checkbox"]).form-control-fancy {
            /* height: 50px; */
            padding: 10px 15px;
            font: 400 14px/24px var(--base-font);
        }
    }
}
