.modal.modal-notification.modal-animated(
    ng-class="[$ctrl.modal.scope.modalClass, $ctrl.modalClass, $ctrl.modal.loaded ? '' : 'modal-loading']"
    role="dialog" aria-labelledby="productApplyDialogTitle" aria-describedby="productApplyDialogSubtitle")
    
    .modal-backdrop(ng-click="$ctrl.cancel()")
    .modal-content
        .modal-close.mdi.mdi-close(ng-click="$ctrl.cancel()" aria-label="close" role="button")
        .modal-header
            .modal-title(id="productApplyDialogTitle" translate="product_apply.popup.title")
        .modal-section
            .text-center
                .description(id="productApplyDialogSubtitle" translate="product_apply.popup.description" translate-values="{product_name: $ctrl.modal.scope.product.name,expire_at: $ctrl.modal.scope.expire_at,product_price: $ctrl.modal.scope.product.price, org_name: $ctrl.modal.scope.org_name}")
                .subdescription(translate="product_apply.popup.expiration_information" translate-vars="{ expire_at: $ctrl.modal.scope.expire_at }")

        .modal-footer.text-center.no-border
            button.button.button-dark(ng-click="$ctrl.cancel()" i18n="modal.buttons.cancel")
            button.button.button-primary(ng-click="$ctrl.confirm()" i18n="modal.buttons.confirm")