.modal.modal-product-reserve.modal-animated(
    role="dialog" 
    ng-class="[$ctrl.modal.scope.modalClass, $ctrl.modalClass, $ctrl.modal.loaded ? '' : 'modal-loading']"
    aria-labelledby="productApplyDialogTitle" 
    aria-describedby="productApplyDialogSubtitle")

    .modal-backdrop(ng-click="$ctrl.close()")
    .modal-window: .modal-content
        .modal-close.mdi.mdi-close(ng-click="$ctrl.close()" aria-label="close" role="button")

        .modal-section(ng-if="$ctrl.reservation.state === 'accepted'")
            h2.title.text-center(translate="modal_product_reserve_cancel.header_accepted.title" translate-values="{organizationname: $ctrl.reservation.product.organization.name}")

            .description
                p.text-center(translate="modal_product_reserve_cancel.description_accepted")
                p.text-center
                    strong 
                        | Neem contact op met de 
                        a(target="_blank" ui-sref="provider($ctrl.reservation.product.organization)" ng-bind="$ctrl.reservation.product.organization.name")
                        |!
                    br

            .button-group.flex-center
                button.button.button-dark(ng-click="$ctrl.close()") Sluiten

        .modal-section(ng-if="$ctrl.reservation.state === 'pending'")
            h2.title.text-center(translate="{{ 'modal_product_reserve_cancel.header_pending.title_' + $ctrl.appConfigs.features.communication_type }}")
            .description
                p.text-center(translate="{{ 'modal_product_reserve_cancel.description_pending.' + $ctrl.appConfigs.features.communication_type }}")

            .button-group.flex-center
                button.button.button-dark(ng-click="$ctrl.close()") Annuleren
                button.button.button-primary(ng-click="$ctrl.onConfirm()") Bevestigen
