.modal.modal-auth
    .modal-backdrop(ng-click="$ctrl.close()")
    .modal-content: .modal-section
        .modal-close.mdi.mdi-close(ng-click="$ctrl.close()")

        .modal-title(translate="popup_auth.labels.activate_code" )
        //.modal-title(translate="popup_auth.labels.isactivated" ng-if="$ctrl.vouchers.length > 0")
        .modal-subtitle(translate="popup_auth.labels.code")
        //.modal-subtitle(translate="popup_auth.labels.codeactivated" ng-if="$ctrl.vouchers.length > 0")

        form.form(ng-submit="$ctrl.activateCodeForm.submit()")
            .form-group.text-center
                .form-label(i18n="popup_auth.input.code")
                pincode-control(
                    ng-model="$ctrl.activateCodeForm.values.code" 
                    block-size="4" 
                    block-count="2" 
                    block-input-type="alphanum").block-pincode-compact
                .form-error(ng-if="$ctrl.activateCodeForm.errors.code" i18n="popup_auth.notifications.invalid")
            .form-group
            .form-group.text-center
                button(type="submit" i18n="popup_auth.buttons.submit").button.button-primary
