.modal.modal-notification.modal-animated(
    ng-class="[$ctrl.modal.scope.modalClass, $ctrl.modalClass, $ctrl.modal.loaded ? '' : 'modal-loading']" 
    role="dialog" aria-labelledby="shareVoucherDialogTitle" aria-describedby="shareVoucherDialogSubtitle")

    .modal-backdrop(ng-click="$ctrl.close()")
    .modal-content: .modal-section
        .modal-close.mdi.mdi-close(ng-click="$ctrl.close()")
        .modal-section
            .text-center
                .modal-icon(ng-if="$ctrl.icon")
                    img(ng-src="{{ $ctrl.icon }}" alt="")
                h2.title(id="shareVoucherDialogTitle" i18n="voucher.share_voucher.popup_form.title")
                .description(id="shareVoucherDialogSubtitle" i18n="voucher.share_voucher.popup_form.description")

        form.form(ng-submit="$ctrl.shareVoucherForm.submit()")
            .form-group
                textarea(ng-model="$ctrl.shareVoucherForm.values.reason" placeholder="{{ 'voucher.share_voucher.reason_placeholder' | i18n }}").form-control
                .text-center.form-error(ng-repeat="error in $ctrl.shareVoucherForm.errors.reason track by $index" ng-bind="error")
                br

            .form-group
                label(for="send_copy").checkbox
                    input#send_copy(type="checkbox" checked ng-model="$ctrl.shareVoucherForm.values.send_copy")
                    .checkbox-label
                        .checkbox-box: .mdi.mdi-check
                        span(i18n="voucher.share_voucher.labels.send_copy")

            .form-group: button(type="submit").button.button-primary.button-fill {{ "voucher.share_voucher.buttons.submit" | translate }}