.modal.modal-identity-proxy-expired.modal-animated(
    ng-if="$ctrl.modal.ready"
    ng-class="[$ctrl.modal.scope.modalClass, $ctrl.modalClass, $ctrl.modal.loaded ? 'modal-loaded' : '']"
    role="dialog" aria-labelledby="authDialogTitle" aria-describedby="authDialogSubtitle")

    .modal-backdrop(ng-click="$ctrl.cancel()")
    
    .modal-window
        .modal-close.mdi.mdi-close(ng-click="$ctrl.cancel()" aria-label="Sluiten" role="button")

        .modal-header
            h2.modal-title(translate="expired_identity.header.title")

        .modal-body: .modal-content: .modal-section.text-center
            .modal-icon-mdi: .mdi.mdi-cancel
            h2.title(role="heading" id="expiredIdentityDialogTitle" translate="expired_identity.title")
            .description(id="expiredIdentityDialogDescription" translate="expired_identity.description")

        .modal-footer
            button.button.button-sm.button-primary(ng-click="$ctrl.openLoginModal()" translate="Bevestig")