.modal.modal-auth
    .modal-backdrop(ng-click="$ctrl.close()")
    .modal-content
        .modal-close.mdi.mdi-close(ng-click="$ctrl.close()")

        .modal-title(i18n="popup_auth.labels.activate_code")
        .modal-subtitle(i18n="popup_auth.labels.code")

        form.form(ng-submit="$ctrl.activateCodeForm.submit()")
            .form-group
                .form-label(i18n="popup_auth.input.code")
                input(dash-input-control block-size="4" max-length="8" ng-model="$ctrl.activateCodeForm.values.code" type="text" placeholder="{{ 'popup_auth.input.code' | translate }}").form-control
                .form-error(ng-if="$ctrl.activateCodeForm.errors.code" i18n="popup_auth.notifications.invalid")
            .form-group
            .form-group: button(type="submit" i18n="popup_auth.buttons.submit").button.button-primary.button-wide
