.modal.modal-product-reserve.modal-animated(
    role="dialog" 
    ng-class="[$ctrl.modal.scope.modalClass, $ctrl.modalClass, $ctrl.modal.loaded ? '' : 'modal-loading']"
    aria-labelledby="productApplyDialogTitle" 
    aria-describedby="productApplyDialogSubtitle")

    .modal-backdrop(ng-click="$ctrl.close()")
    .modal-window: .modal-content
        .modal-close.mdi.mdi-close(ng-click="$ctrl.close()" aria-label="close" role="button")

        .modal-section(ng-if="$ctrl.reservation.state === 'accepted'")
            h2.title.text-center Neem contact op met {{ $ctrl.reservation.product.organization.name }}.

            .description
                p.text-center
                    | Deze reservering is al door de aanbieder geaccepteerd. 
                    | Wil je deze reservering annuleren? Neem dan binnen veertien dagen na reservering contact op met de aanbieder.
                p.text-center
                    strong 
                        | Neem contact op met de 
                        a(target="_blank" ui-sref="provider($ctrl.reservation.product.organization)" ng-bind="$ctrl.reservation.product.organization.name")
                        |!
                    br

            .button-group.flex-center
                button.button.button-dark(ng-click="$ctrl.close()") Sluiten

        .modal-section(ng-if="$ctrl.reservation.state === 'pending'")
            h2.title.text-center Weet je zeker dat je de reservering wilt annuleren?
            .description
                p.text-center 
                    | Je kunt het aanbod na annuleren weer opnieuw reserveren zolang de voorraad strekt.
                    br

            .button-group.flex-center
                button.button.button-dark(ng-click="$ctrl.close()") Annuleren
                button.button.button-primary(ng-click="$ctrl.onConfirm()") Bevestigen
