.modal.modal-auth.modal-animated(
    ng-class="[$ctrl.modal.scope.modalClass, $ctrl.modalClass, $ctrl.modal.loaded ? '' : 'modal-loading']"
    role="dialog" aria-labelledby="pinCodeDialogTitle" aria-describedby="pinCodeDialogSubtitle")

    .modal-backdrop(ng-click="$ctrl.close()" aria-label="Sluiten")
    .modal-content: .modal-section
        .modal-close.mdi.mdi-close(ng-click="$ctrl.close()" id="close" aria-label="Sluiten" role="button")
        .app-instruction
            .step-item
                h2.step-title Stap 1
                .step-description 
                    a(ng-click="$ctrl.openInMeModal()") Download
                    |  en open de me app
                img(src="./assets/img/screen1.png" alt="Me-app aanmeldscherm schermafbeelding")
            .step-item
                h2.step-title Stap 2
                .step-description Kies “Koppelen”
                img(src="./assets/img/screen2.png"  alt="Me-app aanmeldscherm schermafbeelding, kies koppelen")

            .divider-img: img(src="./assets/img/Base7.png" alt="")

        h2.modal-title(id="pinCodeDialogTitle") Stap 3: {{ "open_in_me.app_header.title" | translate }}
        .modal-subtitle(id="pinCodeDialogSubtitle" translate="open_in_me.app_header.subtitle_{{ $root.appConfigs.features.communication_type }}")

        form.form.f-w.with-instructions(ng-submit="$ctrl.authorizePincodeForm.submit()")
            .form-group
                div(ng-if="$ctrl.authorizePincodeForm" pincode-control ng-model="$ctrl.authorizePincodeForm.values.auth_code")
                .text-center.form-error(ng-repeat="error in $ctrl.authorizePincodeForm.errors.auth_code track by $index" ng-bind="error")
            .form-group.text-center
                button(type="submit").button.button-primary {{ "open_in_me.authorize.submit" | translate }}