- var src_prefix = (qdt_c.platform.env_data.html5ModeEnabled?qdt_c.platform.env_data.html5Mode.basePath:'');

.modal.modal-physical-cards.modal-animated(
    ng-if="$ctrl.modal.ready"
    ng-class="[$ctrl.modal.scope.modalClass, $ctrl.modalClass, $ctrl.modal.loaded ? 'modal-loaded' : '']"
    role="dialog")

    .modal-backdrop(ng-click="$ctrl.closeModal()" aria-label="Sluiten" role="button")

    //- Confirm unlinking
    .modal-window(ng-if="$ctrl.state == 'start'")
        .modal-close.mdi.mdi-close(ng-click="$ctrl.closeModal()" aria-label="Sluiten" role="button")
        .modal-header: h2.modal-title(translate="physical_card.modal_section.link_card_unlink.title")
        .modal-content: .modal-section: .physical-card-result
            .physical-card-media: include ../../../resources/_webshop-common/assets/img/icon-physical-cards/icon-physical-card-exclamation.svg

            .physical-card-description 
                | Wil je je pas met pasnummer 
                span.label.label-dark {{ $ctrl.voucher.physical_card.code }} 
                | &nbsp;blokkeren?

            .flex.flex-center: .button-group
                button.button.button-light(type="button" ng-click="$ctrl.closeModal()" translate="physical_card.modal_section.link_card_unlink.buttons.cancel")
                button.button.button-dark(type="button" ng-click="$ctrl.unlink()" translate="physical_card.modal_section.link_card_unlink.buttons.submit")

    //- Card unlinked
    .modal-window(ng-if="$ctrl.state == 'unlinked'")
        .modal-close.mdi.mdi-close(ng-click="$ctrl.closeModal()" aria-label="Sluiten" role="button")
        .modal-header: h2.modal-title Pas geblokkeerd!
        .modal-content: .modal-section: .physical-card-result
            .physical-card-media: include ../../../resources/_webshop-common/assets/img/icon-physical-cards/icon-physical-cards-success.svg
            .physical-card-description 
                | Je pas met pasnummer: 
                span.label.label-dark {{ $ctrl.voucher.physical_card.code }} 
                | &nbsp;is geblokkeerd!
            .flex.flex-center: .button-group.button-group-sm-vertical
                button.button.button-light(type="button" ng-click="$ctrl.closeModal()") Afsluiten
                button.button.button-dark(type="button" ng-click="$ctrl.requestNewCard()") Bestel nieuwe pas