.modal.modal-auth
    .modal-backdrop(ng-click="$ctrl.close()")

    .modal-content(ng-if="!$ctrl.sentSms"): .modal-section
        .modal-close.mdi.mdi-close(ng-click="$ctrl.close()")

        .modal-title(translate="open_in_me.sms.title")
        .modal-subtitle(translate="open_in_me.sms.description")

        form.form.f-w(ng-submit="$ctrl.phoneForm.submit()")
            phone-control(ng-model="$ctrl.phoneForm.values.phone" cant-delete-length="2")
            .pincode-errors.text-center: .form-error(ng-repeat="error in $ctrl.phoneForm.errors.phone" ng-bind="error")
            .text-center
                .description-small(translate="open_in_me.sms.subdescription")
            .modal-footer.text-center.no-border
                button.button.button-primary(type="submit") {{ "open_in_me.sms.button.send" | translate }}
                button.button.button-dark(type="button" ng-click="$ctrl.skip()") {{ "open_in_me.sms.button.skip" | translate }}

    .modal-content(ng-if="$ctrl.sentSms"): .modal-section
        .modal-close.mdi.mdi-close(ng-click="$ctrl.close()")
        .app-instruction
            .step-item
                img(src="./assets/img/screen1.png")
                .app-title(translate="open_in_me.app_instruction.step_1")
                img.line-item(src="./assets/img/line1.png")
            .step-item
                img(src="./assets/img/screen2.png")
                .app-title(translate="open_in_me.app_instruction.step_2")

            .divider-img: img(src="./assets/img/Base7.png")

        .modal-title {{ "open_in_me.app_header.title" | translate }}
        .modal-subtitle {{ "open_in_me.app_header.subtitle" | translate }}

        form.form.f-w.with-instructions(ng-submit="$ctrl.authorizePincodeForm.submit()")
            .form-group
                div(ng-if="$ctrl.authorizePincodeForm" pincode-control ng-model="$ctrl.authorizePincodeForm.values.auth_code")
                .text-center.form-error(ng-repeat="error in $ctrl.authorizePincodeForm.errors.auth_code track by $index" ng-bind="error")
            .modal-footer
                .form-group.text-center: button.button.button-dark(ng-click="$ctrl.close()" i18n="open_in_me.authorize.close")
                    button(type="submit" i18n="open_in_me.authorize.submit").button.button-primary