- var src_prefix = (qdt_c.platform.env_data.html5ModeEnabled?qdt_c.platform.env_data.html5Mode.basePath:'');

.modal.modal-auth2
    .modal-backdrop(ng-click="$ctrl.close()")
    //- Sign In by qr-code
    .modal-content
        .modal-close.mdi.mdi-close(ng-click="$ctrl.close()")


        h4.modal-title Login met e-mail
        .modal-subtitle {{ "popup_auth.labels.link" | translate }}

        form.form(ng-submit="$ctrl.signInEmailForm.submit()")
            .form-group
                input(ng-model="$ctrl.signInEmailForm.values.primary_email" type="email" placeholder="E-mail").form-control.email-auth
                .form-error(ng-repeat="error in $ctrl.signInEmailForm.errors.primary_email" ng-bind="error")
            .form-group
            .form-group: button(type="submit").button.button-primary Login

        //-.modal-footer
            //-.footer-text {{ "popup_auth.labels.timelimit" | translate }}
        .hidden-xs
            h4.modal-title Login met Me-app
            .modal-subtitle.subtitle-left.
                Scan de QR code aan de rechterzijde met de QR-scanner in de me app. 
                #[br] #[br]
                De me app wordt gebruikt om makkelijk en veilig in te loggen, betalingen te doen en vouchers te beheren.
                #[br] #[br]
            .block.block-qr-code
                qr-code(ng-if="$ctrl.qrValue" qr-value="$ctrl.qrValue" qr-type="auth_token" qr-logo=src_prefix + "./assets/img/me-logo.png")
            .modal-subtitle.subtitle-left.download-badges
                a(href="https://itunes.apple.com/nl/app/me-forus/id1422610676")
                    img(src="./assets/img/icon-app-ios.svg") 
                a(href="https://play.google.com/store/apps/details?id=io.forus.me")
                    img(src="./assets/img/icon-app-android.svg")