@import './vars';
@import '../_common/webshop'; 

// LAYOUTS
@import 'layout/_footer.scss';

// COMPONENTS
@import 'components/_breadcrumbs.scss',
'components/_buttons.scss',
'components/_form.scss',
'components/_label.scss',
'components/_modals.scss';

// INCLUDES
@import 'includes/shame.scss';

// BLOCKS
@import 'sections/blocks/cards.scss',
 'sections/blocks/empty.scss',
 'sections/blocks/fund_criteria.scss',
 'sections/blocks/funds.scss',
 'sections/blocks/popups.scss',
 'sections/blocks/profile.scss',
 'sections/blocks/record_categories.scss',
 'sections/blocks/records_create.scss',
 'sections/blocks/records.scss',
 'sections/blocks/shops_map.scss',
 'sections/blocks/validations.scss',
 'sections/blocks/sign-up-options.scss',
 'sections/blocks/validators.scss',
 'sections/blocks/products.scss';