@import '../general/vars.scss';

/*==========  Style Sheet - Vars  ==========*/

// navbar
$bg-nav:            #4e4d40;
$tc-nav:            #FFF;
$tc-nav-hov:        #FFF;
$logo-padding:      20px 0px;
$logo-height:       75px;

// navbar (auth)
$tc-auth-menu:      #FFF; 
$tc-auth-btn:       #666666; 
$btn-auth-bg:       #EBEDF0;
$btn-auth-border:   #0000;

// navbar (start modal primary)
$tc-start-btn:       #fff; 
$btn-start-bg:       #4990B5; 
$btn-start-btn:      #305dfb;
$btn-start-border:   transparent;

// header attributes
$bg-values:          url("../img/splash-top-b.jpg") no-repeat 100% 0;

// base font
$bf:                'Helvetica', 'Open Sans', 'Arial', sans-serif;

// text color
$tc:                #4e4d40;
$tc-var:            #fff;
$tc-link:           inherit;

// base color
$bc:                #000;

// background color
$bg:                #f7f9fc;

$bg_2:              linear-gradient(to bottom, #f7f9fc 0%, #fff 100%);

// text formatting
$tf:                inherit;

// footer color
$fbc:                #4990B5;

// Displayed or not
$fd:                block;

// product image
$pi:                10px 0 0 10px;

// placeholder text color
$ptc:               #515152;

$border_color:      #d2e6ff;

$border_radius:     8px;
$base_shadow:       0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

$color_primary:         #b9cb18;
$color_primary_light:   #b9cb18;

$color_default:         #56B4E9;
$color_default_light:   #b9cb18;
    
// Login button
$lb:  #fff;