script.
    /*<![CDATA[*/ (function() { 
        var sz = document.createElement('script'); sz.type = 'text/javascript'; 
        sz.async = true; 
        sz.src = 'https://siteimproveanalytics.com/js/siteanalyze_#{qdt_c.platform.env_data.site_improve_analytics_id}.js'; 
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sz, s); 
    })(); /*]]>*/