section.section.section-contact_form: .wrapper 
    .block.block-contact_form
        .contact-title Contact
        .contact-form: .form.row
            .col.col-lg-5
                .contact-logo: img(src="./assets/img/landing/forus-logo-normal.svg")
                .contact-details
                    .contact-label CONTACT US
                    .contact-address 
                        | Hooiweg 9, 9801 AJ Zuidhorn
                        br
                        | (0594) 508888
                    .contact-email kindpakket@zuidhorn.nl
                    br

                    .contact-label Volg ons
                    .contact-socials
                        a(href="#").contact-social: .mdi.mdi-facebook
                        a(href="#").contact-social: .mdi.mdi-twitter
                        a(href="#").contact-social: .mdi.mdi-linkedin-box
                        a(href="#").contact-social: .mdi.mdi-google-plus

            .col.col-lg-7
                .form-group
                    .form-label.form-label-required Naam
                    input(type="text" placeholder="Text here").form-control
                    .form-error This field is required
                .form-group
                    .form-label.form-label-required Bedrijfsemail
                    input(type="text" placeholder="Text here").form-control
                .row
                    .col.col-lg-6: .form-group
                        .form-label.form-label-required Werktelefoon
                        input(type="text" placeholder="Text here").form-control
                    .col.col-lg-6: .form-group
                        .form-label.form-label-required Bedrijfsnaam
                        input(type="text" placeholder="Text here").form-control
                .form-group
                    .form-label.form-label-required Bericht:
                    textarea(placeholder="Text here").form-control
                .form-group
                .form-group
                    button.button.button-primary SUBMIT