//- Printable class is required 
.printable.printable-voucher-qr_code
    .printable-title This is demo printable title
    .printable-description This is demo printable description lorem ipsum dolor sit amet consectetur.
    qr-code(qr-value="$ctrl.qrCodeValue" qr-type="voucher")

     //- Voucher details
    //-pre(ng-bind="$ctrl.voucher | pretty_json")

     //- Organization details
    //- pre(ng-bind="$ctrl.organization | pretty_json") 