&.modal-photo-upload {
    cursor: default;

    .modal-title {
        font: 500 21px/29px var(--base-font);
        text-align: center;
        color: #191A1C;
        margin-bottom: 10px;
    }

    .modal-description {
        font: 400 15px/22px var(--base-font);
        text-align: center;
        color: #454545;
        margin: 0 0 18px;
    }

    .modal-window {
        width: 820px;
        border-radius: 12px;

        .modal-body {
            .photo-crop {
                display: flex;
                flex-direction: column;
                margin-bottom: -10px;

                .photo-crop-image {
                    width: 650px;
                    max-width: 100%;
                    display: flex;
                    border-radius: inherit;
                    flex-direction: row;
                    margin: 0 auto 18px;

                    .photo-crop-control {
                        position: relative;
                        width: 62%;
                        float: left;
                        border-radius: 0;
                        overflow: hidden;
                        flex-direction: column;
                        align-self: start;

                        .crop-control-ratio {
                            width: 100%;
                            height: auto;
                            display: block;
                            opacity: 0;
                        }

                        ui-cropper {
                            @include fill_parent();
                        }
                    }

                    .photo-crop-preview {
                        width: 38%;
                        padding-left: 20px;
                        display: flex;
                        flex-direction: column;
                        float: left;

                        img {
                            display: block;
                            width: 100%;
                            border-radius: 0;
                            border: 1px solid #dadada;
                            box-shadow: 2px 5px 20px rgba(0, 0, 0, .075);
                        }

                        .crop-control-original {
                            margin-bottom: 20px;
                            height: 100%;
                        }

                        .crop-control-thumbnails {
                            width: 100%;
                            height: 100%;
                            display: flex;
                        }

                        .crop-control-thumbnail {
                            width: 50%;

                            &:first-child {
                                padding-right: 5px;
                            }

                            &:last-child {
                                padding-left: 5px;

                                img {
                                    border-radius: 1000px;
                                }
                            }
                        }
                    }
                }

                .photo-crop-info {
                    text-align: center;
                    color: #5e636b;
                    font: 400 13px/20px var(--base-font);
                    margin: 0 0 5px;
                }

                .form {
                    .checkbox {
                        .checkbox-label {
                            text-align: center;
                            color: #5e636b;
                            font: 400 13px/20px var(--base-font);

                            a {
                                text-decoration: underline;
                                font: inherit;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .modal-footer {
        .button {
            padding: 10px 50px;
        }
    }

    @media screen and (max-width: 1500px) {
        .modal-window {
            .modal-body {
                .photo-crop {
                    .photo-crop-image {
                        width: 550px;
                    }
                }
            }
        }

        .modal-footer {
            background-color: #f6f9fc;
        }
    }

    @media screen and (max-width: 1300px) {
        cursor: default;

        .modal-title {
            font: 500 20px/26px var(--base-font);
            margin-bottom: 10px;
        }

        .modal-description {
            font: 400 13px/18px var(--base-font);
            margin: 0 0 15px;
        }

        .modal-window {
            .modal-body {
                .photo-crop {
                    .photo-crop-image {
                        width: 450px;
                    }

                    .form {
                        .checkbox {
                            .checkbox-label {
                                font: 400 13px/18px var(--base-font);
                            }
                        }
                    }
                }
            }
        }
    }
}