&.modal-voucher-transaction-provider {
    .modal-body {
        .modal-section {
            &.modal-section-pad-bottom {
                padding-bottom: 10px;
            }

            .block.block-compact-datalist {
                .datalist-row {
                    border: none;

                    .datalist-key {
                        font-size: 13px;
                        padding: 5.5px 15px 5.5px 0;
                    }

                    .datalist-value {
                        font-size: 13px;
                        color: #282B39;
                        padding: 5.5px 0;
                    }
                }
            }

            .modal-text {
                &.bordered {
                    border-top: 1px solid #d4d9dd;
                    margin-top: 20px;
                    padding-top: 25px;
                }
            }

            .modal-heading {
                margin-bottom: 0;
            }
        }

        .modal-divider {
            border-top: 1px solid #d4d9dd;
        }
    }
}
