section.section.section-footer
    .wrapper
        .block.block-footer: .row
            .col(ng-class="$root.appConfigs.features.newsletter?'col-md-4':'col-md-5'")
                .footer-label Contactgegevens
                //-img(src="./assets/img/logo-bw.png").footer-logo
                .footer-schedule
                    .schedule-label E-mailadres:		
                    .schedule-value info@noordoostpolder.nl
                .footer-schedule
                    .schedule-label Telefoonnummer:		
                    .schedule-value 0527 63 39 11
                .footer-schedule
                    .schedule-label Adres:		
                    .schedule-value Harmen Visserplein 1 8302 BW Emmeloord
                        
            .col(ng-class="$root.appConfigs.features.newsletter?'col-md-3':'col-md-3'")
                .footer-label Openingstijden
                .footer-schedule
                    .schedule-label Maandag: 		
                    .schedule-value 8:30 - 16:30

                .footer-schedule
                    .schedule-label Dinsdag: 		
                    .schedule-value 8:30 - 16:30

                .footer-schedule
                    .schedule-label Woensdag: 		
                    .schedule-value 8:30 - 16:30
                
                .footer-schedule
                    .schedule-label Donderdag:	 	
                    .schedule-value 8:30 - 16:30
                
                .footer-schedule
                    .schedule-label Vrijdag: 		
                    .schedule-value 8:30 - 16:30

            .col.col-md-4
                .footer-label Navigatie
                nav.footer-nav
                    .footer-nav-item: a(href="/sponsor/" target="_self") Bent u een medewerker van de gemeente Noordoostpolder en wilt u meer informatie?
                    .footer-nav-item: a(href="/provider/" target="_self") Bent u een aanbieder en wilt u meer informatie?
                .block.block-app_download(style="margin-top:15px;"): .footer-label(style="margin-bottom:0px;") Download Me-app
                    .wrapper
                        a(href="{{ $root.appConfigs.me_app_link }}" target="_blank")
                            img(src="./assets/img/icon-app/icon-app-me.svg")

                        a(href="{{ $root.appConfigs.android_link }}" target="_blank")
                            img(src="./assets/img/icon-app/app-store-android.svg" style="height: 40px; width: 120px; padding-right: 5px; margin-top: 10px;")

                        a(href="{{ $root.appConfigs.ios_iphone_link }}" target="_blank")
                            img(src="./assets/img/icon-app/app-store-ios.svg" style="height: 40px; width: 120px; margin-top: 10px;")

                nav.footer-nav(style="margin-top:0; padding:0;")
                    .footer-nav-item: a(ui-sref="me-app") Wilt u meer informatie over de Me-app?		

            .col.col-md-3(ng-if="$root.appConfigs.features.newsletter")
                .footer-label Ontvang onze nieuwsbrief
                .form
                    .form-group.footer-subscribe
                        input(type="email" placeholder="E-mail").form-control.form-control-fancy
                        button.button.button-primary: .mdi.mdi-arrow-right
            
    .block.block-copyrights: .wrapper
        .copyrights 
        .links
            a(href="" target="_blank") Algemene Voorwaarden
            .link-separator
            a(href="" target="_blank") Privacy Statement
        .developed
            | 
            a(href="#")
