@import '../general/vars.scss';

/*==========  Style Sheet - Vars  ==========*/

// navbar
$bg-nav:            #F5F5F5;
$tc-nav:            #282B39;
$tc-nav-hov:        #661066;
$logo-padding:      30px 0px;
$logo-height:       50px;

// navbar (auth)
$tc-auth-menu:      #661066; 
$tc-auth-btn:       #661066; 
$btn-auth-bg:       #fff; 
$btn-auth-border:   #ececec;

// navbar (start modal primary)
$tc-start-btn:       #fff; 
$btn-start-bg:       #661066;
$btn-start-btn:      #661066;
$btn-start-border:   transparent;

// header attributes
$bg-values:          url("../img/splash-top-b.jpg") no-repeat 100% 0;

// base font
$bf:                Arial,Verdana,'Sans Serif';

// text color
$tc:                #595959;
$tc-var:            #fff;

// base color
$bc:                #660066;

// background color
$bg:                #ececec;

$bg_2:              none;

// text formatting
$tf:                inherit;

// footer color
$fc:                #4e4d40;
$fc-link:           #3d013d;
$fc-link-hover:     #660066;

// Displayed or not
$fd:                block;

// product image
$pi:                10px 0 0 10px;

// placeholder text color
$ptc:               #515152;

$border_color:      #dbdcdb;

$border_radius:     0px;
$base_shadow:       0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

$color_primary:         #3d013d;
$color_primary_light:   1px solid #660066;

$color_default:         #660066;
$color_default_light:   1px solid #3d013d;

// Login button

$lb:                #fff;