@import "../general/vars.scss";

/*==========  Style Sheet - Vars  ==========*/
$fonts: "https://fonts.googleapis.com/css?family=Verdana";
$primaryColor: #3d013d;
$primaryColorLight: #660066;

:root {
    // navbar
    --bg-nav: #f5f5f5;
    --tc-nav: #282b39;
    --tc-nav-hov: #661066;
    --logo-padding: 30px 0px;
    --logo-height: 50px;

    // navbar (auth)
    --tc-auth-menu: #661066;
    --tc-auth-btn: #661066;
    --btn-auth-bg: #fff;
    --btn-auth-border: #661066;

    // navbar (start modal primary)
    --tc-start-btn: #fff;
    --btn-start-bg: #661066;
    --btn-start-btn: #661066;
    --btn-start-border: transparent;

    // header attributes
    --bg-values: url("../img/splash-top-b.jpg") no-repeat 100% 0;

    // base font
    --base-font: Arial, Verdana, "Sans Serif";

    // text color
    --tc: #595959;
    --tc-var: #fff;
    --tc-link: inherit;

    // base color
    --bc: #660066;

    // background color
    --bg: #ececec;

    --bg_2: none;

    // text formatting
    --text_format: inherit;

    // footer color
    --footer_color: #4e4d40;
    --footer_color_link: #3d013d;
    --footer_color_link_hover: #660066;

    // Displayed or not
    --footer_display: block;

    // product image
    --product-image-padding: 10px 0 0 10px;

    // placeholder text color
    --form-control-placeholder-color: #515152;

    --border-color: #dbdcdb;

    --border-radius: 0px;
    --box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

    --color-primary: #{$primaryColor};
    --color-primary-light: #{$primaryColorLight};

    --color-default: #660066;
    --color-default-light: #3d013d;

    --color-search-icon-medium: #{$primaryColor};
    --color-search-icon-dark: #{darken($primaryColor, 10%)};
    --color-search-icon-light: #{lighten($primaryColor, 25%)};

    // Login button
    --login-button-background: #fff;
}
