extends ../layout/layout-markup
block content
    .card-heading Shortlisted validators
    .block.block-external-validators
        mixin validator(title, active, expanded)
            .validator-item
                .validator-logo: img(src="/assets/img/organization-no-logo.svg").validator-logo-img
                .validator-details
                    .validator-title 
                        if (!expanded)
                            a(href="#").validator-title-toggle.mdi.mdi-menu-down
                        if (expanded)
                            a(href="#").validator-title-toggle.mdi.mdi-menu-up
                        | HSBC Bank plc lorem ipsum
                    
                    if (expanded)
                        .validator-properties
                            .validator-property
                                .validator-property-label E-mail
                                .validator-property-value.text-primary-light contacts@ing.com
                            .validator-property
                                .validator-property-label Telefonnummer
                                .validator-property-value 2476908
                            .validator-property
                                .validator-property-label Website
                                .validator-property-value.text-primary-light www.ing.com

                .validator-actions
                    if (!active)
                        .button.button-primary
                            em.mdi.mdi-check-circle.icon-start
                            | Toevoegen
                    
                    if (active)
                        .button.button-default
                            .mdi.mdi-close.icon-start
                            | Verwijderen

        +validator("ING Groep N.V. Dolor sit amet", true, true)
        +validator("ING Groep N.V. Dolor sit amet", false, true)
        +validator("HSBC Bank plc lorem ipsum", false, false)