extends ../layout/layout-markup
block content
    .card-heading.flex-row
        .flex-col Funds (34)

        .flex-col: .block.block-label-tabs.nowrap.pull-right: .label-tab-set
            .label-tab.label-tab-sm.active Actief (3)
            .label-tab.label-tab-sm Beschikbaar (0)
            .label-tab.label-tab-sm Aanmeldingen (0)
            .label-tab.label-tab-sm Uitnodigingen (0)
            .label-tab.label-tab-sm Archief (0)

    .form: .row
        .form-group.col.col-lg-6.col-xs-12
            label.form-label Organisaties
            select.form-control 
                option(label="Alle organisaties" selected="selected") Alle organisaties
                option(label="Alle organisaties") Nijmegen

        .form-group.col.col-lg-6.col-xs-12
            label.form-label Labels
            select.form-control 
                option(label="Alle labels" selected="selected") Alle labels

    mixin fund_item(type)
        .card: .card-section
            .card-section-actions
                .tag.tag-default Geweigerd
            .card-block.card-block-fund.card-block-fund-margin-bottom
                .fund-img: img(src="./assets/img/placeholders/organization-thumbnail.png")
                .fund-title Zuidhorn
                br
                .fund-organization Zuidhorn
            .card-block.card-block-listing
                if (type == 'active')
                    .row.card-block-listing-row
                        .col.col-md-5: .card-block-listing-item
                            .card-block-listing-label Begindatum / Einddatum
                            span 20 augustus 2020 / 19 oktober 2020
                        .col.col-md-5: .card-block-listing-item
                            .card-block-listing-label Maximaal tegoed per voucher
                            span € 2.000,-

                    .row.card-block-listing-row
                        .col.col-md-5: .card-block-listing-item
                            .card-block-listing-label Scan tegoed op voucher
                            .tag.tag-sm.tag-warning Nee
                        .col.col-md-5: .card-block-listing-item
                            .card-block-listing-label Scan geplaatste aanbiedingen
                            .tag.tag-sm.tag-success Ja
                
                if (type == 'partly')
                    .row.card-block-listing-row
                        .col.col-md-5: .card-block-listing-item
                            .card-block-listing-label Begindatum / Einddatum
                            span 20 augustus 2020 / 19 oktober 2020
                        .col.col-md-4: .card-block-listing-item
                            .card-block-listing-label Maximaal tegoed per voucher
                            span € 2.000,-

                    .row.card-block-listing-row
                        .col.col-md-5: .card-block-listing-item
                            .card-block-listing-label Scan tegoed op voucher
                            .tag.tag-sm.tag-warning Nee
                        .col.col-md-4: .card-block-listing-item
                            .card-block-listing-label Scan geplaatste aanbiedingen
                            .tag.tag-sm.tag-success Ja
                        .col.col-md-3: .button.button-default.pull-right 
                            em.mdi.mdi-eye-outline.icon-start
                            | Bekijk aanbiedingen
                
                if (type == 'available')
                    .row.card-block-listing-row
                        .col.col-md-5: .card-block-listing-item
                            .card-block-listing-label Start date / End date
                            span August 20, 2020 / October 19, 2020
                        .col.col-md-4: .card-block-listing-item
                            .card-block-listing-label Maximum credit per voucher
                            span € 2.000,-
                        .col.col-md-3: .button.button-default.pull-right Aanmelden

            
    +fund_item('active')
    +fund_item('available')
    +fund_item('partly')
    +fund_item('available')
    +fund_item('active')
    +fund_item('partly')