extends ../layout/layout-markup
block content
    .card-heading: .flex-row
        .flex-col Aanmeldingen
        .flex-col.text-right
            button.button.button-primary
                .mdi.mdi-download.icon-start
                | Exporteren

    mixin fund_request(bsn, state, collapsed, self_assigned)
        .card.card-collapsable(class=(collapsed ? '' : 'card-collapsed'))
            .card-section
                .card-section-actions
                    if (state == 'pending')
                        .tag.tag-primary-light
                            em.mdi.mdi-circle-outline
                            | Pending

                    if (state == 'approved')
                        .tag.tag-success 
                            em.mdi.mdi-circle-slice-8
                            | Approved
                
                    if (state == 'partly_approved')
                        .tag.tag-success 
                            em.mdi.mdi-circle-slice-4
                            | Partly approved
                
                    if (state == 'declined')
                        .tag.tag-danger 
                            em.mdi.mdi-circle-off-outline
                            | Declined
                
                .card-title(class=(bsn ? '' : 'text-muted'))
                    | BSN: 
                    span #{bsn ? bsn : 'Geen data'}
                    .card-collapse.mdi(class=(collapsed ? 'mdi-chevron-down' : 'mdi-chevron-up'))
                
                .card-block.card-block-listing.card-block-listing-inline
                    .card-block-listing-label Fonds
                    .card-block-listing-value
                        | Zuidhorn
                        em.mdi.mdi-information.block.block-tooltip-details.block-tooltip-hover
                            .tooltip-content: ul.tooltip-list
                                li.tooltip-list-item
                                    em.mdi.mdi-check
                                    | Lorem ipsum one
                                li.tooltip-list-item
                                    em.mdi.mdi-check
                                    | Lorem ipsum two
                                li.tooltip-list-item
                                    em.mdi.mdi-check
                                    | Lorem ipsum three
            
            if (!collapsed)
                .card-header
                    .arrow-box.border.bg-dim: .arrow
                    .card-title: .flex-row
                        .flex-grow Eigenschappen
                        
                        .flex-grow.flex-grow-2.text-right
                            button.button.button-primary
                                em.mdi.mdi-account-plus.icon-start
                                | Assing to me
                            button.button.button-primary-light
                                em.mdi.mdi-account-minus.icon-start
                                | Resign
                            button.button.button-default
                                em.mdi.mdi-check-circle.icon-start
                                | Validate all
                            button.button.button-primary
                                em.mdi.mdi-close.icon-start
                                | Decline all
            
                .card-section: .card-block.card-block-table: .table-wrapper: table.table
                    thead: tr
                        th.cell-chevron
                        th(width="20%") Type
                        th(width="20%") Eigenschap
                        th(width="20%") Datum, tijd	
                        th(width="20%") Status
                        th.text-right(width="20%") Actions
                    
                    tbody
                        mixin record_row(row_state)
                            tr
                                td.cell-chevron: a.mdi.mdi-menu-down.td-menu-icon
                                td Children count
                                td 3
                                td 17:57 - 4 apr, 2020
                                td: .tag(class=({pending: 'tag-primary-light', declined: 'tag-danger', approved: 'tag-success'}[row_state]))=row_state
                                
                                if (row_state != 'pending')
                                    td.text-right: .text-muted=row_state
                                
                                if (row_state == 'pending' && !self_assigned)
                                    td.text-right
                                        if (self_assigned)
                                            .text-muted
                                                | Toegewezen aan: info@forus.io
                                        if (!self_assigned)
                                            .text-muted
                                                | Zelf toewijzen
                                
                                if (row_state == 'pending' && self_assigned)
                                    td.text-right
                                        .button-group.flex-end
                                            .button.button-primary.button-icon: em.mdi.mdi-close
                                            .button.button-primary-light.button-icon: em.mdi.mdi-message-text
                                            .button.button-default.button-icon: em.mdi.mdi-check
                        
                        +record_row('pending')
                        +record_row('declined')
                        +record_row('approved')

                        tr.dim: td(colspan='6')
                            .block.block-attachments-list: .block-attachments-inner
                                a.attachment-item
                                    .attachment-icon
                                        .mdi.mdi-file
                                        .attachment-size 128Kb
                                    .attachment-name The file.pdf
                                    .attachment-preview(title="Bekijk PDF-bestand"): .mdi.mdi-eye
                            
                            .block.block-request-clarification
                                .block-title Aanvullingen
                                .clarification-item
                                    .clarification-item-nth 1
                                    .clarification-item-details
                                        .clarification-item-question
                                            .clarification-item-icon.mdi.mdi-message-text.text-primary
                                            | Question from validator 1.
                                        .clarification-item-answer
                                            .clarification-item-icon.mdi.mdi-message-text.text-primary-light
                                            span The answer.
                                
                                .clarification-item
                                    .clarification-item-nth 1
                                    .clarification-item-details
                                        .clarification-item-question
                                            .clarification-item-icon.mdi.mdi-message-text.text-primary
                                            | Question from validator 1.
                                        .clarification-item-answer
                                            .clarification-item-icon.mdi.mdi-message-text.text-primary-light
                                            span.text-muted No reply...
                                        
                                        .clarification-item-attachments
                                            .block.block-attachments-list
                                                .block-attachments-inner
                                                    .attachment-item
                                                        .attachment-icon
                                                            .mdi.mdi-file
                                                            .attachment-size 265Kb
                                                        .attachment-name Attachment 1.pdf
                                                        a(href="#" title="Bekijk PDF-bestand").attachment-preview: .mdi.mdi-eye
                                                    .attachment-item
                                                        .attachment-icon
                                                            .mdi.mdi-file
                                                            .attachment-size 265Kb
                                                        .attachment-name Attachment 2.pdf
                                                        a(href="#" title="Bekijk PDF-bestand").attachment-preview: .mdi.mdi-eye
                                                    .attachment-item
                                                        .attachment-icon
                                                            .mdi.mdi-file
                                                            .attachment-size 265Kb
                                                        .attachment-name Attachment 3.pdf
                                                        a(href="#" title="Bekijk PDF-bestand").attachment-preview: .mdi.mdi-eye

    +fund_request(1234567890, 'pending', false, true)
    +fund_request(false, 'approved', false, true)
    +fund_request(false, 'partly_approved', false)
    +fund_request(1234567890, 'declined', true)