extends ../layout/layout-markup
block content
    .card-heading My Funds

    .card
        .card-section
            .text-center
                p.text-strong-half You don't have lorem ipsum dolor sit amet
                button.button.button-primary
                    em.mdi.mdi-plus-circle 
                    | Add fund