extends ../layout/layout-markup
block content
    .card-heading Page title
    include ./includes/modal-page-placeholder

    .modal.modal-lg
        .modal-backdrop
        .modal-window
            .modal-header 
                .modal-close.mdi.mdi-close
                | Actie toevoegen

            .modal-body: .block.block-subsidy-editor
                .subsidy-media(style="background-image: url('../../assets/img/product-photo.jpg')")
                .subsidy-details
                    .row.subsidy-details-overview
                        .col.col-sm-6
                            .subsidy-provider Biblionet
                            .subsidy-product Taalcurcus gevorderden
                            .subsidy-property
                                .subsidy-property-label Vervaldatum van aanbod: 
                                .subsidy-property-value 2019-12-31
                            .subsidy-property
                                .subsidy-property-label Beschikbaar: 
                                .subsidy-property-value 300
                        .col.col-sm-6
                            .subsidy-property.subsidy-property-monetary.subsidy-property-right
                                .subsidy-property-label Originele prijs 
                                .subsidy-property-value.subsidy-property-value-muted € 200,-
                            .subsidy-property.subsidy-property-monetary.subsidy-property-right
                                .subsidy-property-label Prijs met bijdrage vanuit aanbieder
                                .subsidy-property-value € 150,-
                            .subsidy-property.subsidy-property-monetary.subsidy-property-right
                                .subsidy-property-label Prijs in webshop
                                .subsidy-property-value € 130,-
                    .row.form.subsidy-details-overview
                        .col.col-sm-3: .form-group
                            .form-label Totaal aanbod
                            input(type="number" placeholder="Totaal aanbod").form-control
                            .form-limit Limiet 1/300
                            .form-error
                        .col.col-sm-3: .form-group
                            .form-label Limiet per aanvrager
                            input(type="number" placeholder="Limiet per aanvrager").form-control
                            .form-limit Limiet 1/300  
                            .form-error
                        .col.col-sm-3: .form-group
                            .form-label Bijdrage
                            input(type="number" placeholder="Bijdrage").form-control
                            .form-limit Limiet €150
                            .form-error
                        .col.col-sm-3: .form-group
                            .form-label &nbsp;
                            label(for='subsidie').checkbox.checkbox-narrow
                                input(type="checkbox" ng-model="$dir.criterion.show_attachment" id='subsidie')
                                .checkbox-label 
                                    .checkbox-box: .mdi.mdi-check
                                    | Maak gratis
                    
                    .row.form
                        .col.col-sm-3: .form-group
                            .form-label Totaal aanbod
                            .form-value-placeholder.form-value-placeholder-sm 6
                        .col.col-sm-3: .form-group
                            .form-label Bijdrage
                            .form-value-placeholder.form-value-placeholder-sm € 22,-
                        .col.col-sm-3: .form-group
                            .form-label Gebruikt
                            .form-value-placeholder.form-value-placeholder-sm 22
                        .col.col-sm-3: .form-group
                            .form-label Limiet per aanvrager
                            .form-value-placeholder.form-value-placeholder-sm 2

            .modal-footer
                .button.button-default Annuleer
                .button.button-primary Budget toevoegen