extends ../layout/layout-markup
block content
    .card-heading Page title
    include ./includes/modal-page-placeholder

    .modal.modal-md
        .modal-backdrop
        .modal-window
            .modal-body: .modal-section
                .block.block-danger_zone
                    .danger_zone-title
                        em.mdi.mdi-alert
                        | Unexpected bad things will happen if you don’t read this!
                    .danger_zone-description 
                        | This action cannot be undone. This will permanently delete the rminds/dj-sunny-fish repository, wiki, issues, and comments, and remove all.
                        br
                        br
                        | This will not change your billing plan. If you want to downgrade, you can do so in your Billing Settings.
            .modal-footer
                .button.button-default Cancel
                .button.button-danger Verwijderen