extends ../layout/layout-markup
block content
    .card-heading Page title
    include ./includes/modal-page-placeholder

    .modal.modal-fund-offers.modal-animated
        .modal-backdrop
        .modal-window
            .mdi.mdi-close.modal-close
            .modal-header Accepted offers
            .modal-body.form
                .modal-section
                    .card-section
                    .card-block.card-block-table
                        .table-wrapper
                            table.table
                                tr
                                    th Name
                                    th Stock
                                    th Price
                                    th.text-right Status

                                mixin table_row(name, stock, accepted)
                                    tr
                                        td=name
                                        td=stock
                                        td
                                            span.offer-price € 13,-
                                            span.offer-old-price € 37,-
                                        td.text-right
                                            if (accepted)
                                                .tag.tag-success Approved
                                            else
                                                .tag.tag-default Rejected
                                
                                +table_row('Product #813978', 10, true)
                                +table_row('Product #813928', 15, true)
                                +table_row('Product #813958', 18, false)
                                +table_row('Product #813988', 25, false)
                                +table_row('Product #813918', 6 , false)

                                +table_row('Product #813978', 10, true)
                                +table_row('Product #813928', 15, true)
                                +table_row('Product #813958', 18, false)
                                +table_row('Product #813988', 25, false)
                                +table_row('Product #813918', 6 , false)
                                

            .modal-footer
                .table-pagination.flex-grow
                    .table-pagination-counter 8 results
                    .table-pagination-navigation
                        button(disabled).button.button-default Prev
                        button.button.button-default 1
                        button.button.button-default 2
                        button.button.button-primary 3
                        button(disabled).button.button-default Next