extends ../layout/layout-markup

block content
    .block.block-breadcrumbs
        .breadcrumb-item Fondsen 
        .breadcrumb-item Kindpakket 2020 
        .breadcrumb-item.active Taalcurcus gevorderden
    
    .modal.modal-xl
        .modal-backdrop
        .modal-window
            .modal-body: .modal-hero
                .hero-icon: em.mdi.mdi-alert-outline
                .hero-title Duplicate email adresses detected.
                .hero-subtitle
                    | Are you sure you want to create extra vouchers for these 24 email addresses #[br] that already have a voucher?
            
            .modal-close.mdi.mdi-close
            
            .modal-body.modal-body-padless.form
                .block.block-switch-table
                    mixin switch_row(title)
                        .switch-row
                            .switch-label
                                em.mdi.mdi-alert-outline.text-warning.switch-key-icon
                                | name.function@gmail.com
                            
                            .switch-input: .flex-row
                                .flex-col.switch-input-label #{title < 2 ? 'Create voucher' : 'Skip'}
                                .flex-col: .form-group.form-group-inline
                                    label(for=("option_" + title + '_regular')).form-toggle
                                        input(type="checkbox" id=("option_" + title + '_regular') checked=(title == 1))
                                        .form-toggle-inner.flex-end: .toggle-input: .toggle-input-dot
                    
                    +switch_row(1)
                    +switch_row(2)
                    +switch_row(3)
                    +switch_row(4)
                    +switch_row(5)

                    //- .switch-row: .switch-key: .table-pagination.flex-grow
                        .table-pagination-counter.table-pagination-counter-sm 8 results
                        .table-pagination-navigation
                            button(disabled).button.button-default.button-sm Prev
                            button.button.button-default.button-sm 1
                            button.button.button-default.button-sm 2
                            button.button.button-primary.button-sm 3
                            button(disabled).button.button-default.button-sm Next

            .modal-footer.text-center
                .button-group
                    button.button.button-default.button-sm Cancel
                
                .button-group.flex-grow

                .button-group
                    button.button.button-default.button-sm Skip all
                    button.button.button-default.button-sm Yes to all
                    button.button.button-primary.button-sm Confirm