extends ../layout/layout-markup
block content
    .block.block-breadcrumbs
        .breadcrumb-item Fondsen 
        .breadcrumb-item Kindpakket 2020 
        .breadcrumb-item.active Taalcurcus gevorderden
    
    .modal.modal-md
        .modal-backdrop
        .modal-window
            .modal-close.mdi.mdi-close
            .modal-header Messages
            
            .modal-body.form
                .modal-section.modal-section-light.modal-section-sm
                    .block.block-chat: .chat-wrapper
                        .chat-timeline: .chat-timeline-value Yesterday, 20.02.2020
                        
                        .chat-message.chat-message-in
                            .chat-message-text
                                | De cursussen lopen, je kan altijd instromen _ Lestijd: Woensdagochtend van 9:15u - 10:30u_ Locatie: De Broederij in Lindenholt, Nieuwstadweg 37
                            .chat-message-time
                                em.mdi.mdi-check
                                | viewed&nbsp;&nbsp;•&nbsp;&nbsp;Today, 20.02.2020
                        
                        .chat-message.chat-message-out
                            .chat-message-text
                                | De cursussen lopen, je kan altijd instromen _ Lestijd: Woensdagochtend van 9:15u - 10:30u_ Locatie: De Broederij in Lindenholt, Nieuwstadweg 37
                            .chat-message-time
                                em.mdi.mdi-check
                                | sent&nbsp;&nbsp;•&nbsp;&nbsp;Today, 20.02.2020
                        
                        .chat-timeline: .chat-timeline-value Today, 20.02.2020

                        .chat-message.chat-message-in
                            .chat-message-text
                                | De cursussen lopen, je kan altijd instromen _ Lestijd: Woensdagochtend van 9:15u - 10:30u_ Locatie: De Broederij in Lindenholt, Nieuwstadweg 37
                            .chat-message-time
                                em.mdi.mdi-check
                                | viewed&nbsp;&nbsp;•&nbsp;&nbsp;Today, 20.02.2020

                        .chat-message.chat-message-system
                            .chat-message-text
                                em.mdi.mdi-information
                                | Aanbieder heeft zijn aanbod bewerkt
                            //- .chat-message-time
                                em.mdi.mdi-check
                                | viewed&nbsp;&nbsp;•&nbsp;&nbsp;Today, 20.02.2020
                
                .modal-section.modal-section-light.modal-section-sm
                    textarea.r-n.form-control(placeholder="Message to requester")
                
            .modal-footer.text-center
                button.button.button-default.button-sm Annuleren
                button.button.button-primary.button-sm Bevestigen