extends ../layout/layout-markup
block content
    .card
        .card-header: .card-title Notificaties
        .card-section.card-section.card-section-padless
            .block.block-notifications
                mixin note_item()
                    .notification-item
                        .notification-details
                            .notification-title Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                            .notification-description
                                | Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                                | Suscipit sapiente porro eligendi placeat beatae deserunt optio officiis 
                                | vitae ab error harum labore, ullam alias.
                        .notification-actions
                            .notification-date 
                                .mdi.mdi-clock-outline
                                | Jan 23, 12:26 AM
                
                +note_item()
                +note_item()
                +note_item()
                +note_item()
                +note_item()
                +note_item()
                +note_item()
                +note_item()
                +note_item()
                +note_item()

        .card-section
            .table-pagination
                .table-pagination-counter 10 results
                .table-pagination-navigation
                    button(disabled).button.button-default Prev
                    button.button.button-default 1
                    button.button.button-default 2
                    button.button.button-primary 3
                    button(disabled).button.button-default Next