extends ../layout/layout-markup
block content
    .block.block-breadcrumbs
        .breadcrumb-item Fondsen 
        .breadcrumb-item Kindpakket 2020 
        .breadcrumb-item.active Taalcurcus gevorderden

    .block.block-provider-product
        .product-overview
            .product-media: img.product-media-img(src="./assets/img/placeholders/product-small.png")
            .product-details
                .product-name Taalcurcus gevorderden
                .product-properties
                    .product-property
                        .product-property-label Vervaldatum van aanbod:
                        .product-property-value 2019-12-31
                    .product-property
                        .product-property-label Verkocht:
                        .product-property-value 0
                    .product-property
                        .product-property-label Gereserveerd:
                        .product-property-value 0
            .product-actions.form
                .product-price
                    | € 150,-
                    .product-price-old € 200,-
        
        .product-description
            .description-header
                | Beschrijving
                .description-header-action
                    .button-group
                        a(href="#").button.button-primary
                            em.mdi.mdi-trash-can-outline.icon-start
                            | Verwijderen
                        a(href="#").button.button-default
                            em.mdi.mdi-pencil.icon-start
                            | Bewerken
            
            .description-body
                | De cursussen lopen, je kan altijd instromen _ Lestijd: Woensdagochtend van 9:15u - 10:30u_ Locatie: De Broederij in Lindenholt, Nieuwstadweg 37
                br
                br
                | Lestijd: Vrijdagmiddag 15:30u - 16:45 Extra les vanaf 8 mei van 13:30u - 14:45u Locatie: Surya, Professor Molkenboerstraat 30 A
                br
                br
                | Kundalini Yoga is een vorm van yoga die inspannende sets afwisselt met meditatieve oefeningen. Het wordt ook wel de yoga van het bewust-zijn genoemd. Het is toegankelijk voor iedereen.
                br
                br
                | De les bestaat altijd uit een warming up en een Kriya; een set met een aantal oefeningen die doorwerkt op een bepaald deel van je lichaam, je chakra's of bv je hele zenuwstelsel. Soms zingen we een Mantra of we doen een Meditatie. We sluiten altijd af met een diepe ontspanning, om het effect van de oefeningen goed te laten doorwerken in je lichaam en je geest.
                br
                br
                | Je zult versteld staan van het sterke effect van deze vorm van Yoga, kom het ervaren!

            .description-header
                | Beschrijving
                .description-header-action
                    | 1 nieuwe
                    a(href="#").button.button-primary-light.button-icon
                        em.mdi.mdi-message-text.icon-start
            
            .description-body
                | De cursussen lopen, je kan altijd instromen _ Lestijd: Woensdagochtend van 9:15u - 10:30u_ Locatie: De Broederij in Lindenholt, Nieuwstadweg 37
                br
                br
                | Lestijd: Vrijdagmiddag 15:30u - 16:45 Extra les vanaf 8 mei van 13:30u - 14:45u Locatie: Surya, Professor Molkenboerstraat 30 A
                br
                br
                | Kundalini Yoga is een vorm van yoga die inspannende sets afwisselt met meditatieve oefeningen. Het wordt ook wel de yoga van het bewust-zijn genoemd. Het is toegankelijk voor iedereen.
                br
                br
                | De les bestaat altijd uit een warming up en een Kriya; een set met een aantal oefeningen die doorwerkt op een bepaald deel van je lichaam, je chakra's of bv je hele zenuwstelsel. Soms zingen we een Mantra of we doen een Meditatie. We sluiten altijd af met een diepe ontspanning, om het effect van de oefeningen goed te laten doorwerken in je lichaam en je geest.
                br
                br
                | Je zult versteld staan van het sterke effect van deze vorm van Yoga, kom het ervaren!
    
    .card
        .card-header
            //- .arrow-box.border.bg-dim: .arrow
            .card-title 
                .flex-row
                    .flex-col Transactions (8)
                    .flex-col.block.block-inline-filters
                        .form: .form-group: input(type="text" placeholder="Zoeken").form-control
        .card-section
            .card-block.card-block-table
                .table-wrapper
                    table.table
                        tr
                            th AFBEELDING
                            th NAAM
                            th GEACCEPTEERD
                            th MESSAGES
                            th
                        mixin row()
                            tr
                                td: a(href="./transaction.html").text-primary-light €19000.00
                                td Kindpakket
                                td: .label.label-success Active
                                td 
                                    .button.button-primary-light.button-icon: em.mdi.mdi-message-text
                                    | &nbsp;&nbsp;
                                    | 1 nieuwe
                                td.td-narrow.nowrap 
                                    .button.button-default
                                        em.mdi.mdi-eye-outline.icon-start 
                                        | View on webshop
                        +row()
                        +row()
                        +row()
                        +row()
                        +row()
                        +row()
                        +row()
                        +row()
                        +row()
                        +row()

        .card-section
            .table-pagination
                .table-pagination-counter 8 results
                .table-pagination-navigation
                    button(disabled).button.button-default Prev
                    button.button.button-default 1
                    button.button.button-default 2
                    button.button.button-primary 3
                    button(disabled).button.button-default Next