extends ../layout/layout-markup
block content
    .card-heading
        | Producten
        a(href="#").link
            em.mdi.mdi-plus-circle 
            | Voeg product toe

    .block.block-products
        mixin product(title, label, messages=false)
            .product-item
                .product-media: img.product-media-img(src="./assets/img/placeholders/product-thumbnail.png")
                .product-details
                    .product-title
                        | #{title}
                        .label.label-round.label-lg(class="label-"+label) Actief
                    .product-subtitle Resterend aanbod: 15
                .product-actions
                    .product-action
                        .product-price € 150,-
                    .product-action: .button-group
                        .button.button-defaul
                            em.mdi.mdi-eye-outline.icon-start
                            | Kijk
                        .button.button-primary-light.button-icon(class=messages?'':'button-disabled')
                            em.mdi.mdi-message-text
                

        +product("Taalcurcus beginner", "success", true)
        +product("Giant X-Ray 2", "default", true)
        +product("Taalcurcus beginner", "warning")