extends ../layout/layout-markup
block content
    .card-heading
        | Producten
        a(href="#").link
            em.mdi.mdi-plus-circle 
            | Voeg product toe

    mixin product(title, state)
        .card(class=(state=='closed'?'card-outline':''))
            .card-section
                .card-section-actions
                    .card-section-action-price
                        | € 10.000,-
                        .old-price € 20.000,-

                    if (state == 'active')
                        .tag.tag-success Active
                    if (state == 'paused')
                        .tag.tag-warning Paused
                    if (state == 'closed')
                        .tag.tag-default Closed

                        
                .card-block.card-block-product
                    .product-img: img(src="./assets/img/product-photo.jpg", alt="")
                    a(href="./product.html").product-title #{title}
                    a(href="#").product-subtitle Mountain fiets

                    .card-block.card-block-listing
                        .card-block-listing-label Budgets
                        | Kindpakket 2017, Kindpakket 2018

            mixin keyvalue_item_horizontal(key, value)
                .keyvalue-item
                    .keyvalue-key=key
                    .keyvalue-value=value
                    
            .card-section
                .card-block.card-block-keyvalue.card-block-keyvalue-horizontal
                    .row
                        .col.col-lg-4
                            +keyvalue_item_horizontal("Verkoop statistieken", "€ 10.000,-")
            .card-section.card-section-primary
                .text-right
                    a(href="#").button.button-primary
                        em.mdi.mdi-cog.icon-start  
                        | Verwijderen

                    a(href="#").button.button-default
                        em.mdi.mdi-pen.icon-start  
                        | Bewerk

    +product("Giant X-Ray 2", "active")
    +product("Giant X-Ray 2", "paused")