extends ../layout/layout-markup
block content
    .card-heading Aanbieders per fonds (2)

    .block.block-providers
        mixin provider_item(title, type="budget", products=15)
            .provider-item
                .provider-media: img.provider-media-img(src="./assets/img/zuidhorn-logo.jpg")
                .provider-details
                    .provider-title ING Groep N.V. Dolor sit amet
                    if (type == 'budget')
                        .provider-subtitle #{products} aanbiedingen
                    if (type == 'subsidie')
                        .provider-subtitle 
                            | Actieve acties 
                            .tag.tag-sm(class=(products == 0 ? 'tag-danger' : 'tag-default')) #{products}/15

                .provider-actions.form
                    if (type == 'budget')
                        .provider-action-item
                            label.form-label Allow budget
                            label(for=("option_" + title + '_regular')).form-toggle
                                input(type="checkbox" id=("option_" + title + '_regular'))
                                .form-toggle-inner.flex-end: .toggle-input: .toggle-input-dot
                        
                        .provider-action-item
                            label.form-label Allow budget
                            label(for=("option_" + title + '_products')).form-toggle
                                input(type="checkbox" id=("option_" + title + '_products'))
                                .form-toggle-inner.flex-end: .toggle-input: .toggle-input-dot

                    .provider-action-item
                        a(href=(type == 'budget' ? "fund-provider.html" : "fund-provider-subsidie.html")).button.button-default 
                            em.mdi.mdi-eye-outline.icon-start
                            | Kijk

        +provider_item("Hewlett-Packard")
        +provider_item("Kindpakket 2017")
        +provider_item("Kindpakket 2016")

        +provider_item("Hewlett-Packard", 'subsidie', 0)
        +provider_item("Kindpakket 2017", 'subsidie', 5)
        +provider_item("Kindpakket 2016", 'subsidie', 12)
