extends ../layout/layout-markup
block content
    .card-heading Providers (5)

    mixin card(title)
        .card
            .card-section
                .card-section-actions
                .card-block.card-block-provider
                    .provider-img: img(src="./assets/img/zuidhorn-logo.jpg", alt="")
                    .provider-details
                        .provider-title(href="./fund.html") #{title}
                        .provider-details
                            .row: .col.col-lg-8: .flex-row
                                .flex-col: .card-block.card-block-listing.card-block-listing-inline.card-block-listing-variant
                                    .card-block-listing-label Email
                                    .card-block-listing-value.text-primary-light ulgersmaweg@rminds.nl
                                .flex-col: .card-block.card-block-listing.card-block-listing-inline.card-block-listing-variant
                                    .card-block-listing-label Business Address
                                    .card-block-listing-value.text-primary-light Groningen, Ulgersmaweg 35

            .card-section.card-section-primary.card-section-narrow: .card-block.card-block-provider.form
                .provider-offset &nbsp;
                .provider-details: .row: .col.col-lg-8: .flex-row
                    .flex-col: .card-block.card-block-listing.card-block-listing-inline.card-block-listing-variant
                        .card-block-listing-label 15 aanbiedingen
                        button(type="button" ui-sref="fund-provider(providerFund.uiViewParams)").button.button-default.button-flat
                            em.mdi.mdi-eye-outline.icon-start
                            | Kijk

                    .flex-col: .card-block.card-block-listing.card-block-listing-inline.card-block-listing-variant
                        .card-block-listing-label Allow budget
                        .button.button-text: label(for=("option_" + title + '_regular')).form-toggle
                            input(type="checkbox" id=("option_" + title + '_regular'))
                            .form-toggle-inner.flex-end: .toggle-input: .toggle-input-dot
                        
                    .flex-col: .card-block.card-block-listing.card-block-listing-inline.card-block-listing-variant
                        .card-block-listing-label Allow products
                        .button.button-text: label(for=("option_" + title + '_products')).form-toggle
                            input(type="checkbox" id=("option_" + title + '_products'))
                            .form-toggle-inner.flex-end: .toggle-input: .toggle-input-dot


    +card("Hewlett-Packard")
    +card("Kindpakket 2017")
    +card("Kindpakket 2016")