extends ../layout/layout-markup
block content
    mixin emails_card(form_state)
        .card
            .card-header: .card-title Email settings
            .card-section.card-section-padless
                .block.block-user_emails
                    mixin user_email_item(mail, state)
                        .user_email-item
                            .user_email-icon: em.mdi.mdi-email-outline(class=(state=='primary'?'text-primary':''))
                            .user_email-details
                                .user_email-address=mail
                                
                                if (state == 'primary')
                                    .user_email-options
                                        .user_email-option Can be used to log in
                                        .user_email-option Will receive notifications
                                
                                if (state == 'confirmed')
                                    .button.button-default
                                        em.mdi.mdi-check-circle.icon-start
                                        | Make primary

                                if (state == 'pending')
                                    .button.button-default
                                        em.mdi.mdi-reload.icon-start
                                        | Resend verification email
                            
                            .user_email-actions
                                if (state == 'primary')
                                    .label.label-success.label-round.label-lg.pull-left Primary
                                
                                if (state == 'pending')
                                    .label.label-default.label-round.label-lg.pull-left Not verified

                                .button.button-default.button-icon: em.mdi.mdi-trash-can-outline

                    +user_email_item("lorem8@gmail.com", 'primary')
                    +user_email_item("lorem16@gmail.com", 'pending')
                    +user_email_item("lorem32@rminds.nl", 'confirmed')
                    +user_email_item("lorem64@rminds.nl", 'confirmed')
            
            if (form_state == 1)
                .card-section.card-section-primary
                    .button.button-primary 
                        em.mdi.mdi-plus-circle.icon-start
                        | E-mail toevogen
            
            if (form_state == 2)
                .card-section.card-section-primary
                    .card-heading Please add a new e-mail to your identity
                    .form.row: .col.col-lg-6.form-group
                        .form-label E-mail adres
                        .flex-row
                            .flex-col.flex-grow
                                input(type="email" placeholder="E-mail address").form-control
                                .form-error E-mail is already used
                            .flex-col: button.button.button-primary Toevoegen
            
            if (form_state == 3)
                .card-section.card-section-primary
                    .card-heading.card-heading-padless Please confirm your new email 
                    .card-text Please open the e-mail we sent to your new email and confirm it in order to make it available in the system
                    .button.button-primary Add another email
    

    +emails_card(1)
    +emails_card(2)
    +emails_card(3)