extends ../layout/layout-markup
block content
    .card
        .card-header: .card-title Notificatie voorkeuren
        .card-section
            .card-heading Ik wil me uitschrijven van alle notificaties.
            button(type="button" ng-click="$ctrl.enableSubscription()").button.button-primary Uitschrijven voor alle e-mail notificaties

    mixin notifications_group(id, title)
        .card
            .card-header: .card-title=title
            .form.block.block-preferences
                mixin notification_item(key, title, subtitle)
                    label(for="option_" + key).preference-option
                        .preference-option-details
                            .card-heading.card-heading-padless=title
                            .card-text=subtitle
                        .preference-option-input: .form-toggle
                            input(type="checkbox" id="option_" + key)
                            .form-toggle-inner.flex-end: .toggle-input: .toggle-input-dot
                
                +notification_item(id + "1", 'Aanmelding aanbieder', 'Ontvang een notificatie wanneer een aanbieder zich heeft aangemeld voor een fonds.')
                +notification_item(id + "2", 'Actie vereist: saldo aanvullen', 'Ontvang een notificatie wanneer het saldo voor een fonds lager is dan de vooraf ingestelde grens.')
        
    +notifications_group("10", "E-mail notificaties")
    +notifications_group("20", "Push notificaties")