extends ../layout/layout-markup
block content
    .card
        .card-header: .card-title Your sessions
        .card-section.card-section-padless
            .block.block-sessions
                mixin session_item(type="desktop", state="online", showLocations = true)
                    .session-item
                        if (type == "desktop-mac")
                            .session-icon: .mdi.mdi-desktop-mac
                        
                        if (type == "desktop")
                            .session-icon: .mdi.mdi-monitor

                        if (type == "desktop-windows")
                            .session-icon: .mdi.mdi-windows
                        
                        if (type == "mobile")
                            .session-icon: .mdi.mdi-cellphone

                        if (type == "mobile-iphone")
                            .session-icon: .mdi.mdi-cellphone-iphone
                        
                        if (type == "mobile-android")
                            .session-icon: .mdi.mdi-cellphone-android
                        
                        if (type == "tablet-android")
                            .session-icon: .mdi.mdi-tablet-android

                        .session-details
                            .session-title
                                | Webshop 
                                span.text-primary •   
                                | Chrome
                            
                            .session-properties
                                .session-property
                                    .session-property-label Last activity: 
                                    .session-property-value
                                        | 25min ago  
                                        span.text-primary •  
                                        | 192.168.0.1, Netherlands, Zuidhorn
                                .session-property
                                    .session-property-label Session started: 
                                    .session-property-value 25 jan 2077
                                
                            .session-actions.flex
                                a(href="#").session-action
                                    | Show locations

                                    if (showLocations)
                                        em.mdi.mdi-menu-up
                                    else
                                        em.mdi.mdi-menu-right
                                
                                a(href="#").session-action
                                    | Terminate session
                                    em.mdi.mdi-close
                            
                            if (showLocations)
                                .session-locations
                                    | Session: #xxx1
                                    .session-location 192.168.0.1, Netherlands, Zuidhorn
                                    .session-location 192.168.0.1, Netherlands, Zuidhorn


                        if (state=="current")
                            .session-label: .label.label-round.label-primary-light Current
                        
                        if (state=="online")
                            .session-label: .label.label-round.label-success Online

                +session_item("desktop", "current")
                +session_item("desktop-mac", "online", false)
                +session_item("desktop-windows", "online", false)
                +session_item("mobile", false)
                +session_item("mobile-iphone", false)
                +session_item("mobile-android", false)
                +session_item("tablet-android", false)
        
        .card-section.text-right: .button.button-primary 
            | Terminate all sessions
            em.mdi.mdi-close.icon-end