extends ../layout/layout-markup
block content
    .card.form
        .card-header
            .card-title Vouchers (8)
        .card-section
            .card-block.card-block-table
                .table-wrapper
                    table.table
                        tr
                            th AMOUNT
                            th CREATED
                            th EXPIRATION
                            th FUND
                            th GRANTED
                            th QR-CODE
                        mixin row(granted)
                            tr
                                td: a(href="./transaction.html").text-primary-light €100.00
                                td 2018/01/29 14:37:08
                                td 2019/01/29
                                td Forus
                                td
                                    if (granted)
                                        .td-boolean
                                            em.mdi.mdi-check-circle
                                            | Ja
                                    else
                                        .td-boolean
                                            em.mdi.mdi-close
                                            | Nee
                                td
                                    button.button.button-primary.button-icon
                                        em.mdi.mdi-qrcode
                        +row()
                        +row(true)
                        +row(true)
                        +row(true)
                        +row()
                        +row()
                        +row()
                        +row()
                        +row()
                        +row()
        .card-section
            .table-pagination
                .table-pagination-counter 8 results
                .table-pagination-navigation
                    button(disabled).button.button-default Prev
                    button.button.button-default 1
                    button.button.button-default 2
                    button.button.button-primary 3
                    button(disabled).button.button-default Next