extends ../layout/layout
block content
    header.section.section-header.section-header-landing-2: .wrapper
        .heade-splash
        include ../layout/includes/navbar
        
        .header-body
            .header-content
                .header-title 
                    | If opportunity doesn’t
                    br 
                    | knock, build a door
                .header-description All our dreams can come true, if we have the courage to pursue them
                a(href="#").button.button-primary NIVEUWE AANMAKEN
            .header-content
                .block.block-voucher
                    .voucher-title Kindpakket
                    .voucher-subtitle Valid 2 days
                    .voucher-value € 456,66
                    .voucher-qr-code: img(src="./assets/img/qr-code.svg")
            .row: .col.col-md-12: .block.block-cards
                .card-item: .card-item-inner
                    .card-icon: img(src="./assets/img/icon-cards/icon-card-money.png")
                    .card-content
                        .card-title 
                            | Create your fund 
                            em.mdi.mdi-arrow-right
                        .card-description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                .card-item: .card-item-inner
                    .card-icon: img(src="./assets/img/icon-cards/icon-card-wallet.png")
                    .card-content
                        .card-title 
                            | Donate 
                            em.mdi.mdi-arrow-right
                        .card-description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor

    section.section.section-flow: .wrapper
        .section-title Dogs have masters. Cats have staff.
        .section-description A successful man is one who makes more money than his wife can spend. A successful woman is one who can find such a man.
        img(src="./assets/img/forus-flow.png").section-scheme
        .block.block-show-more: a(href="#").button.button-primary NIVEUWE AANMAKEN

    
    section.section.section-blogs: .wrapper
        .section-title Our Blog
        
        .block.block-blogs
            mixin blog_item(nth)
                .blog-item: a(href="#").blog-item-inner
                    .blog-image: img(src="./assets/img/blog-image-" + nth + ".jpg")
                    .blog-name The only thing worse than being blind is having sight but no vision.
                    .blog-read-more 
                        | Read more 
                        em.mdi.mdi-arrow-right
            +blog_item(1)
            +blog_item(2)
            +blog_item(3)
            .block.block-show-more: a(href="#").button.button-primary SHOW MORE

    include ../layout/sections/contact-form 