extends ../layout/layout

block vars
    - var modal_shown=true
    
block content
    header.section.section-header
        include ../layout/includes/top-navbar

    - for (var i = 0; i < 32; i++)
        br

    .popups
        .popup.popup-auth
            .popup-backdrop
            .popup-content
                .popup-close.mdi.mdi-close

                .popup-title Aanmelden
                .popup-subtitle Scan deze QR-Code met een ander apparaat waar u al op aangemeld bent

                .block.block-auth-qr-code
                    .qr_code: img(src="./assets/img/qr-code.svg" alt="qr code")

                .popup-footer
                    .footer-text U kunt tot 14:55 uur (Nederlandse tijd) inloggen. Daarna verloopt uw sessie.
                    .popup-footer-links
                        a(href="#").popup-footer-link 
                            span »
                            | LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISICING ELIT
                        a(href="#").popup-footer-link
                            span »
                            | EIUSMOD TEMPOR INCIDIDUNT UT LABORE ET DOLORE MAGNA ALIQUA
                        a(href="#").popup-footer-link
                            span »
                            | LABORIS NISI UT ALIQUIP EX EA COMMODO CONSEQUAT.