extends ../layout/layout

block vars
    - var modal_shown=true
    
block content
    header.section.section-header
        include ../layout/includes/top-navbar

    - for (var i = 0; i < 32; i++)
        br

    .popups
        .popup.popup-auth
            .popup-backdrop
            .popup-content
                .popup-close.mdi.mdi-close

                .popup-title Inloggen bij Lorem ipsum dolor sit amet
                .popup-subtitle Scan de QR-code met de Forus

                .block.block-auth-type
                    .auth_type-item: .auth_type-item-inner
                        .auth_type-icon: img(src="./assets/img/icon-login-type/icon_login-type_qr.png" alt="login type qr")
                        .auth_type-name Login via de QR-Code
                    .auth_type-item: .auth_type-item-inner
                        .auth_type-icon: img(src="./assets/img/icon-login-type/icon_login-type_email.png" alt="login type email")
                        .auth_type-name Inloggen via E-mail

                .popup-footer
                    .footer-text U kunt tot 14:55 uur (Nederlandse tijd) inloggen. Daarna verloopt uw sessie.
                    .popup-footer-links
                        a(href="#").popup-footer-link 
                            span »
                            | LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISICING ELIT
                        a(href="#").popup-footer-link
                            span »
                            | EIUSMOD TEMPOR INCIDIDUNT UT LABORE ET DOLORE MAGNA ALIQUA
                        a(href="#").popup-footer-link
                            span »
                            | LABORIS NISI UT ALIQUIP EX EA COMMODO CONSEQUAT.