extends ../layout/layout
block content
    .header-splash: .splash.splash-c

    header.section.section-header
        include ../layout/includes/top-navbar
    
    section.section.section-product: .wrapper
        .block.block-breadcrumbs 
            .breadcrumb-item Home
            .breadcrumb-item Aanbiedingen
            .breadcrumb-item Product #707205
        
        .block.block-product
            .product-card
                .product-photo(style="background-image: url('./assets/img/placeholders/product-large.png')")
                    img(src="./assets/img/placeholders/product-large.png", alt="")
                    
                .product-details
                    .product-name
                        | Giant X-Ray 2 
                        span.label.label-success Active
                    .product-categories Bikes, Computers
                    
                    .product-funds
                        .product-fund-label Funds
                        .product-fund-list Kindpakket 2017, Kindpakket 2018

                    .product-price
                        .product-price-new € 24,95
                        .product-price-old € 59,95

                    .product-expire
                        .expire-label Expiration date
                        .expire-value 20 september 2020
                    
                    a(href="#").button.button-primary SUBMIT

            include ../layout/blocks/map_card

    include ../layout/sections/products-related 