extends ../layout/layout
block content
    .header-splash: .splash.splash-c

    header.section.section-header
        include ../layout/includes/top-navbar
    
    section.section.section-product: .wrapper
        .block.block-breadcrumbs 
            .breadcrumb-item Home
            .breadcrumb-item Aanbiedingen
            .breadcrumb-item Product #707205
        
        .block.block-product
            .product-card
                .product-photo(style="background-image: url('./assets/img/placeholders/product-large.png')")
                    img(src="./assets/img/placeholders/product-large.png", alt="")
                    
                .product-details
                    .product-name
                        | Giant X-Ray 2 
                        span.label.label-success Active
                    .product-categories Bikes, Computers
                    
                    .row
                        .col.col-sm-6: .product-funds
                            .product-fund-label Funds
                            .product-fund-list Kindpakket 2017, Kindpakket 2018

                        .col.col-sm-6: .product-funds
                            .product-fund-label Expiration date
                            .product-fund-list 20 september 2020

                    .product-funds-list
                        .fund-item
                            .fund-item-media: img.fund-item-media-img(src="../assets/img/placeholders/fund-thumbnail.png")
                            .fund-item-name Stadjerspas jongeren
                            .fund-item-limit
                                .fund-item-limit-label Aantal beschikbaar:
                                .fund-item-limit-value 2
                            .fund-item-price € 200,-
                        .fund-item
                            .fund-item-media: img.fund-item-media-img(src="../assets/img/placeholders/fund-thumbnail.png")
                            .fund-item-name ING Groep N.V. Dolor sit amet
                            .fund-item-limit
                                .fund-item-limit-label Aantal beschikbaar:
                                .fund-item-limit-value 7
                            .fund-item-price € 180,-
                        .fund-item
                            .fund-item-media: img.fund-item-media-img(src="../assets/img/placeholders/fund-thumbnail.png")
                            .fund-item-name Stadjerspas
                            .fund-item-limit
                                .fund-item-limit-label Aantal beschikbaar:
                                .fund-item-limit-value 7
                            .fund-item-price € 180,-

            include ../layout/blocks/map_card

    include ../layout/sections/products-related 