extends ../layout/layout

block content
    .header-splash: .splash.splash-c

    header.section.section-header
        include ../layout/includes/top-navbar
    
    .block.block-office
        .office-map
            .block.block-google-map
                .block-google-map-backdrop
                iframe(
                    allowfullscreen
                    frameborder="0" 
                    src="https://www.google.com/maps/embed/v1/place?q=Groningen, Netherlands&key=AIzaSyAGtyIwa3fytSaFTzIqDWdxZqdkLUzlYzM&zoom=16")
            
            .block.block-map-office-card
                .map-office-photo(style="background-image: url('/assets/img/placeholders/office-thumbnail.png');")
                .map-office-details
                    .map-office-title GSK Pharmacy from lorem ipsum dolor sit amet
                    .row
                        .col.col-lg-12: .map-office-info
                            .mdi.mdi-map-marker-outline.text-muted
                            | 10km
                            | &nbsp;
                            span.text-muted |
                            span.text-primary
                                | &nbsp;
                                | Ulgersmaweg 35, 9731BK, Groningen
                        .col.col-lg-12
                            .map-office-info.map-office-info-inline
                                .mdi.mdi-clock-outline.text-muted
                                | Closed
                            .map-office-info.map-office-info-inline
                                .mdi.mdi-phone-outline.text-muted
                                | 0615 261 612
                            .map-office-info.map-office-info-inline
                                .mdi.mdi-email-outline.text-muted
                                span.text-primary ulgersmaweg@rminds.nl
        .office-content
            .block.block-pane
                .pane-head General information
                .pane-section.pane-section-compact-vertical
                    .block.block-data-list
                        .data-list-row
                            .data-list-key Address:
                            .data-list-value Ulgersmaweg 35, 9731BK, Groningen
                        .data-list-row
                            .data-list-key Telephone:
                            .data-list-value 0615 261 612
                        .data-list-row
                            .data-list-key Distance from me.:
                            .data-list-value.text-muted
                                em.mdi.mdi-clock-outline
                                | Closed
                        .data-list-row
                            .data-list-key Distance from me.:
                            .data-list-value #{"> 10 km"}
                        .data-list-row
                            .data-list-key Categories:
                            .data-list-value
                                .label.label-default.label-sm Electronics
                                .label.label-default.label-sm Computer equipment
                                .label.label-default.label-sm Auto
            .block.block-pane
                .pane-head Bezorgtijden
                .pane-section.pane-section-compact-vertical
                    .block.block-schedule-list
                        .schedule-item
                            .schedule-day Maandag
                            .schedule-hours 08:00 - 18:00
                        .schedule-item
                            .schedule-day Dinsdag
                            .schedule-hours 08:00 - 18:00
                        .schedule-item
                            .schedule-day Woensdag
                            .schedule-hours 08:00 - 18:00
                        .schedule-item
                            .schedule-day Donderdag
                            .schedule-hours 08:00 - 18:00
                        .schedule-item
                            .schedule-day Vrijdag
                            .schedule-hours 08:00 - 18:00
                        .schedule-item
                            .schedule-day Zaterdag
                            .schedule-hours 08:00 - 18:00
                        .schedule-item
                            .schedule-day Zondag
                            .schedule-hours 08:00 - 18:00
            .block.block-pane
                .pane-head Parent organization
                .pane-section
                    .office-organization
                        .organization-photo: img(src="/assets/img/placeholders/organization-thumbnail.png" alt="").organization-photo-img
                        .organization-title
                            .organization-title-value GlaxoSmithKline
                            .organization-title-count 4
                        .organization-chevron: .mdi.mdi-chevron-right