extends ../layout/layout

block content
    .header-splash: .splash.splash-c

    header.section.section-header
        include ../layout/includes/top-navbar
    
    .block.block-provider
        .provider-map
            .block.block-google-map
                .block-google-map-backdrop
                iframe(
                    allowfullscreen
                    frameborder="0" 
                    src="https://www.google.com/maps/embed/v1/place?q=Groningen, Netherlands&key=AIzaSyAGtyIwa3fytSaFTzIqDWdxZqdkLUzlYzM&zoom=16")
            
            .block.block-map-office-card
                .map-office-photo(style="background-image: url('/assets/img/placeholders/office-thumbnail.png');")
                .map-office-details
                    .map-office-title GSK Pharmacy from lorem ipsum dolor sit amet
                    .row
                        .col.col-lg-12: .map-office-info
                            .mdi.mdi-map-marker-outline.text-muted
                            | 10km
                            | &nbsp;
                            span.text-muted |
                            span.text-primary
                                | &nbsp;
                                | Ulgersmaweg 35, 9731BK, Groningen
                        .col.col-lg-12
                            .map-office-info.map-office-info-inline
                                .mdi.mdi-clock-outline.text-muted
                                | Closed
                            .map-office-info.map-office-info-inline
                                .mdi.mdi-phone-outline.text-muted
                                | 0615 261 612
                            .map-office-info.map-office-info-inline
                                .mdi.mdi-email-outline.text-muted
                                span.text-primary ulgersmaweg@rminds.nl

        .provider-content
            .block.block-pane
                .pane-head General information
                .pane-section: .provider-details
                    .provider-description
                        img(src="/assets/img/placeholders/organization-thumbnail.png" alt="").provider-logo
                        .provider-title Lidl Nederland GmbH
                    .provider-description
                        | K.V.K. 320.614.46
                        br
                        | BTW-IDENTIFICATIENUMMER: NL804079043B01
                        br
                        | E-MAIL: CONTACT@LIDL.NL
                        br
                        br
                        | Nadere informatie over Lidl-filialen vindt u hier. Voor zover deze website links naar andere websites bevat, 
                        | ligt de inhoudelijke verantwoordelijkheid voor deze websites bij de betreffende beheerders. 
                        | Lidl heeft voor het toevoegen van links de inhouden van de websites op eventuele wetsovertredingen gecontroleerd. 
                        | Lidl heeft geen invloed op de inhoudelijke vormgeving van de gelinkte websites, waarmee 
                        | Lidl de inhouden van de websites uitdrukkelijk niet als de eigen erkent. Lidl controleert de betreffende websites regelmatig. 
                        | In zoverre Lidl kennis neemt van een wetsovertreding op een website, wordt de link naar deze per direct verwijderd. 
                        | Voor illegale, foutieve of onvolledige inhouden alsook voor schade die door gebruik of niet gebruik van de op 
                        | de gelinkte website staande informatie is onstaan, is uitsluitend de betreffende aanbieder verantwoordelijk.
                .pane-section.pane-section-compact-vertical
                    .block.block-data-list
                        .data-list-row
                            .data-list-key Address:
                            .data-list-value Ulgersmaweg 35, 9731BK, Groningen
                        .data-list-row
                            .data-list-key Telephone:
                            .data-list-value 0615 261 612
                        .data-list-row
                            .data-list-key Distance from me.:
                            .data-list-value.text-muted
                                em.mdi.mdi-clock-outline
                                | Closed
                        .data-list-row
                            .data-list-key Distance from me.:
                            .data-list-value #{"> 10 km"}
                        .data-list-row
                            .data-list-key Categories:
                            .data-list-value
                                .label.label-default.label-sm Electronics
                                .label.label-default.label-sm Computer equipment
                                .label.label-default.label-sm Auto

            .block.block-pane.last-child
                .pane-head.flex-row 
                    .flex-grow List offices
                    .pane-head-count 4
            
            .block.block-organizations
                .organization-item
                    .organization-offices(ng-if="$ctrl.showOffices"): .block.block-offices
                        mixin office_item()
                            .office-item
                                .office-item-map-icon: .mdi.mdi-map-marker
                                .office-pane
                                    .office-pane-block
                                        .office-logo: img(src="/assets/img/placeholders/office-thumbnail.png" alt="").office-logo-img
                                        .office-details
                                            .office-title GSK Pharmacy from lorem ipsum dolor sit amet
                                            .row: .col.col-lg-12: .office-info
                                                .mdi.mdi-map-marker-outline
                                                | 10km
                                                | &nbsp;
                                                span.text-muted |
                                                | &nbsp;
                                                .text-primary Ulgersmaweg 35, 9731BK, Groningen
                                            .row: .col.col-lg-12
                                                .office-info.office-info-inline
                                                    .mdi.mdi-clock-outline
                                                    | Closed
                                                .office-info.office-info-inline
                                                    .mdi.mdi-phone-outline
                                                    | 0615 261 612
                                                .office-info.office-info-inline
                                                    .mdi.mdi-email-outline
                                                    .text-primary ulgersmaweg@rminds.nl
                        
                        +office_item()
                        +office_item()
                        +office_item()
