extends ../layout/layout
block content
    .header-splash: .splash.splash-c

    header.section.section-header.section-header-voucher: .wrapper
        include ../layout/includes/top-navbar

    section.section.section-voucher-details: .wrapper

        .block.block-breadcrumbs
            a(href="#").breadcrumb-item Start
            a(href="#").breadcrumb-item Mijn vouchers
            a(href="#").breadcrumb-item.active voucher details

        .section-title Uw voucher
        .block.block-voucher
            .base-card.base-card-sponsor: .card-inner
                .card-body
                    .card-photo: img(src="./assets/img/placeholders/product-large.png", alt="")
                    .card-section
                        .card-title Hoe werkt het?
                        .card-description Een aanbieding-voucher kun u bij de aanbieder laten zien. De aanbieder kan de QR-code scannen om u uw product of dienst te leveren
                .card-footer
                    .card-label Heeft vragen over deze aanbieding? Neem contact met ons.
                    .card-value Lidl Groningen
                    .card-value.card-value-sm
                        | Address: 
                        strong Zuiderweg 48, 9745 AE Groningen
                        br
                        | Telephone: 
                        strong +31 20 709 5039
            .base-card.base-card-voucher
                .card-inner
                    .card-body.flex-row
                        .card-photo: img(src="./assets/img/placeholders/product-large.png", alt="")
                        .card-section
                            .label.label-success Ongebruikt
                            .card-title Giant X-Ray - super bike 200 plus &amp; lorem ipsum dolor sit amet, consectet...
                            a(href="#").card-read_more 
                                | Bekijk details
                                em.mdi.mdi-arrow-right
                            .card-label Budget
                            .card-value € 150.00
                    .card-footer
                        .card-section
                            .card-label Verzilver deze voucher voor:
                            .card-value 31 december 2019
                        .card-actions
                            .action-item
                                .action-item-icon
                                    em.mdi.mdi-share-variant
                                    .action-item-tooltip Lorem ipsum
                                .action-item-name SHARE
                            .action-item
                                .action-item-icon
                                    em.mdi.mdi-email-outline
                                    .action-item-tooltip Lorem ipsum
                                .action-item-name EMAIL
                            .action-item
                                .action-item-icon
                                    em.mdi.mdi-printer
                                    .action-item-tooltip Lorem ipsum
                                .action-item-name PRINTING
                .card-qr_code
                    img(src="./assets/img/qr-code.svg" alt="")
                    .card-qr_code-desc Deze QR-code repesenteert uw aanbieding

        include ../layout/blocks/transactions
        include ../layout/blocks/map_card

    include ../layout/sections/products-related 