h1, h2, h3, h4, h5, h6 {
    font-family: "Oranda", sans-serif !important;
}

.block {
    &.block-navbar {
        border-bottom: none;

        .navbar-inner {
            svg {
                path {
                    fill: var(--tc);
                }
    
                &:hover {
                    path {
                        fill: #176B55;
                    }
                }
            }
        }

        .block-auth {
            .button {
                font-weight: 600;
                text-transform: initial;
                color: var(--tc);

                svg {
                    path {
                        fill: var(--tc);
                    }
                }

                &:hover {
                    box-shadow: none;
                    color: #176B55;

                    svg {
                        path {
                            fill: #176B55;
                        }
                    }
                }
            }

            .auth-in {
                margin-left: 0;

                .auth-user {
                    .auth-user-avatar {
                        width: 30px;

                        &:after {
                            background-position: 10px 18px;
                        }
                    }

                    &:hover {
                        .auth-user-avatar {
                            &:after {
                                background: url(../img/identity-avatar-hover.svg) 10px 18px no-repeat;
                            }
                        }

                        .auth-user-caret {
                            color: #176B55;
                        }
                    }
                }
            }
        }

        .block-subnav {
            background-color: var(--bg-nav);
        }

        .navbar-list {
            .navbar-item-wrapper {
                .navbar-item {
                    &:hover {
                        &:before {
                            background: var(--color-primary);
                        }
                    }

                    &.active {
                        &:before {
                            top: auto;
                            bottom: 0;
                        }
                    }
                }

                .navbar-item.active:before {
                    top: auto;
                    bottom: 0;
                    background: var(--color-primary);
                }

                .navbar-item.hover:before {
                    top: auto;
                    bottom: 0;
                    background: var(--color-primary);
                }
            }
        }
    }

    @media screen and (min-width: 1000px) { 
        &.block-navbar {
            .navbar-inner {
                order: 2;
            }
    
            .block-navbar-search {
                max-width: 760px;
    
                .search-form.form {
                    .form-control {
                        border-radius: 10px;
                    }
                }
            }
        }

        &.block-products {
            display: flex;
            justify-content: center;
        }
    }

    @media screen and (max-width: 1000px) {
        &.block-navbar {
            position: sticky;

            .navbar-inner {
                background-color: var(--bg-nav);
            }

            .navbar-logo {
                img {
                    display: none;

                    &.hover {
                        display: block;
                    }
                }
            }

            .button {
                font-weight: 600;
                color: var(--tc);
            }
        }
    }

    &.block-products {
        .product-item {
            width: 100%;

            .product-item-inner {
                box-shadow: none;
                border: solid 1px #e4e4e4;
            }
        }
    }

    &.block-products-list {
        .product-item {
            box-shadow: none;
            border: solid 1px #e4e4e4;
        }
    }

    &.block-showcase {
        &.block-showcase-fullscreen {
            .showcase-layout {
                .showcase-aside {
                    .showcase-aside-block {
                        padding-left: 20px;
                    }
                }
            }
        }

        .showcase-layout {
            .showcase-aside {
                .showcase-aside-block {
                    box-shadow: none;
                    padding-left: 0;
                }
            }
        }
    }

    &.block-profile {
        .profile-aside {
            .profile-menu {
                .profile-menu-item {
                    box-shadow: none;
                    border: solid 1px #e4e4e4;
                }
            }
        }
    }

    &.block-organizations {
        .organization-item {
            .organization-pane {
                box-shadow: none;
                border: 1px solid #e4e4e4;

                &.active {
                    border: 1px solid #e4e4e4;
                }
            }

            .organization-offices {
                .block-offices {
                    box-shadow: none;
                    border: 1px solid #e4e4e4;
                }
            }
        }
    }

    &.block-funds-list {
        .fund-item {
            box-shadow: none;
            border: 1px solid #e4e4e4;
        }
    }
    
    &.block-fund {
        .fund-content {
            padding-bottom: 30px;
            border-bottom: 1px solid var(--border-color);

            .fund-card {
                background: none;
                box-shadow: none;

                .fund-details {
                    padding: 0;
                }
            }
        }
    }

    &.block-pane {
        box-shadow: none;
        border: 1px solid #e4e4e4;;
    }

    &.block-markdown {
        color: #212121;
        
        a:not(.button) {
            color: #950022;

            &:hover {
                text-decoration: none;
            }
        }
    }

    &.block-voucher {
        .base-card {
            box-shadow: none;
            border: 1px solid #e4e4e4;

            &.base-card-voucher{
                box-shadow: none;
                border: 1px solid #e4e4e4;
            }
        }
    }

    &.block-vouchers {
        .voucher-item {
            box-shadow: none;
            border: 1px solid #e4e4e4;
        }
    }

    &.block-map_card {
        box-shadow: none;
        border: 1px solid #e4e4e4;
    }

    &.block-search-results {
        .search-item {
            box-shadow: none;
            border: 1px solid #e4e4e4;
        }
    }

    @media screen and (min-width: 1000px) {
        &.block-products, &.block-subsidies {
            max-width: 1280px;
            margin: 0 auto;
        }
    }
}

.form {
    .form-control:not([type="radio"]):not([type="checkbox"]) { 
        background-color: #ffffff;
        border: 1px solid #e4e4e4;
    }
}

.section {
    &.section-header {
        width: 1280px;
        background-position: top center;
        padding: 50px 0;
        margin: 0 auto;
        max-width: 100%;

        .header-content {
            text-align: center;

            .header-description p {
                text-align: center !important;
            }

            .header-how-it-works {
                font: 600 20px/20px var(--base-font);
                color: #950022;
                text-decoration: none;
            }
        }

        &.section-header-landing {
            margin-top: 24px;
        }
    }

    &.section-fund {
        .wrapper {
            padding-top: 20px;
            width: 1000px;
        }
    }

    &.section-faq {
        .faq {
            width: auto;
            margin: 0;
        }
    }

    &.section-footer {
        margin-top: 0;
        padding-top: 30px;
        color: #fff;

        .block.block-markdown {
            color: #fff;

            h1, h2, h3, h4, h5, h6 {
                font: 400 22px/32px 'Oranda';
            }

            a:not(.button) {
                color: #fff;
            }
        }
    }

    @media screen and (min-width: 1000px) { 
        &.section-header { 
            height: 500px;
            padding: 75px 0;
        
            .header-content {
                text-align: left;
                padding: 50px 50px;
                margin-left: 50px;
                background-color: #ffffff;
                text-align: left;
        
                .header-description p {
                    text-align: left !important;
                }
            }
        }

        &.section-products {
            width: 100vw;
            background: #F5F5F5;
            left: calc(-50vw + 50%);
            padding: 30px 0 30px 0;
            margin: 0;
    
            .section-title {
                margin-top: 0;
            }
        }    
    }
}

.block {
    &.block-footer {
        .footer-label {
            color: #fff;
        }

        .footer-nav {
            .footer-nav-item {
                a {
                    color: #efefef;
                    font: 500 16px/1.5em var(--base-font);
                }
            }
        }

        .footer-schedule {
            .schedule-label {
                color: #fff;
            }

            .schedule-value {
                color: #fff;
            }
        }

        .footer-subscribe {
            .button {
                margin: 0;
                border-radius: var(--border-radius);

                .mdi {
                    float: none;
                }
            }
        }
    }

    &.block-copyrights {
        border: none;
        background-color: #212121;
        color: #fff;
        font-size: 1rem;
        padding: 25px 0;

        .copyrights {
            color: #fff;
        }

        .links {
            a {
                color: #fff;
            }
        }
    }
}