.block.block-download-me-app
    .download__title Je wordt doorverwezen naar de app store voor uw apparaat.
    .download__subtitle Gebeurt dit niet?
    .download__buttons
        a.download__buttons-item(id="ios_button" href="{{ $ctrl.iosLink }}")
            img(src="/assets/img/landing/ios.png" alt="")
        a.download__buttons-item(id="android_button" href="{{ $ctrl.androidLink }}")
            img(src="/assets/img/landing/android.png" alt="")