.block.block-download-me-app
    .download-title Je wordt doorverwezen naar de app store voor uw apparaat.
    .download-subtitle Gebeurt dit niet?
    .download-buttons
        a.download-buttons-item(id="ios_button" href="{{ $ctrl.iosLink }}")
            img(src="/assets/img/landing/ios.png" alt="")
        a.download-buttons-item(id="android_button" href="{{ $ctrl.androidLink }}")
            img(src="/assets/img/landing/android.png" alt="")