.header-splash: .splash
    
header.section.section-header: .wrapper
    landing-navbar
    
    .header-body
        .header-content
            .header-title Meld je aan als gemeente en maak een regeling aan.
            .header-description 
                | Een platform om gemeentelijke regelingen doelmatig, rechtmatig en efficient uit te geven aan inwoners.
                br
                br
        .header-sprite(
            style="background-image: url('./assets/img/landing/header-sprite-sponsor.png')")
        .block.block-cards
            .card-item: .card-item-inner
                .card-icon: img(src="./assets/img/landing/icon-cards/icon-card-money.png")
                .card-content
                    .card-title Een innovatieve regeling
                    .card-description Een programeerbare bankrekening resulteert in dat het budget bij iedere transactie gelijk over wordt gemaakt aan de aanbieder. 
            .card-item: .card-item-inner
                .card-icon: img(src="./assets/img/landing/icon-cards/icon-card-wallet.png")
                .card-content
                    .card-title Bepaal zelf de bestedingsruimte
                    .card-description Stel de hoogte van de uitgifte in en bepaal bij welke aanbieders het budget uitgegeven mag worden.

section.section.section-flow: .wrapper
    .section-title Word onderdeel van een innovatieve beweging
    .section-description Doe mee aan ons platform door onderstaande stappen te volgen.
    img(src="./assets/img/landing/forus-flow-sponsor.png").section-scheme
    .block.block-show-more: a(href="#").button.button-primary Maak een identiteit

section.section.section-blogs: .wrapper
    .block.block-blogs
        mixin blog_item(nth)
            .blog-item: a(href="#").blog-item-inner
                .blog-image: img(src="./assets/img/landing/blog-image-" + nth + ".jpg")
                .blog-name The only thing worse than being blind is having sight but no vision.
                .blog-read-more 
                    | Read more 
                    em.mdi.mdi-arrow-right
        +blog_item(1)
        +blog_item(2)
        +blog_item(3)
        .block.block-show-more: .wrapper: a(href="#").button.button-primary SHOW MORE

landing-contact-form