.header-splash: .splash

header.section.section-header: .wrapper
    landing-navbar
    
    .header-body
        .header-content
            .header-title Meld je aan als winkelier of dienstverlener
            .header-description Bereik meer klanten, maak meer winst en draag bij aan een maatschappelijk doel.
        .header-sprite(
            style="background-image: url('./assets/img/landing/vouchers-sprite.svg')")
        .block.block-cards
            .card-item: .card-item-inner
                .card-icon: img(src="./assets/img/landing/icon-cards/icon-card-money.png")
                .card-content
                    .card-title Gemeentes zoeken partners
                    .card-description Een gemeente wil zijn budget op een bepaalde manier in de samenleving laten landen. Je kunt hen helpen bij dit doel.
            .card-item: .card-item-inner
                .card-icon: img(src="./assets/img/landing/icon-cards/icon-card-wallet.png")
                .card-content
                    .card-title Doe mee aan een regeling 
                    .card-description Een gemeente zet een bepaalt budget uit. Verdien geld door deel te nemen en inwoners te helpen met jouw aanbiedingen.

section.section.section-flow: .wrapper
    .section-title Word onderdeel van een innovatieve beweging
    .section-description Doe mee aan ons platform door onderstaande stappen te volgen, maak een organisatie aan, verkoop jouw producten of diensten en trek nieuwe klanten aan.
    img(src="./assets/img/landing/forus-flow-provider.png").section-scheme
    .block.block-show-more: a(href="#").button.button-primary Registreren

section.section.section-blogs: .wrapper
    .block.block-blogs
        mixin blog_item(nth)
            .blog-item: a(href="#").blog-item-inner
                .blog-image: img(src="./assets/img/landing/blog-image-" + nth + ".jpg")
                .blog-name The only thing worse than being blind is having sight but no vision.
                .blog-read-more 
                    | Read more 
                    em.mdi.mdi-arrow-right
        +blog_item(1)
        +blog_item(2)
        +blog_item(3)
        .block.block-show-more: .wrapper: a(href="#").button.button-primary SHOW MORE

landing-contact-form