header.section.section-header
    landing-navbar
.header-splash: .splash
    .wrapper
        .header-body
            .header-content
                .header-title {{ "home_provider.header.title" | translate }}
                .header-description {{ "home_provider.header.subtitle" | translate }}
            .header-sprite(
                style="background-image: url('./assets/img/landing/vouchers-sprite.svg')")
            //-.block.block-cards
                .card-item: .card-item-inner
                    .card-icon: img(src="./assets/img/landing/icon-cards/icon-card-money.png")
                    .card-content
                        .card-title {{ "home_provider.labels.partners" | translate }}
                        .card-description {{ "home_provider.labels.description" | translate }}
                .card-item: .card-item-inner
                    .card-icon: img(src="./assets/img/landing/icon-cards/icon-card-wallet.png")
                    .card-content
                        .card-title {{ "home_provider.labels.join" | translate }}
                        .card-description {{ "home_provider.labels.subdescription" | translate }}
if (qdt_c.platform.env_data.client_key == 'westerkwartier')
    section.section.section-flow: .wrapper
        .block.block-show-more: a(href="../provider/#!/sign-up" translate="home_sponsor.guide.button").button.button-primary

section.section.section-faq: .wrapper
    .section-splash
    .section-title Veel gestelde vragen
    .faq(collapse)
        mixin faq_item(title, content, active)
            .faq-item(class=active?'active':'' collapse-item)
                .faq-item-header(collapse-header)
                    | #{title}
                    .faq-item-chevron-down.mdi.mdi-chevron-down
                    .faq-item-chevron-up.mdi.mdi-chevron-up
                .faq-item-content(collapse-content)=content

        +faq_item(
            "Wat zijn de technische vereisten om mee te doen?",
            "Een smartphone op de locatie van uw organisatie. Android verreist: 4.3 en hoger. iOS vereist: 10.0 en hoger. Een computer met een willekeurige internet browser. Internet Explorer: 10 of hoger")

        +faq_item(
            "Hoe gaat het met uitbetalen?",
            "Als eerste scan de QR-code van de inwoner. Ten tweede vul het bedrag van de betaling in en eventueel een omschrijving. Als laatste bevestig de betaling in de app. Het geld wordt binnen drie werkdagen op de rekening bijgeschreven.")

        +faq_item(
            "Hoe kan ik mijn transacties in zien?",
            "Naast de mobiele applicatie kunt u ook gebruik maken van de gebruikersomgeving voor organisaties. Hier kunt u het profiel van de organisatie beheren, transacties bijhouden en aanbiedingen op de webshop plaatsen. Het gebruik maken van de gebruikersomgeving is optioneel.")
            
//- section.section.section-blogs: .wrapper
    .block.block-blogs
        mixin blog_item(nth)
            .blog-item: a(href="#").blog-item-inner
                .blog-image: img(src="./assets/img/landing/blog-image-" + nth + ".jpg")
                .blog-name The only thing worse than being blind is having sight but no vision.
                .blog-read-more 
                    | Read more 
                    em.mdi.mdi-arrow-right
        +blog_item(1)
        +blog_item(2)
        +blog_item(3)
        .block.block-show-more: .wrapper: a(href="#").button.button-primary SHOW MORE

//- landing-contact-form
