.container-me
    .wrapper.wrapper_me
        .column
            h1 Ove Me
            p  De Me app is jouw digitale portemonnee en kassa. Je gebruikt Me om vouchers te bewaren of betalingen te verrichten. Daarnaast gebruik je Me om zonder wachtwoord in te loggen op Forus.
        .column 
            img(src="assets/img/image-me-01.png")
    .wrapper.wrapper_reason
            h2 Me als stadspas
            p  Me biedt een eenvoudige manier om middelen doelmatig uit te geven in de vorm van vouchers, en is daardoor bijvoorbeeld een moderne en praktische stadspas. De app is voor ontvangers echter optioneel; er kan ook een geprinte voucher worden gebruikt.
    .wrapper.wrapper_feature_one
        .column
            img(src="assets/img/image-me-02.png")
        .column
            h2 Beheer vouchers
            p  Heb je een voucher ontvangen vanuit Forus? Log dan in op Me om je voucher veilig mee te nemen, je saldo en transacties in te zien, en om de voucher eenvoudig te presenteren aan de aanbieder.
    .wrapper.wrapper_feature_two
        .column
            h2 Accepteer betalingen
            p  Ben je een aanbieder die is aangesloten op Forus? Dan heb je Me nodig om QR-codes te scannen en betalingen te kunnen ontvangen. Het is mogelijk om meerdere kassa medewerkers aan de zelfde organisatie toe te voegen.
        .column
            img(src="assets/img/image-me-03.png")
    .wrapper.wrapper_feature_three
        .column
            img(src="assets/img/image-me-04.png")
        .column
            h2 Login zonder wachtwoord
            p  Met Me wordt het mogelijk om eenvoudig, zonder wachtwoord, in te loggen op Forus. Heb je een voucher ontvangen, of ben je medewerker bij een betrokken organisatie? Gebruik Me om de QR code op de website te scannen en in te loggen op jouw omgeving.
    