.block {
    &.block-apply_fund {
        @include cf();

        .apply_fund-aside {
            width: 340px;
            float: left;
            position: relative;
            z-index: 2;

            .apply_fund-card {
                background: #fff;
                border-radius: 10px;
                box-shadow: 0 5px 30px rgba(#000, .05);
                margin-bottom: 30px;
                cursor: default;

                .fund-image {
                    padding: 30px;

                    img {
                        display: block;
                        margin: 0 auto;
                    }
                }

                .fund-details {
                    padding: 20px;

                    .fund-name {
                        font: 700 18px $bf;
                        color: #00122a;
                        margin-bottom: 5px;
                        @include ellipsis();

                        .label {
                            vertical-align: middle;
                            margin-top: -7px;
                            margin-bottom: -3px;
                        }
                    }
                    
                    .fund-organization {
                        font: 600 13px $bf;
                        color: #009ef4;
                    }
                }

                .fund-criterias {
                    padding: 20px;
                    border-top: 1px solid #d4d9dd;

                    .fund-criterias-label {
                        color: #00122a;
                        font: 700 16px $bf;
                        margin-bottom: 15px;
                    }

                    .fund-criteria-item {
                        width: 100%;
                        margin-bottom: 5px;
                        @include cf();

                        .fund-criteria-item-label {
                            font: 400 13px/20px $bf;
                            color: #134478;
                            width: 120px;
                            float: left;
                        }

                        .fund-criteria-item-value {
                            font: 700 13px $bf;
                            color: #282b39;
                            float: left;
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }

            .apply_fund-menu {
                width: 100%;

                .button {
                    margin-bottom: 15px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
        
        .apply_fund-content {
            padding-left: 370px;
            width: 375px;
            float: left;
            position: relative;
            z-index: 1;
            width: 100%;
            margin-left: -340px;
        }
    }
}