&.block-auth-2fa {
    --success-icon-color: #39B924;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 20px;
    color: #595959;
    cursor: default;

    .auth-2fa-description {
        font: 400 14px/20px var(--base-font);
        margin: 0 0 20px;
    }

    .auth-2fa-item {
        margin: 0 0 15px;
        display: flex;

        .auth-2fa-item-icon {
            margin-right: 20px;
            display: inline-flex;
            flex-direction: column;
            justify-content: center;

            .mdi {
                width: 50px;
                height: 50px;
                display: flex;
                background-color: #F4F4F4;
                border-radius: var(--border-radius);
                line-height: 50px;
                font-size: 20px;
                color: #848484;
                justify-content: center;
            }
        }

        .auth-2fa-item-title {
            font: 600 16px/30px var(--base-font);
            padding: 10px 0;
            margin-right: 10px;
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
        }

        .auth-2fa-item-label {
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            font: 600 13px/24px var(--base-font);

            .mdi {
                font-size: 16px;
                line-height: 24px;
                color: var(--success-icon-color);
                padding-right: 5px;
            }
        }

        .auth-2fa-item-space {
            display: inline-flex;
            flex-grow: 1;
        }

        .auth-2fa-item-actions {
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    @media screen and (max-width: 1000px) {
        .auth-2fa-item {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;

            .auth-2fa-item-title {
                flex-grow: 100;
                padding: 0;
                font: 700 13px/24px var(--base-font);
                color: #222;
                margin-right: 5px;
            }

            .auth-2fa-item-icon {
                margin-right: 8px;

                .mdi {
                    font-size: 18px;
                    line-height: 18px;
                    background: none;
                    width: auto;
                    height: auto;
                }
            }

            .auth-2fa-item-label {
                font: 600 11px/24px var(--base-font);

                .label {
                    font: 600 10px/10px var(--base-font);
                    padding: 5px;
                }

                .mdi, span {
                    line-height: 24px;
                }
            }

            .auth-2fa-item-actions {
                margin-top: 20px;
                width: 100%;

                .button {
                    flex-grow: 1;
                    justify-content: center;
                    font: 600 11px/11px var(--base-font);
                }
            }

            .auth-phone-details {
                width: 100%;
                border-radius: var(--border-radius);
                border: 1px solid #E5E5E5;
                background: #FBFBFB;
                padding: 12px;
                margin-top: 15px;

                .auth-item-icon {
                    margin-right: 10px;

                    .mdi {
                        color: #282B39;
                    }
                }

                .auth-phone-details-title {
                    font: 600 13px/13px var(--base-font);
                    margin-bottom: 7px;
                }

                .auth-phone-details-subtitle {
                    align-items: center;
                    font: 600 12px/12px var(--base-font);
                    margin-bottom: 7px;

                    .auth-phone-details-phone {
                        margin-right: 5px;
                    }

                    .label {
                        color: #FFF;
                        padding: 3px 4px;
                        font: 600 11px/11px var(--base-font);
                        background: #31B0A1;
                    }
                }

                .auth-phone-details-description {
                    font: 400 11px/11px var(--base-font);
                    color: #151B26;
                }
            }
        }
    }
}