&.block-search-results {
    .search-wrapper {
        display: flex;
        width: 100%;
        margin: 0 0 15px;
    }

    .search-item {
        position: relative;
        background: #ffffff;
        box-shadow: $base_shadow;
        border-radius: $border_radius;
        display: flex;
        flex-direction: row;
        transition: box-shadow 0.4s;
        width: 100%;

        .search-media {
            display: flex;
            width: 120px;
            min-width: 120px;
            overflow: hidden;
            background-size: cover;
            background-position: 50% 50%;
            border-top-left-radius: inherit;
            border-bottom-left-radius: inherit;
            position: relative;

            img {
                display: block;
                width: 100%;
                object-fit: cover;
            }

            &:after {
                content: "";
                background: #394260;
                opacity: 0;
                transition: 0.4s;
                width: 100%;
                @include fill_parent();
            }
        }

        .search-status-label {
            position: absolute;
            top: 20px;
            right: 20px;
        }

        .search-actions {
            display: flex;
            margin-bottom: 30px;
            flex-direction: row;
            justify-content: flex-end;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .search-content {
            position: relative;
            display: flex;
            flex-direction: row;
            width: 100%;
        }

        .search-details {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 15px;
            flex: 1;

            .search-title {
                font: 700 16px/26px $bf;
                margin: 0;
            }

            .search-subtitle {
                font: 400 14px/20px $bf;
                max-width: 440px;
                margin: 0 0 0;
            }
        }

        .search-actions {
            padding: 15px;
            border-left: 1px solid $border_color;
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            flex-direction: row-reverse;
            flex: 0 1 160px;

            &.with-button {
                align-items: center;
                justify-content: center;
            }

            .search-price {
                font: 700 17px/30px $bf;
                position: relative;
                width: 135px;
                text-align: right;
                width: 100%;
            }

            .search-discount {
                position: relative;
                width: 85px;
            }
        }

        &:hover {
            box-shadow: 2px 5px 15px rgba($color: #000000, $alpha: 0.1);

            .search-media {
                &:after {
                    opacity: 0.05;
                }
            }
        }

        &.search-item-fund,
        &.search-item-provider {
            .search-media {
                img {
                    margin: -12.5% 0;
                }
            }
        }
    }

    &.block-search-results-grid {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex-flow: wrap;

        .search-wrapper {
            flex-basis: 33.333%;
            padding: 0 10px;
            margin: 0 0 30px;

            &:nth-child(3n+1) {
                padding-left: 0;
                padding-right: 20px;
            }

            &:nth-child(3n+3) {
                padding-right: 0;
                padding-left: 20px;
            }
        }

        .search-item {
            flex-direction: column;

            .search-media {
                width: 100%;
                border-radius: 0;
                border-top-left-radius: inherit;
                border-top-right-radius: inherit;
            }

            .search-content {
                flex-direction: column;
                border-top: 1px solid #dbdcdb;
            }

            .search-actions {
                position: absolute;
                bottom: 100%;
                background: #fff;
                width: auto;
                right: 0;
                padding: 2.5px 10px;
                border: none;
                border-top: 1px solid #dbdcdb;
                border-left: 1px solid #dbdcdb;
                margin-bottom: -1px;
            }

            .search-status-label {
                top: 12.5px;
                right: 15px;
            }
        }
    }
    
    @media screen and (max-width: 1200px) {
        &.block-search-results-grid {
            .search-wrapper {
                flex-basis: 50%;

                &:nth-child(2n+1) {
                    padding-left: 0;
                    padding-right: 15px;
                }
    
                &:nth-child(2n+2) {
                    padding-right: 0;
                    padding-left: 15px;
                }
            }
        }
    }

    @media screen and (max-width: 1000px) {
        .search-item {
            min-height: 80px;
            position: relative;
            border-radius: $border_radius / 2;

            .search-photo {
                width: 250px;
                min-width: 100px;
                border-right: 1px solid $border_color;

                img {
                    width: 100%;
                }
            }

            .search-content {
                flex-direction: column;
                flex-grow: 1;
                padding: 15px;
            }

            .search-details {
                width: 100%;
                border: none;
                padding: 0 0 10px;
                flex-grow: 0;

                .search-title {
                    font: 700 13px/18px $bf;
                    margin: 0;
                }

                .search-subtitle {
                    font: 400 12px/18px $bf;
                    margin: 0;
                }
            }

            .search-actions {
                display: flex;
                width: 100%;
                border: none;
                padding: 0;
                flex-direction: row;
                flex: 1;

                .label {
                    line-height: 18px;
                    margin-bottom: 0;
                }

                .search-price {
                    font: 700 13px/18px $bf;
                    width: auto;
                }

                .search-discount {
                    position: absolute;
                    left: 0;
                    top: 0;
                    border-radius: $border_radius / 2 0 0 0;
                }
            }
        }
    }

    @media screen and (max-width: 480px) {
        &.block-search-results-grid {
            .search-wrapper {
                flex-basis: 100%;
    
                &:nth-child(1n+1) {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
    }
}
