.block.block-product-request {
    padding: 30px 0;
    cursor: default;

    .block-title {
        font: 500 36px/36px $bf;
        text-align: center;
        color: #191A1C;
    }

    .block-icon {
        text-align: center;
        font-size: 96px;
        padding: 100px 0 40px;
        color: #007377;
    }

    .block-description {
        font: 400 18px/26px $bf;
        text-align: center;
        color: #191A1C;
        margin: 0 0 40px;

        strong, a {
            font-weight: 600;
        }

        a {
            color: #3561FF;
            text-decoration: underline;
        }
    }

    .request-progress {
        width: 100%;
        display: flex;
        margin: 0 0 30px;

        .request-step {
            flex-grow: 1;
            text-align: right;
            border-top: 6px solid #EBEDF0;
            font: 500 14px/30px $bf;
            color: #DADADA;

            &.request-step-active {
                border-top-color: #BDCBFF;
                color: #315EFD;
            }

            &.request-step-done {
                border-top-color: #3561FF;
                color: #3561FF;
            }
        }
    }

    .request-pane {
        background: #FFFFFF;
        border: 1px solid #EBEDF0;
        box-sizing: border-box;
        border-radius: 5px;
        
        .request-pane-header {
            border-bottom: 1px solid #EBEDF0;
            font: 500 21px/34px $bf;
            padding: 15px 40px;
            text-align: center;
        }

        .request-pane-body {
            padding: 25px 40px;

            .request-pane-text {
                font: 400 18px/26px $bf;
                text-align: center;
                margin: 0 0 25px;
            }

            .request-pane-heading {
                font: 500 21px/30px $bf;   
            }
        }

        .request-pane-footer {
            padding: 15px 40px;
        }
    }

    
    .block-wrapper {
        width: 750px;
        max-width: 100%;
        margin: 0 auto 40px;
    }
}