&.block-error-page {
    display: flex;
    flex-direction: column;
    height: 100vh;

    &>.wrapper {
        justify-content: 'center';
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
        text-align: center;
        padding-bottom: 100px;

        .page-not-found-title {
            font: 600 164px/189px arial, "Open Sans", sans-serif;
            color: #D0D0D0;
        }

        .page-not-found-subtitle {
            font: 600 26px/30px arial, "Open Sans", sans-serif;
            color: #303030;
            margin-bottom: 30px;
        }
    }
}