&.block-fund-requests {
    margin: 0 0 20px;

    .fund-request-item {
        display: grid;
        grid-template-columns: 145px 1fr;
        background-color: #fff;
        border-radius: var(--border-radius);
        margin-bottom: 15px;
        box-shadow: var(--box-shadow);
        position: relative;
        transition: 0.4s;
        min-height: 135px;
        cursor: default;

        .fund-request-image {
            display: flex;
            width: 100%;
            position: relative;
            flex-direction: column;
            justify-content: flex-start;
            background-color: #fff;
            padding: 15px 0 15px 15px;

            img {
                display: block;
                width: 100%;
                border-radius: calc(var(--border-radius) / 2);
            }
        }

        .fund-request-container {
            padding: 15px;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            overflow: hidden;

            .fund-request-section {
                display: flex;
                flex-direction: row;
                flex-grow: 1;
                gap: 5px;

                .fund-request-details {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    overflow: hidden;
                    word-wrap: break-word;
        
                    .fund-request-name {
                        font: 700 18px/27px var(--hf);
                        margin: 0 0 5px;
                        color: #282b39;
                    }
        
                    .fund-request-subtitle {
                        font: 400 13px/18px var(--base-font);
                        color: #222222;
                        margin-bottom: 10px;
        
                        span {
                            font-weight: 600;
                        }
                    }
                }
    
                .fund-request-overview {
                    display: flex;
                    flex-direction: column;

                    .label {
                        align-self: flex-start;
                    }
                }
            }
        }

        .fund-request-footer,
        .fund-request-values {
            display: flex;
            flex-direction: row;

            .label {
                cursor: inherit;
            }

            .fund-request-values-date,
            .fund-request-values-label {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .fund-request-values-date {
                flex-direction: column;
                text-align: right;
                flex-grow: 1;
            }

            .fund-request-value-title {
                padding: 0;
                font: 400 11px/16px var(--base-font);
                color: #353535;
            }

            .fund-request-value {
                font: 600 14px/21px var(--base-font);
                color: #222222;
            }
        }

        .fund-request-footer {
            display: none;
            padding: 10px 15px;
            border-top: 1px solid var(--border-color);
            background-color: #fbfbfb;
            grid-column-start: 1;
            grid-column-end: col2-end;

            .fund-request-values-date {
                text-align: left;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }

    @media screen and (max-width: 767px) {
        .fund-request-item {
            grid-template-columns: 70px 1fr;

            .fund-request-image {
                padding: 10px 0 10px 10px;
            }

            .fund-request-container {
                padding: 10px 15px 10px 10px;

                .fund-request-section {
                    flex-direction: column-reverse;
    
                    .fund-request-details {
                        .fund-request-name {
                            font: 700 14px/20px var(--hf);
                            margin: 0 0 5px;
                        }
            
                        .fund-request-subtitle {
                            font-size: 11px;
                            margin: 0
                        }
                    }
                }
            }

            .fund-request-footer,
            .fund-request-values {
                .fund-request-value {
                    font: 600 12px/20px var(--base-font);
                }
            }

            .fund-request-values {
                display: none;
            }

            .fund-request-footer {
                display: flex;
            }
        }
    }
}
