&.block-key-value-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 0;

    .block-key-value-list-item {
        display: flex;
        flex-direction: row;
        gap: 15px;
        min-width: 0;

        .key-value-list-item-label,
        .key-value-list-item-value {
            display: flex;
            min-width: 0;
            word-wrap: break-word;
            flex-direction: column;
            justify-content: flex-start;
        }

        .key-value-list-item-label {
            flex: 0 0 200px;
            color: #595959;
            font: 600 14px/20px var(--base-font);
        }

        .key-value-list-item-value {
            flex: 1 1 auto;
            color: #222222;
            font: 600 14px/20px var(--base-font);

            a {
                font: inherit;
                color: #004d93;
            }
        }
    }

    &.block-key-value-list-pane {
        padding: 20px;
        background-color: #f4f5f7;
        border-radius: var(--border-radius);
    }

    @media screen and (max-width: 1000px) {
        gap: 15px;

        .block-key-value-list-item {
            flex-direction: column;
            gap: 2px;

            .key-value-list-item-label,
            .key-value-list-item-value {
                flex: 0 0 auto;
            }

            .key-value-list-item-label {
                font: 500 12px/16px var(--base-font);
            }

            .key-value-list-item-value {
                font: 600 13px/18px var(--base-font);
            }
        }


        &.block-key-value-list-pane {
            padding: 15px;
        }
    }
}
