&.block-markdown {
    text-align: justify;
    font: 400 16px/24px $bf;
    margin-bottom: 30px;

    h1 {
        font: 500 2.5em $hf;
        color: $htc;
        margin: 30px 0 30px 0;
        text-align: left;
    }

    h2 {
        font: 500 2em $hf;
        color: $htc;
        margin: 30px 0 30px 0;
        text-align: left;
    }

    h3 {
        font: 500 1.5em $hf;
        color: $htc;
        margin: 0 0 0.9em;
        text-align: left;
    }

    h4 {
        font: 500 1.25em $hf;
        color: $htc;
        margin: 0 0 0.9em;
        text-align: left;
    }

    p {
        margin-bottom: 15px;
        text-align: justify;
        /*font: inherit*/
    }

    ul, ol {
        margin: 0 0 15px;
        padding-left: 18px;

        li {
            /*font: inherit*/
        }
    }

    ul {
        list-style: disc;
    }

    a:not(.button) {
        color: $tc-link;
        font-weight: 500;
        transition: 0.4s;
        /*font: inherit*/
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    strong,
    b {
        /*font: inherit*/
        font-weight: 700;
    }

    i,
    em {
        /*font: inherit*/
        font-style: italic;
    }

    img {
        max-width: 100% !important;
        height: auto !important;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        margin: 0 0 20px;
        /*font: inherit*/

        thead {
            display: none;
        }
    
        tr {
            text-align: left;
            /*font: inherit*/
    
            td,
            th {
                padding: 15px 15px;
                cursor: default;
                border-bottom: 1px solid #d4d9dd;
                transition: 0.3s;
    
                &>a {
                    /*font: inherit*/
                }
            }
    
            td {
                color: #444a4f;
                /*font: inherit*/
    
                &:first-child {
                    padding-left: 25px;
                }
    
                &:last-child {
                    padding-right: 25px;
                }
            }

            &:first-child {
                th, td {
                    color: #646f79;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    font: 700 12px/20px $bf;

                    * {
                        color: inherit;
                        /*font: inherit*/
                    }
                }
            }
    
            &:last-child {
                td {
                    border-bottom: none;
                }
            }
        }

        &>tr,
        &>thead:last-child>tr,
        &>tbody:last-child>tr {
            &:last-child {

                td,
                th {
                    border-bottom: 0;
                }
            }
        }
    }

    .youtube-root {
        padding-top: 56.25%;
        position: relative;

        iframe {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
        }
    }

    .markdown-wrapper {
        margin-bottom: -15px;
    }

    &.block-markdown-left {
        text-align: left !important;

        * {
            text-align: left !important;
        }
    }

    &.block-markdown-center {
        text-align: center !important;

        * {
            text-align: center !important;
        }
    }

    &.block-markdown-right {
        text-align: right !important;

        * {
            text-align: right !important;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 1000px) {
    &.block-markdown {
        font: 400 14px/22px $bf !important;

        h1 {
            font: 500 1.8em $hf;
            margin-bottom: 1em;
        }

        h2 {
            font: 500 1.6em $hf;
            margin-bottom: 1em;
        }

        h3 {
            font: 500 1.3em $hf;
            margin-bottom: 1em;
        }
    }
}