$bf: 'Montserrat', arial, sans-serif;

&.block-steps {
    .block-steps-description {
        font: 400 16px/28px $bf;
        text-align: center;
        color: #191A1C;
        width: 820px;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;

        ul, ol {
            text-align: left;
            // list-style-position: inside;

            li {
                padding-left: 15px;
                font: 400 16px/28px $bf;
            }
        }

        p {
            font: 400 16px/28px $bf;
        }
    }
}