.block.block-push-notifications {
    position: fixed;
    right: 15px;
    top: 100px;
    width: 290px;
    z-index: 100;

    .notification {
        background: #fff;
        box-shadow: 5px 10px 30px rgba(#000, .2);
        border-radius: 6px;
        margin: 0 0 -59px;
        padding: 20px 30px 20px 45px;
        position: relative;
        font: 500 13px/18px $bf;
        color: #262626;
        width: 100%;
        cursor: default;
        background: #faf9f5;
        transform: translate(120%, 0);
        opacity: 0;
        transition: .5s;
        display: flex;
        flex-direction: row;
        filter: blur(15px);

        .notification-close {
            position: absolute;
            right: 5px;
            top: 5px;
            font-size: 24px;
            color: #bcc1d3;
            transition: .4s;
            z-index: 1;
            width: 25px;
            height: 25px;
            display: block;
            text-align: center;
            cursor: pointer;

            &:before {
                width: 25px;
                line-height: 25px;
            }

            &:hover {
                color: $bc;
            }
        }

        .notification-icon {
            font-size: 24px;
            float: left;
            width: 25px;
            margin-left: -25px;
            margin-top: 0px;
            margin-right: 5px;
            color: #33475b;
        }

        .notification-details {
            font: inherit;
            flex-grow: 1;

            strong {
                display: block;
                font-size: 14px;
                margin-bottom: 5px;
                font-weight: 700;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &.notification-danger {
            background: #fff5f5;
        }

        &.notification-success {
            background: #ebffed;
        }

        &.shown {
            transform: translate(0, 0);
            opacity: 1;
            filter: blur(0px);
            margin: 0 0 20px;
        }
    }

    &.block-push-notifications-bookmarks {
        position: fixed;
        left: 0;
        bottom: 0;
        right: auto;
        top: auto;
        padding: 20px;
        width: 100%;
        pointer-events: none;

        .notification {
            width: 1280px;
            margin: 0 auto;
            background: #fff;
            border-radius: $border_radius;
            max-width: 100%;
            transform: translate(0, 120%);
            pointer-events: all;

            .notification-image {
                img {
                    display: block;
                    font-size: 24px;
                    float: left;
                    margin-left: -25px;
                    margin-top: 0px;
                    margin-right: 5px;
                    color: #33475b;
                    height: 50px;
                    padding-right: 10px;
                }
            }

            .notification-title {
                font: 700 18px/21px $bf;
                color: #191A1C;
                margin-bottom: 7px;
            }

            .notification-description {
                font: 400 15px/22px $bf;
                color: #4F4F4F;
            }

            .notification-button {
                margin-right: 15px;
            }

            &.shown {
                transform: translate(0, 0);
                opacity: 1;
                filter: blur(0px);
                margin: 0 auto 20px;


                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        @media screen and (max-width: 1000px) {
            .notification {
                flex-direction: column;
                position: relative;
                padding-left: 120px;

                .notification-image {
                    position: absolute;
                    left: 20px;
                    top: 20px;
                    width: 80px;
                    margin: 0;
                    padding: 0;

                    img {
                        padding: 0 !important;
                        margin: 0 !important;
                        height: auto;
                        width: 100%;
                    }
                }

                .notification-details {
                    margin: 0 0 15px;

                    .notification-title {
                        margin-bottom: 5px;
                    }
                }

                .notification-button {
                    .button {
                        padding: 12px 15px;
                        padding-left: 22px;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}