&.block-office {
    width: 100%;
    margin: 0 0 30px;

    .office-breadcrumbs {
        background-color: #fff;
    }

    .office-map {
        height: 420px;
        background: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        overflow: hidden;

        .block-google-map {
            @include fill_parent();
            position: absolute;

            iframe {
                @include fill_parent();
                width: 100%;
                height: 100%;
                position: absolute;
                border: 0;
            }

            .block-google-map-backdrop {
                @include fill_parent();
                position: absolute;
                background: rgba($color: #000000, $alpha: .1);
                z-index: 1;
            }
        }

        &>.block-map-office-card {
            box-shadow: var(--box-shadow);
        }
    }

    .office-content {
        width: 900px;
        padding: 0 20px;
        max-width: 100%;
        margin: 0 auto;
        position: relative;
        z-index: 1;

        .block-pane:first-child {
            margin-top: -70px;
        }

        .office-organization {
            display: flex;
            flex-direction: row;

            .organization-photo {
                width: 60px;
                min-width: 60px;
                margin: -15px 0;

                .organization-photo-img {
                    display: block;
                    width: 100%;
                }
            }

            .organization-title {
                padding-left: 15px;
                font: 700 14px/18px var(--base-font);
                display: flex;
                flex-grow: 1;

                .organization-title-value {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }

                .organization-title-count {
                    margin-left: 15px;
                    min-width: 30px;
                    height: 30px;
                    background: #f1f4f7;
                    text-align: center;
                    line-height: 30px;
                    text-align: center;
                    border-radius: 30px;
                }
            }

            .organization-chevron {
                height: 30px;
                width: 30px;
                text-align: center;
                line-height: 30px;
                font-size: 28px;
                transition: .4s;
                cursor: pointer;

                &:hover {
                    color: var(--color-primary);
                }
            }
        }

        &.office-content-top {
            margin-top: 95px;
        }
    }

    @media screen and (max-width: 1000px){
        .office-content {
            .block-pane:first-child {
                margin-top: -15px;
            }

            .office-organization {
                .organization-photo {
                    margin: -5px 0;
                    width: 40px;
                    min-width: 40px;
                }

                .organization-title {
                    font-size: 13px;
                }
            }

            &.office-content-top {
                margin-top: 35px;
            }
        }
    }
}