&.block-label-tabs {
    display: flex;
    border-top-left-radius: $border_radius;
    border-top-right-radius: $border_radius;
    border-bottom-left-radius: $border_radius;
    border-bottom-right-radius: $border_radius;
    margin-right: 20px;

    .label-tab {
        background: #fff;
        border: 1px solid $border_color;
        border-right: none;
        font: 600 11px/20px $bf;
        color: #272525;
        padding: 9px 10px;
        transition: color .4s, border-color .4s, background-color .4s, box-shadow .4s;
        cursor: pointer;
        outline: none;
        border-radius: 0;
        position: relative;
        display: flex;
        justify-content: center;
        justify-items: center;

        .mdi {
            font-size: 1.1em;
            line-height: 20px;
            float: left;
            color: #6f747e;
            transition: color .4s;

            &.icon-start {
                margin-right: 5px;
            }

            &.icon-end {
                margin-left: 5px;
            }
        }

        .label-tab-icon-start {
            margin-right: 4px;
        }

        .label-tab-icon-end {
            margin-left: 4px;
        }

        .label-tab-menu {
            position: absolute;
            display: flex;
            flex-direction: column;
            border: 1px solid $border_color;
            border-radius: $border_radius / 2;
            overflow: hidden;
            box-shadow: $base_shadow;
            top: 100%;
            left: 0;
            margin-top: 2.5px;
            padding: 5px 0;
            background-color: #fff;

            .label-tab-menu-item {
                padding: 5px 35px 5px 20px;
                font: 400 13px/20px $bf;
                color: #1A2A3F;
                transition: color .4s, background-color .4s;
                background-color: #fff;
                white-space: nowrap;
                display: flex;
                flex-direction: row;
                position: relative;

                .mdi {
                    color: #1A2A3F;
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    width: 15px;
                    transform: translate(0, -50%);
                }

                &:hover {
                    color: #fff;
                    background-color: $color_primary;

                    .mdi {
                        color: #fff;
                    }
                }

                &:focus {
                    color: rgb(155, 70, 70);
                    background-color: 1px solid desaturate($color: darken($color: $color_primary, $amount: 35%), $amount: 75%);;

                    .mdi {
                        color: rgb(143, 143, 143);
                    }
                }

                &.active {
                    font-weight: bold;
                }
            }
        }

        &:first-child {
            border-top-left-radius: $border_radius;
            border-bottom-left-radius: $border_radius;
        }

        &:last-child {
            border-top-right-radius: $border_radius;
            border-bottom-right-radius: $border_radius;
            border-right: 1px solid $border_color;
        }

        &:hover:not(.active) {
            color: #fff;
            background-color: $color_primary_light;
            border-color: $color_primary_light;

            .mdi {
                color: #fff;
            }
        }

        &.label-tab-text {
            border: none;
            box-shadow: none;
            background: transparent;

            &:hover {
                color: $color_primary_light;
                box-shadow: none;

                .mdi {
                    color: $color_primary_light;
                }
            }
        }

        &.label-tab-primary {
            color: $color_primary;
        }

        &.label-tab-disabled {
            pointer-events: none;
            cursor: default;
        }

        &.label-tab-primary-light {
            color: $color_primary_light;

            &:hover {
                color: #fff;
            }
        }

        &.label-tab-sm {
            padding: 4px 8px;
            font: 500 11px/20px $bf;

            &:first-child {
                border-top-left-radius: $border_radius / 2;
                border-bottom-left-radius: $border_radius / 2;
            }
    
            &:last-child {
                border-top-right-radius: $border_radius / 2;
                border-bottom-right-radius: $border_radius / 2;
            }
        }

        &.active, &:active, &:focus {
            background: $color_primary;
            border-color: $color_primary;
            color: #fff;

            .mdi {
                color: #fff;
            }

            .label-tab-dropdown, 
            .label-tab-dropdown .mdi {
                color: $tc;
            }
        }

        &.disabled {
            cursor: default;
            pointer-events: none;
        }
    }

    .label-tab-set {
        margin-right: 10px;
        display: flex;
        border-radius: inherit;

        &:last-child {
            margin-right: 0;
        }

        &.label-tab-set-borderless {
            .label-tab {
                &:hover {
                    box-shadow: none;
                }
    
                &:not(:last-child) {
                    border-right: none;
                }
    
                &:not(:first-child) {
                    border-left: none;
                }
            }
        }

        &.label-tab-set-shadowless {
            box-shadow: none;
        }
    }

    &:last-child {
        margin-right: 0;
    }

    &.block-label-tabs-fill {
        width: 100%;

        .label-tab {
            flex-grow: 1;
            text-align: center;
        }
    }
}