&.block-products-list {
    .product-item {
        background: #ffffff;
        box-shadow: 2px 2px 15px rgba($color: #000000, $alpha: 0.05);
        margin: 0 0 15px;
        border-radius: $border_radius;
        display: flex;
        flex-direction: row;
        min-height: 100px;
        transition: box-shadow .4s;

        .product-photo {
            width: 150px;
            min-width: 150px;
            overflow: hidden;
            background-size: cover;
            background-position: 50% 50%;
            border-top-left-radius: inherit;
            border-bottom-left-radius: inherit;
            position: relative;

            img {
                display: block;
                width: 100%;
            }

            &:after {
                content: '';
                background: #394260;
                opacity: 0;
                transition: opacity .4s;
                width: 100%;
                @include fill_parent();
            }
        }

        .product-content {
            display: flex;
            flex-direction: row;
            width: 100%;
        }

        .product-details {
            padding: 15px;
            flex-grow: 1;

            .product-name {
                color: $tc;
                font: 600 22px/30px $hf;
                margin: 0;
            }

            .product-organization {
                font: 400 14px/22px $bf;
                margin-bottom: 5px;
                max-width: 440px;
            }
        }

        .product-actions {
            padding: 15px;
            width: 270px;
            border-left: 1px solid $border_color;
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            flex-direction: row-reverse;

            &.with-button {
                align-items: center;
                justify-content: center;
            }

            .product-price {
                font: 700 17px/30px $bf;
                position: relative;
                width: 135px;
                text-align: right;
                width: 100%;
            }

            .product-discount {
                position: relative;
                width: 85px;
            }
        }

        &:hover {
            box-shadow: $base_shadow;

            .product-photo {
                &:after {
                    opacity: 0.25;
                }
            }
        }
    }

    @media screen and (max-width: 1000px) {
        .product-item {
            min-height: 80px;
            position: relative;
            border-radius: $border_radius / 2;

            .product-photo {
                width: 250px;
                min-width: 100px;
                border-right: 1px solid $border_color;

                img {
                    width: 100%;
                }
            }

            .product-content {
                flex-direction: column;
                flex-grow: 1;
                padding: 15px;
            }

            .product-details {
                width: 100%;
                border: none;
                padding: 0 0 10px;
                flex-grow: 0;

                .product-name {
                    font: 700 13px/18px $bf;
                    margin: 0;
                }

                .product-organization {
                    font: 400 12px/18px $bf;
                    margin: 0;
                }

            }

            .product-actions {
                display: flex;
                width: 100%;
                border: none;
                padding: 0;
                flex-direction: row;

                .label {
                    line-height: 18px;
                    margin-bottom: 0;
                }

                .product-price {
                    font: 700 13px/18px $bf;
                    width: auto;
                }

                .product-discount {
                    position: absolute;
                    left: 0;
                    top: 0;
                    border-radius: $border_radius / 2 0 0 0;
                }
            }
        }
    }
}