&.block-fund-pre-check-result {
    .fund-item {
        display: grid;
        overflow: hidden;
        position: relative;
        background: var(--showcase-item-background);
        box-shadow: var(--showcase-item-shadow);
        border: var(--showcase-item-border);
        border-radius: var(--showcase-item-border-radius);
        border-radius: var(--border-radius);
        margin: 0 0 15px;
        grid-template-columns: 1fr 240px;

        .fund-content {
            display: grid;
            grid-template-columns: 140px 1fr;
            padding: 15px;
            gap: 15px;
            border-bottom: 1px solid transparent;

            .fund-photo {
                display: block;
                position: relative;

                img {
                    display: block;
                    width: 100%;
                    border-radius: calc(var(--border-radius) / 2);
                }
            }

            .fund-details {
                display: flex;
                flex-direction: column;
                position: relative;
                word-wrap: break-word;
                gap: 5px;

                .fund-name {
                    font: 700 22px/32px var(--hf);
                    margin: 0 0;
                    color: var(--tc);

                    a {
                        font: inherit;
                        color: inherit;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                .fund-description {
                    font: 400 14px/22px var(--base-font);
                    color: var(--tc);

                    .fund-description-more {
                        font: inherit;
                        display: flex;
                        color: var(--color-primary);
                        font-weight: 600;
                        padding-top: 5px;
                        padding-left: 0;

                        .mdi {
                            color: #dbdcdb;
                            margin-left: 3px;
                            font-size: 16px;
                        }
                    }
                }

                .button {
                    width: fit-content;
                }
            }

            .fund-related-funds-block {
                grid-column: 1 / 3;
                padding: 15px;
                background-color: #fffceb;
                border-radius: var(--border-radius);
                border: 1px solid #dbdcdb;
                font: 600 13px/18px var(--base-font);

                .fund-related-funds-description {
                    font: inherit;
                    margin-bottom: 10px;
                }

                .fund-related-funds-list {
                    list-style-type: disc;
                    list-style-position: inside;
                    list-style-type: none;
                    font: inherit;

                    .fund-related-funds-list-item {
                        font: inherit;
                        font-weight: 400;
                        padding-left: 15px;
                        position: relative;
                        text-decoration: underline;

                        &:before {
                            content: "";
                            position: absolute;
                            display: block;
                            left: 7px;
                            top: 9px;
                            width: 3px;
                            height: 3px;
                            margin: -1.5px;
                            border-radius: 50%;
                            background-color: #222222;
                        }
                    }
                }

                &.fund-related-funds-block-parent {
                    background-color: #ffffff;
                    border-color: var(--border-color);

                    .fund-related-funds-list {
                        .fund-related-funds-list-item {
                            text-decoration: none;
                        }
                    }
                }
            }

            &.fund-content-expanded {
                border-bottom: 1px solid var(--border-color);
            }
        }

        .fund-actions {
            display: grid;
            grid-template-rows: 1fr auto;
            border-left: var(--showcase-item-border);

            .fund-request-block {
                display: grid;
                grid-template-rows: 1fr auto;
                padding: 15px 15px;
                border-bottom: 1px solid var(--border-color);

                .fund-request-block-progress {
                    min-height: 100px;
                    padding: 20px 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .fund-request-block-progress-title {
                        font: 700 16px/24px var(--base-font);
                        margin-bottom: 10px;
                        text-align: center;
                    }

                    .fund-request-block-progress-bar {
                        display: flex;
                        border-radius: 3px;
                        overflow: hidden;
                        position: relative;

                        .fund-request-block-progress-bar-completed {
                            background-color: #2e9d1c;
                            height: 6px;
                            z-index: 1;
                        }

                        &:before {
                            content: "";
                            position: absolute;
                            top: 1px;
                            left: 1px;
                            right: 1px;
                            bottom: 1px;
                            z-index: 0;
                            background-color: #c0c5d4;
                            border-radius: inherit;
                        }
                    }
                }

                .fund-request-block-button {
                    .button {
                        width: 100%;
                    }
                }
            }

            .fund-totals-block {
                display: flex;
                padding: 10px 15px;
                position: relative;

                .fund-totals-block-amount {
                    flex-grow: 1;
                    text-align: left;

                    .fund-totals-block-amount-description {
                        font: 400 11px/16px var(--base-font);
                    }

                    .fund-totals-block-amount-value {
                        font: 600 14px/21px var(--base-font);
                    }
                }

                .fund-totals-block-show-details {
                    min-height: 35px;
                    
                    .button {
                        font: 600 13px/15px var(--base-font);
                        color: var(--tc);
                        text-decoration: underline;
                        position: absolute;
                        right: 12px;
                        top: 50%;
                        transform: translate(0%, -50%);
                    }
                }
            }

            &.expanded {
                border-bottom: none;

                .fund-totals-block {
                    background-color: #fbfbfb;
                }
            }
        }

        .fund-pre-check-info-block {
            width: 100%;
            grid-column: 1 / 3;
            padding: 20px;
            background: #fbfbfb;

            .fund-pre-check-info-wrapper {
                display: grid;
                border-radius: var(--border-radius);
                grid-template-columns: 1fr;
                border: 1px solid var(--border-color);
                background: #fff;

                .fund-pre-check-info-col {
                    overflow: hidden;
                    padding: 15px;

                    .fund-pre-check-info-col-title {
                        font: 700 16px/24px var(--base-font);
                        margin-bottom: 10px;
                    }

                    .fund-pre-check-info-col-list {
                        .fund-pre-check-info-col-list-item {
                            display: flex;
                            align-items: center;
                            font: 600 11px/15px var(--base-font);
                            padding: 10px 0;
                            border-bottom: 1px solid var(--border-color);

                            .mdi {
                                margin-right: 5px;
                                color: #9e9e9e;
                                font-size: 15px;
                            }

                            &.valid {
                                .mdi {
                                    color: #315efd;
                                }
                            }

                            &:last-child {
                                border-bottom: none;
                            }
                        }
                    }

                    .fund-pre-check-info-col-table {
                        border-collapse: collapse;
                        width: 100%;
                        border-bottom: 1px solid var(--border-color);

                        tr {
                            td {
                                font: 600 12px/18px var(--base-font);

                                &.description {
                                    color: #848484;
                                }

                                &.value {
                                    text-align: right;
                                    color: #353535;
                                }
                            }
                        }
                    }

                    .fund-pre-check-info-col-totals {
                        display: flex;
                        align-items: center;
                        padding-top: 10px;
                        border-top: 1px solid var(--border-color);

                        .fund-pre-check-info-col-totals-title {
                            font: 600 16px/24px var(--base-font);
                            flex-grow: 1;
                        }

                        .fund-pre-check-info-col-totals-amount {
                            font: 700 18px/27px var(--base-font);
                        }
                    }

                    &:last-child {
                        border-left: 1px solid var(--border-color);
                    }
                }
            }
        }

        &.fund-item-child,
        &.fund-item-parent {
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                width: 5px;
                background-color: #dbdcdb;
            }
        }
    }

    @media screen and (max-width: 1000px) {
        .fund-item {
            grid-template-columns: 1fr;

            .fund-content {
                grid-template-columns: 70px 1fr;

                .fund-details {
                    .fund-name {
                        font: 600 14px/22px var(--hf);
                    }

                    .fund-description {
                        font: 400 12px/20px var(--hf);

                        .button {
                            margin-left: 0;
                        }
                    }

                    .button {
                        width: auto;
                        margin-left: -85px;
                        font: 600 11px/15px var(--hf); 
                    }
                }

                .fund-related-funds-block {
                    font: 600 12px/18px var(--hf);
                }
            }

            .fund-actions {
                .fund-request-block {
                    padding-top: 0;

                    .fund-request-block-progress {
                        min-height: auto;
                        padding-top: 10px;
                    }
                }
            }

            .fund-pre-check-info-block {
                grid-column: 1/2;

                .fund-pre-check-info-wrapper {
                    grid-template-columns: 1fr;

                    .fund-pre-check-info-col {
                        .fund-pre-check-info-col-title { 
                            font: 600 14px/21px var(--base-font);
                        }

                        .fund-pre-check-info-col-list .fund-pre-check-info-col-list-item {
                            font: 500 12px/18px var(--base-font);
                        }

                        .fund-pre-check-info-col-amount {
                            .fund-pre-check-info-col-amount-title {
                                font: 500 12px/18px var(--base-font);
                            }

                            .fund-pre-check-info-col-amount-description {
                                font: 700 14px/18px var(--base-font);
                            }
                        }

                        &:last-child {
                            padding-top: 0;
                            border-left: 0;
                        }
                    }
                }
            }
        }
    }
}
