&.block-reservations {
    margin-bottom: 30px;

    .block-title {
        font: 700 40px var(--base-font);
        margin-bottom: 20px;
        cursor: default;
    }

    .reservation-info {
        display: flex;
        flex-direction: column;
        gap: 16px;
        flex-grow: 1;

        & > .reservation-details-row {
            display: flex;
            gap: 16px;
        }
    }

    .reservation-item {
        background-color: #fff;
        border-radius: var(--border-radius);
        margin-bottom: 15px;
        box-shadow: var(--box-shadow);
        transition: 0.4s;
        cursor: default;
        border: 1px solid #E5E5E5;

        .reservation-view-all-details {
            font: 500 12px/12px var(--base-font);
            color: #282B39;
            padding: 5px 0;
            background: transparent;

            .mdi {
                float: right;
                color: #282B39;
                margin: 0 0 0 2px;
            }

            &:hover {
                background-color: transparent;
                color: #646f79;
                border-color: transparent;
                box-shadow: none;

                .mdi {
                    color: #646f79;
                }
            }
        }

        .reservation-overview-label {
            font: 400 11px/16px var(--base-font);
        }

        .reservation-overview-value {
            font: 600 14px/21px var(--base-font);

            small {
                font: 400 13px var(--base-font);
                color: #646f79;
                margin-left: 5px;
            }
        }

        .reservation-item-section {
            display: flex;
            min-height: 135px;
            overflow: hidden;
            position: relative;
            padding: 16px;
            gap: 16px;

            .reservation-image {
                display: flex;
                flex-basis: 134px;
                min-width: 134px;
                overflow: hidden;
                background-size: cover;
                background-position: 50% 50%;
                position: relative;
                border-top-left-radius: inherit;
                border-bottom-left-radius: inherit;

                img {
                    width: 100%;
                    border-radius: 3px;
                    height: 102px;
                    display: block;
                    object-fit: contain;
                    align-self: flex-start;
                }

                &:after {
                    content: "";
                    background: #394260;
                    opacity: 0;
                    transition: opacity 0.4s;
                    width: 100%;
                    @include fill_parent();
                }
            }

            .reservation-overview {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                white-space: nowrap;

                .reservation-overview-status {
                    display: flex;
                    justify-content: flex-end;
                    margin: 0 0 5px;

                    .label {
                        height: fit-content;
                        display: flex;
                        margin-bottom: 6px;
                    }
                }

                .reservation-overview-item {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    justify-content: flex-end;
                    align-items: flex-end;
                    width: 100%;
                    bottom: 25px;
                    left: 25px;
                    margin: 0 0 5px;

                    &.reservation-overview-item-buttons {
                        flex-direction: row;
                        align-items: center;
                    }

                    &:last-of-type,
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            .reservation-details {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-grow: 1;
                min-width: 0;

                .reservation-name {
                    font: 700 18px/27px var(--hf);
                    display: block;
                    margin: 0 0 8px;
                    color: #00122a;
                }

                .reservation-organization {
                    font: 400 14px/22px var(--base-font);
                    color: #282b39;
                    margin-bottom: 10px;
                }
            }

            .reservation-details-row {
                .reservation-value-list {
                    display: flex;
                    gap: 24px;
                    align-items: flex-end;
                }

                .reservation-value-title {
                    font: 400 11px/16px var(--base-font);
                    color: #353535;
                }

                .reservation-value {
                    font: 700 18px/27px var(--base-font);
                    color: #00122a;
                }

                .reservation-overview {
                    justify-content: flex-end;
                }
            }
        }

        .reservation-footer {
            padding: 16px;
            box-shadow: 0 1px 0 0 #E5E5E5 inset;

            .reservation-footer-title {
                color: #222222;
                font: 400 13px/18px var(--base-font);
            }

            &.reservation-footer-warning {
                background: #FFFCEB;
            }

            &.reservation-footer-primary {
                background: #f6f9fc;
            }

            &.reservation-footer-success {
                background: #f7f9de;
            }

            &:last-child {
                border-radius: 0 0 var(--border-radius) var(--border-radius);
            }
        }

        .reservation-all-details {
            .reservation-all-details-list {
                .reservation-all-details-item {
                    justify-content: space-between;
                    font: 400 11px/11px var(--base-font);
                    margin-bottom: 9px;
                    color: #595959;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                .reservation-all-details-price {
                    color: #222;
                    font: 600 11px/11px var(--base-font);
                }
            }

            .reservation-all-details-view-all {
                font: 600 13px/13px var(--base-font);
                color: #282B39;
                text-decoration: underline;
                display: flex;

                .mdi {
                    color: #DBDCDB;

                    &:before {
                        font-size: 24px;
                        line-height: 13px;
                    }
                }
            }

            &:last-child {
                border-radius: 0 0 var(--border-radius) var(--border-radius);
                overflow: hidden;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 992px) {
    &.block-reservations {
        .reservation-item {
            .reservation-all-details {
                &.open {
                    padding: 0 16px 16px;

                    .reservation-all-details-inner {
                        padding: 16px;
                        border-radius: 7px;
                        border: 1px solid #E5E5E5;
                        background: #FBFBFB;

                        .reservation-all-details-list {
                            margin: 0 0 16px 0;
                            padding: 0 0 16px 0;
                            border-bottom: 1px solid #E5E5E5;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
    &.block-reservations {
        .reservation-item {
            .reservation-info {
                gap: 12px;
            }

            .reservation-item-section {
                gap: 10px;

                .reservation-image {
                    display: flex;
                    flex-basis: 60px;
                    min-width: 60px;

                    img {
                        height: 51px;
                    }
                }

                .reservation-details {
                    flex-direction: column-reverse;
                    justify-content: flex-start;
                    gap: 0;

                    .reservation-name {
                        font: 600 14px/19px var(--hf);
                    }

                    .reservation-organization {
                        font: 400 11px/11px var(--base-font);
                    }
                }

                .reservation-details-row {
                    flex-direction: column;

                    .reservation-value-discount {
                        font: 600 13px/13px var(--base-font);
                    }

                    .reservation-value-title {
                        font: 600 11px/11px var(--base-font);
                        color: #848484;
                    }

                    .reservation-overview {
                        width: calc(100% + 70px);
                        margin-left: -70px;

                        .reservation-overview-item {
                            flex-direction: row;
                            justify-content: space-between;

                            .button {
                                &.button-xs {
                                    flex-grow: 1;
                                    display: flex;
                                    justify-content: center;
                                }
                            }
                        }
                    }
                }

                .reservation-overview {
                    justify-content: flex-start;
                    align-items: flex-start;
                    white-space: nowrap;

                    .reservation-overview-status {
                        margin: 0;
                    }
                }
            }

            .reservation-all-details {
                .reservation-all-details-inner {
                    padding: 10px;
                    border-top: 1px solid #E5E5E5;
                    background: #FBFBFB;

                    .reservation-all-details-header {
                        justify-content: space-between;
                    }
                }

                &.open {
                    .reservation-all-details-inner {
                        .reservation-all-details-list {
                            margin: 12px 0 10px 0;
                            padding: 12px 0 10px 0;
                            border-bottom: 1px solid #E5E5E5;
                            border-top: 1px solid #E5E5E5;
                        }
                    }
                }
            }
        }
    }
}