&.block-auth-2fa {
    --success-icon-color: #39b924;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 20px;
    color: #595959;
    cursor: default;

    .auth-2fa-description {
        font: 400 14px/20px var(--base-font);
        margin: 0 0 20px;
    }

    .auth-2fa-item {
        margin: 0 0 15px;
        display: flex;
        gap: 20px;

        .auth-2fa-item-icon {
            display: inline-flex;
            flex-direction: column;
            flex: 0 0 50px;

            .mdi {
                width: 50px;
                height: 50px;
                display: flex;
                background-color: #f4f4f4;
                border-radius: var(--border-radius);
                line-height: 50px;
                font-size: 20px;
                color: #848484;
                justify-content: center;
            }
        }

        .auth-2fa-item-details {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            gap: 15px;

            .auth-2fa-item-title {
                font: 600 16px/30px var(--base-font);
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            .auth-2fa-item-label {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .auth-2fa-item-date {
                display: flex;
                flex-direction: row;
                font: 600 13px/30px var(--base-font);

                .mdi {
                    font-size: 16px;
                    line-height: 30px;
                    color: var(--success-icon-color);
                    padding-right: 5px;
                }
            }

            .auth-2fa-item-space {
                display: inline-flex;
                flex-grow: 1;
            }
        }

        .auth-2fa-item-actions {
            width: 100%;
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
        }

        .auth-phone-details {
            display: flex;
            flex-direction: row;
            border-radius: var(--border-radius);
            border: 1px solid #e5e5e5;
            background: #fbfbfb;
            padding: 10px;
            gap: 10px;

            .auth-phone-details-icon {
                display: flex;
                flex: 0 0 16px;
                line-height: 20px;

                .mdi {
                    color: #282b39;
                }
            }

            .auth-phone-details-content {
                display: flex;
                flex-direction: column;
                gap: 8px;
                flex: 1 1 auto;

                .auth-phone-details-title {
                    font: 600 13px/20px var(--base-font);
                }

                .auth-phone-details-subtitle {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    font: 600 12px/20px var(--base-font);

                    .label {
                        color: #fff;
                        padding: 3px 4px;
                        font: 600 11px/12px var(--base-font);
                        background: #31b0a1;
                    }
                }

                .auth-phone-details-description {
                    font: 400 11px/11px var(--base-font);
                    color: #151b26;
                }
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    @media screen and (max-width: 1000px) {
        .auth-2fa-item {
            gap: 8px;

            .auth-2fa-item-icon {
                flex: 0 0 16px;

                .mdi {
                    width: 16px;
                    height: 22px;
                    background: none;
                    line-height: 22px;
                }
            }

            .auth-2fa-item-details {
                margin-left: -24px;

                .auth-2fa-item-title {
                    font: 700 14px/22px var(--base-font);
                    padding-left: 24px;
                }

                .auth-2fa-item-date {
                    font: 600 11px/22px var(--base-font);

                    .mdi {
                        line-height: 22px;
                    }
                }

                .auth-2fa-item-actions {
                    .button {
                        width: 100%;
                        justify-content: center;
                        padding: 5px 15px;
                        font-size: 11px;

                        .mdi {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}
