&.block-showcase {
    position: relative;
    margin: 0 0 30px;

    .block-navbar {
        margin: 0 0 10px;
    }

    .showcase-title {
        font: 700 22px/36px $bf;
        color: $tc;
        margin: 0 0 0;
    }

    .showcase-subtitle {
        font: 600 14px/22px $bf;
        color: #646f79;
        margin: 0 0 10px;
    }

    .showcase-wrapper {
        width: 1280px;
        max-width: 100%;
        margin: 0 auto;
        display: block;
        padding: 10px 0 0;
        min-height: calc(100vh - 100px);
    }

    .showcase-mobile-filters {
        display: none;
    }

    .showcase-layout {
        display: flex;
        flex-direction: row;

        .showcase-aside {
            height: fit-content;
            width: 340px;
            max-width: 340px;
            min-width: 340px;

            .showcase-aside-block {
                position: relative;
                padding: 20px;
                width: 100%;
                background: #fff;
                border-radius: $border_radius;
                box-shadow: 2px 2px 15px rgba($color: #000000, $alpha: 0.05);
                margin-bottom: 30px;

                .showcase-aside-block-info {
                    font: 500 12px $bf;
                    color: #646f79;
                }

                .showcase-aside-block-chevron {
                    position: absolute;
                    right: 0;
                    top: 0;
                    color: $tc;
                    font-size: 28px;
                    padding: 10px 5px 0 0;
                    color: #828b93;
                    cursor: pointer;

                    .mdi {
                        font-size: inherit;
                        color: inherit;
                    }

                    &:hover {
                        color: $color_primary;
                    }
                }

                .showcase-aside-block-dropdown {
                    background: #fff;
                    border-radius: $border_radius;
                    position: absolute;
                    left: 100%;
                    top: -225px;
                    width: 550px;
                    padding: 20px 22.5px 20px 20px;
                    margin-left: 10px;
                    height: 360px;
                    box-shadow: 2px 2px 15px rgba($color: #000000, $alpha: 0.05);
                    border: 1px solid $border_color;
                    display: none;

                    .showcase-aside-block-dropdown-content {
                        position: relative;
                        overflow-y: auto;
                        overflow-x: hidden;
                        max-height: 100%;
                        max-width: 100%;
                        @include webkit_scrollbar();
                    }

                    .showcase-aside-block-dropdown-close {
                        position: absolute;
                        right: 0;
                        top: 0;
                        color: $tc;
                        font-size: 28px;
                        padding: 10px 10px 0 0;
                        color: #828b93;
                        background: #fff;
                        cursor: pointer;
                        z-index: 1;
                        border-radius: $border_radius;

                        .mdi {
                            font-size: inherit;
                            color: inherit;
                        }

                        &:hover {
                            color: $color_primary;
                        }
                    }

                    &:after,
                    &:before {
                        content: '';
                        display: block;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 7.5px 10px 7.5px 0;
                        border-color: transparent #ffffff transparent transparent;
                        position: absolute;
                        right: 100%;
                        top: 250px;
                        transform: translate(0, -50%);
                    }

                    &:before {
                        transform: translate(0, -50%);
                        border-width: 8.5px 12px 8.5px 0;
                        border-color: transparent $border_color transparent transparent;
                    }

                    &.active {
                        display: block;
                    }
                }
            }
        }

        .showcase-content {
            padding-left: 30px;
            flex-grow: 1;
            max-width: calc(100% - 340px);

            .showcase-content-header {
                position: relative;
                z-index: 1;
                width: 100%;
                display: flex;
                flex-direction: row;

                .showcase-filters-title,
                .showcase-filters-block {
                    display: flex;
                }

                .showcase-filters-block {
                    margin-left: 20px;
                    white-space: nowrap;
                    flex-wrap: nowrap;
                    flex-grow: 1;

                    .block-label-tabs {
                        height: fit-content;
                    }
                }

                .showcase-filters-title {
                    font: 600 24px/28px $bf;
                    color: $tc;
                    margin: 0;
                    @include ellipsis();

                    .showcase-filters-title-count {
                        font: 700 16px/30px $bf;
                        background: $color_primary;
                        border-radius: $border_radius / 2;
                        float: right;
                        min-width: 30px;
                        height: 30px;
                        margin: 0 0 0 10px;
                        text-align: center;
                        color: #fff;
                        text-align: center;
                        padding: 0 5px;
                    }

                    .block-label-tabs {
                        .label-tab {
                            font-weight: 700;
                        }
                    }
                }

                .showcase-filters-block {
                    justify-content: flex-end;
                    margin: 0 0 15px;
                }
            }
        }
    }

    &.block-showcase-fullscreen {
        @include fill_parent();
        position: fixed;
        margin: 0 0 0 0;
        display: flex;
        flex-direction: column;
        z-index: 2;

        .block-navbar {
            margin: 0;
        }

        .showcase-wrapper {
            width: 100%;
            height: 100%;
            position: relative;
            flex: 2;
        }

        .showcase-layout {
            height: 100%;
            border-top: 1px solid $border_color;
            @include fill_parent();
            position: absolute;

            .showcase-aside {
                border-radius: 0;
                border-right: 1px solid $border_color;
                height: 100%;
                overflow-y: auto;
                @include webkit_scrollbar();

                .showcase-title {
                    font: 700 18px/24px $bf;
                    margin: 0 0 5px;
                }

                .showcase-subtitle {
                    font: 500 14px/18px $bf;
                }
            }

            .showcase-content {
                padding: 10px;
                position: relative;

                .showcase-content-header {
                    .showcase-filters-title {
                        width: auto;
                        float: right;
                    }
                }

                .block.block.block-google-map {
                    @include fill_parent();
                    bottom: 15px;

                    iframe {
                        display: block;
                        @include fill_parent();
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1300px) {
        .showcase-wrapper {
            padding: 10px 25px 0;
        }

        .showcase-layout {
            .showcase-aside {
                width: 280px;
                min-width: 280px;
                max-width: 280px;
            }

            .showcase-content {
                max-width: calc(100% - 280px);
            }
        }
    }

    @media screen and (max-width: 1000px) {
        .block-navbar {
            margin: 0 0 0;
        }

        .showcase-title {
            font: 700 16px/26px $bf;
            margin: 0 0 0;
        }

        .showcase-subtitle {
            font: 500 13px/20px $bf;
        }

        .showcase-wrapper {
            padding: 0 20px;
            position: relative;
        }

        .showcase-mobile-filters {
            background: #fff;
            margin: 0 -20px;
            display: flex;
            flex-direction: row;
            border-top: 1px solid $border_color;
            border-bottom: 1px solid $border_color;
            margin-bottom: 5px;
            z-index: 3;
            position: relative;

            .mobile-filters-count {
                width: 30px;
                height: 30px;
                margin: 10px 15px;

                .mobile-filters-count-value {
                    width: 30px;
                    height: 30px;
                    border: 1px solid $border_color;
                    text-align: center;
                    font: 700 14px/28px $bf;
                    border-radius: 30px;
                    color: #2b333b;
                }
            }

            .mobile-filters-title {
                font: 700 14px/30px $bf;
                color: #2b333b;
                flex-grow: 1;
                padding: 10px 0;
            }

            .mobile-filters-icon {
                width: 50px;
                height: 50px;
                text-align: center;
                line-height: 48px;
                background-color: #7b8893;
                color: #fff;
                font-size: 20px;
            }

            &.active {
                .mobile-filters-count {
                    .mobile-filters-count-value {
                        border-color: $color_primary;
                        background-color: $color_primary;
                        color: #fff;
                    }
                }

                .mobile-filters-icon {
                    background-color: $color_primary;
                }
            }
        }

        .showcase-layout {
            flex-direction: column;

            .showcase-aside {
                width: 100%;
                min-width: 100%;
                max-width: 100%;
                margin: 0 0 20px;
                position: absolute;
                top: 50px;
                padding: 0;
                left: 0;
                border-top: 1px solid $border_color;
                border-bottom: 1px solid $border_color;
                z-index: 2;
                border-radius: 0;
                height: 250px;
                height: fit-content;
                overflow: auto;
                box-shadow: 2px 20px 20px 2px rgba($color: #000000, $alpha: .15);
                max-height: calc(100vh - 150px);
                display: none;

                &.show-mobile {
                    display: block;
                }
            }

            .showcase-content {
                padding: 0 0 0;
                max-width: 100%;

                .showcase-content-header {
                    flex-direction: column;

                    .showcase-filters-block {
                        justify-content: flex-start;

                        .block-label-tabs {
                            width: 100%;

                            .label-tab-set, .label-tab {
                                flex-grow: 1;
                            }
                        }
                    }

                    &.showcase-content-header-compact {
                        flex-direction: row;
                    }
                }
            }
        }

        &.block-showcase-fullscreen {
            .showcase-layout {
                height: calc(100% - 50px);
                
                .showcase-aside {
                    height: auto;
                    margin: 0;
                }

                .showcase-content {
                    top: 50px;
                }
            }
        }
    }
}