&.block-empty {
    background: #fff;
    border-radius: var(--border-radius);
    box-shadow: 0 5px 30px rgba(0, 0, 0, .05);
    padding: 30px 30px;
    margin: 0 0 30px;
    text-align: center;

    .block-icon {
        margin: 0 auto 25px;
        width: 80px;
        height: 80px;
        display: flex;
        position: relative;

        svg {
            margin: auto;
            z-index: 1;

            .fill-color-primary {
                fill: var(--color-primary);
            }
        }

        &:before {
            content: '';
            z-index: 0;
            background-color: var(--color-primary);
            @include fill_parent();
            opacity: 0.075;
        }

        &.block-icon-transparent {
            &:before {
                content: none;
            }
        }
    }

    .block-title {
        font: 700 22px/28px var(--base-font);
        color: #282b39;
        margin: 0px 0px 10px;
    }

    .block-description {
        font: 700 14px/20px var(--base-font);
        color: #646f79;
        margin: 0px 0px 35px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .block-link {
        font: 600 13px/22px var(--base-font);
        color: var(--color-default);
        display: inline-block;

        .mdi {
            color: var(--color-default);
            font-size: 1.3em;
            float: right;
            margin-left: 5px;
            transition: .4s;
            line-height: 22px;
            float: right;
        }

        &:hover {
            .mdi {
                margin-left: 10px;
            }
        }
    }

    @media screen and (max-width: 1700px) {
        &.block-empty {
            padding: 20px;

            .block-title {
                font: 700 20px/26px var(--base-font);
            }
        }
    }

    @media screen and (max-width: 1000px) {
        &.block-empty {
            border: 1px solid #ddecff;
            text-align: center;
        }
    }
}