$footer_base_font: 'Open Sans', arial, sans-serif;

&.block-sticky-footer {
    bottom: 0px;
    position: fixed;
    z-index: 10;
    width: 100%;
    max-width: 100%;
    transition: transform 0.2s;
    
    &.scrolled {
        transform: translateY(100%);
    }

    ul {
        display: flex;
        width: 100%;
        background-color: #ffffff;
        box-shadow: 0 0 20px rgba(0,0,0,0.075);
        align-items: center;
        justify-content: center;
        height: 60px;
    }

    svg {
        height: 18px;
        width: 18px;
        display: block;
        margin: 0 auto;
    }

    li {
        font: 400 14px/1.5em $footer_base_font;
        text-align: center;
        padding: 10px 20px;
        width: 100%;
        border-right: 1px solid #dbdcdb;
        height: 100%;

        &.button {
            font: 400 14px/1.5em $footer_base_font;
        }

        button {
            background: inherit;
            border: none;
        }

        &.active, &:focus {
            color: $color_default;

            a {
                color: $color_default;
            }

            path {
                fill: $color_default;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    &.block-sticky-footer {
        ul {
            li { 
                font: 400 12px/26px $footer_base_font;
                padding: 10px 5px;
            }
        }
    }
}