.block.block-pane {
    box-shadow: 2px 2px 15px rgba($color: #000000, $alpha: 0.05);
    margin-bottom: 30px;
    border-radius: $border_radius;
    cursor: default;

    .pane-head,
    .pane-section {
        border-bottom: 1px solid $border_color;

        &:first-child {
            border-top-left-radius: $border_radius;
            border-top-right-radius: $border_radius;
        }

        &:last-child {
            border-bottom-left-radius: $border_radius;
            border-bottom-right-radius: $border_radius;
            border-bottom-width: 0;
        }
    }

    .pane-head {
        background: #ffffff;
        padding: 20px 25px;
        font: 700 22px/30px $bf;
    }

    .pane-section {
        background: #ffffff;
        padding: 25px;

        &.pane-section-compact-vertical {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    &.last-child,
    &:last-child {
        margin-bottom: 0;
    }
}