&.block-steps {
    .block-steps-description {
        font: 400 16px/28px $bf;
        text-align: center;
        color: #191A1C;
        width: 820px;
        max-width: 100%;
        padding-top: 40px;
        margin: 0 0 30px;
    }

    .block-markdown {
        font: 400 16px/28px $bf;

        a:not(.button) {
            text-decoration: underline;
            color: $color_primary;
        }
    }

    &.order-top {
        order: 1;
    }

    &.order-bottom {
        order: 2;
    }
}