&.block-funds-list {
    .fund-item {
        background: #ffffff;
        box-shadow: 2px 2px 15px rgba($color: #000000, $alpha: 0.05);
        margin: 0 0 15px;
        border-radius: $border_radius;
        display: flex;
        flex-direction: row;
        min-height: 100px;
        transition: box-shadow .4s;

        .fund-photo {
            width: 150px;
            min-width: 150px;
            overflow: hidden;
            background-size: cover;
            background-position: 50% 50%;
            position: relative;

            img {
                display: block;
                width: 100%;
            }

            &:after {
                content: '';
                background: #394260;
                opacity: 0;
                transition: opacity .4s;
                width: 100%;
                @include fill_parent();
            }
        }

        .fund-content {
            display: flex;
            flex-direction: row;
            width: 100%;
        }

        .fund-details {
            padding: 15px;
            flex-grow: 1;
            position: relative;
                
            .fund-status-label {
                position: absolute;
                top: 20px;
                right: 20px;
            }
            
            .fund-name {
                font: 700 24px/36px $bf;
                margin: 0;
                color: $tc;
            }

            .fund-description {
                font: 400 16px/28px $bf;
                margin-top: 10px;
                color: $tc;
            }

            .fund-organization {
                font: 400 16px/28px $bf;
                margin-bottom: 5px;
            }
        }

        .fund-actions {
            padding: 15px;
            border-left: 1px solid $border_color;
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            flex-direction: row-reverse;
            align-items: center;

            .button-primary {
                min-width: 170px;
            }
        }

        &:hover {
            box-shadow: $base_shadow;

            .fund-photo {
                &:after {
                    opacity: 0.25;
                }
            }
        }
    }

    @media screen and (max-width: 1000px) {
        .fund-item {
            min-height: 80px;
            position: relative;
            border-radius: $border_radius / 2;

            .fund-photo {
                width: 70px;
                height: 70px;
                border-radius: 70px;
                overflow: hidden;
                display: block;
                min-height: auto;
                margin: 15px;
                border: none;
                min-width: 70px;
                max-width: 70px;

                img {
                    width: 100%;
                }
            }

            .fund-content {
                flex-direction: column;
                flex-grow: 1;
                padding: 15px;
            }

            .fund-details {
                width: 100%;
                border: none;
                padding: 0 0 10px;
                flex-grow: 0;

                .fund-status-label {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                }

                .fund-name {
                    font: 700 13px/18px $bf;
                    margin: 0;
                }

                .fund-organization {
                    font: 400 12px/18px $bf;
                    margin: 0;
                }

            }

            .fund-actions {
                position: absolute;
                top: 25px;
                right: 20px; 
                border: none;
                padding: 0;

                .button-primary {
                    min-width: 90px;
                    font: 700 12px/18px $bf;
                }

                .label {
                    line-height: 18px;
                    margin-bottom: 0;
                }
            }
        }
    }
}