&.block-funds-pre-check-list {
    .fund-item {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        background: #ffffff;
        box-shadow: 2px 2px 15px rgba($color: #000000, $alpha: 0.05);
        border: 1px solid var(--border-color);
        margin: 0 0 15px;
        border-radius: var(--border-radius);
        transition: box-shadow 0.4s;

        .button {
            font: 600 13px/20px var(--base-font);

            &.button-text {
                padding: 0;
            }
        }

        .fund-content {
            display: flex;
            width: 100%;
            flex: 1 0;
            flex-wrap: wrap;

            .fund-photo {
                display: block;
                position: relative;
                padding: 15px 0 15px 15px;
    
                img {
                    display: block;
                    width: 105px;
                }
            }

            .fund-details {
                display: flex;
                flex-direction: column;
                position: relative;
                width: calc(100% - 120px);
                word-wrap: break-word;
                padding: 15px 15px;
    
                .fund-name {
                    font: 700 22px/32px var(--hf);
                    margin: 0 0 5px;
                    color: var(--tc);
                    padding-right: 100px;
    
                    a {
                        font: inherit;
                        color: var(--tc);
                    }
    
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
    
                .fund-description {
                    font: 400 14px/21px var(--base-font);
                    color: var(--tc);
    
                    .fund-description-more {
                        font: inherit;
                        display: flex;
                        color: var(--color-primary);
                        font-weight: 600;
                        padding-top: 5px;
    
                        .mdi {
                            color: #DBDCDB;
                            margin-left: 3px;
                            font-size: 16px;
                        }
                    }
                }
            }
        }

        .fund-related-funds-block {
            flex-grow: 1;
            padding: 15px;
            background-color: #FFFCEB;
            margin: 15px;
            border-radius: var(--border-radius);
            border: 1px solid #DBDCDB;

            .fund-related-funds-description {
                font: 600 13px/18px var(--base-font);
                margin-bottom: 10px;
            }

            .fund-related-funds-list {
                list-style-type: disc;
                list-style-position: inside;

                .fund-related-funds-list-item {
                    font: 400 13px/18px var(--base-font);
                    
                    &::marker {
                        font-size: 8px;
                    }
                }
            }
        }
    
        .fund-actions {
            text-align: center;
            min-width: 200px;
            border-left: 1px solid var(--border-color);
            border-bottom: 1px solid var(--border-color);

            .fund-request-block {
                padding: 20px 10px;
                border-bottom: 1px solid var(--border-color);

                .fund-request-block-progress {
                    min-height: 100px;
                    padding: 20px 0;

                    .fund-request-block-progress-title {
                        font: 700 16px/24px var(--base-font);
                        margin-bottom: 10px;
                    }

                    .fund-request-block-progress-bar {
                        display: flex;

                        .fund-request-block-progress-bar-completed {
                            border: 3px solid #2E9D1C;
                            border-top-left-radius: 3px;
                            border-bottom-left-radius: 3px;
                            background-color: #2E9D1C;
                        }

                        .fund-request-block-progress-bar-remaining {
                            border: 3px solid #C0C5D4;
                            border-top-right-radius: 3px;
                            border-bottom-right-radius: 3px;
                            background-color: #C0C5D4;
                        }

                        &.no-progress {
                            .fund-request-block-progress-bar-completed {
                                border: none;
                            }

                            .fund-request-block-progress-bar-remaining {
                                border-top-left-radius: 3px;
                                border-bottom-left-radius: 3px;
                            }
                        }
                    }
                }

                .fund-request-block-button {
                    width: 100%;
                }
            }

            .fund-totals-block {
                display: flex;
                padding: 10px;
                position: relative;

                .fund-totals-block-amount {
                    flex-grow: 1;
                    text-align: left;

                    .fund-totals-block-amount-description {
                        font: 400 11px/16px var(--base-font);
                    }

                    .fund-totals-block-amount-value {
                        font: 600 14px/21px var(--base-font);
                    }
                }

                .fund-totals-block-show-details {
                    .button {
                        font: 600 13px/15px var(--base-font);
                        color: var(--tc);
                        text-decoration: underline;
                        position: absolute;
                        right: 12px;
                        top: 50%;
                        transform: translate(0%, -50%);
                    }
                }
            }

            &.expanded {
                border-bottom: none;
                
                .fund-totals-block {
                    background-color: #fbfbfb;
                }
            }
        }

        .fund-pre-check-info-block {
            width: 100%;

            .fund-pre-check-info-wrapper {
                display: flex;
                padding: 10px;
                flex-grow: 1;
                background: #FBFBFB;
                border-top-left-radius: var(--border-radius);
                border-bottom-right-radius: var(--border-radius);

                .fund-pre-check-info-criterias, .fund-pre-check-info-totals {
                    width: 50%;
                    padding: 20px;
                    background: #FFF;
                    border: 1px solid var(--border-color);
                }

                .fund-pre-check-info-criterias {
                    border-right: none;
                    border-top-left-radius: var(--border-radius);
                    border-bottom-left-radius: var(--border-radius);

                    .fund-pre-check-info-criterias-title {
                        font: 700 16px/24px var(--base-font);
                        margin-bottom: 10px;
                    }

                    .fund-pre-check-info-criterias-list {
                        .fund-pre-check-info-criterias-list-item {
                            display: flex;
                            align-items: center;
                            font: 600 11px/15px var(--base-font);
                            margin-bottom: 5px;

                            .mdi {
                                margin-right: 5px;
                                color: #9E9E9E;
                                font-size: 15px;
                            }

                            &.valid {
                                .mdi {
                                    color: #315EFD;
                                }
                            }
                        }
                    }
                }

                .fund-pre-check-info-totals {
                    border-top-right-radius: var(--border-radius);
                    border-bottom-right-radius: var(--border-radius);

                    .fund-pre-check-info-totals-title {
                        font: 700 16px/24px var(--base-font);
                        margin-bottom: 10px;
                    }

                    .fund-pre-check-info-totals-table {
                        border-collapse: collapse;
                        width: 100%;
                        border-bottom: 1px solid var(--border-color);

                        tr {
                            td {
                                font: 600 12px/18px var(--base-font);

                                &.description {
                                    color: #848484;
                                }

                                &.value {
                                    text-align: right;
                                    color: #353535;
                                }
                            }
                        }
                    }

                    .fund-pre-check-info-total-amount {
                        display: flex;
                        align-items: center;
                        padding-top: 15px;

                        .fund-pre-check-info-total-title {
                            font: 600 14px/21px var(--base-font);
                            flex-grow: 1;
                        }

                        .fund-pre-check-info-total-description {
                            font: 700 18px/27px var(--base-font);
                        }
                    }
                }
            }
        }

        &:hover {
            box-shadow: var(--box-shadow);
        }
    }

    @media screen and (max-width: 1000px) {
        .fund-item {
            flex-wrap: wrap;

            .fund-content {
                width: 100%;
                overflow: visible;

                .fund-photo {
                    border-bottom: none;
                }

                .fund-details {
                    border-bottom: none;

                    .fund-name {
                        font: 600 14px/19px var(--base-font);
                        padding-right: 0;
                    }

                    .fund-description {
                        font: 400 12px/16px var(--base-font);
                    }
                }

                .fund-related-funds-block {
                    margin-bottom: 0;

                    .fund-related-funds-description {
                        font: 600 12px/16px var(--base-font);
                    }

                    .fund-related-funds-list {
                        .fund-related-funds-list-item {
                            font: 400 13px/20px var(--base-font);
                        }
                    }
                }
            }

            .fund-actions {
                width: 100%;
                border: none;

                .fund-request-block {
                    .fund-request-block-progress {
                        .fund-request-block-progress-title {
                            font: 700 14px/21px var(--base-font);
                        }
                    }
                }
            }

            .fund-pre-check-info-block {
                background-color: #fbfbfb;

                .fund-pre-check-info-wrapper {
                    flex-direction: column;
                    margin: 15px;
                    padding: 0;
                    border: 1px solid var(--border-color);
                    border-radius: var(--border-radius);
                    overflow: hidden;
    
                    .fund-pre-check-info-criterias {
                        width: 100%;
                        border: none;
                        border-radius: 0;
                        border-bottom: 1px solid var(--border-color);
                    }
    
                    .fund-pre-check-info-totals {
                        width: 100%;
                        border: none;
                        border-radius: 0
                    }
                }
            }
        }
    }
}
