.block {
    &.block-fund {
        display: flex;
        flex-direction: row;
        margin: 0 0 30px;

        .fund-card {
            background: #fff;
            box-shadow: 0 5px 30px rgba(#000, 0.05);
            margin-bottom: 30px;
            cursor: default;
            display: flex;
            width: 100%;
            flex-direction: column;
            border-radius: $border_radius;

            &:last-child {
                margin-bottom: 0;
            }
        }
        
        .fund-actions {
            display: flex;
            margin-bottom: 30px;
            flex-direction: row;
            justify-content: flex-end;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .fund-content {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            position: relative;
            z-index: 1;

            .fund-details {
                width: 100%;
                padding: 20px;
                display: flex;
                flex-direction: row;

                .fund-image {
                    img {
                        width: 100px;
                        height: 100px;
                        display: block;
                        border: 1px solid $border_color;
                        border-radius: $border_radius;
                    }
                }

                .fund-details-title {
                    flex-grow: 1;
                    margin-left: 25px;

                    .fund-name {
                        font: 700 24px/36px $bf;
                        color: $tc;
                    }

                    .organization-name {
                        font: 400 16px $bf;
                        color: $tc;
                    }

                    .fund-details-items {
                        display: flex;
                        flex-direction: row;
                        margin-top: 25px;

                        .fund-details-item {
                            flex-direction: column;
                            width: 100%;

                            .fund-details-item-label {
                                font: 700 12px $bf;
                                color: #646f79;
                                margin-top: -7px;
                                margin-bottom: 5px;
                            }

                            .fund-details-item-value {
                                font: 600 16px $bf;
                                color: #303030;
                            }
                        }
                    }
                }
            }

            .fund-description {
                padding: 30px 23px;
                border-top: 1px solid #c4c4c4;

                .fund-description-label {
                    color: #646f79;
                    font: 700 14px $bf;
                    margin-bottom: 15px;
                }

                .fund-description-value {
                    font: 600 16px $bf;
                    color: #303030;
                    float: left;
                }
            }
        }

        .fund-aside {
            width: 340px;
            display: flex;
            margin-left: 30px;
            flex-direction: column;
            position: relative;
            z-index: 2;

            .fund-criterias {
                padding: 30px 23px;

                .fund-criterias-label {
                    color: #646f79;
                    font: 700 14px $bf;
                    margin-bottom: 15px;
                }

                .fund-criteria-item {
                    width: 100%;
                    margin-bottom: 5px;
                    @include cf();

                    .fund-criteria-item-label {
                        font: 600 14px $bf;
                        color: #282b39;
                        width: 120px;
                        float: left;
                    }

                    .fund-criteria-item-value {
                        font: 600 14px/22px $bf;
                        color: #282b39;
                        float: left;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                ul {
                    list-style-type: none;

                    li {
                        padding: 5px;
                    }

                    li::before {
                        content: "•";
                        padding-right: 8px;
                        color: #c4c4c4;
                    }
                }
            }

            .fund-menu {
                width: 100%;

                .button {
                    margin-bottom: 15px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 1000px) {
        &.block-fund {
            flex-direction: column;
        
            .fund-actions {
                flex-direction: column;
            }

            .fund-content {
                .fund-details {
                    flex-direction: row-reverse;

                    .fund-details-title {
                        margin-left: 0;

                        .fund-details-items {
                            flex-direction: column;

                            .fund-details-item {
                                margin: 10px 0px;
                            }
                        }

                        .fund-name {
                            font-size: 24px;
                        }
                    }
                }

                .fund-description {
                    padding: 0 0 25px 20px;
                    border: 0;

                    .fund-description-label {
                        font: 700 12px $bf;
                    }
                }
            }

            .fund-aside {
                width: 100%;
                margin-left: 0;

                .fund-card {
                    .fund-details {
                        .fund-name {
                            font: 700 16px/28px $bf;
                            margin: 0 0;
                        }

                        .fund-organization {
                            font: 600 12px $bf;
                        }
                    }
                }
            }
        }
    }
}
