.block.block-preferences {
    display: block;

    .preference-option {
        border-bottom: 1px solid #d4d9dd ;
        display: flex;
        width: 100%;
        padding: 10px 25px;
        cursor: pointer;
        transition: background .4s;

        .preference-option-details {
            flex-grow: 1;
        }

        .preference-option-input {
            background: none;
            border: none;
            justify-content: center;
            align-items: center;
            display: flex;
        }

        &:hover {
            background-color: #f7fafc;
        }

        &:last-child {
            border-bottom: none;
        }
    }

    &:not(:last-child) {
        border-bottom: 1px solid #d4d9dd;
    }
}