&.block-navbar-search {
    display: flex;
    flex-grow: 1;
    position: relative;
    margin-right: 30px;
    cursor: default;

    .navbar-search-icon {
        position: absolute;
        left: 17.5px;
        top: 50%;
        transform: translate(0, -50%);
        font-size: 22px;
        pointer-events: none;
        color: #666666;
    }

    .search-form.form {
        width: 100%;

        .form-control {
            font-weight: 700;
            padding-left: 45px;
            background-color: #fff;
            transition: 0.4s;
            border-radius: $border_radius;

            &::placeholder {
                font-weight: 700;
            }

            &:focus {
                box-shadow: $base_shadow;
            }
        }
    }

    .search-result {
        display: flex;
        width: 100%;
        background: rgba(255, 255, 255, 1);
        box-shadow: $base_shadow;
        position: absolute;
        z-index: 10;
        top: 100%;
        border: 1px solid $border_color;
        border-top: none;
        border-radius: $border_radius;
        font-size: 16px;
        max-height: 700px;
        overflow: auto;

        .search-result-filters-section {
            padding: 20px 10px;
            background: #F6F9FC;
            border: 1px solid #ECECEC;
            border-radius: 2px;

            .search-result-filter {
                display: flex;
                width: 240px;
                padding: 14px 15px;
                margin-left: 0;
                align-items: center;
                font: 700 16px/24px $bf;

                img {
                    padding-right: 10px;
                }

                span {
                    flex: 1;
                }

                .mdi {
                    margin-right: -8px;
                    float: right;
                    color: #B7BFC6;
                    font-size: 26px;
                }

                &:hover {
                    background: #EDEEF0;
                    color: #646F79;
                }

                &.active {
                    background-color: #fff;
                    color: #A80A2D;
                }
            }
        }

        .search-result-main-section {
            width: 100%;
        }

        .search-result-section {
            .search-result-title {
                display: flex;
                align-items: center;
                font: 700 18px/25px $bf;
                margin: 0 20px 0;
                padding: 10px 0;
                position: relative;
                border-bottom: 1px solid $border_color;
                @include cf();

                img {
                    padding-right: 10px;
                }

                span {
                    flex: 1;
                }

                .search-result-title-link {
                    display: flex;
                    font: 600 14px/20px $bf;
                    float: right;
                    color: $color_primary;
                }
            }

            .search-result-items {
                margin-top: 5px;

                .search-result-item {
                    font: 400 15px/24px $bf;
                    padding: 8px 20px;
                    color: #666666;
                    @include ellipsis();

                    strong {
                        font-weight: 700;
                        color: $color_primary;
                        background: lighten($color_primary, 60);
                    }

                    &:before {
                        content: '';
                        width: 6px;
                        height: 6px;
                        display: inline-block;
                        background: #ECECEC;
                        margin: 2px 10px 2px 0;
                    }

                    &:hover,
                    &.selected {
                        background-color: whitesmoke;
                    }
                }
            }

            &:first-child {
                padding-top: 2.5px;
            }

            &:last-child {
                padding-bottom: 20px;
            }
        }

        .search-result-actions {
            border-top: 1px solid $border_color;
            margin-top: 30px;
            padding: 20px 20px 20px;
        }
    }

    .search-noresult {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 22.5px 20px;

        .search-noresult-description {
            font: 600 18px/25px $bf;
            margin: 0 0 10px;
            color: #353535;
            max-width: 400px;
        }

        .search-noresult-items {
            display: flex;
            flex-direction: column;
        }

        .search-noresult-item {
            display: flex;
            font: 500 15px/24px $bf;
            margin: 0 0 10px;
            color: #2b2bff;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &.block-navbar-search-results {
        .search-form.form {
            .form-control {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        .search-result {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }

    @media screen and (max-width: 1000px) {
        margin: 0 -20px 0;

        .search-form.form {
            .form-control {
                border-radius: 0;
                padding-top: 15px;
                padding-bottom: 15px;
                border-left: 0;
                border-right: 0;
            }
        }

        .search-result {
            border-radius: 0;
        }

        .search-result-actions {
            .button {
                padding: 10px 15px;
                font: 700 14px/20px $bf;
                width: 100%;
                justify-content: center;
            }
        }
    }
}
