&.block-action-card {
    display: flex;
    background: #ffffff;
    padding: 25px;
    margin-bottom: 30px;
    position: relative;
    border-radius: $border_radius;
    box-shadow: $base_shadow;
    cursor: default;

    .block-card-logo {
        margin: 0 25px 0 0;
        
        img {
            display: block;
            max-width: 230px;
            margin-left: -20px;
            margin-bottom: -10px;
        }

        svg {
            .fill-color-primary {
                fill: $color_primary;
            }
        }

        &.block-card-logo-background {
            width: 80px;
            height: 80px;
            display: flex;
            background-color: rgba($color: $color_primary, $alpha: .075);

            svg {
                margin: auto;
            }
        }
    }

    .block-card-details {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;

        .block-card-title {
            font: 700 22px/25px $bf;
            color: $tc;
            margin: 0 0;
        }

        .block-card-description {
            font: 700 14px/25px $bf;
            color: rgba($color: $tc, $alpha: .8);
            margin: 0 0;
        }

        .block-card-code {
            font: 700 18px/21px $bf;
            color: $tc;
        }
    }

    .block-card-actions {
        display: flex;
        align-items: center;
        
        .button {
            font-size: 14px;
        }
    }
    
    .block-card-close {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 20px;
    }

    &.block-action-card-compact {
        padding: 20px;
        margin-bottom: 15px;

        .block-card-logo {
            margin: 0 20px 0 0;
        }

        .block-card-details {
            .block-card-title {
                font-size: 18px;
            }
        }
    }

    @media screen and (max-width: 1000px) {
        display: flex;
        flex-direction: column;
        text-align: center;
        
        .block-card-logo {
            margin: 0 0 10px;
            
            img {
                max-width: 200px;
                transform: rotate(0deg);
                margin: 0 auto 0;
                display: block;
            }
        }

        .block-card-details {
            .block-card-title {
                font: 600 14px/20px $bf;
                margin: 0 0 15px;
            }

            .block-card-description {
                font: 600 11px/18px $bf;
                margin: 0 0 20px;
            }

            .block-card-code {
                font: 700 13px/19px $bf;
                margin: 0 0 20px;
            }
        }

        .block-card-actions {
            display: flex;
            justify-content: center;
        }

        &.block-action-card-compact {
            .block-card-logo {
                margin: 0 0 10px;
            }

            .block-card-details {
                .block-card-title {
                    font-size: 14px;
                }
            }
        }
    }
}