&.block-subsidies {
    margin: 20px -15px 30px;
    flex-wrap: wrap;
    display: flex;

    .product-row {
        display: flex;
        flex-direction: row;
    }

    .product-item {
        margin: 0 0 30px;
        padding: 0 15px;
        width: 33.333%;
        max-width: 33.333%;
        position: relative;

        .product-item-inner {
            display: block;
            flex: 1;
            box-shadow: var(--box-shadow);
            border-radius: var(--border-radius);
            overflow: hidden;
            transition: box-shadow 0.3s ease-in;
            position: relative;
            @include cf();

            .block-bookmark-toggle {
                position: absolute;
                top: 15px;
                right: 15px;
            }

            .product-image {
                width: 100%;
                display: block;
                position: relative;
                box-shadow: 0 0 0 rgba(#000, 0.05);
                background-size: cover;
                background-position: 50% 50%;

                img {
                    display: block;
                    width: 100%;
                }

                &:after {
                    content: '';
                    background: #394260;
                    opacity: 0;
                    @include fill_parent();
                    transition: opacity .3s ease-in;
                }
            }

            .product-details {
                display: flex;
                flex-direction: column;
                background-color: #fff;
                padding: 15px 20px;
                border-top: 1px solid rgba(#dbdcdb, .5);
            }

            .product-price {
                font: 700 18px/30px var(--base-font);
                padding: 10px 15px;
                color: #151b26;
                text-align: right;
                background-color: #fff;
                position: absolute;
                z-index: 1;
                right: 0;
                bottom: -1px;
                border-top: 1px solid rgba(#dbdcdb, .5);
                border-left: 1px solid rgba(#dbdcdb, .5);

                small {
                    font: inherit;
                    font-size: 15px;
                    color: #646f79;
                    display: none;
                }
            }

            .product-name {
                color: var(--color-primary);
                font: 700 16px/28px var(--base-font);
                transition: color .3s ease-in;
                margin: 0;
                @include ellipsis();
            }

            .product-provider {
                font: 700 16px/24px var(--base-font);
                color: #626161;
                @include ellipsis();
            }

            &:hover {
                box-shadow: 0 5px 20px rgba(#000, .15);

                .product-name {
                    color: var(--tc);
                }

                .product-image {
                    &:after {
                        opacity: .1;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1000px) {
        .product-item {
            width: 100%;
            max-width: 100%;

            .product-item-inner {
                .product-details {
                    text-align: center;
                }
            }
        }
    }
}
