.block {
    &.block-fund {
        display: flex;
        flex-direction: row;
        margin: 0 0 30px;

        .fund-card {
            background: #fff;
            box-shadow: 0 5px 30px rgba(#000, 0.05);
            margin-bottom: 30px;
            cursor: default;
            display: flex;
            width: 100%;
            flex-direction: column;
            border-radius: $border_radius;

            &:last-child {
                margin-bottom: 0;
            }
        }
        
        .fund-actions {
            display: flex;
            margin-bottom: 30px;
            flex-direction: row;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .fund-content {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            position: relative;
            z-index: 1;

            .fund-details {
                width: 100%;
                padding: 20px 30px;

                .fund-name {
                    font: 700 30px/40px $bf;
                    margin: 0 0 10px;
                    color: $tc;
                }

                .fund-description {
                    font: 500 18px/26px $bf;
                    color: #5c5c5c;
                    margin: 0 0 15px;
                }

                .organization-name {
                    font: 400 16px $bf;
                    color: $tc;
                }

                .fund-details-items {
                    display: flex;
                    flex-direction: row;

                    .fund-details-item {
                        flex-direction: column;
                        width: 100%;

                        .fund-details-item-label {
                            font: 700 12px $bf;
                            color: #646f79;
                            margin-bottom: 5px;
                        }

                        .fund-details-item-value {
                            font: 600 16px $bf;
                            color: #303030;
                        }
                    }
                }
            }
        }

        .fund-aside {
            width: 340px;
            display: flex;
            margin-left: 30px;
            flex-direction: column;
            position: relative;
            z-index: 2;
        }
    }

    @media screen and (max-width: 1000px) {
        &.block-fund {
            flex-direction: column;
        
            .fund-actions {
                flex-direction: column;
            }

            .fund-content {
                .fund-details {
                    flex-direction: row-reverse;

                    .fund-name {
                        font-size: 24px;
                    }

                    .fund-details-items {
                        flex-direction: column;

                        .fund-details-item {
                            margin: 10px 0px;
                        }
                    }
                }

                .fund-description {
                    padding: 0 0 25px 20px;
                    border: 0;

                    .fund-description-label {
                        font: 700 12px $bf;
                    }
                }
            }

            .fund-aside {
                width: 100%;
                margin-left: 0;

                .fund-card {
                    .fund-details {
                        .fund-name {
                            font: 700 16px/28px $bf;
                            margin: 0 0;
                        }

                        .fund-organization {
                            font: 600 12px $bf;
                        }
                    }
                }
            }
        }
    }
}
