&.block-fund-pre-check {
    .block-fund-pre-check-progress {
        .block-pre-check-progress-title {
            font: 700 18px/27px var(--base-font);
            margin-bottom: 15px;
        }

        .block-pre-check-progress-preview {
            display: flex;

            .block-pre-check-progress-steps {
                width: 100%;
                margin-right: 10px;

                .block-pre-check-progress-step {
                    position: relative;
                    margin-bottom: 20px;

                    .block-pre-check-progress-step-wrapper {
                        display: flex;

                        .block-pre-check-progress-step-number {
                            width: 30px;
                            height: 30px;
                            margin-right: 10px;
                            border-radius: 50%;
                            font: 600 14px/30px var(--base-font);
                            text-align: center;
                            background-color: #fff;
                            color: #000;
                            position: relative;
                            box-shadow: 0 0 0 2px #DBDCDB;
                        }
    
                        .block-pre-check-progress-questions {
                            flex-grow: 1;
    
                            .block-pre-check-progress-question {
                                position: relative;
                
                                .block-pre-check-progress-question-title {
                                    font: 700 16px/30px var(--base-font);
                                }
                
                                .block-pre-check-progress-question-answer {
                                    font: 400 14px/21px var(--base-font);
                                }
                
                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }
                        }

                        .block-pre-check-progress-step-separator {
                            position: absolute;
                            top: 31px;
                            left: 14px;
                            width: 2px;
                            height: calc(100% - 12px);
                            background-color: #dbdcdb;
                        }
                    }

                    &.block-pre-check-progress-step-totals {
                        .block-pre-check-progress-step-wrapper {
                            .block-pre-check-progress-step-number {
                                background: url("../img/icon-pre-check-totals-inactive.svg") center no-repeat;
                            }
                        }

                        &.active {
                            .block-pre-check-progress-step-wrapper {
                                .block-pre-check-progress-step-number {
                                    background: url("../img/icon-pre-check-totals-active.svg") center no-repeat;
                                    color: #fff;
                                    background-color: #315efd;
                                }
                            }
                        }
                    }

                    &.active {
                        .block-pre-check-progress-step-wrapper {
                            .block-pre-check-progress-step-number {
                                box-shadow: 0 0 0 1px #315EFD;
                                background-color: #fff;
                            }

                            .block-pre-check-progress-step-separator {
                                background-color: #A0BBF9;
                            }
                        }
                    }

                    &.completed {
                        .block-pre-check-progress-step-wrapper {
                            .block-pre-check-progress-step-number {
                                box-shadow: 0 0 0 1px #315EFD;
                                background-color: #315EFD;
                                color: #fff;
                            }

                            .block-pre-check-progress-step-separator {
                                background-color: #A0BBF9;
                            }
                        }
                    }

                    &:last-child {
                        .block-pre-check-progress-step-wrapper {
                            .block-pre-check-progress-step-separator {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        .block-pre-check-amounts {
            margin: 24px 0;
            background-color: #FBFBFB;
            padding: 12px 16px;
            border: 1px solid var(--border-color);
            border-radius: var(--border-radius);

            .block-pre-check-amount {
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;

                .block-pre-check-amount-title {
                    font: 600 14px/21px var(--base-font);
                }

                .block-pre-check-amount-value {
                    font: 600 14px/21px var(--base-font);
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .block-fund-pre-check-info {
        .block-fund-pre-check-info-title {
            font: 700 22px/32px var(--base-font);
            margin-bottom: 5px;
        }

        .block-fund-pre-check-info-description {
            font: 400 16px/24px var(--base-font);
            margin-bottom: 15px;
        }
    }

    .block-fund-pre-check-step {
        .block-fund-pre-check-step-section {
            background: #fff;
            border: var(--showcase-aside-border);
            box-shadow: var(--showcase-aside-shadow);
            background: var(--showcase-item-background);
            border-radius: var(--showcase-aside-border-radius);
            padding: 25px 30px;

            .block-fund-pre-check-step-section-details {
                margin-bottom: 24px;
                padding-bottom: 24px;
                border-bottom: 1px solid #DBDCDB;

                .block-fund-pre-check-step-section-title {
                    font: 700 18px/26px var(--base-font);
                    margin-bottom: 5px;
                }

                .block-fund-pre-check-step-section-description {
                    font: 400 14px/22px var(--base-font);
                }
            }

            .block-fund-pre-check-step-section-question {
                margin-bottom: 24px;
                padding-bottom: 24px;
                border-bottom: 1px solid #DBDCDB;

                .block-fund-pre-check-step-section-question-title {
                    font: 700 18px/26px var(--base-font);
                    margin-bottom: 5px;
                }

                .block-fund-pre-check-step-section-question-description {
                    font: 400 14px/22px var(--base-font);
                    margin-bottom: 15px;
                }
            }

            .block-fund-pre-check-step-section-actions {
                display: flex;
            }
        }

        &.block-fund-pre-check-step-totals {
            border: none;
        }
    }

    .block-fund-pre-check-step-section-results {
        padding-top: 24px;
        border-top: 1px solid #DBDCDB;
    }

    .no-wrapper {
        margin-left: -20px;
        margin-right: -20px;
    }

    @media screen and (max-width: 1000px) {
        background-color: #fff;

        .block-fund-pre-check-progress {
            width: 100%;
            max-width: 100%;
            border-bottom: 1px solid var(--border-color);
            margin-bottom: 15px;
            padding: 15px 20px;

            .block-pre-check-progress-title {
                font: 600 16px/22px var(--base-font);
                border-bottom: 1px solid var(--border-color);
                padding-bottom: 15px;
                margin: 0 -20px 10px -20px;
                padding-left: 20px;
                padding-right: 20px;
            }

            .block-pre-check-progress-preview {
                .block-pre-check-progress-steps {
                    .block-pre-check-progress-step {
                        .block-pre-check-progress-step-wrapper {
                            .block-pre-check-progress-step-number {
                                font: 700 12px/24px var(--base-font);
                                width: 24px;
                                height: 24px;
                            }

                            .block-pre-check-progress-step-separator {
                                position: absolute;
                                top: 25px;
                                left: 11px;
                                width: 2px;
                                height: calc(100% - 6px);
                            }

                            .block-pre-check-progress-questions {
                                .block-pre-check-progress-question {
                                    .block-pre-check-progress-question-title {
                                        font: 700 14px/24px var(--base-font);
                                    }
            
                                    .block-pre-check-progress-question-answer {
                                        font: 500 12px/16px var(--base-font);
                                    }
                                }
                            }
                        }

                        &.block-pre-check-progress-step-totals {
                            margin-bottom: 0;
                        }

                        &:last-child {
                            width: auto;
                        }
                    }
                }
            }
        }
        
        .block-fund-pre-check-info {
            margin: 15px 0 10px;

            .block-fund-pre-check-info-title {
                margin-bottom: 15px;
                font: 600 18px/22px var(--base-font);
            }

            .block-fund-pre-check-info-description {
                font: 400 12px/18px var(--base-font);
            }
        }

        .block-fund-pre-check-step {
            border: none;
            border-radius: var(--border-radius);

            .block-fund-pre-check-step-section {
                padding: 15px;

                .block-fund-pre-check-step-section-details {
                    margin-bottom: 20px;
                    padding-bottom: 20px;

                    .block-fund-pre-check-step-section-title {
                        font: 700 16px/18px var(--base-font);
                    }

                    .block-fund-pre-check-step-section-description {
                        font: 400 13px/18px var(--base-font);
                    }
                }

                .block-fund-pre-check-step-section-question {
                    margin-bottom: 20px;
                    padding-bottom: 20px;

                    .block-fund-pre-check-step-section-question-title {
                        font: 700 14px/24px var(--base-font);
                    }
                }

                .block-fund-pre-check-step-section-actions {
                    .button {
                        width: calc(100% - 5px);
                        margin-right: 5px;
                        justify-content: center;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }

        .block-fund-pre-check-step-section-results {
            border-top: none;
            padding-top: 5px;
        }

        .block-progress-pie {
            display: flex !important;
            background-color: #fff;
            padding: 15px 20px;
            border-top: 1px solid var(--border-color);
            border-bottom: 1px solid var(--border-color);
            position: relative;
            align-items: center;
    
            .progress-pie {
                position: relative;
                height: fit-content;
                width: fit-content;
                margin-right: 15px;
            
                img {
                    display: block;
                }
            
                &:before {
                    position: absolute;
                    left: 5px;
                    top: 5px;
                    bottom: 5px;
                    right: 5px;
                    content: '';
                    display: block;
                    background-color: #fff;
                    border-radius: 100px;
                }
            
                .progress-pie-text {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    font: 700 12px/14px var(--base-font);
                    width: 100%;
                    text-align: center;
                }
            }
    
            .progress-pie-info {
                flex-grow: 1;

                .progress-pie-info-title {
                    font: 600 14px/21px var(--base-font);
                }
    
                .progress-pie-info-details {
                    display: flex;

                    .progress-pie-info-details-key {
                        font: 500 12px/16px var(--base-font);
                    }
    
                    .progress-pie-info-details-value {
                        font: 500 12px/16px var(--base-font);
                    }
                }
            }

            .progress-pie-show-details {
                display: flex;
                flex-direction: column;
                align-items: center;

                .button {
                    font: 600 12px/15px var(--base-font);
                    color: #004D93;
                    text-decoration: underline;
                    position: absolute;
                    right: 12px;
                    top: 50%;
                    transform: translate(0%, -50%);

                    .mdi {
                        color: var(--tc);
                    }
                }
            }
        }

        .showcase-layout {
            .showcase-aside {
                display: flex;
                position: initial;
                box-shadow: none;
                border-top: none;
                border-bottom: none;
                margin-bottom: 15px;

                .showcase-aside-block {
                    .block-fund-pre-check-progress {
                        border: none;
                    }
                }
            }
        }
    }
}