&.block-funds-list {
    .fund-item {
        background: #ffffff;
        box-shadow: 2px 2px 15px rgba($color: #000000, $alpha: 0.05);
        margin: 0 0 15px;
        border-radius: $border_radius;
        display: flex;
        flex-direction: row;
        min-height: 100px;
        transition: box-shadow 0.4s;

        .fund-photo {
            display: block;
            width: 130px;
            min-width: 100px;
            overflow: hidden;
            position: relative;
            border-top-left-radius: inherit;
            border-bottom-left-radius: inherit;

            img {
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                width: 100%;
            }

            &:after {
                content: "";
                background: #394260;
                opacity: 0;
                transition: opacity 0.4s;
                width: 100%;
                @include fill_parent();
            }
        }

        .fund-content {
            display: flex;
            flex-direction: row;
            width: 100%;
        }

        .fund-details {
            padding: 15px 20px;
            flex-grow: 1;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .fund-status-label {
                position: absolute;
                top: 20px;
                right: 20px;

                .label {
                    cursor: pointer;
                }
            }

            .fund-name {
                font: 700 22px/30px $bf;
                margin: 0;
                color: $tc;
            }

            .fund-description {
                font: 400 14px/22px $bf;
                margin-top: 10px;
                color: $tc;
                max-width: 80ch;
            }

            .fund-organization {
                font: 400 16px/28px $bf;
                margin-bottom: 5px;
            }
        }

        .fund-actions {
            min-width: 200px;
            padding: 15px;
            border-left: 1px solid $border_color;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &:hover {
            box-shadow: $base_shadow;

            .fund-photo {
                &:after {
                    opacity: 0.25;
                }
            }
        }
    }

    @media screen and (max-width: 1000px) {
        .fund-item {
            min-height: 80px;
            position: relative;
            border-radius: $border_radius / 2;

            .fund-photo {
                width: 70px;
                min-width: 70px;
                border-radius: 70px;
                margin: 15px;
            }

            .fund-content {
                flex-direction: row;
                flex-grow: 1;
            }

            .fund-details {
                width: 100%;
                padding-left: 0;

                .fund-status-label {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                }

                .fund-name {
                    font: 700 13px/18px $bf;
                    margin: 0;
                }

                .fund-organization {
                    font: 400 12px/18px $bf;
                    margin: 0;
                }
            }

            .fund-actions {
                min-width: auto;
                padding-left: 0;
                border: none;

                .button-primary {
                    font: 700 12px/18px $bf;
                }

                .label {
                    line-height: 18px;
                    margin-bottom: 0;
                }
            }
        }
    }
}
