.block.block-file-uploader {
    .uploader-droparea {
        width: 100%;
        background: #F8F8F8;
        padding: 25px 30px;
        text-align: center;
        border: 1px dashed #e5e6ec;
        border-radius: $border_radius / 2;
        color: #515152;
        margin: 0 0 25px;

        .droparea-icon {
            margin: 0 auto 20px;
            color: inherit;
            display: flex;
            justify-content: center;

            .mdi {
                width: 50px;
                height: 50px;
                color: inherit;
                font-size: 24px;
                padding: 10px;
                flex-direction: column;
                justify-content: center;
                border: 1px solid $color_primary;
                color: $color_primary;
                margin: 0 auto;
            }
        }

        .droparea-title {
            font: 500 16px/26px $bf;
            color: inherit;
            margin: 0 0 15px;

            strong {
                font-weight: 700;
            }

            small {
                font-size: 14px;
            }
        }

        .droparea-button {
            margin: 0 auto 15px;
        }

        .droparea-size {
            font: 600 13px/18px $bf;
            color: inherit;
        }

        &.is-dragover {
            background: white;
            border-color: silver;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .uploader-files {
        display: block;

        .file-item {
            display: flex;
            flex-direction: column;
            margin: 0 0 10px;

            .file-item-container {
                display: flex;
                border: 1px solid $border_color;
                border-radius: $border_radius / 2;
                max-width: 100%;
                padding: 10px 10px;

                .file-item-icon {
                    margin-right: 15px;

                    img {
                        display: block;
                        float: left;
                    }
                }

                .file-item-name {
                    font: 400 14px/24px $bf;
                    width: 200px;
                    max-width: 100%;
                    flex-basis: 100%;
                    @include ellipsis();
                }

                .file-item-progress {
                    flex-grow: 1;
                    display: none;
                    flex-direction: column;
                    justify-content: center;
                    padding-left: 15px;
                    flex-basis: 60%;

                    .file-item-progress-container {
                        display: flex;
                        background-color: #ebedf0;

                        progress[value] {
                            /* Reset the default appearance */
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            appearance: none;

                            /* Dimensions */
                            height: 3px;
                            width: 100%;

                            &::-webkit-progress-bar {
                                background-color: #ebedf0;
                            }

                            &::-webkit-progress-value {
                                background-color: $color_primary;
                            }

                            /* Get rid of default border in Firefox. */
                            border: none;

                            /* For IE10 */
                            color: $color_primary;
                        }
                    }
                }

                .file-item-action {
                    padding-left: 10px;
                    
                    button {
                        border: none;
                        background-color: inherit;
                        margin: 0;
                        padding: 0;     
                    }

                    .mdi {
                        font-size: 16px;
                        line-height: 24px;
                        color: $color_primary;
                    }
                }

                &.file-item-container-compact {
                    width: 450px;
                }
            }

            .file-item-error {
                font: 400 13px/20px $bf;
            }

            &.file-item-uploading {
                .file-item-container {
                    .file-item-name {
                        flex-basis: 40%;
                        color: #6a6d6f;
                    }

                    .file-item-progress {
                        display: flex;
                    }
                }
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    @media (max-width: 991px) {
        .uploader-droparea {
            border: none;
            background: none;
            padding: 0 0;

            .droparea-icon,
            .droparea-title {
                display: none;
            }

            .droparea-button {
                margin: 0 0 10px;
            }
        }
    }
}
