&.block-reservation {
    display: flex;
    flex-direction: column;
    cursor: default;

    .reservation-section {
        width: 100%;
        display: grid;
        gap: 25px;
        grid-template-columns: 33% 1fr;

        .reservation-media {
            display: grid;

            .media-preview {
                width: 100%;

                img {
                    display: block;
                    width: 100%;
                    border-radius: calc(var(--border-radius) / 2);
                }
            }
        }

        .reservation-content {
            display: grid;
            gap: 20px;

            .reservation-header {
                display: grid;
                grid-template-columns: 1fr auto;

                .reservation-title {
                    font: 700 16px/24px var(--base-font);
                    margin: 0 0 0;
                }
            }

            .reservation-actions {
                display: flex;
                flex-direction: row;
                gap: 15px;

                .button {
                    display: flex;
                    flex: 1;
                    justify-content: center;
                    margin: 0;
                }
            }
        }
    }

    @media screen and (max-width: 700px) {
        .reservation-section {
            grid-template-columns: 100%;

            .reservation-content {
                .reservation-actions {
                    flex-direction: column-reverse;
                }
            }
        }
    }
}