.block {
    &.block-sticky-footer {
        bottom: 0px;
        position: fixed;
        z-index: 10;
        width: 100%;
        max-width: 100%;
        transition: transform 0.2s;
        
        &.scrolled {
            transform: translateY(100%);
        }

        ul {
            display: flex;
            width: 100%;
            background-color: #ffffff;
            box-shadow: 0 0 20px rgba(0,0,0,0.075);
            align-items: center;
            justify-content: center;
            height: 60px;
        }

        svg {
            height: 18px;
            width: 18px;
            display: block;
            margin: 0 auto;
        }

        li {
            font-size: 14px;
            padding: 10px 20px;
            text-align: center;
            width: 100%;
            font-weight: 400;
            border-right: 1px solid #dbdcdb;
            height: 100%;
            @media screen and (max-width: 768px){ 
                font-size: 12px;
                padding: 10px 5px;
            }
            &.active, &:focus {
                color: $color_default;

                path {
                    fill: $color_default;
                }
            }
        }
    }
}