&.block-provider-sign_up {
    display: flex;
    flex-direction: row;
    padding-top: 60px;
    margin-bottom: 30px;
    cursor: default;

    .sign_up-overview {
        padding-right: 110px;
        padding-top: 60px;
        flex-basis: 50%;

        .block-title {
            font: 500 2.5em $bf;
            color: #000000;
            margin: 0 0 30px;
        }
    
        .block-description {
            font: 400 16px/28px $bf;
            color: #000000;
            margin: 0 0 30px;
        }

        .block-notice {
            font: 400 16px/28px $bf;
            margin-top: -15px;

            a {
                font: 400 14px/16px $bf;
                text-decoration: underline;
                color: #353535;
            }
        }
    }

    .sign_up-images {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
        margin-bottom: 30px;
        flex-basis: 50%;
        pointer-events: none;

        .sign_up-image {
            margin-right: 30px;

            img {
                display: block;
                width: 110%;
                margin: 0 -5%;
            }
        }
    }
    
    @media screen and (max-width: 1000px) {
        flex-direction: column;
        padding-top: 30px;

        .sign_up-overview {
            padding: 0 0;

            .block-title {
                font: 600 28px/36px $bf;
                margin: 0 0 20px;
                text-align: center;
            }
        
            .block-description {
                font: 400 16px/24px $bf;
                margin: 0 0 20px;
                text-align: center;
            }
            .block-notice {
                font: 400 16px/24px $bf;
                margin: 0 0 20px;
                text-align: center;
            }
        }

        .sign_up-images {
            width: 100%;
            margin-bottom: 20px;

            .sign_up-image {
                margin-right: 15px;
            }
        }
    }
}