&.block-reservation {
    display: flex;
    flex-direction: column;
    cursor: default;

    .reservation-section {
        width: 100%;
        display: grid;
        gap: 25px;
        grid-template-columns: 33% 1fr;

        .reservation-media {
            display: grid;

            .media-preview {
                width: 100%;

                img {
                    display: block;
                    width: 100%;
                    border-radius: calc(var(--border-radius) / 2);
                }
            }
        }

        .reservation-content {
            display: grid;
            gap: 20px;

            .reservation-header {
                display: grid;
                grid-template-columns: 1fr auto;

                .reservation-title {
                    font: 700 16px/24px var(--base-font);
                    margin: 0 0 0;
                }
            }

            .reservation-props {
                display: grid;
                border-radius: calc(var(--border-radius) / 2);
                background: #f4f5f7;
                padding: 20px;
                gap: 10px;

                .reservation-prop {
                    display: grid;
                    grid-template-columns: 40% 1fr;
                    font: 600 14px/20px var(--base-font);

                    .reservation-prop-label,
                    .reservation-prop-value {
                        display: block;
                        font: inherit;
                    }

                    .reservation-prop-label {
                        color: #646F79;
                    }

                    .reservation-prop-value {
                        color: #303030;

                        a {
                            font: inherit;
                            color: #004D93;
                        }
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            .reservation-actions {
                display: flex;
                flex-direction: row;
                gap: 15px;

                .button {
                    display: flex;
                    flex: 1;
                    justify-content: center;
                    margin: 0;
                }
            }
        }
    }

    @media screen and (max-width: 700px) {
        .reservation-section {
            grid-template-columns: 100%;

            .reservation-content {
                .reservation-props {
                    .reservation-prop {
                        grid-template-columns: 100%;
                        font: 600 13px/20px var(--base-font);
                    }
                }

                .reservation-actions {
                    flex-direction: column-reverse;
                }
            }
        }
    }
}