&.block-subsidies {
    margin: 20px -15px 30px;
    flex-wrap: wrap;
    display: flex;

    .product-row {
        display: flex;
        flex-direction: row;
    }

    .product-item {
        margin: 0 0 30px;
        padding: 0 15px;
        width: 33.333%;
        max-width: 33.333%;

        .product-item-inner {
            display: block;
            flex: 1;
            box-shadow: $base_shadow;
            border-radius: $border_radius;
            overflow: hidden;
            @include cf();

            .product-image {
                width: 100%;
                overflow: hidden;
                display: block;
                position: relative;
                transform: translate(0, 0);
                transition: 0.4s;
                box-shadow: 0 0 0 rgba(#000, 0.05);
                background-size: cover;
                background-position: 50% 50%;

                img {
                    display: block;
                    width: 100%;
                }

                &:after {
                    content: '';
                    background: #394260;
                    opacity: 0;
                    @include fill_parent();
                    transition: opacity .4s;
                }
            }

            .product-details {
                display: flex;
                flex-direction: column;
                background-color: #fff;
                padding: 15px 20px;
            }

            .product-price {
                font: 700 18px/30px $bf;
                padding: 10px 15px;
                color: #151b26;
                text-align: right;
                background-color: #fff;
                position: absolute;
                z-index: 1;
                right: 0;
                bottom: 0;

                small {
                    font: inherit;
                    font-size: 15px;
                    color: #646f79;
                    display: none;
                }
            }

            .product-name {
                color: $color_primary;
                font: 700 16px/28px $bf;
                @include ellipsis();
            }

            .product-provider {
                font: 700 16px/24px $bf;
                color: #626161;
                @include ellipsis();
            }

            &:hover {
                .product-name {
                    color: $tc;
                }

                .product-image {
                    transform: translate(0, -6px);
                    box-shadow: 0 15px 50px rgba(#000, .15);

                    &:after {
                        opacity: .5;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1000px) {
        .product-item {
            width: 100%;
            max-width: 100%;

            .product-item-inner {
                .product-details {
                    text-align: center;
                }
            }
        }
    }
}
