&.block-pane {
    box-shadow: $base_shadow;
    margin-bottom: 30px;
    border-radius: $border_radius;
    cursor: default;

    .pane-head,
    .pane-section {
        display: flex;
        border-bottom: 1px solid $border_color;

        &:first-child {
            border-top-left-radius: $border_radius;
            border-top-right-radius: $border_radius;
        }

        &:last-child {
            border-bottom-left-radius: $border_radius;
            border-bottom-right-radius: $border_radius;
            border-bottom-width: 0;
        }
    }

    .pane-head {
        background: #ffffff;
        padding: 20px 25px;
        font: 700 22px/30px $hf;
        color: $tc;
        margin: 0 0 0;

        .pane-head-count {
            height: 30px;
            min-width: 30px;
            text-align: center;
            background-color: $color_primary;
            color: #fff;
            font: 700 16px/30px $bf;
            border-radius: 30px;
        }
    }

    .pane-section {
        background: #ffffff;
        padding: 25px;
        font: 400 14px/20px $bf;

        &.pane-section-compact-vertical {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    .pane-body .block.block-organizations .organization-item .organization-pane {
        box-shadow: none;
    }

    &.last-child,
    &:last-child {
        margin-bottom: 0;
    }

    @media screen and (max-width: 1000px) {
        .pane-head {
            padding: 15px 20px;
            font: 700 16px/20px $bf;
        }

        .pane-section {
            padding: 20px;
        }
    }
}