.block.block-sign_up {
    padding: 50px 0;
    cursor: default;

    .block-title {
        font: 500 32px/36px $bf;
        text-align: center;
        color: #191A1C;
        margin: 0 0 35px;
    }

    .block-icon {
        text-align: center;
        font-size: 96px;
        padding: 40px 0 30px;
        color: #007377;
    }

    .block-description {
        font: 400 18px/26px $bf;
        text-align: center;
        color: #191A1C;
        margin: 0 0 40px;

        strong, a {
            font-weight: 600;
        }

        a {
            color: #3561FF;
            text-decoration: underline;
        }
    }

    .sign_up-header {
        margin: 0 -200px 25px;

        .sign_up-header-back {
            color: #9e9e9e;
            font: 500 17px/24px $bf;
            transition: color .4s;

            .mdi {
                float: left;
                line-height: 24px;
                font-size: 30px;
            }

            &:hover {
                color: $color_primary;
            }
        }
    }

    .sign_up-progress {
        width: 100%;
        display: flex;
        margin: 0 0 30px;

        .sign_up-step {
            flex-grow: 1;
            text-align: right;
            font: 500 14px/30px $bf;
            color: #dadada;
            border: none;
            margin-left: 1px;

            .sign_up-step-border {
                background: #ebedf0;
                height: 6px;
                position: relative;
                overflow: hidden;
    
                &:before {
                    content: '';
                    display: block;
                    @include fill_parent();
                }
            }

            &:first-child {
                .sign_up-step-border {
                    border-radius: $border_radius 0 0 $border_radius;
                }
            }

            &:last-child {
                .sign_up-step-border {
                    border-radius: 0 $border_radius $border_radius 0;
                }
            }

            &.sign_up-step-info {
                width: 40px;
                max-width: 40px;
                text-align: center;
                font-size: 24px;
                
                .mdi {
                    color: #305dfb;
                }
            }

            &.sign_up-step-active {
                color: #BDCBFF;

                .sign_up-step-border:before {
                    content: '';
                    display: block;
                    @include fill_parent();
                    background-color: #BDCBFF;
                }
            }

            &.sign_up-step-done {
                color: #3561FF;

                .sign_up-step-border:before {
                    background-color: #3561FF;
                }
            }
        }
    }

    .sign_up-pane {
        background: #FFFFFF;
        border: 1px solid #ebedf0;
        box-sizing: border-box;
        border-radius: 5px;
        
        .sign_up-pane-header {
            border-bottom: 1px solid #ebedf0;
            font: 500 18px/34px $bf;
            padding: 15px 40px;
            text-align: center;
        }

        .sign_up-pane-body {
            padding: 40px 40px;
            font: 400 16px/26px $bf; 

            .sign_up-pane-heading {
                font: 500 21px/27px $bf;   
                margin: 0 0 15px;

                &.sign_up-pane-heading-lg {
                    font: 500 28px/36px $bf;   
                }
            }

            .sign_up-pane-text {
                font: 400 16px/26px $bf;
                margin: 0 0 15px;

                a {
                    font: inherit;
                    color: #3561FF;
                    font-weight: 500;
                }
            }

            .sign_up-pane-media {
                margin: 0 0 15px;
                
                img {
                    display: block;
                    max-width: 100%;
                    margin: 0 auto;
                }
            }

            .sign_up-pane-link,
            .sign_up-pane-text .sign_up-pane-link {
                font: 400 16px/26px $bf;
                margin: 0 0 15px;
                color: #3561FF;
                transition: .4s;
                display: inline;
            }

            a.sign_up-pane-link:hover {
                color: $tc;
            }

            .sign_up-pane-section {
                border-bottom: 1px solid #ebedf0;
                display: flex;
                flex-direction: row;

                .sign_up-pane-col {
                    border-right: 1px solid #ebedf0;
                    padding: 30px 40px;
                    width: 100%;

                    &.sign_up-pane-col-1 {
                        width: (100%/3) * 1;
                    }

                    &.sign_up-pane-col-2 {
                        width: (100%/3) * 2;
                    }
    
                    &:last-child {
                        border-right: 0;
                    }
                }

                &:last-child {
                    border-bottom: none;
                }
            }

            .sign_up-pane-digid-form {
                padding: 10px;

                .sign_up-pane-button-digid-icon {
                    background-color: #000;
                    background-image: url('../img/icon-digid.svg');
                    background-size: contain;
                    background-repeat: none;
                    background-position: 50% 50%;
                    height: 48px; width: 48px;
                    border-color: #000;
                    cursor: default;
                    border-radius: 5px;
                }
            }

            .sign_up-pane-image-block {
                img {
                    margin-right: 10px;
                }
            }

            .sign_up-pane-list {
                margin: 0 0 20px;

                li {
                    font: 400 18px/22px $bf;
                    vertical-align: middle;
                    position: relative;
                    padding-left: 30px;
                    margin: 0 0 20px;
                    
                    &:before {
                        content: '';
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        border-radius: 10px;
                        background: #c4c4c4;
                        line-height: 22px;
                        position: absolute;
                        left: 0;
                        top: 6px;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                &.sign_up-pane-list-criteria {
                    li {
                        &:before {
                            display: none;
                        }

                        .item-icon {
                            display: inline-block;
                            width: 20px;
                            height: 20px;
                            border-radius: 20px;
                            border: 2px solid #c4c4c4;
                            background: transparent;
                            line-height: 16px;
                            position: absolute;
                            left: 0;
                            top: 1px;
                            font-size: 16px;
                            text-align: center;
                        }

                        &.item-valid {
                            .item-icon {
                                border-color: #2ac039;
                                color: #2ac039;
                            }
                        }

                        &.item-invalid {
                            .item-icon {
                                border-color: $color_primary;
                            }
                        }
                    }
                }
            }

            .sign_up-pane-heading,
            .sign_up-pane-text,
            .sign_up-pane-list {
                &:last-child {
                    margin-bottom: 0;
                }
            }

            .sign_up-pane-info {
                border: 1px solid #ebedf0;
                padding: 15px 20px;
                border-radius: 8px;
                background: #f4f5f7;

                .sign_up-pane-text {
                    margin-bottom: 0;
                    font: 400 14px/24px $bf;
                }

                .sign_up-pane-list {
                    margin-bottom: 0;
                    
                    li {
                        font: 400 14px/24px $bf;
                    }   
                }
            }

            .sign_up-pane-auth {
                display: flex;
                flex-direction: row;

                .sign_up-pane-auth-content {
                    display: flex;
                    flex-direction: column;
                    font: 400 15px/22px $bf;
                    padding-right: 30px;
                    flex-grow: 1;
                    
                    .sign_up-pane-auth-apps {
                        .sign_up-pane-auth-app-item {
                            width: 130px;
                            margin-right: 10px;

                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }
                }

                .sign_up-pane-auth-qr_code {
                    display: flex;

                    .block.block-qr-code {
                        padding: 0;

                        .qr_code {
                            width: 200px;
                            height: 200px;
                            padding: 10px;
                            border-radius: 5px;
                            box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
                        }
                    }
                }
            }

            .sign_up-email_sent {
                text-align: center;

                .sign_up-email_sent-icon {
                    margin: 0 auto 10px;

                    .sign_up-email_sent-icon-img {
                        display: block;
                        width: 300px;
                        max-width: 100%;
                        margin: auto;
                    }
                }

                .sign_up-email_sent-title {
                    font: 500 28px/38px $bf;
                    color: $color_primary;
                    margin: 0 0 20px;
                }

                .sign_up-email_sent-text {
                    font: 500 18px/27px $bf;
                    color: #454545;
                    margin: 0 0 20px;
                }
            }

            .sign_up-pane-digid {
                padding: 20px 0;
                display: flex;
                width: 100%;

                .digid-button {
                    padding: 8px;
                    padding-right: 25px;
                    border: 1px solid #222530;
                    border-radius: 6px;
                    margin: 0 auto;
                    font: 600 14px/52px $bf;
                    color: #222530;
                    cursor: pointer;
                    display: inline-flex;

                    .digid-button-icon {
                        display: block;
                        width: 52px;
                        margin-right: 25px;
                        float: left;
                    }
                }
            }

            &.sign_up-pane-body-padless {
                padding: 0;
            }

            &.sign_up-pane-body-padless-bottom {
                padding-bottom: 0;
            }

            &+.sign_up-pane-body {
                border-top: 1px solid #ebedf0;
            }
        }

        .sign_up-pane-footer {
            padding: 15px 40px;

            .button {
                &.button-text { 
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 20px;
                    color: #3561FF;

                    line-height: 30px;

                    .mdi {
                        color: #3561FF;    
                        width: 36px;
                        font-size: 34px;    
                    }
                }
            }
        }

        .form {
            .form-group {
                .form-label {
                    font-size: 13px;
                    line-height: 16px;
                    letter-spacing: 0.08px;
                    text-transform: uppercase;
                    color: #7e818c;
                    padding-left: 15px;
                }
            }
        }
    }

    
    .block-wrapper {
        width: 750px;
        max-width: 100%;
        margin: 0 auto 40px;
    }
}