.block.block-page-loading-bar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #d13b3b;
    height: 3px;
    width: 0;
    transition: width .3s linear;
    opacity: 1;
    z-index: 10;

    &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 10px;
        background: #fff;
    }

    &.start, &.complete {
        opacity: 0;
    }

    &.complete {
        transition: opacity 1s linear, width .3s linear;
    }

    &.start {
        transition: 0s;
    }
}
