&.block-accessibility {
    .block-text {
        margin-bottom: 40px;
        font: 400 16px/22px $bf;

        a {
            color: blue;
            font: 400 16px/22px $bf;
        }

        ul {
            list-style-type: square;
            margin-left: 20px;
        }

        .title {
            font: 600 18px/27px $bf;
        }

        .description {
            font: 400 16px/22px $bf;
        }
    }
}