&.block-card-table {
    table {
        width: 100%;

        th, td {
            text-align: left;
            border-bottom: 1px solid var(--border-color);
        }

        th {
            padding-bottom: 16px;
            font: 700 12px/18px var(--base-font);
        }

        td {
            padding: 16px 0;
            font: 400 14px/21px var(--base-font);
        }
    }

    @media screen and (max-width: 1000px) {
        margin: -12px -20px;

        table {
            border-collapse: collapse;

            tr {
                padding-bottom: 15px;
                border-bottom: 1px solid var(--border-color);

                th, td {
                    padding: 0 15px;
                    border-bottom: none;
                    vertical-align: top;
                }

                td {
                    .block-card-table-item {
                        margin-bottom: 15px;

                        .block-card-table-label {
                            font: 500 12px/24px var(--base-font);
                            color: #595959;
                        }
    
                        .block-card-table-value {
                            font: 600 13px/21px var(--base-font);
                        }

                        .label {
                            width: fit-content;
                        }
                    }
                }

                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
}