.block.block-file-uploader {
    .uploader-droparea {
        width: 100%;
        background: #F4F5F7;
        padding: 25px 30px;
        text-align: center;
        border: 1px dashed #E5E6EC;
        border-radius: 8px;
        color: #9EA7B6;
        margin: 0 0 25px;

        .droparea-icon {
            margin: 0 0 10px;
            color: inherit;

            .mdi {
                color: inherit;
                font-size: 30px;
            }
        }

        .droparea-title {
            font: 500 16px/22px $bf;
            color: inherit;
            margin: 0 0 10px;

            small {
                font-size: 14px;
            }
        }

        .droparea-button {
            margin: 0 auto 15px;
        }

        .droparea-size {
            font: 400 13px/18px $bf;
            color: inherit;
        }

        &.is-dragover {
            background: white;
            border-color: silver;
        }
    }

    .uploader-files {
        display: block;

        .file-item {
            display: flex;
            margin: 0 0 20px;

            .file-item-icon {
                img {
                    display: block;
                    float: left;
                }

                margin-right: 15px;
            }

            .file-item-name {
                font: 400 14px/24px $bf;
                display: flex;

                .file-item-remove {
                    cursor: pointer;
                    padding-left: 5px;
                    
                    .mdi {
                        line-height: 24px;
                    }
                }
            }

            &.file-item-with-progress {
                .file-item-name {
                    position: relative;

                    &:after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        width: 100%;
                        display: block;
                        height: 2px;
                        background: #EBEDF0;
                    }
                }
            }
        }
    }
}