&.block-products-list {
    --products-title-color: var(--tc);
    --products-text-color: var(--tc);
    --products-gap: 15px;

    display: flex;
    flex-direction: column;
    gap: var(--products-gap);
    margin: 0 0 15px;

    .product-item {
        background: var(--showcase-item-background);
        border-radius: var(--showcase-item-border-radius);
        box-shadow: var(--showcase-item-shadow);
        border: var(--showcase-item-border);
        display: flex;
        position: relative;
        flex-direction: row;
        transition: box-shadow 0.4s;

        .product-photo {
            flex: 0 0 105px;
            display: flex;
            align-items: flex-start;
            padding: 15px 0 15px 15px;

            img {
                display: block;
                width: 100%;
                border-radius: calc(var(--showcase-item-border-radius) / 2);
            }
        }

        .product-content {
            display: flex;
            flex-direction: row;
            flex: 1 1 auto;
            padding: 15px 15px;
            min-width: 0;

            .product-details {
                display: flex;
                flex-direction: column;
                flex: 1 1 auto;
                word-wrap: break-word;
                align-items: flex-start;
                gap: 5px;
                min-width: 0;
                color: var(--tc);

                .product-title,
                .product-subtitle,
                .product-price {
                    display: flex;
                    margin: 0 0;
                    max-width: 100%;
                    word-wrap: break-word;
                    flex-direction: column;
                    color: var(--products-text-color);
                }

                .product-title {
                    color: var(--products-title-color);
                    font: 700 18px/26px var(--hf);
                }

                .product-subtitle {
                    font: 400 14px/22px var(--base-font);
                }

                .product-price {
                    font: 700 18px/24px var(--base-font);
                    flex: 1 0 auto;
                    justify-content: flex-end;
                }
            }

            .product-actions {
                flex: 0 0 auto;
                display: flex;
                flex-direction: column;
                padding: 0 0 0 15px;
                gap: 10px;
            }
        }

        &:hover {
            box-shadow: var(--showcase-item-hover-shadow);
        }
    }

    @media screen and (max-width: 1000px) {
        .product-item {
            .product-photo {
                flex: 0 0 80px;
            }

            .product-content {
                .product-details {
                    .product-title {
                        font: 700 15px/22px var(--hf);
                    }

                    .product-subtitle {
                        font: 400 14px/20px var(--base-font);
                    }

                    .product-price {
                        font: 700 18px/24px var(--base-font);
                        flex: 1 0 auto;
                        justify-content: flex-end;
                    }
                }
            }
        }
    }
}
