.block {
    &.block-user_emails {
        display: flex;
        flex-direction: column;
    
        .user_email-item {
            display: flex;
            flex-direction: row;
            border-bottom: 1px solid #d4d9dd;
    
            .user_email-icon {
                padding: 20px 0 20px 20px;
    
                .mdi {
                    font-size: 26px;
                    margin-left: 5px;
                    margin-right: -5px;
                    color: #8ca3a6;
                }
            }
    
            .user_email-details {
                padding: 20px;
                flex-grow: 1;
    
                .user_email-address,
                .user_email-options {
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
    
                .user_email-address {
                    font: 600 18px/26px $hf;
                    color: $tc;
                    margin: 0 0 5px;
                }
    
                .user_email-options {
                    margin: 0 0 10px;
    
                    .user_email-option {
                        font: 500 14px/27px $bf;
                        color: $tc;
                        margin: 0 0 5px;
                        padding-left: 15px;
                        position: relative;
    
                        &:before {
                            content: '';
                            position: absolute;
                            display: block;
                            width: 4px;
                            height: 4px;
                            border-radius: 5px;
                            background: $color_primary_light;
                            left: 0;
                            top: 50%;
                            transform: translate(0, -50%);
                        }
    
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
    
            .user_email-actions {
                padding: 20px;
    
                .button, .label {
                    margin-left: 10px;
                    align-self: center;

                    .mdi {
                        font-size: 1.7em;
                    }
                }
            }
    
            &:last-child {
                border-bottom: none;  
            }
        }
    }

    @media screen and (max-width: 767px) {
        &.block-user_emails {
            .user_email-item {
                .user_email-icon {
                    padding-left: 10px;

                    .mdi {
                        font-size: 20px;
                    }
                }

                .user_email-details {
                    padding-right: 0;
                    width: 100%;

                    .user_email-address {
                        font: 600 14px/16px $hf;
                    }

                    .user_email-options {
                        .user_email-option {
                            font: 500 11px/13px $hf;
                        }
                    }

                    .button {
                        font-size: 10px;
                        padding: 0 0 0 20px;

                        .mdi {
                            margin-right: 5px;
                            font-size: 12px;
                            line-height: 13px;
                        }
                    }
                }

                .user_email-actions {
                    margin-top: -2px;
                    padding-left: 0;
                    padding-right: 10px;

                    label {
                        margin-bottom: 4px;
                        padding: 0 5px;
                        font-size: 9px;
                        white-space: nowrap;
                    }

                    .button {
                        float: right;
                        padding: 3px 8px;
                        font-size: 5px;

                        .mdi {
                            font-size: 11px;
                        }
                    }
                }
            }
        }
    }
}