.block {
    &.block-empty {
        background: #fff;
        border-radius: $border_radius;
        box-shadow: 0 5px 30px rgba(#000, .05);
        padding: 20px 25px 20px;
        margin: 0 0 30px;

        .block-title {
            font: 700 22px $bf;
            color: #282b39;
            margin: 0px 0px 5px;
        }

        .block-description {
            font: 400 14px $bf;
            color: #646f79;
            margin-bottom: 0;
        }

        .block-link {
            font: 600 13px/22px $bf;
            color: $color_default;
            display: inline-block;

            .mdi {
                color: $color_default;
                font-size: 1.3em;
                float: right;
                margin-left: 5px;
                transition: .4s;
                line-height: 22px;
                float: right;
            }

            &:hover {
                .mdi {
                    margin-left: 10px;
                }
            }
        }
    }

    @media screen and (max-width: 1700px) {
        &.block-empty {
            padding: 20px;

            .block-title {
                font: 700 20px/36px $bf;
                margin: 0;
            }

            .block-description {
                font: 400 14px/24px $bf;
                margin: 0;
            }
        }
    }

    @media screen and (max-width: 1000px) {
        &.block-empty {
            border: 1px solid #ddecff;
            text-align: center;
        }
    }
}