.block {
    &.block-info-card {
        border: 1px solid $border_color;
        background: #fff;
        border-radius: $border_radius;
        overflow: hidden;
        box-shadow: $base_shadow;
        margin-bottom: 30px;

        .block-header {
            font: 700 22px/30px $bf;
            padding: 20px 25px;
            border-bottom: 1px solid $border_color;
        }

        .block-content {
            padding: 20px 25px;
            color: #00122a;
        }

        .block-funds-content {
            padding: 0;
            color: #00122a;
        }

        .info-office {
            display: flex;

            .info-office-photo {
                width: 130px;
                background-size: cover;
                background-position: 50%;
                background-repeat: no-repeat;

                img {
                    display: block;
                    width: 100%;
                }
            }

            .info-office-details {
                padding: 15px 25px 20px;

                .info-office-title {
                    font: 700 16px/24px $bf;
                    margin-bottom: 10px;
                    color: #282b39;
                }

                .info-office-description {
                    font: 400 13px/20px $bf;
                    margin-bottom: 10px;
                    color: #282b39;
                }

                .sub-description {
                    font: 700 14px/20px $bf;
                    margin-top: 20px;
                }
            }
        }
        .product-funds-list {
            display: flex;
            flex-direction: column;

            .fund-item {
                display: flex;
                flex-direction: row;
                border-bottom: 1px solid $border_color;
                border-radius: $border_radius;
                overflow: hidden;

                .fund-item-info {
                    display: flex;
                    flex-direction: row;
                    flex-grow: 1;

                    .fund-item-media {
                        margin: 15px;

                        .fund-item-media-value {
                            height: 48px;

                            .fund-item-media-img {
                                height: 100%;
                                border-radius: $border_radius;
                            }
                        }
                    }

                    .fund-item-name {
                        border-left: 1px solid $border_color;
                        border-right: 1px solid $border_color;
                        flex-grow: 1;
                        display: flex;
                        align-items: center;

                        .fund-item-name-value {
                            font: 700 18px/28px $bf;
                            color: #303030;
                            margin-left: 15px;
                        }

                        &:last-child {
                            border-right: 0;
                        }
                    }
                }

                .fund-item-limit {
                    padding: 12px 20px;
                    display: flex;
                    flex-direction: column;
                    border-right: 1px solid $border_color;

                    .fund-item-limit-label {
                        color: #646F79;
                        font: 700 12px/22px $bf;
                        margin-right: 5px;
                        width: 100%;
                        text-align: right;
                    }

                    .fund-item-limit-value {
                        font: 700 14px/20px $bf;
                        height: 22px;
                        width: 100%;
                        border-radius: 22px;
                        text-align: right;
                    }

                    &:last-child {
                        border-right: 0;
                    }
                }

                .fund-item-price {
                    display: flex;
                    align-items:center;
                    padding: 10px 20px;

                    .fund-item-price-value {
                        font: 700 22px/28px $bf;
                    }
                }

                .fund-item-apply {
                    background-color: #F7F9FB;
                    font: 700 18px/32px $bf;
                    padding: 7px 50px;
                    border: 1px solid #D4D9DD;
                    height: 50px;
                    margin: 15px;
                }

                &:last-child {
                    margin-bottom: 0px;
                    border-top:0px;
                    border-bottom: 0px;
                    border-bottom: 0px;
                }
            }
        }
    }

    @media screen and (max-width: 1000px) {
        &.block-info-card {
            .info-office {
                display: flex;
                flex-direction: column;

                .info-office-photo {
                    width: 100%;
                    overflow: hidden;

                    img {
                        display: block;
                        margin: -25% 0;
                    }
                }

                .info-office-details {
                    display: flex;
                    flex-direction: column;
                    padding: 20px;

                    .sub-description {
                        margin: 0 0 0;
                    }
                }
            }
            .product-funds-list {

                 .fund-item {    
                    flex-direction: column;

                    .fund-item-info {
                        display:flex;
                        flex-direction: row;
                        border-bottom: 1px solid $border_color;
                        
                        .fund-item-name {
                            border:0;
                            text-overflow: ellipsis;   /* IE, Safari (WebKit) */           /* don't show excess chars */  
                        }
                    }    
                    .fund-item-limit {
                        border: 0;
                        padding: 15px 15px 15px 15px;
                        display: flex;
                        flex-direction: row;
    
                        .fund-item-limit-label {
                            color: #646F79;
                            font: 700 12px/22px $bf;
                            margin-right: 5px;
                            width: 100%;
                            text-align: left;
                        }
    
                        .fund-item-limit-value {
                            font: 700 14px/20px $bf;
                            height: 22px;
                            width: 100%;
                            text-align: right;
                        }
    
                        &:last-child {
                            border-right: 0;
                        }
                    }

                    .fund-item-price {
                        font: 700 14px/22px $bf;
                        padding: 10px 20px;
                    }
    
                    .fund-item-apply {
                        font: 700 14px/22px $bf;
                        text-align:center;
                        padding: 12px 50px;
                        vertical-align: middle;
                        border: unset;
                        border-top: 1px solid #D4D9DD;
                        height: 50px;
                        margin: 0px;
                    }
                }
            }
        }
    }
}