.block {
    &.block-info-card {
        border: 1px solid $border_color;
        background: #fff;
        border-radius: $border_radius;
        overflow: hidden;
        box-shadow: $base_shadow;
        margin-bottom: 30px;

        .block-header {
            display: block;
            font: 700 22px/30px $hf;
            padding: 20px 25px;
            border-bottom: 1px solid $border_color;
            color: $tc;
            margin: 0 0 0;
        }

        .block-content {
            padding: 20px 25px;
            color: #00122a;
        }

        .block-funds-content {
            padding: 0;
            color: #00122a;
        }

        .info-office {
            display: flex;

            .info-office-photo {
                width: 130px;
                background-size: cover;
                background-position: 50%;
                background-repeat: no-repeat;

                img {
                    display: block;
                    width: 100%;
                }
            }

            .info-office-details {
                padding: 15px 25px 20px;

                .info-office-title {
                    font: 700 16px/24px $bf;
                    margin-bottom: 10px;
                    color: #282b39;
                }

                .info-office-description {
                    font: 400 13px/20px $bf;
                    margin-bottom: 10px;
                    color: #282b39;
                }

                .sub-description {
                    font: 700 14px/20px $bf;
                    margin-top: 20px;
                }
            }
        }
    }

    @media screen and (max-width: 1000px) {
        &.block-info-card {
            .block-header {
                padding: 15px 20px;
                font-size: 16px;
            }

            .info-office {
                display: flex;
                flex-direction: column;

                .info-office-photo {
                    width: 100%;
                    overflow: hidden;

                    img {
                        display: block;
                        margin: -25% 0;
                    }
                }

                .info-office-details {
                    display: flex;
                    flex-direction: column;
                    padding: 20px;

                    .sub-description {
                        margin: 0 0 0;
                    }
                }
            }
        }
    }
}
