.block {
    &.block-map_card {
        border-radius: $border_radius;
        box-shadow: $base_shadow;
        background: #fff;
        margin-bottom: 50px;

        .map_card-header,
        .map_card-footer {
            border: 1px solid $border_color;
            padding: 15px 25px;

            .map_card-title {
                color: #00122a;
                font: 700 22px $bf;
                margin: 0 0 0;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .map_card-subtitle {
                color: #646f79;
                font: 400 16px $bf;
                margin-bottom: 5px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .map_card-header {
            border-top-left-radius: inherit;
            border-top-right-radius: inherit;
        }

        .map_card-footer {
            border-bottom-left-radius: inherit;
            border-bottom-right-radius: inherit;
        }

        .map_card-iframe {
            border: 1px solid $border_color;
            border-top: none;
            border-bottom-left-radius: inherit;
            border-bottom-right-radius: inherit;
            position: relative;
            height: 550px;

            iframe {
                border-bottom-left-radius: inherit;
                border-bottom-right-radius: inherit;
                @include fill_parent();
                width: 100%;
                height: 100%;
            }

            .map {
                border-bottom-left-radius: inherit;
                border-bottom-right-radius: inherit;
                @include fill_parent();
                width: 100%;
                height: 100%;
            }
        }


        @media screen and (max-width: 1000px) {
            .map_card-header {
                padding: 15px 20px;

                .map_card-title {
                    font-size: 16px;
                }
            }
        }
    }
}