.block {
    &.block-markdown {
        text-align: justify;
        font: 400 14px/24px $bf;

        h1 {
            font: 500 2.5em $bf;
            margin: 0 0 0.4em;
            text-align: left;
        }

        h2 {
            font: 500 2em $bf;
            margin: 0 0 0.5em;
            text-align: left;
        }

        h3 {
            font: 500 1.5em $bf;
            margin: 0 0 0.5em;
            text-align: left;
        }

        p {
            margin-bottom: 15px;
            text-align: justify;
            font: inherit;
        }

        ul, ol {
            list-style: disc;
            margin-bottom: 15px;
            padding-left: 18px;
            font: inherit;

            li {
                font: inherit;
            }
        }

        a {
            color: $bc;
            font-weight: 500;
            transition: .4s;
            font: inherit;

            &:hover {
                color: $bc;
                text-decoration: underline;
            }
        }
    }
    @media screen and (max-width: 1000px) {
        &.block-markdown {
            h1 {
                font: 500 1.8em $bf;
                margin-bottom: 1em;
            }

            h2 {
                font: 500 1.6em $bf;
                margin-bottom: 1em;
            }

            h3 {
                font: 500 1.3em $bf;
                margin-bottom: 1em;
            }
        }
    }
}