.block {
    &.block-markdown {
        text-align: justify;
        font: 400 14px/24px $bf !important;

        h1 {
            font: 500 2.5em $bf;
            margin: 0 0 0.6em;
            text-align: left;
        }

        h2 {
            font: 500 2em $bf;
            margin: 0 0 0.7em;
            text-align: left;
        }

        h3 {
            font: 500 1.5em $bf;
            margin: 0 0 0.9em;
            text-align: left;
        }

        h4 {
            font: 500 1.25em $bf;
            margin: 0 0 0.9em;
            text-align: left;
        }

        p {
            margin-bottom: 15px;
            text-align: justify;
            font: inherit;
        }

        ul, ol {
            list-style: disc;
            margin-bottom: 15px;
            padding-left: 18px;

            li {
                font: inherit;
            }
        }

        a {
            color: $tc-link;
            font-weight: 500;
            transition: 0.4s;
            font: inherit;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }

        strong,
        b {
            font: inherit;
            font-weight: 700;
        }
    
        i,
        em {
            font: inherit;
            font-style: italic;
        }
    
        img {
            width: 100% !important;
            height: auto !important;
        }
    
        .youtube-root {
            padding-top: 56.25%;
            position: relative;
    
            iframe {
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                position: absolute;
            }
        }
    }

    @media screen and (max-width: 1000px) {
        &.block-markdown {
            font: 400 14px/20px $bf !important;

            h1 {
                font: 500 1.8em $bf;
                margin-bottom: 1em;
            }

            h2 {
                font: 500 1.6em $bf;
                margin-bottom: 1em;
            }

            h3 {
                font: 500 1.3em $bf;
                margin-bottom: 1em;
            }
        }
    }
}
