.block {

    &.block-phone-number {
        margin: 0 auto 20px;
        
        .pincode-number {
            width: 50px;
        }
    }
    @media screen and (max-width: 1700px) {

        &.block-phone-number {
            .pincode-number {
                width: 45px;
            }
        }
    }
    @media screen and (max-width: 1000px) {
        &.block-phone-number {
            .pincode-number {
                margin-right: 5px;
                width: 30px;
            }
            width: calc(30px * 10 + 10px * 1);
        }
    }
}