.block {

    &.block-pincode {
        display: block;
        margin: 0 auto 20px;
        padding: 0;
        text-align: center;
        position: relative;
        @include cf();
        width: 100%;

        .pincode-number {
            display: inline-block;
            height: 60px;
            width: 60px;
            border: 1px solid #dfe4ec;
            background: #fff;
            border-radius: 4px;
            margin-right: 10px;
            font: 600 26px/60px $bf;
            cursor: default;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }
    @media screen and (max-width: 1700px) {

        &.block-pincode {
            margin-bottom: 10px;

            .pincode-number {
                font: 600 22px/60px $bf
            }
        }
    }
    @media screen and (max-width: 1000px) {
        &.block-pincode {
            width: calc(60px * 6 + 10px * 5);

            @media screen and (max-width: 767px) {
                &.block-pincode {
                    margin: 30px auto 30px;
                    width: calc(50px * 6 + 10px * 5);
        
                    .pincode-number {
                        width: 50px;
                        height: 60px;
                        font: 600 26px/60px $bf;
                    }
                }
        }
            
            .pincode-number {
                height: 60px;
                width: 60px;
                font: 600 22px/70px $bf
            }
        }
    }
}