.block {
    &.block-pincode {
        margin: 0 auto 20px;
        padding: 0;
        text-align: center;
        width: 100%;
        position: relative;
        display: flex;
        justify-items: center;
        justify-content: center;
        @include cf();

        .hidden-input {
            opacity: 0;
            height: 40px;
            width: 100%;
            position: absolute;
            top: 0px;
            border: none;
            background: none;
            z-index: -100;
        }

        .pincode-number {
            display: inline-block;
            height: 60px;
            width: 60px;
            border: 1px solid #dfe4ec;
            background: #fff;
            border-radius: 4px;
            margin-right: 10px;
            font: 600 26px/60px "Open Sans", arial, sans-serif;
            text-align: center;
            cursor: default;
            position: relative;

            &:before {
                width: 2px;
                height: 30px;
                border-radius: 6px;
                background: var(--color-primary);
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%);
                display: block;
                transform: translate(0, -50%);
                @include anim_blink();
                transition: opacity .4s;
            }

            &:last-of-type {
                margin-right: 0;
            }

            &.active {
                color: transparent;

                &:before {
                    content: ' ';
                }
            }

            &.pincode-number-divider {
                position: relative;
                border: none;
                background: transparent;
                width: 5px;

                &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background: #b7bfc6;
                    width: 5px;
                    height: 5px;
                    border-radius: 5px;
                }
            }
        }

        &:last-child {
            margin-bottom: 0;
        }

        &.block-phone-number{
            width: calc(60px * 10 + 10px * 9);
            margin: 25px auto;
        }

        &.block-pincode-compact {
            .pincode-number {
                height: 40px;
                width: 40px;
                line-height: 38px;
                font-size: 18px;
                margin-right: 6px;

                &:before {
                    height: 20px;
                }

                &.pincode-number-divider {
                    width: 4px;

                    &:after {
                        width: 7px;
                        height: 2px;
                    }
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        @media screen and (max-width: 1700px) {
            margin-bottom: 10px;
    
            .pincode-number {
                font: 600 22px/60px var(--base-font)
            }
        }
    
        @media screen and (max-width: 1000px) {
            width: calc(60px * 6 + 10px * 5);
            
            .pincode-number {
                height: 60px;
                width: 60px;
                font: 600 22px/70px var(--base-font)
            }
        }
    
        @media screen and (max-width: 767px) {
            margin: 30px auto 30px;
            width: calc(50px * 6 + 10px * 5);
    
            .pincode-number {
                width: 50px;
                height: 60px;
                font: 600 26px/60px var(--base-font);
            }
    
            &.block-pincode-mobile-collapse {
                width: auto;

                .pincode-number {
                    margin-right: -1px;
                    border-radius: 0;
                    width: auto;
                    padding: 0 4px;
                    font-size: 18px;

                    &:before {
                        height: 20px;
                    }
    
                    &.pincode-number-divider {
                        display: none;
                    }

                    &.pincode-number-block-start {
                        border-top-left-radius: 4px;
                        border-bottom-left-radius: 4px;
                        padding-left: 15px;

                        &:before {
                            margin-left: 7.5px;
                        }
                    }

                    &.pincode-number-block-end {
                        margin-right: 10px;
                        border-top-right-radius: 4px;
                        border-bottom-right-radius: 4px;
                        padding-right: 15px;

                        &:before {
                            margin-left: -7.5px;
                        }
                    }

                    &:not(.pincode-number-block-start) {
                        border-left: 0;
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}