.block {
    &.block-products {
        margin: 20px -15px 30px;
        flex-wrap: wrap;

        .product-item {
            margin: 0 0 30px;
            padding: 0 15px;
            display: inline-block;
            max-width: 33.333%;

            .product-image {
                width: 100%;
                border-radius: $border_radius $border_radius 0 0;
                overflow: hidden;
                display: block;
                position: relative;
                transform: translate(0, 0);
                transition: .4s;
                box-shadow: 0 0 0 rgba(#000, .05);
                background-size: cover;
                background-position: 50% 50%;

                img {
                    display: block;
                    width: 100%;
                }

                &:after {
                    content: '';
                    background: #394260;
                    opacity: 0;
                    @include fill_parent();
                    transition: opacity .4s;
                }
            }

            .product-details {
                padding: 20px;
                background: #ffffff;
                display: block;
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
                @include cf();
            }

            .product-organization {
                font: 700 16px/26px $bf;
                flex: 1;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .product-name {
                color: $bc;
                font: 700 18px/26px $bf;
                margin: 0 0 15px;
                transition: .4s;
            }

            .truncated {
                flex: 1;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .product-price {
                font: 700 18px/24px $bf;
                color: #151b26;

                small {
                    font: inherit;
                    font-size: 15px;
                    color: #646f79;
                    display: none;
                }
            }

            .product-item-inner {
                box-shadow: $base_shadow;
                border-radius: $border_radius;
                background-color: rgba(255, 255, 255, .9);
                display: block;
                flex: 1;
                @include cf();

                &:hover {
                    .product-name {
                        color: $tc;
                    }

                    .product-image {
                        transform: translate(0, -6px);
                        box-shadow: 0 15px 50px rgba(#000, .15);

                        &:after {
                            opacity: .5;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1700px) {
        &.block-products {
            margin: 0 -20px 15px;

            .product-item {
                padding: 0 20px;
                margin: 0 0 20px;
            }
        }
    }

    @media screen and (max-width: 1300px) {
        &.block-products {
            margin: 0 -15px 15px;

            .product-item {
                padding: 0 15px;
                margin: 0 0 15px;
            }
        }
    }

    @media screen and (max-width: 1000px) {
        &.block-products {
            margin: 0 -10px 15px;
            padding: 0;

            .section-title {
                text-align: center;
            }

            .product-item {
                padding: 0 10px;
                margin: 0 0 15px;
                width: (100% / 3);
                max-width: none;

                .product-item-inner {
                    display: flex;
                    flex-direction: column;
                    position: relative;

                    .product-image {
                        margin: 0 0;
                        width: 100%;
                        float: left;
                        border-radius: $border_radius $border_radius 0 0;

                        img {
                            width: 100%;
                            display: block;
                            border-radius: $border_radius $border_radius 0 0;
                        }
                    }

                    .product-details {
                        display: flex;
                        flex-direction: column;
                        flex: 1;
                    }

                    .product-discount {
                        text-align: left;
                        float: left;
                        width: auto;
                        color: #FFF;
                        font-weight: 700;
                        font-size: 12px;
                        padding: 0 5px;
                        margin: 0 5px 5px 0;
                        background-color: #d91d46;
                        position: absolute;
                        left: 0;
                        top: 0;
                        border-radius: $border_radius / 2 0 0 0;

                        br {
                            display: none;
                        }
                    }

                    .product-price {
                        width: 100%;
                        text-align: right;
                        order: 2;
                        font: 700 16px $bf;

                        small {
                            color: #646f79;
                            margin-bottom: 5px;
                            font: 600 12px $bf;
                        }
                    }

                    .product-name {
                        font: 700 16px/26px $bf;
                        margin: 0 0 5px;
                        width: 100%;
                        color: #00122a;
                        order: 0;
                    }

                    &:last-of-type {
                        margin-bottom: 0;
                        width: 100%;
                    }

                    &:hover {
                        .product-image {
                            transform: none;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 700px) {
        &.block-products {
            padding: 0;

            .product-item {
                width: 50%;
                max-width: none;

                .product-item-inner {
                    .product-details {
                        padding: 10px 15px;

                        .product-organization {
                            font: 700 14px/20px $bf;
                        }

                        .product-name {
                            font: 700 18px/32px $bf;
                        }

                        .product-price {
                            font: 700 18px/20px $bf;

                            small {
                                font: 600 14px/26px $bf;
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 500px) {
        &.block-products {
            margin: 0 0 15px;

            .section-title {
                text-align: center;
            }

            .product-item {
                width: 100%;
                padding: 0 0 0 0;
            }
        }
    }
}