.block.block-product {
    position: relative;

    .product-card {
        background-color: #fff;
        border-radius: $border_radius;
        margin-bottom: 30px;
        box-shadow: $base_shadow;
        cursor: default;
        @include cf();
        position: relative;
        // overflow: hidden;
        min-height: 300px;
        display: flex;

        .product-photo {
            width: 40%;
            min-width: 40%;
            max-width: 40%;
            border-top-left-radius: inherit;
            border-bottom-left-radius: inherit;
            background-size: cover;
            background-position: 50%;
            background-repeat: no-repeat;
            border-radius: $border_radius;

            img {
                width: 100%;
                display: none;
                border-top-left-radius: inherit;
                border-bottom-left-radius: inherit;
            }
        }

        .product-details {
            padding: 30px;
            width: 100%;
            position: relative;
            background: #fff;
            border-radius: $border_radius;
            border-top-right-radius: inherit;
            border-bottom-right-radius: inherit;

            .product-name {
                color: #00122a;
                font: 700 22px $bf;

                .label {
                    margin-top: 6px;
                    float: right;
                    margin-left: 10px;
                }
            }

            .organization-name {
                color: #646F79;
                font: 700 14px $bf;
            }

            .product-details-horizontal {
                display: flex;
                align-items: center;
                margin: 10px 0px 10px 0px;

                .product-expire {
                    margin: 0 20px 0 20px;

                    .expire-label {
                        font: 600 14px $bf;
                        color: #000;
                    }

                    .expire-value {
                        color: #282b39;
                        font: 500 16px $bf;
                    }
                }

                .product-categories {   
                    margin: 0 20px 0 0;

                    .category-label {
                        font: 600 14px $bf;
                        color: #000;
                    }

                    .category-value {
                        color: #282b39;
                        font: 500 16px $bf;
                    }

                }
            }

            hr {
                border: 0;
                height: 0;
                border-top: 1px solid rgba(0, 0, 0, 0.1);
                border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            }

            .block-header {
                font: 600 14px $bf;
            }

            .block-content {
                color: #000;
                font: 400 14px $bf;
            }

            .product-details-link {
                font: 600 13px/20px $bf;
                color: #083f49;
                width: 100%;
                cursor: pointer;
                display: block;

                .mdi {
                    color: #3396a7;
                    display: inline-block;
                    font-size: 1.5em;
                    line-height: 20px;
                    vertical-align: bottom;
                    position: relative;
                    transform: translate(0px);
                    transition: .4s;
                }

                &:hover {
                    .mdi {
                        transform: translate(5px);
                    }
                }
            }
            
            .button {
                padding-left: 100px;
                padding-right: 100px;
            }
        }

    }

    .flex-row {
        margin: 0;
    }

    &.block-product-sm {
        .product-card {
            .product-details {
                .product-name {
                    font-size: 16px;
                }

                .product-categories {
                    font-size: 13px;
                    margin-bottom: 15px;
                }
            }

            .product-funds {
                margin-bottom: 10px;

                .product-fund-label {
                    font-size: 10px;
                    margin: 0;
                }

                .product-fund-list {
                    font-size: 15px;
                }
            }

            .product-price {
                width: 100%;
                margin-bottom: 10px;
                @include cf();

                .product-price-new {
                    float: left;
                    margin: 0;
                }

                .product-price-old {
                    float: left;
                    margin-top: 8px;
                    margin-left: 5px;
                }
            }

            .product-expire {
                .expire-label {
                    font-size: 10px;
                }

                .expire-value {
                    font-size: 15px;
                }
            }
        }
    }

    .organization-pane .office-organization {
        background: #ffffff;
        display: flex;
        flex-direction: row;
        padding: 25px 15px;

        .organization-photo {
            margin: -10px 15px -10px 0;

            .organization-photo-img {
                display: block;
                width: 50px;
                border-radius: $border_radius;
            }
        }
        
        .organization-title {
            display: flex;
            flex-direction: row;
            flex-grow: 1;
            font: 700 14px/20px $bf;
            text-align: left;

            .organization-title-value {
                vertical-align: middle;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .organization-title-count {
                min-width: 30px;
                text-align: center;
                padding: 0 5px;
                height: 30px;
                text-align: center;
                font: inherit;
                line-height: 30px;
                color: #fff;
                background: $color_primary;
                border-radius: $border_radius / 2;
                margin-left: 10px;
            }
        }

        .organization-chevron {
            line-height: 30px;
            height: 30px;
            font-size: 30px;
            color: #646f79;
            cursor: pointer;
            transform: .4s;

            .mdi {
                font-size: inherit;
                color: inherit;
            }

            &:hover {
                color: $color_primary;
            }
        }
    }

    @media screen and (max-width: 1000px) {
        .product-card {
            flex-direction: column;

            .product-photo {
                width: 100%;
                min-width: 100%;
                max-width: 100%;
                background: none;
                border-radius: $border_radius;

                img {
                    display: block;
                    border-radius: $border_radius;
                    border-top-left-radius: inherit;
                    border-top-right-radius: inherit;
                }
            }

            .product-details {
                padding: 25px;
                border-radius: $border_radius;
                border-bottom-left-radius: inherit;
                border-bottom-right-radius: inherit;

                .button {
                    padding-left: 20px;
                    padding-right: 20px;
                    width: 100%;
                }
            }
        }
    }
}