.block.block-product {
    position: relative;

    .product-card {
        background-color: #fff;
        border-radius: $border_radius;
        margin-bottom: 50px;
        box-shadow: 0 10px 25px rgba(#000, .2);
        cursor: default;
        @include cf();
        position: relative;
        // overflow: hidden;
        display: flex;

        .product-photo {
            width: 40%;
            min-width: 40%;
            max-width: 40%;
            border-top-left-radius: inherit;
            border-bottom-left-radius: inherit;
            background-size: cover;
            background-position: 50%;
            background-repeat: no-repeat;
            border-radius: 0;
            border-top-left-radius: inherit;
            border-bottom-left-radius: inherit;

            img {
                width: 100%;
                display: none;
                border-top-left-radius: inherit;
                border-bottom-left-radius: inherit;
            }
        }

        .product-details {
            padding: 30px;
            width: 100%;
            position: relative;
            background: #fff;
            border-radius: 0;
            border-top-right-radius: inherit;
            border-bottom-right-radius: inherit;

            .product-name {
                color: #00122a;
                font: 700 26px $bf;

                .label {
                    margin-top: 6px;
                    float: right;
                    margin-left: 10px;
                }
            }

            .product-categories {
                color: #282b39;
                font: 600 16px $bf;
                margin-bottom: 20px;
            }

            .product-funds {
                margin-bottom: 10px;
                
                .product-fund-label {
                    font: 500 10px $bf;
                    color: #646f79;
                    margin-bottom: 5px;
                }

                .product-fund-list {
                    font: 700 16px $bf;
                    color: #282b39;
                }
            }

            .product-price {
                margin-top: 20px;
                margin-bottom: 20px;

                .product-price-new {
                    font: 700 24px $bf;
                    color: #151b26;
                    margin-bottom: 5px;
                    display: flex;
                    align-items: center;
                    
                    .new-value {
                        padding: 0px 10px;
                    }
                }

                .product-price-old {
                    font: 400 18px $bf;
                    color: #646f79;
                    display: flex;
                    align-items: center;
                    text-decoration: line-through;

                    .old-value {
                        padding: 0 10px;
                    }
                }

                .product-price-insufficient {
                    font: 400 18px/20px "Lato", arial, sans-serif;
                    color: #646f79;
                    
                    .tooltip-block {
                        margin: 0 0 0 3px;
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .product-expire {
                margin-bottom: 20px;

                .expire-label {
                    font: 500 13px $bf;
                    color: #646f79;
                }

                .expire-value {
                    font: 700 24px $bf;
                    color: #282b39;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .product-details-link {
                font: 600 13px/20px $bf;
                color: #083f49;
                width: 100%;
                cursor: pointer;
                display: block;

                .mdi {
                    color: #3396a7;
                    display: inline-block;
                    font-size: 1.5em;
                    line-height: 20px;
                    vertical-align: bottom;
                    position: relative;
                    transform: translate(0px);
                    transition: .4s;
                }

                &:hover {
                    .mdi {
                        transform: translate(5px);
                    }
                }
            }
            
            .button {
                padding-left: 100px;
                padding-right: 100px;
            }
        }

        .product-funds-list {
            display: flex;
            flex-direction: column;
            padding-top: 20px;

            .fund-item {
                display: flex;
                flex-direction: row;
                margin-bottom: 10px;
                border: 1px solid $border_color;
                border-radius: $border_radius;
                overflow: hidden;

                .fund-item-media {
                    height: 48px;
                    border-right: 1px solid $border_color;
                    
                    .fund-item-media-img {
                        height: 100%;
                    }
                }

                .fund-item-name {
                    font: 700 14px/28px $bf;
                    padding: 10px 20px;
                    border-right: 1px solid $border_color;
                    flex-grow: 1;
                }

                .fund-item-limit {
                    padding: 12px 20px;
                    display: flex;
                    flex-direction: row;
                    border-right: 1px solid $border_color;

                    .fund-item-limit-label {
                        color: #646F79;
                        font: 700 12px/22px $bf;
                        margin-right: 5px;
                    }

                    .fund-item-limit-value {
                        font: 700 14px/20px $bf;
                        height: 22px;
                        width: 22px;
                        border-radius: 22px;
                        border: 1px solid $border_color;
                        text-align: center;
                    }

                    &:last-child {
                        border-right: 0;
                    }
                }

                .fund-item-price {
                    font: 700 22px/28px $bf;
                    padding: 10px 20px;
                }

                .fund-item-apply {
                    background-color: #F7F9FB;
                    font: 700 13px/28px $bf;
                    padding: 10px 20px;
                }

                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }
    }

    &.block-product-sm {
        .product-card {
            .product-details {
                .product-name {
                    font-size: 16px;
                }

                .product-categories {
                    font-size: 13px;
                    margin-bottom: 15px;
                }
            }

            .product-funds {
                margin-bottom: 10px;

                .product-fund-label {
                    font-size: 10px;
                    margin: 0;
                }

                .product-fund-list {
                    font-size: 15px;
                }
            }

            .product-price {
                width: 100%;
                margin-bottom: 10px;
                @include cf();

                .product-price-new {
                    float: left;
                    margin: 0;
                }

                .product-price-old {
                    float: left;
                    margin-top: 8px;
                    margin-left: 5px;
                }
            }

            .product-expire {
                .expire-label {
                    font-size: 10px;
                }

                .expire-value {
                    font-size: 15px;
                }
            }
        }
    }

    @media screen and (max-width: 1000px) {
        .product-card {
            flex-direction: column;

            .product-photo {
                width: 100%;
                min-width: 100%;
                max-width: 100%;
                background: none;
                border-radius: 0;
                border-top-left-radius: inherit;
                border-top-right-radius: inherit;

                img {
                    display: block;
                    border-radius: 0;
                    border-top-left-radius: inherit;
                    border-top-right-radius: inherit;
                }
            }

            .product-details {
                padding: 25px;
                border-radius: 0;
                border-bottom-left-radius: inherit;
                border-bottom-right-radius: inherit;

                .button {
                    padding-left: 20px;
                    padding-right: 20px;
                    width: 100%;
                }
            }
        }
    }
}