.block {

    &.block-record_categories {
        margin-bottom: 30px;

        .record_category-item {
            border-radius: var(--border-radius);
            background: #fff;
            padding: 20px;
            width: 100%;
            display: block;
            margin-bottom: 15px;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
            position: relative;
            transition: box-shadow .4s;

            .category-title {
                font: 700 18px/30px var(--base-font);
                color: #282b39;
                transition: color .4s;
            }

            .category-subtitle {
                font: 400 14px/20px var(--base-font);
                color: #646f79;
            }

            .category-icon {
                float: right;
                position: absolute;
                top: 50%;
                right: 20px;
                transform: translate(0, -50%);

                img {
                    display: block;
                    width: 50px;
                }
            }

            &:hover {
                box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
                
                .category-title {
                    color: var(--color-default);
                }
            }
        }
    }
    @media screen and (max-width: 1000px) {
        &.block-record_categories {
            .button {
                width: 100%;
            }
        }
    }
}