.block {
    &.block-voucher {
        position: relative;
        z-index: 1;
        display: flex;

        .base-card {
            background-color: #fff;
            border-radius: $border_radius;
            margin-bottom: 50px;
            box-shadow: 0 10px 25px rgba(#000, .2);
            cursor: default;
            @include cf();
            position: relative;
            overflow: hidden;
            flex-direction: row;
            display: flex;
            min-height: 200px;

            .label {
                margin-bottom: 10px;
                border-radius: 5px;
                padding: 0px 10px;
            }
            
            .card-inner {
                flex-direction: column;
                flex: 1;
                display: flex;
                min-height: 200px;
            }

            .card-actions {
                display: flex;
                flex: 1;
                justify-content: flex-end;

                .action-item {
                    margin-right: 25px;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .action-item-icon {
                        width: 40px;
                        height: 40px;
                        border-radius: 40px;
                        line-height: 40px;
                        text-align: center;
                        color: #7b8893;
                        font-size: 20px;
                        background: #fff;
                        border: 1px solid $border_color;
                        transition: .4s;
                        cursor: pointer;
                        margin-bottom: 6px;
                        position: relative;

                        .action-item-tooltip {
                            opacity: 0;
                            user-select: none;
                            visibility: hidden;
                            position: absolute;
                            background: #fff;
                            border: 1px solid #dbdcdb;
                            padding: 4px 10px;
                            font: 600 13px/20px $bf;
                            color: #646f79;
                            border-radius: 5px;
                            white-space: nowrap;
                            top: 100%;
                            margin-top: 5px;
                            left: 50%;
                            transform: translate3d(-50%, 0, 0) scale3d(0, 0, 0);
                            box-shadow: 2px 5px 35px rgba(0, 0, 0, .15);
                            transition: .5s;

                            &:after {
                                left: 50%;
                                position: absolute;
                                display: block;
                                content: '';
                                @extend .triangle;
                                bottom: 100%;
                                border-color: transparent transparent #fff transparent;
                                transform: translate3d(-50%, 4px, 0);
                            }
                        }
                    }

                    .action-item-name {
                        color: #7b8893;
                        font: 600 10px $bf;
                        transition: color .4s;
                        margin: 0 -20px;
                    }

                    &:last-child {
                        margin-right: 0;
                    }

                    &:hover {
                        .action-item-icon {
                            border-color: #70c567;
                            background: #70c567;
                            color: #fff;
                            box-shadow: 2px 5px 35px rgba(0, 0, 0, .25);
                            
                            .action-item-tooltip {
                                opacity: 1;
                                visibility: visible;
                                transform: translate3d(-50%, 0, 0) scale3d(1, 1, 1);
                            }
                        }

                        .action-item-name {
                            color: #70c567;
                        }
                    }
                }
            }

            .card-label {
                color: #646f79;
                font: 400 12px/18px $bf;
            }

            .block-link {
                font: 600 13px/22px $bf;
                color: $color_default;
                display: inline-block;
    
                .mdi {
                    color: $color_default;
                    font-size: 1.3em;
                    float: right;
                    margin-left: 5px;
                    transition: .4s;
                    line-height: 22px;
                    float: right;
                }
    
                &:hover {
                    .mdi {
                        margin-left: 10px;
                    }
                }
            }
            
            .card-value {
                font: 700 16px $bf;
                color: #272525;
                margin-top: 10px;

                &.card-value-sm {
                    font-weight: 400;
                    font-size: 14px;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .card-value.euro {
                font-size: 25px;
            }

            .card-label.euro {
                font-size: 15px;
            }

            .card-qr_code {
                width: 200px;
                padding: 25px 20px;
                background: #efefef;
                text-align: center;

                img {
                    display: block;
                    width: 150px;
                    margin-bottom: 20px;
                    padding: 5px;
                    background: #fff;
                    border-radius: 5px;
                    box-shadow: 0 2px 20px rgba(0,0,0,.05);
                }

                .card-qr_code-desc {
                    color: #272525;
                    font: 500 14px $bf;
                    margin: 0 -10px;
                }
            }

            .card-body {
                position: relative;
                background: #fff;
                display: flex;

                .card-photo {
                    padding: 20px 0 20px 20px;

                    img {
                        width: 100px;
                        display: block;
                        border-radius: 5px;
                        // box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.06);
                    }
                }
                

                .card-section {
                    padding: 20px;
                    flex: 1;
                }

                .card-title {
                    color: #272525;
                    font: 700 16px $bf;
                    margin: 0 0 5px;
                }

                .card-description {
                    font: 400 13px/18px $bf;
                    color: #272525;
                }

                .card-price {
                    color: #646f79;
                    font: 400 16px $bf;

                    strong {
                        color: #083f49;
                        font: 700 24px $bf;
                    }
                }

                .card-read_more {
                    font: 600 13px/20px $bf;
                    color: #083f49;
                    display: inline-block;
                    cursor: hover;
                    vertical-align: middle;
                    margin-bottom: 10px;

                    .mdi {
                        color: #3396a7;
                        position: relative;
                        transform: translate(0, 1.5px);
                        margin-left: 5px;
                        display: inline-block;
                        transition: .4s;
                        font-size: 1.4em;
                    }

                    &:hover {
                        .mdi {
                            transform: translate(5px, 1.5px);
                        }
                    }
                }
            }

            .card-footer {
                width: 100%;
                background: #fcfcfc;
                padding: 20px 25px;
                border-top: 1px solid $border_color;
                position: relative;
                display: flex;
                flex-direction: column;
                min-height: 130px;
            }

            &.base-card-sponsor {
                width: 38%;
                margin-right: 30px;
            }

            &.base-card-voucher {
                width: 62%;

                .card-body {
                    .card-title {
                        font: 600 16px $bf;
                        color: #272525;
                        margin-bottom: 10px;
                    }
                }

                .card-footer {
                    flex-direction: row;
                }
            }
        }

        &.block-voucher-regular {
            .base-card {
                &.base-card-sponsor {
                    width: 50%;
                    margin-right: 15px;
                }

                &.base-card-voucher {
                    width: 50%;
                    margin-left: 15px;
                }
            }
        }
    }
}