.block {
    &.block-vouchers {
        .block-title {
            font: 700 40px $bf;
            margin-bottom: 20px;
            cursor: default;
        }

        .voucher-item {
            display: flex;
            background-color: #fff;
            border-radius: 7.5px;
            margin-bottom: 30px;
            box-shadow: 0 5px 30px rgba(#000, .05);
            @include cf();
            position: relative;
            transition: .4s;
            min-height: 150px;
            cursor: pointer;

            .voucher-image {
                border-radius: inherit;
                float: left;
                background-size: cover;
                background-position: 50%;
                min-width: 150px;
                width: 150px;
                min-height: inherit;
            }

            .voucher-details {
                float: left;
                padding: 20px 30px;
                width: calc(100% - 380px);
                flex-grow: 1;

                .label {
                    margin-bottom: 10px;
                    border-radius: 5px;
                    padding: 0 10px;
                }

                .voucher-name {
                    font: 700 24px/36px $bf;
                    color: #00122a;
                    margin-bottom: 5px;
                    @include ellipsis();
                }

                .voucher-organization {
                    font: 400 16px/28px $bf;
                    color: #282b39;
                    margin-bottom: 10px;
                }

                .voucher-value {
                    font: 700 24px $bf;
                    color: #315efd;
                }

                .voucher-read_more {
                    font: 600 13px/20px $bf;
                    color: #083f49;
                    display: inline-block;
                    cursor: hover;
                    vertical-align: middle;
                    margin-bottom: 10px;

                    @media screen and (max-width: 767px) {
                        display: none;
                    }

                    .mdi {
                        color: #3396a7;
                        position: relative;
                        transform: translate(0, 1.5px);
                        margin-left: 5px;
                        display: inline-block;
                        transition: .4s;
                        font-size: 1.4em;
                    }

                    &:hover {
                        .mdi {
                            transform: translate(5px, 1.5px);
                        }
                    }
                }

                .voucher-status-label {
                    position: absolute;
                    top: 20px;
                    right: 20px;
                }

                .voucher-cancel-label {
                    color: #646f79;
                    font: 400 14px/16px $bf;
                    margin-top: 5px;
    
                    a {
                        color: #646f79;
                        text-decoration: underline;
                        pointer-events: all;
                    }
                }
            }

            .voucher-overview {
                float: right;
                width: 230px;
                border-left: 1px solid #d4d9dd;
                padding: 20px 25px;
                min-height: inherit;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;

                .voucher-overview-item {
                    margin-bottom: 10px;
                    float: left;
                    width: 100%;

                    &.voucher-open {
                        width: 80%;
                        position: absolute;
                        bottom: 25px;
                        left: 25px;
                    }

                    .voucher-overview-label {
                        font: 400 10px/12px $bf;
                        color: #646f79;
                    }

                    .voucher-overview-value {
                        font: 600 15px/17px $bf;
                        color: #282b39;

                        small {
                            font: inherit;
                            font: 400 13px $bf;
                            color: #646f79;
                            margin-left: 5px;
                        }
                    }

                    .button {
                        width: 100%;
                        padding: 12px 20px;
                        font: 700 12px/22px $bf;
                        text-transform: uppercase;
                    }

                    &:last-of-type,
                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                &>.button {
                    padding-left: 50px;
                    padding-right: 50px;
                    @include float_center();
                }

                &.voucher-overview-no-border {
                    border-left: none;
                }
            }

            &:hover {
                box-shadow: 0 10px 30px rgba(#000, .15);
            }

            &.voucher-item-use {
                .voucher-details {
                    width: calc(100% - 610px);
                }
            }

            &.voucher-item-disabled {
                cursor: default;
                pointer-events: none;

                .voucher-overview {
                    .voucher-overview-item {
                        .button {
                            cursor: default;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1000px) {
        &.block-vouchers {
            margin-bottom: 30px;

            .block-title {
                font: 700 40px $bf;
                margin-bottom: 20px;
                cursor: default;
            }

            .voucher-item {
                padding: 0;
                height: auto;
                position: relative;
                min-height: auto;
                margin: 0 0 15px;

                .voucher-image {
                    width: 70px;
                    height: 70px;
                    border-radius: 70px;
                    overflow: hidden;
                    display: block;
                    border-bottom: 1px solid #eee;
                    position: absolute;
                    min-height: auto;
                    right: 20px;
                    top: 50%;
                    transform: translate(0, -50%);
                    border: none;
                    min-width: 70px;
                    max-width: 70px;
                }

                .voucher-details {
                    width: 100%;
                    text-align: left;
                    padding: 20px;
                    padding-right: 110px;

                    .voucher-name {
                        font: 700 18px/24px $bf;
                        margin: 0 0 0;
                        @include ellipsis();
                    }

                    .voucher-organization {
                        font: 400 11px/18px $bf;
                        margin: 0 0 0;
                    }

                    .voucher-value {
                        font: 700 16px/22px $bf;
                    }

                    .voucher-read_more {
                        margin-bottom: 0;
                    }

                    .label {
                        margin-bottom: 7px;
                    }

                    .voucher-status-label {
                        position: initial;

                        .label {
                            margin: 0px;
                        }
                    }
                }

                .voucher-overview {
                    display: none;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}