.block {
    &.block-vouchers {
        margin-bottom: 30px;

        .block-title {
            font: 700 40px $bf;
            margin-bottom: 20px;
            cursor: default;
        }

        .voucher-item {
            display: flex;
            background-color: #fff;
            border-radius: $border_radius;
            margin-bottom: 15px;
            box-shadow: $base_shadow;
            position: relative;
            transition: 0.4s;
            min-height: 120px;
            overflow: hidden;
            cursor: default;

            .voucher-image {
                display: flex;
                flex-basis: 130px;
                overflow: hidden;
                background-size: cover;
                background-position: 50% 50%;
                position: relative;
                border-top-left-radius: inherit;
                border-bottom-left-radius: inherit;

                img {
                    width: 100%;
                    display: block;
                    object-fit: cover;
                    border-top-left-radius: inherit;
                    border-bottom-left-radius: inherit;
                }

                &:after {
                    content: "";
                    background: #394260;
                    opacity: 0;
                    transition: opacity 0.4s;
                    width: 100%;
                    @include fill_parent();
                }
            }

            .voucher-details {
                float: left;
                padding: 20px 30px;
                width: 380px;
                flex-grow: 1;

                .label {
                    margin-bottom: 10px;
                    border-radius: 5px;
                    padding: 0 10px;
                }

                .voucher-name {
                    font: 700 16px/26px $bf;
                    color: #00122a;
                    margin: 0 0 0;
                    @include ellipsis();
                }

                .voucher-organization {
                    font: 400 14px/22px $bf;
                    color: #282b39;
                    margin-bottom: 10px;
                }

                .voucher-value {
                    font: 700 24px $bf;
                    color: #00122a;
                }

                .voucher-status-label {
                    position: absolute;
                    top: 20px;
                    right: 20px;
                }

                .voucher-cancel-label {
                    color: #646f79;
                    font: 400 14px/16px $bf;
                    margin-top: 5px;

                    a {
                        color: #646f79;
                        text-decoration: underline;
                        pointer-events: all;
                    }
                }
            }

            .voucher-overview {
                float: right;
                border-left: 1px solid $border_color;
                padding: 20px 25px;
                min-width: 200px;
                min-height: inherit;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;

                .voucher-overview-item {
                    margin-bottom: 10px;
                    float: left;
                    width: 100%;
                    position: absolute;
                    bottom: 25px;
                    left: 25px;

                    .voucher-overview-label {
                        font: 400 12px/16px $bf;
                        color: #646f79;
                    }

                    .voucher-overview-value {
                        font: 600 15px/17px $bf;
                        color: #282b39;

                        small {
                            font: inherit;
                            font: 400 13px $bf;
                            color: #646f79;
                            margin-left: 5px;
                        }
                    }

                    &:last-of-type,
                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                & > .button {
                    padding-left: 50px;
                    padding-right: 50px;
                    @include float_center();
                }
            }

            .voucher-item-overlay {
                position: absolute;
                @include fill_parent();
                display: none;
                background: transparent;
            }

            &:not(.voucher-item-static) {
                cursor: pointer;

                &:hover {
                    box-shadow: 0 10px 30px rgba(#000, 0.15);

                    .voucher-image {
                        &:after {
                            opacity: 0.25;
                        }
                    }
                }
            }

            &:last-child {
                margin-bottom: 0;
            }

            &.voucher-item-disabled {
                cursor: default;
                pointer-events: none;

                .voucher-overview {
                    .voucher-overview-item {
                        .button {
                            cursor: default;
                        }
                    }
                }
            }
            
            &.voucher-item-compact {
                margin-bottom: 10px;
                min-height: 100px;
                border: 1px solid $border_color;
                border-radius: $border_radius;

                .voucher-image {
                    flex-basis: 100px;
                }

                .voucher-details {
                    padding: 15px 15px;

                    .voucher-name {
                        font: 700 15px/16px $bf;
                    }

                    .voucher-organization {
                        font: 400 13px/14px $bf;
                    }

                    .voucher-value {
                        font: 700 22px/30px $bf;
                    }
                }

                .voucher-overview {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    &>.button {
                        position: relative;
                        top: auto;
                        left: auto;
                        transform: none;
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    @media screen and (max-width: 1000px) {
        &.block-vouchers {
            margin-bottom: 30px;

            .block-title {
                font: 700 20px $bf;
                margin-bottom: 20px;
                cursor: default;
            }

            .voucher-item {
                padding: 0;
                height: auto;
                position: relative;
                min-height: auto;
                margin: 0 0 15px;

                .voucher-image {
                    width: 60px;
                    border-radius: 70px;
                    overflow: hidden;
                    display: block;
                    min-height: auto;
                    border: none;
                    min-width: 60px;
                    max-width: 60px;
                    margin: 10px 0 10px 10px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;

                    img {
                        border-radius: inherit;
                    }
                }

                .voucher-details {
                    width: 80%;
                    text-align: left;
                    padding: 10px;
                    padding-right: 110px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;

                    .voucher-name {
                        font: 700 14px/20px $bf;
                        margin: 0 0 0;
                        @include ellipsis();
                    }

                    .voucher-organization {
                        font: 400 11px/18px $bf;
                        margin: 0 0 0;
                    }

                    .voucher-value {
                        font: 700 16px/22px $bf;
                    }

                    .voucher-read_more {
                        margin-bottom: 0;
                    }

                    .label {
                        margin-bottom: 7px;
                    }

                    .voucher-status-label {
                        top: 50%;
                        right: 10px;
                        transform: translate(0, -50%);

                        .label {
                            margin: 0px;
                        }
                    }
                }

                .voucher-overview {
                    min-width: auto;
                    padding: 10px 15px;
                    display: none;
                    justify-content: center;
                    flex-direction: column;
                }

                .voucher-item-overlay {
                    display: block;
                }

                &:last-child {
                    margin-bottom: 0;
                }

                &.voucher-item-compact {
                    .voucher-details {
                        padding: 15px 10px;

                        .voucher-name {
                            font: 700 14px/20px $bf;
                            margin: 0 0 0;
                            @include ellipsis();
                        }
    
                        .voucher-organization {
                            font: 400 11px/18px $bf;
                            margin: 0 0 0;
                        }
    
                        .voucher-value {
                            font: 700 16px/22px $bf;
                        }
                    }

                    .voucher-overview {
                        display: flex;

                        .button {
                            padding: 10px;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}
