.block {
    &.block-vouchers {
        margin-bottom: 30px;

        .block-title {
            font: 700 40px var(--base-font);
            margin-bottom: 20px;
            cursor: default;
        }

        .voucher-item {
            background-color: #fff;
            border-radius: var(--border-radius);
            margin-bottom: 15px;
            box-shadow: var(--box-shadow);
            position: relative;
            transition: background-color 0.4s, border 0.4s;
            min-height: 120px;
            overflow: hidden;
            cursor: default;
            display: grid;
            grid-template-columns: 130px 1fr auto;

            .voucher-image {
                overflow: hidden;
                background-size: cover;
                background-position: 50% 50%;
                position: relative;
                border-top-left-radius: inherit;
                border-bottom-left-radius: inherit;
                padding: 15px 0 15px 15px;

                img {
                    width: 100%;
                    display: block;
                    border-radius: var(--border-radius);
                }
            }

            .voucher-details {
                float: left;
                padding: 15px 15px;
                flex-grow: 1;
                display: flex;
                flex-direction: column;

                .label {
                    margin-bottom: 10px;
                }

                .voucher-name {
                    font: 700 22px/26px var(--hf);
                    color: #00122a;
                    margin: 0 0 5px;
                }

                .voucher-organization {
                    font: 400 13px/20px var(--base-font);
                    color: #353535;
                    margin-bottom: 15px;
                }

                .voucher-value {
                    font: 700 22px/26px var(--base-font);
                    color: #00122a;
                    display: flex;
                    flex-grow: 1;
                    flex-direction: column;
                    justify-content: flex-end;
                }

                .voucher-status-label {
                    position: absolute;
                    top: 20px;
                    right: 20px;
                }

                .voucher-cancel-label {
                    color: #646f79;
                    font: 400 14px/16px var(--base-font);
                    margin-top: 5px;

                    a {
                        color: #646f79;
                        text-decoration: underline;
                        pointer-events: all;
                    }
                }
            }

            .voucher-overview {
                float: right;
                border-left: 1px solid var(--border-color);
                padding: 15px 15px;
                min-width: 200px;
                min-height: inherit;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;

                .voucher-overview-item {
                    margin-bottom: 10px;
                    float: left;
                    position: absolute;
                    bottom: 15px;
                    left: 15px;
                    right: 15px;

                    .voucher-overview-label {
                        font: 400 11px/16px var(--base-font);
                        color: #646f79;
                    }

                    .voucher-overview-value {
                        font: 600 14px/21px var(--base-font);
                        color: #282b39;

                        small {
                            font: inherit;
                            font: 400 13px var(--base-font);
                            color: #646f79;
                            margin-left: 5px;
                        }
                    }

                    &:last-of-type,
                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                & > .button {
                    padding-left: 50px;
                    padding-right: 50px;
                    @include float_center();
                }
            }

            .voucher-item-overlay {
                position: absolute;
                @include fill_parent();
                display: none;
                background: transparent;
            }

            &:not(.voucher-item-static):not(.voucher-item-select) {
                cursor: pointer;

                &:hover {
                    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);

                    .voucher-image {
                        &:after {
                            opacity: 0.25;
                        }
                    }
                }
            }

            &:last-child {
                margin-bottom: 0;
            }

            &.voucher-item-disabled {
                cursor: default;
                pointer-events: none;

                .voucher-overview {
                    .voucher-overview-item {
                        .button {
                            cursor: default;
                        }
                    }
                }
            }
            
            &.voucher-item-compact {
                margin-bottom: 10px;
                min-height: 100px;
                border: 1px solid var(--border-color);
                border-radius: var(--border-radius);
                display: grid;
                grid-template-columns: 80px 1fr auto auto;

                .voucher-details {
                    position: relative;
                    display: grid;
                    width: auto;
                    grid-template-columns: 1fr auto;

                    .voucher-base-information {
                        display: grid;
                    }

                    .voucher-name {
                        font: 600 14px/20px var(--hf);
                    }

                    .voucher-organization {
                        font: 400 12px/16px var(--base-font);
                        margin: 0 0 5px;
                        color: #595959;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }

                    .voucher-records {
                        grid-column: 1/2;
                        grid-row: 2;
                    }

                    .voucher-amounts {
                        display: grid;
                        text-align: right;
                        position: relative;
                        align-items: flex-start;
                        gap: 5px;
                        grid-column: 2/3;
                        grid-row: 1/3;
                        padding-left: 10px;

                        .voucher-value {
                            font: 700 16px/24px var(--base-font);
                            white-space: nowrap;
                        }

                        .voucher-value-date {
                            font: 500 12px/20px var(--base-font);
                            white-space: nowrap;
                        }

                        .voucher-extra-payment {
                            color: #595959;

                            .voucher-extra-payment-value {
                                font: 600 14px/21px var(--base-font);
                            }

                            .voucher-extra-payment-description {
                                font: 400 11px/16px var(--base-font);
                                margin-top: -2px;
                            }
                        }
                    }
                }

                .voucher-overview {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    &>.button {
                        position: relative;
                        top: auto;
                        left: auto;
                        transform: none;
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
            
            &.voucher-item-select {
                min-height: 60px;
                margin-bottom: 0;
                border-radius: 0;
                border-bottom: 1px solid var(--border-color);
                position: relative;
                box-shadow: none;
                cursor: pointer;

                .voucher-image {
                    padding: 7.5px 0 7.5px 7.5px;
                }

                .voucher-details {
                    padding: 9px;

                    .voucher-name,
                    .voucher-value {
                        font: 700 14px/22px var(--hf);
                        margin: 0 0 0;
                    }

                    .voucher-date,
                    .voucher-organization {
                        font: 400 11px/18px var(--base-font);
                        margin: 0 0 0;
                    }

                    .voucher-date,
                    .voucher-value {
                        display: flex;
                        flex-grow: 1;
                        white-space: nowrap;
                        flex-direction: column;
                        justify-content: flex-end;
                        order: 1 !important;
                    }

                    .voucher-date {
                        justify-content: flex-start;
                    }
                }

                .voucher-overview {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    &>.button {
                        position: relative;
                        top: auto;
                        left: auto;
                        transform: none;
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                    border-bottom: none;
                    border-bottom-left-radius: calc(var(--border-radius) / 2);
                    border-bottom-right-radius: calc(var(--border-radius) / 2);
                }

                &:after {
                    content: '';
                    pointer-events: none;
                    @include fill_parent();
                    background-color: #000;
                    opacity: 0;
                    transition: opacity .3s;
                }

                &:hover {
                    &:after {
                        opacity: .035;
                    }
                }

                &.voucher-item-select-placeholder {
                    border: 1px solid var(--border-color);
                    border-radius: calc(var(--border-radius) / 2);
                    padding-right: 25px;
                    @if $buildReact {
                        background-image: url('./assets/img/select-bg.png');
                    } @else {
                        background-image: url('../img/select-bg.png');
                    }
                    background-position: calc(100% - 4px);
                    background-repeat: no-repeat;
                }
            }
        }

        &.block-vouchers-select {
            margin-bottom: 0;

            .voucher-item {
                grid-template-columns: 52.5px 1fr auto;
            }

            &.block-vouchers-select-open {
                .voucher-item-select {
                    &.voucher-item-select-placeholder {
                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 0;
                    }
                }
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    @media screen and (max-width: 1000px) {
        &.block-vouchers {
            margin-bottom: 30px;

            .block-title {
                font: 700 20px var(--base-font);
                margin-bottom: 20px;
                cursor: default;
            }

            .voucher-item {
                padding: 0;
                height: auto;
                position: relative;
                min-height: auto;
                margin: 0 0 15px;
                grid-template-columns: 70px 1fr;

                .voucher-image {
                    padding: 10px 0 10px 10px;
                }

                .voucher-details {
                    text-align: left;
                    padding: 10px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    gap: 5px;

                    .voucher-name {
                        font: 700 16px/20px var(--hf);
                        margin: 0 0 0;
                        order: 2;
                    }

                    .voucher-organization {
                        font: 400 11px/14px var(--base-font);
                        margin: 0 0 0;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        order: 3;
                    }

                    .voucher-value {
                        font: 700 16px/22px var(--base-font);
                        order: 4;
                    }

                    .voucher-read_more {
                        margin-bottom: 0;
                        order: 5;
                    }

                    .voucher-status-label {
                        position: initial;;
                        order: 1;

                        .label {
                            margin: 0px;
                            padding: 0 5px 0;
                            font: 600 10px/16px var(--base-font);
                        }
                    }
                }

                .voucher-overview {
                    min-width: auto;
                    padding: 10px 15px;
                    display: none;
                    justify-content: center;
                    flex-direction: column;
                }

                .voucher-item-overlay {
                    display: block;
                }

                &:last-child {
                    margin-bottom: 0;
                }

                &.voucher-item-compact {
                    display: block;
                    padding-top: 15px;

                    .voucher-details {
                        display: flex;
                        width: 100%;
                        border-bottom: 1px solid var(--border-color);

                        .voucher-base-information {
                            display: flex;
                            flex-direction: column;

                            .voucher-information {
                                .voucher-name {
                                    font: 700 16px/20px var(--base-font);
                                    margin: 0 0 15px;
                                    @include ellipsis();
                                    padding-right: 0;
                                }
            
                                .voucher-organization {
                                    font: 400 11px/13px var(--base-font);
                                    padding-right: 0;
                                    text-wrap: wrap;
                                }
            
                                .voucher-value {
                                    font: 700 22px/22px var(--base-font);
                                }
                            }
                        }

                        .voucher-amounts {
                            text-align: left;
                            padding: 0;
                        }
                    }

                    .voucher-overview {
                        display: flex;
                        min-height: auto;
                        width: 100%;
                        padding: 20px;

                        .button {
                            padding: 10px;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}
