/*==========  Style Sheet - Vars  ==========*/

// header attributes
$bg-values:          url("../img/splash-top-b.png") no-repeat 100% 0;

// base font
$bf:                'Montserrat';
// text color
$tc:                #4e4d40;
$tc-var:            #fff;

// base color
$bc:                #4990b5;

// background color
$bg:                #f4f4f4;

$bg_2:              none;

// text formatting
$tf:                lowercase;

// footer color
$fc:                #f4f4f4;

// Displayed or not
$fd:                block;

// product image
$pi:                10px 0 0 10px;

// placeholder text color
$ptc:               #9B9B9B;

$border_color:      #dbdcdb;

$border_radius:     0px;
$base_shadow:       0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

$color_primary:         #007377;
$color_primary_light:   lighten(#007377, 5);

$color_default:         #007377;
$color_default_light:   lighten(#007377, 5);

// Login button

$lb:                rgba(0, 115, 119, 0.15);