doctype
html(lang="en")
    include ../layout/includes/head
    body(ng-class="$root.viewLayout == 'signup' ? 'signup-layout' : 'landing-root'" ng-cloak ng-controller="BaseController")

        ui-view

        include ../layout/includes/footer-landing
        include ../layout/includes/scripts

