@import "../general/vars.scss";

$primaryColor: #003b49;
$primaryColorLight: #0f5061;

:root {
    // navbar
    --bg-nav: #ffffff;
    --tc-nav: #003b49;
    --tc-nav-hov: #004b5e;
    --logo-padding: 20px 0px;
    --logo-height: 75px;

    // navbar (auth)
    --tc-auth-menu: #ffffff;
    --tc-auth-btn: #ffffff;
    --btn-auth-bg: #ff9e1b;
    --btn-auth-border: #ff9e1b;

    // navbar (start modal primary)
    --tc-start-btn: #fff;
    --btn-start-bg: #492638;
    --btn-start-border: transparent;

    // base font
    --base-font: "Grandis Extended", "Helvetica", "Open Sans", "Arial", sans-serif;

    // heading font
    --hf: var(--base-font);

    // text color
    --tc: #003b49;
    --tc-var: #fff;
    --tc-link: inherit;

    // base color
    --bc: #000;

    // background color
    --bg: #f7f9fc;

    --bg_2: #ffffff;

    // text formatting
    --text_format: inherit;

    // footer color
    --footer_background_color: #403a60;
    --footer_color: #fff;

    --footer_color_link: #fff;

    // Displayed or not
    --footer_display: block;

    // product image
    --product-image-padding: 10px 0 0 10px;

    // placeholder text color
    --placeholder_text_color: #9e9e9e;

    --border-color: #e3e6e8;

    --border-radius: 8px;
    --box-shadow: none;

    --color-primary: #{$primaryColor};
    --color-primary-light: #{$primaryColorLight};

    --color-default: #003b49;
    --color-default-light: #045a6d;

    --color-search-icon-dark: #{darken(#81beb1, 40%)};
    --color-search-icon-light: #{lighten(#81beb1, 20%)};
    --color-search-icon-medium: #{#81beb1};

    // Login button
    --login-button-background: #fff;

    // Breadcrumbs
    --breadcrumb-size: 14px;
}
