block content
    .header-splash: .splash.splash-c
    .block.block-page-not-found
        top-navbar

        .page-not-found-wrapper
            .page-not-found-title 404
            .page-not-found-subtitle Page not found
            button.button.button-dark(ui-sref="home") Terug naar home