block content
    .header-splash: .splash.splash-c
    .block.block-error-page
        top-navbar

        .wrapper: main(id="main-content" ng-show="!$root.mobileMenuOpened")
            .page-not-found-title(ng-bind="$ctrl.error")
            .page-not-found-subtitle(ng-bind="('error_page.' + $ctrl.error + '.title') | translate")
            div: button.button.button-primary(ui-sref="home")
                span(ng-bind="('error_page.' + $ctrl.error + '.button') | translate")
                em.mdi.mdi-arrow-right.icon-right(aria-hidden="true")