.header-splash: .splash.splash-d

header.section.section-header: .wrapper
    top-navbar

section.section.section-page: .wrapper
    .section-title Platform -
    .section-sprite.section-sprite-a(style="background-image: url('https://westerkwartier.forus.io/sponsor/assets/img/landing/header-sprite-sponsor.png')")
    .section-description Platform Forus maakt het mogelijk om waarde uit te wisselen onder ingeprogrammeerde voorwaarden. Dit maakt het systeem zeer geschikt voor de uitgifte van gemeentelijke regelingen. Waarde wordt op een gebruiksvriendelijke manier en met minimale administratieve handelingen op een doelmatige en rechtmatige manier besteed. 
        br
        br
        | Processen die afhankelijk zijn van een procedure als; aanvraag, toekenning, afhandeling en belast zijn met hoge uitvoeringskosten worden door uitgifte via het platform efficiënter en kostenbesparend ingericht. Het systeem is geschikt voor regelingen en diensten met betrekking tot minima, WMO, duurzaamheid, etc.
  
    .section-description.wide-100
        | Het systeem oogt als een variant van een multi-sided platform (Ebay, Alibaba, Marktplaats) of simpel gezegd een uitgebreide webshop. Men ziet en interacteert met een set aan gebruiksvriendelijke websites en een mobiele applicatie. Het systeem is ook te gebruiken door niet-digitaal-vaardigen. 
        br
        br
        | Inwoners krijgen een duidelijk overzicht van regelingen en kunnen deze gemakkelijk aanvragen. De financiële afhandeling wordt volledig geautomatiseerd door middel van een achterliggende programmeerbare bankrekening. Het achteraf controleren van bonnetjes is niet meer nodig. Zo weet de gemeente zeker dat het geld goed terecht komt.

webshops

contact-form 
