- var src_prefix = (qdt_c.platform.env_data.html5ModeEnabled?qdt_c.platform.env_data.html5Mode.basePath:'');

top-navbar

section.section.section-product: .wrapper
    .block.block-sign_up: .block-wrapper
        div(ng-if="$ctrl.state == 'clarification_form'")
            h2.block-title {{ $ctrl.fund.name }} aanvraag
            .sign_up-pane
                .sign_up-pane-header(ng-bind="'Bevestig uw ' + $ctrl.recordTypes[invalidCriteria.record_type_key].name")
                .sign_up-pane-body: form(ng-submit="$ctrl.form.submit()").form.row
                    .form-group.col.col-lg-12
                        .form-label Question
                        .sign_up-pane-info: p.sign_up-pane-text(ng-bind="$ctrl.clarification.question")

                    .form-group.col.col-lg-12
                        .form-label Message
                        ui-control-textarea(
                            ng-model="$ctrl.form.values.answer"
                            data-placeholder="Your message...")
                        .form-error(ng-repeat="error in $ctrl.form.errors.answer" ng-bind="error")
                    
                    .form-group.col.col-lg-12
                        .form-label Attachments
                        file-uploader(files="$ctrl.form.values.rawFiles")
                        .form-error(ng-repeat="error in $ctrl.form.errors.files" ng-bind="error")
                    
                    .form-group.col.col-lg-12.text-center
                        button(type="submit").button.button-primary Submit
        //- Done
        div(ng-if="$ctrl.state == 'done'")
            h2.block-title {{ $ctrl.fund.name }} aanvraag
            
            .sign_up-pane
                .sign_up-pane-header Aanvraag voltooid
                .sign_up-pane-body: form(ng-submit="$ctrl.submitCriteria(invalidCriteria)").form.row
                    .form-group.col.col-lg-12
                        .block-icon: img(src=src_prefix + "./assets/img/icon-sign_up-success.svg")
                        p.sign_up-pane-text.text-center 
                            | Uw aanvraag is voltooid, u krijgt een email wanneer deze is goedgekeurd.
                
                        .text-center: .button.button-default(ng-click="$ctrl.finish()") Terug naar de webshop
                    .form-group.col.col-lg-12: br
        //- Done
        div(ng-if="$ctrl.state == 'not_pending'")
            .sign_up-pane
                .sign_up-pane-header Already answered.
                .sign_up-pane-body: .row
                    .form-group.col.col-lg-12
                        .block-icon: .mdi.mdi-information
                        p.sign_up-pane-text.text-check-circle.text-center
                            | Clarification request already answered.
                
                        .text-center: .button.button-default(ng-click="$ctrl.finish()") Terug naar de webshop
                    .form-group.col.col-lg-12: br