.header-splash: .splash.splash-c

header.section.section-header: .wrapper
    top-navbar

section.section.section-funds: .wrapper
    .section-title {{ "funds.header.title" | translate }}
    
    .block.block-funds
        .fund-item(ng-repeat="fund in $ctrl.funds")
            .fund-image
                img(ng-src="{{ fund.logo.sizes.thumbnail || fund.organization.logo.sizes.thumbnail || './assets/img/fund-no-image.jpg' }}")
            .fund-details
                .fund-name {{ fund.name }} 
                    span(ng-show="fund.voucherWasTaken").label.label-success {{ "funds.header.status" | translate }}
                .fund-organization(ng-bind="fund.organization.name") 
                .fund-categories
                    .fund-categories-label {{ "funds.header.categorie" | translate }}
                    .fund-categories-list(ng-bind="fund.categories")
                a(ng-if="$root.auth_user && !fund.voucherWasTaken" ui-sref="fund-apply(fund)").button.button-primary {{ "funds.header.join" | translate }}

            .fund-criterias
                .fund-criterias-label {{ "funds.header.criteria" | translate }}
                .fund-criteria-item
                    .fund-criteria-item-label {{ "funds.header.location" | translate }}
                    .fund-criteria-item-value {{ "funds.header.office" | translate }}
                .fund-criteria-item
                    .fund-criteria-item-label {{ "funds.header.children" | translate }}
                    .fund-criteria-item-value {{ "funds.header.count" | translate }}
                .fund-criteria-item
                    .fund-criteria-item-label {{ "funds.header.agelimit" | translate }}
                    .fund-criteria-item-value {{ "funds.header.age" | translate }}
                .fund-criteria-item
                    .fund-criteria-item-label {{ "funds.header.income" | translate }}
                    .fund-criteria-item-value {{ "funds.header.amount" | translate }}
        
        // .block.block-show-more: a(href="#").button.button-primary {{ "funds.header.more" | translate }}


contact-form 