.header-splash: .splash.splash-c

header.section.section-header: .wrapper
    top-navbar

section.section.section-funds: .wrapper
    .section-title Our funds
    
    .block.block-funds
        .fund-item(ng-repeat="fund in $ctrl.funds")
            .fund-image
                img(ng-src="{{ fund.logo.sizes.thumbnail || fund.organization.logo.sizes.thumbnail || './assets/img/fund-no-image.jpg' }}")
            .fund-details
                .fund-name {{ fund.name }} 
                    span(ng-show="fund.voucherWasTaken").label.label-success Actief
                .fund-organization(ng-bind="fund.organization.name") 
                .fund-categories
                    .fund-categories-label CATEGORIEËN
                    .fund-categories-list(ng-bind="fund.categories")
                a(ng-if="$root.auth_user && !fund.voucherWasTaken" ui-sref="fund-apply(fund)").button.button-primary Doe mee

            .fund-criterias
                .fund-criterias-label Criteria’s (4)
                .fund-criteria-item
                    .fund-criteria-item-label Locatie
                    .fund-criteria-item-value Zuidhorn Gemeente
                .fund-criteria-item
                    .fund-criteria-item-label Kinderen
                    .fund-criteria-item-value 1
                .fund-criteria-item
                    .fund-criteria-item-label Leeftijd kind
                    .fund-criteria-item-value < 18 jaar oud
                .fund-criteria-item
                    .fund-criteria-item-label Inkomensgrens
                    .fund-criteria-item-value < € 1118.46
        
        // .block.block-show-more: a(href="#").button.button-primary SHOW MORE


contact-form 