.header-splash: .splash.splash-kp

header.section.section-header: .wrapper
    top-navbar

section.section.section-page: .wrapper
    .section-title Wat is het Kindpakket? -
    .section-description.wide-80 Samen met de gemeente Zuidhorn hebben we een eerste implementatie van Platform Forus uitgewerkt. Deze toepassing is gericht op de minimaregeling: Kindpakket. 
        br
        br
        | Het Kindpakket is een budget voor kinderen uit gezinnen met een minimuminkomen. Deze gezinnen krijgen een budget van €300,- per kind. Het budget dient besteed te worden aan zaken zoals schoolmaterialen, sportspullen, kleding, zwemlessen etc.
        br
        br
        | Voorheen gaf de gemeente de regeling uit door middel van papieren vouchers ingekocht bij een drietal lokale leveranciers. Het totale budget van de regeling werd op voorhand overgemaakt naar de leveranciers.  Inwoners moesten in persoon op een specifieke datum naar het gemeentehuis gekomen om de vouchers op te halen.
        br
        br
        | De gemeente had geen inzicht in de besteding van de vouchers en wist niet hoe het geld terecht kwam. De keuzevrijheid van de inwoners was beperkt en het systeem was niet schaalbaar.
        br
        br
        | Vanaf November 2017 wordt gebruik gemaakt van de vernieuwde digitale versie. Waarbij de bovenstaande problemen zijn verholpen.
section.section.section-page: .wrapper
    .section-title Hoe werkt het nu?
    .section-subtitle Gemeente
    .section-description.wide-100 De gemeente maakt gebruik van verschillende dashboards waarop zij aanvragen van inwoners kan goedkeuren, winkels kan valideren en transacties kan volgen.
        br
        br
        | De gemeente heeft het bedrag dat beschikbaar is voor het Kindpakket op een programmeerbare bankrekening geplaatst. 
        br
        br
        | Wanneer een voucher (deels) wordt besteed en er een transactie plaatsvindt tussen de inwoner en de leverancier,  stuurt het platform de bankrekening aan om de euro-betaling real-time uit te voeren. 
        br
        br
        | In het systeem van Forus zijn checks ingebouwd en is vastgelegd op welke manieren de voucher mag worden uitgegegeven. Dit betekent dat de gemeente zekerheid heeft dat het budget doelmatig wordt besteed bij de vooraf gevalideerde leveranciers.
        br
        br
        | De managementinformatie en transactie zijn inzichtelijk via de dashboards voor de gemeentelijke medewerkers. De gemeente ziet hoeveel gebruik er wordt gemaakt van het systeem en hoe het geld wordt besteed.
        br
        br
    .section-subtitle Inwoners
    .section-description.wide-100 Inwoners die in aanmerking komen voor het Kindpakket krijgen een activatiecode die ze kunnen invullen op de Kindpakket website. 
        br
        br
        | Na het invullen van een geldige code krijgen ze direct toegang tot een vooraf vastgesteld budget. Dit budget kunnen zij middels een persoonlijke QR-code fysiek uitgeven bij aangesloten winkels. 
        br
        br
        | De QR-code kunnen ze op hun smartphone laten scannen of ze kunnen de code uitprinten en meenemen. Via de website heeft de gebruiker inzicht in het budget, uitgevoerde transacties en de aangesloten winkels.
        h4 
            strong Ervaring
        | Gebruikers geven aan het nieuwe kindpakket systeem te beschouwen als een soort van aparte bankrekening met internetbankieren. Ze lopen geen risico het geld  “verkeerd” te besteden of dat het wordt afgeschreven door een schuldeiser. Men weet zeker dat het geld voor het kind is gereserveerd
        br
        br
    .section-splash
    .section-subtitle Leveranciers
    .section-description.wide-100 Voor de aangesloten leveranciers is een app ontwikkeld waarmee betalingen kunnen worden afgehandeld. Bij het aanmelden geeft de aanbieder de bankgegevens en bedrijfsgegevens op.
        br
        br
        | De betaling vindt plaats door met de app de QR-code van de inwoner te scannen. De aanbieder vult het bedrag in waarna de betaling direct wordt uitgevoerd. De aanbieder ontvangt de betaling vrijwel meteen op de rekening. 
        h4.mb-1 
            strong Ervaring
        | De ervaring in Zuidhorn leert dat de aanbieder bij gebruik van dit systeem de betaling sneller ontvangt op haar rekening dan bij een reguliere pinbetaling.
        br
        br
        | De aanmeldprocedure wordt doorlopen binnen enkele minuten. Het financieel gewin voor de ondernemer geeft een sterke motivatie tot aansluiting.




























contact-form 
