top-navbar

section.section.section-details: .wrapper
    .block.block-about-me_app
        .me_app-overview
            .block-title Over de Me-app
            .block-description
                | De Me-app is een digitale portemonnee en kassa in één. 
                | Gemeenten gebruiken de Me-app voor het uitgeven van tegoeden. 
                | Met de app kunnen inwoners gemakkelijk hun tegoeden beheren. 
                | Aanbieders gebruiken de app om QR-codes te scannen.

            .me_app-download-apps.hide-sm
                a(href="{{ $root.appConfigs.android_link }}" target="_blank")
                    img(src="assets/img/icon-app/icon-app-android.svg" class="dl_buttons")
                a(href="{{ $root.appConfigs.ios_iphone_link }}" target="_blank")
                    img(src="assets/img/icon-app/app-store-badge.svg" class="dl_buttons")

        .me_app-images
            .me_app-image: img(src="assets/img/app-ios.png")
            .me_app-image: img(src="assets/img/app-android.png")

        .me_app-download
            .me_app-download-apps
                a(href="{{ $root.appConfigs.android_link }}" target="_blank")
                    img(src="assets/img/icon-app/icon-app-android.svg" class="dl_buttons")
                a(href="{{ $root.appConfigs.ios_iphone_link }}" target="_blank")
                    img(src="assets/img/icon-app/app-store-badge.svg" class="dl_buttons")