.header-splash: .splash.splash-d

header.section.section-header: .wrapper
    top-navbar

    .header-body.header-body-sprite-fill
        .header-sprite(
        style="background-image: url('./assets/img/header-sprite-meapp.png')")
        .header-content
            .header-title(translate="meapp_index.header.title_{{ $root.appConfigs.client_key }}")
            .header-description
                | {{ "meapp_index.header.description" | translate }}

            //- usage example:
            //- .header-title {{ 'test' | i18n:{foo:'bar'} }}
            //- .header-title(i18n="test" i18n-vars="{foo:'bar'}")

            .header-download-apps
                a(href="https://play.google.com/store/apps/details?id=io.forus.me").app-item.app-item-android
                    | {{ "meapp_index.download.android" | translate }}
                    em.mdi.mdi-arrow-right
                a(href="https://itunes.apple.com/nl/app/me-forus/id1422610676").app-item.app-item-ios
                    | {{ "meapp_index.download.ios" | translate }}
                    em.mdi.mdi-arrow-right


section.section.section-flow.responsive: .wrapper
    .section-title {{ "meapp_index.functions.header.title" | translate }}
    .scheme
        img(src="../assets/img/me/forus-flow-meapp.png").scheme-img
        .scheme-points-preset
            .scheme-point
                img(src="./assets/img/me/meapp-flow/screen-1.png").scheme-point-image
                .scheme-point-text
                    h4 {{ "meapp_index.functions.profile" | translate }}
                    p {{ "meapp_index.functions.pin" | translate }}
            .scheme-point
                img(src="./assets/img/me/meapp-flow/screen-2.png").scheme-point-image
                .scheme-point-text
                    h4 {{ "meapp_index.functions.apply" | translate }}
                    p {{ "meapp_index.functions.webshop" | translate }}
            .scheme-point
                img(src="./assets/img/me/meapp-flow/screen-3.png").scheme-point-image
                .scheme-point-text
                    h4 {{ "meapp_index.functions.vouchers" | translate }}
                    p {{ "meapp_index.functions.criterion" | translate }}
            .scheme-point
                img(src="./assets/img/me/meapp-flow/screen-4.png").scheme-point-image
                .scheme-point-text
                    h4 {{ "meapp_index.functions.profileb" | translate }}
                    p {{ "meapp_index.functions.app" | translate }}