.header-splash: .splash.splash-d

header.section.section-header: .wrapper
    top-navbar

section.section.section-page: .wrapper
    .section-title Me -
    .section-sprite.section-sprite-b(style="background-image: url('https://forus.io/me/assets/img/landing/meapp-flow/screen-1.png')")
    .section-description De app Me werkt samen met het Forus platform en biedt de volgende mogelijkheden:  
        ul 
            li inloggen op applicaties;
            li vouchers beheren;
            li profiel beheren.
        | De applicatie biedt een duidelijk overzicht van vouchers en makkelijke en veilige manier van inloggen zonder wachtwoord.
        br
        br

section.section.section-flow: .wrapper
    .section-title(translate="Me is een Android & iOS applicatie")
    .section-description(translate="De applicatie functioneert als een generieke stadspas waarmee men zich kan identificeren en betalingen kan verrichten.")
    .section-sites
        img(src="./assets/img/site/me/scan.png").section-sites-item.section-sites-item-long 
        img(src="./assets/img/site/me/vouchers.png").section-sites-item.section-sites-item-long 
        img(src="./assets/img/site/me/profiel.png").section-sites-item.section-sites-item-long 

contact-form 
