.header-splash: .splash.splash-d.flipped

header.section.section-header
    top-navbar

section.section.section-page: .wrapper
    .section-title Portfolio -
    .section-description.wide-100 Gedurende het jaar 2018 hebben wij onder andere aan de volgende projecten gewerkt:
        ul 
            li 
                b SBIR Gegevenslandschap - RVO en Ministerie van Binnenlandse Zaken
                br
                | Een haalbaarheidsonderzoek naar Platform Forus en de Me app als oplossing voor een goede en veilige digitale dienstverlening vanuit de overheid aan inwoners en organisaties met de focus op gegevensgebruik.
            li 
                b SBIR Blockchain - RVO en Provincie Groningen
                br
                | Een haalbaarheidsonderzoek naar de toepasbaarheid van blockchain technologie.
            li 
                b Kindpakket - Gemeente Zuidhorn (winnaars Computable Awards en VNG GemeentePioniers 2018)
                br
                | Uitgifte van de Kindpakket regeling via Platform Forus en de Me app.
            li 
                b Common Ground - VNG
                br
                | Meedenken over een nieuwe, moderne ICT-infrastructuur voor de uitwisseling van gegevens binnen en tussen gemeenten. 
            li 
                b Kindpakket - Gemeente Westerkwartier
                br
                | Uitgifte van de Kindpakket regeling via Platform Forus en de Me app.
            li
                b Meedoen-regeling - Gemeente Nijmegen
                br
                | Uitgifte van de Meedoen-regeling via Platform Forus en de Me app.

contact-form 
