top-navbar

section.section.section-details: .wrapper
    .block.block-breadcrumbs
        a(ui-sref="home").breadcrumb-item Home
        .breadcrumb-item.active(i18n="Privacyverklaring")
    .section-title.text-left(translate="Privacyverklaring")

    .block.block-markdown(ng-bind-html="$ctrl.description_privacy_html")