.header-splash: .splash.splash-product

header.section.section-header: .wrapper
    top-navbar

section.section.section-product: .wrapper
    .block.block-breadcrumbs
        a(ui-sref="home").breadcrumb-item Home
        a(ui-sref="products").breadcrumb-item Aanbiedingen
        .breadcrumb-item.active(ng-bind="$ctrl.product.name")

    .section-title(ng-bind="$ctrl.product.name")

    .block.block-product
        .product-card
            .product-details
                .product-photo(style="background-image: url('{{ $ctrl.product.photo.sizes.large || './assets/img/placeholders/product-large.png' }}')")
                    img(ng-src="{{ $ctrl.product.photo.sizes.large || './assets/img/placeholders/product-large.png' }}")
                .product-name
                    | {{ $ctrl.product.name }}
                    span.label.label-success {{ "product.status.active" | translate }}
                .product-categories(ng-bind="$ctrl.product.product_category.name")
                
                .product-funds
                    .product-fund-label {{ "product.labels.fund" | translate }}
                    .product-fund-list(ng-repeat="fund in $ctrl.product.funds" ng-bind="fund.name")

                .product-price
                    .product-price-new(ng-bind="$ctrl.product.price | currency_format")
                    .product-price-old(ng-bind="$ctrl.product.old_price | currency_format")

                .product-expire(ng-if="$ctrl.product.expire_at")
                    .expire-label {{ "voucher.labels.expire" | translate }}
                    .expire-value(ng-bind="$ctrl.product.expire_at_locale")
                
                .button.button-primary(
                    ng-show="$ctrl.isApplicable" 
                    ng-click="$ctrl.applyProduct()") KOOP
                .button.button-primary(
                    ng-if="!$root.auth_user" 
                    ng-click="openAuthPopup()") LOG IN

        .block.block-info-card
            .block-header {{ "voucher.labels.shopdetail" | translate }}
            .info-office(ng-repeat="office in $ctrl.product.offices")
                .info-office-photo(style="background-image: url('{{ office.photo.sizes.thumbnail || './assets/img/placeholders/office-thumbnail.png' }}')") 
                    img(ng-src="{{ office.photo.sizes.thumbnail || './assets/img/placeholders/office-thumbnail.png' }}", alt="")
                .info-office-details
                    .info-office-title(ng-bind="$ctrl.product.organization.name")
                    .info-office-description
                        div(ng-if="office.address" ng-bind="office.address")
                        div(ng-if="$root.auth_user" ng-bind="office.phone || ' '")


        .block.block-info-card
            .block-header {{ "voucher.labels.productdetail" | translate }}
            .block-content
                div(ng-bind-html="$ctrl.product.html_desc")
        
        .block.block-map_card
            .map_card-header
                .map_card-title {{ "product.labels.find" | translate }}
                .map_card-subtitle 

            .map_card-iframe: google-map(offices="$ctrl.product.offices")
contact-form 