.header-splash: .splash.splash-product

header.section.section-header
    top-navbar

section.section.section-product: .wrapper
    product-card(product="$ctrl.product")
        
    .block.block-vouchers(ng-if="$ctrl.applicableVouchers.length > 0")
        .block-title {{ "product_apply.header.title" | translate }}
        
        .voucher-item.voucher-item-use(
            ng-repeat="voucher in $ctrl.applicableVouchers")
            .voucher-image(style="background-image: url({{ voucher.fund.logo.sizes.thumbnail || voucher.fund.organization.logo.sizes.thumbnail || './assets/img/placeholders/fund-thumbnail.png' }})")
            .voucher-details
                .voucher-name(ng-bind="voucher.fund.name")
                .voucher-organization(ng-bind="voucher.fund.organization.name")
                .voucher-value(ng-bind="voucher.amount | currency_format")
            .voucher-overview:  button.button.button-primary(ng-click="$ctrl.applyForProduct(voucher)") {{ "product_apply.buttons.use" | translate }}
            .voucher-overview
                .voucher-overview-item
                    .voucher-overview-label {{ "product_apply.labels.transactions" | translate }}
                    .voucher-overview-value(ng-bind="voucher.transactions.length")
                .voucher-overview-item
                    .voucher-overview-label {{ "product_apply.labels.last" | translate }}
                    .voucher-overview-value(ng-if="voucher.transactions.length > 0")
                        | -{{ voucher.transactions[0].amount | currency_format }}
                        small {{ "product_apply.labels.subtract" | translate }}
                    .voucher-overview-value(ng-if="voucher.transactions.length == 0")
                        span.text-muted {{ "product_apply.labels.none" | translate }}
    

contact-form 