top-navbar
section.section.section-product: .wrapper

    .block.block-breadcrumbs
        a(ui-sref="home").breadcrumb-item Home
        a(ui-sref="products").breadcrumb-item Aanbiedingen
        .breadcrumb-item.active(ng-bind="$ctrl.product.name")

    .section-title(ng-bind="$ctrl.product.name")

    .block.block-product
        .product-card
            .product-photo(ng-style="{'background-image':'url({{ $ctrl.product.photo.sizes.large || './assets/img/placeholders/product-large.png' }})'}")
                img(ng-src="{{ $ctrl.product.photo.sizes.large || './assets/img/placeholders/product-large.png' }}")
            
            .product-details
                .product-name
                    span(ng-bind="$ctrl.product.name")
                    span.label.label-success(ng-if="!$ctrl.product.deleted" i18n="product.status.active")
                .product-categories(ng-bind="$ctrl.product.product_category.name")
                
                .product-funds
                    .product-fund-label(i18n="product.labels.fund")
                    .product-fund-list(ng-if="$ctrl.product.funds.length > 0" ng-bind="$ctrl.fundNames")

                .product-price
                    .product-price-old
                        .old-label(i18n="block_products.labels.old")
                        .old-value(ng-bind="$ctrl.product.old_price | currency_format")
                    .product-price-new
                        .new-label(i18n="block_products.labels.new")
                        .new-value(ng-bind="$ctrl.product.price | currency_format")
                    .product-price-insufficient.tooltip-block(ng-show="$ctrl.isApplicable == false" ng-if="$root.auth_user")
                        span {{ ($ctrl.lowAmountVouchers.length ? 'product.low_amount' : 'product.no_vouchers') | translate }}

                .product-expire(ng-if="$ctrl.product.expire_at")
                    .expire-label(i18n="voucher.labels.expire")
                    .expire-value(ng-bind="$ctrl.product.expire_at_locale")

                .button.button-primary(
                    ng-if="$ctrl.isApplicable && !$ctrl.product.deleted"
                    ng-click="$ctrl.applyProduct()") RESERVEER
                
                .button.button-primary(
                    ng-if="!$root.auth_user" 
                    ng-click="openAuthPopup()") LOG IN OM TE RESERVEREN

        .block.block-info-card
            .block-header(i18n="voucher.labels.shopdetail")
            .info-office(ng-repeat="office in $ctrl.product.offices")
                .info-office-photo(style="background-image: url('{{ office.photo.sizes.thumbnail || (office.organization.logo.sizes.thumbnail || './assets/img/placeholders/office-thumbnail.png') }}')")
                    img(ng-src="{{ office.photo.sizes.thumbnail || (office.organization.logo.sizes.thumbnail || './assets/img/placeholders/office-thumbnail.png') }}", alt="")
                .info-office-details
                    .info-office-title(ng-bind="$ctrl.product.organization.name")
                    .info-office-description
                        div(ng-if="office.address" ng-bind="office.address")
                        div(ng-if="$root.auth_user" ng-bind="office.phone || ' '")
                    .sub-description(i18n="voucher.labels.offers")

        .block.block-info-card
            .block-header(i18n="voucher.labels.productdetail")
            .block-content: .block.block-markdown
                div(ng-bind-html="$ctrl.product.description_html")
        
        .block.block-map_card
            .map_card-header
                .map_card-title(i18n="product.labels.find")
                .map_card-subtitle 

            .map_card-iframe: google-map(offices="$ctrl.product.offices" map-gesture-handling="'greedy'")