header.section.section-header
    top-navbar
    .header-splash: .splash.splash-d

.wrapper: .block.block-breadcrumbs
    a(ui-sref="home").breadcrumb-item Home
    .breadcrumb-item.active Aanbiedingen

block-products(
    sample="false" 
    product-categories="$ctrl.productCategories")

contact-form 