top-navbar

main(id="main-content" ng-show="!$root.mobileMenuOpened")
    section.section.section-profile: .wrapper
        .section-title {{ "records_validations.header.title" | translate }} ({{ $ctrl.records.length }})
        
        .block.block-profile
            .profile-aside: profile-menu

            .profile-content
                .block.block-validations
                    .validation-record-details
                        .record-type(ng-bind="$ctrl.recordsByTypesKey[$ctrl.record.key].name")
                        .record-value(ng-bind="$ctrl.record.value")
                        .record-validation-count
                            strong {{ $ctrl.record.validations.length }}
                            | {{ "records_validations.header.count" | translate }}
                        a(ui-sref="record-validate($ctrl.record)").button.button-outline.button-primary-outline.button-fill 
                            | {{ "records_validations.header.send" | translate }}
                            em.mdi.mdi-arrow-right.icon-right(aria-hidden="true")

                    .validation-card
                        .validation-header {{ "recrods_validate.header.validations" | translate }}
                        .validation-body
                            .validation-item(ng-repeat="validation in $ctrl.record.validations")
                                .validation-image: img(src="./assets/img/placeholders/fund-thumbnail.png", alt="")
                                .validation-name(ng-bind="validation.organization ? validation.organization.name + (validation.organization.email ? ' (' + validation.organization.email + ')' : '') : (validation.email || validation.identity_address)")
                                .validation-date(ng-bind="validation.updated_at")

                empty-block(
                    title="Geen validaties"
                    svg-icon="reimbursements"
                    description="Je hebt geen validaties"
                    ng-if="$ctrl.record.validations.length == 0")