top-navbar

header.section.section-sign-up-choose
    .wrapper
        .section-title(translate="signup_options.header.title")
        .section-subtitle(translate="signup_options.header.subtitle") 

        .block.block-sign-up-options
            .block-sign-up-option(ng-click="$ctrl.goToSignUpPage('provider')")
                .block-sign-up-option-title(translate="signup_options.labels.title_provider")
                .block-sign-up-option-footer
                    .block-sign-up-option-description(translate="signup_options.labels.description_provider")
                    .button.button-default(translate="signup_options.buttons.start")
            .block-sign-up-option(ng-click="$ctrl.goToSignUpPage('validator')")
                .block-sign-up-option-title(translate="signup_options.labels.title_validator")
                .block-sign-up-option-footer
                    .block-sign-up-option-description(translate="signup_options.labels.description_validator")
                    .button.button-default(translate="signup_options.buttons.start")
            .block-sign-up-option(ng-click="$ctrl.goToSignUpPage('sponsor')")
                .block-sign-up-option-title(translate="signup_options.labels.title_sponsor")
                .block-sign-up-option-footer
                    .block-sign-up-option-description(translate="signup_options.labels.description_sponsor")
                    .button.button-default(translate="signup_options.buttons.start")