top-navbar

main(id="main-content")
    section.section.section-details: .wrapper
        .block.block-breadcrumbs
            a(ui-sref="home").breadcrumb-item Home
            .breadcrumb-item.active(i18n="Algemene voorwaarden" aria-current="location")

        cms-blocks(
            ng-if="$root.appConfigs.features.pages.terms_and_conditions"
            page="$root.appConfigs.features.pages.terms_and_conditions")