top-navbar

main(id="main-content")
    section.section.section-details: .wrapper
        .block.block-breadcrumbs
            a(ui-sref="home").breadcrumb-item Home
            .breadcrumb-item.active(i18n="Privacyverklaring" aria-current="location")

        .block.block-markdown(
            ng-class="'block-markdown-' + $ctrl.page.content_alignment"
            ng-if="$ctrl.description_html" 
            ng-bind-html="$ctrl.description_html")