.header-splash: .splash.splash-d

header.section.section-header.section-header-voucher: .wrapper
    top-navbar

section.section.section-voucher-details: .wrapper
    .block.block-breadcrumbs
        a(ui-sref="home").breadcrumb-item Home
        a(ui-sref="vouchers").breadcrumb-item Mijn vouchers
        .breadcrumb-item.active Voucher details

    .section-title Uw voucher

    .block.block-voucher(ng-class="$ctrl.voucherCard.product?'':'block-voucher-regular'")
        // regular voucher
        div(ng-if="!$ctrl.voucherCard.product").base-card.base-card-sponsor: .card-inner
            .card-body
                .card-photo: img(ng-src="{{ $ctrl.voucherCard.fund.organization.logo.sizes.large || './assets/img/placeholders/organization-large.png' }}", alt="")
                .card-section
                    .card-title {{ "voucher.voucher_card.header.title" | translate }}
                    .card-description(i18n="voucher.voucher_card.labels.description" i18n-vars="{fund_name: $ctrl.voucherCard.title}")
            .card-footer
                .card-label(i18n="voucher.voucher_card.labels.contact_sponsor" i18n-vars="{fund_name: $ctrl.voucherCard.title}")
                .card-value(ng-bind="$ctrl.voucherCard.fund.organization.name")
                .card-value.card-value-sm
                    | E-mailadres: 
                    strong(ng-bind="$ctrl.voucherCard.fund.organization.email")
                    br
                    | Telefoonnummer: 
                    strong(ng-bind="$ctrl.voucherCard.fund.organization.phone")

        // product voucher
        div(ng-if="$ctrl.voucherCard.product").base-card.base-card-sponsor: .card-inner
            .card-body
                .card-photo: img(ng-src="{{ $ctrl.voucherCard.product.organization.logo.sizes.large || './assets/img/placeholders/organization-large.png' }}", alt="")
                .card-section
                    .card-title {{ "voucher.voucher_card.header.title" | translate }}
                    .card-description {{ "voucher.voucher_card.labels.desc" | translate }}
            .card-footer
                .card-label {{ "voucher.voucher_card.labels.contact_provider" | translate }}
                .card-value(ng-bind="$ctrl.voucherCard.product.organization.name")
                .card-value.card-value-sm
                    | E-mailadres: 
                    strong(ng-bind="$ctrl.voucherCard.product.organization.email")
                    br
                    | Telefoonnummer: 
                    strong(ng-bind="$ctrl.voucherCard.product.organization.phone")
        
        // voucher details
        .base-card.base-card-voucher
            .card-inner
                .card-body.flex-row
                    // product voucher
                    .card-photo: img(ng-src="{{ $ctrl.voucherCard.thumbnail }}").voucher-img
                    
                    .card-section
                        .label.label-success(ng-if="$ctrl.voucherCard.product" ng-bind="$ctrl.voucherCard.transactions.length == 0 ? 'Ongebruikt' : 'Gebruikt'") 
                        .card-title(ng-bind="$ctrl.voucherCard.title")
                        a(ng-if="$ctrl.voucherCard.product" ui-sref="products-show($ctrl.voucherCard.product)").card-read_more 
                            | Bekijk details
                            em.mdi.mdi-arrow-right
                        div(ng-if="!$ctrl.voucherCard.product")
                            .card-label.euro Budget:
                            .card-value.euro(ng-bind="'€ ' + ($ctrl.voucherCard.amount)") 

                .card-footer
                    .card-section
                        .card-label Verzilver deze voucher voor:
                        .card-value(ng-bind="$ctrl.voucherCard.expire_at_locale")
                    .card-actions
                        //-.action-item(ng-if="$ctrl.voucherCard.product")
                            .action-item-icon
                                em.mdi.mdi-share-variant
                                .action-item-tooltip(i18n="voucher.voucher_card.footer.tooltips.share")
                            .action-item-name(i18n="voucher.voucher_card.footer.actions.share")
                        .action-item(ng-click="$ctrl.sendVoucherEmail($ctrl.voucher)")
                            .action-item-icon
                                em.mdi.mdi-email-outline
                                .action-item-tooltip(i18n="voucher.voucher_card.footer.tooltips.mail")
                            .action-item-name(i18n="voucher.voucher_card.footer.actions.mail")
                        .action-item(ng-click="$ctrl.printQrCode()")
                            .action-item-icon
                                em.mdi.mdi-printer
                                .action-item-tooltip(i18n="voucher.voucher_card.footer.tooltips.print")
                            .action-item-name(i18n="voucher.voucher_card.footer.actions.print")
            .card-qr_code
                #voucher_qr
                .card-qr_code-desc(ng-if="$ctrl.voucherCard.product" i18n="voucher.voucher_card.qrcode.productdescription")
                .card-qr_code-desc(ng-if="!$ctrl.voucherCard.product" i18n="voucher.voucher_card.qrcode.description" i18n-vars="{fund_name: $ctrl.voucherCard.title}")

    .block.block-transactions(ng-if="$ctrl.voucherCard.transactions.length > 0 && !$ctrl.voucherCard.product")
        .transactions-header: .transactions-title {{ "voucher.labels.transactions" | translate }}
        .transactions-body: .transactions-list
            .transactions-item(ng-repeat="transaction in $ctrl.voucherCard.transactions" class="transactions-item-out")
                .transactions-item-icon: em.mdi.mdi-arrow-up
                .transactions-item-details
                    .transactions-item-counterpart(ng-if="transaction.type == 'transaction'") 
                        | {{ transaction.organization.name }}
                    .transactions-item-counterpart(ng-if="transaction.type == 'product_voucher'") 
                        | {{ "Product voucher: " | translate }} {{ transaction.product.name }}
                    .transactions-item-date {{ transaction.created_at_locale }}
                .transactions-item-amount 
                    .transactions-item-value - {{ transaction.amount | currency_format }}
                    .transactions-item-type {{ "voucher.labels.subtract" | translate }}

    block-products(
    ng-if="$root.appConfigs.features.products.list && !$ctrl.voucherCard.product"
    sample="true"
    products="$ctrl.products"
    product-categories="$ctrl.productCategories")

    .block.block-map_card
        .map_card-header
            .map_card-title {{ "voucher.labels.office" | translate }}
            .map_card-subtitle {{ "voucher.labels.voucher" | translate }}

        .map_card-iframe: google-map(offices="$ctrl.voucherCard.offices")

contact-form 