.header-splash: .splash.splash-d

header.section.section-header: .wrapper
    top-navbar

section.section.section-profile: .wrapper
    .section-title  {{ "page_vouchers.header.title" | translate }} ({{ $ctrl.vouchers.length }})
    
    .block.block-profile
        profile-card

        .profile-content
            .block.block-vouchers(ng-if="$ctrl.vouchers.length > 0")
                a(ng-repeat="voucher in $ctrl.vouchers" ui-sref="voucher(voucher)").voucher-item
                    .voucher-image(style="background-image: url('{{ voucher.product.photo.sizes.thumbnail }}')") 
                        img(ng-hide="voucher.product" ng-src="{{ voucher.fund.logo.sizes.thumbnail || voucher.fund.organization.logo.sizes.thumbnail || './assets/img/fund-no-image.jpg' }}")
                    .voucher-details
                        .voucher-name(ng-bind="voucher.product ? voucher.product.name : voucher.fund.name")
                        .voucher-organization(ng-bind="voucher.product ? voucher.product.organization.name : voucher.fund.organization.name")
                        .voucher-value(ng-bind="'€'+(voucher.amount | to_fixed:2)")
                    .voucher-overview(ng-if="!voucher.product")
                        .voucher-overview-item
                            .voucher-overview-label {{ "page_vouchers.header.transactions" | tranlate }}
                            .voucher-overview-value(ng-bind="voucher.transactions.length")
                        .voucher-overview-item
                            .voucher-overview-label {{ "page_vouchers.header.last" | tranlate }}
                            .voucher-overview-value(ng-if="voucher.transactions.length > 0")
                                | -{{ voucher.transactions[0].amount | to_fixed:2 }}
                                small {{ "page_vouchers.header.subtract" | tranlate }}
                            .voucher-overview-value(ng-if="voucher.transactions.length == 0")

                                span.text-muted {{ "page_vouchers.header.none" | tranlate }}
                    .voucher-overview(ng-if="voucher.product")
                        .voucher-overview-item
                            .voucher-overview-label USED
                            .voucher-overview-value(ng-bind="voucher.transactions.length == 0 ? 'No' : 'Yes'")
                        .voucher-overview-item
                            .voucher-overview-label GENERATED
                            .voucher-overview-value(ng-bind="voucher.created_at.split(' ')[0]")

            empty-block(
                title="Geen vouchers"
                description="Momenteel heeft u geen vouchers"
                ng-if="$ctrl.vouchers.length == 0")

contact-form 