@import '../general/vars.scss';

/*==========  Style Sheet - Vars  ==========*/

// navbar
$bg-nav:            #F5F5F5;
$tc-nav:            #282B39;
$tc-nav-hov:        #90191A;
$logo-padding:      20px 0px;
$logo-height:       50px;

// navbar (auth)
$tc-auth-menu:      #fff; 
$tc-auth-btn:       #90191A; 
$btn-auth-bg:       #fff;
$btn-auth-border:   #ececec;

// navbar (start modal primary)
$tc-start-btn:       #fff; 
$btn-start-bg:       #90191A; 
$btn-start-btn:      #90191A;
$btn-start-border:   transparent;

// header background            
$bg-values:          url("../img/splash-top-b.png") no-repeat 100% 0;

// base font
$bf:                'Montserrat', sans-serif;
$bf_2:              'Cherry Swash', cursive;

// text color
$tc:                #353535;
$tc-var:            inherit;

// base color
$bc:                #d13b3b;

// background color
$bg:                #fff;

$bg_2:              none;

// text formatting
$tf:                inherit;

// footer color
$fbc:                #fff;

// not displayed
$fd:                block;

// product image
$pi:                10px 0 0 10px;

// placeholder text color
$ptc:               #515152;

$border_color:      #EBEDF0;

$border_radius:     8px;
$base_shadow:       0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

$color_primary:         #90191A;
$color_primary_light:   #4c74ff;

$color_default:         #90191A;
$color_default_light:   #90191A;
