.section {
    &.section-header {
        padding: 80px 0;
        background-color: #9DE7D7;
        background-image: url(../img/wave-header.svg);
        background-repeat: no-repeat, repeat;
        background-size: contain;
        background-position: 0 100%;
        margin-bottom: 0;

        .header-content {
            text-align: left;
            height: 100%;

            .header-title {
                font: 500 68px/88px $bf;
                color: #003B49;
            }

            .header-description {
                font: 400 21px/36px $bf;
                color: #003B49;
            }

            .header-how-it-works {
                position: relative;
                cursor: pointer;
                padding: 12px 20px 12px 50px;
                background-color: #FAE053;
                border-radius: $border_radius;
                font: 500 17px/27px $bf;
                color: $tc;
                text-decoration: none;
                z-index: 2;

                &:before {
                    position: absolute;
                    display: block;
                    width: 100%;
                    top: -2px;
                    bottom: -2px;
                    left: 20px;
                    z-index: 1;
                    content: " ";
                    background-size: 20px 20px;
                    background-repeat: no-repeat;
                }
    
                &:before {
                    background-image: url(../img/monetary.svg);
                    background-position: left center;
                }
            }

            &:after {
                position: absolute;
                display: block;
                width: 100%;
                top: -2px;
                bottom: -2px;
                z-index: 1;
                content: " ";
                background-size: auto 100%;
                background-repeat: no-repeat;
            }
    
            &:after {
                right: 30px;
                background-image: url("../img/splash-top.svg");
                background-position: right 30px center;
            }
    
            @media screen and (max-width: 1000px) {
                &:after {
                    content: none;
                }
            }
        }

        @media screen and (max-width: 1000px) {
            padding: 30px 0 60px;

            .header-content {
                text-align: center;

                .header-title {
                    font: 500 45px/60px $bf;
                }

                .header-description {
                    font: 400 18px/28px $bf;
                    margin: 0 0 30px;
                }
            }
        }
    }
}
