.block {
    &.block-navbar {
        border: none;
        background-color: none;
        
        .block-subnav {
            background-color: #9DE7D7;

            .subnav-inner {
                .navbar-logo {
                    img {
                        height: 55px;
                    }
                }

                .block-navbar-search {
                    margin-right: 20px;

                    .search-form {
                        .form-control {
                            border: 1px solid transparent;
                            background: rgba(25, 39, 52, 0.2);
                            color: #fff;
                            font-weight: 400;
                            border-radius: 25px;
    
                            &::placeholder {
                                color: #fff;
                                opacity: 1;
                                font-weight: 400;
                                transition: .4s;
                            }
    
                            &.focused {
                                background-color: #fff;
                                color: #000;
                                border: none;
                                border-color: inherit;
                                -webkit-box-shadow: none;
                                box-shadow: none;
    
                                &::placeholder {
                                    color: #000;
                                    opacity: 1;
                                }
                            }
                        }
    
                        .navbar-search-icon {
                            .mdi {
                                color: #fff;
                                transition: .4s;
                            }
    
                            &.focused {
                                .mdi {
                                    color: #000;
                                }
                            }
                        }

                        .search-result {
                            border-width: 0;
                            border-radius: var(--border-radius);
                            top: calc(100% + 3px);

                            .search-result-sidebar {
                                padding: 10px 10px;
                                background: #f5f5f5;

                                .search-result-sidebar-item {
                                    .search-result-sidebar-item-name {
                                        font-size: 14px;
                                    }

                                    .search-result-sidebar-item-icon {
                                        display: flex;
                                        padding-right: 10px;
                                    }

                                    &.active {
                                        color: var(--tc);
                                    }
                                }
                            }

                            .search-result-content {
                                .search-result-section {
                                    .search-result-group-header {
                                        .search-result-group-icon {
                                            padding-right: 10px;
                                        }
                                    }
                                }
                            }
                        }

                        .search-result-section {
                            .search-result-items {
                                .search-result-item {
                                    strong {
                                        background: #FF9E1B;
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .navbar-inner {
            .navbar-list {
                .navbar-item-wrapper {
                    .navbar-item {
                        font: 500 14px/14px var(--base-font);
                    }

                    .navbar-user {
                        font: 500 14px/14px var(--base-font);
                    }

                    &:after {
                        background-color: #b1b1b1;
                    }
                }
            }
        }

        @media screen and (max-width: 1000px) {
            .block-subnav {
                .subnav-inner {
                    .block-navbar-search {
                        margin: 0 !important;

                        .search-form {
                            .search-result {
                                .search-result-sidebar {
                                    background-color: #fff;

                                    .search-result-sidebar-item {
                                        &.active {
                                            color: #fff;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}