.section {
    &.section-header {
        .header-sprite {
            background-image: none;
        }

        .block-navbar {
            position: fixed;
        }
    }
    @media screen and (max-width: 1000px) {
        &.section-header {
            padding-top: 60px;            
        }
    }
}

@media screen and (min-width: 768px) {
    .header-splash {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        z-index: -1;

        .splash {
            background-image: url("../img/splash-top-ba.png");
            height: 650px;
            width: 100%;
            background-position: 100% 0%;
            background-size: auto 100%;
            background-repeat: no-repeat;

            &.splash-c {
                background-image: none;
                height: 920px;
                display:none;
            }

            &.splash-d {
                background-image: url("../img/splash-top-nijmegen.png");
                height: 730px;
            }
        }
    }
}