.block {
    &.block-navbar {
        .navbar-inner {
            margin: 0 50px;
        }

        .block-subnav {
            .subnav-inner {
                margin: 0 50px;
            }
        }
    }

    @media screen and (max-width: 1000px) {
        &.block-navbar {
            position: sticky;
            background-color: $bg-nav;

            .navbar-logo {
                img {
                    display: none;

                    &.hover {
                        display: block;
                    }
                }
            }

            .button {
                svg {
                    path {
                        fill: #fff;
                    }
                }
            }
        }
    }
}