.block {
    @media screen and (max-width: 1000px) {
        &.block-navbar {
            position: sticky;
            background-color: var(--bg-nav);

            .navbar-inner {
                .button {
                    svg {
                        path {
                            fill: #fff;
                        }
                    }
                }

                .navbar-logo {
                    img {
                        display: none;
    
                        &.hover {
                            display: block;
                        }
                    }
                }

                .navbar-menu-button {
                    &.active {
                        color: #fff;
                    }
                }
            }
        }
    }
}