.nav-var {
    position: sticky !important;
}

.block {
    &.block-navbar {
        background-color: #a80a2d;
        position: sticky;
        top: 0;
        right: 0;
        left: 0;
        padding: 0;
        border: none;
        font-weight: 300;
        transition: background $navbar_transition, padding $navbar_transition;
        border-radius: $border_radius;
        width: 1140px;
        padding: 0;
        max-width: 100%;
        margin: 0 auto;
        box-shadow: 0 2px 5px 0 rgba(224, 204, 204, 0.16),
            0 2px 10px 0 rgba(0, 0, 0, 0.12);
        width: 100%;

        .navbar-inner {
            background: transparent;
            width: 1140px;
            padding: 10px 15px;
            transition: all $navbar_transition;
            box-shadow: none;
        }

        .navbar-logo {
            margin-right: 0;
            position: relative;
            transition: all $navbar_transition;
            padding: 0;
            float: left;
            overflow: hidden;
            width: 150px;
            border: none;
            margin-right: 100px;

            img {
                overflow: hidden;
                z-index: 2;
                opacity: 1;
                transition: height $navbar_transition,
                    opacity $navbar_transition;
                height: 50px;
            }
        }

        .navbar-list {
            position: relative;
            z-index: 1;
            padding: 0;
            transition: $navbar_transition;

            .navbar-item-wrapper {
                .navbar-item {
                    margin: 0 20px;
                    color: #fff;
                    transition: padding $navbar_transition;
                    font-size: 1.25rem;
                    padding: 10px 5px;
                    font-weight: 300;
                    line-height: 30px;

                    &:before {
                        content: none;
                    }

                    &:hover {
                        color: #e4b3be;

                    }

                    &.active {
                        color: #e4b3be;

                    }
                }
            }
        }

        .block-auth {
            position: relative;
            z-index: 1;
            padding: 0;
            border: none;
            padding: 5px 0;

            .button {
                background-color: #fff;
                border: 1px solid $border_color;
                color: #157c68;
                float: none;
                margin-right: none;
                font-size: 18px;
                line-height: 20px;
                padding: 10px 15px;
                transition: all $navbar_transition;

                .mdi {
                    color: #157c68;
                }

                &:hover {
                    border-color: #ababab;
                    color: #17564a;

                    .mdi {
                        color: #17564a;
                    }
                }
            }

            .auth-in {
                padding: 0;
                transition: padding .5s ease-in-out;

                .auth-user {
                    grid-template-columns: auto auto;
                    grid-template-rows: 10px;
                    grid-gap: 10px;
                    padding-left: 20px;

                    .auth-user-details {
                        .auth-user-email {
                            color: #fff;
                            line-height: 25px;
                            display: block;
                        }

                        .mdi-settings {
                            margin-top: 10px;
                        }

                        .mdi-settings:before {
                            content: "\F493";
                            font-size: 26px;
                            color: #fff;
                        }

                        .auth-user-logout,
                        .auth-user-type {
                            line-height: 15px;
                            display: block;
                            color: #fff;
                        }
                    }

                    .auth-user-avatar {
                        border: none;
                        border-radius: initial;

                        &>img {
                            border: 2px solid #c34367;
                            border-radius: 50%;
                        }
                    }

                    .auth-user-caret {
                        color: #fff;
                    }

                    .auth-user-menu {
                        border-radius: 2px;

                        .auth-user-menu-item {
                            &:hover {
                                color: #a92b2d;
                                background: #fff;
                            }
                        }
                    }
                }
            }
        }

        &.top-nav-collapse {
            .navbar-inner {
                padding: 5px 15px;
                box-shadow: none;
            }

            .navbar-logo {
                margin-right: 2rem;
                width: 35px;

                img {
                    height: 40px;
                }
            }

            .navbar-list {
                .navbar-item-wrapper {
                    .navbar-item {
                        padding: 5px 5px;
                    }
                }
            }

            .block-auth {
                .button {
                    padding: 5px 15px;
                }
            }
        }
    }

    &.block-products {
        .product-item {
            .product-item-inner {
                box-shadow: $base_shadow;
                border-radius: $border_radius;
                background-color: rgba(255, 255, 255, .9);
            }

            .product-image {
                border: 1px solid $border_color;
                border-radius: $border_radius;

                &:after {
                    background: rgba(33, 33, 33, 0.3);
                    transition: all 0.4s ease-in-out;
                    z-index: 1;
                }
            }

            .product-details {
                padding: 20px;
            }

            .product-name {
                color: #a80a2d;
            }

            .product-discount {
                color: #157c68;
            }

            .product-item-inner {
                @include cf();

                &:hover {
                    .product-name {
                        color: initial;
                    }

                    .product-image {
                        box-shadow: none;
                        transform: none;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1000px) {
        &.block-navbar {
            .navbar-logo {
                display: block;
                padding: 0;
                padding-right: 0;
                margin-right: 0;

                img {
                    height: 40px;
                }
            }

            .block-auth {
                padding: 0 0 0 0;

                .button {
                    padding: 9px 15px;
                }

                &.block-auth-border {
                    display: block;
                    padding: 1px 10px 0 0;
                }
            }

            .navbar-mobile-menu {
                margin: -10px -15px -10px 15px;
                border-left-color: rgba(#fff, .5);

                em {
                    color: #fff;
                    opacity: .9;
                }
            }

            .navbar-list {
                position: absolute;
                padding: 50px 0;
                left: 0;

                .navbar-item-wrapper {
                    .navbar-item {
                        margin: 0;
                        color: $tc;
                        font: 700 14px/24px $bf;
                        padding: 10px 20px;

                        &:hover,
                        &.active {
                            margin: 0;
                            color: $tc;
                            font: 700 14px/24px $bf;
                        }
                    }
                }
            }

            &.top-nav-collapse {
                .block-auth {
                    .auth-in {
                        // padding-top: 2px;
                    }

                    .button {
                        padding: 9px 15px;
                    }
                }
            }
        }
    }
}