@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

@import 'includes/resetter';
@import 'includes/helpers';
@import 'includes/placeholders';
@import 'includes/third-party';

// COMMON
@import 'includes/common';

// DEV PAGES
@import 'includes/dev-pages';

// SHAME
@import 'includes/shame';

// LAYOUTS
@import 'layout/_footer.scss',
'layout/_grid.scss',
'layout/_header.scss',
'layout/_navigation.scss';

// COMPONENTS
@import 'components/_breadcrumbs.scss',
'components/_buttons.scss',
'components/button-groups.scss',
'components/flex-grid.scss',
'components/rate.scss',
'components/_carrousel.scss',
'components/_dropdown.scss',
'components/_form.scss',
'components/_ui-controls.scss',
'components/_label.scss',
'components/_map-card.scss',
'components/_modals.scss',
'components/_tooltip.scss',
'components/_triangle.scss',
'components/_printables.scss',
'components/card.scss',
'components/skiplinks.scss',
'components/table.scss';
@import 'components/table-pagination';

// SECTIONS
@import 'sections/faq.scss';
@import 'sections/flow.scss';
@import 'sections/funds.scss';
@import 'sections/map.scss';
@import 'sections/products.scss';
@import 'sections/steps.scss';
@import 'sections/vouchers.scss';

// BLOCKS
@import 'sections/blocks/block-fund.scss',
'sections/blocks/cards.scss',
'sections/blocks/empty.scss',
'sections/blocks/fund_criteria.scss',
'sections/blocks/funds.scss',
'sections/blocks/map.scss',
'sections/blocks/phone-number.scss',
'sections/blocks/pincode.scss',
'sections/blocks/product.scss',
'sections/blocks/products.scss',
'sections/blocks/profile.scss',
'sections/blocks/record_categories.scss',
'sections/blocks/records_create.scss',
'sections/blocks/records.scss',
'sections/blocks/shops_map.scss',
'sections/blocks/transactions.scss',
'sections/blocks/validations.scss',
'sections/blocks/validators.scss',
'sections/blocks/voucher-product.scss',
'sections/blocks/voucher.scss',
'sections/blocks/vouchers.scss',
'sections/blocks/fund-add-records.scss',
'sections/blocks/block-preferences.scss',
'sections/blocks/block-file-uploader.scss',
'sections/blocks/block-auth-widget.scss',
'sections/blocks/block-push-notifications.scss',
'sections/blocks/block-page-loading-bar.scss',
'sections/blocks/block-user-emails.scss',
'sections/blocks/block-sitemap.scss';

.block {
    @import 'sections/blocks/block-markdown.scss';
    @import 'sections/blocks/block-showcase.scss';
    @import 'sections/blocks/block-products-list.scss';
    @import 'sections/blocks/block-label-tabs.scss';
    @import 'sections/blocks/block-organizations.scss';
    @import 'sections/blocks/block-offices.scss';
    @import 'sections/blocks/block-office.scss';
    @import 'sections/blocks/block-provider.scss';
    @import 'sections/blocks/block-pane.scss';
    @import 'sections/blocks/block-data-list.scss';
    @import 'sections/blocks/block-schedule-list.scss';
    @import 'sections/blocks/block-accessibility.scss';
    @import 'sections/blocks/block-steps.scss';
    @import 'sections/blocks/block-sticky-footer.scss';
    @import 'sections/blocks/block-funds-list.scss';

    @import 'sections/blocks/block-map-office-card.scss';
    @import 'sections/blocks/block-sessions.scss';
    @import 'sections/blocks/block-sign_up.scss';
    @import 'sections/blocks/block-sign_up-provider.scss';
    @import 'sections/blocks/block-notifications-table.scss';
    
    @import 'sections/blocks/block-subsidies.scss';
    @import 'sections/blocks/block-subsidies-list.scss';
    @import 'sections/blocks/block-physical-card.scss';
    @import 'sections/blocks/block-error-page.scss';
    @import 'sections/blocks/block-about-me_app.scss';
    @import 'sections/blocks/block-app_links.scss';
    @import 'sections/blocks/block-navbar-search';
    @import 'sections/blocks/block-search-results';

    @import 'sections/blocks/block-reservations.scss';
    @import 'sections/blocks/block-map_card.scss';
    @import 'sections/blocks/block-cms-funds.scss';
    @import 'sections/blocks/block-announcement.scss';
}

.modal {
    @import 'modals/modal-physical-cards.scss';
    @import 'modals/modal-product-reserve.scss';
}