@import 'includes/resetter';
@import 'includes/helpers';
@import 'includes/placeholders';
@import 'includes/third-party';

// COMMON
@import 'includes/common';

// DEV PAGES
@import 'includes/dev-pages';

// SHAME
@import 'includes/shame';

// LAYOUTS
@import 'layout/_footer.scss',
'layout/_grid.scss',
'layout/_header.scss',
'layout/_navigation.scss';

// COMPONENTS
@import 'components/_breadcrumbs.scss',
'components/_buttons.scss',
'components/flex-grid.scss',
'components/rate.scss',
'components/_carrousel.scss',
'components/_dropdown.scss',
'components/_form.scss',
'components/_ui-controls.scss',
'components/_label.scss',
'components/_map-card.scss',
'components/_modals.scss',
'components/_tooltip.scss',
'components/_triangle.scss',
'components/_printables.scss',
'components/card.scss';

// SECTIONS
@import 'sections/blogs.scss',
'sections/contact_form.scss',
'sections/faq.scss',
'sections/flow.scss',
'sections/funds.scss',
'sections/map.scss',
'sections/products.scss',
'sections/steps.scss',
'sections/vouchers.scss';

// BLOCKS
@import 'sections/blocks/apply_fund.scss',
'sections/blocks/blogs.scss',
'sections/blocks/cards.scss',
'sections/blocks/empty.scss',
'sections/blocks/fund_criteria.scss',
'sections/blocks/funds.scss',
'sections/blocks/info-card.scss',
'sections/blocks/map_card.scss',
'sections/blocks/map.scss',
'sections/blocks/markdown.scss',
'sections/blocks/phone-number.scss',
'sections/blocks/pincode.scss',
'sections/blocks/product.scss',
'sections/blocks/products.scss',
'sections/blocks/profile.scss',
'sections/blocks/record_categories.scss',
'sections/blocks/records_create.scss',
'sections/blocks/records.scss',
'sections/blocks/shops_map.scss',
'sections/blocks/transactions.scss',
'sections/blocks/validations.scss',
'sections/blocks/validators.scss',
'sections/blocks/voucher-product.scss',
'sections/blocks/voucher.scss',
'sections/blocks/vouchers.scss',
'sections/blocks/fund-add-records.scss',
'sections/blocks/block-preferences.scss',
'sections/blocks/block-sign_up.scss',
'sections/blocks/block-file-uploader.scss',
'sections/blocks/block-auth-widget.scss',
'sections/blocks/block-push-notifications.scss',
'sections/blocks/block-page-loading-bar.scss';

@import 'sections/blocks/block-showcase.scss';
@import 'sections/blocks/block-products-list.scss';
@import 'sections/blocks/block-label-tabs.scss';
@import 'sections/blocks/block-organizations.scss';
@import 'sections/blocks/block-offices.scss';
@import 'sections/blocks/block-office.scss';
@import 'sections/blocks/block-pane.scss';
@import 'sections/blocks/block-data-list.scss';
@import 'sections/blocks/block-schedule-list.scss';