.header-splash: .splash

header.section.section-header.section-header-landing: .wrapper
    .heade-sprite
    top-navbar

    .header-content
        .header-title {{ "home.header.title" | translate }}
        .header-description(ng-bind="'home.header.subtitle' | translate")
        a(href="#" translate="home.header.button").button.button-primary 

block-products(products="$ctrl.products" product-categories="$ctrl.productCategories")

section.section.section-map: .wrapper
    .block.block-map
        .block-content
            .block-title {{ "home.map.title" | translate }}
            .block-description(ng-bind="'home.map.subtitle' | translate")
            button(ng-click="$root.popups.offices.open()" translate="home.map.button").button.button-primary
    
section.section.section-steps: .wrapper
    .section-splash
    .section-sprite
    .section-title Hoe het systeem werkt
    .steps
        .step-item: .step-item-content
            h4 Stap #1
            p U heeft een een brief ontvangen van de Gemeente. In deze brief staat een activatiecode. Deze hebt u nodig voor stap 2.
        .step-item: .step-item-content
            h4 Stap #2
            p Op de website waar u zich nu bevindt klikt u, boven aan de pagina, op de groene knop en logt u in met de activatiecode.
        .step-item: .step-item-content
            h4 Stap #3
            p U ontvangt een mail een QR-code (nodig voor stap 5) en een link naar overzichtspagina van het kindpakket.
        .step-item: .step-item-content
            h4 Stap #4
            p Op de overzichtspagina staan de winkels waar u met de QR-Code terecht kunt. Print de QR-Code uit, of zorg dat deze als plaatje op uw telefoon staat. De Qr-Code kunt u steeds opnieuw gebruiken.
        .step-item: .step-item-content
            h4 Stap #3
            p U ontvangt een mail een QR-code (nodig voor stap 5) en een link naar overzichtspagina van het kindpakket.

        .step-item

section.section.section-blogs(ng-if="$root.appConfigs.features.blog"): .wrapper
    .section-title {{ "home.blog.title" | translate }}
    
    .block.block-blogs
        mixin blog_item(nth)
            .blog-item: a(href="#").blog-item-inner
                .blog-image: img(src="./assets/img/blog-image-" + nth + ".jpg")
                .blog-name {{ "home.blog.name" | translate }}
                .blog-read-more 
                    | {{ "home.blog.more" | translate }}
                    em.mdi.mdi-arrow-right
        +blog_item(1)
        +blog_item(2)
        +blog_item(3)
    .block.block-show-more: a(href="#").button.button-primary {{ "home.blog.button" | translate }}
    
section.section.section-faq: .wrapper
    .section-splash
    .section-title Veel gestelde vragen
    .faq(collapse)
        mixin faq_item(title, content, active)
            .faq-item(class=active?'active':'' collapse-item)
                .faq-item-header(collapse-header)
                    | #{title}
                    .faq-item-chevron-down.mdi.mdi-chevron-down
                    .faq-item-chevron-up.mdi.mdi-chevron-up
                .faq-item-content(collapse-content)=content

        +faq_item(
            "Ik weet niet hoe ik moet inloggen; hoe de activatiecode werkt.",
            "In de brief staat uw activatiecode. Die code vult u in op de website onder de knop activatie-code. Daana u ontvangt u een e-mail met uw QR-code")

        +faq_item(
            "Ik ben mijn QR-code kwijt. Wat moet ik doen?",
            "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum deleniti natus quibusdam non? Alias sed, voluptatum distinctio dolorum itaque natus vero fugiat. Odit sed quas blanditiis natus? Et quibusdam harum rem ut!")

        +faq_item(
            "Hoe kan ik zien hoe hoog mijn budget nog is?",
            "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum deleniti natus quibusdam non? Alias sed, voluptatum distinctio dolorum itaque natus vero fugiat. Odit sed quas blanditiis natus? Et quibusdam harum rem ut!")

        +faq_item(
            "Kan ik iets wat ik gekocht heb ruilen/retour brengen?",
            "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum deleniti natus quibusdam non? Alias sed, voluptatum distinctio dolorum itaque natus vero fugiat. Odit sed quas blanditiis natus? Et quibusdam harum rem ut!")

        +faq_item(
            "Moet ik mijn budget in 1x besteden?",
            "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum deleniti natus quibusdam non? Alias sed, voluptatum distinctio dolorum itaque natus vero fugiat. Odit sed quas blanditiis natus? Et quibusdam harum rem ut!")

        +faq_item(
            "Kan ik iets kopen bij een andere winkelier die niet op de website staat?",
            "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum deleniti natus quibusdam non? Alias sed, voluptatum distinctio dolorum itaque natus vero fugiat. Odit sed quas blanditiis natus? Et quibusdam harum rem ut!")

        +faq_item(
            "Ik heb nog een kind gekregen. Kom ik in aanmerking voor een hoger budget?",
            "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum deleniti natus quibusdam non? Alias sed, voluptatum distinctio dolorum itaque natus vero fugiat. Odit sed quas blanditiis natus? Et quibusdam harum rem ut!")

        +faq_item(
            "Hoe kom ik in aanmerking voor het kindpakket?",
            "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum deleniti natus quibusdam non? Alias sed, voluptatum distinctio dolorum itaque natus vero fugiat. Odit sed quas blanditiis natus? Et quibusdam harum rem ut!")

contact-form 