.select-control.select-control-funds {
    .select-control-input {
        .select-control-search {
            padding-left: 10px;

            .select-control-search-placeholder {
                display: grid;
                grid-template-columns: 20px 1fr;
                gap: 7.5px;

                .select-control-search-placeholder-media-funds {
                    margin: 3px 0;

                    img {
                        display: block;
                        width: 100%;
                        border: 1px solid var(--border-color);
                        border-radius: 50%;
                    }

                    .block.block-inline-filters & {
                        margin: 4px 0;
                    }
                }
            }
        }
    }
}

.select-control-menu.select-control-menu-funds {
    .select-control-options {
        .select-control-option {
            display: grid;
            grid-template-columns: 20px 1fr;
            gap: 7.5px;
            min-width: var(--option-height);
            padding-left: 10px;

            .select-control-option-media-funds {
                img {
                    display: block;
                    width: 100%;
                    border: 1px solid var(--border-color);
                    border-radius: 50%;
                }
            }
        }
    }
}
