.select-control.select-control-filter-panel {
    width: 100% !important;
    min-height: auto !important;
    height: 30px;
    margin: 0 0 10px;

    .select-control-input {
        .select-control-search {
            height: 30px;
            margin: 0;
            padding: 0 30px 0 10px;
            border: 1px solid #d4d9dd;
            font-size: 12px;
            line-height: 30px;
        }

        .select-control-search-container {
            .select-control-search-clear {
                line-height: 18px;
            }
        }
    }
}
