@font-face {
    font-family: "Fedra Sans";
    src: url("./assets/fonts/FedraSansStd-Book.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Fedra Sans";
    src: url("./assets/fonts/FedraSansStd-BookItalic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Fedra Sans";
    src: url("./assets/fonts/FedraSansStd-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Fedra Sans";
    src: url("./assets/fonts/FedraSansStd-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Fedra Sans";
    src: url("./assets/fonts/FedraSansStd-MediumItalic.woff2") format("woff2");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Fedra Sans";
    src: url("./assets/fonts/FedraSansStd-DemiItalic.woff2") format("woff2");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Fedra Sans";
    src: url("./assets/fonts/FedraSansStd-Demi.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Fedra Sans";
    src: url("./assets/fonts/FedraSansStd-BoldItalic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Fedra Sans";
    src: url("./assets/fonts/FedraSansStd-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}
