.block.block-empty
    h2.block-title No vouchers
    .block-description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
    a(href="#").block-link
        | Read how to...
        em.mdi.mdi-arrow-right