.block.block-map_card
    .map_card-header
        .map_card-title Afhaallocatie
        .map_card-subtitle Dit is de locatie waar de aanbieding is af te halen.

    .map_card-iframe: iframe(frameborder="0" ng-style="{border:0}" src="https://www.google.com/maps/embed/v1/place?q=Groningen, Netherlands&key=AIzaSyAGtyIwa3fytSaFTzIqDWdxZqdkLUzlYzM" allowfullscreen)