div: .select-control-options(scroll-end="$dir.onScrolledOption()")
    .select-control-option(
        ng-repeat="option in $dir.options"
        ng-click="$dir.select(option)"
        ng-bind="option.name") 