.nav-var { 
    position: absolute !important;
    background: transparent !important;

    .navbar-inner {
        .navbar-list {
            .navbar-item {
                color: #fff !important;
            }
        }

        .block-auth {
            border-left: none;
        }
    }
}