.text-primary {
    color: #666 !important;
}

.section {
    &.section-fund {
        .wrapper {
            width: 1000px;
        }
    }

    &.section-faq {
        .faq {
            margin: 0;

            .faq-item {
                .faq-item-header {
                    color: #4990B5 !important;

                    .faq-item-title {
                        color: #666;
                    }

                    .faq-item-chevron-up,
                    .faq-item-chevron-down {
                        color: #4990B5 !important;
                    }
                }

                &:hover:not(.active) {
                    .faq-item-header {
                        color: #4990B5 !important;

                        .faq-item-chevron-up,
                        .faq-item-chevron-down {
                            color: #4990B5 !important;
                        }
                    }
                }
            }
        }
    }
}

.block {
    &.block-markdown {
        margin-bottom: 50px;
    }

    &.block-fund {
        margin: 0 0 50px;
        border-bottom: 1px solid #ececec;

        .fund-card {
            box-shadow: none;
        }

        .fund-content {
            padding-bottom: 50px;
            border-bottom: 1px solid #ececec;

            .fund-details {
                padding: 0;

                .fund-description {
                    font: 300 16px/28px $bf;
                }
            }
        }
    }

    &.block-showcase {
        .showcase-layout {
            .showcase-content {
                .showcase-content-header {
                    .showcase-filters-title {
                        .showcase-filters-title-count {
                            color: #666;
                        }
                    }
                }
            }
        }
    }

    &.block-steps {    
        .block-markdown {
            a:not(.button) {
                text-decoration: underline;
                color: #305dfb;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    &.block-organizations {
        .organization-item {
            .organization-offices {
                .block-offices {
                    .office-item {
                        .office-item-map-icon {
                            color: #666;
                        }
                    }
                }
            }

            .organization-pane {
                .organization-title {
                    .organization-title-count {
                        color: #666;
                    }
                }
            }
        }
    }

    &.block-pane {    
        .pane-head {
            .pane-head-count {
                color: #666;
            }
        }
    }

    .block-label-tabs {
        .label-tab {
            .label-tab-menu {
                .label-tab-menu-item {
                    &:hover {
                        color: #272525;
    
                        .mdi {
                            color: #272525;
                        }
                    }
                }
            }

            &.active, &:active, &:focus {
                color: #272525;
    
                .mdi {
                    color: #272525;
                }
    
                .label-tab-dropdown, 
                .label-tab-dropdown .mdi {
                    color: $tc;
                }
            }

            &:hover:not(.active) {
                color: #272525;
                background-color: $color_primary_light;
                border-color: $color_primary_light;

                .mdi {
                    color: #272525;
                }
            }

            &.label-tab-sm {
                &:focus {
                    color: #272525; 
                    border: none;
                    
                    .mdi {
                        color: #272525;
                    }  
                }
            }

            &.label-tab-primary-light {
                color: #272525;
    
                &:hover {
                    color: #272525;
                }
            }
        }
    }
}