.modal.modal-2fa-setup {
    .modal-window {
        .modal-body {
            overflow: visible;

            .phone-control {
                margin-bottom: 10px;
            }
        }
    }

    @media screen and (max-width: 1000px) {
        z-index: 99;

        .modal-window {
            .modal-body {
                overflow: auto;

                .block-qr-code {
                    width: 200px;
                    align-self: center;
                }

                .block-app_download {
                    .app_download-row {
                        justify-content: center;
                    }
                }
            }
        }

        .block-pincode {
            .pincode-number {
                height: 42px;

                &:not(.pincode-number-divider) {
                    width: 42px;
                }
            }
        }
    }
}
