.modal.modal-file-preview {
    .modal-window {
        .modal-body {
            .modal-file-preview-image {
                display: flex;
                justify-content: center;
                width: 100%;
                background-color: #000;

                img {
                    height: 100%;
                    width: 100%;
                    display: block;
                }
            }

            .file-pdf {
                display: flex;
                flex-direction: column;
                overflow: auto;
                height: initial;
                width: 100%;
                background-color: black;

                canvas {
                    display: block;
                    width: 70%;
                    height: auto;
                    margin: 0 auto;
                }
            }
        }
    }
}
