&.modal-product-reserve {
    cursor: default;

    .modal-window {
        width: 1000px;
        max-width: 100%;
    }

    .modal-content {
        background-color: #fff;

        .title {
            font-size: 28px;
            line-height: 36px;
        }

        .description {
            font-size: 15px;
            line-height: 21px;
            color: #595959;

            a {
                color: $color_primary;
                text-decoration: underline;
            }
        }

        .block {
            &.block-vouchers {
                padding: 15px;
                border: 1px solid $border_color;
                border-radius: $border_radius;
                background-color: lighten($color: whitesmoke, $amount: 1.5%);
                max-height: 360px;
                overflow: auto;
                @include webkit_scrollbar();
    
                &.block-vouchers-compact {
                    padding: 0 80px;
                    border: none;
                    background: none;
                    overflow: visible;
    
                    .voucher-item {
                        box-shadow: $base_shadow;
    
                        .voucher-details {
                            .voucher-name {
                                font: 700 24px/32px $bf;
                            }
    
                            .voucher-organization {
                                font: 500 14px/22px $bf;
                            }
                        }
                    }
                }
            }

            &.block-email-setup {
                background: #FFFFFF;
                box-shadow: inset 0px -1px 0px #E5E5E5;
                border: 1px solid #e3e3e3;
                border-radius: 8px;
                margin-bottom: 20px;

                .block-email-setup-details {
                    display: flex;
                    align-items: center;
                    border-bottom: 1px solid #e3e3e3;
                    padding: 20px;
                    font: 700 17px/24px $bf;
                    color: #222222;

                    .block-email-setup-details-logo {
                        width: 48px;
                        height: 48px;
                        margin: 0 20px 0 0;
                    }

                    .block-email-setup-details-description {
                        font: inherit;
                    }

                    .form {
                        margin-right: 10px;
                    }

                    .button {
                        padding: 10px 13px;
                        min-width: 150px;
                    }
                }

                .block-email-setup-description {
                    font: 400 15px/21px $bf;
                    color: #595959;
                    padding: 20px;
                }
            }
        }

        .form {
            .form-control {
                border: 1px solid #e3e3e3;
            }

            .form-label {
                color: #595959;
                font: 600 13px/18px $bf;
            }
        }
    }

    &.modal-sm {
        .modal-window {
            width: 800px;
        }
    }

    @media screen and (max-width: 1000px) {
        .modal-window {
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        .modal-header {
            border-radius: 0;
        }

        .modal-content {
            flex-grow: 1;
            padding: 0;
            flex-direction: column;

            .modal-section {
                min-height: 100%;
                flex-grow: 1;
                justify-content: center;
                padding: 30px 20px 20px;

                .title {
                    padding: 0;
                    font: 700 22px/28px $bf;
                    margin: 0 0 20px;
                }

                .description {
                    padding: 0;
                    font: 400 15px/22px $bf;
                    margin: 0 0 20px;
                }

                .block-vouchers {
                    margin: 0 -20px 20px;
                    border-radius: 0;
                }
            }

            .block {
                &.block-email-setup {
                    text-align: center;

                    .block-email-setup-details {
                        flex-direction: column;

                        .block-email-setup-details-logo,
                        .block-email-setup-details-description {
                            margin: 0 0 20px 0;
                        }
                    }
                }
            }
        }
    }
}
