&.modal-product-reserve {
    cursor: default;
    z-index: 99;

    .modal-window {
        background: #fff;
        width: 820px;
    }

    .modal-body {
        overflow: auto;
        @include webkit_scrollbar();
    }

    .modal-content {
        overflow: visible;
        box-shadow: none;
        background: none;

        .modal-section {
            overflow: visible;
            padding: 25px;

            &.modal-section-narrow {
                padding: 15px 20px;
            }
        }

        .description {
            font: 400 14px/22px var(--base-font);
            margin-bottom: 15px;
            padding: 0;
            color: #595959;

            a {
                color: var(--color-primary);
                text-decoration: underline;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        .payment-details {
            border: 1px solid var(--border-color);
            border-radius: var(--border-radius);
            padding: 15px;
            margin-bottom: 12px;

            .payment-amount {
                display: flex;
                justify-content: space-between;
                color: #353535;
                font: 600 14px/21px var(--base-font);
                margin-bottom: 10px;

                .payment-value {
                    &.bold {
                        font-weight: 700;
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .divider {
                height: 1px;
                width: 100%;
                background: #E5E5E5;
                margin: 12px 0;
            }
        }
    }

    .reservation-progress {
        width: 50%;
        display: flex;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;

        .reservation-step {
            display: flex;
            flex-grow: 1;
            text-align: right;
            font: 500 14px/30px var(--base-font);
            color: #525252;
            border: none;
            position: relative;
            flex-basis: 1;

            .reservation-step-border {
                flex-grow: 1;
                background: #ebedf0;
                height: 4px;
                border-radius: var(--border-radius);
                transition: background-color .4s;

                &:before {
                    content: "";
                    display: block;
                    border-radius: inherit;
                    background: #ebedf0;
                    @include fill_parent();
                }
            }

            .reservation-step-separator {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                right: -4px;
                width: 12px;
                height: 12px;
                border-radius: 12px;
                transform: translate(0, -50%);
                background-color: #dbdcdb;
                border: 2.5px solid #fff;
                z-index: 1;
                transition: background-color .4s;
            }

            &:first-child {
                flex-basis: .75;
            }

            &:last-child {
                flex-basis: .75;

                .reservation-step-separator {
                    display: none;
                }
            }

            &.reservation-step-info {
                width: 40px;
                max-width: 40px;
                text-align: center;
                font-size: 24px;

                .mdi {
                    color: var(--sign_up_accent_color);
                }
            }

            &.reservation-step-active {
                color: #cdced2;

                .reservation-step-border {
                    &:before {
                        content: "";
                        display: block;
                        @include fill_parent();
                        background-color: #cdced2;
                    }
                }

                .reservation-step-separator {
                    background-color: #282b39;
                }
            }

            &.reservation-step-done {
                .reservation-step-border {
                    &:before {
                        background-color: var(--color-primary);
                    }
                }

                .reservation-step-separator {
                    background-color: var(--color-primary);
                }
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .reservation-overview {
        .overview-list {
            border: 1px solid var(--border-color);
            border-radius: var(--border-radius);
            padding: 20px;

            .overview-item {
                margin: 0 0 10px;
    
                .overview-item-label {
                    font: 600 12px/18px var(--base-font);
                    color: #595959;
                }
    
                .overview-item-value {
                    font: 600 14px/21px var(--base-font);
                    color: #222;
    
                    &.overview-item-value-empty {
                        font-style: italic;
                    }
                }
    
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .form {
        .form-label {
            color: #595959;
            font: 600 11px/16px var(--base-font);
        }
    }

    &.modal-sm {
        .modal-window {
            width: 800px;
        }
    }

    @media screen and (max-width: 1000px) {
        overflow: scroll;
        border-radius: 0;

        .modal-window {
            height: 100%;
            display: flex;
            flex-direction: column;
            border-radius: 0;
        }

        .modal-header {
            border-radius: 0;
        }

        .modal-body {
            display: flex;
            flex-grow: 1;
        }

        .modal-content {
            flex-grow: 1;
            padding: 0;
            flex-direction: column;
            overflow: auto;

            .block.block-vouchers {
                display: flex;
                flex-grow: 1;
                flex-direction: column;
                max-height: initial;
                height: auto;
            }

            .modal-section {
                min-height: 100%;
                flex-grow: 1;
                justify-content: center;
                padding: 20px;

                .block-vouchers {
                    margin: 0;
                    border-radius: 0;

                    .voucher-item {
                        display: flex;

                        .voucher-image {
                            padding: 0 5px 0 10px;
                            min-width: 60px;
                            max-width: 60px;
                        }

                        .voucher-details {
                            overflow: hidden;

                            .voucher-records {
                                .block-voucher-records {
                                    .records-pane {
                                        overflow: scroll;
                                        padding: 8px;
                                    }
                                }
                            }
                        }

                        .voucher-overview {
                            width: auto;
                            padding: 10px;
                        }

                        &.voucher-item-compact {
                            padding: 12px;
                            flex-wrap: wrap;
                            gap: 12px;

                            .voucher-image {
                                flex-basis: 60px;
                                justify-content: flex-start;
                                padding: 0;
                                border-radius: 0;

                                img {
                                    border-radius: var(--border-radius);
                                }
                            }

                            .voucher-details {
                                flex-basis: calc(100% - 72px);
                                border-bottom: 0;
                                padding: 0;

                                .voucher-name {
                                    margin: 0;
                                    font: 600 14px/21px var(--base-font);
                                }

                                .voucher-organization {
                                    font: 400 11px/14px  var(--base-font);
                                    color: #595959;
                                    padding-bottom: 5px;
                                }

                                .voucher-base-information {
                                    flex-direction: column;
                                    gap: 15px;
                                }

                                .voucher-amounts {
                                    flex-direction: row;
                                    justify-content: space-between;
                                    margin: 0;

                                    .voucher-amount {
                                        gap: 5px;
                                        display: grid;
                                    }

                                    .voucher-value-date {
                                        font: 600 11px/11px var(--base-font);
                                        color: #848484;
                                    }

                                    .voucher-extra-payment {
                                        position: initial;
                                        margin-top: 0;
                                        display: flex;
                                        flex-direction: column;
                                        gap: 5px;

                                        .voucher-extra-payment-value {
                                            font: 700 14px/14px var(--base-font);
                                            color: #222222;
                                        }

                                        .voucher-extra-payment-description {
                                            font: 600 11px/11px var(--base-font);
                                            color: #848484;
                                        }
                                    }
                                }

                                .voucher-records {
                                    .block.block-voucher-records.block-voucher-records-toggle .records-toggle {
                                        font: 600 11px/25px var(--base-font);
                                    }
                                }

                            }

                            .voucher-overview {
                                flex-basis: 100%;
                                border-left: 0;
                                padding: 0;

                                .button {
                                    width: 100%;
                                }

                                & + .voucher-records {
                                    margin: 0 -12px -12px;
                                    box-shadow: 0 1px 0 0 #E5E5E5 inset;
                                    background: #FBFBFB;
                                    width: calc(100% + 24px);

                                    .block.block-voucher-records {
                                        &.block-voucher-records-toggle {
                                            .records-toggle {
                                                text-align: center;
                                                font: 600 12px/12px var(--base-font);
                                                padding: 15px 0 12px;
                                            }

                                            .records-pane {
                                                background-color: #fff;
                                                padding: 15px;
                                                border: 0;
                                                border-radius: 0;
                                                box-shadow: 0 0 0 0 #D4D9DD inset, 0 1px 0 0 #D4D9DD inset;
                                            }
                                        }

                                        &.block-voucher-records-compact {
                                            .record-item {
                                                margin-bottom: 9px;
                                                padding: 0;
                                                gap: 5px;

                                                .record-key {
                                                    font: 400 11px/11px var(--base-font);
                                                }

                                                .record-value {
                                                    font: 600 11px/11px var(--base-font);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.block-vouchers-sm {
                        .voucher-item {
                            display: grid;
                            grid-template-columns: 30px 1fr;

                            .voucher-image {
                                flex-basis: auto;
                            }

                            .voucher-details {
                                flex-basis: auto;
                            }
                        }
                    }
                }

                .payment-details {
                    .payment-amount {
                        flex-direction: column;
                        font: 600 11px/16px var(--base-font);

                        .payment-value {
                            font: 600 12px/18px var(--base-font);
                            color: #222;

                            &.bold {
                                font: 600 14px/21px var(--base-font);
                            }
                        }

                        .payment-key {
                            color: #595959;
                        }
                    }
                }

                .reservation-overview {
                    text-align: left;
                    border: 1px solid var(--border-color);
                    border-radius: var(--border-radius);
                    padding: 12px;

                    .overview-item {
                        .overview-item-label {
                            color: #595959;
                            font: 600 11px/16px var(--base-font);
                        }

                        .overview-item-value {
                            color: #222;
                            font: 600 12px/18px var(--base-font);
                        }
                    }
                }
            }
        }

        .reservation-progress {
            width: 100%;
            padding: 0 30px;
        }
    }
}
