&.modal-photo-cropper {
    .modal-window {
        display: flex;
        flex-direction: column;
    }

    .modal-content {
        display: flex;
        flex-direction: column;
        width: 770px;
        max-width: 100%;
        max-height: 80vh;

        .modal-section {
            overflow: auto;
            @include webkit_scrollbar();
        }

        .cropper-media {
            margin: auto;
            display: flex;
            flex-direction: column;
            width: 500px;

            .cropper-preview {
                margin-bottom: 10px;

                .cropper-preview-container {
                    position: relative;
                    max-height: 50vh;
                    height: 320px;
                    background-color: #000000;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .crop-control-ratio {
                        width: 100%;
                        display: block;
                    }

                    .cropper-preview-placeholder {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        color: rgba($color: #fff, $alpha: .8);
                        font: 600 16px/28px var(--base-font);
                        text-align: center;
                        padding: 0 60px;

                        .cropper-preview-placeholder-media {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            width: 100%;
                            font-size: 48px;
                        }
                    }
    
                    ui-cropper {
                        position: absolute;
                        top: 0px;
                        right: 0px;
                        bottom: 0px;
                        left: 0px;
                        border-top: 5px solid black;
                        border-bottom: 5px solid black;

                        .loading {
                            display: none;
                        }
                    }

                    .file-pdf {
                        width: 100%;
                        display: block;
                        overflow: auto;
                        border: 1px solid var(--border-color);

                        canvas {
                            width: 100%;
                            display: block;
                        }
                    }
                }
            }

            .cropper-pagination {
                display: flex;
                flex-direction: row;
                background-color: #edeef0;
                height: 26px;
                margin-bottom: 10px;

                .cropper-pagination-btn {
                    width: 26px;
                    height: 26px;
                    color: #595959;
                    background-color: #edeef0;
                    justify-content: center;
                    transition: .4s background-color, .4s color;
                    cursor: pointer;

                    .mdi {
                        display: flex;
                        flex-direction: row;
                        line-height: 26px;
                        font-size: 18px;
                        text-align: center;
                        justify-content: center;
                    }

                    &:hover {
                        color: #edeef0;
                        background-color: #595959;
                    }
                }

                .cropper-pagination-nav {
                    display: flex;
                    flex-direction: row;
                    flex-grow: 1;
                    justify-content: center;
                    border-left: 2px solid #fff;
                    border-right: 2px solid #fff;

                    .cropper-pagination-item {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        width: 18px;
                        height: 26px;
                        padding: 5px;
                        cursor: pointer;

                        &:before {
                            content: '';
                            width: 8px;
                            height: 8px;
                            border-radius: 8px;
                            display: flex;
                            background-color: #d4d9dd;
                            transition: background-color .4s;
                        }

                        &:hover {
                            &:before {
                                background-color: var(--color-primary);
                                opacity: .5;
                            }
                        }

                        &.active {
                            &:before {
                                background-color: var(--color-primary);
                                opacity: .5;
                            }
                        }
                    }
                }
            }

            .cropper-actions {
                display: flex;
                flex-direction: row;

                .cropper-rotate {
                    display: flex;
                    flex-direction: row;
                    flex-grow: 1;

                    .cropper-rotate-btn {
                        height: 28px;
                        width: 28px;
                        display: inline-flex;
                        line-height: 26px;
                        justify-content: center;
                        border: 1px solid var(--border-color);
                        border-radius: calc(var(--border-radius) / 2);
                        margin-right: 5px;
                        color: #595959;
                        background-color: #ffffff;
                        transition: .4s background-color, .4s color;
                        font-size: 18px;
                        cursor: pointer;

                        &:hover {
                            color: #edeef0;
                            background-color: #595959;
                        }
                    }
                }

                .cropper-action-change {
                    font: 700 14px/28px var(--base-font);
                    color: var(--color-primary);

                    .mdi {
                        margin-right: 5px;
                        display: inline-flex;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1000px) {
        .modal-content {
            height: 100%;
            max-height: 100%;
            padding-bottom: 0;

            .modal-section {
                display: flex;
                flex-grow: 1;
                flex-direction: column;
                justify-content: flex-start;
            }

            .cropper-media {
                width: 100%;
                display: flex;
                flex-grow: 1;
                flex-direction: column;
                justify-content: flex-start;
            }
        }
    }
}