&.modal-product-reserve {
    cursor: default;

    .modal-header {
        .modal-title {
            font: 700 22px/32px var(--base-font);
            color: #222;
        }

        .modal-subtitle {
            font: 400 14px/21px var(--base-font);
            color: #595959;
            margin-bottom: 16px;
        }
    }

    .modal-footer {
        background: #fff;
    }

    .modal-window {
        width: 1000px;
        max-width: 100%;
    }

    .modal-content {
        overflow: visible;
        background-color: #fff;
        box-shadow: none;

        .modal-section {
            overflow: visible;
            padding: 32px;
        }

        .modal-notice {
            background-color: #E6ECFF;
            padding: 16px;
            align-items: center;
            align-content: center;

            .mdi {
                padding-right: 16px;
                font-size: 18px;
            }

            .modal-notice-title {
                font: 600 14px/21px var(--base-font);
                margin-bottom: 10px;
            }

            .modal-notice-description {
                font: 400 13px/18px var(--base-font);
            }
        }

        .title {
            font: 700 22px/32px var(--base-font);
        }

        .description {
            font: 400 14px/21px var(--base-font);
            margin-bottom: 24px;
            padding: 0;
            color: #595959;

            a {
                color: var(--color-primary);
                text-decoration: underline;
            }
        }

        .media {
            margin-bottom: 24px;
            text-align: center;
        }

        .block {
            &.block-vouchers {
                padding: 15px;
                border: 1px solid var(--border-color);
                border-radius: var(--border-radius);
                background-color: rgb(250, 250, 250);
                max-height: 360px;
                overflow: auto;
                @include webkit_scrollbar();

                .voucher-item {
                    .voucher-image {
                        padding: 16px;
                    }
    
                    .voucher-details {
                        text-align: left;
                    }
                }
    
                &.block-vouchers-compact {
                    padding: 0;
                    border: none;
                    background: none;
                    overflow: visible;
    
                    .voucher-item {
                        box-shadow: var(--box-shadow);

                        .voucher-image {
                            padding: 16px;
                        }
    
                        .voucher-details {
                            text-align: left;

                            .voucher-name {
                                font: 700 24px/32px var(--base-font);
                            }
    
                            .voucher-organization {
                                font: 500 14px/22px var(--base-font);
                            }
                        }
                    }
                }
            }
        }
    }

    .reservation-progress {
        width: 50%;
        display: flex;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 16px;

        .reservation-step {
            display: flex;
            flex-grow: 1;
            text-align: right;
            font: 500 14px/30px var(--base-font);
            color: #525252;
            border: none;
            margin-left: 1px;

            .reservation-step-border {
                flex-grow: 1;
                background: #ebedf0;
                height: 4px;
                position: relative;
                overflow: hidden;
                margin-right: 8px;

                &:before {
                    content: "";
                    display: block;
                    @include fill_parent();
                }
            }

            .reservation-step-separator {
                content: "";
                display: block;
                position: relative;
                top: -2px;
                right: 4px;
                width: 8px;
                height: 8px;
                border-radius: 4px;
                background-color: #DBDCDB;
            }

            &:first-child {
                .reservation-step-border {
                    border-radius: var(--border-radius) 0 0 var(--border-radius);
                }
            }

            &:last-child {
                .reservation-step-border {
                    border-radius: 0 var(--border-radius) var(--border-radius) 0;
                }

                .reservation-step-separator {
                    display: none;
                }
            }

            &.reservation-step-info {
                width: 40px;
                max-width: 40px;
                text-align: center;
                font-size: 24px;

                .mdi {
                    color: var(--sign_up_accent_color);
                }
            }

            &.reservation-step-active {
                color: #CDCED2;

                .reservation-step-border {
                    &:before {
                        content: "";
                        display: block;
                        @include fill_parent();
                        background-color: #CDCED2;
                    }    
                }

                .reservation-step-separator {
                    background-color: #282B39;
                }
            }

            &.reservation-step-done {
                .reservation-step-border {
                    &:before {
                        background-color: #315EFD;
                    }
                }

                .reservation-step-separator {
                    background-color: #315EFD;
                }
            }
        }
    }

    .form {
        .form-label {
            color: #595959;
            font: 600 11px/16px var(--base-font);
        }
    }

    &.modal-sm {
        .modal-window {
            width: 800px;
        }
    }

    @media screen and (max-width: 1000px) {
        overflow: scroll;

        .modal-window {
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        .modal-header {
            border-radius: 0;
        }

        .modal-content {
            flex-grow: 1;
            padding: 0;
            flex-direction: column;
            overflow: auto;

            .modal-section {
                min-height: 100%;
                flex-grow: 1;
                justify-content: center;
                padding: 40px 15px;

                .title {
                    padding: 0;
                    font: 700 22px/28px var(--base-font);
                    margin: 0 0 20px;
                }

                .description {
                    padding: 0;
                    font: 400 15px/22px var(--base-font);
                    margin: 0 0 20px;
                }

                .block-vouchers {
                    margin: 0;
                    border-radius: 0;

                    .voucher-item {
                        display: flex;

                        .voucher-image {
                            padding: 0 5px 0 10px;
                            min-width: 60px;
                            max-width: 60px;
                        }

                        .voucher-details {
                            overflow: hidden;

                            .voucher-records {
                                .block-voucher-records {
                                    overflow: scroll;

                                    .records-pane {
                                        overflow: scroll;
                                        padding: 8px;
                                    }
                                }
                            }
                        }

                        .voucher-overview {
                            width: auto;
                            padding: 10px;
                        }

                        &.voucher-item-compact {
                            padding-top: 0;
                        }
                    }
                }
            }
        }

        .modal-footer {
            padding: 12px 15px;

            .button {
                font: 700 13px/18px var(--base-font)
            }
        }

        .reservation-progress {
            width: 100%;
            padding: 0 30px;
        }
    }
}
