&.modal-product-reserve {
    cursor: default;

    .modal-window {
        width: 1000px;
        max-width: 100%;
    }

    .modal-content {
        background-color: #fff;

        .title {
            font-size: 28px;
            line-height: 36px;
        }

        .description {
            font-size: 17px;
            line-height: 22px;
            color: $color_primary;
            
            a {
                color: $color_primary;
                text-decoration: underline;
            }
        }

        .block.block-vouchers {
            padding: 15px;
            border: 1px solid $border_color;
            border-radius: $border_radius;
            background-color: lighten($color: whitesmoke, $amount: 1.5%);
            max-height: 360px;
            overflow: auto;
            @include webkit_scrollbar();

            &.block-vouchers-compact {
                padding: 0 80px;
                border: none;
                background: none;
                overflow: visible;

                .voucher-item {
                    box-shadow: $base_shadow;
                    .voucher-details {
                        .voucher-name {
                            font-size: 24px;
                            line-height: 32px;
                        }
                        .voucher-organization {
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 22px;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1000px) {
        .modal-window {
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        .modal-header {
            border-radius: 0;
        }

        .modal-content {
            flex-grow: 1;
            padding: 0;
            flex-direction: column;

            .modal-section {
                min-height: 100%;
                flex-grow: 1;
                justify-content: center;
                padding: 30px 20px 20px;
                
                .title {
                    padding: 0;
                    font: 700 22px/28px $bf;
                    margin: 0 0 20px;
                }
    
                .description {
                    padding: 0;
                    font: 400 15px/22px $bf;
                    margin: 0 0 20px;
                }

                .block-vouchers {
                    margin: 0 -20px 20px;
                    border-radius: 0;
                }
            }
        }
    }
}
