.app.app-container
    menu
    section.app.app-content
        .block.block-breadcrumbs
            .breadcrumb-item(ui-sref="features({organization_id: $ctrl.organization.id})") Marketplace
            .breadcrumb-item.active(ng-bind="$ctrl.feature.name")

        block-feature(feature="$ctrl.feature")

        .card
            .card-header: .card-title Beschrijving
            .card-section: .block.block-content
                p
                    | Met de Haal Centraal API kunnen gemeentemedewerkers eenvoudig BRP-gegevens ophalen
                    | binnen hun beheeromgeving. Deze gegevens zijn essentieel voor het evalueren van aanvragen.
                    | De BRP-toegang verloopt via de MakelaarSuite van PinkRocade, waarbij gebruik wordt gemaakt
                    | van StUF3.x-BG of API (Common Ground).

                img(src="/assets/img/features/img/iconnect-api/banner.jpg")

                h3 Belangrijkste voordelen

                p De koppeling van Haal Centraal API met Forus biedt verschillende voordelen:

                .block.block-feature-icons
                    .block-feature-icons-item
                        .block-feature-icon
                            include ../../../../resources/_platform-common/assets/img/features/icons/iconnect-api/icon-1.svg

                        h4 Eenvoudige toegang tot BRP-gegevens
                        p
                            | Met de Haal Centraal API krijgt u eenvoudig toegang tot de basisregistratie
                            | personen (BRP) gegevens. Dit maakt het evalueren van aanvragen efficiënter
                            | en vermindert administratieve lasten voor gemeenten.

                    .block-feature-icons-item
                        .block-feature-icon
                            include ../../../../resources/_platform-common/assets/img/features/icons/iconnect-api/icon-2.svg

                        h4 Overzicht binnen één applicatie
                        p
                            | Alle benodigde informatie is direct beschikbaar binnen Forus. Hierdoor hoeft
                            | er niet binnen twee of meer applicaties worden gezocht.

                    .block-feature-icons-item
                        .block-feature-icon
                            include ../../../../resources/_platform-common/assets/img/features/icons/iconnect-api/icon-3.svg

                        h4 Kostenbesparing voor gemeenten
                        p
                            | De Haal Centraal API integratie op het Forus platform verlaagt uitvoeringskosten.
                            | Direct beschikbare gegevens verminderen handmatige invoer en bewerkingen,
                            | wat resulteert in lagere operationele kosten.

                    .block-feature-icons-item
                        .block-feature-icon
                            include ../../../../resources/_platform-common/assets/img/features/icons/iconnect-api/icon-4.svg

                        h4 Verhoogde flexibiliteit en nauwkeurigheid
                        p
                            | Met de Haal Centraal API kun je snel en nauwkeurig basisgegevens verkrijgen uit landelijke
                            | registraties. Dit vergroot de flexibiliteit van het Forus platform en vermindert fouten door
                            | handmatige invoer of verouderde gegevens.

                .block.block-feature-list
                    h3 Gegevens beschikbaar via Haal Centraal API
                    .block-feature-list-items-wrapper
                        .block-feature-list-items-title Met deze API kunnen de volgende gegevens, op basis van BSN, worden verkregen:
                        .block-feature-list-items
                            .block-feature-list-item Naam
                            .block-feature-list-item Adres en postcode
                            .block-feature-list-item Geboortedatum
                            .block-feature-list-item Partnerstatus
                            .block-feature-list-item Aantal kinderen

                .block.block-feature-text-image-columns
                    .block-feature-text-image-columns-description
                        h4 Over Haal Centraal
                        p
                            | De Haal Centraal API is een initiatief van de Nederlandse overheid om het delen van basisgegevens
                            | tussen overheidsorganisaties te faciliteren. Met deze API wordt het eenvoudiger om gegevens uit
                            | diverse landelijke registraties te raadplegen, zoals de BRP, Kadaster en RDW. Dit zorgt voor een
                            | efficiëntere en meer gestroomlijnde uitwisseling van gegevens, wat uiteindelijk resulteert in
                            | snellere en nauwkeurigere besluitvorming binnen de overheid.

                    .block-feature-text-image-columns-img
                        img(src="/assets/img/features/img/iconnect-api/image-text-block.jpg")

            .card-info
                .card-info-icon.mdi.mdi-headset
                .card-info-details: span
                    | Mocht u nog vragen hebben of wilt u aanvullende informatie dan kunt u ons
                    | bellen op: #[strong +31 (0) 85 004 33 87] of contact opnemen via e-mail #[strong info@forus.io]


        .card
            .card-header: .card-title Veelgestelde vragen

            .card-section.card-section-padless: .block.block-feature-faq(collapse)
                .feature-faq-item(collapse-item)
                    .feature-faq-item-title(collapse-header)
                        | Welke gegevens zijn beschikbaar via de Haal Centraal API?
                        .feature-faq-item-icon.mdi.mdi-menu-down

                    .feature-faq-item-description
                        p
                            | Op basis van BSN kunnen de volgende gegevens worden verkregen: naam, adres en postcode,
                            | geboortedatum, partnerstatus en aantal kinderen. Er kan door de organisatie worden gekozen
                            | om bepaalde gegevens niet te tonen, om zo alleen te werken met gegevens die daadwerkelijk
                            | bedoeld zijn om bijvoorbeeld een aanvraag te beoordelen.

                .feature-faq-item(collapse-item)
                    .feature-faq-item-title(collapse-header)
                        | Wat zijn enkele van de meest gebruikte toepassingen van de Haal Centraal API?
                        .feature-faq-item-icon.mdi.mdi-menu-down

                    .feature-faq-item-description
                        p
                            | De Haal Centraal API wordt onder andere gebruikt voor het verifiëren van identiteit en adresgegevens,
                            | het ophalen van gegevens uit de Basisregistratie Personen (BRP) en het delen van informatie
                            | tussen verschillende overheidsorganisaties voor vergunningaanvragen of belastingaangiften.
                            | Daarnaast wordt de API ook gebruikt door bedrijven en maatschappelijke organisaties om sneller toegang
                            | te krijgen tot betrouwbare gegevens van burgers.

                .feature-faq-item(collapse-item)
                    .feature-faq-item-title(collapse-header)
                        | Voor welke organisaties is de Haal Centraal API geschikt?
                        .feature-faq-item-icon.mdi.mdi-menu-down

                    .feature-faq-item-description
                        p
                            | Op basis van een BSN worden gegevens opgehaald middels de API. De Haal Centraal API is daarom
                            | uitsluitend in te zetten voor organisaties die de aanvraagprocedure voor een regeling via het platform
                            | laten verlopen middels het inloggen met DigiD.

                .feature-faq-item(collapse-item)
                    .feature-faq-item-title(collapse-header)
                        | Welke gegevens slaat Forus op in het systeem?
                        .feature-faq-item-icon.mdi.mdi-menu-down

                    .feature-faq-item-description
                        p
                            | Forus slaat de gegevens die worden getoond met de Haal Centraal API niet op. De gegevens worden
                            | enkel getoond aan de beoordelaar die de gegevens wenst te tonen voor het beoordelen van een aanvraag.
                            | Zo hoeft Forus geen onnodige gegevens op te slaan.


        .card
            .card-header(ng-if="$ctrl.additionalFeatures.length")
                .card-title Andere modules die u misschien interessant vindt

            .card-section(ng-if="$ctrl.additionalFeatures.length")
                .block.block-features
                    .features-list
                        a.features-list-item(
                            ng-repeat="feature in $ctrl.additionalFeatures"
                            ui-sref="feature(feature.srefParams)")

                            .features-list-item-icon: img(ng-src="/assets/img/features/icons/{{ feature.key }}.svg")
                            .features-list-item-content
                                .features-list-item-title
                                    span(ng-bind="feature.name")
                                    .features-label.active(ng-if="feature.enabled") Actief
                                .features-list-item-details(ng-bind="feature.description")
                                .features-labels
                                    .features-label(ng-repeat="label in feature.labels" ng-bind="label")

            .card-section
                .block.block-features-demo-banner(
                    style="background-image: url(/assets/img/features/img/iconnect-api/banner-action-bg.jpg);"
                )
                    .features-demo-banner-info-wrapper
                        .features-demo-banner-info
                            .features-demo-banner-title Haal Centraal API uitproberen
                            .features-demo-banner-details
                                | Wilt u zien hoe de Haal Centraal API werkt? Neem dan contact met ons
                                | op voor een persoonlijke demonstratie. We laten u graag zien hoe het voor uw kan werken.

                        .features-demo-banner-action
                            .button.button-primary(ng-click="$ctrl.openContactModal()") Demo aanvragen