.app.app-container
    menu
    section.app.app-content
        .block.block-breadcrumbs
            .breadcrumb-item(ui-sref="features({organization_id: $ctrl.organization.id})") Marketplace
            .breadcrumb-item.active(ng-bind="$ctrl.feature.name")

        block-feature(feature="$ctrl.feature")

        .card
            .card-header: .card-title Beschrijving
            .card-section: .block.block-content
                p
                    | Platform Forus biedt een handige BI-API-koppeling, ook wel een BI-integratie genoemd.
                    | Deze koppeling maakt het mogelijk om gegevens vanuit het Forus-platform te
                    | exporteren naar uw eigen BI-tools, zoals PowerBI en Cognos.
                p
                    | U kunt hiermee krachtige managementrapportages creëren op basis van gegevens uit uw webshop,
                    | waaronder informatie over tegoeden, aanvragers, aanbiedertransacties en financiële overzichten.
                    | Deze koppeling stelt alle exporteerbare gegevens ter beschikking voor uw rapportagedoeleinden.

                img(src="/assets/img/features/img/bi-tools/banner.jpg")

                h3 Belangrijkste voordelen

                p De koppeling van BI-tools met Forus biedt verschillende voordelen:

                .block.block-feature-icons
                    .block-feature-icons-item
                        .block-feature-icon
                            include ../../../../resources/_platform-common/assets/img/features/icons/bi-tools/icon-1.svg

                        h4 Automatische gegevensverzameling
                        p De gegevens worden automatisch geëxporteerd naar uw BI-tool.

                    .block-feature-icons-item
                        .block-feature-icon
                            include ../../../../resources/_platform-common/assets/img/features/icons/bi-tools/icon-2.svg

                        h4 Extra visualisatiemogelijkheden
                        p U krijgt de vrijheid om inzichten te creëren op basis van webshopgegevens of deze te integreren met andere datasets in uw BI-tool.

                    .block-feature-icons-item
                        .block-feature-icon
                            include ../../../../resources/_platform-common/assets/img/features/icons/bi-tools/icon-3.svg

                        h4 Integratie met diverse BI-systemen
                        p De Forus API maakt probleemloze verbinding mogelijk met verschillende BI-systemen, waaronder PowerBI en Cognos.

                    .block-feature-icons-item
                        .block-feature-icon
                            include ../../../../resources/_platform-common/assets/img/features/icons/bi-tools/icon-4.svg

                        h4 Aanpasbaarheid van gegevens
                        p
                            | Filters en parameters kunnen worden gebruikt om relevante informatie te extraheren.
                            | Het optimaliseren van exportgegevens voor gerichte rapportages draagt bij aan efficiënte besluitvorming.

                hr

                h3 Authenticatiemethoden

                p
                    | Om de koppeling tussen de BI-tool en Forus tot stand te brengen, zijn er twee beschikbare authenticatiemethoden:

                ul
                    li Door gebruik te maken van een URL-parameter.
                    li Middels het instellen van een header en een sleutelcode.

                p
                    | Voor beide authenticatiemethoden is het essentieel om een specifieke URL-configuratie uit te voeren in uw BI-tool.
                    | Deze configuratie verschaft u toegang tot de gegevens vanuit het Forus-platform.


                .block.block-feature-text-image-columns
                    .block-feature-text-image-columns-description
                        h4 Over BI-tool
                        p
                            | Een Business Intelligence-tool, vaak afgekort tot BI-tool, is een soort software die
                            | is ontworpen om ruwe bedrijfsgegevens om te zetten in bruikbare informatie.
                            | Deze tools kunnen helpen bij het consolideren, analyseren en presenteren van data in gemakkelijk
                            | te begrijpen rapporten en dashboards. BI-tools worden vaak gebruikt door organisaties om datagestuurde
                            | beslissingen te nemen. Ze bieden inzicht in trends, patronen en anomalieën in de bedrijfsactiviteiten,
                            | waardoor het management strategische beslissingen kan nemen op basis van betrouwbare gegevens.
                            | Populaire BI-tools zijn bijvoorbeeld PowerBI en Cognos.

                    .block-feature-text-image-columns-img
                        img(src="/assets/img/features/img/bi-tools/image-text-block.jpg")

            //-.card-info.card-info-dim
                .card-info-icon.mdi.mdi-alert-circle-outline
                .card-info-details
                    | Lorem ipsum dolor sit amet consectetur tempus nullam scelerisque amet hendrerit risus adipiscing lacinia at lorem.
                    | Gravida ut at sit id ac mauris sapien. Quisque mattis arcu suspendisse dictumst sit.

            .card-info
                .card-info-icon.mdi.mdi-headset
                .card-info-details: span
                    | Mocht u nog vragen hebben of wilt u aanvullende informatie dan kunt u ons
                    | bellen op: #[strong +31 (0) 85 004 33 87] of contact opnemen via e-mail #[strong info@forus.io]

        .card
            .card-header: .card-title Veelgestelde vragen

            .card-section.card-section-padless: .block.block-feature-faq(collapse)
                .feature-faq-item(collapse-item)
                    .feature-faq-item-title(collapse-header)
                        | Wat is BI intergratie?
                        .feature-faq-item-icon.mdi.mdi-menu-down

                    .feature-faq-item-description
                        p
                            | Een BI API koppeling, ook wel een BI integratie genoemd, zorgt ervoor dat data vanuit
                            | ieder gewenst pakket ontsloten kan worden. Dit betekent dat de data vanuit het Forus
                            | platform door de sponsor gebruikt kan worden voor rapportagedoeleinden.

                .feature-faq-item(collapse-item)
                    .feature-faq-item-title(collapse-header)
                        | Hoe breng ik een BI koppeling tot stand?
                        .feature-faq-item-icon.mdi.mdi-menu-down

                    .feature-faq-item-description
                        p
                            | Om de koppeling tussen de BI-tool en het Forus platform tot stand te brengen zijn
                            | er twee authenticatiemethoden die gebruikt kunnen worden:
                        ul
                            li Middels een URL-parameter
                            li Middels het gebruik van een header en sleutelcode
                        p
                            | Voor beide authenticatiemethoden geldt dat er een URL geconfigureerd moet
                            | worden in uw BI-tool. Hiermee krijgt u toegang tot de gegevens uit het Forus platform.

        .card
            .card-header: .card-title Andere modules die u misschien interessant vindt

            .card-section
                .block.block-features
                    .features-list
                        a.features-list-item(
                            ng-repeat="feature in $ctrl.additionalFeatures"
                            ui-sref="feature(feature.srefParams)")

                            .features-list-item-icon: img(ng-src="/assets/img/features/icons/{{ feature.key }}.svg")
                            .features-list-item-content
                                .features-list-item-title
                                    span(ng-bind="feature.name")
                                    .features-label.active(ng-if="feature.enabled") Active
                                .features-list-item-details(ng-bind="feature.description")
                                .features-labels
                                    .features-label(ng-repeat="label in feature.labels" ng-bind="label")

            .card-section
                .block.block-features-demo-banner(
                    style="background-image: url(/assets/img/features/img/bi-tools/banner-action-bg.jpg);"
                )
                    .features-demo-banner-info-wrapper
                        .features-demo-banner-info
                            .features-demo-banner-title BI-tool API uitproberen
                            .features-demo-banner-details
                                | Wilt u zien hoe de BI-tool API werkt? Neem dan contact met ons op voor een
                                | persoonlijke demonstratie. We laten u graag zien hoe het voor uw kan werken.

                        .features-demo-banner-action
                            a(ui-sref="features({organization_id: $ctrl.organization.id})").button.button-primary Demo aanvragen