.app.app-container
    menu
    section.app.app-content
        .block.block-breadcrumbs
            .breadcrumb-item(ui-sref="features({organization_id: $ctrl.organization.id})") Marketplace
            .breadcrumb-item.active(ng-bind="$ctrl.feature.name")

        block-feature(feature="$ctrl.feature")

        .card
            .card-header: .card-title Beschrijving
            .card-section: .block.block-content
                p
                    | De Fysieke Pas module biedt inwoners die minder digitaal vaardig zijn een alternatieve
                    | toegangsmogelijkheid tot verschillende diensten en voorzieningen.
                    | Hierbij wordt de QR-code op een fysieke pas gedrukt.
                    | De pas kan ook als stadspas dienen voor verschillende doeleinden.

                img(src="/assets/img/features/img/physical-cards/banner.jpg")

                h3 Belangrijkste voordelen

                p De Fysieke Pas module biedt verschillende voordelen bij het gebruik ervan:

                .block.block-feature-icons
                    .block-feature-icons-item
                        .block-feature-icon
                            include ../../../../resources/_platform-common/assets/img/features/icons/physical-cards/icon-1.svg

                        h4 Toegankelijkheid
                        p Deze module biedt mensen met beperkte digitale vaardigheden toegang tot specifieke diensten en voorzieningen.

                    .block-feature-icons-item
                        .block-feature-icon
                            include ../../../../resources/_platform-common/assets/img/features/icons/physical-cards/icon-2.svg

                        h4 Inclusiviteit
                        p
                            | De stadspas heeft een antistigmatiserend effect, omdat anderen aan de kaart
                            | niet kunnen zien of iemand een laag of hoog inkomen heeft.

                    .block-feature-icons-item
                        .block-feature-icon
                            include ../../../../resources/_platform-common/assets/img/features/icons/physical-cards/icon-3.svg

                        h4 Gebruiksgemak
                        p
                            | De Fysieke Pas module maakt het proces van aanvragen en ontvangen van de pas eenvoudig en efficiënt,
                            | waardoor inwoners snel kunnen profiteren van de voordelen die de pas biedt.

                    .block-feature-icons-item
                        .block-feature-icon
                            include ../../../../resources/_platform-common/assets/img/features/icons/physical-cards/icon-4.svg

                        h4 Maatwerk
                        p
                            | Organisaties hebben de vrijheid om zelf te bepalen op welke manier ze de pas willen inzetten.
                            | Dit varieert van kortingen op lokale musea voor alle inwoners tot extra tegoeden voor mensen met een lager inkomen.

                .block.block-feature-text-image-columns
                    .block-feature-text-image-columns-description
                        h4 Over de Fysieke Pas
                        p
                            | De Fysieke Pas is een persoonlijke pas met een unieke QR-code die kan worden gebruikt voor verschillende
                            | doeleinden, zoals toegang tot culturele voorzieningen en kortingen bij lokale winkels. De pas is bedoeld
                            | voor inwoners die moeite hebben met digitale toegang en bevordert inclusiviteit binnen de gemeente.

                    .block-feature-text-image-columns-img
                        img(src="/assets/img/features/img/physical-cards/image-text-block.jpg")

                hr

                .block.block-feature-text-image-columns.block-feature-text-image-columns-secondary
                    .block-feature-text-image-columns-img
                        img(src="/assets/img/features/img/physical-cards/image-text-block-secondary.jpg")

                    .block-feature-text-image-columns-description
                        h4 Duurzaamheid
                        p
                            | Duurzaamheid speelt een belangrijke rol in de ontwikkeling en implementatie van fysieke passen.
                            | De gemeente heeft de vrijheid om te kiezen welk type pas zij willen gebruiken.
                            | Er is een optie om te kiezen voor een #[strong Ecopas], waarmee inwoners een milieuvriendelijk alternatief
                            | hebben voor plastic pasjes. Deze ecologisch verantwoorde passen zijn composteerbaar,
                            | worden gerecycled of gemaakt van gerecycled materiaal. Bij de productie worden alternatieve
                            | materialen gebruikt in plaats van plastic, zoals biologisch afbreekbare kalk of hout.

            .card-info
                .card-info-icon.mdi.mdi-headset
                .card-info-details: span
                    | Mocht u nog vragen hebben of wilt u aanvullende informatie dan kunt u ons
                    | bellen op: #[strong +31 (0) 85 004 33 87] of contact opnemen via e-mail #[strong info@forus.io]


        .card
            .card-header: .card-title Veelgestelde vragen

            .card-section.card-section-padless: .block.block-feature-faq(collapse)
                .feature-faq-item(collapse-item)
                    .feature-faq-item-title(collapse-header)
                        | Wat gebeurt er in het geval dat een inwoner zijn pas verliest of als de pas defect is?
                        .feature-faq-item-icon.mdi.mdi-menu-down

                    .feature-faq-item-description
                        p
                            | Als er een plastic pas aan een tegoed is gekoppeld, maar de deelnemer is deze kwijt of is hij defect,
                            | dan moet de pas worden losgekoppeld. Indien gewenst kan er een nieuwe plastic pas worden aangevraagd voor de deelnemer.

                .feature-faq-item(collapse-item)
                    .feature-faq-item-title(collapse-header)
                        | Welke gegevens van een inwoner heeft de medewerker nodig om namens hen een plastic pas te bestellen?
                        .feature-faq-item-icon.mdi.mdi-menu-down

                    .feature-faq-item-description
                        p
                            | Wanneer uw organisatie werkt met een fysieke pas, maar de deelnemer heeft deze nog niet ontvangen,
                            | dan kunt u namens de deelnemer een plastic pas bestellen. De volgende gegevens van de inwoner zijn hiervoor vereist:

                        ul
                            li Een actief tegoed in de beheeromgeving
                            li Straatnaam
                            li Huisnummer en eventuele toevoeging
                            li Postcode
                            li Plaats

                .feature-faq-item(collapse-item)
                    .feature-faq-item-title(collapse-header)
                        | Hoelang duurt het voordat een aangevraagde fysieke pas thuis wordt bezorgd?
                        .feature-faq-item-icon.mdi.mdi-menu-down

                    .feature-faq-item-description
                        p Na het indienen van uw aanvraag, ontvangt u de fysieke pas doorgaans binnen 14 dagen thuis.

        .card
            .card-header(ng-if="$ctrl.additionalFeatures.length")
                .card-title Andere modules die u misschien interessant vindt

            .card-section(ng-if="$ctrl.additionalFeatures.length")
                .block.block-features
                    .features-list
                        a.features-list-item(
                            ng-repeat="feature in $ctrl.additionalFeatures"
                            ui-sref="feature(feature.srefParams)")

                            .features-list-item-icon: img(ng-src="/assets/img/features/icons/{{ feature.key }}.svg")
                            .features-list-item-content
                                .features-list-item-title
                                    span(ng-bind="feature.name")
                                    .features-label.active(ng-if="feature.enabled") Actief
                                .features-list-item-details(ng-bind="feature.description")
                                .features-labels
                                    .features-label(ng-repeat="label in feature.labels" ng-bind="label")

            .card-section
                .block.block-features-demo-banner(
                    style="background-image: url(/assets/img/features/img/physical-cards/banner-action-bg.jpg);"
                )
                    .features-demo-banner-info-wrapper
                        .features-demo-banner-info
                            .features-demo-banner-title Fysieke Pas uitproberen
                            .features-demo-banner-details
                                | Wilt u zien hoe de Fysieke Pas werkt? Neem dan contact met ons op voor een
                                | persoonlijke demonstratie. We laten u graag zien hoe het voor uw kan werken.

                        .features-demo-banner-action
                            .button.button-primary(ng-click="$ctrl.openContactModal()") Demo aanvragen