.app.app-container
    menu
    section.app.app-content
        .block.block-breadcrumbs
            .breadcrumb-item(ui-sref="features({organization_id: $ctrl.organization.id})") Marketplace
            .breadcrumb-item.active(ng-bind="$ctrl.feature.name")

        block-feature(feature="$ctrl.feature")

        .card
            .card-header: .card-title Beschrijving
            .card-section: .block.block-content
                p
                    | In sommige gevallen heeft een deelnemer het grootste gedeelte van een toegekend tegoed al besteed.
                    | Er blijft een klein restant bedrag over. Om het budget toch volledig te kunnen uitnutten komt er
                    | een bijbetaal met iDEAL optie beschikbaar. Door middel van de bijbetaaloptie kunnen deelnemers die
                    | nog een (klein) bedrag resterend hebben, toch gebruikmaken van het aanbod op de website.
                    | In dit geval betalen ze een gedeelte van de kosten met het toegekende tegoed en een gedeelte zelfstandig
                    | met iDEAL. Deze mogelijkheid wordt geboden door de integratie met Mollie, een payment service provider.

                img(src="/assets/img/features/img/extra-payments/banner.jpg")

                h3 Belangrijkste voordelen

                p Bijbetalen met iDEAL functionaliteit biedt verschillende voordelen:

                .block.block-feature-icons
                    .block-feature-icons-item
                        .block-feature-icon
                            include ../../../../resources/_platform-common/assets/img/features/icons/extra-payments/icon-1.svg

                        h4 Maximale benutting van het budget
                        p
                            | De bijbetaaloptie met iDEAL stelt deelnemers in staat om het toegekende tegoed
                            | volledig te benutten, zelfs als er slechts een klein bedrag over is. Hierdoor kunnen ze
                            | optimaal profiteren van alle beschikbare aanbiedingen.

                    .block-feature-icons-item
                        .block-feature-icon
                            include ../../../../resources/_platform-common/assets/img/features/icons/extra-payments/icon-2.svg

                        h4 Betrouwbare beveiliging
                        p
                            | Mollie staat bekend om strenge beveiligingsprotocollen die de financiële gegevens van deelnemers
                            | veilig bewaren en verwerken. Dit zorgt voor vertrouwen en gemoedsrust bij zowel de deelnemers als de gemeente.

                    .block-feature-icons-item
                        .block-feature-icon
                            include ../../../../resources/_platform-common/assets/img/features/icons/extra-payments/icon-3.svg

                        h4 Gebruiksgemak
                        p
                            | Met de bijbetaaloptie met iDEAL kunnen deelnemers gemakkelijk en snel bijbetalen. iDEAL is een
                            | bekende en gebruiksvriendelijke betaaloptie. Deze toevoeging verbetert de gebruikerservaring
                            | en draagt bij aan een hogere tevredenheid onder de deelnemers.

                    .block-feature-icons-item
                        .block-feature-icon
                            include ../../../../resources/_platform-common/assets/img/features/icons/extra-payments/icon-4.svg

                        h4 Beheersbaarheid
                        p
                            | De sponsor heeft volledige controle over betalingen via iDEAL. Dit stelt de sponsor in staat om de
                            | optie om bij te betalen per aanbieder in- of uit te schakelen, waardoor flexibiliteit en gemak worden geboden.

                .block.block-feature-text-image-columns.block-feature-text-image-columns-light
                    .block-feature-text-image-columns-description
                        h4 Over Mollie
                        p
                            | Mollie is een payment service provider (PSP) die online transacties afhandelt voor webwinkels en
                            | andere organisaties. Ze bieden een breed scala aan betaalmethoden, zoals iDEAL. In Nederland is
                            | Mollie een van de meest populaire payment service providers, vooral voor webwinkels en andere
                            | organisaties die online betalingen willen accepteren. Mollie biedt een eenvoudige, veilige en
                            | betrouwbare manier om betalingen te ontvangen. Door de integratie met Mollie wordt het mogelijk
                            | om bijbetalingen met iDEAL te verwerken, wat zorgt voor een gebruiksvriendelijke en veilige
                            | betalingservaring. Hierdoor wordt het Forus-platform nog toegankelijker en efficiënter voor
                            | zowel aanbieders als deelnemers.

                    .block-feature-text-image-columns-img
                        img(src="/assets/img/features/img/extra-payments/image-text-block.jpg")

            .card-info
                .card-info-icon.mdi.mdi-headset
                .card-info-details: span
                    | Mocht u nog vragen hebben of wilt u aanvullende informatie dan kunt u ons
                    | bellen op: #[strong +31 (0) 85 004 33 87] of contact opnemen via e-mail #[strong info@forus.io]

        .card
            .card-header: .card-title Veelgestelde vragen

            .card-section.card-section-padless: .block.block-feature-faq(collapse)
                .feature-faq-item(collapse-item)
                    .feature-faq-item-title(collapse-header)
                        | Wat zijn de kosten per transactie via iDEAL?
                        .feature-faq-item-icon.mdi.mdi-menu-down

                    .feature-faq-item-description
                        p
                            | De iDEAL-kosten per transactie kunt u terugvinden op:
                            | #[a(href="https://www.mollie.com/nl/pricing" target="_blank") https://www.mollie.com/nl/pricing].

                .feature-faq-item(collapse-item)
                    .feature-faq-item-title(collapse-header)
                        | Wie betaalt de transactiekosten?
                        .feature-faq-item-icon.mdi.mdi-menu-down

                    .feature-faq-item-description
                        p De transactiekosten worden in rekening gebracht bij de aanbieder. De sponsor kan deze kosten eventueel vergoeden.

                .feature-faq-item(collapse-item)
                    .feature-faq-item-title(collapse-header)
                        | Is het ook mogelijk om te kiezen voor een ander betaalmiddel zoals Mastercard, Visa of Klarna i.p.v. iDEAL?
                        .feature-faq-item-icon.mdi.mdi-menu-down

                    .feature-faq-item-description
                        p Nee, op dit moment ondersteunen we alleen iDEAL via Mollie.

                .feature-faq-item(collapse-item)
                    .feature-faq-item-title(collapse-header)
                        | Kan ik als sponsor zelf bepalen welke aanbieder gebruik mag maken van iDEAL?
                        .feature-faq-item-icon.mdi.mdi-menu-down

                    .feature-faq-item-description
                        p Ja, het is mogelijk om per aanbieder iDEAL in- of uit te schakelen.

                .feature-faq-item(collapse-item)
                    .feature-faq-item-title(collapse-header)
                        | Biedt Forus ook ondersteuning bij problemen met het Mollie-account?
                        .feature-faq-item-icon.mdi.mdi-menu-down

                    .feature-faq-item-description
                        p
                            | Nee, mocht de aanbieder problemen ervaren wat betrekking heeft op het Mollie-account,
                            | dan kunnen ze contact opnemen met de Supportafdeling van Mollie. U kunt bij Forus
                            | terecht met vragen over het tot stand brengen van de koppeling met uw Mollie-account.

                .feature-faq-item(collapse-item)
                    .feature-faq-item-title(collapse-header)
                        | Ondersteunt Forus ook andere Payment Service Providers (PSP) dan Mollie?
                        .feature-faq-item-icon.mdi.mdi-menu-down

                    .feature-faq-item-description
                        p Nee, op dit moment kan de aanbieder alleen koppelen met Mollie.

        .card
            .card-header(ng-if="$ctrl.additionalFeatures.length")
                .card-title Andere functionaliteiten die u misschien interessant vindt

            .card-section(ng-if="$ctrl.additionalFeatures.length")
                block-additional-features(features="$ctrl.additionalFeatures")

            .card-section
                .block.block-features-demo-banner(
                    style="background-image: url(/assets/img/features/img/extra-payments/banner-action-bg.jpg);"
                )
                    .features-demo-banner-info-wrapper
                        .features-demo-banner-info
                            .features-demo-banner-title Bijbetalen met iDEAL uitproberen
                            .features-demo-banner-details
                                | Wilt u zien hoe bijbetalen met iDEAL werkt? Neem dan contact met ons op voor een
                                | persoonlijke demonstratie. We laten u graag zien hoe het voor uw kan werken.

                        .features-demo-banner-action
                            .button.button-primary(ng-click="$ctrl.openContactModal()") Demo aanvragen