.pull-right { float: right; }
.pull-left { float: left; }
.pull-down {
	margin-top: 25px;
	@media screen and (min-width: 1024px) {
		margin-top: 50px;
	}
}
.self-align {align-self: center;}
.content-left {justify-content: left;}
.cleared { clear: both; }

.text-right { text-align: right; }
.text-center { text-align: center; }
.text-left { text-align: left; }


.e-fb {
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}

.upper {
    svg {
        height: 80px;
        width: 80px;
    }
}

.upper-a {
    svg {
        height: 40px;
        width: 40px;
    }
}

.grad-var {
    align-content: center;
    align-self: center;
    vertical-align: middle;
    padding: 30px;
    border-radius: 10px;
}



label {
	display: block;
	margin: 20px 0 0;
	&:hover {
		text-decoration: underline;
	}
}
input {
	position: absolute;
	left: -999em;
}
.follow {
	border-top: 1px solid blue;
	margin: 0;
}
.inner {
	position: relative;
	overflow: hidden;
}
.hide2 {
	clear: both;
	opacity: 1;
	overflow: hidden;
	transform: translateY(0);
	margin: 0;
	transition: all 1.5s linear, margin 0s linear 0s;
	p {
		padding: 10px;
		margin: 0;
	}
}

input[type="checkbox"]:checked {
	& + .inner {
		.hide2 {
			opacity: 0;
			transform: translateY(-100%);
			margin-bottom: -999em;
			transition: all 1.5s linear, margin 0s linear 1.5s;
		}
	}
}

@media (max-width: 991px) {
    .hidden-xs {
        display: none !important;
	}
	img {max-width: 100%;}
}

.text-strike { text-decoration: line-through; }
.text-muted { color: #a1a1a1; }

.hidden { display: none; }
.gradient {background: $forus-gradient; color: $forus-white;}
.blue {color: $forus-demi-blue;}

.cf { @include cf(); }

.slideRight { @include slideRight()}

.g_maps {
    border: none;
    width: 100%;
    height: 400px;
    align-self: center;
}