.pull-right { float: right; }
.pull-left { float: left; }

.text-right { text-align: right; }
.text-center { text-align: center; }
.text-left { text-align: left; }

.text-strike { text-decoration: line-through; }
.text-muted { color: #a1a1a1; }

.hidden { display: none; }

.blue {color: $forus-demi-blue;}

.cf { @include cf(); }

.btn.main_button { @include button($forus-demi-blue, #ffffff, $forus-sky-blue); }
.slideRight { @include slideRight()}