* , :after, :before{
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
    -webkit-font-smoothing: antialiased !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, span, b, i, li, td{
    font-family: var(--base-font);
    color: inherit;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        font: 300 16px/28px var(--base-font);
    }
}

a {
    text-decoration: none;
    color: #222; 
}

b, strong {
    font-weight: 600;
}