@mixin fill_parent($offset: 0px, $position: absolute){
    position: $position;
    top: $offset;
    right: $offset;
    bottom: $offset;
    left: $offset;
}

.mr-tp {
    margin-top: 50px;
}
.stretched {
    width: 100%;
}
html {
    line-height: 1.2;
    body {
        font-family: var(--base-font);
        * {
            font-family: var(--base-font);
        }
        .thanks {
            text-align: center;
        }
        .blur{
            -webkit-filter: blur(5px);
            -moz-filter: blur(5px);
            -o-filter: blur(5px);
            -ms-filter: blur(5px);
            filter: blur(5px);
        }
        .wrapper {
            &_story, &_holder, &_quote, &_reason, &_content, &_variable {
                padding: 20px 0;
            }
            &_start{
                padding-top: 50px;
                border-top: 1px solid #edeef0;
            }
            &_question {
                margin-bottom: 100px;
            }
        }
        footer{
            margin: 0 auto;
            margin-top: 80px;
            .container {
                max-width: unset !important;
                width: 100%;
            }
            .navbar {
                max-width: unset !important;
            }
        }
    }
}