@mixin fill_parent($offset: 0px, $position: absolute){
    position: $position;
    top: $offset;
    right: $offset;
    bottom: $offset;
    left: $offset;
}
html {
    line-height: 1.2;
    @include font-size-map($body-font-size);
    body {
        font-family: $bf;
        * {
            font-family: $bf;
        }
        .thanks {
            display:none;
            text-align: center;
        }
        .blur{
            -webkit-filter: blur(5px);
            -moz-filter: blur(5px);
            -o-filter: blur(5px);
            -ms-filter: blur(5px);
            filter: blur(5px);
        }
        .wrapper {
            &_story, &_holder, &_quote, &_reason, &_content, &_variable {
                padding: 20px 0;
            }
            &_concept{
                padding: 80px 0 60px;
            }
            &_start{
                padding-top: 50px;
                border-top: 1px solid #edeef0;
            }
            &_question {
                margin-bottom: 100px;
            }
        }
    }
}
.wrapper_logo_title {
    text-align: center;
    span{
        
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1px;
        color: #7e818c;
        display: block;
        margin: 5px auto 25px;
        text-transform: uppercase;
    }
}