// unitless function to convert px to em
@function em($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1em;
}

// breakpoint mixin
@mixin breakpoint($mq01: 0, $mq2: false, $maxmin: max-width) {
    @if $mq2 == false {
        @media ($maxmin: $mq01) {
            @content;
        }
    }
    @else {
        @media (min-width: $mq01) and (max-width: $mq2) {
            @content;
        }
    }
}

// responsive font size mixin
@mixin font-size-map($font-size-map) {
    @each $breakpoint, $font-size in $font-size-map {
        @if $breakpoint == null {
            font-size: em($font-size) !important;
        } @else {
            @include breakpoint($breakpoint) {
                font-size: em($font-size) !important;
            }
        }
    }
}

// breakpoint variables
$lg: 1170px;
$md: 1024px;
$sm: 640px;
$xs: 480px;

// body font size
$browser-context: 16;

// typography scale
$body-font-size: (null: 16, $md: 15, $sm: 14, $xs: 13);
$h1-font-size: (null: 72, $lg: 72, $md: 72, $sm: 48, $xs: 36);
$h2-font-size: (null: 48, $lg: 48, $md: 48, $sm: 36, $xs: 24);
$h3-font-size: (null: 36px, $lg: 36, $md: 32, $sm: 28, $xs: 24);
$h4-font-size: (null: 24px, $lg: 24, $md: 18, $sm: 16, $xs: 16);
$h5-font-size: (null: 18px, $lg: 18, $md: 16, $sm: 16, $xs: 15);
$paragraph-font-size: (null: 21, $lg: 21, $md: 16, $sm: 16, $xs: 15);
