/*==========  Style Sheet - Vars  ==========*/

// base font
$bf:                'Montserrat', sans-serif;

// text color
$tc:                #191a1c;

// button like text
$forus-sky-blue: #0c66ff;

// button bg
$forus-demi-blue: #3561ff;

// base color
$bc:                #315efd;

// placeholder text color
$ptc:               #736666;

//images path
$img_path: '../img';