/*==========  Style Sheet - Vars  ==========*/

:root {

    // Primary colors
    --forus-blue: #3561ff;
    
    --forus-black: #000000;
    
    --forus-grey: #f6f8f9;
    
    --forus-pink: #3561ff;
    
    --forus-white: #ffffff;
    
    // button like text
    --forus-sky-blue: #0c66ff;
    
    // button bg
    --forus-demi-blue: #3561ff;
    
    // Gradient colors
    --forus-gradient: linear-gradient(to top left, #3578ff 0%, #35d7ff 100%);
    
    // base font
    --base-font: "Montserrat", sans-serif;
    
    // text color
    --text-color: #191a1c;

    // base color
    --base-color: #315efd;

    // placeholder text color
    --placeholder-color: #736666;

    --boarder-radius: 8px;
    --color-primary: #134478;
    --color-primary-light: #305dfb;
}
