.block {
    &.block-products {
        .product-item {
            padding: 0 30px;
            .product-item-inner {
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;            
                .product-name {
                    color:#8b9911
                }
                .product-image {
                    border-radius: 0px;
                }
                &:hover {
                    .product-name {
                        color: #91b845;
                    }
                }
            }

            .product-discount {
                color: #de286b;
            }
        }
    }
}
products-component {
    .section {
        &.section-products {
            .section-title {
                text-align: left;
            }
        }

        @media screen and (max-width: 1700px) {
            &.section-products {
                .section-title {
                    color: $tc;
                    font: 700 32px/1.5em $bf;
                }
            }
        }
    }
}