.block {
    &.block-shops_map {
        .shop_map-header {
            .shop_map-categories {
                .shop_map-category-item {
                    .shop_map-category-item-inner {
                        background: #5ec0ed;
                        border-radius: 8px;

                        &:hover {
                            background: #08abeb;
                        }
                    }
                }
            }
        }

        .shops {
            .shop-item {
                &.active {
                    border-right-color: #5ec0ed;
                }
            }
        }
    }
}