.block {
    &.block-voucher {
        .base-card {
            border-radius: 8px;
            margin-bottom: 30px;
            .card-footer {
                background-color: #f6f8fa;
                border-top-color: #d2e6ff;
            }
        }
    }
}