// unitless function to convert px to em
@function em($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1em;
}

// breakpoint mixin
@mixin breakpoint($mq01: 0, $mq2: false, $maxmin: max-width) {
    @if $mq2 == false {
        @media ($maxmin: $mq01) {
            @content;
        }
    }
    @else {
        @media (min-width: $mq01) and (max-width: $mq2) {
            @content;
        }
    }
}

// responsive font size mixin
@mixin font-size-map($font-size-map) {
    @each $breakpoint, $font-size in $font-size-map {
        @if $breakpoint == null {
            font-size: em($font-size);
        } @else {
            @include breakpoint($breakpoint) {
                font-size: em($font-size);
            }
        }
    }
}

// breakpoint variables
$lg: 1170px;
$md: 1024px;
$sm: 640px;
$xs: 480px;

// body font size
$browser-context: 16;

// typography scale
$body-font-size: (null: 16, $md: 15, $sm: 14, $xs: 13);
$h1-font-size: (null: 72, $lg: 72, $md: 72, $sm: 36, $xs: 24);
$h2-font-size: (null: 48, $lg: 48, $md: 48, $sm: 36, $xs: 24);
$h3-font-size: (null: 36px, $lg: 36, $md: 32, $sm: 28, $xs: 24);
$h4-font-size: (null: 24px, $lg: 24, $md: 18, $sm: 16, $xs: 16);
$h5-font-size: (null: 18px);
$big-font-size: (null: 21);
$small-font-size: (null: 14px);
$paragraph-font-size: (null: 21, $lg: 21, $md: 16, $sm: 16, $xs: 15);

h1 {
    @include font-size-map($h1-font-size);
}
.h1-subtitle {
    @include font-size-map($h3-font-size);
}
h2 {
    @include font-size-map($h2-font-size);
}
.h2-subtitle {
    @include font-size-map($h2-font-size);
}
h3 {
    @include font-size-map($h3-font-size);
}
.h3-subtitle {
    @include font-size-map($h3-font-size);
}
h4 {
    @include font-size-map($h4-font-size);
}
.h4-subtitle {
    @include font-size-map($h4-font-size);
}
h5 {
    @include font-size-map($h5-font-size);
}
.h5-subtitle {
    @include font-size-map($h5-font-size);
}
.btn_link {
    @include font-size-map($h4-font-size);
}
.navbar-nav a {
    @include font-size-map($h5-font-size);
}
.timeline_entry_title {
    @include font-size-map($big-font-size);
}
.timeline_entry_description {
    @include font-size-map($small-font-size);
}
.timeline_entry_date {
    @include font-size-map($h5-font-size);
}
.tab-active, .tab-inactive {
    @include font-size-map($paragraph-font-size);
}
p {
    @include font-size-map($paragraph-font-size);
}
.paragraph-text-small {
    @include font-size-map($small-font-size);
}
.txt_link {
    @include font-size-map($paragraph-font-size);
} 
.wrapper_title {
    color: $tc;
}               
.wrapper_desc{
    width: 100%;
    text-align: left;
    font-weight: 400;
    line-height: 1.56;
    color: #454545;  
    p {
        text-align: center;
        margin: 0 auto;
    }
    a {
        color:  $forus-demi-blue;
    }
}