.dev-pages
    h1: b Pages
    ul
        li: a(href="index.html") Landing
        li: a(href="index-2.html") Landing 2
        li: a(href="funds.html") Funds
        li: a(href="funds-2.html") Funds 2
        li: a(href="fund-apply.html") Apply fund
        li: a(href="product.html") Product
        li: a(href="voucher.html") Voucher

    h1: b Pages profile
    ul
        li: a(href="profile-vouchers.html") Vouchers
        li: a(href="profile-categories.html") Record categories
        li: a(href="profile-records.html") Records
        li: a(href="profile-validators.html") Validators
        li: a(href="profile-validations.html") Validations
        li: a(href="profile-record-add.html") Record add

    h1: b Popups
    ul
        li: a(href="popup-shops.html") Popup shops
        li: a(href="popup-auth-step-1.html") Popup Auth 1
        li: a(href="popup-auth-step-2.html") Popup Auth 2
        li: a(href="popup-auth-step-3.html") Popup Auth 3
        li: a(href="popup-auth-step-4.html") Popup Auth 4
        li: a(href="popup-auth-step-5.html") Popup Auth 5
        li: a(href="popup-auth-step-6.html") Popup Auth 6

    a(href="#").show
        span.mdi.mdi-radioactive
        span.mdi.mdi-pin
        span.mdi.mdi-pin-off