section.section.section-footer
    .wrapper
        .block.block-footer: .row
            .col.col-md-3
                img(src="./assets/img/forus-logo-bw.svg").footer-logo
                .block.block-app_download
                    .download-button
                        .download-label Available on the
                        .download-value Android Market
                        .download-icon: img(src="./assets/img/icon-app/icon-app-android.png")
                    .download-button
                        .download-label Available on the
                        .download-value App Store
                        .download-icon: img(src="./assets/img/icon-app/icon-app-ios.svg")
                        
            .col.col-md-4
                .footer-label Openingstijden
                .footer-schedule
                    .schedule-label Maandag: 		
                    .schedule-value 8.30-12.30, 13.30-16.30, 18.00-19.30
                    
                .footer-schedule
                    .schedule-label Dinsdag:		
                    .schedule-value 8.30-12.30

                .footer-schedule
                    .schedule-label Woensdag: 		
                    .schedule-value 8.30-12.30, 13.30-17.30
                
                .footer-schedule
                    .schedule-label Donderdag:	 	
                    .schedule-value 8.30-12.30
                
                .footer-schedule
                    .schedule-label Vrijdag: 		
                    .schedule-value 8.30-12.30
            
            .col.col-md-2
                .footer-label Navigation
                nav.footer-nav
                    .footer-nav-item: a(href="#") SPONSOR
                    .footer-nav-item: a(href="#") PROVIDER
                    .footer-nav-item: a(href="#") VALIDATION
            
            .col.col-md-3
                .footer-label Join our newsletter
                .form
                    .form-group.footer-subscribe
                        input(type="email" placeholder="E-mail").form-control.form-control-fancy
                        button.button.button-primary: .mdi.mdi-arrow-right
            
    .block.block-copyrights: .wrapper
        .copyrights © 2018 Forus.io
        .links
            a(href="#") Algemene Voorwaarden
            .link-separator
            a(href="#") Privacy Statement
        .developed
            | Design & Development by 
            a(href="#") RMinds

.popups
    popup-auth(popup="$root.popups.auth")
    popup-offices(popup="$root.popups.offices")