header.section.section-header: .wrapper
    .block.block-navbar
        a(href="#").navbar-logo
            img(src="./assets/img/forus-logo-normal.svg")
            img(src="./assets/img/forus-logo-hover.svg").hover
        nav.navbar-list
            a(src="#").navbar-item FONDSEN
            a(src="#").navbar-item PRODUCTEN
            a(src="#").navbar-item ME APP
        .block.block-auth
            .auth-in
                // .auth-user
                    .auth-user-email info@rminds.nl
                    .auth-user-type Sponsor
                    .auth-user-avatar
                        img(src="./assets/img/identity-avatar.svg")
                        nav.auth-user-menu
                            .triangle
                            .inner
                                a(href="#").auth-user-menu-item
                                    img(src="./assets/img/icon-menu/icon-menu-my-profile.svg")
                                    | Mijn profile
                                a(href="#").auth-user-menu-item
                                    img(src="./assets/img/icon-menu/icon-menu-my-vouchers.svg")
                                    | Mijn vouchers
                                a(href="#").auth-user-menu-item
                                    img(src="./assets/img/icon-menu/icon-menu-my-records.svg")
                                    | Mijn records
                                .auth-user-menu-separator
                                a(href="#").auth-user-menu-item
                                    img(src="./assets/img/icon-menu/icon-menu-sign-out.svg")
                                    | Log out

            .auth-out
                .button.button-default
                    img(src="./assets/img/icon-btn/icon-btn-ticket.svg")
                    | Activatiecode
                .button.button-default
                    img(src="./assets/img/icon-btn/icon-btn-user.svg")
                    | Login

    .header-content
        .header-title Zuidhorn. Kindpakket
        .header-description Welkom op de website van het kindpakket Zuidhorn. Het kindpakket is een jaarlijks ondersteunende regeling voor kinderen in de gemeente Zuidhorn.
        a(href="#").button.button-primary LEES MEER OVER HOE HET SYSTEEM WERKT
