- var src_prefix = (qdt_c.platform.env_data.html5ModeEnabled?qdt_c.platform.env_data.html5Mode.basePath:'');

//- libs bundle
script(src=src_prefix + "assets/dist/bundle/js/bundle.min" + qdt_c.append_assets + ".js" nonce="zFgt7GBiE5dqsRewWW9Z72MIN1Ru7xDJyQMA2i4m3RrFaP4lVEVmoTsCPnSI4zGSiFaq_cGgpwohRqHIAd5XmEj9QRu_hgfhK6Moe3u7rGOWwPpCADsg64yUNFP6FgL6VIdjGM5l841B2CztBdHAQNcOmDoFcZnNGm2W5VI6nB4")

//- google maps
script(src="https://maps.googleapis.com/maps/api/js?key=" + qdt_c.platform.env_data.google_maps_api_key + "&language=nl" nonce="0rznMCX_ByGZphcb2jn0w3BwPIqMlfDVquy_WEthowpXYILTem46uzdQlExOkmRBXiPL57ZQt1EFY7JtJ_P8c_AU06WJTc5JNh6m5ARDy8ACId4tsKN3EaFw")

//- custom script
script(src=src_prefix + "assets/js/app.min" + qdt_c.append_assets + ".js" nonce="c9e2JHCqwz28AsRRzShxwodp5qZnb8HFuUro_BV_2UfjHWyt631Bqjxq89R2jY7O6QqGEtt36r6FNe_3SHnygjOXehdbAjZEYdSvx2-enkoshQ6D4NiLA3k58DPaG1PY7FLZKRHJud76gI9UiFYrdk1OgivGYdvNrNaeofj3tCU")
