.block.block-navbar#navigation-menu: .navbar-inner.wrapper
    a(href="./index.html").navbar-logo.hide-sm
        img(src="./assets/img/logo-normal.svg" alt="{{$root.appConfigs.features.implementation_name}}")
        img(src="./assets/img/logo-hover.svg" alt="{{$root.appConfigs.features.implementation_name}}").hover
    nav.navbar-list
        .navbar-item-wrapper: a(ui-sref="funds").navbar-item FONDSEN
        .navbar-item-wrapper: a(scroll-to="products").navbar-item PRODUCTEN
    .block.block-auth.block-auth-border.hide-sm
        .auth-code 
            .button.button-default
                em.mdi.mdi-ticket-confirmation
                | Activeren
    .block.block-auth
        .auth-in
            .auth-user.auth-user-hover
                .auth-user-details
                    .auth-user-email info@forus.io
                    .auth-user-type Sponsor

                .auth-user-avatar: img(src="./assets/img/identity-avatar.svg")
                .auth-user-caret: .mdi.mdi-chevron-down

                nav.auth-user-menu.hide-sm
                    .triangle
                    .inner
                        a(href="#").auth-user-menu-item
                            img(src="./assets/img/icon-menu/icon-menu-my-profile.svg")
                            | Mijn profiel
                        a(href="#").auth-user-menu-item
                            img(src="./assets/img/icon-menu/icon-menu-my-vouchers.svg")
                            | Mijn vouchers
                        a(href="#").auth-user-menu-item
                            img(src="./assets/img/icon-menu/icon-menu-my-records.svg")
                            | Mijn eigenschappen
                        .auth-user-menu-separator
                        a(href="#").auth-user-menu-item
                            img(src="./assets/img/icon-menu/icon-menu-sign-out.svg")
                            | Uitloggen
    
        //- .auth-out.flex-end
            .button.button-default
                em.mdi.mdi-account
                | Log in
    .navbar-mobile-menu.show-sm
        em.mdi.mdi-menu

    //- .block.block-auth.sm-pull-left
        .lang-selector
            .lang-label 
                em.mdi.mdi-chevron-down
                | Language
            .lang-active English
            .lang-list
                .lang-list-item English
                .lang-list-item Russian
                .lang-list-item Romanian

        //- .auth-out
            .button.button-default
                em.mdi.mdi-ticket-confirmation
                | Activatiecode
            .button.button-default
                em.mdi.mdi-account
                | Login
