section.header.header__contact
    .container
        .wrap_cs__1a
            h1 Contact
section
    .container
        .row.wrap_cs__2.no-pad-t.flexed
            .col-6.col-md-6.e-fb.flexed
                iframe(class="g_maps" src="https://maps.google.com/maps?q=Emmaplein%206%2C%209711%20AP%20Groningen&t=&z=13&ie=UTF8&iwloc=&output=embed")
            .col-6.col-sm-6.flexed.sm-p
                h2 Contactgegevens
                    ul 
                        li: b Telefoon
                            p #[a(href="tel:+31850043387‬") +31 (0) 85 004 33 87‬]
                        li: b E-mail
                            p #[a(href="mailto:info@forus.io") info@forus.io]
                        li: b Adres
                            p Emmaplein 6<br />9711 AP Groningen<br />Nederland
section.bg_gr
    .container.text-center
        .wrap_cs__2
            h2 Support
            p Heb je een vraag over het systeem? Je kan hulp aanvragen via chat, telefoon of e-mail. <br> We zijn bereikbaar op maandag t/m vrijdag van 09.00 uur tot 17.00 uur.
            .row.flexed
                .col-6.col-md-4.e-fb
                    .upper-a
                        include ../../../../resources/platform-general/assets/img/icon-phone.svg
                        p <b>Telefoon:</b>
                        p #[a(href="tel:+31850043387‬") +31 (0) 85 004 33 87‬]
                .col-6.col-md-4.e-fb
                    .upper-a
                        include ../../../../resources/platform-general/assets/img/icon-mail.svg
                        p <b>E-mail:</b>
                        p #[a(href="mailto:support@forus.io") support@forus.io]
                .col-6.col-md-4.e-fb
                    .upper-a
                        include ../../../../resources/platform-general/assets/img/icon-mobile.svg
                        p <b>Helpcentrum</b>
                        p #[a(href="https://support.forus.io" target="_blank") support.forus.io]
  
section.mr-tp 
    .container.text-center
        h2 Contactformulier
        p Benieuwd wat Forus voor jou kan betekenen? Of heb je ideeën voor het platform of de app?<br> Vul onderstaand contactformulier in en we nemen zo snel mogelijk contact met je op.     
        form#formContact(action="https://xlak8w5706.execute-api.eu-west-1.amazonaws.com/Prod" method="POST" style="width: 80%; margin: 0 auto;")
            .row
                .col-xs-12.col-lg-6
                    .form-group.required
                        label.control-label NAAM
                        .input-group
                            input#nameInput.form-control(placeholder="Naam" name="name"  value="" onkeyup="this.setAttribute('value', this.value);" )
                            a(href="#").clear_field
                                include ../../../../resources/platform-general/assets/img/svg/clear-field.svg
                            span.help-block
                .col-xs-12.col-lg-6
                    .form-group.required
                        label.control-label EMAIL
                        .input-group
                            input#emailInput.form-control(placeholder="Email" name="email" value="" onkeyup="this.setAttribute('value', this.value);" )
                            a(href="#").clear_field
                                include ../../../../resources/platform-general/assets/img/svg/clear-field.svg
                            span.help-block
                .col-xs-12.col-lg-6
                    .form-group
                        label.control-label ORGANISATIE
                        .input-group
                            input#companyInput.form-control(placeholder="Organisatie" name="organization" value="" onkeyup="this.setAttribute('value', this.value);" )
                            a(href="#").clear_field
                                include ../../../../resources/platform-general/assets/img/svg/clear-field.svg
                            span.help-block
                .col-xs-12.col-lg-6
                    .form-group
                        label.control-label TELEFOONNUMMER
                        .input-group
                            input#telInput.form-control(placeholder="Telefoonnummer" name="phone" value="" onkeyup="this.setAttribute('value', this.value);" )
                            a(href="#").clear_field
                                include ../../../../resources/platform-general/assets/img/svg/clear-field.svg
                            span.help-block
                .col-xs-12
                    .form-group.required
                        label.control-label BERICHT
                        .input-group
                            textarea#messageInput.form-control(placeholder="Bericht" name="message")

                            a(href="#").clear_field
                                include ../../../../resources/platform-general/assets/img/svg/clear-field.svg
                            span.help-block
                .col-xs-12.info
                    span(style="color: red") *
                    | velden zijn verplicht
                .col-xs-12
                    .form-group.center-block
                        p.thanks Bedankt! Er wordt zo snel mogelijk contact met u opgenomen.
                        button#formSubmitHome.button-center.btn.main_button.g-recaptcha(
                            data-sitekey="6LfA-JcUAAAAAC9SpgAr2ZmL4rFwjb83_U2MDcfQ" 
                            data-callback="onSubmitCFHome" 
                            data-badge="inline" 
                            type="button") Versturen
