section.header.header__contact
    .container
        .wrap_cs__1a
            h1 Contact
section
    .container
        .row.wrap_cs__2.no-pad-t.flexed
            .col-6.col-md-6.e-fb.flexed
                iframe(class="g_maps" src="https://maps.google.com/maps?q=Emmaplein%206%2C%209711%20AP%20Groningen&t=&z=13&ie=UTF8&iwloc=&output=embed")
            .col-6.col-sm-6.flexed.sm-p
                h2 Contactgegevens
                    ul 
                        li: b Telefoon
                            p #[a(href="tel:+31850043387‬") +31 (0) 85 004 33 87‬]
                        li: b E-mail
                            p #[a(href="mailto:info@forus.io") info@forus.io]
                        li: b Adres
                            p Verlengde Hereweg 161<br />9721 AN Groningen<br />Nederland
section.bg_gr
    .container.text-center
        .wrap_cs__2
            h2 Support
            p Heb je een vraag over het systeem? Je kan hulp aanvragen via chat, telefoon of e-mail. <br> We zijn bereikbaar op maandag t/m vrijdag van 09.00 uur tot 17.00 uur.
            .row.flexed
                .col-6.col-md-4.e-fb
                    .upper-a
                        include ../../../../resources/platform-general/assets/img/icon-phone.svg
                        p <b>Telefoon:</b>
                        p #[a(href="tel:+31850043387‬") +31 (0) 85 004 33 87‬]
                .col-6.col-md-4.e-fb
                    .upper-a
                        include ../../../../resources/platform-general/assets/img/icon-mail.svg
                        p <b>E-mail:</b>
                        p #[a(href="mailto:support@forus.io") support@forus.io]
                .col-6.col-md-4.e-fb
                    .upper-a
                        include ../../../../resources/platform-general/assets/img/icon-mobile.svg
                        p <b>Helpcentrum</b>
                        p #[a(href="https://helpcentrum.forus.io" target="_blank") helpcentrum.forus.io]
  
section.mr-tp 
    .container.text-center
        h2 Contactformulier
        p Benieuwd wat Forus voor jou kan betekenen? Of heb je ideeën voor het platform of de app?<br> Vul onderstaand contactformulier in en we nemen zo snel mogelijk contact met je op.     

        contact-form
