.container_contact
    .wrapper.wrapper_me
        .column_sm
            span
                h3 Contact
                br
                ul
                    li
                        strong  Telefoon:
                        |   085 004 39 52
                    li
                        strong  E-mail:
                        |   info@forus.io
                    li  
                        strong Bezoekadres
                        br
                        | Emmaplein 6
                        br
                        | 9711 AP Groningen
                        br
                        | Groningen, Nederland 
                    li
                        strong Postadres:
                        br
                        | Osloweg 131
                        br
                        | 9723 BK, Groningen
                        br
                        | Groningen, Nederland
                h3 Support
                br
                ul
                    li
                        strong  Telefoon:
                        |   085 004 33 87‬
                    li
                        strong E-mail:
                        |   support@forus.io
                
        .column_sm
            iframe(src="https://maps.google.com/maps?q=emmaplein%206&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" marginheight="0" marginwidth="0" class='g_maps')
    .wrapper.wrapper_sup
        .column_sm
