section.header.header__contact
    .container
        .wrap_cs__1a
            h1 Contact
section
    .container
        .row.wrap_cs__2.no-pad-t.flexed
            .col-6.col-md-6.e-fb.flexed
                iframe(class="g_maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d967.3563619692632!2d6.581367226200463!3d53.194212415065735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c82d5b0ca9d7ed%3A0xc482a65940c281!2sVerlengde%20Hereweg%20161!5e0!3m2!1sen!2snl!4v1706524265400!5m2!1sen!2snl ")
            .col-6.col-sm-6.flexed.sm-p
                h2 Contactgegevens
                    ul 
                        li: b Telefoon
                            p #[a(href="tel:+31850043387‬") +31 (0) 85 004 33 87‬]
                        li: b E-mail
                            p #[a(href="mailto:info@forus.io") info@forus.io]
                        li: b Adres
                            p Verlengde Hereweg 161<br />9721 AN Groningen<br />Nederland
section.bg_gr
    .container.text-center
        .wrap_cs__2
            h2 Support
            p Heb je een vraag over het systeem? Je kan hulp aanvragen via chat, telefoon of e-mail. <br> We zijn bereikbaar op maandag t/m vrijdag van 09.00 uur tot 17.00 uur.
            .row.flexed
                .col-6.col-md-4.e-fb
                    .upper-a
                        include ../../../../resources/platform-general/assets/img/icon-phone.svg
                        p <b>Telefoon:</b>
                        p #[a(href="tel:+31850043387‬") +31 (0) 85 004 33 87‬]
                .col-6.col-md-4.e-fb
                    .upper-a
                        include ../../../../resources/platform-general/assets/img/icon-mail.svg
                        p <b>E-mail:</b>
                        p #[a(href="mailto:support@forus.io") support@forus.io]
                .col-6.col-md-4.e-fb
                    .upper-a
                        include ../../../../resources/platform-general/assets/img/icon-mobile.svg
                        p <b>Helpcentrum</b>
                        p #[a(href="https://helpcentrum.forus.io" target="_blank") helpcentrum.forus.io]
  
section.mr-tp 
    .container.text-center
        h2 Contactformulier
        p Benieuwd wat Forus voor jou kan betekenen? Of heb je ideeën voor het platform of de app?<br> Vul onderstaand contactformulier in en we nemen zo snel mogelijk contact met je op.     

        contact-form
