.container_contact
    .wrapper.wrapper_me
        .column_sm
            span
                h3 Contact
                br
                ul
                    li
                        strong  Telefoon:
                        |   06 23 90 51 19
                    li
                        strong  E-mail:
                        |   info@forus.io
                    li  
                        strong Bezoekadres
                        br
                        | Friesestraatweg 211c
                        br
                        | 9743 AD, Groningen
                        br
                        | Groningen, Nederland 
                    li
                        strong Postadres:
                        br
                        | Osloweg 131
                        br
                        | 9723 BK, Groningen
                        br
                        | Groningen, Nederland
                h3 Support
                br
                ul
                    li
                        strong  Telefoon:
                        |   06 36 26 12 31
                    li
                        strong E-mail:
                        |   support@forus.io
                
        .column_sm
            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2388.316186660783!2d6.5303644159414205!3d53.23010817995487!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c9cd23aff36831%3A0xcb68c04fa209b3f0!2sFriesestraatweg+211%2C+9743+AD+Groningen!5e0!3m2!1sen!2snl!4v1557435904937!5m2!1sen!2snl" class='g_maps')
    .wrapper.wrapper_sup
        .column_sm