section.header.header__about
    .container
        .wrap_cs__1a
            h1 Over ons
section
    .container
        .row.wrap_cs__2.no-pad-t.flex-align
            .col-6.col-md-6
                h2 Forus
                p Forus streeft ernaar om maatschappelijke initiatieven samen te brengen zodat er meer in- en overzicht ontstaat voor mensen die ondersteuning kunnen gebruiken. Forus stelt overheid en goededoelenorganisaties in staat om hun sociale impact te maximaliseren. Om dit mogelijk te maken biedt Forus een digitaal platform dat waarde-uitwisselingsprocessen, van aanvraag tot financiële afhandeling, faciliteert. Hierbij onderscheidt Forus zich door haar brede aanpak waarbij alle maatschappelijke initiatieven worden verbonden en de hulpbehoevende hiervan één overzicht krijgt. <br><br>Forus werkt samen vanuit het gedachtegoed van “One Solution, Two Entities”, waar Forus Operations B.V. als ‘werkmaatschappij’ functioneert en Stichting Forus zich richt op het waarborgen van de publiek inzichtelijke code.
            .col-6.col-md-6
                img(src="assets/img/content-werkwijze.jpg" class="ww-pt")