section.header.header__about
    .container
        .wrap_cs__1a
            h1 Over ons
section
    .container
        .row.wrap_cs__2.no-pad-t.flex-align
            .col-6.col-md-6
                h2 Stichting Forus
                p Forus is een stichting met een maatschappelijk doel. Wij geloven dat technologie helpt om publieke vraagstukken doelmatig, rechtmatig en efficiënt op te lossen. <br><br>Met alles wat we doen, creëren we waarde voor de maatschappij. Onder andere door innovatieve technologie te onderzoeken, open te ontwikkelen en te helpen met implementaties.<br><br>Transparantie is hierbij het uitgangspunt. Daarom is de ontwikkelcode openbaar en voor iedereen inzichtelijk. Daarnaast ontwerpen we vanuit de behoefte van de eindgebruiker. Zo vinden we het belangrijk dat een eindgebruiker over haar eigen data beschikt. 
            .col-6.col-md-6
                img(src="assets/img/content-werkwijze.jpg" class="ww-pt")
section.bg_gr
    .wrap_cs__4
        .container.text-center
            .cont-b
                h2 Team
                p Forus bestaat uit een jong en enthousiast team van creatieve denkers, developers, ontwerpers, managers en software-architecten. Samenwerken is voor ons een belangrijke kernwaarde. Wij geloven in de kracht en diversiteit van mensen en werken graag met hen samen om het platform te blijven ontwikkelen.
section
    .container
        .content-area.text-center.subpadded
            .tl-list
                ul
                    li
                        h5 Maarten Velthuijs
                        p Bestuursvoorzitter
                    li
                        h5 Linda Hielkema
                        p Projectmanager
                ul
                    li
                        h5 Gerben Bosschieter
                        p Product Owner
                    li
                        h5 Jamal Vleij
                        p Bestuursvoorzitter (stichting)
                    li
                        h5 Emiel de Jong
                        p Finance & Control
                ul
                    li
                        h5 Aleksei Loginov
                        p Scrummaster<br>Lead Developer
                    li
                        h5 Alex Ghimpu
                        p UX/UI Designer
                    li
                        h5 Robin Meles
                        p Beheer<br>Development
                ul
                    li
                        h5 Michael van Tongeren
                        p Support
                    li
                        h5 Teun Tycho de Ruiter
                        p Business analyst
                    li
                        h5 Patrick Trentelman
                        p Innovatie manager

                    //-li
                        h5 Sjoerd Hilhorst
                        p Development
