section.header.header__about
    .container
        .wrap_cs__1a
            h1 Over ons
section
    .container
        .row.wrap_cs__2.no-pad-t.flex-align
            .col-6.col-md-6
                h2 Forus
                p Forus ziet dat er in de samenleving een tal van maatschappelijke initiatieven zijn die worden georganiseerd door de overheid, Goede Doelen Organisaties, bedrijven en individuen. Er is veel maatschappelijke bereidheid om sociale problemen aan te pakken.<br><br>Forus streeft ernaar om maatschappelijke initiatieven samen te brengen zodat er meer inzicht en overzicht ontstaat voor aanvragers. Forus stelt mensen in staat om hun sociale impact te maximaliseren. Om dit mogelijk te maken biedt Forus een digitaal platform dat waarde uitwisselingsprocessen, van aanvraag tot financiële afhandeling, faciliteert.<br><br>Forus onderscheidt zich door haar brede aanpak waarbij alle maatschappelijke initiatieven worden verbonden en de hulpbehoevende hiervan één overzicht krijgt. Forus richt zich in de eerste plaats op gemeenten en breidt uit naar Goede Doelen Organisaties en uiteindelijk individuen. De partijen worden samengebracht in één online platform.<br><br>Forus werkt samen vanuit het gedachtegoed van “One Solution, Two Entities”, waar Forus Operations B.V. als ‘werkmaatschappij’ functioneert en Stichting Forus zich richt op het waarborgen van de publiek inzichtelijke code.
            .col-6.col-md-6
                img(src="assets/img/content-werkwijze.jpg" class="ww-pt")
section.bg_gr
    .wrap_cs__4
        .container.text-center
            .cont-b
                h2 Team
                p Forus bestaat uit een jong, gedreven en enthousiast team.
section
    .container
        .content-area.text-center.subpadded
            .tl-list
                ul
                    li
                        h5 Maarten Velthuijs
                        p Bestuursvoorzitter
                    li
                        h5 Linda Hielkema
                        p Projectmanager
                    li
                        h5 Gerben Bosschieter
                        p Product Owner
                ul
                    li
                        h5 Teun Tycho de Ruiter
                        p Business Analyst
                    li
                        h5 Robin Meles
                        p Beheer<br>Development
                    li
                        h5 Emiel de Jong
                        p Finance & Control
                ul
                    li
                        h5 Michael van Tongeren
                        p Supportmanager
                    li
                        h5 Aleksei Loginov
                        p Scrummaster<br>Lead Developer
                    li
                        h5 Alexandr Mocreac
                        p UX/UI Designer