section.header.header__about
    .container
        .wrap_cs__1a
            h1 Over ons
section
    .container
        .row.wrap_cs__2.no-pad-t.flex-align
            .col-6.col-md-6
                h2 Stichting Forus
                p Forus is een stichting met een maatschappelijk doel. Wij geloven dat technologie helpt om publieke vraagstukken doelmatig, rechtmatig en efficiënt op te lossen. <br><br>Met alles wat we doen, creëren we waarde voor de maatschappij. Onder andere door innovatieve technologie te onderzoeken, open te ontwikkelen en te helpen met implementaties.<br><br>Transparantie is hierbij het uitgangspunt. Daarom is de ontwikkelcode openbaar en voor iedereen inzichtelijk. Daarnaast ontwerpen we vanuit de behoefte van de eindgebruiker. Zo vinden we het belangrijk dat een eindgebruiker over haar eigen data beschikt. 
            .col-6.col-md-6
                img(src="assets/img/content-werkwijze.jpg" class="ww-pt")
section.bg_gr
    .wrap_cs__4
        .container.text-center
            .cont-b
                h2 Team
                p Forus bestaat uit een jong en enthousiast team van creatieve denkers, developers, ontwerpers, managers en software-architecten. Samenwerken is voor ons een belangrijke kernwaarde. Wij geloven in de kracht en diversiteit van mensen en werken graag met hen samen om het platform te blijven ontwikkelen.
section
    .container
        .content-area.text-center.subpadded
            .tl-list
                ul
                    li
                        h5 Maarten Velthuys
                        p Bestuursvoorzitter
                    li
                        h5 Jamal Vleij
                        p Lead developer<br>Bestuur
                    //-li
                        h5 Tom van Leijsen
                        p Financeel<br>Bestuur
                ul
                    li
                        h5 Max Visser
                        p Beheer<br>Development
                    li
                        h5 Gerben Bosschieter
                        p Support<br>Development
                    li
                        h5 Robin Meles
                        p Beheer<br>Development
                ul
                    li
                        h5 Linda Hielkema
                        p Organisatie<br>Implementatie
                    li
                        h5 Michael van Tongeren
                        p Support<br>Development
                    //-li
                        h5 Sjoerd Hilhorst
                        p Development
                //-ul
                    li
                        h5 Daan soeters
                        p Stagiair
                    li
                        h5 Thomas ten Cate
                        p Stagiair
                    li
                        h5 Robin Meles
                        p Stagiair
