.wrapper.wrapper_aboutus
    .container.text-center
        h1.wrapper_title Over ons
        .tabs
            ul.text-center
                li.tab-inactive.enabled(ui-sref="history") Geschiedenis
                li.tab-inactive.enabled(ui-sref="current") Nu
                li.tab-active Toekomst

.wrapper.wrapper_future
    .container
        h3.wrapper_title.text-center Roadmap
        .wrapper_desc.text-center
            p Communicatie en ontwikkeling vind plaats op onze #[a(href="https://chat.forus.io/") chat] en #[a(href="https://github.com/teamforus/") Github], dat betekent dat het mogelijk is voor iedereen om mee te praten en ontwikkelen.
        .row
            a.tab
                img(src="./assets/img/svg/platform-flat.svg")
                h5 Forus
                span #[strong Doel:] De vier rollen nuttig en breed toegankelijk maken zodat waarde uitkering zo effectief mogelijk plaats kan vinden.
            a.tab
                img(src="./assets/img/svg/stack.svg")
                h5 Technologie
                span #[strong Doel:] Technologie gebruiken die geen centrale beheerder of administrator nodig heeft zodat drempels tot aansluiten verlaagd worden.
            a.tab
                img(src="./assets/img/svg/teamwork.svg")
                h5 Organisatie
                span #[strong Doel:] Een open, dynamische en decentraal georganiseerde organisatie, zodat ontwikkeling en gebruik goed en breed worden ondersteund.
            a.tab
                img(src="./assets/img/svg/me-logo.svg")
                h5 Me
                span #[strong Doel:] Een digitale identiteit voor eigendommen, eigenschappen en identificatie zodat zeggenschap zo dicht mogelijk bij de eindgebruiker komt.