.wrapper
    .container
      h1(style="color:black;").wrapper-title.text-center Hall of Fame
      div.contributor
        h5.username maxvisser
        img(src="https://github.com/maxvisser.png?size=200" height="200px" width="200px")
        span.commit-count 3114


      div.contributor
        h5.username linda-90
        img(src="https://github.com/linda-90.png?size=200" height="200px" width="200px")
        span.commit-count 881


      div.contributor
        h5.username GerbenBro
        img(src="https://github.com/GerbenBro.png?size=200" height="200px" width="200px")
        span.commit-count 576


      div.contributor
        h5.username jamalv
        img(src="https://github.com/jamalv.png?size=200" height="200px" width="200px")
        span.commit-count 368


      div.contributor
        h5.username dev-rminds
        img(src="https://github.com/dev-rminds.png?size=200" height="200px" width="200px")
        span.commit-count 365


      div.contributor
        h5.username pantyukhov
        img(src="https://github.com/pantyukhov.png?size=200" height="200px" width="200px")
        span.commit-count 204


      div.contributor
        h5.username HardCoderNET
        img(src="https://github.com/HardCoderNET.png?size=200" height="200px" width="200px")
        span.commit-count 191


      div.contributor
        h5.username timonback
        img(src="https://github.com/timonback.png?size=200" height="200px" width="200px")
        span.commit-count 190


      div.contributor
        h5.username iNomaD
        img(src="https://github.com/iNomaD.png?size=200" height="200px" width="200px")
        span.commit-count 146


      div.contributor
        h5.username admin-forus
        img(src="https://github.com/admin-forus.png?size=200" height="200px" width="200px")
        span.commit-count 144


      div.contributor
        h5.username ateamcms
        img(src="https://github.com/ateamcms.png?size=200" height="200px" width="200px")
        span.commit-count 122


      div.contributor
        h5.username martijndoornik
        img(src="https://github.com/martijndoornik.png?size=200" height="200px" width="200px")
        span.commit-count 85


      div.contributor
        h5.username maartenfv
        img(src="https://github.com/maartenfv.png?size=200" height="200px" width="200px")
        span.commit-count 77


      div.contributor
        h5.username usmanskey
        img(src="https://github.com/usmanskey.png?size=200" height="200px" width="200px")
        span.commit-count 67


      div.contributor
        h5.username jknnr
        img(src="https://github.com/jknnr.png?size=200" height="200px" width="200px")
        span.commit-count 50


      div.contributor
        h5.username danrminds
        img(src="https://github.com/danrminds.png?size=200" height="200px" width="200px")
        span.commit-count 40


      div.contributor
        h5.username Dompers
        img(src="https://github.com/Dompers.png?size=200" height="200px" width="200px")
        span.commit-count 30


      div.contributor
        h5.username danieltcacenco
        img(src="https://github.com/danieltcacenco.png?size=200" height="200px" width="200px")
        span.commit-count 19


      div.contributor
        h5.username jakkodejong
        img(src="https://github.com/jakkodejong.png?size=200" height="200px" width="200px")
        span.commit-count 4


      div.contributor
        h5.username emachiels
        img(src="https://github.com/emachiels.png?size=200" height="200px" width="200px")
        span.commit-count 4


      div.contributor
        h5.username Reijnn
        img(src="https://github.com/Reijnn.png?size=200" height="200px" width="200px")
        span.commit-count 3


      div.contributor
        h5.username confiks
        img(src="https://github.com/confiks.png?size=200" height="200px" width="200px")
        span.commit-count 2


      div.contributor
        h5.username jastam
        img(src="https://github.com/jastam.png?size=200" height="200px" width="200px")
        span.commit-count 1


      div.contributor
        h5.username cgomezmendez
        img(src="https://github.com/cgomezmendez.png?size=200" height="200px" width="200px")
        span.commit-count 1


      div.contributor
        h5.username NelisVanWijk
        img(src="https://github.com/NelisVanWijk.png?size=200" height="200px" width="200px")
        span.commit-count 1


      div.contributor
        h5.username mckaulay
        img(src="https://github.com/mckaulay.png?size=200" height="200px" width="200px")
        span.commit-count 1


      div.contributor
        h5.username DevonFulcher
        img(src="https://github.com/DevonFulcher.png?size=200" height="200px" width="200px")
        span.commit-count 1



