.wrapper.wrapper_aboutus
  .container.text-center
    h1.wrapper_title Over ons
    .wrapper_desc.text-center
      ul
        li.tab-inactive.enabled(ui-sref="history") Geschiedenis
        li.tab-active.enabled(ui-sref="current") Nu
        li.tab-inactive.enabled(ui-sref="future") Toekomst
    h2.wrapper-title.text-center Hall of Fame
    .wrapper_desc 
      p Team Forus is een internationaal team van programmeurs, designers en creatievelingen. Deze Hall of Fame geeft bijdragers weer op basis van 'commits'. Een commit kan staan voor een bijdrage aan de code, documentatie of het ontwerp.
      br
    .contributor-list
      div.contributor(ng-repeat="n in $ctrl.list track by $index")
          h5(ng-bind="n[0]")
          img(style="max-width:200px;" ng-src="{{ $ctrl.profileURL(n[0]) }}")
          p(ng-bind="n[1]")
