.wrapper
  .container
    h1(style="color:black;").wrapper-title.text-center Hall of Fame
    div(ng-repeat="n in $ctrl.list track by $index")
      .contributor
       h5(ng-bind="n[0]")
       img(src="https://github.com/jamalv.png?size=200")
       p(ng-bind="n[1]")