.wrapper.wrapper_aboutus
    .container
        h1.wrapper_title Over ons
        .wrapper_desc
            ul
                li.tab-active Geschiedenis
                li.tab-inactive Nu
                li.tab-inactive Toekomst
.wrapper.wrapper_timeline
    .container
        .timeline
            .timeline_entry.right
                .timeline_entry_date.date_align.date_align_left JAN 2017
                .timeline_entry_title
                    h5 Stage in Zuidhorn
                hr.uneven
                .timeline_entry_description  
                    p De gemeente Zuidhorn wil graag leren over nieuwe technologie en zet een stagevacature uit. Maarten wor aangenomen en doet het voorstel om, in plaats van het schrijven van een rapport, iets te gaan bouwen. Op deze manier kan de gemeente in de praktijk zien wat de impact van innovatie voor hun kan zijn.
            .timeline_entry.left
                .timeline_entry_date.date_align.date_align_right FEB 2017
                .timeline_entry_title
                    h5 Zuidhorn wint een Hackathon
                hr.even
                .timeline_entry_description 
                    p Zuidhorn wint een hackathon met een team van ontwerpers en ontwikkelaars. In 48 uur wor een demo gebouwd van een platform waarop gemeentelijke diensten decentraal worden aangeboden. Ketenpartners kunnen samenkomen op platform "Forus" waardoor landschap van subsidies geharmoniseerd wor en de aanvraag voor de inwoner eenvoudiger, sneller en transparanter is.
            .timeline_entry.right
                .timeline_entry_date.date_align.date_align_left MRT 2017
                .timeline_entry_title
                    h5 Stichting Forus wordt opgericht
                hr.uneven 
                .timeline_entry_description 
                    p Om de visie van de hackathon in de praktijk te kunnen brengen richten Maarten en Jamal Stichting Forus op. De stichting heeft als missie het ontwikkelen van "decentrale applicaties voor het publieke domein".
            .timeline_entry.left
                .timeline_entry_date.date_align.date_align_right JUN 2017
                .timeline_entry_title
                    h5 Zuidhorn laat Forus het kindpakket uitgeven
                hr.even 
                .timeline_entry_description 
                    p De visie van de hackathon is zeer groot, en daarom besluiten stichting Forus en gemeente Zuidhorn om klein te beginnen. Het hoofddoel is om het kindpakket op  een voor de inwoner zo prettig mogelijke manier uit te geven. Het kindpakket is een gemeentelijke regeling waarmee kinderen in armoede ondersteund worden doordat een budget van €300 euro per kind beschikbaar wor gesteld.
            .timeline_entry.right
                .timeline_entry_date.date_align.date_align_left OKT 2017
                .timeline_entry_title
                    h5 Stichting Forus wint 2 SBIR opdrachten
                hr.uneven 
                .timeline_entry_description  
                    p Stichting Forus doet de aanvraag voor 2 SBIR trajecten van de rijksdienst voor ondernemers (RVO). De stichting wint de aanvragen. Het budget vanuit de SBIRs geeft Forus de ruimte voor een haalbaarheid onderzoek en de ontwikkeling van een prototype van het platform verder uit te werken.
            .timeline_entry.left
                .timeline_entry_date.date_align.date_align_right NOV 2017
                .timeline_entry_title
                    h5 Het kindpakket gaat live in Zuidhorn
                hr.even 
                .timeline_entry_description 
                    p Na een zomer intensief met de gemeente Zuidhorn samen gewerkt te hebben aan de ontwikkeling en implementatie van het kindpakket, brengt Forus het kindpakket op 1 november live met 80 inwoners en 12 winkeliers
            .timeline_entry.right
                .timeline_entry_date.date_align.date_align_left AUG 2018
                .timeline_entry_title 
                    h5 Oplevering prototypes van Forus en Me
                hr.uneven 
                .timeline_entry_description  
                    p Na uitgebreid onderzoek en ontwikkeling, worden 2 prototypes gepresenteerd. Forus; een platform voor de aanvraag en afhandelingen van subsidieregelingen en Me; een digitale identiteit voor (online) identificatie en het beheer van persoonlijke eigendommen en eigenschappen. De code en ontwikkeling wor publiekelijk gemaakt. De stichting is inmiddels uitgegroeid naar 5 teamleden. 
            .timeline_entry.left
                .timeline_entry_date.date_align.date_align_right NOV 2018
                .timeline_entry_title
                    h5 Forus en Me gaan live met het nieuwe Kindpakket
                hr.even 
                .timeline_entry_description 
                    p Forus en Me worden voor het eerst toegepast voor de uitgifte van het nieuwe kindpakket in de gemeente Zuidhorn.
            .timeline_entry.right
                .timeline_entry_date.date_align.date_align_left DEC 2018
                .timeline_entry_title
                    h5 Kerstpakket Forus gaat live
                hr.uneven 
                .timeline_entry_description  
                    p Voor de eerste keer wor een tweede fonds op het platform aangemaakt. Max doet dit in een week, en laat daarmee zien hoe generiek en schaalbaar het nieuwe platform is. Het team en de partners kunnen nu voor het eerst zelf gebruik maken van Forus en Me!
            .timeline_entry.left
                .timeline_entry_date.date_align.date_align_right JAN 2019
                .timeline_entry_title
                    h5 De Meedoen-regeling in Nijmegen gaat live
                hr.even 
                .timeline_entry_description 
                    p Het platform wor binnen 3 maanden geïmplementeerd in de gemeente Nijmegen en gaat in Januari live voor duizenden gebruikers zonder grote problemen. De gemeente Nijmegen gebruikt het platform voor de uitgifte van de "Meedoenregeling" een tegemoetkoming voor minima die er op is gericht om inwoners mee te kunnen laten doen aan culturele activiteiten.
            .timeline_entry.right
                .timeline_entry_date.date_align.date_align_left VANDAAG
                .timeline_entry_title
                    h5 Forus begint aan nieuwe implementaties
                hr.uneven 
                .timeline_entry_description  
                    p Tot zover heeft Forus zich vooral gericht op productontwikkeling. De resultaten zijn positief en nu richt de stichting zich op ondersteuning bij nieuwe implementaties. Heb je interesse?
                        br
                        span.txt_link(href="#" data-toggle="modal" data-target="#modalContact")
                            span Neem contact op
                                include ../../../../resources/platform-general/assets/img/svg/baseline-arrow.svg  

.wrapper.wrapper_contact_form.hidden-sm.hidden-md.hidden-lg
    .container
        form#formContactHome(action="https://xlak8w5706.execute-api.eu-west-1.amazonaws.com/Prod" method="POST")
            .row
                .col-xs-12.col-md-6
                    .form-group.required
                        label.control-label NAAM
                        .input-group
                            input#nameInput.form-control(placeholder="Naam" name="name"  value="" onkeyup="this.setAttribute('value', this.value);" )
                            a(href="#").clear_field
                                include ../../../../resources/platform-general/assets/img/svg/clear-field.svg
                            span.help-block
                .col-xs-12.col-md-6
                    .form-group.required
                        label.control-label EMAIL
                        .input-group
                            input#emailInput.form-control(placeholder="Email" name="email" value="" onkeyup="this.setAttribute('value', this.value);" )
                            a(href="#").clear_field
                                include ../../../../resources/platform-general/assets/img/svg/clear-field.svg
                            span.help-block
                .col-xs-12.col-md-6
                    .form-group
                        label.control-label ORGANISATIE
                        .input-group
                            input#companyInput.form-control(placeholder="Organisatie" name="organization" value="" onkeyup="this.setAttribute('value', this.value);" )
                            a(href="#").clear_field
                                include ../../../../resources/platform-general/assets/img/svg/clear-field.svg
                            span.help-block
                .col-xs-12.col-md-6
                    .form-group
                        label.control-label TELEFOONNUMMER
                        .input-group
                            input#telInput.form-control(placeholder="Telefoonnumber" name="phone" value="" onkeyup="this.setAttribute('value', this.value);" )
                            a(href="#").clear_field
                                include ../../../../resources/platform-general/assets/img/svg/clear-field.svg
                            span.help-block
                .col-xs-12
                    .form-group.required
                        label.control-label BERICHT
                        .input-group
                            textarea#messageInput.form-control(placeholder="Bericht" name="message")

                            a(href="#").clear_field
                                include ../../../../resources/platform-general/assets/img/svg/clear-field.svg
                            span.help-block
                .col-xs-12.info
                    span(style="color: red") *
                    | velden zijn verplicht
                .col-xs-12
                    .form-group.center-block
                        p.thanks Bedankt! Er wor zo snel mogelijk contact met u opgenomen.
                        button#formSubmitHome.main_button.g-recaptcha( data-sitekey="6LfA-JcUAAAAAC9SpgAr2ZmL4rFwjb83_U2MDcfQ" data-callback="onSubmitCFHome" data-badge="inline" type="button") Versturen