section.header.header__home
    .container
        .wrap_cs__1
            h1 Betaalsoftware voor maatschappelijke projecten
            p.pt-large Stel eenvoudig fondsen beschikbaar aan mensen die het nodig hebben. Het hele proces is eerlijk en efficiënt: van de uitgifte van tegoeden tot de administratie.
            a.main_button(href="#" data-toggle="modal" data-target="#modalContact") Direct contact
section.mr-tp
    .container
        .wrap_cs__2.no-pad-t
            .row.flex-align
                .col-6.col-md-5.e-fb
                    h2 Platform en app
                    p De software bestaat uit een platform (Forus) en een mobiele applicatie (Me). Het platform wordt gebruikt om tegoeden aan te bieden, aan te vragen en te valideren. De mobiele applicatie wordt gebruikt om tegoedbonnen te bewaren en transacties te doen.
                    a.txt_link.content-left(ui-sref="me") 
                        | Lees meer over Me
                        include ../../../../resources/platform-general/assets/img/svg/baseline-arrow.svg
                    a.txt_link.content-left(ui-sref="platform") 
                        | Lees meer over platform Forus
                        include ../../../../resources/platform-general/assets/img/svg/baseline-arrow.svg               
                .col-6.col-md-7.holder
                    include ../../../../resources/platform-general/assets/img/me-des.svg
            .cont_txt__b.text-center.mr-tp 
                h2 Pakketten
                p Het betalingsplatform is flexibel opgezet, zodat het voor diverse toepassingen kan worden ingezet. Pakketten waarmee producten en/of diensten worden aangeboden, kunnen via het platform worden uitgegeven. Voorbeelden hiervan zijn het Kindpakket, Meedoenpakket en Kerstpakket.
            .row.flexed.pull-down.text-center.mr-tp 
                .col-6.col-md-4.e-fb
                    .upper
                        img(src="assets/img/icon-kindpakket.png")
                        h3 Kindpakket
                        p Het Kindpakket ondersteunt gezinnen met kinderen in armoede. De kinderen krijgen een kans om mee te doen met leeftijdsgenoten. Denk hierbij aan schoolmaterialen, sportlessen en -kleding.
                .col-6.col-md-4.e-fb
                    .upper
                        img(src="assets/img/icon-meedoen.png")
                        h3 Meedoenpakket
                        p Via het Meedoenpakket kunnen mensen met een laag inkomen meedoen met sociale, sportieve, maatschappelijke en/of culturele activiteiten.
                .col-6.col-md-4.e-fb
                    .upper
                        img(src="assets/img/icon-kerstpakket.png")
                        h3 Kerstpakket
                        p Het Kerstpakket biedt medewerkers de mogelijkheid om zelf een kerstcadeau uit te kiezen. Het Kerstpakket is te besteden bij (lokale) ondernemers en te schenken aan goede doelen.

section.bg_gr
    .container
        .wrap_cs__2
            h2.text-center Gemak & Kwaliteit
            .row.flexed.cont-p
                .col-6.col-md-6.e-fb
                    .usp.usp__sp-1
                        h4 Directe betalingen
                        p De financiële afhandeling van een pakket verloopt volledig geautomatiseerd. Ben je met een organisatie aangesloten? Dan ontvang je direct je geld.
                    .usp.usp__sp-2
                        h4 Snel aanvragen
                        p De aanvraagprocedure van het pakket kan via het systeem verlopen. Als je een aanvraag doet, weet je direct waar je recht op hebt.
                    .usp.usp__sp-3
                        h4 Toegankelijkheid
                        p Vouchers kunnen zowel digitaal, als op papier of door middel van een pas worden uitgegeven. Het systeem is hierdoor toegankelijk voor alle doelgroepen.
                    .usp.usp__sp-4
                        h4 Stimulering lokale economie
                        p Tegoeden kunnen enkel bij gevalideerde aanbieders worden uitgegeven. Hierdoor kan de lokale economie worden gestimuleerd.
                .col-6.col-md-6.e-fb
                    .usp.usp__sp-5
                        h4 Support
                        p Gebruikers van het systeem kunnen via het helpcentrum contact met ons opnemen. Er is altijd iemand dichtbij om je te helpen.
                    .usp.usp__sp-6
                        h4 Huisstijl op maat
                        p De huisstijl van de partij die een pakket uitgeeft wordt zorgvuldig doorgevoerd. Het systeem sluit hierdoor naadloos aan bij jouw organisatie.
                    .usp.usp__sp-7
                        h4 Managementinformatie
                        p Statistieken van de uitgifte van het pakket zijn real-time in te zien via het systeem. Zo zie je direct waar het geld terecht komt.
                    .usp.usp__sp-8
                        h4 Samenwerking
                        p Klanten vormen een netwerk waarin zij gezamenlijk verbeteringen aandragen. Zo kun je bijdragen aan de ontwikkeling van het systeem.
section
    .container
        .wrap_cs__4a
            .col-lg-12.content-area.text-center.padded
                    h2 Implementatie
                    p Een standaard implementatie van het platform kan binnen enkele weken worden gerealiseerd. Het uitgangspunt is om de organisatie zoveel mogelijk te ontzorgen. Onze werkwijze is proactief, persoonlijk en transparant. Forus biedt ondersteuning gedurende het gehele implementatietraject. Na de implementatie biedt Forus hulp bij technische vragen via het helpcentrum.

section.mr-tp 
    .container
        .wrap_cs__3a
            .row.flex-align
                .col-6.col-md-6.holder
                    include ../../../../resources/platform-general/assets/img/graph-onderzoek.svg
                .col-6.col-md-6
                    h2 Onderzoek
                    p Het betaalplatform wordt verbeterd aan de hand van resultaten uit onderzoeken.<br><br>Forus onderzoekt concepten zoals Privacy by Design, User-Centered Design en decentrale technologieën. In opdracht van de Rijksdienst Voor Ondernemend Nederland (RVO), Ministerie van Binnenlandse Zaken en de Provincie Groningen zijn er twee Small Business Innovation Research (SBIR) trajecten uitgevoerd.<br><br>Studenten van onder andere de Hanzehogeschool en Rijksuniversiteit Groningen verrichten onderzoek naar het platform, onze organisatie en dienstverlening.

section.mr-tp
    .container.text-center
        .wrap_cs__2.no-pad-t
            .row
                .col-12.col-md-12
                    h2 Klanten
                    p We implementeren bij:
                    .wrapped
                        .cupa
                            img.e-fb(src="assets/img/logo-nijmegen.png", alt="Gemeente Nijmegen")
                        .cupa
                            img.e-fb(src="assets/img/logo-westerkwartier.png", alt="Gemeente Westerkwartier")
                        .cupa
                            img.e-fb(src="assets/img/logo-emmen.png", alt="Gemeente Emmen")
                        .cupa
                            img.e-fb(src="assets/img/logo-barneveld.png", alt="Gemeente Barneveld")
                        .cupa.cleared
                            img.e-fb(src="assets/img/logo-sdoa.png", alt="Sociale dienst oost achterhoek")
                        .cupa
                            img.e-fb(src="assets/img/logo-longfonds.png", alt="Stichting Longfonds")
                        .cupa
                            img.e-fb(src="assets/img/logo-noordoostpolder.png", alt="Gemeente Noordoostpolder")
                        .cupa
                            img.e-fb(src="assets/img/logo-groningen.png", alt="Gemeente Groningen")
                        //-.cupa
                            img.e-fb(src="assets/img/logo-geertruidenberg.png", alt="")
