section.header.header__home
    .container
        .wrap_cs__1
            h1 Online platform voor maatschappelijke projecten
            p.pt-large Geef eenvoudig tegoeden aan mensen die het nodig hebben. Het hele proces is eerlijk en efficiënt: van de uitgifte van tegoeden tot de administratie.
            a.main_button(open-modal-contact-form href="#") Direct contact
section.mr-tp
    .container
        .wrap_cs__2.no-pad-t
            .row.flex-align
                .col-6.col-md-5.e-fb
                    h2 Platform en app
                    p Het systeem bestaat uit een platform (Forus) en een mobiele applicatie (Me). Het platform wordt gebruikt om tegoeden aan te bieden, aan te vragen en te valideren. De mobiele applicatie wordt gebruikt om tegoeden te bewaren en transacties te doen.
                    a.txt_link.content-left(ui-sref="platform") 
                        | Lees meer over Forus
                        include ../../../../resources/platform-general/assets/img/svg/baseline-arrow.svg
                    a.txt_link.content-left(ui-sref="me") 
                        | Lees meer over Me
                        include ../../../../resources/platform-general/assets/img/svg/baseline-arrow.svg               
                .col-6.col-md-7.holder
                    include ../../../../resources/platform-general/assets/img/me-des.svg
            .cont_txt__b.text-center.mr-tp 
                h2 Voorbeelden van projecten
                p Het systeem is flexibel opgezet zodat het voor diverse projecten kan worden ingezet. Momenteel wordt het platform veel gebruikt voor gemeentelijke diensten. Recente voorbeelden hiervan zijn het Kindpakket, Meedoenpakket en Kerstpakket.
            .row.flexed.pull-down.text-center.mr-tp 
                .col-6.col-md-4.e-fb
                    .upper
                        img(src="assets/img/icon-kindpakket.png")
                        h3 Kindpakket
                        p Het Kindpakket helpt gezinnen in armoede. De kinderen krijgen onder andere schoolmaterialen, sportlessen en kleding. Dit geeft hen de kans om mee te doen met leeftijdsgenoten.
                .col-6.col-md-4.e-fb
                    .upper
                        img(src="assets/img/icon-meedoen.png")
                        h3 Meedoenpakket
                        p Het Meedoenpakket ondersteunt mensen met een laag inkomen. Dankzij deze regeling kunnen zij meedoen met sociale, sportieve, maatschappelijke en/of culturele activiteiten.
                .col-6.col-md-4.e-fb
                    .upper
                        img(src="assets/img/icon-kerstpakket.png")
                        h3 Kerstpakket
                        p Het Kerstpakket biedt medewerkers de mogelijkheid om zelf een kerstcadeau uit te kiezen. Het pakket is te besteden bij (lokale) ondernemers en te schenken aan goede, zelfgekozen doelen.

section.bg_gr
    .container
        .wrap_cs__2
            h2.text-center Kenmerken en werkwijze
            .row.flexed.cont-p
                .col-6.col-md-6.e-fb
                    .usp.usp__sp-1
                        h4 Snelle betalingen
                        p De financiële afhandeling van een pakket of regeling verloopt door een bankkoppeling volledig geautomatiseerd. Aangesloten organisaties worden direct uitbetaald.
                    .usp.usp__sp-2
                        h4 Efficiënt proces
                        p Het platform maakt snelle aanvragen mogelijk. De aanvrager vult gegevens in, wordt gecontroleerd en krijgt na goedkeuring een tegoed.
                    .usp.usp__sp-3
                        h4 Toegankelijk systeem
                        p Tegoeden kunnen digitaal, op papier en met een pas worden uitgegeven. Dit maakt het systeem toegankelijk en breed inzetbaar.
                    .usp.usp__sp-4
                        h4 Stimulans voor lokale economie
                        p Sponsors selecteren specifieke aanbieders. Door plaatselijke bedrijven uit te kiezen wordt de lokale economie gestimuleerd.
                .col-6.col-md-6.e-fb
                    .usp.usp__sp-5
                        h4 Hulp en ondersteuning
                        p Gebruikers kunnen via het helpcentrum contact met ons opnemen. Onze medewerkers staan klaar om te helpen. 
                    .usp.usp__sp-6
                        h4 Webshop in huisstijl
                        p De webshop wordt gemaakt in de gewenste huisstijl. Hierdoor sluit de webshop aan bij de organisatie die een regeling uitgeeft. 
                    .usp.usp__sp-7
                        h4 Managementinformatie
                        p Statistieken van de uitgifte van een regeling zijn real-time in te zien via de beheeromgeving. Zo is direct te zien waar het geld terechtkomt.
                    .usp.usp__sp-8
                        h4 Gebruikersvereniging
                        p Aangesloten organisaties vormen een samenwerkingsverband waarin zij gezamenlijk verbeteringen aandragen.
section
    .container
        .wrap_cs__4a
            .col-lg-12.content-area.text-center.padded
                h2 Samenwerkingen
                p Forus wordt onder andere gebruikt door de volgende organisaties: 
                ul.wrapped
                    li.cupa
                        img.e-fb(src="assets/img/logo-nijmegen.png", alt="Gemeente Nijmegen")
                    li.cupa
                        img.e-fb(src="assets/img/logo-westerkwartier.png", alt="Gemeente Westerkwartier")
                    //-li.cupa
                        img.e-fb(src="assets/img/logo-barneveld.png", alt="Gemeente Barneveld")
                    li.cupa
                        img.e-fb(src="assets/img/logo-emmen.png", alt="Gemeente Emmen")                    
                    li.cupa
                        img.e-fb(src="assets/img/logo-sdoa.png", alt="Sociale dienst oost achterhoek")
                    li.cupa
                        img.e-fb(src="assets/img/logo-longfonds.png", alt="Stichting Longfonds")
                    li.cupa
                        img.e-fb(src="assets/img/logo-noordoostpolder.png", alt="Gemeente Noordoostpolder")
                    li.cupa
                        img.e-fb(src="assets/img/logo-groningen.png", alt="Gemeente Groningen")
                    li.cupa
                        img.e-fb(src="assets/img/logo-geertruidenberg.png", alt="Gemeente Geertruidenberg")
                    li.cupa
                        img.e-fb(src="assets/img/logo-vng.png", alt="Vereniging Nederlandse Gemeenten")
                    li.cupa
                        img.e-fb(src="assets/img/logo-scauting.png", alt="Scauting")                        

section.mr-tp 
    .container
        .wrap_cs__2.no-pad-t
            .cont_txt__b.text-center.mr-tp 
                h2 Hoe verloopt een project?
                p Elke samenwerking begint met een verkennend gesprek: wat zijn de mogelijkheden van Forus voor jouw organisatie? We leggen je precies uit wat het inhoudt en hoe het werkt. Daarna zullen we Forus binnen enkele weken implementeren en kun je aan de slag. Na de implementatie ben je altijd welkom om (technische) vragen te stellen of ideeën aan te dragen.
                a(ui-sref="contact").txt_link.var Vrijblijvend kennismaken
        .wrap_cs__2
            .row.flex-align
                .col-6.col-md-6.holder
                    include ../../../../resources/platform-general/assets/img/graph-onderzoek.svg
                .col-6.col-md-6
                    h2 Ontwikkeling
                    p Het platform is continu in ontwikkeling. Naast het team, helpen ook klanten, studenten en enthousiaste bijdragers om het platform verder te ontwikkelen. We verbeteren het platform op basis van onderzoek. 
                    | Benieuwd naar de ontwikkeling van het platform? #[a(href="https://roadmap.forus.io").txt_link.var Bekijk de roadmap]
            .cont_txt__b.text-center.sm-text-left
                h2 Recente onderzoeken
                p 
                    | #[strong Small Business Innovation Research] #[br]
                    | In opdracht van de Rijksdienst Voor Ondernemend Nederland (RVO), Ministerie van Binnenlandse Zaken en de Provincie Groningen zijn er twee Small Business Innovation Research (SBIR) trajecten uitgevoerd. #[br]#[br]
                    | #[strong Generiek Sociaal Domein Platform] #[br]
                    | Forus merkt dat er momenteel een enorme versnippering is binnen het sociaal domein: elke gemeente of stichting heeft zijn eigen webshop waarop sociale regelingen worden aangeboden, alle met eigen voorwaarden en processen. Deze fragmentatie maakt het onoverzichtelijk en verwarrend voor doelgroepen om erachter te komen op welke subsidies zij aanspraak kunnen maken. Dit vormt dan ook een wezenlijke barrière. #[br]
                    | #[br]
                    | Forus wil deze barrière afbreken door het ontwikkelen van een Generiek Sociaal Domein Platform, één centraal platform naar het bol.com-principe waarop voor inwoners een totaaloverzicht is van alle sociale regelingen en waarop zij eenvoudig deze regelingen kunnen aanvragen. #[br]
                    | #[br]
                    | Tevens wil Forus het hiermee mogelijk maken om, geautomatiseerd op basis van de specifieke situatie van de inwoner, de relevante subsidies eenvoudig te presenteren. Door het centraliseren en vergemakkelijken van het aanvraagproces, beoogt Forus middels dit project een stimulering van positieve sociale impact te realiseren. Het project is gesubsidieerd door SNN en het Europees Fonds voor regionale ontwikkeling.#[br]#[br]
                    | #[strong Conbavex] #[br]
                    | Forus heeft een ontwikkelingsproject uitgevoerd, genaamd Conbavex – Condition-based Value Exchange. Het project richtte zich op de schaalbaarheid, toegankelijkheid en veiligheid van het platform. Het project is gesubsidieerd door SNN en het Europees Fonds voor regionale ontwikkeling. #[br]
                    | #[br]
                    | De wens was om vanuit verschillende rollen een veilig en betrouwbaar platform van waarde-uitwisseling te realiseren voor (overheids)regelingen. In dit project zijn deze rollen bij regelingen op een zodanige manier op het platform betrokken dat deze allen met elkaar communiceren. De administratieve processen zijn geautomatiseerd zodat er daadwerkelijk waarde wordt uitgekeerd. #[br]#[br]
                ul.wrapped.two-cupas
                    li.cupa.cupa__2
                        img.e-fb(src="assets/img/logo-SNN.png", alt="SNN")
                    li.cupa.cupa__2
                        img.e-fb(src="assets/img/logo-EFRO.png", alt="het Europees Fonds voor regionale ontwikkeling")                