section.header.header__home
    .container
        .wrap_cs__1
            h1 Digitale oplossing voor het uitgeven van waarde
            p.pt-large Forus onderzoekt, ontwikkelt en implementeert een betaalplatform voor het oplossen van maatschappelijke vraagstukken in het publieke domein.
            a.main_button(href="#" data-toggle="modal" data-target="#modalContact") Neem contact op
section
    .container.text-center
        .wrap_cs__2
            .cont_txt__a
                h2 Betaalplatform
                p Uitwisseling van waarde speelt een belangrijke rol bij maatschappelijke vraagstukken op het gebied van armoede, duurzaamheid, goede doelen en cadeaupakketten. Forus biedt een SaaS (Software as a Service) betaalplatform, bestaande uit een mobiele app en een website. Met het platform kan een geldbedrag, product en/of aanbieding op een efficiënte en eerlijke manier worden uitgegeven.
            .cont_txt__a
                h2 Pakketten en regelingen
                p Het betalingsplatform is generiek opgezet zodat allerlei pakketten en regelingen kunnen worden uitgegeven. Onderstaande regelingen worden via het platform uitgegeven.
            .row.flexed.pull-down
                .col-6.col-md-4.e-fb
                    .upper
                        include ../../../../resources/platform-general/assets/img/icon-kindpakket.svg
                        h3 Kindpakket
                        p Het Kindpakket ondersteunt kinderen die om financiële redenen niet mee kunnen doen met hun leeftijdsgenootjes. Denk bijvoorbeeld aan schoolmaterialen, sportspullen, kleding en sport- en culturele activiteiten.
                    //-a.txt_link(ui-sref="kindpakket") 
                        | Lees meer
                        include ../../../../resources/platform-general/assets/img/svg/baseline-arrow.svg 
                .col-6.col-md-4.e-fb
                    .upper
                        include ../../../../resources/platform-general/assets/img/icon-meedoen.svg
                        h3 Meedoen
                        p Met de Meedoen-regeling kunnen mensen met een laag inkomen meedoen met sociale, sportieve, maatschappelijke en/of culturele activiteiten. 
                    //-a.txt_link(ui-sref="meedoen") 
                        | Lees meer
                        include ../../../../resources/platform-general/assets/img/svg/baseline-arrow.svg 
                .col-6.col-md-4.e-fb
                    .upper
                        include ../../../../resources/platform-general/assets/img/icon-kerstpakket.svg
                        h3 Kerstpakket
                        p Het kerstpakket biedt medewerkers de mogelijkheid om zelf een gewenst kerstpakket uit te kiezen. Het kerstpakket is te besteden bij (lokale) ondernemers en goede doelen.
                    //-a.txt_link(ui-sref="kerstpakket") 
                        | Lees meer
                        include ../../../../resources/platform-general/assets/img/svg/baseline-arrow.svg 

section.gradient
    .container
        .wrap_cs__2
            h2.text-center Gemak & Kwaliteit
            .row.flexed.cont-p
                .col-6.col-md-6.e-fb
                    .usp.usp__sp-1
                        h4 Facturatie
                        p De financiële afhandeling van een regeling verloopt volledig geautomatiseerd. De rekening wordt real-time uitgelezen en aangestuurd.
                    .usp.usp__sp-2
                        h4 Privacy by Design
                        p De eindgebruiker is eigenaar van zijn of haar data. Persoonlijke informatie wordt door de gebruiker beheert.
                    .usp.usp__sp-3
                        h4 Toegankelijkheid
                        p De oplossing is toegankelijk voor alle doelgroepen.
                    .usp.usp__sp-4
                        h4 Stimulering lokale economie
                        p Samenwerking met (lokale) leveranciers zoals winkeliers, verenigingen en stichtingen ter bevordering van de lokale economie.
                //-.col-6.col-md-4.hidden-xs
                    img.phone-m(src="assets/img/home_usp-meapp.png", alt="")
                    img.phone-m(src="assets/img/home_usp-meapp.png", alt="")
                .col-6.col-md-6.e-fb
                    .usp.usp__sp-5
                        h4 Support
                        p Gebruikers kunnen telefonisch en via whatsapp, e-mail en chatfunctie op de webshop contact met ons opnemen.
                    .usp.usp__sp-6
                        h4 Managementinformatie
                        p Een veelvoud aan statistieken, is te allen tijde op te vragen via het systeem.
                    .usp.usp__sp-7
                        h4 Huisstijl op maat
                        p De oplossing sluit naadloos aan bij uw organisatie door zorgvuldig doorvoeren van huisstijl en website elementen.
                    .usp.usp__sp-8
                        h4 Samenwerking
                        p Samenwerken gaat verder dan alleen een overeenkomst. Al onze klanten zijn nauw betrokken in een netwerk waarin we gezamenlijk zoeken naar verbeteringen.
section
    .container
        .wrap_cs__4
            .col-lg-12.content-area.text-center.padded
                    h2 Implementatie
                    p Het systeem kan in een korte tijd worden geïmplementeerd. Forus komt langs op locatie en stemt de wensen en eisen met de klant af. Het uitgangspunt is om de klant zoveel mogelijk te ontzorgen. Onze werkwijze is proactief, persoonlijk en transparant. Het team biedt ondersteuning bij het implementatieproces. Aan de gebruikers van het systeem wordt support verleend.
                    a.txt_link(href="#" data-toggle="modal" data-target="#modalContact")
                        | Vragen? Neem contact op met ons op
                        include ../../../../resources/platform-general/assets/img/svg/baseline-arrow.svg 
section
    .container
        .wrap_cs__2
            .row.flex-align
                .col-6.col-md-6
                    img(src="assets/img/content-onderzoek.jpg").stretched
                .col-6.col-md-6
                    h2 Onderzoek
                    p Forus onderzoekt concepten zoals privacy by design, decentralisatie, blockchain en andere digitale dienstverlening. In opdracht van de Rijksdienst Voor Ondernemend Nederland (RVO) en de Provincie Groningen zijn er twee Small Business Innovation Research (SBIR) trajecten uitgevoerd. Regelmatig verrichten studenten van de Hanzehogeschool en Rijksuniversiteit Groningen onderzoek naar ons product en dienstverlening.
                    //-a.txt_link.no-mar-b.content-left(href="#" data-toggle="modal" data-target="#modalContact")
                        | Download SBIR Groningen
                        include ../../../../resources/platform-general/assets/img/svg/baseline-arrow.svg 
                    //-a.txt_link.no-mar-b.content-left.no-mar-b(href="#" data-toggle="modal" data-target="#modalContact")
                        | Dowload SBIR Gegevenslandschap
                        include ../../../../resources/platform-general/assets/img/svg/baseline-arrow.svg 

section
    .container.text-center
        .wrap_cs__5
            .row
                .col-6.col-md-6
                    h2 Klanten
                    p We implementeren bij:
                    .wrapped
                        .cupa
                            img.e-fb(src="assets/img/logo-nijmegen.png", alt="")
                        .cupa
                            img.e-fb(src="assets/img/logo-westerkwartier.png", alt="")
                        .cupa
                            img.e-fb(src="assets/img/logo-emmen.png", alt="")
                        .cupa.cleared
                            img.e-fb(src="assets/img/logo-barneveld.png", alt="")
                        .cupa
                            img.e-fb(src="assets/img/logo-sdoa.png", alt="")
                        .cupa
                            img.e-fb(src="assets/img/logo-longfonds.png", alt="")
                        .cupa.cleared
                            img.e-fb(src="assets/img/logo-noordoostpolder.png", alt="")
                        .cupa
                            img.e-fb(src="assets/img/logo-groningen.png", alt="")
                        .cupa
                            img.e-fb(src="assets/img/logo-geertruidenberg.png", alt="")
                .col-6.col-md-6
                    h2 Partners
                    p We werken samen met
                    .wrapped
                        .cupa
                            img.e-fb(src="assets/img/logo-ilionx.png", alt="")
                        .cupa
                            img.e-fb(src="assets/img/logo-berenschot.png", alt="")
                        .cupa
                            img.e-fb(src="assets/img/logo-rminds.png", alt="")
//-section
    .container.text-center
        .cta-area
            h2 Kennismaken?
            p Benieuwd naar Forus en naar onze oplossingen?<br />Wij denken graag mee en maken graag kennis met je. 
            a.main_button(href="#" data-toggle="modal" data-target="#modalContact") Neem contact op  
