header.Jumbotron
    .container
        h1 Veilige waarde-uitkering
        h3 Efficiënt en eerlijk met fondsen omgaan. Inzicht en overzicht houden.
        a.btn.button-left.main_button(href="#" data-toggle="modal" data-target="#modalContact") Neem contact op

section.section-concept
    .container
            include ../../../../resources/platform-general/assets/img/svg/platform.svg
            span.concept_title HET PLATFORM
            p Geld op een veilige, efficiënte en eerlijke manier uitgeven? Inzicht en overzicht houden? Maak een fonds. Accepteer aanbieders die hun producten en diensten beschikbaar mogen stellen. Voeg mensen die voor de regeling in aanmerking komen toe. Geef vouchers uit die ze bij de aanbieders kunnen besteden. Forus is een digitaal platform voor waarde-uitkering.
            br
            .txt_link(ui-sref="story")
                span Lees meer over de implementatie van het kindpakket in de gemeente Zuidhorn
                include ../../../../resources/platform-general/assets/img/svg/baseline-arrow.svg 

section.section-video-player
    .container
        h2 Forus kent vier rollen:
        p Elke rol heeft een eigen webomgeving. Zo kunnen de aanbieders hun omzet bekijken en kunnen gebruikers zien hoe veel ze nog te besteden hebben.

    .container
        .tab-content
            #panel1-video.tab-pane.fade.in.active
                .tab_video
                    video(id="player_tab_1" poster="assets/img/poster/aanvrager.gif")
                        source(src="assets/video/Aanvrager.mov" type="video/mp4")
                a.play_btn_link(href="#" )
            #panel2-video.tab-pane.fade
                .tab_video
                    video(id="player_tab_2" )
                        source(src="assets/video/Aanbieder.mov" type="video/mp4")
                a.btn_link(href="#" )
            #panel3-video.tab-pane.fade
                .tab_video
                    video(id="player_tab_3" )
                        source(src="assets/video/Sponsor.mov" type="video/mp4")
                a.play_btn_link(href="#" )
            #panel4-video.tab-pane.fade
                .tab_video
                    video(id="player_tab_4" )
                        source(src="assets/video/Validator.mov" type="video/mp4")
                a.play_btn_link(href="#" )
        .play-buttons
            ul.nav.nav-tabs.roles
                li.role
                    a(data-toggle="tab" data-target="#panel1-video" id="#panel1")
                        span.role_content
                            span.title.h4-subtitle Aanvrager
                            span.text.h5-subtitle die in aanmerking komt voor een uitkering
                            span.play_btn_link(href="#" id="#panel1-video")
                                span Bekijk de film
                                span.play_btn
                                    include ../../../../resources/platform-general/assets/img/svg/play-arrow.svg
                                    include ../../../../resources/platform-general/assets/img/svg/pause.svg
                li.role
                    a(data-toggle="tab" data-target="#panel2-video" id="#panel2")
                        span.role_content
                            span.title.h4-subtitle Aanbieder
                            span.text.h5-subtitle waar het geld kan worden uitgegeven
                            span.play_btn_link(href="#" id="#panel2-video")
                                span Bekijk de film
                                span.play_btn
                                    include ../../../../resources/platform-general/assets/img/svg/play-arrow.svg
                                    include ../../../../resources/platform-general/assets/img/svg/pause.svg
                li.role
                    a(data-toggle="tab" data-target="#panel3-video" id="#panel3")
                        span.role_content
                            span.title.h4-subtitle Sponsor
                            span.text.h5-subtitle die het geld heeft en/of beheert
                            span.play_btn_link(href="#" id="#panel3-video")
                                span Bekijk de film
                                span.play_btn
                                    include ../../../../resources/platform-general/assets/img/svg/play-arrow.svg
                                    include ../../../../resources/platform-general/assets/img/svg/pause.svg
                li.role
                    a(data-toggle="tab" data-target="#panel4-video" id="#panel4")
                        span.role_content
                            span.title.h4-subtitle Validator
                            span.text.h5-subtitle die aanbieders en aanvragers goedkeurt
                            span.play_btn_link(href="#" id="#panel4-video")
                                span Bekijk de film
                                span.play_btn
                                    include ../../../../resources/platform-general/assets/img/svg/play-arrow.svg
                                    include ../../../../resources/platform-general/assets/img/svg/pause.svg
section.section-how-do-we-work 
    .container
        .hdww-block
            .row
                .col-xs-12.hidden-sm.hidden-md.hidden-lg
                    h3.wrapper_title Hoe werkt Forus voor jou?
                .col-xs-12.col-md-5
                    img(src="assets/img/presentatie.png")
                .col-xs-12.col-md-7
                    h3.wrapper_title.hidden-xs Hoe werkt Forus voor jou?
                    p.wrapper_desc Forus is makkelijk aan de voorkant en goed doordacht aan de achterkant. De back-end is voor iedereen gelijk, de front-end maken we op maat. Compleet met eigen huisstijl.
                    p.wrapper_desc Het team helpt je met conceptualisatie, implementatie, programmering en beheer. Ook verlenen we support aan sponsor en aanbieder.
                    span.txt_link.pull-left(href="#" data-toggle="modal" data-target="#modalContact")
                        include ../../../../resources/platform-general/assets/img/svg/baseline-arrow.svg 
                        span Neem contact op                          


section.section-benefits
    .container
        h3 Wat zijn de voordelen van Forus?
        ul
            li Papierwinkel en bureaucratie zijn verleden tijd
            li Altijd overzicht over meerdere fondsen
            li Snelle aanmeldprocedure
            li Helder inzicht in de status van het fonds
            li Zicht en toezicht op alle transacties
            li Veiligheid voor alle partijen
            li Ook geschikt voor digibeten

section.section-success-stories
    .container
        h1 Succesverhalen met Forus
    .success_story.success_story_1
        .container
            .fix_side.nav
                div
                    .frame
                        .nav_story
                            ul
                                li.active
                                    a(href="#part_story_11")
                                li
                                    a(href="#part_story_12")
                                li
                                    a(href="#part_story_13")
                                li
                                    a(href="#part_story_14")
            #part_story_11.part_story
                .part_story_label Product
                h3.part_story_title Kindpakket
                .part_story_macbook.hidden-sm.hidden-md.hidden-lg
                    .laptop
                        div
                            .frame
                                img(src="assets/img/macbook.png")
                                .screens
                                    img(src="assets/img/laptop_img_1.png")
                p.part_story_content Met het Kindpakket ondersteunt de gemeente gezinnen met kinderen in armoede. Een kans voor kinderen om mee te doen op sociaal gebied, met sport, culturele activiteiten en op school.
                span.txt_link.pull-left
                    span(ui-sref="kindpakket") Ook geïnteresseerd in het kindpakket?
                    include ../../../../resources/platform-general/assets/img/svg/baseline-arrow.svg  

            .fix_side.laptop.hidden-xs
                div
                    .frame
                        img(src="assets/img/macbook.png")
                        .screens
                            img(src="assets/img/laptop_img_1.png" data-part="#part_story_11")
                            img(src="assets/img/laptop_img_1.png" data-part="#part_story_12")
                            img(src="assets/img/laptop_img_1.png" data-part="#part_story_13")
                            img(src="assets/img/laptop_img_1.png" data-part="#part_story_14")
    .success_story.success_story_2
        .container
            .fix_side.iphone.hidden-xs
                div
                    .frame
                        img(src="assets/img/iphone-x-colors.png")
                        .screens
                            img(src="assets/img/iphone_img_1.png" data-part="#part_story_21")
                            img(src="assets/img/iphone_img_1.png" data-part="#part_story_22")
                            img(src="assets/img/iphone_img_1.png" data-part="#part_story_23")

            #part_story_21.part_story
                .part_story_label Implementatie
                h3.part_story_title Kindpakket Zuidhorn
                .part_story_iphone.hidden-sm.hidden-md.hidden-lg
                    .iphone
                        div
                            .frame
                                img(src="assets/img/iphone-x-colors.png")
                                .screens
                                    img(src="assets/img/iphone_img_1.png" data-part="#part_story_21")
                p.part_story_content Samen met de gemeente Zuidhorn hebben we een toepassing van Forus ontwikkeld. Deze is speciaal bedoeld voor de Kindpakket-regeling voor minima.
                span.txt_link.pull-left
                    span(ui-sref="story") Lees meer over de implementatie in Zuidhorn
                    include ../../../../resources/platform-general/assets/img/svg/baseline-arrow.svg  
            .fix_side.nav
                div
                    .frame
                        .nav_story
                            ul
                                li.active
                                    a(href="#part_story_21")
                                li
                                    a(href="#part_story_22")
                                li
                                    a(href="#part_story_23")