section.header.header__product_one
    .container
        h1 Kindpakket

section
    .container
        .wrap_cs__2
            .cont_txt__a.text-center
                h2 Kindpakket
                p Via het kernproduct wordt de gemeentelijke regeling Kindpakket op een effectieve en gebruiksvriendelijke manier uitgegeven. De regeling biedt ondersteuning voor gezinnen met kinderen in armoede.
                a.main_button(href="#" data-toggle="modal" data-target="#modalContact") Bekijk demo
                img(src="assets/img/demo-kindpakket.png")
            .row.flex-align.pull-down
                .col-6.col-md-6
                    img(src="assets/img/content-kindpakket.jpg")
                .col-6.col-md-6
                    h2 Meedoen met leeftijdsgenoten
                    p Ongeveer 1 op de 9 kinderen in Nederland groeit op in armoede. Voor kinderen kan dit betekenen dat er onvoldoende geld is voor school, speelgoed, kleding, culturele activiteiten of een sport. Met het Kindpakket ondersteunt de gemeente gezinnen met kinderen in armoede. Het biedt een kans voor kinderen om mee te doen met leeftijdsgenoten.
section.gradient
    .wrap_cs__2
        .container
            h2.text-center Voordelen
            .row.flexed.cont-b
                .col-6.col-md-6.e-fb
                    .usp.usp__sp-1
                        h4 Facturatie
                        p De financiële afhandeling van een regeling verloopt volledig geautomatiseerd. De rekening wordt real-time uitgelezen en aangestuurd. 
                    .usp.usp__sp-2
                        h4 Privacy by Design
                        p De eindgebruiker eigenaar is van zijn of haar data. Persoonlijke informatie is in te zien en te beheren.
                    .usp.usp__sp-3
                        h4 Toegankelijkheid
                        p De oplossing is toegankelijk voor alle doelgroepen, conform WCAG 2.0 AA.
                    .usp.usp__sp-4
                        h4 Stimulering lokale economie
                        p Samenwerking met (lokale) leveranciers zoals winkeliers, verenigingen en stichtingen ter bevordering van de lokale economie.
                .col-6.col-md-6.e-fb
                    .usp.usp__sp-5
                        h4 Support
                        p Gebruikers kunnen telefonisch en via whatsapp, e-mail en chatfunctie op de webshop contact met ons opnemen.
                    .usp.usp__sp-6
                        h4 Managementinformatie
                        p Managementinformatie, een veelvoud aan statistieken, is te allen tijde op te vragen via het systeem.
                    .usp.usp__sp-7
                        h4 Huisstijl op maat
                        p De oplossing sluit naadloos aan bij uw organisatie door zorgvuldig doorvoeren van huisstijl en website elementen.
                    .usp.usp__sp-8
                        h4 Samenwerking
                        p De oplossing sluit naadloos aan bij uw organisatie door zorgvuldig doorvoeren van huisstijl en website elementen.
section
    .container.text-center
        .wrap_cs__2
            .cont_txt__a
                h2 Hoe werkt het ?
                p De implementatie van het systeem is onderverdeeld in vijf stappen. In overleg met de gemeente stemmen we de implementatie af. Het doel is om de gemeente zoveel mogelijk te ondersteunen en ontzorgen.
            .pull-down
                .steps.steps__one.text-left
                    h1 1
                    .inner-steps
                        p Dowload SBIR Gegevenslandschap
                .steps.steps__two.text-left
                    h1 2
                    .inner-steps
                        p Dowload SBIR Gegevenslandschap
                .steps.steps__three.text-left
                    h1 3
                    .inner-steps
                        p Dowload SBIR Gegevenslandschap
                .steps.steps__four.text-left
                    h1 4
                    .inner-steps
                        p Dowload SBIR Gegevenslandschap
                .steps.steps__five.text-left
                    h1 5
                    .inner-steps
                        p Dowload SBIR Gegevenslandschap

section
    .container
        .wrap_cs__3
            .row.flex-align
                .col-6.col-md-6
                    img(src="assets/img/laptop-kindpakket.jpg")
                .col-6.col-md-6
                    h2 Kindpakket Zuidhorn
                    p Naar de oplossing is gedegen onderzoek verricht. We onderzoeken concepten zoals privacy by design, decentralisatie, blockchain en andere digitale dienstverlening. Tevens heeft Forus twee Small Business Innovation Research (SBIR) trajecten uitgevoerd. In opdracht van het RVO en de Provincie Groningen hebben we een haalbaarheidsonderzoek verricht naar het vier rollen model. De conclusies uit beide SBIR onderzoeken kun je hier downloaden.
                    a.txt_link.content-left(href="#" data-toggle="modal" data-target="#modalContact")
                        | Lees meer
                        include ../../../../resources/platform-general/assets/img/svg/baseline-arrow.svg 
section
    .container.text-center
        .cta-area
            h2 Gemeentelijke regeling: Kindpakket
            p Via het kernproduct wordt de gemeentelijke regeling Kindpakket op een effectieve en gebruiksvriendelijke manier uitgegeven. De regeling biedt ondersteuning voor gezinnen met kinderen in armoede.
            a.main_button(href="#" data-toggle="modal" data-target="#modalContact") Bekijk demo   
//-.wrapper.wrapper_fund
    .container
        h5.fund GEMEENTELIJKE REGELING
        h1.wrapper_title Kindpakket
        .wrapper_desc 
            p Effectieve en gebruiksvriendelijke ondersteuning voor kinderen in armoede met behulp van Forus.
        .laptop
            div
                .frame
                    img(src="assets/img/macbook.png")
                    .screens
                        img(src="assets/img/laptop_img_1.png")

//-.wrapper.wrapper_reason.wrapper_reason_fund
    .column
        span
            h3.wrapper_title Waarom Kindpakket?
            p Ongeveer 1 op de 9 kinderen in Nederland groeit op in armoede. Voor kinderen kan dit betekenen dat er onvoldoende geld is voor voedsel, kleding of een verwarmd huis. Lid zijn van een sportvereniging of muziekschool is geen vanzelfsprekendheid.
            p Met het Kindpakket ondersteunt de gemeente gezinnen met kinderen in armoede. Een kans voor kinderen om mee te doen op sociaal gebied, met sport, culturele activiteiten en op school. Gezinnen die hiervoor in aanmerking komen krijgen een budget om hun kinderen te kunnen ondersteunen. Denk aan schoolmaterialen, sportspullen, kleding, zwemlessen etc.
            span.txt_link
                span(ui-sref="story") Lees meer over de ervaring in Zuidhorn 
                    include ../../../../resources/platform-general/assets/img/svg/baseline-arrow.svg  
//-.container-me
    .wrapper.wrapper_feature_two
        .column
            span
                h3 Klijnsma-gelden
                p Staatssecretaris Jetta Klijnsma van Sociale Zaken en Werkgelegenheid heeft geld beschikbaar gesteld voor projecten die armoede tegengaan en die voorkomen dat mensen in de schulden komen. Vanaf 2017 ontvangen gemeenten deze zogenaamde Klijnsma-gelden. Deze gelden kunnen gemeenten inzetten voor minderbedeelde kinderen.
        .column   
            img.small(align="right" src="assets/img/kindpakket.jpg" srcset="assets/img/kindpakket@2x.jpg 2x,assets/img/kindpakket@3x.jpg 3x")

    .wrapper.wrapper_feature_one.wrapper_feature_one_white
        .column
            img.small(align="right" src="assets/img/regeerakkoord.jpeg")
        .column
            span
                h3 Regeerakkoord
                p Het kabinet heeft armoede hoog op de agenda staan en de komende jaren wordt wederom geld vrijgemaakt om armoede te bestrijden. Activerende kindpakketten, waarbij kinderen vanaf 12 jaar zelf kunnen aangeven welke regelingen zij willen gebruiken, en digitalisering zijn onderwerpen waar het komende jaar verder naar gekeken zal gaan worden.


//-.wrapper.wrapper_downloads
    .container
        h3.wrapper_title.text-center Hulpmaterialen
        .download_links
            a.dl_box(ui-sref="http://media.forus.io/assets/Kindpakket-Docs/Brieven.zip")
                .dl_icon
                    span.holder
                        img(src="./assets/img/svg/download.svg")
                span.btn_link Voorbeeldbrieven
            a.dl_box(href="http://media.forus.io/assets/Kindpakket-Docs/Collegestuk.docx")
                .dl_icon
                    span.holder
                        img(src="./assets/img/svg/download.svg")
                span.btn_link Collegestuk
            a.dl_box(href="http://media.forus.io/assets/Kindpakket-Docs/Webshop%20teksten.docx")
                .dl_icon
                    span.holder
                        img(src="./assets/img/svg/download.svg")
                span.btn_link.h4-subtitle Webshopteksten
            a.dl_box(href="http://media.forus.io/assets/Kindpakket-Docs/Dekkingsvoorstel.docx")
                .dl_icon
                    span.holder
                        img(src="./assets/img/svg/download.svg")
                span.btn_link Dekkingsvoorstel
    .wrapper.wrapper_quote
        .column
            span
                h3 Ook geïnteresseerd in het kindpakket voor uw gemeente?
                span.txt_link(href="#" data-toggle="modal" data-target="#modalContact")
                        span Neem contact met ons op om de mogelijkheden te bespreken
                        include ../../../../resources/platform-general/assets/img/svg/baseline-arrow.svg 
