.wrapper.wrapper_fund
    .container
        .fund GEMEENTELIJKE REGELING
        h1.wrapper_title Kindpakket
        p.wrapper_desc Meedoen kost vaak geld. Daarom is er een verband tussen armoede en sociale uitsluiting. Vooral voor kinderen kan armoede ervoor zorgen dat dat zij niet mee kunnen doen op school en met sport, muziek en dans. Maar ook voor volwassenen belemmert armoede actieve deelname aan de samenleving. Niet meedoen heeft een negatief effect op gedrag, gezondheid en (school)prestaties en vergroot de kans op armoede in de toekomst.
        .macbook
            div
                .frame
                    img(src="assets/img/macbook.png")
                    .screens
                        img(src="assets/img/macbook_img_1.png")
.wrapper.wrapper_question
    .container
        h2.wrapper_title Waarom Kindpakket?
        .wrapper_desc 
            p Ongeveer 1 op de 9 kinderen in Nederland groeit op in armoede. Voor kinderen kan dit betekenen dat er onvoldoende geld is voor voedsel, kleding of een verwarmd huis. Lid zijn van een sportvereniging of muziekschool is geen vanzelfsprekendheid.
            p Met het Kindpakket ondersteunt de gemeente gezinnen met kinderen in armoede. Een kans voor kinderen om mee te doen op sociaal gebied, met sport, culturele activiteiten en op school. Gezinnen die hiervoor in aanmerking komen krijgen een budget om hun kinderen te kunnen ondersteunen. Denk aan schoolmaterialen, sportspullen, kleding, zwemlessen etc.

.wrapper.wrapper_explain
    .container
        span
            h2.wrapper_title Klijnsma-gelden
            p.wrapper_desc Staatssecretaris Jetta Klijnsma van Sociale Zaken en Werkgelegenheid heeft geld beschikbaar gesteld voor projecten die armoede tegengaan en die voorkomen dat mensen in de schulden komen. Vanaf 2017 ontvangen gemeenten deze zogenaamde Klijnsma-gelden. Deze gelden kunnen gemeenten inzetten voor minderbedeelde kinderen.
        img(align="right" src="assets/img/kindpakket.jpg" srcset="assets/img/kindpakket@2x.jpg 2x,assets/img/kindpakket@3x.jpg 3x" sizes="(max-width: 320px) 280px, (max-width: 480px) 440px,800px")

.wrapper.wrapper_explain
    .container
        img(align="right" src="assets/img/regeerakkoord.jpeg")
        span
            h2.wrapper_title Regeerakkoord
            p.wrapper_desc Het kabinet heeft armoede hoog op de agenda staan en de komende jaren wordt wederom geld vrijgemaakt om armoede te bestrijden. Activerende kindpakketten, waarbij kinderen vanaf 12 jaar zelf kunnen aangeven welke regelingen zij willen gebruiken, en digitalisering zijn onderwerpen waar het komende jaar verder naar gekeken zal gaan worden.


.wrapper.wrapper_downloads
    .container
        h2.wrapper_title Hulpmaterialen
        .download_links
            div.dl_box
                .dl_icon
                    span.holder
                        img(src="https://www.shareicon.net/download/2017/04/19/884097_download_512x512.png")
                a.btn_link(href="https://zuidhorn.forus.io") Voorbeeldbrieven
            div.dl_box
                .dl_icon
                    span.holder
                        img(src="https://www.shareicon.net/download/2017/04/19/884097_download_512x512.png")
                a.btn_link(href="https://zuidhorn.forus.io") Collegevoorstel
            div.dl_box
                .dl_icon
                    span.holder
                        img(src="https://www.shareicon.net/download/2017/04/19/884097_download_512x512.png")
                a.btn_link(href="https://zuidhorn.forus.io") Webshopteksten
            div.dl_box
                .dl_icon
                    span.holder
                        img(src="https://www.shareicon.net/download/2017/04/19/884097_download_512x512.png")
                a.btn_link(href="https://zuidhorn.forus.io") Budgetadvies


.wrapper.wrapper_contact_form.hidden-sm.hidden-md.hidden-lg
    .container
        form#formContactHome(action="https://xlak8w5706.execute-api.eu-west-1.amazonaws.com/Prod" method="POST")
            .row
                .col-xs-12.col-md-6
                    .form-group.required
                        label.control-label NAAM
                        .input-group
                            input#nameInput.form-control(placeholder="Naam" name="name"  value="" onkeyup="this.setAttribute('value', this.value);" )
                            a(href="#").clear_field
                                include ../../../../resources/platform-general/assets/img/svg/clear-field.svg
                            span.help-block
                .col-xs-12.col-md-6
                    .form-group.required
                        label.control-label EMAIL
                        .input-group
                            input#emailInput.form-control(placeholder="Email" name="email" value="" onkeyup="this.setAttribute('value', this.value);" )
                            a(href="#").clear_field
                                include ../../../../resources/platform-general/assets/img/svg/clear-field.svg
                            span.help-block
                .col-xs-12.col-md-6
                    .form-group
                        label.control-label ORGANISATIE
                        .input-group
                            input#companyInput.form-control(placeholder="Organisatie" name="organization" value="" onkeyup="this.setAttribute('value', this.value);" )
                            a(href="#").clear_field
                                include ../../../../resources/platform-general/assets/img/svg/clear-field.svg
                            span.help-block
                .col-xs-12.col-md-6
                    .form-group
                        label.control-label TELEFOONNUMMER
                        .input-group
                            input#telInput.form-control(placeholder="Telefoonnumber" name="phone" value="" onkeyup="this.setAttribute('value', this.value);" )
                            a(href="#").clear_field
                                include ../../../../resources/platform-general/assets/img/svg/clear-field.svg
                            span.help-block
                .col-xs-12
                    .form-group.required
                        label.control-label BERICHT
                        .input-group
                            textarea#messageInput.form-control(placeholder="Bericht" name="message")

                            a(href="#").clear_field
                                include ../../../../resources/platform-general/assets/img/svg/clear-field.svg
                            span.help-block
                .col-xs-12.info
                    span(style="color: red") *
                    | velden zijn verplicht
                .col-xs-12
                    .form-group.center-block
                        p.thanks Bedankt! Er wordt zo snel mogelijk contact met u opgenomen.
                        button#formSubmitHome.main_button.g-recaptcha( data-sitekey="6LfA-JcUAAAAAC9SpgAr2ZmL4rFwjb83_U2MDcfQ" data-callback="onSubmitCFHome" data-badge="inline" type="button") Versturen