.block.block-sign-up
    .block-sign-up-header
        .block-sign-up-title Inloggen
    .block-sign-up-options
        .block-sign-up-option: a(href="{{ $ctrl.appConfigs.frontends.url_provider }}" target="_self").block-sign-up-option-inner
            .block-sign-up-option-img: div
                img.img-default(src="./assets/img/website/provider.svg")
                img.img-hover(src="./assets/img/website/provider-hover.svg")
            .block-sign-up-option-description Als aanbieder

        .block-sign-up-option: a(href="{{ $ctrl.appConfigs.frontends.url_validator }}" target="_self").block-sign-up-option-inner
            .block-sign-up-option-img: div
                img.img-default(src="./assets/img/website/validator.svg")
                img.img-hover(src="./assets/img/website/validator-hover.svg")
            .block-sign-up-option-description Als beoordelaar

        .block-sign-up-option: a(href="{{ $ctrl.appConfigs.frontends.url_sponsor }}" target="_self").block-sign-up-option-inner
            .block-sign-up-option-img: div
                img.img-default(src="./assets/img/website/sponsor.svg")
                img.img-hover(src="./assets/img/website/sponsor-hover.svg")
            .block-sign-up-option-description Als sponsor

    .block-sign-up-footer
        .block-sign-up-footer-title Nog geen account?
        a(ui-sref="sign-up({from_login_page : 1})").block-sign-up-footer-button Inschrijven
