section.header.header__me
    .container
        .wrap_cs__1a
            h1 Welcome to Me

section
    .container
        .wrap_cs__2
            .row.flex-align
                .col-6.col-md-6
                    h2 Over Me
                    p e Me app is jouw digitale portemonnee en kassa. Je gebruikt Me om vouchers te bewaren of betalingen te verrichten. Daarnaast gebruik je Me om zonder wachtwoord in te loggen op Forus.
                    a(href="https://itunes.apple.com/nl/app/me-forus/id1422610676" target="_blank")
                        img(src="assets/img/dl_ios.svg" class="dl_buttons")
                    a(href="https://play.google.com/store/apps/details?id=io.forus.me" target="_blank")
                        img(src="assets/img/dl_android.svg" class="dl_buttons")
                .col-6.col-md-6.e-fb.holder
                    img(src="assets/img/image-me-01@3x.png" srcset="assets/img/image-me-01@3x.png 2x,assets/img/image-me-01@3x.png 3x" sizes="(max-width: 320px) 280px, (max-width: 480px) 440px,800px")
section.bg_gr
    .container   
        .wrap_cs__2
            .row.flex-align
                .col-6.col-md-6.holder
                    img(src="assets/img/image-me-02@3x.png" srcset="assets/img/image-me-02@3x.png 2x,assets/img/image-me-02@3x.png 3x" sizes="(max-width: 320px) 280px, (max-width: 480px) 440px,800px" class="bg_hn-1")
                .col-6.col-md-6
                    h3 Beheer vouchers
                    p  Heb je een voucher ontvangen vanuit Forus? Log dan in op Me om je voucher veilig mee te nemen, je saldo en transacties in te zien, en o§m de voucher eenvoudig te presenteren aan de aanbieder.
section
    .container           
        .wrap_cs__2
            .row.flex-align
                .col-6.col-md-6
                    h3 Accepteer betalingen
                    p  Ben je een aanbieder die is aangesloten op Forus? Dan heb je Me nodig om QR-codes te scannen en betalingen te kunnen ontvangen. Het is mogelijk om meerdere kassamedewerkers aan de zelfde organisatie toe te voegen.
                .col-6.col-md-6.e-fb.holder
                    img(src="assets/img/image-me-03@3x.png" srcset="assets/img/image-me-03@3x.png 2x,assets/img/image-me-03@3x.png 3x" class="bg_hn-2")
section.bg_gr
    .container        
        .wrap_cs__2
            .row.flex-align
                .col-6.col-md-6.holder
                    img(src="assets/img/image-me-04@3x.png" srcset="assets/img/image-me-04@3x.png 2x,assets/img/image-me-04@3x.png 3x" sizes="(max-width: 320px) 280px, (max-width: 480px) 440px,800px" class="bg_hn-3")
                .col-6.col-md-6.e-fb
                    h3 Login zonder wachtwoord
                    p  Met Me wordt het mogelijk om eenvoudig, zonder wachtwoord, in te loggen op Forus. Heb je een voucher ontvangen, of ben je medewerker bij een betrokken organisatie? Gebruik Me om de QR-code op de website te scannen en in te loggen op jouw omgeving.


//-.container-me
    .wrapper.wrapper_feature_one.bg_br
        .column
            img(src="assets/img/image-me-02@3x.png" srcset="assets/img/image-me-02@3x.png 2x,assets/img/image-me-02@3x.png 3x" sizes="(max-width: 320px) 280px, (max-width: 480px) 440px,800px")
        .column
            span
                h3 Beheer vouchers
                p  Heb je een voucher ontvangen vanuit Forus? Log dan in op Me om je voucher veilig mee te nemen, je saldo en transacties in te zien, en o§m de voucher eenvoudig te presenteren aan de aanbieder.
    .wrapper.wrapper_feature_two
        .column
            span
                h3 Accepteer betalingen
                p  Ben je een aanbieder die is aangesloten op Forus? Dan heb je Me nodig om QR-codes te scannen en betalingen te kunnen ontvangen. Het is mogelijk om meerdere kassamedewerkers aan de zelfde organisatie toe te voegen.
        .column
            img(src="assets/img/image-me-03@3x.png" srcset="assets/img/image-me-03@3x.png 2x,assets/img/image-me-03@3x.png 3x")
    .wrapper.wrapper_feature_three.bg_gr
        .column
            img(src="assets/img/image-me-04@3x.png" srcset="assets/img/image-me-04@3x.png 2x,assets/img/image-me-04@3x.png 3x" sizes="(max-width: 320px) 280px, (max-width: 480px) 440px,800px")
        .column
            span
                h3 Login zonder wachtwoord
                p  Met Me wordt het mogelijk om eenvoudig, zonder wachtwoord, in te loggen op Forus. Heb je een voucher ontvangen, of ben je medewerker bij een betrokken organisatie? Gebruik Me om de QR-code op de website te scannen en in te loggen op jouw omgeving.