section.header.header__me
    .container
        .wrap_cs__1a
            h1 Me-app

section
    .container
        .wrap_cs__2a
            .row.flex-align
                .col-6.col-md-6.tc-m
                    h2 Over Me
                    p De Me-app is een digitale portemonnee en kassa in één. Aanvragers gebruiken Me om tegoedbonnen  te bewaren. Aanbieders gebruiken Me om betalingen te verrichten. Daarnaast kunnen zij zonder wachtwoord inloggen op #[a(ui_sref="platform").txt_link.var Forus]. 
                .col-6.col-md-6.holder
                    img(src="assets/img/image-me-01@3x.png" srcset="assets/img/image-me-01@3x.png 2x,assets/img/image-me-01@3x.png 3x" sizes="(max-width: 320px) 280px, (max-width: 480px) 440px,800px")
section.bg_gr
    .container   
        .wrap_cs__2a
            .row.flex-align.mb-ro
                .col-6.col-md-6.holder
                    img(src="assets/img/image-me-02@3x.png" srcset="assets/img/image-me-02@3x.png 2x,assets/img/image-me-02@3x.png 3x" sizes="(max-width: 320px) 280px, (max-width: 480px) 440px,800px" class="bg_hn-1")
                .col-6.col-md-6
                    h3 Beheer tegoedbonnen
                    p  Heb je een tegoedbon ontvangen vanuit Forus? Log dan in op Me om je tegoed veilig mee te nemen, je saldo en transacties in te zien en om de tegoedbon eenvoudig te presenteren aan de aanbieder. 
section.of_hd
    .container           
        .wrap_cs__2a
            .row.flex-align
                .col-6.col-md-6
                    h3 Accepteer betalingen
                    p  Bied je producten of diensten aan via Forus? Dan heb je Me nodig om de QR-codes van consumenten te scannen en betalingen te ontvangen. Je kunt meerdere (kassa)medewerkers aan je organisatie toevoegen.
                .col-6.col-md-6.holder
                    img(src="assets/img/image-me-03@3x.png" srcset="assets/img/image-me-03@3x.png 2x,assets/img/image-me-03@3x.png 3x" class="bg_hn-2")
section.bg_gr
    .container        
        .wrap_cs__2a
            .row.flex-align.mb-ro
                .col-6.col-md-6.holder
                    img(src="assets/img/image-me-04@3x.png" srcset="assets/img/image-me-04@3x.png 2x,assets/img/image-me-04@3x.png 3x" class="bg_hn-3")
                .col-6.col-md-6.e-fb
                    h3 Log zonder wachtwoord in
                    p  Met Me kun je eenvoudig, zonder wachtwoord, inloggen op Forus. Heb je een tegoedbon ontvangen of werk je bij een aanbieder? Scan de QR-code op de website en log veilig in op jouw persoonlijke omgeving

section.of_hd
    .container
        .wrap_cs__2a.text-center
            .holder
                img(src="assets/img/image-me-05@3x.png" class="bg_hn-4")
                h3 Download Me!
                p  Heb je Me nog niet op je telefoon? Download de app en ervaar het gemak.
            //-a(href="{{ $root.appConfigs.me_app_link }}" target="_blank")
                img(src="./assets/img/icon-app/icon-app-me.svg" class="dl_buttons")
            a(href="{{ $root.appConfigs.ios_iphone_link }}" target="_blank")
                img(src="assets/img/dl_ios.svg" class="dl_buttons")
            a(href="{{ $root.appConfigs.android_link }}" target="_blank")
                img(src="assets/img/dl_android.svg" class="dl_buttons")

//-.container-me
    .wrapper.wrapper_feature_one.bg_br
        .column
            img(src="assets/img/image-me-02@3x.png" srcset="assets/img/image-me-02@3x.png 2x,assets/img/image-me-02@3x.png 3x" sizes="(max-width: 320px) 280px, (max-width: 480px) 440px,800px")
        .column
            span
                h3 Beheer vouchers
                p  Heb je een voucher ontvangen vanuit Forus? Log dan in op Me om je voucher veilig mee te nemen, je saldo en transacties in te zien, en o§m de voucher eenvoudig te presenteren aan de aanbieder.
    .wrapper.wrapper_feature_two
        .column
            span
                h3 Accepteer betalingen
                p  Ben je een aanbieder die is aangesloten op Forus? Dan heb je Me nodig om QR-codes te scannen en betalingen te kunnen ontvangen. Het is mogelijk om meerdere kassamedewerkers aan de zelfde organisatie toe te voegen.
        .column
            img(src="assets/img/image-me-03@3x.png" srcset="assets/img/image-me-03@3x.png 2x,assets/img/image-me-03@3x.png 3x")
    .wrapper.wrapper_feature_three.bg_gr
        .column
            img(src="assets/img/image-me-04@3x.png" srcset="assets/img/image-me-04@3x.png 2x,assets/img/image-me-04@3x.png 3x" sizes="(max-width: 320px) 280px, (max-width: 480px) 440px,800px")
        .column
            span
                h3 Login zonder wachtwoord
                p  Met Me wordt het mogelijk om eenvoudig, zonder wachtwoord, in te loggen op Forus. Heb je een voucher ontvangen, of ben je medewerker bij een betrokken organisatie? Gebruik Me om de QR-code op de website te scannen en in te loggen op jouw omgeving.
