section.header.header__platform
    .container
        .wrap_cs__1a
            h1 Platform Forus
section
    .container
        .wrap_cs__2
            .row.flex-align
                .col-6.col-md-6.e-fb
                    img(src="assets/img/demo-meedoen.png").stretched
                .col-6.col-md-6.e-fb
                    h2 Forus & Me
                    p Het systeem bestaat uit een combinatie tussen platform Forus en de mobiele applicatie Me. Het doel van het systeem is het (veilig) uitwisselen van waarde onder bepaalde voorwaarden. Het systeem is generiek opgezet en wordt in eerste instantie gebruikt om gemeentelijke diensten en regelingen te vereenvoudigen.
        .container.text-center    
            .cont_txt__b
                h2 Hoe het werk
                p Het systeem is gebaseerd op het idee dat een gebruiker vier generieke rollen kan innemen. Dit model maakt het mogelijk om gemakkelijk nieuwe toepassingen voor het systeem te bedenken. De rollen helpen bij het uitwerken van nieuwe pakketten, regelingen en use-cases. Het systeem is qua techniek en achterliggende concepten ingericht op schaalbaarheid. Elke gebruiker: aanvrager, aanbieder, sponsor en validator werkt met een eigen omgeving.
section
    .container
        .tab-content
            #panel1-video.tab-pane.fade.in.active
                .tab_video
                    video(id="player_tab_1" poster="assets/img/poster/aanvrager.gif")
                        source(src="assets/video/Aanvrager.mov" type="video/mp4")
                a.play_btn_link(href="#" )
            #panel2-video.tab-pane.fade
                .tab_video
                    video(id="player_tab_2" )
                        source(src="assets/video/Aanbieder.mov" type="video/mp4")
                a.btn_link(href="#" )
            #panel3-video.tab-pane.fade
                .tab_video
                    video(id="player_tab_3" )
                        source(src="assets/video/Sponsor.mov" type="video/mp4")
                a.play_btn_link(href="#" )
            #panel4-video.tab-pane.fade
                .tab_video
                    video(id="player_tab_4" )
                        source(src="assets/video/Validator.mov" type="video/mp4")
                a.play_btn_link(href="#" )
        .play_roles
            ul.nav.nav-tabs.roles.text-left
                li.role
                    a(data-toggle="tab" data-target="#panel1-video" id="#panel1")
                        .role_content
                            h4 Aanvrager
                            p die in aanmerking komt voor een uitkering
                            .play_btn_link(href="#" id="#panel1-video")
                                p.txt-link Bekijk de film
                                .play_btn
                                    include ../../../../resources/platform-general/assets/img/svg/play-arrow.svg
                                    include ../../../../resources/platform-general/assets/img/svg/pause.svg
                li.role
                    a(data-toggle="tab" data-target="#panel2-video" id="#panel2")
                        span.role_content
                            h4 Aanbieder
                            p waar het geld kan worden uitgegeven
                            .play_btn_link(href="#" id="#panel2-video")
                                p Bekijk de film
                                .play_btn
                                    include ../../../../resources/platform-general/assets/img/svg/play-arrow.svg
                                    include ../../../../resources/platform-general/assets/img/svg/pause.svg
                li.role
                    a(data-toggle="tab" data-target="#panel3-video" id="#panel3")
                        span.role_content
                            h4 Sponsor
                            p die het geld heeft en/of beheert
                            .play_btn_link(href="#" id="#panel3-video")
                                p Bekijk de film
                                .play_btn
                                    include ../../../../resources/platform-general/assets/img/svg/play-arrow.svg
                                    include ../../../../resources/platform-general/assets/img/svg/pause.svg
                li.role
                    a(data-toggle="tab" data-target="#panel4-video" id="#panel4")
                        span.role_content
                            h4 Validator
                            p die aanbieders en aanvragers goedkeurt
                            .play_btn_link(href="#" id="#panel4-video")
                                p Bekijk de film
                                .play_btn
                                    include ../../../../resources/platform-general/assets/img/svg/play-arrow.svg
                                    include ../../../../resources/platform-general/assets/img/svg/pause.svg

//-section
    .container
        .wrap_cs__2
            .row.flex-align
                .col-6.col-md-6.e-fb
                    img(src="assets/img/content-me.jpg")
                .col-6.col-md-6.e-fb
                    h2 Forus & Me
                    p Het kernproduct bestaat uit een combinatie tussen platform Forus en de mobiele applicatie Me. Het doel van het product is het uitwisselen van waarde onder bepaalde voorwaarden. Het systeem is generiek opgezet en wordt in eerste instantie gebruikt om gemeentelijke diensten en regelingen te vereenvoudigen, versnellen en kwalitatief te verbeteren.
                    a.txt_link.content-left(href="#" data-toggle="modal" data-target="#modalContact")
                        | Lees meer over de Me-app
                        include ../../../../resources/platform-general/assets/img/svg/baseline-arrow.svg 

section.header.header__stats-a
    .container
        .wrap_cs__1a
            h2 Statistieken
            .row.flexed
                .col-6.col-md-4.e-fb
                    .upper
                        include ../../../../resources/platform-general/assets/img/icon-citizen_w.svg
                        h4 Aanvragers
                        h1.boldest 3009
                .col-6.col-md-4.e-fb
                    .upper
                        include ../../../../resources/platform-general/assets/img/icon-winkelier_w.svg
                        h4 Totaal
                        h1.boldest 3090
                .col-6.col-md-4.e-fb
                    .upper
                        include ../../../../resources/platform-general/assets/img/icon-winkelier_w.svg
                        h4 Leveranciers
                        h1.boldest 259

section
    .container.text-center
        .wrap_cs__2
            .cont_txt__a
                h2 Ontwikkeling
                p Ben je benieuwd naar de ontwikkeling van het platform, heb je een vraag of wil je bijdrage leveren? Volg ons op #[a.txt_link.var Rocket.Chat] of #[a.txt_link.var Github].
                <br />
                //-p Bekijk voor de lange termijn planning onze #[a.txt_link.var Roadmap].