section.header.header__platform
    .container
        .wrap_cs__1a
            h1 Forus
section
    .container
        .wrap_cs__2
            .row.flex-align.mb-ro
                .col-6.col-md-6.e-fb
                    img(src="assets/img/demo-meedoen.png" class="mr-fx").stretched
                .col-6.col-md-6.e-fb
                    h2 Over Forus
                    p Forus is een platform dat sponsors, validators, aanbieders en aanvragers samenbrengt. De sponsor stelt pakketten beschikbaar voor de aanvrager. De aanvrager kiest een pakket en wacht op akkoord. Zodra de validator akkoord geeft, krijgt de aanvrager een tegoed. Dit tegoed kan hij of zij inwisselen bij een deelnemende aanbieder. De transactie verloopt via de #[a(ui-sref="me").txt_link.var Me-app].
        .container.text-center    
            .cont_txt__b
                h2 Hoe het werkt
                p Sponsors, aanbieders, aanvragers en validators kunnen inloggen op Forus. Zij komen dan in een persoonlijke omgeving, met hun eigen dashboard en functionaliteiten. Bekijk hieronder hoe het werkt en hoe het eruitziet: 

section
    .container
        .tab-content
            #panel1-video.tab-pane.fade.in.active
                .tab_video
                    video(id="player_tab_1" poster="assets/img/poster/aanvrager.gif")
                        source(src="assets/video/Sponsor.mov" type="video/mp4")
                a.play_btn_link(href="#" )
            #panel2-video.tab-pane.fade
                .tab_video
                    video(id="player_tab_2" )
                        source(src="assets/video/Validator.mov" type="video/mp4")
                a.btn_link(href="#" )
            #panel3-video.tab-pane.fade
                .tab_video
                    video(id="player_tab_3" )
                        source(src="assets/video/Aanvrager.mov" type="video/mp4")
                a.play_btn_link(href="#" )
            #panel4-video.tab-pane.fade
                .tab_video
                    video(id="player_tab_4" )
                        source(src="assets/video/Aanbieder.mov" type="video/mp4")
                a.play_btn_link(href="#" )
        .play_roles
            ul.nav.nav-tabs.roles.text-left
                li.role
                    a(data-toggle="tab" data-target="#panel1-video" id="#panel1")
                        .role_content
                            h4 Sponsors
                            p Organisaties die fondsen uitgeven. Zij bepalen de voorwaarden, geven pakketten uit en kiezen geschikte aanbieders.
                            .play_btn_link.flexed(href="#" id="#panel1-video")
                                p.btn_link.txt_link.content-left Bekijk de video
                                .play_btn
                                    include ../../../../resources/platform-general/assets/img/svg/play-arrow.svg
                                    include ../../../../resources/platform-general/assets/img/svg/pause.svg
                li.role
                    a(data-toggle="tab" data-target="#panel4-video" id="#panel4")
                        span.role_content
                            h4 Aanbieders
                            p Winkels, verenigingen en maatschappelijke organisaties die producten en diensten via een pakket aanbieden.
                            .play_btn_link(href="#" id="#panel4-video")
                                p.btn_link.txt_link.content-left Bekijk de video
                                .play_btn
                                    include ../../../../resources/platform-general/assets/img/svg/play-arrow.svg
                                    include ../../../../resources/platform-general/assets/img/svg/pause.svg
                li.role
                    a(data-toggle="tab" data-target="#panel3-video" id="#panel3")
                        span.role_content
                            h4 Aanvragers
                            p Individuen die een pakket aanvragen. Na goedkeuring ontvangen ze een tegoedbon om uit te geven bij een aanbieder.
                            .play_btn_link.flexed(href="#" id="#panel3-video")
                                p.btn_link.txt_link.content-left Bekijk de video
                                .play_btn
                                    include ../../../../resources/platform-general/assets/img/svg/play-arrow.svg
                                    include ../../../../resources/platform-general/assets/img/svg/pause.svg
                li.role
                    a(data-toggle="tab" data-target="#panel2-video" id="#panel2")
                        span.role_content
                            h4 Validators
                            p Specialisten die een aanvraag valideren. Zij toetsen de criteria waaraan de aanvraag moet voldoen en wijzen de tegoeden toe.
                            .play_btn_link.flexed(href="#" id="#panel2-video")
                                p.btn_link.txt_link.content-left Bekijk de video
                                .play_btn
                                    include ../../../../resources/platform-general/assets/img/svg/play-arrow.svg
                                    include ../../../../resources/platform-general/assets/img/svg/pause.svg



section
    .container.text-center
        .wrap_cs__2
            .cont_txt__a
                h2 Software-Ontwikkeling
                p Het platform wordt continu verbeterd. Niet alleen door onze teamleden, maar ook door enthousiaste bijdragers. Ben je benieuwd naar de ontwikkeling of wil je een bijdrage leveren? Volg ons op #[a(href="https://discord.forus.io" target="_blank").txt_link.var Discord] of #[a(href="https://github.com/teamforus" target="_blank").txt_link.var Github].
