section.header.header__platform
    .container
        h1 Platform
section
    .container
        .row.flex-align
            .col-6.col-md-6.e-fb
                img(src="assets/img/laptop-kindpakket.jpg")
            .col-6.col-md-6.e-fb
                h2 Forus & Me
                p Het kernproduct bestaat uit een combinatie tussen platform Forus en de mobiele applicatie Me. Het doel van het product is het uitwisselen van waarde onder bepaalde voorwaarden. Het systeem is generiek opgezet en wordt in eerste instantie gebruikt om gemeentelijke diensten en regelingen te vereenvoudigen, versnellen en kwalitatief te verbeteren.
section
    .container
        .tab-content
            #panel1-video.tab-pane.fade.in.active
                .tab_video
                    video(id="player_tab_1" poster="assets/img/poster/aanvrager.gif")
                        source(src="assets/video/Aanvrager.mov" type="video/mp4")
                a.play_btn_link(href="#" )
            #panel2-video.tab-pane.fade
                .tab_video
                    video(id="player_tab_2" )
                        source(src="assets/video/Aanbieder.mov" type="video/mp4")
                a.btn_link(href="#" )
            #panel3-video.tab-pane.fade
                .tab_video
                    video(id="player_tab_3" )
                        source(src="assets/video/Sponsor.mov" type="video/mp4")
                a.play_btn_link(href="#" )
            #panel4-video.tab-pane.fade
                .tab_video
                    video(id="player_tab_4" )
                        source(src="assets/video/Validator.mov" type="video/mp4")
                a.play_btn_link(href="#" )
        .play_roles
            ul.nav.nav-tabs.roles.text-left
                li.role
                    a(data-toggle="tab" data-target="#panel1-video" id="#panel1")
                        .role_content
                            h3 Aanvrager
                            p die in aanmerking komt voor een uitkering
                            .play_btn_link(href="#" id="#panel1-video")
                                p.txt-link Bekijk de film
                                .play_btn
                                    include ../../../../resources/platform-general/assets/img/svg/play-arrow.svg
                                    include ../../../../resources/platform-general/assets/img/svg/pause.svg
                li.role
                    a(data-toggle="tab" data-target="#panel2-video" id="#panel2")
                        span.role_content
                            h3 Aanbieder
                            p waar het geld kan worden uitgegeven
                            .play_btn_link(href="#" id="#panel2-video")
                                p Bekijk de film
                                .play_btn
                                    include ../../../../resources/platform-general/assets/img/svg/play-arrow.svg
                                    include ../../../../resources/platform-general/assets/img/svg/pause.svg
                li.role
                    a(data-toggle="tab" data-target="#panel3-video" id="#panel3")
                        span.role_content
                            h3 Sponsor
                            p die het geld heeft en/of beheert
                            .play_btn_link(href="#" id="#panel3-video")
                                p Bekijk de film
                                .play_btn
                                    include ../../../../resources/platform-general/assets/img/svg/play-arrow.svg
                                    include ../../../../resources/platform-general/assets/img/svg/pause.svg
                li.role
                    a(data-toggle="tab" data-target="#panel4-video" id="#panel4")
                        span.role_content
                            h3 Validator
                            p die aanbieders en aanvragers goedkeurt
                            .play_btn_link(href="#" id="#panel4-video")
                                p Bekijk de film
                                .play_btn
                                    include ../../../../resources/platform-general/assets/img/svg/play-arrow.svg
                                    include ../../../../resources/platform-general/assets/img/svg/pause.svg

section
    .container
        .row.flex-align
            .col-6.col-md-6.e-fb
                img(src="assets/img/laptop-kindpakket.jpg")
            .col-6.col-md-6.e-fb
                h2 Forus & Me
                p Het kernproduct bestaat uit een combinatie tussen platform Forus en de mobiele applicatie Me. Het doel van het product is het uitwisselen van waarde onder bepaalde voorwaarden. Het systeem is generiek opgezet en wordt in eerste instantie gebruikt om gemeentelijke diensten en regelingen te vereenvoudigen, versnellen en kwalitatief te verbeteren.

section.gradient.stretched
    .container.text-center
        h2 Team
        p Het team bestaat uit een jonge groep enthousiaste en harde werkers. We werken samen met creatieve denkers, programmeurs, designers, managers en software-architecten om tot nieuwe en passende oplossingen te komen. Wij geloven in de kracht en diversiteit van mensen. Iedereen kan een waardevolle bijdrage leveren, ook bij het aanpakken van maatschappelijke uitdagingen. <br /><br /> Ontwikkeling is voor ons een belangrijke kernwaarde. We geven elkaar de ruimte om te groeien, zodat het team continu verbeterd. Dit geldt niet alleen voor ons, maar ook voor de optimalisatie van onze producten. 

section
    .container.text-center
        h2 Ontwikkeling
        p Het kernproduct is continu in ontwikkeling. De recente ontwikkelingen kan je hieronder volgen. Heb je een vraag over onze ontwikkeling of wil je bijdragen aan het product of een project? Volg ons op #[a.txt_link.var Rocket.Chat] of #[a.txt_link.var Github]. 