section.container
  .wrap_cs__2
    h2 Privacybeleid Forus & Me-app
    p Dit privacybeleid is van toepassing op de diensten van Forus Operations B.V. ('Forus', 'we', 'wij', 'ons' of 'onze').

    p Indien u gebruik maakt van onze mobiele en/of applicatie, hebben wij een aantal gegevens van u nodig zodat u onze producten en diensten zo optimaal mogelijk kunt gebruiken. Wij zijn er van bewust dat u vertrouwen stelt in ons. Wij zien het dan ook als onze verantwoordelijkheid om uw privacy te beschermen. Wij respecteren de privacy van onze gebruikers en dragen er zorg voor dat de persoonlijke informatie die u ons verschaft vertrouwelijk wordt behandeld.

    p Op deze pagina laten we u weten welke gegevens we verzamelen als u onze mobiele applicatie gebruikt en waarom we deze gegevens verzamelen. Zo snapt u precies hoe wij werken.

    p U dient zich ervan bewust te zijn dat Forus niet verantwoordelijk is voor het privacybeleid van andere sites en bronnen. Door gebruik te maken van deze applicatie geeft u aan het Privacybeleid te accepteren.

section.container
  p
    strong Definities

  ul
    li Privacybeleid: dit privacybeleid
    li Gebruiker: iedere gebruiker van de mobiele applicatie
    li Mobiele applicatie: Me

section.container
  p
    strong Gebruik van onze diensten

  p Wanneer u zich aanmeldt voor onze mobiele applicatie, vragen we u om persoonsgegevens te verstrekken. Deze gegevens worden gebruikt om de dienst uit te kunnen voeren. De gegevens worden opgeslagen op de eigen beveiligde servers van Forus. Wij zullen deze gegevens niet combineren met andere persoonlijke gegevens waarover wij beschikken.

  p
    strong Persoonsgegevens

  p Een persoonsgegeven betreft informatie over een geïdentificeerde of identificeerbare natuurlijke persoon. Wij kunnen de volgende gegevens van u vragen en verwerken: naam, achternaam, e-mailadres, telefoonnummer, IBAN-nummer.

  p U bent nooit verplicht om uw persoonsgegevens te verstrekken. Echter, indien u niet de persoonsgegevens verstrekt die nodig zijn om onze mobiele applicatie te gebruiken, kunnen wij de dienst niet uitvoeren en kunt u geen gebruik maken van onze mobiele applicatie.

section.container
  p
    strong Doeleinden

  p Wij verwerken de persoonsgegevens van een gebruiker op basis van een wettelijke grondslag, zoals: toestemming en de uitvoering van een overeenkomst. Indien u om diensten of producten verzoekt, verwerken wij uw persoonsgegevens om aan dat verzoek te kunnen voldoen, voor de uitvoering van een overeenkomst.

section.container
  p
    strong Minderjarigen

  p Als u jonger dan 16 jaar bent, heeft u toestemming nodig van uw ouder of voogd om de persoonsgegevens te verstrekken aan ons. De ouder of voogd kan in dat geval ook altijd de aan ons verstrekte gegevens aanpassen of verwijderen.

section.container
  p
    strong Doorgifte aan derden

  p Wij geven uw persoonsgegevens niet door aan derden tenzij er sprake is van de volgende gevallen:

  ul
    li De doorgifte geschiedt aan een door ons voor de in dit Privacybeleid opgesomde doeleinden ingeschakelde verwerker, met welke verwerker wij een overeenkomst hebben gesloten die onder andere erop ziet dat de verwerker voldoende waarborgen biedt ten aanzien van technische en organisatorische beveiligingsmaatregelen met betrekking tot de te verrichten verwerkingen; of
    li Wij op grond van wettelijke verplichting gehouden zijn persoonsgegevens door te geven aan bevoegde instanties; of
    li Wij voor de uitvoering van de overeenkomst gebruikmaken van derde dienstverleners, die namens ons bepaalde diensten uitvoeren, zoals IT-diensten of betalingsdiensten.

section.container
  p
    strong Rechten van gebruikers

  p U heeft altijd het recht op inzage, rectificatie en verwijdering van uw persoonsgegevens, overeenkomstig het bepaalde in de Algemene Verordening Gegevensbescherming.

section.container
  p
    strong Wijziging in het privacybeleid

  p Wij behouden ons het recht om dit Privacybeleid aan te passen. Elke aanpassing zal op deze pagina bekend worden gemaakt. We adviseren u dan ook deze pagina in de gaten te houden voor de wijzigingen.

  p Het huidige Privacybeleid is bijgewerkt op 06-03-2023.

section.container
  p
    strong Vragen en feedback

  p Indien u gebruikt wilt maken van een van de rechten genoemd in dit Privacybeleid, of indien u vragen heeft over dit Privacybeleid kunt u ons bereiken op feedback@forus.io of bellen naar 0085-0043387.
