.section-research
    .container: .wrap_cs__2a
        .section-research-images
            .section-research-image
                img(src="assets/img/logo-SNN.png", alt="SNN")    
            .section-research-image
                img(src="assets/img/logo-EFRO.png", alt="het Europees Fonds voor regionale ontwikkeling")

        h2 Recente onderzoeken
        
        p.section-research-description
            | Het platform is continu in ontwikkeling. De afgelopen jaren hebben we verschillende onderzoeken uitgevoerd. #[br]
            | #[br]
            | #[strong Innoveren VIA ontwikkelingsprojecten] #[br]
            | In 2019 en 2021 heeft Forus 2 VIA ontwikkelingsprojecten uitgevoerd; Generiek Sociaal Domein Platform en Conbavex. #[br]#[br]
            | #[strong Generiek Sociaal Domein Platform] #[br]
            | Forus merkt dat er momenteel een enorme versnippering is binnen het sociaal domein: elke gemeente of stichting heeft zijn eigen webshop waarop sociale regelingen worden aangeboden, alle met eigen voorwaarden en processen. Deze fragmentatie maakt het onoverzichtelijk en verwarrend voor doelgroepen om erachter te komen op welke subsidies zij aanspraak kunnen maken. Dit vormt dan ook een wezenlijke barrière. #[br]
            | #[br]
            | Forus wil deze barrière afbreken door het ontwikkelen van een Generiek Sociaal Domein Platform, één centraal platform naar het bol.com-principe waarop voor inwoners een totaaloverzicht is van alle sociale regelingen en waarop zij eenvoudig deze regelingen kunnen aanvragen. #[br]
            | #[br]
            | Tevens wil Forus het hiermee mogelijk maken om, geautomatiseerd op basis van de specifieke situatie van de inwoner, de relevante subsidies eenvoudig te presenteren. Door het centraliseren en vergemakkelijken van het aanvraagproces, beoogt Forus middels dit project een stimulering van positieve sociale impact te realiseren. Het project is gesubsidieerd door SNN en het Europees Fonds voor regionale ontwikkeling.#[br]#[br]
            | #[strong Conbavex] #[br]
            | Forus heeft een ontwikkelingsproject uitgevoerd, genaamd Conbavex – Condition-based Value Exchange. Het project richtte zich op de schaalbaarheid, toegankelijkheid en veiligheid van het platform. Het project is gesubsidieerd door SNN en het Europees Fonds voor regionale ontwikkeling. #[br]
            | #[br]
            | De wens was om vanuit verschillende rollen een veilig en betrouwbaar platform van waarde-uitwisseling te realiseren voor (overheids)regelingen. In dit project zijn deze rollen bij regelingen op een zodanige manier op het platform betrokken dat deze allen met elkaar communiceren. De administratieve processen zijn geautomatiseerd zodat er daadwerkelijk waarde wordt uitgekeerd. #[br]#[br]
            | #[strong Small Business Innovation Research] #[br]
            | In opdracht van de Rijksdienst Voor Ondernemend Nederland (RVO), Ministerie van Binnenlandse Zaken en de Provincie Groningen zijn er twee Small Business Innovation Research (SBIR) trajecten uitgevoerd. #[br]#[br]
