.container-story
    .wrapper.wrapper_story
        .column
            img(src="assets/img/zh_logo.png")
            span
                h4 Klantverhaal
                h2 Gemeente Zuidhorn          
    .wrapper.wrapper_holder
        .column_xl
            span
                h3 Kindpakket: Goed bedoeld, onhandig uitgevoerd
                p Via het Kindpakket verstrekt gemeente Zuidhorn een budget van €300 per kind voor gezinnen die in armoede leven. Dit geld kan besteed worden bij lokale winkels en verenigingen zodat ook arme kinderen mee kunnen doen op sociaal gebied door te sporten, culturele activiteiten bij te wonen en schoolspullen te kunnen betalen. Maar, zo mooi als dit uitgangspunt is, zo omslachtig dat het uitkeringssysteem erachter was.
                p Voordat het Kindpakket via Forus liep bestond het uit drie waardebonnen die de minima bij drie winkels in de gemeente konden besteden. Dit was erg onhandig, vertellen gemeenteambtenaren Marleen en Margrieta, want eerst moesten ze op de winkeliers wachten tot alle bonnen binnen waren en daarna moesten de minima deze op specifieke tijden bij het gemeentehuis komen ophalen. Daarnaast hadden ze geen idee in hoe en of deze bonnen besteed werden, want het geld keerden ze van te voren al aan de winkeliers uit.
        .column_sidebar_bg
            span
                ul
                    li
                        p   
                            br
                            strong  Organisatie
                            br
                            | Gemeente Zuidhorn
                    li
                        p
                            strong Aantal inwoners
                            br
                            | 18.000
                    li(ui-sref="kindpakket")
                        p   
                            strong Gebruikte regeling
                            br
                            a.paragraph-text-small(href="#")
                                | Kindpakket
                    li
                        p
                            strong Aantal ontvangers
                            br
                            | 200 kinderen
    .wrapper.wrapper_quote
        .column
            img(src="assets/img/zh_logo.png")
            span.blue
                h3 “Met Forus zet je de eerste stap naar decentralisatie.”
                h4 Erwin van der Maesen de Sombreff
                h5 - Hoofd ruimte en welzijn.
    .wrapper.wrapper_reason
        .column
            span
                h2 Kindpakket via Forus
                p.text-left <b>De gemeente</b> verzorgt het budget, stelt de criteria op waaraan inwoners moeten voldoen en controleert de gegevens. Daarnaast controleert de gemeente of winkels, verenigingen en producten/diensten in aanmerking komen voor het Kindpakket.
                p.text-left <b>Inwoners</b> die aan de gestelde criteria voldoen activeren zelf hun Kindpakket. Vervolgens kunnen ze op het platform Forus de aangesloten winkels en verenigingen vinden en hun budget en transacties inzien.
                p.text-left <b>Winkeliers</b> dienen zelf een verzoek in om deel te nemen aan het Kindpakket. Na goedkeuring van de gemeente kunnen ze hun producten en/of diensten op het Forus platform aanbieden en hun eigen profiel beheren.
    .wrapper.wrapper_reason
        .column
            img(src="assets/img/shape.svg" class="quote_img")
            span.blue.text-center
                h3 “Vroeger had ik gedoe met gemeentecoupons, nu staat het geld binnen een dag op mijn rekening"
                h5 Jannes Bolt, Rijwielhandel Kuis
    .wrapper.wrapper_reason
        .column
            span
                h3 Eerste resultaten
                p.text-left In de regel wordt de aanmeldprocedure op het platform binnen enkele minuten doorlopen. Inmiddels zijn er 12 lokale ondernemers uit Zuidhorn bij Forus aangesloten waarvan één meteen al aangeeft dat meedoen op het platform "omzet verhogend" werkt.
                p.text-left Ook de inwoners zijn erg te spreken over het nieuwe platform. Uit onze enquête blijkt dat Kindpakket gebruikers vooral de simpele betaling met de QR-code erg waarderen omdat ze nu niet meer aan hun bonnetjes hoeven te denken. Daarnaast zijn ze "dankbaar met alle mogelijkheden die ze krijgen" via het platform waardoor ze hun kinderen blij kunnen maken met producten die ze zonder het Kindpakket niet kunnen geven.
    .wrapper.wrapper_reason
        .column
            span
                ul
                    li
                        h2 8,4
                        p   Winkeliers
                    li 
                        .arrow_back
                    li
                        h2 Enquête
                        p   Gemiddelde score
                    li
                        .arrow_forward
                    li
                        h2 8,5
                        p   Inwoners
    .wrapper.wrapper_content
        .column
            span
                h3 Effect op de gemeente
                p Waar gemeenteambtenaren Marleen en Margrieta  voorheen een omslachtige administratieve taak hadden, staan ze nu vooraan bij de goedkeuring van nieuwe ondernemers op het platform en leggen ze meteen contact zodra ze zien dat inwoners hun code niet activeren. Ook hebben ze gemerkt dat door de digitale QR-code het geld nu direct bij de kinderen terecht komt en niet in de algemene huishoudpot.
        .column
            .img_zh
    .wrapper.wrapper_variable
        .column
            span
                h3 Erkenning Kindpakket
                p.text-left Met de innovatie van Forus is het vernieuwde Kindpakket niet onopgemerkt gebleven. Onlangs werd het Kindpakket uitgeroepen tot "Beste ICT-project bij de Overheid 2018" op basis van de "toegevoegde waarde op het gebied van maatschappelijk belang" en de brede toepasbaarheid van het platform.
                p.text-left Eerder datzelfde jaar won Zuidhorn ook de GemeentePioniers Award 2018 waarbij het vernieuwde Kindpakket erkent werd als "het beste, meest innovatieve en meest maatschappelijke voorbeeld van digitale dienstverlening".
            span
                ul
                    li
                        img(src="assets/img/logo-gemeentepioniers.png" class="media_1")
                        p
                            strong  Gemeente Pioneers
                            br
                    li
                        img(src="assets/img/logo-computable-awards.jpg" class="media_2")
                        p
                            strong Computable awards
                            br
                    li
                        img(src="assets/img/logo_rvo.png" class="media_3")  
                        p
                            strong RVO
                            br
    .wrapper.wrapper_holder
        .column_sidebar
            span
                h3.hide-lg Kindpakket in de media
            .img_in
        .column_lr
            span
                h3.hide-sm Kindpakket in de media
                p Ook heeft de innovatie bij gemeente Zuidhorn aandacht van de media gekregen. Tijdens een interview op EenVandaag vertelt fietshandelaar Jannes dat het platform "wel heel erg simpel" werkt. "Het zou wel makkelijk zijn als iedereen zo kon betalen”, want betalen met de QR-code gaat "nog sneller dan pinnen".
                p Voor De Groene Amsterdammer inspireerde het vernieuwde Kindpakket een uitgebreid artikel over decentralisatie. "Nadat eerst een hoop zorgtaken van de rijksoverheid naar de gemeenten gingen," schrijft Coen van de Ven, wordt in Zuidhorn "zelfs een zorgtaak gedecentraliseerd naar de burgers".
            .img_box
                .media_one
                .media_two
                .media_three
                .media_four
    .wrapper.wrapper_variable
        .column
            span.full-width
                h3 Een kritische blik
                p.text-left Ondanks alle positieve aandacht is het belangrijk om kritisch te blijven. Door haar affiniteit met innovatie was Marleen meteen enthousiast, maar Margrieta zag voornamelijk beren op de weg. Deze dynamiek is echter essentieel gebleken, want samen kwamen ze uit op een gulden middenweg. Nu ze dit proces samen doorlopen zijn hebben ze een kritische blik ontwikkeld op het gefragmenteerde subsidielandschap. Met de nieuwe mogelijkheden die het platform biedt, zouden ze naast het Kindpakket ook graag andere gemeentelijke subsidies geautomatiseerd zien. Ook is de potentie om fondsen buiten de gemeente op het platform aan te sluiten duidelijk geworden. Zo kan Forus als een soort alternatieve bankrekening functioneren, speculeren de dames verder, met een varriërend budget voor iedere subsidie ontvanger.
    //-.wrapper.wrapper_full_image
    .wrapper.wrapper_content
        .column.mb-sw
            span
                h3 Toekomstperspectief
                p Dus, wat voorheen onnodig gecompliceerd en tijdrovend was, gaat steeds meer plaatsvinden tussen burgers, ondernemers en zorgverleners met minimale tussenkomst van de gemeente. 
                p "Je moet bereid zijn je eigen positie te herzien" beaamt Wethouder van Economie en Innovatie Fred Stol. "We zien de wereld heel snel veranderen en de overheid is al lang niet meer leidend. Wij worden stapsgewijs onderdeel van een netwerk in plaats van dat we daar vanuit een ivoren toren op neerkijken". Met Forus kan iedereen deel worden van dit netwerk.
        .column.mb-sw
            .img_em
    .wrapper.wrapper_quote
        .column
            span
                h3 Ook geïnteresseerd in het kindpakket voor uw gemeente?
                span.txt_link(ui-sref="kindpakket")
                        span Leer meer over het kindpakket
                        include ../../../../resources/platform-general/assets/img/svg/baseline-arrow.svg 
