section.header.header__cs-story
    .container
        h1 Klantverhaal:<br />Gemeente Zuidhorn

section
    .container
        .row.wrap_cs__2.flexed
            .col-7.col-md-7.e-fb
                h2 Kindpakket Zuidhorn
                p Gemeente Zuidhorn verstrekt via het Kindpakket een budget van €300 per kind aan gezinnen die in armoede leven. Dit geld wordt bij lokale winkels en verenigingen zodat ook arme kinderen mee kunnen doen op sociaal gebied. Ze kunnen sporten, culturele activiteiten bijwonen en schoolspullen kopen.
                h3 Knelpunten oude situatie
                p Voordat het Kindpakket via Forus werd uitgegeven, bestond de regeling uit drie waardebonnen die minima bij drie winkels in Zuidhorn konden besteden. Een tijdrovend proces, vertellen gemeenteambtenaren Marleen en Margrieta. Eerst moesten ze op de winkeliers wachten totdat alle bonnen binnen waren. Minima konden deze bonnen vervolgens op specifieke tijden bij het gemeentehuis ophalen. Het geld werd van te voren aan de winkeliers uitgekeerd. Hierdoor is het niet bekend hoe de bonnen werden besteed.
            .col-5.col-md-5.e-fb.gradient.grad-var
                ul: h3 Statistieken
                    li: b Organisatie
                        p +31 (0)6 23 90 51 19
                    li: b Aantal inwoners
                        p 18.000
                    li: b Gebruikte regeling
                        p Kindpakket
                    li: b Aantal ontvangers
                        p 200 kinderen
                    li: b Webshop
                        p https://zuidhorn.forus.io

section
    .container
        .col-vr
            .quote.gradient-border
                h3 Met Forus zet je de eerste stap naar decentralisatie.<br />
                p Erwin van der Maesen de Sombreff -<br />Hoofd ruimte en welzijn. 
section
    .container.text-center.wrap_cs__2
            h2 Hoe werkt het?
            .row.flexed
                .col-6.col-md-4
                    .upper
                        include ../../../../resources/platform-general/assets/img/icon-municipality.svg
                        h3 Gemeente
                        p Het Kindpakket ondersteunt gezinnen met kinderen in armoede. De kinderen krijgen een kans om mee te doen met leeftijdsgenootjes.. Denk aan schoolmaterialen, sportspullen, kleding, zwemlessen etc. 
                .col-6.col-md-4
                    .upper
                        include ../../../../resources/platform-general/assets/img/icon-citizen.svg
                        h3 Inwoner
                        p Met de Meedoen-regeling kunnen mensen met een laag inkomen meedoen met sociale, sportieve, maatschappelijke en/of culturele activiteiten. 
                .col-6.col-md-4
                    .upper
                        include ../../../../resources/platform-general/assets/img/icon-winkeliers.svg
                        h3 Winkelier
                        p Het kerstpakket biedt medewerkers de mogelijkheid om zelf een gewenst kerstpakket uit te kiezen. Het kerstpakket is te besteden bij (lokale) ondernemers en goede doelen. 

section.header.header__stats-a
    .container
        h2 Eerste resultaten
        .row.flexed
            .col-6.col-md-4.e-fb
                .upper
                    include ../../../../resources/platform-general/assets/img/icon-citizen_w.svg
                    h4 Inwoners
                    h1.boldest 8.6  
            .col-6.col-md-4.e-fb.self-align
                .upper
                    h3 Gemiddelde score  enquête 
            .col-6.col-md-4.e-fb
                .upper
                    include ../../../../resources/platform-general/assets/img/icon-winkelier_w.svg
                    h4 Winkeliers
                    h1.boldest 8.4
                    

section
    .wrap_cs__2
        .container
            .col-vr
                .quote.gradient-border
                    h3 Met Forus zet je de eerste stap naar decentralisatie.<br />
                    p Erwin van der Maesen de Sombreff -<br />Hoofd ruimte en welzijn. 
            .row.flex-align.pull-down
                .col-6.col-md-6
                    img(src="assets/img/content-effect.jpeg").stretched
                .col-6.col-md-6
                    h2 Effect op de gemeente
                    p Waar gemeenteambtenaren Marleen en Margrieta voorheen een administratieve taak hadden, staan ze nu vooraan bij de goedkeuring van nieuwe ondernemers op het platform en leggen ze meteen contact zodra ze zien dat inwoners hun code niet activeren. Ook hebben ze gemerkt dat door de digitale QR-code het geld nu direct bij de kinderen terecht komt en niet in de algemene huishoudpot.

section.gradient
    .wrap_cs__2
        .container.text-center
            h2 Erkenning
            .row.flexed.pull-down
                .col-6.col-md-4.e-fb
                    .upper
                        h3 GemeentePioniers
                        p Zuidhorn heeft de GemeentePioniers Award 2018 gewonnen. Het vernieuwde Kindpakket werd erkent als  "het beste, meest innovatieve en meest maatschappelijke voorbeeld van digitale dienstverlening". 
                .col-6.col-md-4.e-fb
                    .upper
                        h3 Computable Awards
                        p Het Kindpakket is door Computable uitgeroepen tot  "Beste ICT-project bij de Overheid 2018" op basis van de "toegevoegde waarde op het gebied van maatschappelijk belang" en de brede toepasbaarheid van het platform.
                .col-6.col-md-4.e-fb
                    .upper
                        h3 SBIR competitie RVO
                        p Het Kindpakket is één van de winnende concepten van de Groningse SBIR blockchain-competitie. Het doel is om met inzet van blockchain-technologie problemen op te lossen op het gebied van overheidsdiensten, energie en gezondheidszorg.

section
    .container
        .wrap_cs__2
            .row.flex-align
                .col-6.col-md-6
                    img(src="assets/img/content-media.jpg").pull-right
                .col-6.col-md-6
                    h2 In de media
                    p De innovatie bij de gemeente Zuidhorn heeft aandacht van de media gekregen. Tijdens een interview op EenVandaag vertelt fietshandelaar Jannes dat het platform "wel heel erg simpel" werkt. "Het zou wel makkelijk zijn als iedereen zo kon betalen”, want betalen met de QR-code gaat "nog sneller dan pinnen".<br /><br /> Voor De Groene Amsterdammer inspireerde het vernieuwde Kindpakket een uitgebreid artikel over decentralisatie. "Nadat eerst een hoop zorgtaken van de rijksoverheid naar de gemeenten gingen," schrijft Coen van de Ven, wordt in Zuidhorn "zelfs een zorgtaak gedecentraliseerd naar de burgers".
                    .wrapped
                        .cupa
                            img.e-fb(src="assets/img/logo-amsterdammer.png", alt="")
                        .cupa
                            img.e-fb(src="assets/img/logo-binnenlandsbestuur.png", alt="")
                        .cupa.cleared
                            img.e-fb(src="assets/img/logo-eenvandaag.png", alt="")
                        .cupa
                            img.e-fb(src="assets/img/logo-npo.png", alt="")                             
section.gradient
    .wrap_cs__2
        .container.text-center
            h2 Een kritische blik
            p Ondanks alle positieve aandacht is het belangrijk om kritisch te blijven. Door haar affiniteit met innovatie was Marleen meteen enthousiast, maar Margrieta zag voornamelijk beren op de weg. Deze dynamiek is echter essentieel gebleken, want samen kwamen ze uit op een gulden middenweg. Nu ze dit proces samen doorlopen zijn hebben ze een kritische blik ontwikkeld op het gefragmenteerde subsidielandschap. Met de nieuwe mogelijkheden die het platform biedt, zouden ze naast het Kindpakket ook graag andere gemeentelijke subsidies geautomatiseerd zien. Ook is de potentie om fondsen buiten de gemeente op het platform aan te sluiten duidelijk geworden. Zo kan Forus als een soort alternatieve bankrekening functioneren, speculeren de dames verder, met een variërend budget voor iedere subsidie ontvanger.<br /><br />Wethouder Bert Nederveen is vanaf het begin enthousiast en kritisch: "De nieuwe technologie biedt veel mogelijkheden en is flexibel" maar, benadrukt hij: “een toepassing die gebruikt wordt voor zo’n kwetsbare doelgroep moet goed werken en mag geen kinderziektes vertonen.” vanuit zijn ICT achtergrond geeft hij aan dat bij nieuwe technologie vaak veel mogelijkheden worden beloofd, maar dat in de praktijk de problemen vaak overheersen. Daarom zegt hij: “prima dat we van innovatieve technologie gebruik gaan maken, maar het moet wel goed werken en beheersbaar zijn.” Hij is daarin niet teleurgesteld en is nu ook "enthousiast over de verdere ontwikkeling van ons mooie en belangrijke Kindpakket." 

section
    .wrap_cs__2
        .container
            .row.flex-align
                .col-6.col-md-6.e-fb
                    img(src="assets/img/content-toekomst.jpg").stretched
                .col-6.col-md-6.e-fb
                    h2 Kindpakket Zuidhorn
                    p Dus, wat voorheen onnodig gecompliceerd en tijdrovend was, gaat steeds meer plaatsvinden tussen burgers, ondernemers en zorgverleners met minimale tussenkomst van de gemeente. "Je moet bereid zijn je eigen positie te herzien" beaamt Wethouder van Economie en Innovatie Fred Stol. "We zien de wereld heel snel veranderen en de overheid is al lang niet meer leidend. Wij worden stapsgewijs onderdeel van een netwerk in plaats van dat we daar vanuit een ivoren toren op neerkijken". Met Forus kan iedereen deel worden van dit netwerk.
section
    .container.text-center
        .cta-area
            h2 Gemeentelijke regeling: Kindpakket
            p Via het kernproduct wordt de gemeentelijke regeling Kindpakket op een effectieve en gebruiksvriendelijke manier uitgegeven. De regeling biedt ondersteuning voor gezinnen met kinderen in armoede.
            a.main_button(href="#" data-toggle="modal" data-target="#modalContact") Neem contact op
