.block.block-funds {
    --funds-columns: 3;
    --funds-gap: 25px;
    --funds-content-padding: 20px 20px;
    --funds-title-font: 600 24px/36px var(--base-font);
    --funds-title-color: var(--products-title-color);
    --funds-title-hover-color: var(--products-title-hover-color);
    --funds-text-font: 400 16px/24px var(--base-font);
    --funds-text-color: var(--products-text-color);

    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    flex-direction: row;
    gap: var(--funds-gap);
    margin: 0 0 30px;

    .funds-item {
        display: flex;
        flex: 0 1 calc(calc(100% - calc(var(--funds-columns) - 1) * var(--funds-gap)) / var(--funds-columns));
        font-size: initial;
        position: relative;
        min-width: 0;
        background: var(--showcase-item-background);
        border-radius: var(--showcase-item-border-radius);
        box-shadow: var(--showcase-item-shadow);
        border: var(--showcase-item-border);
        overflow: hidden;
        transition:
            background-color 0.4s,
            box-shadow 0.4s;

        .funds-content {
            display: flex;
            flex: 1 1 auto;
            min-width: 0;
            flex-direction: column;

            .funds-photo {
                display: flex;
                flex: 0 1 auto;
                border-bottom: 1px solid var(--border-color);

                .funds-photo-img {
                    display: block;
                    width: 100%;
                }
            }

            .funds-details {
                display: flex;
                flex: 1 1 auto;
                padding: var(--funds-content-padding);
                flex-direction: column;
                gap: 15px;
                justify-content: space-between;
                min-width: 0;

                .funds-info {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    .funds-title {
                        flex: 0 1 auto;
                        margin: 0 0;
                        word-wrap: break-word;
                        font: var(--funds-title-font);
                        color: var(--funds-title-color);
                        transition: 0.4s color;
                    }

                    .funds-description {
                        font: var(--funds-text-font);
                        color: var(--funds-text-color);
                    }
                }

                .funds-actions {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    .funds-button-link {
                        padding: 0;
                        display: inline-block;
                        text-decoration: underline;
                        font: var(--cms-funds-link-font);
                        color: var(--cms-funds-link-color);
                    }
                }
            }
        }

        &:hover {
            background: var(--showcase-item-hover-background, var(--showcase-item-background));
            box-shadow: var(--showcase-item-hover-shadow);

            .funds-title {
                color: var(--funds-title-hover-color);
            }
        }
    }

    @media screen and (max-width: 1150px) {
        --funds-columns: 2;
        --funds-content-padding: 15px;
    }

    @media screen and (max-width: 480px) {
        --funds-columns: 1;
    }
}
