.block.block-fund-request {
    .fund-request-records {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .fund-request-record {
        cursor: default;
        border: var(--showcase-item-border);
        border-radius: var(--border-radius);
        box-shadow: var(--showcase-item-shadow);
        margin: 0 0;

        .fund-request-record-header {
            display: flex;
            flex-direction: row;
            padding: 15px;
            align-items: center;
            border-bottom: 1px solid var(--border-color);

            .fund-request-record-header-details {
                display: flex;
                flex-direction: row;
                flex-grow: 1;

                .fund-request-record-header-title {
                    gap: 10px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    flex: 0 0 250px;
                    align-self: stretch;
                    font: 700 16px/20px var(--base-font);
                }

                .fund-request-record-header-value {
                    font: 400 16px/20px var(--base-font);
                    color: #595959;
                }
            }

            .fund-request-record-header-actions {
                display: flex;
                flex: 0 0 auto;
                flex-direction: row;
                gap: 10px;
                align-items: center;

                .fund-request-record-header-view {
                    appearance: none;
                    padding: 0 0;
                    font: 600 13px/18px var(--base-font);
                    color: #282b39;
                    display: flex;
                    align-items: center;
                    white-space: nowrap;
                    cursor: pointer;
                    border: none;
                    background: none;

                    .fund-request-record-header-view-arrow {
                        transform: rotate(-90deg);
                        color: #dbdcdb;
                        font-size: 25px;
                        line-height: 25px;
                        transition: all 0.3s;
                    }
                }
            }

            .label:not(:last-child):not(:last-of-type) {
                margin: 0;
            }

            &:last-child {
                border-bottom: none;
            }
        }

        &.fund-request-record-open {
            border-color: #848484;

            .fund-request-record-header {
                .fund-request-record-header-icon {
                    background: #282b39;
                    color: #fff;
                }

                .fund-request-record-header-view {
                    .fund-request-record-header-view-arrow {
                        transform: rotate(0deg);
                    }
                }
            }
        }
    }

    .fund-request-props {
        display: grid;
        grid-template-columns: repeat(4, minmax(150px, max-content));

        .fund-request-prop {
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding: 0 30px;

            .fund-request-prop-label,
            .fund-request-prop-value {
                display: block;
                font: 600 14px/20px var(--base-font);
            }

            .fund-request-prop-label {
                color: #646f79;
            }

            .fund-request-prop-value {
                color: #303030;
            }

            & + .fund-request-prop {
                border-left: 1px solid var(--border-color);
            }

            &:first-child {
                padding-left: 15px;
            }

            &:last-child {
                padding-right: 15px;
            }
        }
    }

    .block-payouts-list {
        margin: 0 0 10px;
    }

    @media screen and (max-width: 1000px) {
        .fund-request-record {
            overflow: hidden;

            .fund-request-record-header {
                padding: 0;
                flex-direction: column;
                align-items: normal;

                .fund-request-record-header-details {
                    padding: 15px;
                    border-bottom: 1px solid var(--border-color);

                    .fund-request-record-header-title {
                        flex-basis: 50%;
                    }
                }

                .fund-request-record-header-actions {
                    padding: 15px;
                    background: #fbfbfb;
                    width: 100%;
                    justify-content: space-between;
                }
            }

            .label {
                padding: 0 3px;
                font-size: 11px;
                font-weight: 600;
            }
        }

        .fund-request-props {
            grid-template-columns: 1fr;

            .fund-request-prop {
                padding: 5px 10px;

                & + .fund-request-prop {
                    border: none;
                }

                &:first-child, &:last-child {
                    padding: 5px 10px;
                }
            }
        }

        .block.block-file-uploader.block-file-uploader-compact .uploader-droparea {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: flex-start;

            .droparea-button {
                width: 100%;

                .button {
                    width: 100%;
                }
            }
        }
    }
}
