.block.block-funds {
    --funds-columns: 3;
    --funds-gap: 25px;
    --funds-content-padding: 30px 20px;

    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    flex-direction: row;
    gap: var(--funds-gap);
    margin: 0 0 30px;

    .fund-item {
        display: flex;
        flex: 0 1 calc(calc(100% - calc(var(--funds-columns) - 1) * var(--funds-gap)) / var(--funds-columns));
        font-size: initial;
        position: relative;
        min-width: 0;
        background: var(--showcase-item-background);
        border-radius: var(--showcase-item-border-radius);
        border: var(--showcase-item-border);
        overflow: hidden;
        transition: background-color 0.4s;

        .button {
            font: 600 13px/20px var(--base-font);

            &.button-text {
                padding: 0;
            }
        }

        .fund-content {
            display: flex;
            flex: 1 1 auto;
            min-width: 0;
            flex-direction: column;
            background: #ffffff;
            transition: background-color 0.4s;

            .fund-photo {
                display: flex;
                flex: 0 1 auto;
                border-bottom: 1px solid var(--border-color);

                img {
                    display: block;
                    width: 100%;
                }
            }

            .fund-details {
                display: flex;
                flex: 1 1 auto;
                padding: var(--funds-content-padding);
                flex-direction: column;
                gap: 15px;
                justify-content: space-between;
                min-width: 0;

                .fund-info {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    .fund-title {
                        flex: 0 1 auto;
                        margin: 0 0;
                        word-wrap: break-word;
                        font: 600 28px/32px var(--base-font);
                        color: var(--funds-title-color);
                        transition: 0.4s color;
                    }

                    .fund-description {
                        font: 400 18px/27px var(--base-font);
                        color: var(--funds-title-color);
                    }
                }

                .fund-actions {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    .fund-button-link {
                        padding: 0;
                        display: inline-block;
                        text-decoration: underline;
                        font: var(--cms-funds-link-font);
                        color: var(--cms-funds-link-color);
                    }
                }
            }
        }

        &:hover {
            background: #f4f5f7;

            .fund-content {
                background: #f4f5f7;
            }

            .fund-details {
                .fund-info {
                    .fund-title {
                        color: var(--funds-title-hover-color);
                    }
                }
            }
        }
    }

    @media screen and (max-width: 800px) {
        --funds-columns: 2;
    }

    @media screen and (max-width: 480px) {
        --funds-columns: 1;
    }
}
