.block.block-navbar-desktop {
    z-index: 5;
    background-color: #fff;
    position: relative;
    top: 0;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: var(--navbar-box-shadow);

    .navbar-desktop-section {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: center;

        .navbar-desktop-section-wrapper {
            width: var(--wrapper-width);
            max-width: 100%;
            padding: 0 var(--wrapper-padding);
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
        }

        &.navbar-desktop-section-menu {
            order: var(--navbar-menu-order);
            background: var(--navbar-menu-background);
        }

        &.navbar-desktop-section-search {
            order: var(--navbar-search-order);
            background: var(--navbar-search-background);
            padding: var(--navbar-search-padding);
            border-bottom: var(--navbar-search-border-bottom);

            .navbar-desktop-section-wrapper {
                gap: var(--navbar-search-gap);
            }
        }
    }

    .navbar-desktop-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 1 0 auto;
        gap: var(--navbar-menu-gap);

        .navbar-desktop-menu-item {
            display: flex;
            color: var(--navbar-menu-item-color);
            background: var(--navbar-menu-item-background);
            position: relative;
            transition:
                color 0.4s,
                background-color 0.4s;
            font: var(--navbar-menu-item-font);
            padding: var(--navbar-menu-item-padding);
            cursor: pointer;

            &:before {
                content: '';
                top: var(--navbar-menu-item-line-position-top);
                left: 0;
                bottom: var(--navbar-menu-item-line-position-bottom);
                height: 3px;
                display: block;
                position: absolute;
                background: transparent;
                transition:
                    color 0.4s,
                    background-color 0.4s;
                width: 100%;
            }

            &:hover,
            &.navbar-desktop-menu-item-active {
                color: var(--navbar-menu-item-color-hover);
                background: var(--navbar-menu-item-background-hover);

                &:before {
                    background: var(--navbar-menu-item-color-hover);
                }
            }
        }

        .navbar-desktop-menu-separator {
            display: flex;
            flex: 0 0 1px;
            height: 14px;
            opacity: var(--navbar-menu-separator-opacity);
            background: var(--navbar-menu-separator-background);
        }
    }

    .navbar-desktop-auth {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        font: var(--navbar-auth-font);
        color: var(--navbar-menu-item-color);
        white-space: nowrap;

        .navbar-desktop-auth-separator {
            display: flex;
            flex: 0 0 1px;
            height: 14px;
            opacity: var(--navbar-menu-separator-opacity);
            background: var(--navbar-menu-separator-background);
        }

        .navbar-desktop-auth-email,
        .navbar-desktop-auth-logout {
            align-items: center;
            display: flex;
            font: inherit;
            gap: 5px;
        }
    }

    .navbar-desktop-logo {
        img {
            height: var(--navbar-logo-height);
            display: block;
        }
    }

    .navbar-desktop-search {
        display: flex;
        flex-direction: row;
        flex: 1 1 auto;
    }

    .navbar-desktop-search-button {
        height: 40px;
        width: 40px;
        flex: 0 0 40px;
        font-size: 22px;
        background: transparent;
        border: 1px solid transparent;
        color: var(--navbar-menu-item-color);
        cursor: pointer;
        padding: 0;
        transition:
            0.4s color,
            0.4s border;

        &:hover {
            color: var(--color-primary);
            border: 1px solid var(--color-primary);
        }
    }

    .navbar-desktop-user {
        gap: var(--navbar-search-gap);
        display: flex;
        flex-direction: row;
        align-items: center;

        .navbar-desktop-user-buttons {
            gap: 10px;
            display: flex;
            flex-direction: row;

            .button {
                margin-right: 0 !important;

                .mdi {
                    font-size: 20px !important;
                }

                &.button-primary-outline {
                    background-color: var(--btn-auth-bg);
                    border: solid 1px var(--btn-auth-border);
                    color: var(--tc-auth-btn);
                }

                &.button-primary {
                    background-color: var(--btn-start-bg);
                    color: var(--tc-start-btn);
                    border: solid 1px var(--btn-start-border);
                }

                &.button-text {
                    &:hover {
                        color: var(--color-primary);
                    }
                }
            }

            .navbar-desktop-user-button-vouchers {
                background-color: var(--btn-start-bg);
                color: var(--tc-start-btn);
                border: solid 1px var(--btn-start-border);
            }
        }

        .navbar-desktop-user-email {
            font: 600 16px/20px var(--base-font);
            color: var(--tc-nav);
            display: flex;
        }

        .navbar-desktop-user-profile {
            gap: 10px;
            display: flex;
            flex-direction: row;
        }

        .navbar-desktop-user-wrapper {
            gap: 2px;
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            cursor: pointer;
            border-radius: calc(var(--border-radius) / 2);
        }

        .navbar-desktop-user-avatar {
            flex: 0 0 50px;
            height: 50px;
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid var(--btn-user-avatar-border-color);
            border-radius: var(--button-border-radius);
            background: var(--btn-start-bg);

            svg {
                path {
                    fill: var(--btn-user-avatar-icon-color);
                }
            }
        }

        .navbar-desktop-user-caret {
            font-size: 20px;
            width: 15px;
            flex: 0 0 15px;
            height: 20px;
            line-height: 20px;
        }

        .navbar-desktop-user-menu {
            background: #ffffff;
            box-shadow: 2px 0 15px rgba(0, 0, 0, 0.1);
            width: 240px;
            right: -10px;
            position: absolute;
            top: 38px;
            border: 1px solid #f3f4f5;
            border-radius: var(--border-radius);
            padding: 5px 0;

            .triangle {
                position: absolute;
                right: 5px;
                bottom: 100%;
            }

            .auth-user-menu-user {
                display: block;
                padding: 5px 15px;
                font: 700 13px/20px var(--base-font);
                transition:
                    background 0.4s,
                    color 0.4s;
                width: 100%;
                text-align: left;
                cursor: default;

                * {
                    cursor: inherit;
                }
            }

            .auth-user-menu-item {
                display: block;
                padding: 8px 15px;
                transition:
                    background 0.4s,
                    color 0.4s;
                cursor: pointer;
                border: none;
                width: 100%;
                text-align: left;
                font: var(--dropdown-item-font);
                font-weight: 600;
                color: var(--dropdown-item-color);
                background: var(--dropdown-item-background);

                img {
                    display: block;
                    float: left;
                    margin: 0 5px 0 0;
                }

                .mdi {
                    display: block;
                    width: 26px;
                    height: 26px;
                    margin: 0 5px 0 0;
                    float: left;
                    text-align: center;
                    font-size: 22px;
                }

                &:hover {
                    color: var(--dropdown-item-hover-color);
                    background: var(--dropdown-item-hover-background);
                }
            }

            .auth-user-menu-separator {
                display: block;
                border-bottom: 1px solid #f3f4f5;
                width: 100%;
                height: 5px;
                margin: 0 0 5px;
            }
        }
    }

    &.block-navbar-desktop-combined {
        position: sticky;

        .navbar-desktop-section {
            &.navbar-desktop-section-menu {
                border-bottom: 1px solid var(--border-color);
                padding: 17px 0;

                .navbar-desktop-section-wrapper {
                    gap: 20px;
                }
            }
        }

        .navbar-desktop-user {
            gap: 10px;

            .navbar-desktop-user-avatar {
                width: 24px;
                height: 24px;
                flex: 0 0 24px;
                background: transparent;
            }
        }

        .navbar-desktop-user-buttons {
            .button {
                font-weight: 600;
            }
        }

        .navbar-desktop-menu {
            justify-content: right;
        }
    }

    @media screen and (max-width: 1150px) {
        .navbar-desktop-menu {
            gap: 15px;

            .navbar-desktop-menu-item {
                font-size: 16px;
            }
        }
    }
}
