.block.block-fund-request-clarifications {
    display: flex;
    flex-direction: column;
    gap: 25px;

    .clarification-item {
        border: 1px solid var(--color-primary);
        border-radius: var(--border-radius);
        background: #fff;
        box-shadow: var(--showcase-item-shadow);

        .clarification-header {
            display: flex;
            flex-direction: row;
            padding: 15px 25px;
            border-bottom: 1px solid var(--border-color);
            align-items: center;
            gap: 15px;
            background: color-mix(in srgb, var(--color-primary) 5%, transparent);

            .clarification-item-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                background: var(--color-primary);
                border-radius: var(--border-radius);
                height: 28px;
                font: 600 14px/14px var(--base-font);
                flex: 0 0 28px;
            }

            .clarification-item-content {
                display: flex;
                flex-direction: row;
                flex: 1 1 auto;
                font: 700 16px/20px var(--base-font);

                .clarification-item-content-dot {
                    padding: 0 5px;
                    color: #d4d9dd;
                }
            }

            .clarification-item-actions {
                display: flex;
                flex: 0 0 auto;
            }

            &:last-child {
                border-bottom: 0;
            }
        }

        @media screen and (max-width: 1000px) {
            .clarification-header {
                flex-wrap: wrap;
                gap: 10px 15px;

                .clarification-item-actions {
                    width: 100%;

                    .button {
                        width: 100%;
                    }
                }
            }
        }
    }
}
