@use "../includes/helpers";

.block.block-cms-providers-map {
    background: url(./assets/img/sprite-map.png) no-repeat 100% 50%;
    background-size: auto 710px;
    @include helpers.cf();

    .cms-providers-map-content {
        width: 50%;
        float: left;
        padding: 130px 0;

        .cms-providers-map-title {
            margin: 0 0 20px;
            color: var(--map-title-color);
            font: var(--map-title-font);
        }

        .cms-providers-map-subtitle {
            margin: 0 0 40px;
            font: 400 22px/36px var(--base-font);
        }

        .cms-providers-map-button {
            color: var(--button-read_more-color);
            border: var(--button-read_more-border);
            background: var(--button-read_more-background);
            text-decoration: var(--button-read_more-decoration);

            &:hover {
                color: var(--button-read_more-hover-color);
                border: var(--button-read_more-hover-border);
                background: var(--button-read_more-hover-background);
                text-decoration: var(--button-read_more-hover-decoration);
            }
        }
    }

    @media screen and (min-width: 1000px) {
        padding: 120px 0 240px;
    }

    @media screen and (max-width: 1700px) {
        .cms-providers-map-content {
            .cms-providers-map-title {
                margin: 0 0 15px;
            }

            .cms-providers-map-subtitle {
                margin: 0 0 30px;
            }
        }
    }

    @media screen and (max-width: 1000px) {
        padding: 0;
        background: none;
        background-size: contain;

        .cms-providers-map-content {
            width: 100%;
            padding: 0;
            text-align: left;

            .cms-providers-map-title {
                margin: 0 0 20px;
                font: 700 22px/36px var(--base-font);
            }

            .cms-providers-map-subtitle {
                margin: 0 0 20px;
                font: 400 16px/28px var(--base-font);
            }

            .cms-providers-map-button {
                width: 100%;
                padding-right: 30px;
                padding-left: 30px;
                text-align: left;
            }
        }
    }
}
