.block.block-products-list {
    --products-gap: 15px;

    display: flex;
    flex-direction: column;
    gap: var(--products-gap);
    margin: 0 0 15px;

    .product-item {
        background: var(--showcase-item-background);
        border-radius: var(--showcase-item-border-radius);
        box-shadow: var(--showcase-item-shadow);
        border: var(--showcase-item-border);
        display: flex;
        position: relative;
        flex-direction: row;
        transition:
            background-color 0.4s,
            box-shadow 0.4s;

        .product-photo {
            flex: 0 0 105px;
            display: flex;
            align-items: flex-start;
            padding: 15px 0 15px 15px;

            img {
                display: block;
                width: 100%;
                border-radius: calc(var(--showcase-item-border-radius) / 2);
            }
        }

        .product-content {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            padding: 15px 15px;
            min-width: 0;
            gap: 10px;

            .product-details {
                display: flex;
                flex-direction: row;
                flex: 1 1 auto;
                word-wrap: break-word;
                align-items: flex-start;
                gap: 10px;
                min-width: 0;
                color: var(--tc);

                .product-details-header {
                    display: flex;
                    flex-direction: column;
                    flex: 1 1 auto;
                    min-width: 0;
                    gap: 2px;

                    .product-title,
                    .product-subtitle {
                        display: flex;
                        margin: 0 0;
                        max-width: 100%;
                        word-wrap: break-word;
                        word-break: break-word;
                        flex-direction: column;
                        color: var(--products-text-color);
                    }

                    .product-title {
                        color: var(--products-title-color);
                        font: 700 18px/26px var(--heading-font-family);
                        transition: 0.4s color;
                        display: flex;
                        flex-direction: row;
                    }

                    .product-subtitle {
                        font: 400 14px/22px var(--base-font);
                    }
                }

                .product-details-bookmark {
                    flex: 0 0 auto;
                }
            }

            .product-actions {
                display: flex;
                flex-direction: row;
                align-items: center;

                .product-price {
                    display: flex;
                    margin: 0 0;
                    max-width: 100%;
                    word-wrap: break-word;
                    flex-direction: row;
                    color: var(--products-text-color);
                    font: 700 16px/24px var(--base-font);
                    flex: 1 0 auto;
                    align-items: flex-end;
                    gap: 5px;

                    .mdi {
                        font-size: 18px;
                    }
                }

                .product-icons {
                    display: flex;
                    flex-direction: row;
                    margin: -6px -6px -6px 0;

                    .product-icons-item {
                        display: flex;
                        padding: 10px 10px 6px;
                        align-items: center;
                        margin: 0 10px 0;
                        flex-direction: column;
                        position: relative;
                        color: #595959;
                        white-space: nowrap;
                        gap: 4px;
                        font: 500 10px/14px var(--base-font);
                        border-radius: var(--border-radius);

                        .mdi {
                            font-size: 18px;
                            display: flex;
                            height: 18px;
                            align-items: center;
                        }

                        img {
                            display: flex;
                            width: 18px;
                            height: 18px;
                        }

                        &::after {
                            content: '';
                            position: absolute;
                            right: -10px;
                            top: 50%;
                            width: 1px;
                            transform: translate(0, -50%);
                            height: 13px;
                            background: var(--border-color);
                        }

                        &:first-child {
                            margin-left: 0;
                        }

                        &:last-child {
                            margin-right: 0;

                            &::after {
                                content: none;
                            }
                        }
                    }
                }
            }
        }

        &:hover {
            background: var(--showcase-item-hover-background, var(--showcase-item-background));
            box-shadow: var(--showcase-item-hover-shadow);

            .product-content {
                .product-details {
                    .product-title {
                        color: var(--products-title-hover-color);
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1000px) {
        .product-item {
            position: relative;
            overflow: hidden;

            .product-photo {
                position: absolute;
                left: 0;
                top: 0;
                padding: 12px 12px;

                img {
                    width: 60px;
                }
            }

            .product-content {
                padding: 0;

                .product-details {
                    padding: 12px 12px 12px 82px;

                    .product-title {
                        font: 700 15px/22px var(--heading-font-family);
                    }

                    .product-subtitle {
                        font: 400 14px/20px var(--base-font);
                    }
                }

                .product-actions {
                    border-top: 1px solid var(--border-color);
                    background: #fbfbfb;
                    padding: 15px 20px;

                    .product-price {
                        font: 700 16px/24px var(--base-font);
                    }

                    .product-icons {
                        gap: 20px;

                        .product-icons-item {
                            padding: 0 0;
                            margin: 0 0;

                            .mdi {
                                line-height: 24px;
                                font-size: 24px;
                            }

                            &::after {
                                content: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
