&.block-label-tabs {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

    .label-tab {
        &:first-child {
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
        }

        &:last-child {
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
        }

        &.label-tab-sm {
            &:first-child {
                border-top-left-radius: 25px;
                border-bottom-left-radius: 25px;
            }
    
            &:last-child {
                border-top-right-radius: 25px;
                border-bottom-right-radius: 25px;
            }
        }
    }
}