@import '../_common/landing';

.button {
    &.button-default {
        background-color: #fff;
        border-color: $color_primary;
        color: #666;
        box-shadow: 0 10px 15px -6px #969696;

        .mdi {
            color: #666;
        }

        &:hover {
            background-color: #d4e630;
            border-color: $color_default_light;
            color: #666;

            .mdi {
                color: #666;
            }
        }
    }
    &.button-primary {
        color: #666;
        background: $color_primary;
        border: 1px solid $color_primary;
        box-shadow: 0 10px 25px rgba(#000, .15);

        &:hover {
            color: #666;
            background: #d4e630;
            background-color: #d4e630;
            box-shadow: 0 10px 20px rgba(#000, .3);

            img {
                filter: brightness(5);
            }
        }
    }

    &.button-dark {
        display: inline-block;
        color: #fff;
        background: #282b39;
        border: 1px solid #282b39;
        box-shadow: 0 10px 25px rgba(#000, .15);

        &:hover {
            color: #fff;
            background: #646f79;
            border-color: #646f79;
            box-shadow: 0 10px 20px rgba(#000, .3);

            img {
                filter: brightness(5);
            }
        }
    }
}

.header-splash {
    height: 20.5vw;
    overflow:auto;
    display: table;
    position: relative;
    .splash {
        background-image: url(../img/landing/splash-top-b.png);
        display: table-row;
        background-size: cover;
        height: 10vw;
        background-position: 50% 50%;
    
        &:before {
            position: absolute;
            right:0;
            bottom: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 12vmax 12vmax;
            border-color: transparent transparent #b9cb18 transparent;
            -webkit-transform:rotate(360deg);
            content: " ";
        }
        .wrapper {
            width: 100%;
        }

        .header-body {
            width: 100%;
            max-width: 100%;
            margin: 0 auto;
            max-width: 1440px;
            .header-content {
                padding-top: 3.4vw;
                padding-bottom: 5.1vw;
                padding-left: 1vw;
                color: #fff;
                min-height: 450px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: relative;
                text-align: left;
                .header-title {
                    font: 700 40px $bf;
                }

                .header-description {
                    font: 400 16px/1.55 $bf;
                    margin-bottom: 1vw;
                }

                .header-how-it-works {
                    color: inherit;
                    font: 400 14px/26px $bf
                }
            }

            .header-sprite {
                display: none;
            }
        }
    }
}

.section {
    &.section-flow {
        margin: 5% 0;
    }
    &.section-faq {
        .section-splash {
            display: none;
        }
    }
    &.section-header {
        padding: 1vw 0 1vw;
        position: absolute;
        width: 100%;
        display: block;
        max-width: 1440px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        .wrapper {
            width: 100%;
        }

        .header-body {
            width: 1280px;
            max-width: 1440px;
            margin: 0 auto;
            
            .header-content {
                padding-top: 3.4vw;
                padding-bottom: 5.1vw;
                padding-left: 1vw;
                color: #fff;
                min-height: 450px;

                .header-title {
                    font: 700 2vw $bf;
                }

                .header-description {
                    font: 400 1.05vw/1.6vw $bf;
                    margin-bottom: 1vw;
                }

                .header-how-it-works {
                    color: inherit;
                    font: 400 14px/26px $bf
                }
            }

            .header-sprite {
                display: none;
            }
        }
    }
    &.section-footer {
        background-color: #4e4d40;
        margin-top: 0;
        color: #fff;
        display: block;
    }

    @media screen and (max-width: 1000px) { 
        &.section-header {
            padding: 0;
        }
    }
}

.block {
    &.block-footer {
        margin-bottom: 40px;

        .footer-logo {
            width: 140px;
            max-width: 100%;
            margin-bottom: 30px;
        }

        .footer-label {
            color: #282b39;
            font: 700 18px $bf;
            margin-bottom: 25px;
        }

        .footer-nav {
            .footer-nav-item {
                display: block;
                margin-bottom: 10px;

                a {
                    color: #fff;
                    font: 700 14px/24px $bf;
                    transition: color .4s;

                    &:hover {
                        color: #b5b5b5;
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .footer-schedule {
            width: 100%;
            margin-bottom: 10px;
            @include cf();

            .schedule-label {
                color: #fff;
                font: 400 13px/24px $bf;
                float: left;
                width: 35%;
            }

            .schedule-value {
                color: #fff;
                font: 700 13px/24px $bf;
                float: left;
                width: 65%;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        .footer-subscribe {
            position: relative;

            .button {
                position: absolute;
                right: 0;
                top: 0;
                height: 60px;
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
            }
        }
    }
    &.block-copyrights {
        width: 100%;
        border-top: 1px solid #d7e9ed;
        padding: 40px 0;
        text-align: center;
        font: 400 14px/30px $bf;

        .wrapper {
            @include cf();
            height: 30px;
        }

        .copyrights {
            float: left;
            font: inherit;
            color: #282b39;
        }
        
        .links {
            display: inline-block;

            .link-separator {
                height: 30px;
                border-left: 1px solid #d2e6ff;
                margin-right: 30px;
                display: block;
                float: left;

                &:last-child {
                    margin-right: 0;
                }
            }

            a {
                float: left;
                font: inherit;
                color: #fff;
                margin-right: 30px;
                display: block;
                transition: .4s;

                &:last-child {
                    margin-right: 0;
                }

                &:hover {
                    color: #B5B5B5;
                }
            }
        }

        .developed {
            float: right;
            font: inherit;
            color: #282b39;

            a {
                font: inherit;
                color: #fff;
                transition: .4s;

                &:hover {
                    color: #2987fd;
                }
            }
        }
    }
    &.block-navbar {
        width: 100%;
        padding: 0 0px;

        .navbar-logo {
            padding: 17.5px 45px;

            img {
                height: 55px;
            }
        }

        .navbar-list {
            text-align: left;

            .navbar-item-wrapper {
                .navbar-item {
                    &:hover {
                        color: $tc;

                        &:before {
                            background-color: $color_default;
                            opacity: .5;
                        }
                    }

                    &.active {
                        color: $tc;

                        &:before {
                            background-color: $color_default;
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .block-auth {
            .auth-in {
                .auth-user {
                    .auth-user-email {
                        color: $color_default_light;
                    }

                    .auth-user-avatar {
                        border-color: $color_default;
                        border-radius: 4px;

                        img {
                            filter: grayscale(.8);
                        }
                    }
                }
            }
        }
    }
    &.block-footer {
        &.footer-nav {
            a {
                color: #fff;
            }
        }
        .footer-label {
            color: #fff;
        }
    }

    @media screen and (max-width: 1700px) {
        &.block.block-navbar .navbar-logo {
            padding: 15px 30px;

            img {
                margin: -5px 0;
                height: 50px;
            }
        }
    }

    @media screen and (max-width: 1000px) {
        &.block-navbar {
            padding: 0;

            .navbar-logo {
                padding: 15px 15px;

                img {
                    height: 40px !important;
                }
            }
        }
    }
}