@import "../general/vars.scss";

/*==========  Style Sheet - Vars  ==========*/
:root {
    // base font
    --base-font: "Montserrat", arial, sans-serif;

    // base font
    --base-font-landing: "Lato", arial, sans-serif;

    // text color
    --text-color: #4e4d40;

    // base color
    --base-color: #660066;
    --base-color-hover: #fff;

    // placeholder text color
    --placeholder-color: #c4c4c4;

    --border-color: #dbdcdb;

    --border-radius: 0px;

    --color-primary: #134478;
    --color-primary-light: #2987fd;

    --color-default: #134478;
    --color-default-light: #2987fd;

    --box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.1);

    --border-color: #dbdcdb;

    // base error color
    --color-danger: #e63b3b;
}
