@import '../general/vars.scss';

/*==========  Style Sheet - Vars  ==========*/

// navbar
$bg-nav:            #ECECEC;
$tc-nav-hov:        #4a60b3;
$tc-nav:            #f98653;
$logo-padding:      30px 0px;
$logo-height:       75px;

// navbar (auth)
$tc-auth-menu:      #f98653; 
$tc-auth-btn:       #fff; 
$btn-auth-bg:       #f98653; 
$btn-auth-border:   transparent;

// navbar (start modal primary)
$tc-start-btn:       #fff; 
$btn-start-bg:       #08193e; 
$btn-start-btn:      #08193e;
$btn-start-border:   transparent;

$bg-values:          url("../img/splash-top-b.jpg") no-repeat center 100%;

// base font
$bf:                Arial, Verdana;

// text color
$tc:                #1a1919;
$tc-var:            #fff;
$tc-link:           inherit;

// base color
$bc:                #f98653;

// background color
$bg:                #fff;

$bg_2:              none;

// text formatting
$tf:                inherit;

// footer color
$fbc:                #f98653;
$fc:                #ffffff;
$fc-link:            #ffffff;

// displayed or not
$fd:                block;

// product image
$pi:                0px;

// placeholder text color
$ptc:               #515152;

$border_color:      #dce0e0;

$border_radius:     0px;
$base_shadow:       0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

$color_primary:         #f98653;
$color_primary_light:   #f98653;

$color_default:         #f98653;
$color_default_light:   #f98653;

// Login button

$lb:                #fff;

