$bf: 'Verdana', arial, sans-serif;

.block.block-steps {
    .block-steps-description {
        font: 400 16px/28px $bf;
        text-align: left;
        max-width: 70%;
        float: left;

        ul, ol {

            li {
                font: 400 16px/28px $bf;
            }
        }

        p {
            font: 400 16px/28px $bf;
        }
    }
}

@media (max-width: 1024px) {
    .block.block-steps {
        .block-steps-description {
            max-width: 100%;
        }
    }
}