.block {
    &.block-markdown{
        a:not(.button) {
            color: var(--tc-var);
            text-decoration: underline;
    
            &:hover {
                text-decoration: none;
            }
        }
    }
}