$bf: 'Verdana', arial, sans-serif;

.block.block-steps {
    .block-steps-description {
        font: 400 16px/28px $bf;
        max-width: 100%;
    }

    .block-markdown {
        font: 400 16px/28px $bf;

        ul, ol {

            li {
                font: 400 16px/28px $bf;
            }
        }

        p {
            font: 400 16px/28px $bf;
        }
    }
}