@import '../general/vars.scss';

/*==========  Style Sheet - Vars  ==========*/

// navbar
$bg-nav:            #fff;
$tc-nav-hov:        #EC0301;
$tc-nav:            #323232;
$logo-padding:      20px 0px;
$logo-height:       120px;

// navbar (auth)
$tc-auth-menu:      #EC0301; 
$tc-auth-btn:       #EC0301; 
$btn-auth-bg:       #fff; 
$btn-auth-border:   #EC0301;

// navbar (start modal primary)
$tc-start-btn:       #fff;
$btn-start-bg:       #EC0301; 
$btn-start-btn:      #EC0301;
$btn-start-border:   transparent;

$bg-values:          url("../img/splash-top-b.jpg") no-repeat center 100%;

// base font
$bf:                Arial, Verdana;

// text color
$tc:                #000000;
$tc-var:            #fff;
$tc-link:           inherit;

// base color
$bc:                #EC0301;

// background color
$bg:                #fff;

$bg_2:              none;

// text formatting
$tf:                inherit;

// footer color
$fbc:                #EC0301;
$fc:                #ffffff;

// displayed or not
$fd:                block;

// product image
$pi:                0px;

// placeholder text color
$ptc:               #515152;

$border_color:      #dce0e0;

$border_radius:     0px;
$base_shadow:       0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

$color_primary:         #EC0301;
$color_primary_light:   #EC0301;

$color_default:         #EC0301;
$color_default_light:   #EC0301;

// Login button

$lb:                #fff;

