.button {
    font: 700 16px/1.5em var(--base-font);

    &:hover {
        box-shadow: none;
    }

    &.button-primary,
    &.button-primary-outline {
        &:hover {
            text-decoration: underline;
        }
    }

    &.button-primary {
        color: var(--tc-var);
        background: var(--color-default);
        text-shadow: none;
        border: 1px solid transparent;
        box-shadow: none;

        &:hover {
            color: var(--color-default);
            background-color: var(--bg);
            box-shadow: none;
            border: 1px solid var(--color-default);
        }
    }
}
