.section {
    &.section-funds {
        .section-title {
            margin-bottom: 10px !important;
        }

        .section-subtitle {
            margin-bottom: 58px !important;
        }

        .block {
            &.block-funds {
                .fund-item {
                    .fund-details {
                        .fund-name {
                            color: #0C6DCB;
                        }

                        .fund-organization {
                            color: #009EF4;
                        }
                    }
                }
            }
        }
    }

    &.section-apply_fund {
        position: relative;

        .section-title {
            text-align: left;
        }
    }
}