.block {
    &.block-profile {
        .profile-content {   
            .profile-content-header {  
                .profile-content-title {
                    .profile-content-title-count {
                        color: #666666 !important;
                    }
                }
            }
        }

        .profile-aside {
            .profile-card {
                .profile-details {
                    .profile-heading {
                        color: $bc;
                    }
                }

                .profile-actions {
                    .profile-action {
                        color: $tc;

                        .mdi {
                            color: #666666;
                        }

                        &:hover {
                            color: #666666;
                        }
                    }
                }
            }

            .profile-menu {
                .profile-menu-item {
                    color: #666666;

                    .mdi {
                        color: #666666;
                    }

                    &:hover {
                        color:#666666;
                        
                        .mdi {
                            color: #666666;
                        }
                    }

                    &.active {
                        background-color: $color_primary;
                        color: #666666;

                        .mdi {
                            color: #666666;
                        }
                    }
                }
            }
        }
    }
}