.block {
    &.block-sign-up-options {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .block-sign-up-option {
            background: url(../img/sign-up-option.png) no-repeat 50% 50%;
            background-size: cover;
            height: 520px;
            width: 32%;
            color: #fff;
            position: relative;
            cursor: pointer;

            .block-sign-up-option-title {
                padding: 30px;
                font: 600 30px/34px $bf;
            }

            .block-sign-up-option-description {
                font: 500 18px/25px $bf;
                margin-bottom: 37px;
            }

            .button {
                width: 100%;
                background-color: #BEC53F;
                text-transform: capitalize;
            }

            .block-sign-up-option-footer {
                padding: 30px;
                position: absolute;
                bottom: 30px;
                width: 100%;
            }

            &:hover {
                // background-color: rgba(36, 119, 167, 0.7); 
                background-image: linear-gradient(to bottom, rgba(36, 119, 167, 0.7), rgba(36, 119, 167, 0.7)), url('../img/sign-up-option.png');
            }
        }
    }

    @media screen and (max-width: 1024px) {
        &.block-sign-up-options {
            flex-direction: column;

            .block-sign-up-option {
                width: 100%;
                height: 210px;
                margin-bottom: 30px;

                .block-sign-up-option-title {
                    padding: 30px;
                }

                .block-sign-up-option-description {
                    display: none;
                    margin-bottom: 37px;
                }

                .block-sign-up-option-footer {
                    position: absolute;
                    bottom: 30px;
                    padding: 0px 30px;
                }
            }
        }
    }
}