.section {
    &.section-faq {
        position: relative;
        margin: 0 0 40px;

        .section-title {
            color: $tc;
            font: 600 40px/60px $hf;
            margin: 0 0 40px;
            text-align: center;
            z-index: 2;
        }

        .faq {
            width: 820px;
            max-width: 100%;
            margin: 0 auto;

            .faq-item {
                background: #fff;
                border: 1px solid #d2e6ff;
                border-radius: 4px;
                margin-bottom: 10px;
                position: relative;
                box-shadow: 5px 5px 25px rgba(#000000, 0.1);
                transition: .4s;

                .faq-item-header {
                    padding: 15px 30px;
                    padding-right: 45px;
                    font: 500 18px $bf;
                    color: #00122a;
                    position: relative;
                    transition: .4s;
                    cursor: pointer;

                    .faq-item-chevron-up,
                    .faq-item-chevron-down {
                        position: absolute;
                        right: 15px;
                        top: 50%;
                        transform: translate(0, -50%);
                        color: #9ca6af;
                        font-size: 28px;
                        transition: .4s;
                        display: none;
                    }

                    .faq-item-chevron-down {
                        display: block;
                    }

                    &:hover {
                        .faq-item-chevron-up,
                        .faq-item-chevron-down {
                            color: #017f96;
                        }
                    }
                }

                .faq-item-content {
                    padding-right: 200px;
                    font: 400 16px $bf;
                    padding: 0 30px 20px;
                    color: #646f79;
                    display: none;
                    cursor: default;

                    a {
                        color: #004a9d;
                        font-size: 16px;
                        line-height: normal;
                    }
                }

                &.active {
                    .faq-item-header {
                        .faq-item-chevron-up,
                        .faq-item-chevron-down {
                            display: none;
                        }

                        .faq-item-chevron-up {
                            display: block;
                        }
                    }

                    .faq-item-content {
                        display: block;
                    }
                }

                &:hover:not(.active) {
                    box-shadow: 5px 15px 45px rgba(#000000, 0.15);

                    .faq-item-header {
                        color: #017f96;

                        .faq-item-chevron-up,
                        .faq-item-chevron-down {
                            color: #017f96;
                        }
                    }
                }
            }
        }
    }
    &.section-faq {
        position: relative;
        margin: 0 0 40px;

        .section-title {
            font: 600 40px/60px $hf;
            margin: 0 0 40px;
            text-align: center;
            z-index: 2;
        }

        .section-splash {
            position: absolute;
            display: none;
            right: 0;
            width: 100%;
            height: 50vw;
            background: url('../img/splash-faq.png') no-repeat;
            background-position: 100% 50%;
            background-size: auto 100%;
            top: 300px;
            transform: translate(0, -50%);
            z-index: -1;
        }

        .faq {
            width: 820px;
            max-width: 100%;
            margin: 0 auto;
            padding: 0 20px;

            .faq-item {
                background: #fff;
                border: 1px solid $border_color;
                border-radius: 4px;
                margin-bottom: 10px;
                position: relative;
                box-shadow: 5px 5px 25px rgba(#000000, 0.1);
                transition: .4s;

                .faq-item-header {
                    padding: 15px 30px;
                    padding-right: 45px;
                    font: 500 18px $bf;
                    color: #00122a;
                    position: relative;
                    transition: .4s;
                    cursor: pointer;

                    .faq-item-chevron-up,
                    .faq-item-chevron-down {
                        position: absolute;
                        right: 15px;
                        top: 50%;
                        transform: translate(0, -50%);
                        color: #9ca6af;
                        font-size: 28px;
                        transition: .4s;
                        display: none;
                    }

                    .faq-item-chevron-down {
                        display: block;
                    }
                }
                
                .faq-item-content {
                    padding-right: 200px;
                    font: 400 16px $bf;
                    padding: 0 30px 20px;
                    color: #646f79; 
                    display: none;
                    cursor: default;
                }

                &.active {
                    .faq-item-header {
                        .faq-item-chevron-up,
                        .faq-item-chevron-down {
                            display: none;
                        }

                        .faq-item-chevron-up {
                            display: block;
                        }
                    }

                    .faq-item-content {
                        display: block;
                    }
                }

                &:hover:not(.active) {
                    box-shadow: 5px 15px 45px rgba(#000000, 0.15);
                    
                    .faq-item-header {
                        color: #017f96;

                        .faq-item-chevron-up,
                        .faq-item-chevron-down {
                            color: #017f96;
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width: 1700px) {
        &.section-faq {
            .faq {
                .faq-item {
                    .faq-item-header {
                        font: 500 15px $bf;
                    }

                    .faq-item-content {
                        font: 400 14px $bf;
                        
                        ul li {
                            font: 400 14px $bf;
                        }
                    }
                }

            }
        }
    }
    @media screen and (max-width: 1000px) {
        &.section-faq {
            margin-bottom: 60px;

            .section-title {
                font: 700 24px/36px $hf;
                margin: 0 0 30px;
            }

            .section-splash {
                height: 600px;
                opacity: .75;
            }

            .faq {
                padding: 0;
                max-width: 100%;
                width: 600px;

                .faq-item {
                    .faq-item-header {
                        font: 500 14px $bf;
                    }

                    .faq-item-content {
                        font: 400 14px $bf;
                    }
                }
            }
        }
        &.section-faq {
            margin-bottom: 60px;

            .section-title {
                font: 700 24px/36px $hf;
                margin: 0 0 30px;
            }

            .section-splash {
                height: 600px;
            }

            .faq {
                .faq-item {
                    .faq-item-header {
                        font: 500 14px $bf;
                    }

                    .faq-item-content {
                        font: 400 14px $bf;
                    }
                }
            }
        }
    }
}