.section {
    &.section-funds {
        position: relative;
        margin: 0 0 40px;

        .section-title {
            display: block;
            margin: 0px 0 30px;
            font-family: $hf;
            text-align: center;
        }

        .fund-block {
            width: 100%;
            margin: 0 0 30px;
            padding: 0 15px;
            display: flex;

            .fund-block-image {
                width: 50%;
                order: 1;

                img {
                    max-width: 100%;
                }
            }

            .fund-block-information {
                width: 50%;
                padding-left: 100px;
                text-align: left;
                order: 2;
                display: flex;
                flex-direction: column;
                align-self: center;

                .label {
                    width: fit-content;
                    color: #fff;
                    background: #167C68;
                    padding: 2px 5px;
                    text-transform: uppercase;
                    font-weight: 700;
                }

                .fund-block-title {
                    font: 400 24px/36px $bf;
                    margin-top: 5px;
                    color: #A80A2D;
                }

                .fund-block-description {
                    font: 400 18px/28px $bf;
                    margin-top: 20px;
                }

                .button {
                    width: fit-content;
                    margin-top: 20px;
                    font: 700 16px/19px $bf;

                    a {
                        font: 700 16px/19px $bf;
                        color: #fff;
                    }
                }
            }

            &:nth-of-type(2n) {
                .fund-block-image {
                    order: 2;
                    padding-right: 0;
                    text-align: right;
                }

                .fund-block-information {
                    order: 1;
                    padding-left: 0;
                    padding-right: 100px;
                }
            }
        }
    }
}