.section {
    &.section-products {
        position: relative;
        margin: 0 0 40px;

        .section-title {
            margin: 0px 0 30px;
            display: block;
            font-family: $hf;
        }

        .section-filters {
            @include cf();
            margin-bottom: 40px;

            input[type=text] {
                background: url('../img/looking-glass.png') no-repeat;
                background-position: 100% 0;
                background-size: 60px 60px;
            }
        }
    }

    &.section-faq {
        .section-title {
            font: 500 2em $bf;
            text-align: left;
        }
    }

    @media screen and (max-width: 1700px) {
        /*&.section-faq {
            .section-title {
                font: 500 2em $bf;
                text-align: left;
            }
        }*/

        &.section-products {
            position: relative;

            .section-title {
                font: 500 2em $bf;
            }
        }

        &.section-products {
            .section-filters {
                margin-bottom: 30px;
            }
        }
    }

    @media screen and (max-width: 1000px) {

        &.section-products {
            margin: 0 0 30px;

            .section-filters {
                margin: 0 0 30px;
                box-shadow: 5px 5px 20px rgba(#000, .1);
                border-radius: 6px;

                .row {
                    margin: 0;

                    .col {
                        padding: 0;
                        float: left;

                        .form-group {
                            .form-control {
                                &:first-child {}
                            }
                        }

                        &:first-child {
                            width: 40%;

                            .form-group {
                                margin: 0;

                                .form-control {
                                    box-shadow: none;
                                    border-top-right-radius: 0;
                                    border-bottom-right-radius: 0;
                                    padding-right: 30px;
                                    @include ellipsis();
                                    border: 1px solid #e4e9ec;
                                }
                            }
                        }

                        &:last-child {
                            width: 60%;

                            .form-group {
                                margin: 0;

                                .form-control {
                                    box-shadow: none;
                                    border-top-left-radius: 0;
                                    border-bottom-left-radius: 0;
                                    padding-right: 50px;
                                    border: 1px solid #e4e9ec;
                                    border-left: none;
                                    @include ellipsis();
                                }
                            }
                        }
                    }
                }

                input[type=text] {
                    background-size: 50px 50px;
                }
            }
        }
    }
}