.section {
    &.section-steps {
        position: relative;
        margin-top: 25px;
        margin-bottom: 40px;

        .section-splash {
            position: absolute;
            left: 0;
            width: 100%;
            height: 1080px;
            max-height: 100%;
            background: url('../img/splash-steps.png') no-repeat;
            background-position: 0 50%;
            background-size: auto 100%;
            top: 50%;
            transform: translate(0, -50%);
        }

        .section-sprite {
            position: absolute;
            right: 100px;
            width: 100%;
            height: 480px;
            max-height: 100%;
            background: url('../img/sprite-steps.png') no-repeat;
            background-position: 100% 50%;
            top: 50%;
            transform: translate(0, -50%);
            background-size: auto 100%;
        }

        .section-title {
            text-align: center;
            font: 700 40px/60px $bf;
            margin: 0 0 70px;
        }

        .steps {
            width: 1000px;
            max-width: 100%;
            padding: 0 100px;
            margin: 0 auto;
            min-height: 800px;
            background: url('../img/steps-shape.png') no-repeat;
            background-size: 303px 930px;
            background-position: 65px 50%;

            .step-item {
                margin-left: 200px;
                position: relative;
                margin-bottom: 125px;
                width: 390px;
                max-width: 100%;
                cursor: default;

                h4 {
                    font: 700 18px $bf;
                    color: #00122a;
                    margin: 0 0 10px;
                }

                p {
                    font: 400 16px/22px $bf;
                    color: #646f79;
                }
                u {
                    cursor: pointer;
                }

                .step-item-content {
                    position: relative;
                    padding-top: 20px;
                    
                    &:before {
                        position: absolute;
                        content: '';
                        width: 200px;
                        height: 200px;
                        display: block;
                        background: url('../img/icon-steps/step-1.png') no-repeat;
                        right: 100%;
                        transform: translate(0, -20px);
                    }
                }

                &:nth-child(2) {
                    margin-bottom: 120px;
                    margin-left: 280px;

                    .step-item-content:before {
                        background-image: url('../img/icon-steps/step-2.png');
                    }
                }

                &:nth-child(3) {
                    margin-bottom: 110px;
                    margin-left: 320px;

                    .step-item-content:before {
                        background-image: url('../img/icon-steps/step-3.png');
                    }
                }

                &:nth-child(4) {
                    margin-bottom: 120px;
                    margin-left: 240px;

                    .step-item-content:before {
                        background-image: url('../img/icon-steps/step-4.png');
                    }
                }

                &:nth-child(5) {
                    margin-bottom: 110px;
                    margin-left: 160px;

                    .step-item-content:before {
                        background-image: url('../img/icon-steps/step-5.png');
                    }
                }
            }
        }
    }
    @media screen and (max-width: 1700px) {
        &.section-steps {
            margin: 0 0 30px;

            .section-splash {
                height: 800px;
            }

            .section-sprite {
                height: 300px;
            }
        }
        &.section-steps {
            .section-title {
                font: 700 26px/40px $bf;
                margin: 0 0 40px;
            }

            .steps {
                .step-item {
                    .step-item-content {
                        padding-top: 40px;
                    }

                    h4 {
                        font: 700 17px $bf;
                    }

                    p {
                        font: 400 14px/20px $bf;
                        margin: 0;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 1000px) {
        &.section-steps {
            margin-bottom: 60px;

            .section-splash {
                display: none;
            }

            .section-sprite {
                display: none;
            }

            .section-title {
                font: 700 24px/36px $bf;
                margin: 0 0 30px;
            }

            .steps {
                padding: 0;
                background: none;
                min-height: auto;
                text-align: center;
                padding: 0;
                
                .step-item {
                    width: 100%;
                    padding: 0;
                    margin: 0 0 20px !important;

                    .step-item-content {
                        padding: 120px 0 0;
                        max-width: 100%;
                        width: 400px;
                        margin:  0 auto;

                        &:before {
                            width: 140px;
                            height: 140px;
                            background-size: 100%;
                            transform: none;
                            margin-right: 0px;
                            top: 0;
                            left: 50%;
                            transform: translate(-50%, 0);
                        }
                    }
                }
            }
        }
    }
}