.section {
    &.section-steps {
        margin-bottom: 60px;
        background: none;

        .section-title {
            font: 600 24px/36px $hf;
            margin: 0 0 30px;
            text-align:center;
            color: $tc;
        }

        .steps {
            min-height: auto;
            text-align: center;
            
            .step-item {
                width: 100%;
                margin: 0 0 20px;
                h4 {
                    font: 700 18px $bf;
                    color: #00122a;
                    margin: 0 0 10px;
                }
                .step-item-content {
                    //padding: 120px 0 0;
                    width: 400px;
                    margin: 0 auto;
                    max-width: 100%;
                    &:before {
                        width: 140px;
                        height: 125px;
                        background-size: 100%;
                        margin: 0 auto;
                        position: relative;
                        top: 0;
                        content: '';
                        display: block;
                    }
                    
                }
                &:nth-child(1) {
                    .step-item-content:before {
                        background-image: url('../img/icon-steps/step-1.png');
                    }
                }
                &:nth-child(2) {
                    .step-item-content:before {
                        background-image: url('../img/icon-steps/step-2.png');
                    }
                }

                &:nth-child(3) {
                    .step-item-content:before {
                        background-image: url('../img/icon-steps/step-3.png');
                    }
                }

                &:nth-child(4) {
                    .step-item-content:before {
                        background-image: url('../img/icon-steps/step-4.png');
                    }
                }

                &:nth-child(5) {
                    .step-item-content:before {
                        background-image: url('../img/icon-steps/step-5.png');
                    }
                }
            }
        }
    }
    @media screen and (min-width: 1024px) {
        &.section-steps {
            position: relative;
            margin-top: 25px;
            margin-bottom: 40px;

            .section-splash {
                position: absolute;
                display: none;
                left: 0;
                width: 100%;
                height: 400px;
                max-height: 100%;
                background: url('../img/splash-steps.png') no-repeat;
                background-position: 0 50%;
                background-size: auto 100%;
                top: 50%;
                transform: translate(0, -50%);
            }

            .section-sprite {
                position: absolute;
                display: none;
                right: 0px;
                width: 100%;
                height: 180px;
                max-height: 100%;
                background: url('../img/sprite-steps.png') no-repeat;
                background-position: 100% 50%;
                top: 50%;
                transform: translate(0, -50%);
                background-size: auto 100%;
            }

            .section-title {
                text-align: center;
                font: 600 40px/60px $hf;
                margin: 0 0 70px;
            }

            .steps {
                width: 1000px;
                max-width: 100%;
                padding: 0 100px;
                margin: 0 auto;
                min-height: 800px;
                background: url('../img/steps-shape.png') no-repeat;
                background-size: 303px 930px;
                background-position: 65px 50%;

                .step-item {
                    margin-left: 200px;
                    margin-bottom: 125px;
                    width: 390px;
                    cursor: default;

                    p {
                        font: 400 16px/22px $bf;
                        color: #646f79;
                    }
                    u {
                        cursor: pointer;
                    }

                    .step-item-content {
                        position: relative;
                        padding-top: 20px;
                        text-align: left;
                        &:before {
                            position: absolute;
                            content: '';
                            left: unset;
                            height: 200px;
                            width: 200px;
                            display: block;
                            right: 105%;
                            transform: translate(0, -20px);
                        }
                    }

                    &:nth-child(2) {
                        margin-bottom: 120px;
                        margin-left: 280px;
                    }

                    &:nth-child(3) {
                        margin-bottom: 110px;
                        margin-left: 320px;
                    }

                    &:nth-child(4) {
                        margin-bottom: 120px;
                        margin-left: 240px;
                    }

                    &:nth-child(5) {
                        margin-bottom: 110px;
                        margin-left: 160px;
                    }
                }
            }
        }
    }
    @media screen and (min-width: 1366px) {
        &.section-steps {
            .section-splash {
                height: 600px;
            }
            .section-sprite {
                height: 380px;
            }
        }
    }
    @media screen and (min-width: 1920px) {
        &.section-steps {
            .section-splash {
                height: 900px;
            }
            .section-sprite {
                height: 480px;
            }
        }
    }
    @media screen and (min-width: 2560px) {
        &.section-steps {
            .section-splash {
                height: 1680px;
            }
            .section-sprite {
                height: 680px;
            }
        }
    }
}