.section {
    &.section-voucher-details {
        position: relative;
    }
    &.section-profile {
        .section-title {
            margin-bottom: 20px;
        }
    }
    @media screen and (max-width: 1000px) {
        &.section-profile {
            .section-title {
                font: 700 24px/36px $bf;
                margin-bottom: 15px;
            }
        }
    }
}