@import './vars';
@import '../_common/webshop';

// SHAME
@import 'includes/shame';

// LAYOUTS
@import 'layout/_header.scss';

// COMPONENTS
@import 'components/_buttons.scss',
'components/_modals.scss';

// SECTIONS
@import 'sections/faq.scss',
'sections/steps.scss',
'sections/vouchers.scss';

// BLOCKS
@import 'sections/blocks/map.scss',
'sections/blocks/products.scss',
'sections/blocks/profile.scss',
'sections/blocks/shops_map.scss',
'sections/blocks/transactions.scss',
'sections/blocks/voucher.scss',
'sections/blocks/vouchers.scss';

.page {
    display: flex;
    flex-direction: column;

    &.page-voucher {
        &>.section.section-products {
            order: 2;
        }

        &>.block.block-map_card {
            order: 1;
        }
    }
}