@import '../general/vars.scss';

/*==========  Style Sheet - Vars  ==========*/

// navbar
$bg-nav:            #F5F5F5;
$tc-nav:            #282B39;
$tc-nav-hov:        #0575BA;
$logo-padding:      30px 0px;
$logo-height:       50px;

// navbar (auth)
$tc-auth-menu:      #fff; 
$tc-auth-btn:       #0575BA; 
$btn-auth-bg:       #fff; 
$btn-auth-border:   #ececec;

// navbar (start modal primary)
$tc-start-btn:       #fff; 
$btn-start-bg:       #0575BA; 
$btn-start-btn:      #0575BA;
$btn-start-border:   transparent;

// header attributes
$bg-values:          url("../img/splash-top-b.jpg") no-repeat 100% 0;

// base font
$bf:                Helvetica, Arial,Verdana,'Sans Serif';

// text color
$tc:                #595959;
$tc-var:            #fff;
$tc-link:           inherit;

// base color
$bc:                #0c6dcb;

// background color
$bg:                #ececec;

$bg_2:              none;

// text formatting
$tf:                inherit;

// footer color
$fc:                #4e4d40;

// Displayed or not
$fd:                block;

// product image
$pi:                10px 0 0 10px;

// placeholder text color
$ptc:               #515152;

$border_color:      #EBEDF0;

$border_radius:     0px;
$base_shadow:       0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

$color_primary:         #626161;
$color_primary_light:   1px solid #0c6dcb;

$color_default:         #0c6dcb;
$color_default_light:   1px solid #626161;

// Login button

$lb:                #fff;