//todo remove after implementing image attritubes to define width and height of images on explenation page
div.page.page-home div.block-steps div.wrapper div.block-steps-description {
    max-width: 70%;
    margin-left: 0;
    margin-right: 0;
}
