top-navbar
section.section.section-voucher-details: .wrapper
    .block.block-breadcrumbs.hide-sm
        a(ui-sref="home").breadcrumb-item Home
        .breadcrumb-item.active(translate="sessions.title")

    .section-title(translate="sessions.title")

    section: .card
        .card-header: .card-title Your sessions
        .card-section.card-section-padless
            .block.block-sessions
                .session-item(ng-repeat="session in $ctrl.sessions")
                    .session-icon: .mdi(ng-class="'mdi-' + session.type_class")
                    
                    .session-details
                        .session-title
                            span(ng-if="session.last_request.client_type == 'general'") Onbekend 
                            span(ng-if="session.last_request.client_type == 'sponsor'") Sponsor dashboard 
                            span(ng-if="session.last_request.client_type == 'provider'") Aanbieders dashboard 
                            span(ng-if="session.last_request.client_type == 'validator'") Validator dashboard 
                            span(ng-if="session.last_request.client_type == 'webshop'") Webshop 
                            span(ng-if="session.last_request.client_type == 'app-me_app'") MeApp 
                            span(ng-if="session.last_request.client_type == 'app-me_app-android'") MeApp 
                            span(ng-if="session.last_request.client_type == 'app-me_app-ios'") MeApp 
                            span(ng-if="session.last_request.device_string").text-primary • 
                            span(ng-if="session.last_request.device_string" ng-bind="session.last_request.device_string")
                        
                        .session-properties
                            .session-property
                                .session-property-label Last activity: 
                                .session-property-value
                                    | {{ session.last_request.time_passed | duration_last_time }}  
                                    span(ng-if="session.last_request.location").session-property-sep.text-primary • 
                                    span(
                                        ng-if="session.last_request.location" 
                                        ng-bind="session.last_request.location.ip + ' • ' +  session.last_request.location.string ")
                            
                            .session-property
                                .session-property-label Session started: 
                                .session-property-value(ng-bind="session.started_at_locale")
                            
                        .session-actions.flex
                            a(ng-click="session.showLocations = !session.showLocations" ng-if="session.locations.length > 1").session-action
                                | Show all locations

                                em(ng-if="session.showLocations").mdi.mdi-menu-up
                                em(ng-if="!session.showLocations").mdi.mdi-menu-right
                            
                            a(ng-click="$ctrl.terminateSession(session)").session-action
                                | Terminate session
                                em.mdi.mdi-close
                        
                        .session-locations(ng-if="session.locations.length > 1 && session.showLocations")
                            .session-location(ng-repeat="location in session.locations" ng-bind="location.ip + ' • ' + location.string")


                    .session-label(ng-if="session.current"): .label.label-round.label-primary-light Current
                    
                    .session-label(ng-if="session.active && !session.current"): .label.label-round.label-success Online
    
        .card-section.text-right: .button.button-primary(ng-click="$ctrl.terminateAllSessions()") 
            | Terminate all sessions
            em.mdi.mdi-close.icon-end