// this mixing is being used, needs cheking
@mixin button($backgroundColor, $color, $hover_color, $bg_hover_color) {
    display: inline-block;
    border: 1px solid transparent;
    background-color: $backgroundColor;
    color: $color !important;
    font-weight: 600;
    border-radius: 4px;
    position: relative;
    font-family: inherit;
    text-align: center;
    font-size: 15px;
    @include transition();

    a {
        color: $color !important;
        font-size: 18px;
        text-align: center;
    }

    &>svg {
        position: relative;
        height: 12px;
        width: 16px;
        display: inline-block;

        path {
            fill: $color;
        }
    }

    &:hover,
    &:active,
    &:focus {
        @include transition();
        outline: none;
        text-decoration: none;
        background-color: var(--forus-white) !important;
        color: $backgroundColor !important;
        border: solid 1px $backgroundColor;

        &>svg {
            left: 10px;
        }
    }

    &[disabled],
    &.disabled {
        @include transition();
        border-radius: 4px;
        background-color: rgba(158, 177, 215, 0.2);
        color: #9eaad7 !important;

        &:hover,
        &:active,
        &:focus {
            background-color: rgba(158, 177, 215, 0.2) !important;
            cursor: not-allowed;
            color: #9eaad7;
        }
    }

    @media (max-width: 767px) {
        font-size: 14px;
        padding: 12px 10px;
        line-height: 1;
        max-width: 160px;
    }
}

.btn.main_button {
    @include button(var(--forus-blue), #ffffff, #fff, var(--forus-blue));
}

.main_button {
    @include button(var(--forus-blue), #ffffff, #fff, var(--forus-blue));
}

.button-primary {
    @include button(var(--forus-demi-blue), #ffffff, #fff, var(--forus-demi-blue));
}

.login_btn {
    display: inline-block;
    border: 1px solid transparent;
    background-color: rgba(12, 102, 255, 0.1);
    font-weight: 600;
    border-radius: 4px;
    position: relative;
    padding: 12px 22px;
    font-family: inherit;
    text-align: center;
    font-size: 15px;
    color: #0c66ff !important;

    &:hover {
        background: var(--forus-pink);
        color: #fff !important;
    }
}

label {
    &.txt_link {
        flex-direction: column;
        margin-top: 50px;

        svg {
            transform: rotate(90deg);
        }
    }
}

.txt_link {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    color: var(--forus-pink);
    font-weight: 600;
    font-size: 14px;

    &.var {
        display: inline;
    }

    svg {
        fill: var(--forus-pink);
        height: 15px;
        width: 15px;

        &:hover {
            text-decoration: underline;
        }
    }
}

.btn_link {
    position: relative;

    svg {
        display: block;
        margin-left: 10px;
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        width: 34px;
        height: 34px;
    }
}

.play_btn_link {
    svg {
        position: relative;

        g,
        path {
            stroke: rgb(255, 255, 255);
            stroke-width: 0;
        }
    }

    .play_btn {
        width: 26px;
        height: 26px;
        position: relative;
        vertical-align: top;
        margin: 0 auto;

        @media screen and (min-width: 768px) {
            margin: auto;
        }

        svg {
            height: 25px;
            width: 25px;
            opacity: 1;

            &:nth-child(1) {
                opacity: 1;

                @media screen and (min-width: 768px) {
                    left: 5px;
                }
            }

            &:nth-child(2) {
                opacity: 0;
                position: absolute;
                left: 5px;
                top: 9px;
            }
        }
    }

    &.active {
        .play_btn {
            svg {
                &:nth-child(1) {
                    opacity: 0;
                }

                &:nth-child(2) {
                    opacity: 1;
                }
            }
        }
    }
}

.modal-login-btn {
    height: 46px;
    width: 175px !important;
    padding: 0 !important;
}

.download__buttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.download__buttons-item {
    display: block;
    margin: 30px;
    text-decoration: none;
    -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.5);
}

.download__buttons-item img {
    display: block;
    max-width: 100%;
}

.main_button {
    margin: 0 auto;
    display: inline-block;
    margin-top: 20px;
    border-radius: 4px;
    padding: 12px 22px;
}

.dl_buttons {
    width: 130px;
    height: 40px;
    margin: 10px;

    @media screen and (min-width: 992px) {
        margin: 10px 10px 0 0;
    }
}