.contributor-list {
    display: flex;
    justify-content: center;
    align-items: column;
    flex-wrap: wrap;
}
.contributor {
  /*outline: 5px dotted green;*/
  width: 200px;
  height: 200px;
  margin: 10px 10px 50px 18px;
  text-align: center;
  font-size: 22px;
  display: block;
    img {
        vertical-align: middle;
        border-radius: 100px;
        height: 150px;
    }
}
.commit-count {
 display:inline-block;
 float: left;
 clear: both;
 width: 100%;
}

@media (max-width: 767px) {
    .contributor {
        margin: 0px;
        font-size: 12px;
        width: 125px;
        height: 125px;
        img {
            height: 50px;
        }
    }
}