.content-area {
    position: relative;
    margin: 0 auto;
    color: var(--text-color);
    @media screen and (min-width:768px) {
        background-color: rgba(255, 255, 255, 0.94);
        box-shadow: 12px 8px 30px rgba(0, 0, 0, 0.19);
    }
    .tl-list {
        @media screen and (max-width: 766px) {
            margin-top: 20px;
            ul {
                li {
                    width: 100%;
                    float: left;
                    padding: 5px 0px;
                    border: solid 1px #F6F8F9;
                    h5 {
                        font-size: 14px;
                        font-weight: 600;
                    }
                    p {
                        font-size: 12px;
                    }
                }
            }
        }
        @media screen and (min-width: 768px) {
            justify-content: space-evenly;
            display: inline-flex;
            flex-direction: column;
            width: 100%;
            padding: 20px 0px;
            ul {
                display: inline-flex;
                justify-content: space-evenly;
                padding: 20px 0px;
                li {
                    padding: 0px 10px;
                    min-width: 200px;
                }
            }
        }
        ul {
            @media screen and (min-width:992px) {
                float: left;
            }
            p {
                font-style: cursive;
            }
        }
    }
}
.wrap_cs {
    &__1 {
        padding: 50px 20px;
        @media screen and (min-width:768px) {
            padding: 80px 40px;
        }
        @media screen and (min-width:992px) {
            padding: 150px 100px;
        }
        @media screen and (min-width:1280px) {
            padding: 150px 200px;
        }
    }
    &__1a {
        padding: 50px 50px;
        @media screen and (min-width:768px) {
            padding: 100px 100px;
        }
        @media screen and (min-width:992px) {
            padding: 130px 100px;
        }
    }
    &__2 {
        padding: 40px 20px 40px;
        @media screen and (max-width: 991px) {
            &.no-pad-t {padding-top: 0px}
            .holder {
                svg {
                    margin-top: 50px;
                }
            }
            .ww-pt {
                margin-top: 20px;
            }
        }
        @media screen and (min-width:768px) {
            padding: 60px 20px 95px;
        }
        @media screen and (min-width:992px) {
            padding: 60px 20px 75px;
        }
        .work-st {
            li {
                display: block;
                height: 50px;
                padding-left: 40px;
                &:before {
                    position: absolute;
                    content: "";
                    height: 30px;
                    width: 30px;
                    left: 10px;
                }
                &:first-of-type {
                    &:before {
                        background-image: url($img_path + "/number-1-pink.svg");
                    }
                }
                &:nth-of-type(2n) {
                    &:before {
                        background-image: url($img_path + "/number-2-pink.svg");
                    }
                }
                &:nth-of-type(3n) {
                    &:before {
                        background-image: url($img_path + "/number-3-pink.svg");
                    }
                }
                &:nth-of-type(4n) {
                    &:before {
                        background-image: url($img_path + "/number-4-pink.svg");
                    }
                }
                &:nth-of-type(5n) {
                    &:before {
                        background-image: url($img_path + "/number-5-pink.svg");
                    }
                }
                &:nth-of-type(6n) {
                    &:before {
                        background-image: url($img_path + "/number-6-pink.svg");
                    }
                }
                &:nth-of-type(7n) {
                    &:before {
                        background-image: url($img_path + "/number-7-pink.svg");
                    }
                }
                &:nth-of-type(8n) {
                    &:before {
                        background-image: url($img_path + "/number-8-pink.svg");
                    }
                }
            }
        }
    }
    &__2a {
        @media screen and (min-width:768px) { 
            padding: 60px 20px 0px; 
        }
        .holder {
            .bg_hn-1 {
                @media screen and (min-width: 992px) {
                    height: 600px;
                    padding: 50px 0 0 0;
                    width: auto;
                }
                background-size: contain;
            }
            .bg_hn-2 {
                background-size: contain;
                width: auto;
                margin-right: -40px;
                overflow: hidden;
                float: right;
                @media screen and (min-width: 768px) { 
                    height: 400px;
                }
                @media screen and (min-width: 992px) {
                    background-size: contain;
                    margin-right: -90px;
                    float: none;
                    height: 500px;
                }
                @media screen and (min-width: 1280px) { 
                    height: 600px;
                }
            }
            .bg_hn-3 {
                width: auto;
                @media screen and (min-width: 992px) {
                    background-size: contain;
                    height: 500px;
                    padding: 50px 0 0 0; 
                }
            }
            .bg_hn-4 {
                padding-top: 20px;
                width: 25%;
            }
            svg {
                height: 250px;
                @media screen and (min-width:992px) {
                    height: 400px
                }
            }
            img {
                width: 150px;
                display: block;
                margin: 0 auto;
                @media screen and (min-width:768px) {
                    width: 200px;
                }
                @media screen and (min-width:992px) {
                    width: 250px;
                }
            }
        }
    }
    &__3 {
        padding: 0px 20px 75px;
    }
    &__4 {
        @media screen and (max-width: 768px) {
            padding: 30px 30px 20px;
            h2 {
                margin-top: 0;
            }
        }
        @media screen and (min-width: 768px) {
            padding: 30px 30px 260px;
        }
        @media screen and (min-width: 992px) {
            padding: 0px 20px 200px;
        }
    }
    &__4a {
        @media screen and (max-width: 767px) {
            margin-top: 50px;
        }
        @media screen and (min-width: 768px) {
            .content-area {
                padding: 20px 20px;
            }
        }
        @media screen and (min-width: 992px) {
            .content-area {
                padding: 50px 125px;
            }
        }
    }
}
@media screen and (min-width:768px) {
    .padded {
        margin: -110px auto 0px;
    }
}
@media screen and (min-width:992px) {
    .padded {
        margin: -140px auto 0px;
    }
}

@media screen and (min-width: 768px) {
    .subpadded {
        margin: -250px auto 0px;
    }
}
.cont_txt {
    &__a {
        svg {
            height: 80px;
            width: 80px;
            padding: 20px;
        }
    }
    @media screen and (min-width:992px) {
        &__a {
            padding: 0 135px 0;
            img {
                display: block;
                width: 100%;
                margin: 0 auto;
            }
            svg {
                height: 80px;
                width: 80px;
                padding: 20px;
            }
        }
        &__b {
            padding: 0 100px 0;
        }
    }
}