.content-area {
    position: relative;
    margin: 0 auto;
    color: $tc;
    @media screen and (min-width: 1024px) {
        background-color: rgba(255, 255, 255, 0.94);
        box-shadow: 12px 8px 30px rgba(0, 0, 0, 0.19);
        padding: 20px 10%;
    }
    .tl-list {
        display: inline-block;
        ul {
            padding: 20px;
            @media screen and (min-width: 1024px) {
                float: left;
            }
        }
    }
}
.wrap_cs {
    &__1 {

    }
    &__2 {
        padding: 20px 20px 20px;
        @media screen and (min-width: 1024px) {
            padding: 75px 20px 75px;
        }
        .work-st {
            li {
                :first-of-type {
                    &::before {
                        background-image: url($img_path + "/number-1-pink.svg");
                    }
                }
            }
        }
    }
    &__3 {
        padding: 0px 20px 75px;
    }
}
@media screen and (min-width: 1024px) {
    .padded {
        margin: -140px auto 0px;
    }
}
.cont_txt {
    @media screen and (min-width: 1024px) {
        &__a {
            padding: 0 135px 0;
            img {
                display: block;
                width: 100%;
                margin: 0 auto;
            }
        }
    }
}