.cta-area {
    background: var(--forus-gradient);
    color: #fff;
    padding: 20px 20px;
    overflow: auto;
    @media screen and (min-width: 1024px) {
        padding: 20px 150px;
        border-radius: 0.5em;
    }
}