.wrapped {
    display: inline-block;
   .cupa {
        float: left;
        img {
            height: 90px;
            padding: 10px 10px 10px 10px;
            @media screen and (min-width: 1024px) {
                height: 135px;
                padding: 10px 20px 10px 20px;
            }
        }
    }
}