html {
    body {
        modals-root {
            .modal {
                position: fixed;
                z-index: 5;
                display: flex;
                align-items: center;

                .modal-backdrop {
                    @include fill_parent();
                    cursor: pointer;
                    background: rgba(#192734, .5);
                    z-index: 0;
                }

                .modal-window {
                    position: relative;
                    z-index: 2;
                    background: #f7f9fc;
                    width: 650px;
                    max-width: 100%;
                    border-radius: 6px;
                    display: inline-block;
                    min-height: 100px;
                    margin: 0 auto;
                    max-height: 90vh;


                    .modal-section {
                        padding: 30px;

                        .modal-icon-rounded {
                            img {
                                width: 200px;
                            }
                        }
                    }

                    .modal-close {
                        position: absolute;
                        font-size: 24px;
                        right: 20px;
                        top: 20px;
                        display: block;
                        cursor: pointer;
                        color: #222;
                        transition: color .4s;
                        z-index: 1;
                    }

                    .button-primary {
                        padding: 12px 22px;
                    }
                }

                .modal-content {
                    position: relative;
                    padding: 30px;
                    width: 650px;
                    max-width: 100%;
                    background: #f7f9fc;
                    border-radius: 5px;
                    min-height: 100px;
                    overflow: hidden;
                    margin: 0 auto;
                    box-shadow: 0 20px 40px rgba(#000000, 0.3);

                    .modal-body {
                        .title {
                            text-align: center;
                            font-weight: 500;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: 1.23;
                            letter-spacing: normal;
                            color: #282b39;
                        }
                    }

                    .btn {
                        &.main_button {
                            margin-top: 0;
                        }
                    }

                    .text-center {
                        text-align: center;
                    }

                    input {
                        position: relative;
                        height: 46px;
                        border-radius: 8px;
                        background-color: #eff2f4;
                        float: left;
                        width: 365px;
                        margin-right: 20px;
                        left: 0;
                    }

                    .form-error {
                        clear: both;
                        float: left;
                        width: 100%;
                    }

                    .modal-description-pad {
                        .description {
                            padding: 50px 0;
                            color: #134478 !important;
                        }
                    }

                    .modal-title {
                        color: #282b39;
                        font-weight: 500;
                        text-align: left;
                        margin: 0 0 10px;
                    }

                    .modal-subtitle {
                        color: #646f79;
                        text-align: left;

                        u {
                            cursor: pointer;
                        }

                        span {
                            cursor: auto;
                        }

                        a {
                            font: inherit;
                            color: rgb(100, 111, 121);
                        }

                        img {
                            height: 40px;
                            margin-right: 10px;
                        }
                    }

                    .subtitle-left {
                        width: 385px;
                        float: left;
                    }

                    .modal-close {
                        position: absolute;
                        right: 20px;
                        top: 20px;
                        display: block;
                        cursor: pointer;
                        color: #222;
                        transition: color .4s;
                        z-index: 1;
                    }

                    .modal-icon-rounded {
                        margin: 15px;

                        img {
                            width: 125px;
                        }
                    }

                    .block-auth-qr-code {
                        float: right;
                        margin: 0;

                        .qr_code {
                            width: 200px;
                            height: 160px;
                            padding: 0px 20px;
                            margin: auto;

                            img {
                                display: block;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        #modalContact {
            .modal-dialog {
                max-width: 780px;
                width: auto;

                @media screen and (min-width: 992px) {
                    width: 100%;
                }

                .modal-content {
                    padding: 45px 10px;

                    @media screen and (min-width: 992px) {
                        padding: 45px 80px;
                    }

                    .modal-header {
                        border: 0;

                        .close {
                            top: 25px;
                            right: 25px;
                            position: absolute;
                            opacity: 1;
                        }

                        .modal-title {
                            text-align: center;
                            font-weight: 500;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: 1.23;
                            letter-spacing: normal;
                            color: $forus-demi-blue;
                        }
                    }
                }
            }
        }
    }
}

.block {
    &.block-qr-code {
        float: right;
        margin: 0;

        .qr_code {
            width: 175px;
            height: 175px;
            padding: 15px 15px;
            background: #fff;
            margin: auto;
            border-radius: 15px;
            box-shadow: 0 5px 35px rgba(0, 0, 0, 0.075);
            border: 2px dashed #000;

            img {
                display: block;
                width: 100%;
            }
        }
    }
}