.quote {
    border-radius: 7.8px;
    background-repeat: no-repeat;
    background-size: 6px 50%, 50% 6px, 6px 50%, 50% 6px, calc(100% - 8px) calc(100% - 8px);
    background-position: left bottom, left bottom, right top, right top, 4px 4px;
    height: 160px;
    margin: 0 auto;
    width: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
    &:before,
    &:after {
        content: "";
        position: absolute;
        margin-top: -6px;
        left: -40px;
        height: 130px;
        width: 500px;
        background-repeat: no-repeat;
    }
    &:before { background-image: url($img_path + "/quote-br.png"); }
    &:after{ background-image: url($img_path + "/quote-tl.png"); }
  }
  
  .gradient-border {
    background-image: linear-gradient($forus-blue, $forus-blue), linear-gradient(to right, $forus-blue, $forus-blue), linear-gradient(to bottom, $forus-blue, $forus-blue), linear-gradient(to left, $forus-blue, $forus-blue), linear-gradient($forus-white, $forus-white);
  }