.quote {
    border-radius: 7.8px;
    background-repeat: no-repeat;
    background-size: 6px 70%, 85% 6px, 6px 70%, 85% 6px, calc(100% - 8px) calc(100% - 8px);
    background-position: left bottom, left bottom, right top, right top, 4px 4px;
    margin: 0 auto;
    text-align: center;
    padding: 10%;

    &:before {
        background-image: url("../img/quote-tl.png");
        left: -25px;
        top: 0;
        margin-top: -2.5%;
    }

    &:after {
        background-image: url("../img/quote-br.png");
        right: -25px;
        bottom: 0;
        margin-bottom: -2.5%;
    }

    &:before,
    &:after {
        content: "";
        position: absolute;
        height: 56px;
        width: 65px;
        background-repeat: no-repeat;
    }
}

.gradient-border {
    background-image:
        linear-gradient(var(--forus-blue), var(--forus-blue)),
        linear-gradient(to right, var(--forus-blue), var(--forus-blue)),
        linear-gradient(to bottom, var(--forus-blue), var(--forus-blue)),
        linear-gradient(to left, var(--forus-blue), var(--forus-blue)),
        linear-gradient(var(--forus-white), var(--forus-white));
}