.steps {
    background: var(--forus-blue);
    height: 80px;
    border-radius: 1em;
    color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 20px 5%;
    h1 {
        font-weight: bold;
        flex: auto;
        text-align: center;
    }
        &:before {
            content: "1";
            position: absolute;
            margin-top: -6px;
            left: -40px;
            height: 50px;
            width: 50px;
            background-repeat: no-repeat;
        }
    .inner-steps {
        background: #fff;
        box-shadow: 0px 0px 10px #bfb6b6;
        height: 100%;
        color: #191a1c;
        justify-content: center;
        display: flex;
        align-items: center;
        width: 70%;
        margin-right: 10%;
    }
}