@import "../general/vars.scss";

:root {
    // border color
    --border-color: #ddd;

    /*==========  Style Sheet - Vars  ==========*/

    // base font
    --base-font: 'Verdana', 'Arial', sans-serif;

    // text color
    --text-color: #1a1919;

    // base color
    --base-color: #e60004;

    // placeholder text color
    --placeholder-color: #999999;

    --border-color: #dce0e0;

    --border-radius: 0px;

    --color-primary: #157c68;
    --color-primary-light: #8fd888;

    --color-default: #017f96;
    --color-default-light: #017f96;

    --box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.1);

    // base error color
    --color-danger: #e63b3b;
}
