@import '../general/vars.scss';

// border color
$borderColor:       #ddd;

/*==========  Style Sheet - Vars  ==========*/

// base font
$bf: Verdana, Arial, sans-serif;

// text color
$tc: #1a1919;

// base color
$bc: #e60004;

// placeholder text color
$ptc: #999999;

$border_color: #dce0e0;

$border_radius: 0px;

$color_primary: #157c68;
$color_primary_light: #8fd888;

$color_default: #017f96;
$color_default_light: #017f96;

$box_shadow: 1px 1px 6px 0 rgba(0,0,0,.1);

$borderColor: $border_color;

// base error color
$bec: #e63b3b;

// wrapper size
$wrapperWidth: 1400px;
$wrapperPadding: 30px;
