.modal.modal-md.modal-animated(ng-class="[$ctrl.modal.scope.modalClass, $ctrl.modalClass, $ctrl.modal.loaded ? '' : 'modal-loading']")
    .modal-backdrop(ng-click="$ctrl.close()")
    .modal-window
        a(ng-click="$ctrl.close()" role="button").mdi.mdi-close.modal-close
        .modal-icon: .mdi.mdi-message-text-outline
        .modal-body.form: .modal-section.modal-section-pad
            .text-center
                .modal-heading Aanpassingsverzoek
                .modal-text
                    | Is de aanbieding onvolledig of wilt u een aanpassing voorstellen? 
                    | Stuur een aanpassingsverzoek naar de aanbieder.
            form(ng-submit="$ctrl.form.submit()").form: .form-group
                .form-label.form-label-required Bericht
                textarea(ng-model="$ctrl.form.values.message" placeholder="Bericht aan aanbieder").form-control
                .form-error(ng-repeat="error in $ctrl.form.errors.message" ng-bind="error")
        
        .modal-footer.text-center
            button.button.button-default(ng-click="$ctrl.close()") Annuleer
            button.button.button-primary(ng-click="$ctrl.form.submit()") Bevestigen
