.modal.modal-md.modal-animated.modal-fund-request-disregard(ng-class="[$ctrl.modal.scope.modalClass, $ctrl.modalClass, $ctrl.modal.loaded ? '' : 'modal-loading']")
    .modal-backdrop(ng-click="$ctrl.close()")
    .modal-window
        a(ng-click="$ctrl.close()" role="button").mdi.mdi-close.modal-close
        .modal-icon.modal-icon-primary: .mdi.mdi-message-text-outline
        .modal-body.form: .modal-section.modal-section-pad
            .text-center
                .modal-heading Aanvraag kan niet worden beoordeeld
                .modal-text
                    | Bevestig dat u deze aanvraag buiten behandeling wilt plaatsen.
                    | De aanvrager kunt u hierover informeren door een bericht in te vullen.

            .modal-warning
                em.mdi.mdi-alert-circle.text-warning &nbsp
                span Let op: de aanvrager kan hierna een nieuwe aanvraag starten.

            br
            form(ng-submit="$ctrl.form.submit()").form
                .form-group.text-center
                    label.checkbox.checkbox-narrow
                        input(type='checkbox' ng-model="$ctrl.confirmed" hidden)
                        .checkbox-label
                            .checkbox-box: .mdi.mdi-check
                            .modal-text Verstuur de aanvrager een bericht

                .form-group
                    textarea(ng-model="$ctrl.form.values.note" placeholder="Bericht naar aanvrager").form-control
                    .form-error(ng-repeat="error in $ctrl.form.errors.note" ng-bind="error")
        
        .modal-footer.text-center
            button.button.button-default(ng-click="$ctrl.close()") Annuleer
            button.button.button-primary(ng-click="$ctrl.form.submit()") Bevestig