.section {
    &.section-header {
        .header-content {
            margin: 0 auto;
            max-width: 800px;
            text-align: center;
            font: 700 40px/1.5em $bf;
        }
    }
}