.block {
    &.block-navbar {
        top: 0;
        width: 100%;
        padding: 0;
        background-color: #fff;
        max-width: 100%;
        box-shadow: 1px -5px 10px rgb(187, 187, 187);

        .navbar-inner {
            background-color: transparent;
        }

        .block-auth {
            //-border-left: 1px solid #dbdcdb;
        }

        .navbar-logo {
            display: flex;
            align-items: center;

            img {
                height: 40px;
            }

            .second-logo {
                //height: 55px;
                //width: 54px;
                //margin-right: 10px;
            }
        }

        .navbar-list {
            text-align: left;

            .navbar-item-wrapper {
                .navbar-item {
                    font-size: 1em;

                    &:hover {
                        color: $tc;

                        &:before {
                            background-color: $color_default;
                            opacity: .5;
                        }
                    }

                    &.active {
                        color: $tc;

                        &:before {
                            background-color: $color_default;
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .block-auth {
            .auth-in {
                .auth-user {
                    .auth-user-email {
                        color: $color_default_light;
                    }

                    .auth-user-avatar {
                        border-color: $color_default;
                        border-radius: 4px;

                        img {
                            filter: grayscale(.8);
                        }
                    }
                }
            }

            .button {
                &:hover {
                    box-shadow: 0
                }
            }
        }
    }

    @media screen and (max-width: 1700px) {
        &.block-navbar {
            .navbar-list {
                .navbar-item-wrapper {
                }
            }
        }
    }

    @media screen and (min-width: 1000px) {
        &.block-navbar {
            .navbar-logo {
                //-border-right: 1px solid #dbdcdb;
            }
        }
    }

    @media screen and (max-width: 1000px) {
        &.block-navbar {
            .navbar-logo {
                img {
                    width: auto;
                }

                .second-logo {
                    display: none;
                }
            }
            .navbar-list {
                .navbar-item-wrapper {
                    .navbar-item {
                        padding: 10px 20px;
                    }
                }
            }
        }
    }
}