doctype
html(lang="en")
    include ../layout/includes/head

    body(ng-controller="BaseController"  ng-cloak)
        include ../layout/includes/header

        ui-view

        include ../layout/includes/footer
        include ../layout/includes/scripts