name: Build Frontend

on:
  pull_request:
    branches:
    - develop

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v3
    - name: Compile frontends
      uses: actions/setup-node@v2
      with:
        node-version: 10.16    
    - name: Install gulp
      run: npm install gulp
    - name: Install dependencies
      run: cd src && npm install
    - name: Init
      run: cd src && gulp init
    - name: Build
      run: cd src && gulp compile
