@import 'includes/vars';
@import 'includes/resetter';
@import 'includes/helpers';
@import 'includes/placeholders';
@import 'includes/third-party';

// COMMON
@import 'includes/common';

// DEV PAGES
@import 'includes/dev-pages';

html {
    // code
    // 
    body {
        
    }
}


.block-push-notifications {
    position: fixed;
    right: 15px;
    top: 100px;
    width: 340px;
    z-index: 1;
    text-align: left;

    .notification {
        background: #fff;
        @include light_shadow(rgba(#000, .2));
        border-radius: 6px;
        margin: 0 0 20px;
        padding: 20px 30px 20px 45px;
        position: relative;
        font: 500 14px/20px $bf;
        color: #262626;
        width: 100%;
        cursor: default;
        background: #faf9f5;
        transform: translate(120%, 0);
        opacity: 0;
        transition: .5s;
        filter: blur(15px);

        .close {
            position: absolute;
            right: 5px;
            top: 5px;
            font-size: 24px;
            color: #bcc1d3;
            transition: .4s;

            &:hover {
                color: $bc;
            }
        }

        .icon {
            font-size: 24px;
            float: left;
            width: 25px;
            height: 25px;
            margin-left: -30px;
            margin-top: 0px;
            margin-right: 0px;
            color: #33475b;
        }

        .text {
            font: inherit;
        }

        &.notification-danger {
            background: #fff5f5;
        }

        &.notification-success {
            background: #ebffed;
        }

        &.shown {
            transform: translate(0, 0);
            opacity: 1;
            filter: blur(0px);
        }
    }
}